.booking-reports-graphic {
    display:block;
    max-width: 850px;
    margin: 30px 0;
}
    .booking-reports-graphic .chart {
        margin:20px 0;
    }


.booking-analytics-common__list {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}
.booking-analytics-common__list-item {
    width: 200px;
    background-color: lightgray;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    min-height: 80px;
}
.booking-analytics-common__value{
    font-size: 16px;
    font-weight: 600;
}