<div class="device-panel" data-ng-controller="mobileOverlapCtrl as mOverlap">
    <div class="device-panel__inner">
        <div class="device-panel__mobile-direction">
            <div class="device-panel__instruction">
                Хотите перейти на мобильную версию сайта?
            </div>
            <button type="button"
                    data-ng-click="mOverlap.goToMobile()"
                    class="btn btn-big btn-buy device-panel__btn">
                Да, перейти
            </button>
            <button type="button"
                    class="btn btn-big btn-buy device-panel__btn device-panel__btn"
                    data-ng-click="mOverlap.stayOnDesktop()">
                Остаться на полной версии
            </button>
        </div>

        <div class="device-panel__desktop-direction">
            <div class="device-panel__instruction">
                Хотите перейти на полную версию сайта?
            </div>
            <button type="button"
                    data-ng-click="mOverlap.goToDesktop()"
                    class="btn btn-big btn-buy device-panel__btn">
                Да, перейти
            </button>
            <button type="button"
                    class="btn btn-big btn-buy device-panel__btn device-panel__btn"
                    data-ng-click="mOverlap.stayOnMobile()">
                Нет, остаться на мобильной версии
            </button>
        </div>
    </div>
</div>