<form name="formAddProductList">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddProductList.AddingProductList'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-xs-4 control-label">
                <span class="text-required">
                    {{'Admin.Js.AddProductList.ParentCategory'|translate}}
                </span>
            </label>
            <div class="col-xs-8 control-label">
                <span ng-bind="ctrl.categoryName"></span>
                <span ng-if="ctrl.categoryId == null" class="error-color">{{'Admin.Js.AddProductList.SelectACategory'|translate}}</span>

                <ui-modal-trigger data-controller="'ModalChangeParentCategoryCtrl'" controller-as="ctrl"
                                  data-on-close="ctrl.changeCategory(result)"
                                  data-resolve="{showRoot: true, selected:0, currentId:0}"
                                  template-url="../areas/admin/content/src/category/modal/changeParentCategory/ChangeParentCategory.html">
                    <a href="" class="edit">{{'Admin.Js.AddProductList.Select'|translate}}</a>
                </ui-modal-trigger>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 control-label">
                <div class="text-required">{{'Admin.Js.AddProductList.ProductList'|translate}}</div>
                <div class="m-t-sm m-b-sm bold">{{'Admin.Js.AddProductList.ProductNameInNewLine'|translate}}</div>
                <div class="italic m-b-xs">{{'Admin.Js.AddProduct.Example'|translate}}</div>
                <div>
                    {{'Admin.Js.AddProductList.Product1'|translate}}<br />
                    {{'Admin.Js.AddProductList.Product2'|translate}}
                </div>
            </div>
            <div class="col-xs-8">
                <textarea rows="8"
                          required
                          class="form-control"
                          name="productListTextarea"
                          ng-model="ctrl.products"
                          validation-input-text="{{'Admin.Js.AddProductList.ProductList'|translate}}"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation ladda="ctrl.inProgress">{{'Admin.Js.AddProductList.Add'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddProductList.Cancel'|translate}}</button>
    </div>
</form>