<?xml version="1.0" ?>
<advantshop>
  <localization>
    <lang value="ru-RU" />
  </localization>
  <!-- === Payments ========================================== -->
  <payments>
    <payment name="Cash" enabled="True" localizename="Наличные"/>
    <payment name="SberBank" enabled="True" localizename="Квитанция Сбербанка"/>
    <payment name="Bill" enabled="True" localizename="Счет на оплату"/>
    <payment name="WalletOneCheckout" enabled="True" localizename="Единая Касса (Wallet One)"/>
    <payment name="YandexKassa" enabled="True" localizename="ЮKassa"/>
    <payment name="PayAnyWay" enabled="True" localizename="PayAnyWay (Moneta.ru)"/>
    <payment name="Robokassa" enabled="True" localizename="Robokassa"/>
    <payment name="CloudPayments" enabled="True" localizename="Cloud Payments"/>
    <payment name="Paymaster" enabled="True" localizename="PayMaster"/>
    <payment name="GiftCertificate" enabled="True" localizename="Подарочный сертификат"/>
    <payment name="CashOnDelivery" enabled="True" localizename="Оплата при получении"/>
    <payment name="Assist" enabled="True" localizename="Assist"/>
    <payment name="IntellectMoneyMainProtocol" enabled="True" localizename="IntellectMoney основной протокол"/>
    <payment name="IntellectMoney" enabled="True" localizename="IntellectMoney протокол WEB Money"/>
    <payment name="Interkassa" enabled="False" localizename="Interkassa"/>
    <payment name="Interkassa2" enabled="True" localizename="Interkassa"/>
    <payment name="LiqPay" enabled="True" localizename="LiqPay"/>
    <payment name="MailRu" enabled="False" localizename="Mail.ru"/>
    <payment name="OnPay" enabled="True" localizename="OnPay"/>
    <payment name="PayOnline" enabled="True" localizename="PayOnline"/>
    <payment name="PayPalExpressCheckout" enabled="True" localizename="PayPalExpressCheckout"/>
    <payment name="PickPoint" enabled="True" localizename="PickPoint"/>
    <payment name="Platron" enabled="True" localizename="Platron"/>
    <payment name="QIWI" enabled="False" localizename="QIWI"/>
    <payment name="QiwiKassa" enabled="True" localizename="QIWI касса"/>
    <payment name="Rbkmoney" enabled="True" localizename="Rbkmoney"/>
    <payment name="WebMoney" enabled="True" localizename="WebMoney"/>
    <payment name="YesCredit" enabled="True" localizename="YesCredit"/>
    <payment name="ZPayment" enabled="False" localizename="ZPayment"/>
    <payment name="Avangard" enabled="True" localizename="Авангард"/>
    <payment name="AlfabankUa" enabled="True" localizename="Альфабанк-Банк Украина (В кредит)"/>
    <payment name="DirectCredit" enabled="True" localizename="Директ Кредит (В кредит)"/>
    <payment name="Kupivkredit" enabled="True" localizename="КупиВкредит (В кредит)"/>
    <payment name="RsbCredit" enabled="True" localizename="Русский Стандарт Банк (В кредит)"/>
    <payment name="BillUa" enabled="True" localizename="Счет на оплату (Украина)"/>

    <!-- Temporary disabling. Delete after 6.0 release  -->
    <payment name="AmazonSimplePay" enabled="False" localizename="AmazonSimplePay"/>
    <payment name="AuthorizeNet" enabled="False" localizename="AuthorizeNet"/>
    <payment name="BitPay" enabled="False" localizename="BitPay"/>
    <payment name="Check" enabled="False" localizename="Check"/>
    <payment name="ChronoPay" enabled="False" localizename="ChronoPay"/>
    <payment name="CyberPlat" enabled="False" localizename="CyberPlat"/>
    <payment name="Dibs" enabled="False" localizename="Dibs"/>
    <payment name="eWAY" enabled="False" localizename="eWAY"/>
    <payment name="GateLine" enabled="False" localizename="GateLine.Net"/>
    <payment name="GoogleCheckout" enabled="False" localizename="GoogleCheckout"/>
    <payment name="Moneybookers" enabled="False" localizename="Moneybookers"/>
    <payment name="MoneXy" enabled="False" localizename="MoneXy"/>
    <payment name="NetPay" enabled="False" localizename="NetPay"/>
    <payment name="PayPal" enabled="False" localizename="PayPal"/>
    <payment name="PayPoint" enabled="False" localizename="PayPoint"/>
    <payment name="PSIGate" enabled="False" localizename="PSIGate"/>
    <payment name="SagePay" enabled="False" localizename="SagePay"/>
    <payment name="TwoCheckout" enabled="False" localizename="TwoCheckout"/>
    <payment name="WorldPay" enabled="False" localizename="WorldPay"/>
    <payment name="Qppi" enabled="False" localizename="Куппи.ру"/>
    <payment name="MoscowBank" enabled="False" localizename="Банк Москвы"/>
  </payments>
  <!-- === Shippings ========================================== -->
  <shippings>
    <shipping name="SelfDelivery" enabled="True" localizename="Самовывоз"/>
    <shipping name="FreeShipping" enabled="True" localizename="Бесплатная доставка"/>
    <shipping name="FixedRate" enabled="True" localizename="Фиксированная стоимость доставки"/>
    <shipping name="ShippingByWeight" enabled="True" localizename="Доставка в зависимости от веса"/>
    <shipping name="ShippingByRangeWeightAndDistance" enabled="True" localizename="Доставка в зависимости от веса и расстояния"/>
    <shipping name="ShippingByOrderPrice" enabled="True" localizename="Доставка в зависимости от стоимости заказа"/>
    <shipping name="ShippingByShippingCost" enabled="True" localizename="Доставка в зависимости от стоимости доставки каждого товара"/>
	<shipping name="Boxberry" enabled="True" localizename="Boxberry"/>
    <shipping name="Edost" enabled="True" localizename="Еdost.ru (Калькулятор доставки)"/>
    <shipping name="Sdek" enabled="True" localizename="СДЭК (Служба доставки)"/>
    <shipping name="ShippingByProductAmount" enabled="True" localizename="Доставка в зависимости от количества товаров"/>
    <shipping name="ShippingNovaPoshta" enabled="True" localizename="Новая Почта (Украина)"/>
    <shipping name="YandexDelivery" enabled="False" localizename="Агрегатор Яндекс.Доставка (Старый кабинет)"/>
    <shipping name="YandexNewDelivery" enabled="False" localizename="Агрегатор Яндекс.Доставка (Новый кабинет)"/>
    <shipping name="PointDelivery" enabled="True" localizename="Пункты выдачи"/>
    <shipping name="CheckoutRu" enabled="False" localizename="Checkout.ru (Сервис автоматизации доставки)"/>
	<shipping name="EmsPost" enabled="False" localizename="EMS Почта России (Служба доставки)"/>
  </shippings>
  <commonsettings>
    <setting name="banksettings" enabled="False"/>
  </commonsettings>
  <authproviders>
    <provider name="yandex" enabled="True"/>
    <provider name="google" enabled="True"/>
    <provider name="mail.ru" enabled="True"/>
    <provider name="vkontakte" enabled="True"/>
    <provider name="twitter" enabled="True"/>
    <provider name="facebook" enabled="True"/>
    <provider name="odnoklassniki" enabled="True"/>
  </authproviders>
</advantshop>

