<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <!-- Дизайн и представление -->
  <SettingSection Title="SectionDesign">
    <Setting Name="MainPageMode" Type="DropDownList">
      <option Title="MainPageModeDefault" Value="Default" />
      <option Title="MainPageModeTwoColumns" Value="TwoColumns" />
      <Value>TwoColumns</Value>
    </Setting>
    <Setting Name="MenuStyle" Type="DropDownList">
      <option Title="MenuStyleClassic" Value="Classic" />
      <option Title="MenuStyleModern" Value="Modern" />
      <option Title="MenuStyleAccordion" Value="Accordion" />
      <option Title="MenuStyleTreeView" Value="Treeview" />
      <Value>Modern</Value>
    </Setting>
    <Setting Name="SearchBlockLocation" Type="DropDownList">
      <option Title="SearchNone" Value="None" />
      <option Title="SearchTopMenu" Value="TopMenu" />
      <option Title="SearchCatalogMenu" Value="CatalogMenu" />
      <Value>TopMenu</Value>
    </Setting>
	<!--
  <Setting Name="TopPanel" Type="ImageSelectList">
		<option Title="Тип 1" Value="Type1" Image="images/settings/topPanel/type1.jpg" />
		<option Title="Тип 2" Value="Type2" Image="images/settings/topPanel/type2.jpg" />
		<option Title="Тип 3" Value="Type3" Image="images/settings/topPanel/type3.jpg" />
		<Value>Type1</Value>
	</Setting>
	<Setting Name="Header" Type="ImageSelectList">
		<option Title="Тип 1" Value="Type1" Image="images/settings/header/type1.jpg" />
		<option Title="Тип 2" Value="Type2" Image="images/settings/header/type2.jpg" />
		<Value>Type1</Value>
	</Setting>
	<Setting Name="TopMenu" Type="ImageSelectList">
		<option Title="Тип 1" Value="Type1" Image="images/settings/topMenu/type1.jpg" />
		<option Title="Тип 2" Value="Type2" Image="images/settings/topMenu/type2.jpg" />
		<Value>Type1</Value>
	</Setting>
  -->
  </SettingSection>
  <!-- Карусель -->
  <SettingSection Title="SectionCarousel">
    <Setting Name="CarouselVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="CarouselAnimationSpeed" Type="TextBox" DataType="int">
      <Value>500</Value>
    </Setting>
    <Setting Name="CarouselAnimationDelay" Type="TextBox" DataType="int">
      <Value>10000</Value>
    </Setting>
  </SettingSection>
  <!-- Товары на главной -->
  <SettingSection Title="SectionMainPageProcuts">
    <Setting Name="MainPageProductsVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="CountMainPageProductInSection" Type="TextBox" DataType="int">
      <Value>3</Value>
    </Setting>
    <Setting Name="CountMainPageProductInLine" Type="TextBox" DataType="int">
      <Value>3</Value>
    </Setting>
  </SettingSection>
  <!-- Категории на главной -->
  <SettingSection Title="SectionMainPageCategories">
    <Setting Name="MainPageCategoriesVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="CountMainPageCategoriesInSection" Type="TextBox" DataType="int">
      <Value>8</Value>
    </Setting>
    <Setting Name="CountMainPageCategoriesInLine" Type="TextBox" DataType="int">
      <Value>4</Value>
    </Setting>
  </SettingSection>
    <!-- Карусель  брендов-->
  <SettingSection Title="SectionBrandCarousel">
    <Setting Name="BrandCarouselVisibility" Type="Checkbox">
      <Value>False</Value>
    </Setting>
  </SettingSection>
  <!-- Категории в каталоге -->
  <SettingSection Title="SectionCatalogCategories">
    <Setting Name="CountCategoriesInLine" Type="TextBox" DataType="int">
      <Value>4</Value>
    </Setting>
  </SettingSection>
  <!-- Товары в каталоге -->
  <SettingSection Title="SectionCatalogProducts">
    <Setting Name="CountCatalogProductInLine" Type="TextBox" DataType="int">
      <Value>3</Value>
    </Setting>
  </SettingSection>
  <!-- Отображать -->
  <SettingSection Title="SectionView">
    <Setting Name="RecentlyViewVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="NewsVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="NewsSubscriptionVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="CheckOrderVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="GiftSertificateVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="WishListVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
  </SettingSection>
  <!-- Лого производителя -->
  <SettingSection Title="SectionBrandLogo">
    <Setting Title="Width" Name="BrandLogoWidth" Type="TextBox" DataType="int">
      <Value>100</Value>
    </Setting>
    <Setting Title="Height" Name="BrandLogoHeight" Type="TextBox" DataType="int">
      <Value>80</Value>
    </Setting>
  </SettingSection>
  <!-- Продукт.Большая фотография -->
  <SettingSection Title="SectionBigProductImages">
    <Setting Title="Width" Name="BigProductImageWidth" Type="TextBox" DataType="int">
      <Value>1000</Value>
    </Setting>
    <Setting Title="Height" Name="BigProductImageHeight" Type="TextBox" DataType="int">
      <Value>1000</Value>
    </Setting>
  </SettingSection>
  <!-- Продукт.Средняя фотография -->
  <SettingSection Title="SectionMiddleProductImages">
    <Setting Title="Width" Name="MiddleProductImageWidth" Type="TextBox" DataType="int">
      <Value>250</Value>
    </Setting>
    <Setting Title="Height" Name="MiddleProductImageHeight" Type="TextBox" DataType="int">
      <Value>350</Value>
    </Setting>
  </SettingSection>
  <!-- Продукт.Маленькая фотография -->
  <SettingSection Title="SectionSmallProductImages">
    <Setting Title="Width" Name="SmallProductImageWidth" Type="TextBox" DataType="int">
      <Value>295</Value>
    </Setting>
    <Setting Title="Height" Name="SmallProductImageHeight" Type="TextBox" DataType="int">
      <Value>180</Value>
    </Setting>
  </SettingSection>
  <!-- Продукт.Самая маленькая фотография -->
  <SettingSection Title="SectionXSmallProductImages">
    <Setting Title="Width" Name="XSmallProductImageWidth" Type="TextBox" DataType="int">
      <Value>60</Value>
    </Setting>
    <Setting Title="Height" Name="XSmallProductImageHeight" Type="TextBox" DataType="int">
      <Value>60</Value>
    </Setting>
  </SettingSection>
  <!-- Категория.Большая фотография -->
  <SettingSection Title="SectionBigCategoryImages">
    <Setting Title="Width" Name="BigCategoryImageWidth" Type="TextBox" DataType="int">
      <Value>740</Value>
    </Setting>
    <Setting Title="Height" Name="BigCategoryImageHeight" Type="TextBox" DataType="int">
      <Value>200</Value>
    </Setting>
  </SettingSection>
  <!-- Категория.Маленькая фотография -->
  <SettingSection Title="SectionSmallCategoryImages">
    <Setting Title="Width" Name="SmallCategoryImageWidth" Type="TextBox" DataType="int">
      <Value>120</Value>
    </Setting>
    <Setting Title="Height" Name="SmallCategoryImageHeight" Type="TextBox" DataType="int">
      <Value>80</Value>
    </Setting>
  </SettingSection>
  <!-- Изображение новости -->
  <SettingSection Title="SectionNewsPhotos">
    <Setting Title="Width" Name="NewsImageWidth" Type="TextBox" DataType="int">
      <Value>140</Value>
    </Setting>
    <Setting Title="Height" Name="NewsImageHeight" Type="TextBox" DataType="int">
      <Value>140</Value>
    </Setting>
  </SettingSection>
  <!-- Иконки для оплаты -->
  <SettingSection Title="SectionPaymentIcons">
    <Setting Title="Width" Name="PaymentIconWidth" Type="TextBox" DataType="int">
      <Value>60</Value>
    </Setting>
    <Setting Title="Height" Name="PaymentIconHeight" Type="TextBox" DataType="int">
      <Value>40</Value>
    </Setting>
  </SettingSection>
  <!-- Иконки для доставки -->
  <SettingSection Title="SectionShippingIcons">
    <Setting Title="Width" Name="ShippingIconWidth" Type="TextBox" DataType="int">
      <Value>60</Value>
    </Setting>
    <Setting Title="Height" Name="ShippingIconHeight" Type="TextBox" DataType="int">
      <Value>40</Value>
    </Setting>
  </SettingSection>
  <!-- Настройки по умолчанию -->
  <SettingSection Title="SectionDesignTransformer" Hidden="true">
    <Setting Name="Theme" Type="TextBox">
      <Value>_none</Value>
    </Setting>
    <Setting Name="ColorScheme" Type="TextBox">
      <Value>_none</Value>
    </Setting>
    <Setting Name="Background" Type="TextBox">
      <Value>_none</Value>
    </Setting>
  </SettingSection>
  <SettingSection Title="Common"></SettingSection>

  <!-- Пример установки статических блоков -->
  <!--
  <StaticBlocks>
    <StaticBlock Key="uniqueKey" Name="Название статик блока в админ. панеле">
      <![CDATA[<div>Html код</div>]]>
    </StaticBlock>
  </StaticBlocks>
  -->

	<Carousel>
		<Slide Path="https://img.advstatic.ru/templates/modern/carousel/slide1.jpg"
			   DisplayInMobile="False"
			   DisplayInTwoColumns="True"
			   DisplayInOneColumn="False"></Slide>
		<Slide Path="https://img.advstatic.ru/templates/modern/carousel/slide2.jpg"
			   DisplayInMobile="False"
			   DisplayInTwoColumns="True"
			   DisplayInOneColumn="False"></Slide>
		<Slide Path="https://img.advstatic.ru/templates/modern/carousel/slide3.jpg"
			   DisplayInMobile="False"
			   DisplayInTwoColumns="True"
			   DisplayInOneColumn="False"></Slide>
		<Slide Path="https://img.advstatic.ru/templates/modern/carousel/slide1_one_clmn.jpg"
			   DisplayInMobile="False"
			   DisplayInTwoColumns="False"
			   DisplayInOneColumn="True"></Slide>
		<Slide Path="https://img.advstatic.ru/templates/modern/carousel/slide2_one_clmn.jpg"
			   DisplayInMobile="False"
			   DisplayInTwoColumns="False"
			   DisplayInOneColumn="True"></Slide>
		<Slide Path="https://img.advstatic.ru/templates/modern/carousel/slide3_one_clmn.jpg"
			   DisplayInMobile="False"
			   DisplayInTwoColumns="False"
			   DisplayInOneColumn="True"></Slide>

		<Slide Path="https://img.advstatic.ru/templates/modern/carousel/slide1_mobile.jpg"
			   DisplayInMobile="True"
			   DisplayInTwoColumns="False"
			   DisplayInOneColumn="False"></Slide>
		<Slide Path="https://img.advstatic.ru/templates/modern/carousel/slide2_mobile.jpg"
			   DisplayInMobile="True"
			   DisplayInTwoColumns="False"
			   DisplayInOneColumn="False"></Slide>
		<Slide Path="https://img.advstatic.ru/templates/modern/carousel/slide3_mobile.jpg"
			   DisplayInMobile="True"
			   DisplayInTwoColumns="False"
			   DisplayInOneColumn="False"></Slide>
		<Slide Path="https://cs71.advantshop.net/templates/_default/9.jpg"
			   DisplayInMobile="True"
			   DisplayInTwoColumns="False"
			   DisplayInOneColumn="False"></Slide>
	</Carousel>

  <!-- Пример скрытия настройки
  <HiddenSettings>
    <HiddenSetting Name="NewsVisibility"/>
    <HiddenSetting Name="NewsSubscriptionVisibility"/>
  </HiddenSettings>
  -->

</Settings>