<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">{{'Admin.Js.AddAvatar.ImageUpload'|translate}}</h2>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-4">
            <a href="" data-e2e="LoadImg"
               accept="image/*"
               ngf-select=""
               ngf-change="ctrl.uploadAvatar($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)">{{'Admin.Js.AddAvatar.UploadImgFromComputer'|translate}}</a>
        </div>

        <div class="col-xs-4">
            <a href="" data-e2e="LoadByHref" data-ng-click="ctrl.addAvatarByUrl()">{{'Admin.Js.AddAvatar.DownloadAtLink'|translate}}</a>
        </div>

        <div class="col-xs-4">
            <a href="" data-e2e="DelImg" data-ng-click="ctrl.deleteAvatar()" class="link-danger">{{'Admin.Js.AddAvatar.DeleteImage'|translate}}</a>
        </div>
    </div>


    <div class="input-group m-t m-b" ng-show="ctrl.showUploadByUrl">
        <input data-e2e="PicturePath" type="text" class="form-control" placeholder="{{'Admin.Js.AddAvatar.ImageUrl'|translate}}" data-ng-model="ctrl.url" />
        <span class="input-group-btn">
            <a href="" data-e2e="LoadImgByHref" class="btn btn-success" data-ng-click="ctrl.uploadAvatarByUrl()">{{'Admin.Js.AddAvatar.Upload'|translate}}</a>
        </span>
    </div>
    <div ng-if="ctrl.avatarSrc" class="m-t m-b">
        <div class="row">
            <div class="col-xs-9">
                <h4>{{'Admin.Js.AddAvatar.Image'|translate}}</h4>
                <img id="cropImg"
                     alt=""
                     ng-src="{{ctrl.avatarSrc}}"
                     ng-cropper
                     ng-cropper-proxy="ctrl.cropperProxy"
                     ng-cropper-show="ctrl.showEvent"
                     ng-cropper-hide="ctrl.hideEvent"
                     ng-cropper-options="ctrl.cropOptions" />
            </div>
            <div class="col-xs-3">
                <h4>{{'Admin.Js.AddAvatar.Preview'|translate}}</h4>
                <div class="preview-container" style="width: 100px; height: 100px; overflow: hidden;"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-save btn-primary" data-ng-if="ctrl.avatarSrc" data-ng-click="ctrl.saveCropedImg()">{{'Admin.Js.AddAvatar.Save'|translate}}</button>
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddAvatar.Cancel'|translate}}</button>
</div>