<div class="container-fluid">
    <div class="row" is-mobile>
        <div class="col-xs-12 col-sm-4" ng-switch="isMobile.value">
            <div ng-switch-when="true" class="m-b">
                Категория:
                <ui-modal-trigger data-controller="'ModalSelectCategoriesCtrl'"
                                  data-controller-as="ctrl"
                                  data-on-close="$ctrl.onSelectCategory(result)"
                                  data-resolve="{treeAjax: {url: $ctrl.selectvizrTreeUrl}, treePlugins: {items: 'search'}, notUnboxingCategory: true, treeShowRoot: true}"
                                  template-url="../areas/admin/content/src/_shared/modal/selectCategories/selectCategories.html">
                    <span class="link-dashed" ng-bind="$ctrl.categoryNameSelected || 'Корневая'"></span>
                </ui-modal-trigger>
            </div>
            <div ng-switch-default>
                <div class="" js-tree tree-ajax="{{::$ctrl.selectvizrTreeUrl}}"
                     data-show-root="true"
                     tree-events="select_node:$ctrl.treeCallbacks.select_node;"
                     tree-plugins="search"
                     tree-search="{{::$ctrl.selectvizrTreeSearch}}"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <ui-grid-custom grid-unique-id="gridOffersSelectvizr"
                            grid-url="$ctrl.selectvizrGridUrl"
                            grid-options="$ctrl.selectvizrGridOptions"
                            grid-params="$ctrl.selectvizrGridParams"
                            grid-on-init="$ctrl.gridOnInit(grid)"
                            grid-selection-on-change="$ctrl.gridSelectionOnChange()"
                            grid-selection-on-init="$ctrl.gridSelectionOnInit(selectionCustom)"
                            grid-search-placeholder="'Admin.Js.SearchByNameAndVendorCode'|translate"
                            grid-on-fetch="$ctrl.gridOnFetch(grid)"
                            grid-tree-view-enabled="true"
                            grid-prevent-state-in-hash="true">
                <ui-grid-custom-override-control class="ng-cloak">
                    <div class="swipe-line">
                        <div class="swipe-line__inner block-content block-content--margin" data-swipe-line>
                            <div class="swipe-line__content">
                                <div class="product-grid-item__row">
                                    <div class="product-grid-item__content">
                                        <div class="product-grid-item__name text-lg" ng-bind="row.entity.Name"></div>
                                        <div class="product-grid-item__sku text-alt">Артикул: <span ng-bind="row.entity.ArtNo"></span></div>
                                        <div class="product-grid-item__additional-data row" ng-if="row.entity.ColorName || row.entity.SizeName">
                                            <div ng-class="'col-xs-' + (row.entity.SizeName != null ? '6' : '12')" ng-if="row.entity.ColorName" ng-bind="'Цвет: ' + row.entity.ColorName"></div>
                                            <div ng-class="'col-xs-' + (row.entity.ColorName != null ? '6' : '12')" ng-if="row.entity.SizeName" ng-bind="'Размер: ' + row.entity.SizeName"></div>
                                        </div>
                                        <div class="product-grid-item__order-data row between-xs middle-xs">
                                            <div class="col-xs-6 product-grid-item__amount" ng-if="row.entity.Amount != null">
                                                <span class="text-alt">Кол-во:</span>
                                                <span ng-bind="row.entity.Amount"></span>
                                            </div>
                                            <div class="col-xs-slim product-grid-item__cost" ng-bind="row.entity.PriceFormatted"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ui-grid-custom-override-control>
            </ui-grid-custom>
        </div>
    </div>
</div>