<form novalidate name="formAddTask">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddTask.NewTask'|translate}}</h2>
    </div>
    <div class="modal-body task-modal-content-new-item" ng-init="ctrl.formAddTask = formAddTask">
        <div class="form-horizontal m-r m-l">
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-2 control-label">
                        <span class="text-required">{{'Admin.Js.AddTask.Name'|translate}}</span>
                    </label>
                    <div class="col-xs-10">
                        <input data-e2e="newtaskName" type="text" class="form-control" placeholder="{{'Admin.Js.AddTask.EnterTitleOfTask'|translate}}" ng-model="ctrl.name" required autofocus validation-input-text="{{'Admin.Js.AddTask.Name'|translate}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-2 control-label">{{'Admin.Js.AddTask.TaskExecutor'|translate}}</label>
                    <div class="col-xs-4">
                        <!--<select data-e2e="newtaskAssigned" ng-model="ctrl.assignedManagerId" ng-options="s.value as s.label for s in ctrl.managersAssign" class="form-control" convert-to-number required validation-input-text="Исполнитель">
            <option value="">Выберите исполнителя</option>
        </select>-->
                        <ui-select multiple data-e2e="newtaskAssigned" ng-model="ctrl.managerIds" convert-to-number ng-click="ctrl.getUiSelectCtrl($select)">
                            <ui-select-match placeholder="{{'Admin.Js.Tasks.ModalEditTaskCtrl.NotAssigned'|translate}}">{{$item.label}}</ui-select-match>
                            <ui-select-choices repeat="s.value as s in ctrl.managersAssign | greedysearch: $select.search">
                                <div>{{s.label}} </div>
                            </ui-select-choices>
                        </ui-select>
                        <a ng-href="" data-e2e="AssignedToMe" class="pointer" ng-click="ctrl.managerIds = [ctrl.currentManagerId]" ng-if="ctrl.canAssingToMe">
                            {{'Admin.Js.AddTask.AssignedToMe'|translate}}
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <div class="row form-group">
                            <div class="col-xs-5 text-right">
                                <label class="control-label control-label--right">{{'Admin.Js.AddTask.PeriodOfExecution'|translate}}</label>
                            </div>
                            <div class="col-xs">
                                <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat: 'Y-m-dTH:i', wrap: true, enableTime: true, minuteIncrement: 10}" fp-on-setup="ctrl.flatpickrOnSetup(fpItem)" fp-on-change="ctrl.flatpickrOnChange(selectedDates, dateStr, instance)">
                                    <span class="flatpickr-custom-wrap">
                                        <input data-e2e="newtaskDuedate" type="text" class="form-control" ng-flatpickr-input ng-model="ctrl.dueDate" tabindex="-1">
                                        <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                    </span>
                                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row end-xs middle-xs" ng-if="ctrl.reminderActive && ctrl.dueDate != null && ctrl.dueDate != ''">
                            <div class="col-xs-5 text-right">
                                <label class="adv-checkbox-label line-height" data-e2e="edittaskRemind">
                                    <input type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="ctrl.remind" />
                                    <span class="adv-checkbox-emul"></span>
                                    {{'Admin.Js.AddTask.Reminder'|translate}}
                                </label>
                                <!--<label class="col-xs-5 control-label control-label--right"></label>-->
                            </div>
                            <div class="col-xs">
                                <select data-e2e="edittaskReminder" ng-model="ctrl.reminder"
                                        ng-options="s.value as s.label for s in ctrl.reminderTypes"
                                        ng-disabled="ctrl.isReadonlyTask || ctrl.accepted || !ctrl.remind"
                                        class="form-control"
                                        convert-to-number></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-2 control-label"><span class="text-required">{{'Admin.Js.AddTask.Description'|translate}}</span></label>
                    <div class="col-xs-10">
                        <textarea data-e2e="newtaskDescription" class="form-control b-n wysiwyg r-v" rows="12" placeholder=""
                                  ckeditor="ctrl.ckeditor"
                                  ng-model="ctrl.description"
                                  required validation-input-text="{{'Admin.Js.AddTask.Description'|translate}}" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-2 control-label"><span class="text-required">{{'Admin.Js.AddTask.Project'|translate}}</span></label>
                    <div class="col-xs-4">
                        <select data-e2e="newtaskGroup" ng-model="ctrl.taskGroupId" ng-options="s.value as s.label for s in ctrl.taskGroups" class="form-control"
                                convert-to-number
                                required
                                validation-input-text="{{'Admin.Js.AddTask.Project'|translate}}"
                                ng-change="ctrl.validateTaskGroupManager(); ctrl.getManagers();">
                            <option value="">{{'Admin.Js.AddTask.SelectProject'|translate}}</option>
                        </select>
                    </div>
                    <label class="col-xs-2 control-label control-label--right">{{'Admin.Js.AddTask.Priority'|translate}}</label>
                    <div class="col-xs-4">
                        <select data-e2e="newtaskPriority" ng-model="ctrl.priority" ng-options="s.value as s.label for s in ctrl.priorities" convert-to-number class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-2 control-label">{{'Admin.Js.AddTask.Attachments'|translate}}</label>
                    <div class="col-xs-10">
                        <ol ng-if="ctrl.attachments.length > 0">
                            <li ng-repeat="attachment in ctrl.attachments track by $index">
                                <span ng-bind="attachment.name"></span>
                                <a href="" ng-click="ctrl.deleteAttachment($index)" class="fa fa-times link-invert link-decoration-none" title="{{'Admin.Js.AddTask.Delete'|translate}}"></a>
                            </li>
                        </ol>
                        <figure class="">
                            <button data-e2e="newtaskAttachments" class="btn btn-action btn-sm" type="button" ngf-drop ngf-max-size="15MB" ngf-select="" multiple
                                    ngf-change="ctrl.addAttachments($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event);" ladda="ctrl.loadingFiles">
                                <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">{{'Admin.Js.AddTask.AttachFile'|translate}}</span>
                            </button>
                            <help-trigger class="ng-cloak m-l-xs" use-template="true">
                                <div class="help-content" ng-bind-html="ctrl.filesHelpText">
                                </div>
                            </help-trigger>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button data-e2e="TaskAdd" class="btn btn-save btn-primary" type="submit" button-validation button-validation-success="ctrl.addTask(); ctrl.btnLoading = true" ladda="ctrl.btnLoading">{{'Admin.Js.AddTask.Add'|translate}}</button>
        <button data-e2e="TaskCancel" class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddTask.Cancel'|translate}}</button>
    </div>
</form>