<form novalidate name="addEditUserForm">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{ctrl.mode == "add" ? ('Admin.Js.AddEditUser.Add'|translate) : ('Admin.Js.AddEditUser.Edit'|translate)}}</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.addEditUserForm = addEditUserForm">
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">{{'Admin.Js.AddEditUser.Surname'|translate}}</span>
            </label>
            <div class="col-xs-9">
                <input data-e2e="userLastName" type="text" class="form-control" ng-model="ctrl.lastName" required validation-input-text={{'Admin.Js.AddEditUser.Surname'|translate}} autofocus />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">{{'Admin.Js.AddEditUser.Name'|translate}}</span>
            </label>
            <div class="col-xs-9">
                <input data-e2e="userFirstName" type="text" class="form-control" ng-model="ctrl.firstName" required validation-input-text={{'Admin.Js.AddEditUser.Name'|translate}} />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">{{'Admin.Js.AddEditUser.Email'|translate}}</span>
            </label>
            <div class="col-xs-9">
                <input data-e2e="userEmail" type="text" class="form-control" ng-model="ctrl.email" required validation-input-text={{'Admin.Js.AddEditUser.Email'|translate}} />
            </div>
        </div>
        <div class="form-group row" ng-if="(ctrl.mode == 'edit' || ctrl.mode == 'me') && (ctrl.isAdmin || ctrl.customerRole == 50)">
            <label class="col-xs-3 control-label">
                <span>{{'Admin.Js.AddEditUser.Password'|translate}}</span>
            </label>
            <div class="col-xs-9 control-label">
                <div>
                    <ui-modal-trigger data-controller="'ModalChangeUserPasswordCtrl'" controller-as="ctrl" data-resolve="{'params': {customerId: ctrl.customerId, editcurrent: ctrl.mode == 'me'}}"
                                      template-url="../areas/admin/content/src/settings/modal/changeUserPassword/ChangeUserPassword.html">
                        <a href="">{{'Admin.Js.AddEditUser.ChangePassword'|translate}}</a>
                    </ui-modal-trigger>
                </div>
                <div>
                    <a href="" ng-click="ctrl.changePassword()">{{'Admin.Js.AddEditUser.SendLinkToChangePassword'|translate}}</a>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditUser.Photo'|translate}}</label>
            <div class="col-xs-9">
                <input type="hidden" ng-model="ctrl.avatar" /><!--to enable save button-->
                <div ng-if="ctrl.avatar != null && ctrl.avatar != ''">
                    <img ng-src="{{ctrl.photoSrc}}" width="70" height="70" />
                    <div>
                        <a href="" class="picture-uploader-buttons-delete link-danger" ng-click="ctrl.deleteAvatar()">{{'Admin.Js.AddEditUser.Delete'|translate}}</a>
                    </div>
                </div>
                <ui-modal-trigger data-controller="'ModalCropImageCtrl'" controller-as="ctrl"
                                  template-url="../areas/admin/content/src/_shared/modal/cropImage/cropImage.html"
                                  on-close="ctrl.updateAvatar(result)"
                                  data-resolve="{params: { isCircle: true }}">
                    <a href="">{{'Admin.Js.AddEditUser.UploadPhoto'|translate}}</a>
                </ui-modal-trigger>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditUser.Position'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" data-e2e="userPosition" ng-model="ctrl.position" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditUser.Department'|translate}}</label>
            <div class="col-xs-9">
                <select data-e2e="userDepartment" ng-model="ctrl.departmentId" ng-options="s.value as s.label for s in ctrl.departments" class="form-control" convert-to-number>
                    <option value="">{{'Admin.Js.AddEditUser.NotSelected'|translate}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditUser.Phone'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" 
                       data-e2e="userPhone" 
                       ng-model="ctrl.phone" 
                       data-mask-control
                       data-mask-control-preset="phone"
                       class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditUser.BirthDate'|translate}}</label>
            <div class="col-xs-9">
                <div class="dropup">
                    <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat:'Y-m-d', wrap: true}">
                        <span class="flatpickr-custom-wrap">
                            <input data-e2e="userBirthDay" type="text" class="form-control" ng-flatpickr-input ng-model="ctrl.birthDay">
                            <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                        </span>
                        <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditUser.City'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" data-e2e="userCity" ng-model="ctrl.city" class="form-control" autocompleter on-type="city" autocomplete="off" />
            </div>
        </div>
        <div class="form-group row" ng-if="!ctrl.editHimself || ctrl.isAdmin">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditUser.Head'|translate}}</label>
            <div class="col-xs-9">
                <select data-e2e="userHeadUser" ng-model="ctrl.headUserId" ng-options="s.value as s.label for s in ctrl.users" class="form-control">
                    <option value="">{{'Admin.Js.AddEditUser.NotSelected'|translate}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row" ng-if="ctrl.hasRoleActionAccess && !ctrl.editHimself">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditUser.AccessRights'|translate}}</label>
            <div class="col-xs-9">
                <div class="flex top-xs">
                    <label class="adv-radio-label" ng-hide="(!ctrl.hasRoleActionAccess || !ctrl.moderatorsAvailable) && ctrl.mode == 'add'">
                        {{'Admin.Js.AddEditUser.Moderator'|translate}}
                        <input type="radio" name="permissions" class="adv-radio-input" ng-model="ctrl.customerRole" value="50"
                               disabled ng-disabled="!ctrl.isAdmin || !ctrl.moderatorsAvailable" data-e2e="userPermissionsModerInput" />
                        <span class="adv-radio-emul" data-e2e="userPermissionsModer"></span>
                        <span ng-if="ctrl.customerRole == 50 && (ctrl.trialEnabled || (ctrl.moderatorsAvailable && ctrl.hasRoleActionAccess))">
                            <br />
                            <ui-modal-trigger data-controller="'ModalEditUserRoleActionsCtrl'" controller-as="ctrl"
                                              data-resolve="{'params': {'customerId': ctrl.customerId, 'roleActionKeys': ctrl.roleActionKeys}}"
                                              template-url="../areas/admin/content/src/settings/modal/editUserRoleActions/EditUserRoleActions.html"
                                              data-on-close="ctrl.selectRoleActions(result);addEditUserForm.modified=true;">
                                <a href="">{{'Admin.Js.AddEditUser.Configure'|translate}}</a>
                            </ui-modal-trigger>
                            <input type="text" ng-model="ctrl.roleActionKeys" hidden /> <!-- to enable submit button -->
                        </span>
                    </label>
                    <label class="adv-radio-label" ng-if="ctrl.isAdmin">
                        {{'Admin.Js.AddEditUser.Administrator'|translate}}
                        <input type="radio" name="permissions" class="adv-radio-input" ng-model="ctrl.customerRole" value="100"
                               disabled ng-disabled="!ctrl.isAdmin" data-e2e="userPermissionsAdminInput" />
                        <span class="adv-radio-emul" data-e2e="userPermissionsAdmin"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row" ng-if="!ctrl.editHimself || ctrl.isAdmin">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditUser.Roles'|translate}}</label>
            <div class="col-xs-9">
                <ui-select multiple ng-model="ctrl.selectedRolesIds" ng-change="ctrl.getRolesValidation()">
                    <ui-select-match placeholder={{'Admin.Js.AddEditUser.SelectRoles'|translate}}>{{$item.Name}}</ui-select-match>
                    <ui-select-choices repeat="role.Id as role in ctrl.roles | greedysearch: {Name: $select.search}">
                        {{role.Name}}
                    </ui-select-choices>
                </ui-select>

                <div>
                    <div ng-repeat="err in ctrl.rolesErrors" class="error-color">{{err}}</div>
                </div>
            </div>
        </div>
        <div class="form-group row" ng-if="!ctrl.editHimself">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditDepartment.Active'|translate}}</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label" data-e2e="userEnabled">
                    <input type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="ctrl.enabled" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                {{'Admin.Js.AddEditUser.Sign'|translate}}
            </label>
            <div class="col-xs-9">
                <textarea class="form-control" ng-model="ctrl.sign" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-e2e="userButtonSave"
                data-button-validation-success="ctrl.save()" data-button-validation ladda="ctrl.btnSleep"
                disabled ng-disabled="(ctrl.mode == 'edit' || ctrl.mode == 'me') && (!ctrl.formInited || !addEditUserForm.modified)"
                ng-bind="ctrl.mode == 'add' ? ('Admin.Js.AddEdit.Add'|translate) : ('Admin.Js.AddEdit.Save'|translate)"></button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>