<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<!-- Дизайн и представление -->
	<SettingSection Title="SectionDesign">
		<Setting Name="MainPageMode" Type="DropDownList" DataType="ImageSelectList">
			<option Title="MainPageModeDefault" Value="Default" Image="images/settings/mainPageMode/Default.jpg" />
			<option Title="MainPageModeTwoColumns" Value="TwoColumns" Image="images/settings/mainPageMode/TwoColumns.jpg" />
			<Value>TwoColumns</Value>
		</Setting>
		<Setting Name="MenuStyle" Type="DropDownList">
			<option Title="MenuStyleClassic" Value="Classic" />
			<option Title="MenuStyleModern" Value="Modern" />
			<option Title="MenuStyleAccordion" Value="Accordion" />
			<option Title="MenuStyleTreeView" Value="Treeview" />
			<Value>Modern</Value>
		</Setting>
		<Setting Name="SearchBlockLocation" Type="DropDownList">
			<option Title="SearchNone" Value="None" />
			<option Title="SearchTopMenu" Value="TopMenu" />
			<option Title="SearchCatalogMenu" Value="CatalogMenu" />
			<Value>TopMenu</Value>
		</Setting>
		<Setting Name="TopPanel" Type="ImageSelectList">
			<option Title="Тип 1" Value="Type1" Image="images/settings/topPanel/type1.jpg" />
			<option Title="Тип 2" Value="Type2" Image="images/settings/topPanel/type2.jpg" />
			<option Title="Тип 3" Value="Type3" Image="images/settings/topPanel/type3.jpg" />
			<option Title="Тип 4" Value="Type4" Image="images/settings/topPanel/type4.jpg" />
			<option Title="Тип 5" Value="Type5" Image="images/settings/topPanel/type5.jpg" />
			<Value>Type1</Value>
		</Setting>
		<Setting Name="Header" Type="ImageSelectList">
			<option Title="Тип 1" Value="Type1" Image="images/settings/header/header1.jpg" />
			<option Title="Тип 2" Value="Type2" Image="images/settings/header/header2.jpg" />
			<option Title="Тип 3" Value="Type3" Image="images/settings/header/header3.jpg" />
			<option Title="Тип 4" Value="Type4" Image="images/settings/header/header4.jpg" />
			<option Title="Тип 5" Value="Type5" Image="images/settings/header/header5.jpg" />
			<option Title="Тип 6" Value="Type6" Image="images/settings/header/header6.jpg" />
			<Value>Type1</Value>
		</Setting>
		<Setting Name="TopMenu" Type="ImageSelectList">
			<option Title="Тип 1" Value="Type1" Image="images/settings/topMenu/type1.jpg" />
			<option Title="Тип 2" Value="Type2" Image="images/settings/topMenu/type2.jpg" />
			<Value>Type1</Value>
		</Setting>
		<Setting Name="TopMenuVisibility" Type="Checkbox">
			<Value>False</Value>
		</Setting>

		<!-- Показывать доп. телефоны в настройках -->
		<Setting Name="ShowAdditionalPhones">
			<Value>True</Value>
		</Setting>

		<!-- Скрывать Показывать нижнюю панель -->
		<Setting Name="HideDisplayToolBarBottomOption">
			<Value>True</Value>
		</Setting>
	</SettingSection>
	<!-- Карусель -->
	<SettingSection Title="SectionCarousel">
		<Setting Name="CarouselVisibility" Type="Checkbox">
			<Value>True</Value>
		</Setting>
		<Setting Name="CarouselAnimationSpeed" Type="TextBox" DataType="int">
			<Value>500</Value>
		</Setting>
		<Setting Name="CarouselAnimationDelay" Type="TextBox" DataType="int">
			<Value>10000</Value>
		</Setting>
	</SettingSection>
	<!-- Товары на главной -->
	<SettingSection Title="SectionMainPageProcuts">
		<Setting Name="MainPageProductsVisibility" Type="Checkbox">
			<Value>True</Value>
		</Setting>
		<Setting Name="CountMainPageProductInSection" Type="TextBox" DataType="int">
			<Value>3</Value>
		</Setting>
		<Setting Name="CountMainPageProductInLine" Type="TextBox" DataType="int">
			<Value>3</Value>
		</Setting>
	</SettingSection>
	<!-- Карусель  брендов-->
	<SettingSection Title="SectionBrandCarousel">
		<Setting Name="BrandCarouselVisibility" Type="Checkbox">
			<Value>False</Value>
		</Setting>
	</SettingSection>
	<!-- Категории на главной -->
	<SettingSection Title="SectionMainPageCategories">
		<Setting Name="MainPageCategoriesVisibility" Type="Checkbox">
			<Value>True</Value>
		</Setting>
		<Setting Name="CountMainPageCategoriesInSection" Type="TextBox" DataType="int">
			<Value>3</Value>
		</Setting>
		<Setting Name="CountMainPageCategoriesInLine" Type="TextBox" DataType="int">
			<Value>3</Value>
		</Setting>
	</SettingSection>
	<!-- Категории в каталоге -->
	<SettingSection Title="SectionCatalogCategories">
		<Setting Name="CountCategoriesInLine" Type="TextBox" DataType="int">
			<Value>4</Value>
		</Setting>
		<Setting Name="ShowNotAvaliableLable" Type="Checkbox">
			<Value>True</Value>
		</Setting>
	</SettingSection>
	<!-- Товары в каталоге -->
	<SettingSection Title="SectionCatalogProducts">
		<Setting Name="CountCatalogProductInLine" Type="TextBox" DataType="int">
			<Value>3</Value>
		</Setting>
	</SettingSection>
	<!-- Отображать -->
	<SettingSection Title="SectionView">
		<Setting Name="RecentlyViewVisibility" Type="Checkbox">
			<Value>True</Value>
		</Setting>
		<Setting Name="NewsVisibility" Type="Checkbox">
			<Value>True</Value>
		</Setting>
		<Setting Name="NewsSubscriptionVisibility" Type="Checkbox">
			<Value>True</Value>
		</Setting>
		<Setting Name="CheckOrderVisibility" Type="Checkbox">
			<Value>True</Value>
		</Setting>
		<Setting Name="VotingVisibility" Type="Checkbox">
			<Value>True</Value>
		</Setting>
		<Setting Name="GiftSertificateVisibility" Type="Checkbox">
			<Value>True</Value>
		</Setting>
		<Setting Name="WishListVisibility" Type="Checkbox">
			<Value>True</Value>
		</Setting>
	</SettingSection>
	<!-- Лого производителя -->
	<SettingSection Title="SectionBrandLogo">
		<Setting Title="Width" Name="BrandLogoWidth" Type="TextBox" DataType="int">
			<Value>100</Value>
		</Setting>
		<Setting Title="Height" Name="BrandLogoHeight" Type="TextBox" DataType="int">
			<Value>80</Value>
		</Setting>
	</SettingSection>
	<!-- Продукт.Большая фотография -->
	<SettingSection Title="SectionBigProductImages">
		<Setting Title="Width" Name="BigProductImageWidth" Type="TextBox" DataType="int">
			<Value>1000</Value>
		</Setting>
		<Setting Title="Height" Name="BigProductImageHeight" Type="TextBox" DataType="int">
			<Value>1000</Value>
		</Setting>
	</SettingSection>
	<!-- Продукт.Средняя фотография -->
	<SettingSection Title="SectionMiddleProductImages">
		<Setting Title="Width" Name="MiddleProductImageWidth" Type="TextBox" DataType="int">
			<Value>700</Value>
		</Setting>
		<Setting Title="Height" Name="MiddleProductImageHeight" Type="TextBox" DataType="int">
			<Value>700</Value>
		</Setting>
	</SettingSection>
	<!-- Продукт.Маленькая фотография -->
	<SettingSection Title="SectionSmallProductImages">
		<Setting Title="Width" Name="SmallProductImageWidth" Type="TextBox" DataType="int">
			<Value>295</Value>
		</Setting>
		<Setting Title="Height" Name="SmallProductImageHeight" Type="TextBox" DataType="int">
			<Value>295</Value>
		</Setting>
	</SettingSection>
	<!-- Продукт.Самая маленькая фотография -->
	<SettingSection Title="SectionXSmallProductImages">
		<Setting Title="Width" Name="XSmallProductImageWidth" Type="TextBox" DataType="int">
			<Value>120</Value>
		</Setting>
		<Setting Title="Height" Name="XSmallProductImageHeight" Type="TextBox" DataType="int">
			<Value>120</Value>
		</Setting>
	</SettingSection>
	<!-- Категория.Большая фотография -->
	<SettingSection Title="SectionBigCategoryImages">
		<Setting Title="Width" Name="BigCategoryImageWidth" Type="TextBox" DataType="int">
			<Value>740</Value>
		</Setting>
		<Setting Title="Height" Name="BigCategoryImageHeight" Type="TextBox" DataType="int">
			<Value>200</Value>
		</Setting>
	</SettingSection>
	<!-- Категория.Маленькая фотография -->
	<SettingSection Title="SectionSmallCategoryImages">
		<Setting Title="Width" Name="SmallCategoryImageWidth" Type="TextBox" DataType="int">
			<Value>120</Value>
		</Setting>
		<Setting Title="Height" Name="SmallCategoryImageHeight" Type="TextBox" DataType="int">
			<Value>80</Value>
		</Setting>
	</SettingSection>
	<!-- Изображение новости -->
	<SettingSection Title="SectionNewsPhotos">
		<Setting Title="Width" Name="NewsImageWidth" Type="TextBox" DataType="int">
			<Value>140</Value>
		</Setting>
		<Setting Title="Height" Name="NewsImageHeight" Type="TextBox" DataType="int">
			<Value>140</Value>
		</Setting>
	</SettingSection>
	<!-- Иконки для оплаты -->
	<SettingSection Title="SectionPaymentIcons">
		<Setting Title="Width" Name="PaymentIconWidth" Type="TextBox" DataType="int">
			<Value>60</Value>
		</Setting>
		<Setting Title="Height" Name="PaymentIconHeight" Type="TextBox" DataType="int">
			<Value>40</Value>
		</Setting>
	</SettingSection>
	<!-- Иконки для доставки -->
	<SettingSection Title="SectionShippingIcons">
		<Setting Title="Width" Name="ShippingIconWidth" Type="TextBox" DataType="int">
			<Value>60</Value>
		</Setting>
		<Setting Title="Height" Name="ShippingIconHeight" Type="TextBox" DataType="int">
			<Value>40</Value>
		</Setting>
	</SettingSection>
	<!-- Настройки по умолчанию -->
	<SettingSection Title="SectionDesignTransformer" Hidden="true">
		<Setting Name="Theme" Type="TextBox">
			<Value>_none</Value>
		</Setting>
		<Setting Name="ColorScheme" Type="TextBox">
			<Value>_none</Value>
		</Setting>
		<Setting Name="Background" Type="TextBox">
			<Value>_none</Value>
		</Setting>
	</SettingSection>
	<SettingSection Title="Common"></SettingSection>

	<SettingSection Title="MainPage">
		<Setting Name="ModernMainpageAdditionalText" Title="Текст на главной" Type="StaticBlockCheckbox"  IsAdditional="true">
			<Value>True</Value>
		</Setting>
		<Setting Name="ModernMainpageAdvantages" Title="Преимущества на главной" Type="StaticBlockCheckbox"  IsAdditional="true">
			<Value>True</Value>
		</Setting>
		<Setting Name="CollapseAdvantagesOnMainModern" Title="Схлопывать текст в статическом блоке &quot;Текст на главной&quot;" Type="Checkbox" IsAdditional="true">
			<Value>True</Value>
		</Setting>
	</SettingSection>
	<SettingSection Title="LogoSizes" Hidden="true">
		<Setting Name="LogoImageWidth" Type="TextBox" DataType="int">
			<Value>203</Value>
		</Setting>
		<Setting Name="LogoImageHeight" Type="TextBox" DataType="int">
			<Value>22</Value>
		</Setting>
	</SettingSection>
	<!-- Пример установки статических блоков -->
	<!--
  <StaticBlocks>
    <StaticBlock Key="uniqueKey" Name="Название статик блока в админ. панеле">
      <![CDATA[<div>Html код</div>]]>
    </StaticBlock>
  </StaticBlocks>
  -->

	<StaticBlocks>
		<StaticBlock Key="RightBottom" Name="Правая часть подвала">
			<![CDATA[<div class="footer-payment"><a href="#"><img alt="" src="Templates/Modern/images/payment.png" /></a></div>
<div class="footer-links"><a href="#">Лицензионное соглашение</a> <a href="#">Политика конфиденциальности</a></div>]]>
		</StaticBlock>

		<StaticBlock Key="ModernMainpageAdditionalText" Name="Текст на главной (Шаблон Modern)">
			<![CDATA[<div class="additional-text__main js-additional-text__main">
                <p>Наш интернет-магазин сделан для того, чтобы Вы смогли удобно, без лишних забот найти и заказать то, что Вас интересует. Мы заботимся о том, чтобы ассортимент в нашем интернет-магазине был всегда актуальным, цены доступными, сервис лучшим.<br /><br />
                Предлагаем Вам убедится в этом и сделать заказ в нашем интернет-магазине. Вы сможете быстро оплатить и получить заказ. Подробнее о вариантах оплаты и доставки Вы сможете узнать на соответствующих страницах.<br /><br />
                Для всех постоянных клиентов мы делаем скидки и заботимся о том, чтобы интернет-магазин Вам нравился и Вы приходили в него снова и снова.</p>
                <p>Наш интернет-магазин сделан для того, чтобы Вы смогли удобно, без лишних забот найти и заказать то, что Вас интересует. Мы заботимся о том, чтобы ассортимент в нашем интернет-магазине был всегда актуальным, цены доступными, сервис лучшим.</p>
            </div>]]>
		</StaticBlock>

		<StaticBlock Key="ModernMainpageAdvantages" Name="Преимущества на главной (Шаблон Modern)">
			<![CDATA[<article class="advantages cs-bg-4">
    <h2 hidden>Преимущества</h2>
    <div class="advantages-item">
        <div class="advantages-item-img cs-t-10">
          <svg width="34" height="42">
            <use xlink:href="Templates/Modern/spriteAdvantages.svg#shield"></use>
          </svg>
        </div>
        <div class="advantages-item-text cs-t-6">Акции и скидки для <br> постоянных клиентов</div>
    </div>

    <div class="advantages-item">
        <div class="advantages-item-img cs-t-10">
          <svg width="34" height="34">
            <use xlink:href="Templates/Modern/spriteAdvantages.svg#percent"></use>
          </svg>
        </div>
        <div class="advantages-item-text cs-t-6">Качественные услуги <br> и сервис</div>
    </div>

    <div class="advantages-item">
        <div class="advantages-item-img cs-t-10">
          <svg width="43" height="43">
            <use xlink:href="Templates/Modern/spriteAdvantages.svg#star"></use>
          </svg>
        </div>
        <div class="advantages-item-text cs-t-6">Широкий ассортимент <br> товаров</div>
    </div>

    <div class="advantages-item">
        <div class="advantages-item-img cs-t-10">
          <svg width="37" height="28">
            <use xlink:href="Templates/Modern/spriteAdvantages.svg#blocks"></use>
          </svg>
        </div>
        <div class="advantages-item-text cs-t-6">Широкий ассортимент <br> товаров</div>
    </div>
</article>]]>
		</StaticBlock>

		<StaticBlock Key="ModernHeadAddress" Name="Адрес магазина (Шаблон Modern)">
			<![CDATA[г.Москва, ул.Баумана<br> 18, офис 347]]>
		</StaticBlock>

		<StaticBlock Key="ModernHeadWorkingHours" Name="Рабочие часы (Шаблон Modern)">
			<![CDATA[ПН-ПТ 8:00-18:00<br> СБ-ВС выходные]]>
		</StaticBlock>

	</StaticBlocks>

	<LogoPicture Path="images/logo.svg"></LogoPicture>

	<Carousel>
		<Slide Path="https://cs71.advantshop.net/templates/Modern/slide1.jpg"
			   DisplayInMobile="False"
			   DisplayInTwoColumns="True"
			   DisplayInOneColumn="False"></Slide>
		<Slide Path="https://cs71.advantshop.net/templates/Modern/slide2.jpg"
			   DisplayInMobile="False"
			   DisplayInTwoColumns="True"
			   DisplayInOneColumn="False"></Slide>
		<Slide Path="https://cs71.advantshop.net/templates/Modern/slide3.jpg"
			   DisplayInMobile="False"
			   DisplayInTwoColumns="True"
			   DisplayInOneColumn="False"></Slide>
		<Slide Path="https://cs71.advantshop.net/templates/Modern/slide1_one_clmn.jpg"
			   DisplayInMobile="False"
			   DisplayInTwoColumns="False"
			   DisplayInOneColumn="True"></Slide>
		<Slide Path="https://cs71.advantshop.net/templates/Modern/slide2_one_clmn.jpg"
			   DisplayInMobile="False"
			   DisplayInTwoColumns="False"
			   DisplayInOneColumn="True"></Slide>
		<Slide Path="https://cs71.advantshop.net/templates/Modern/slide3_one_clmn.jpg"
			   DisplayInMobile="False"
			   DisplayInTwoColumns="False"
			   DisplayInOneColumn="True"></Slide>

		<Slide Path="https://cs71.advantshop.net/templates/Modern/slide1_mobile.jpg"
			   DisplayInMobile="True"
			   DisplayInTwoColumns="False"
			   DisplayInOneColumn="False"></Slide>
		<Slide Path="https://cs71.advantshop.net/templates/Modern/slide2_mobile.jpg"
			   DisplayInMobile="True"
			   DisplayInTwoColumns="False"
			   DisplayInOneColumn="False"></Slide>
		<Slide Path="https://cs71.advantshop.net/templates/Modern/slide3_mobile.jpg"
			   DisplayInMobile="True"
			   DisplayInTwoColumns="False"
			   DisplayInOneColumn="False"></Slide>
	</Carousel>
	
	<HiddenSettings>
		<HiddenSetting Name="ShowCountPhoto"/>
    </HiddenSettings>
  
</Settings>
