<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="inline product-setting-title content-header">{{'Admin.Js.AddEditVideo.Title'|translate}}</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="form-group row">
        <div class="col-xs-12">
            <div class="m-b">
                {{'Admin.Js.ProductVideos.AttachFromYoutube'|translate}}
                <ui-modal-trigger data-controller="'ModalAddEditVideoCtrl'" controller-as="ctrl"
                                  template-url="../areas/admin/content/src/product/components/productVideos/modal/addEditVideo/addEditVideo.html"
                                  data-resolve="{'productId': ctrl.productId }"
                                  data-on-close="ctrl.gridVideos.fetchData()">
                    <a href="" data-e2e="ProductVideoAdd">{{'Admin.Js.AddEditVideo.Attach'|translate}}</a>
                </ui-modal-trigger>
            </div>
            <div id="gridProductVideos">

                <ui-grid-custom ng-if="ctrl.showGridVideos"
                                grid-unique-id="gridVideos"
                                grid-on-init="ctrl.gridOnInit(grid)"
                                grid-on-fetch="ctrl.gridOnFetch(grid)"
                                grid-filter-enabled="false"
                                grid-pagination-enabled="false"
                                grid-selection-enabled="false"
                                grid-params="{ProductId:ctrl.productId}"
                                grid-options="ctrl.gridOptions"
                                grid-url="'product/getVideos'"
                                grid-inplace-url="'product/updateVideo'">
                </ui-grid-custom>
            </div>
        </div>
    </div>
</div>