<ng-form name="builderCheckout" novalidate>

    <h2 class="new-builder__content-title" data-ng-init="builder.builderCheckout = builderCheckout" data-translate="Js.Builder.IconsInCheckout"></h2>

    <div class="new-builder__content-field">
        <div class="form-field-name  flex middle-xs">
            <span data-translate="Js.Builder.SectionPaymentIcons"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.PaymentIcon' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.PaymentIconNote"></div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field-group">
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="PaymentIconWidth"
                           class="form-field-input"
                           data-ng-model="builder.design.PaymentIconWidth"
                           required />
                </div>
            </div>
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="PaymentIconHeight"
                           class="form-field-input"
                           data-ng-model="builder.design.PaymentIconHeight"
                           required />
                </div>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name  flex middle-xs">
            <span data-translate="Js.Builder.SectionShippingIcons"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShippingIcon' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.ShippingIconNote"></div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field-group">
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="ShippingIconWidth"
                           class="form-field-input"
                           data-ng-model="builder.design.ShippingIconWidth"
                           required />
                </div>
            </div>
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="ShippingIconHeight"
                           class="form-field-input"
                           data-ng-model="builder.design.ShippingIconHeight"
                           required />
                </div>
            </div>
        </div>
    </div>
</ng-form>

<div class="new-builder__content-other-fields" ng-if="builder.design.OthersSectionCheckout.length > 0">
    <builder-trigger-other-settings settings="builder.design.OthersSectionCheckout[0].Settings" show-title="true"></builder-trigger-other-settings>
</div>
