<ng-form name="builderCategoryProduct" novalidate>
    <h2 class="new-builder__content-title" data-ng-init="builder.builderCategoryProduct = builderCategoryProduct"
        data-translate="Js.Builder.SectionCatalogCategories"></h2>

    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.CountCategoriesInLine"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.CountCategoriesInLine' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.CountCategoriesInLineNote"></div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field">
            <input type="number"
                   min="0"
                   class="form-field-input"
                   name="CountCategoriesInLine"
                   data-ng-model="builder.design.CountCategoriesInLine"
                   required />
        </div>
    </div>

    <h2 class="new-builder__content-title" data-translate="Js.Builder.ProductsDisplaying"></h2>

    <div class="new-builder__content-field" ng-hide="builder.isHidden('ShowQuickView')">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ShowQuickView"
                           checked="builder.design.ShowQuickView"
                           theme="blue"
                           label="{{::'Js.Builder.ShowQuickView' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowQuickView' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.ShowQuickViewNote"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.ProductsPerPage"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ProductsPerPage' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.OptionDetermines"></div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field">
            <input type="number"
                   min="0"
                   name="ProductsPerPage"
                   class="form-field-input"
                   data-ng-model="builder.design.ProductsPerPage"
                   required />
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.CountCatalogProductInLine"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.CountCatalogProductInLine' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.CountCatalogProductInLineNote"></div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field">
            <input type="number"
                   min="0"
                   name="CountCatalogProductInLine"
                   class="form-field-input"
                   data-ng-model="builder.design.CountCatalogProductInLine"
                   required />
        </div>
    </div>
    <div class="new-builder__content-field" ng-hide="builder.isHidden('ShowProductsCount')">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ShowProductsCount"
                           checked="builder.design.ShowProductsCount"
                           theme="blue"
                           label="{{::'Js.Builder.ShowProductsCount' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowProductsCount' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.ShowProductsCountHint1' | translate}}
                        <b>{{::'Js.Builder.ShowProductsCountHint2' | translate}}</b>
                        <span ng-bind-html="'Js.Builder.ShowProductsCountHint3' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field" ng-hide="builder.isHidden('DisplayCategoriesInBottomMenu')">
        <div class="form-field flex middle-xs">
            <switch-on-off id="DisplayCategoriesInBottomMenu"
                           checked="builder.design.DisplayCategoriesInBottomMenu"
                           theme="blue"
                           label="{{::'Js.Builder.ShowCategoriesInBottomMenu' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowCategoriesInBottomMenu' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.ShowCategoriesInBottomMenuHint"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field" ng-hide="builder.isHidden('ShowProductArtNo')">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ShowProductArtNo"
                           checked="builder.design.ShowProductArtNo"
                           theme="blue"
                           label="{{::'Js.Builder.ShowProductArtNo' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowProductArtNo' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.ShowArticleInTile"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field" ng-hide="builder.isHidden('EnableProductRating')">
        <div class="form-field flex middle-xs">
            <switch-on-off id="EnableProductRating"
                           checked="builder.design.EnableProductRating"
                           theme="blue"
                           label="{{::'Js.Builder.EnableProductRating' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.EnableProductRating' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.EnableProductRatingHint"></div>
                </help-trigger>
            </div>
        </div>
        <div class="col-xs row middle-xs relative" ng-show="builder.design.EnableProductRating">
            <div class="form-field-name" data-translate="Js.Builder.SetAllProductsManualRatio"></div>
            <div class="flex">
                <input type="number" pattern="[0-5]{0,1}" class="form-field-input" maxlength="1" ng-model="builder.ManualRatio" bs-modifiable="false" />
                <button type="button" class="sidebar-container__btn m-l-xs" ng-disabled="builder.ManualRatio == null" ng-click="builder.setAllProductsManualRatio()">
                    {{::'Js.Builder.SetAllProductsManualRatioBtn' | translate}}
                </button>
            </div>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.SetAllProductsManualRatio' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.SetAllProductsManualRatioNote"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field" ng-hide="builder.isHidden('EnableCompareProducts')">
        <div class="form-field flex middle-xs">
            <switch-on-off id="EnableCompareProducts"
                           checked="builder.design.EnableCompareProducts"
                           theme="blue"
                           label="{{::'Js.Builder.EnableCompareProducts' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.EnableCompareProducts' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.EnableCompareProductsHint"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field" ng-hide="builder.isHidden('EnablePhotoPreviews')">
        <div class="form-field flex middle-xs">
            <switch-on-off id="EnablePhotoPreviews"
                           checked="builder.design.EnablePhotoPreviews"
                           theme="blue"
                           label="{{::'Js.Builder.EnablePhotoPreviews' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.EnablePhotoPreviews' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.EnablePhotoPreviewsHint"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field" ng-hide="builder.isHidden('ShowCountPhoto')">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ShowCountPhoto"
                           checked="builder.design.ShowCountPhoto"
                           theme="blue"
                           label="{{::'Js.Builder.ShowCountPhoto' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowCountPhoto' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.OptionDisplaySmallIcon"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field" ng-hide="builder.isHidden('ShowOnlyAvalible')">
        <div class=" form-field flex middle-xs">
            <switch-on-off id="ShowOnlyAvalible"
                           checked="builder.design.ShowOnlyAvalible"
                           theme="blue"
                           label="{{::'Js.Builder.ShowOnlyAvalible' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowOnlyAvalible' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.ShowOnlyAvalibleHint"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field" ng-hide="builder.isHidden('MoveNotAvaliableToEnd')">
        <div class="form-field flex middle-xs">
            <switch-on-off id="MoveNotAvaliableToEnd"
                           checked="builder.design.MoveNotAvaliableToEnd"
                           theme="blue"
                           label="{{::'Js.Builder.MoveNotAvaliableToEnd' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.MoveNotAvaliableToEnd' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.MoveNotAvaliableToEndHint"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field" ng-hide="builder.isHidden('ShowNotAvaliableLable')">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ShowNotAvaliableLable"
                           checked="builder.design.ShowNotAvaliableLable"
                           theme="blue"
                           label="{{::'Js.Builder.ShowNotAvaliableLable' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
        </div>
    </div>


    <h2 class="new-builder__content-title" data-translate="Js.Builder.HeadFilters"></h2>

    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="FilterVisibility"
                           checked="builder.design.FilterVisibility"
                           theme="blue"
                           label="{{::'Js.Builder.ShowFilter' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowFilter' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.ShowFilterNote"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ShowPriceFilter"
                           checked="builder.design.ShowPriceFilter"
                           theme="blue"
                           label="{{::'Js.Builder.ShowPriceFilter' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowPriceFilter' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.ShowPriceFilterHint"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ShowProducerFilter"
                           checked="builder.design.ShowProducerFilter"
                           theme="blue"
                           label="{{::'Js.Builder.ShowProducerFilter' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowProducerFilter' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.ShowProducerFilterHint"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ShowSizeFilter"
                           checked="builder.design.ShowSizeFilter"
                           theme="blue"
                           label="{{::'Js.Builder.ShowSizeFilter' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowSizeFilter' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.ShowSizeFilterHint"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ShowColorFilter"
                           checked="builder.design.ShowColorFilter"
                           theme="blue"
                           label="{{::'Js.Builder.ShowColorFilter' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowColorFilter' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.ShowColorFilterHint1' | translate}}<br>
                        <span ng-bind-html="'Js.Builder.ShowColorFilterHint2' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ShowPropertiesFilterInProductList"
                           checked="builder.design.ShowPropertiesFilterInProductList"
                           theme="blue"
                           label="{{::'Js.Builder.ShowPropertiesFilterInProductList' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowPropertiesFilterInProductList' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.ShowPropertiesFilterInProductListNote"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ExcludingFilters"
                           checked="builder.design.ExcludingFilters"
                           theme="blue"
                           label="{{::'Js.Builder.ExluderingFilters' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ExluderingFilters' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.ExluderingFiltersHint1' | translate}}<br>
                        <br>
                        {{::'Js.Builder.ExluderingFiltersHint2' | translate}}<br>
                        <br>
                        <span ng-bind-html="'Js.Builder.ExluderingFiltersHint3' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>

    <h2 class="new-builder__content-title" data-translate="Js.Builder.SizesAndColors"></h2>

    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.SizesHeader"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.SizesHeader' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.SizesHeaderHint1' | translate}}
                        <br>
                        {{::'Js.Builder.SizesHeaderHint2' | translate}}
                        <br><br>
                        <span ng-bind-html="'Js.Builder.SizesHeaderHint3' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field">
            <input type="text"
                   name="SizesHeader"
                   class="form-field-input"
                   data-ng-model="builder.design.SizesHeader" />
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name  flex middle-xs">
            <span data-translate="Js.Builder.ColorsHeader"></span>
            <div class="help-trigger__container">

                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ColorsHeader' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.ColorsHeaderHint1' | translate}}
                        <br>
                        {{::'Js.Builder.ColorsHeaderHint2' | translate}}
                        <br><br>
                        <span ng-bind-html="'Js.Builder.ColorsHeaderHint3' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field">
            <input type="text"
                   name="ColorsHeader"
                   class="form-field-input"
                   data-ng-model="builder.design.ColorsHeader" />
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.ColorsViewMode"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ColorsViewMode' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.ColorsViewModeHint"></div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field">
            <span class="select-custom">
                <select name="ColorsViewMode"
                        data-ng-model="builder.design.ColorsViewMode"
                        ng-options="s.Value as s.Text for s in builder.design.ColorsViewModes">
                </select>
            </span>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.ColorsPictureInCatalog"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ColorsPictureInCatalog' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.ColorsPictureHelp' | translate}}
                        <br /><br />
                        <span ng-bind-html="'Js.Builder.ColorsPictureHelpLink' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field-group">
            <div>
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                <div class="input-group m-b-sm">
                    <input type="number"
                           min="0"
                           name="ColorIconWidthCatalog"
                           class="form-field-input"
                           data-ng-model="builder.design.ColorIconWidthCatalog"
                           required />
                </div>
            </div>

            <div>
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                <div class="input-group form-field">
                    <input type="number"
                           min="0"
                           name="ColorIconHeightCatalog"
                           class="form-field-input"
                           data-ng-model="builder.design.ColorIconHeightCatalog"
                           required />
                </div>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.ColorsPictureInDetails"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ColorsPictureInDetails' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.ColorsPictureHelp' | translate}}
                        <br /><br />
                        <span ng-bind-html="'Js.Builder.ColorsPictureHelpLink' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field-group">
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                <div class="input-group m-b-sm">
                    <input type="number"
                           min="0"
                           name="ColorIconWidthDetails"
                           class="form-field-input"
                           data-ng-model="builder.design.ColorIconWidthDetails"
                           required />
                </div>
            </div>
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                <div class="input-group form-field">
                    <input type="number"
                           min="0"
                           name="ColorIconHeightDetails"
                           class="form-field-input"
                           data-ng-model="builder.design.ColorIconHeightDetails"
                           required />
                </div>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ComplexFilter"
                           checked="builder.design.ComplexFilter"
                           theme="blue"
                           class="onoffswitch--remove-br"
                           label="{{::'Js.Builder.ComplexFilter' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ComplexFilter' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.PhotoCorrespondingSelectedColor' | translate}}
                        <br><br>
                        {{::'Js.Builder.ThisOptionRequiers' | translate}}
                        <br><br>
                        <span ng-bind-html="'Js.Builder.ComplexFilterLink' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>

    <h2 class="new-builder__content-title" data-translate="Js.Builder.ButtonText"></h2>

    <div class="new-builder__content-field">
        <div class="form-field-name" data-translate="Js.Builder.BuyButtonText"></div>
        <div class="form-field form-field-name--small">
            <input type="text"
                   class="form-field-input"
                   name="BuyButtonText"
                   data-ng-model="builder.design.BuyButtonText" />
        </div>
        <div class="form-field form-field-name--small flex middle-xs">
            <switch-on-off id="DisplayBuyButton"
                           checked="builder.design.DisplayBuyButton"
                           theme="blue"
                           label="{{::'Js.Builder.DisplayButton' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.DisplayButton' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.DisplayButtonHint1' | translate}}<br>
                        <br>
                        {{::'Js.Builder.DisplayButtonHint2' | translate}}<br>
                        <br>
                        <span ng-bind-html="'Js.Builder.DisplayButtonHint3' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name" data-translate="Js.Builder.PreOrderButtonText"></div>
        <div class="form-field">
            <input type="text"
                   class="form-field-input"
                   name="PreOrderButtonText"
                   data-ng-model="builder.design.PreOrderButtonText" />
        </div>
        <div class="form-field flex middle-xs">
            <switch-on-off id="DisplayPreOrderButton"
                           checked="builder.design.DisplayPreOrderButton"
                           theme="blue"
                           label="{{::'Js.Builder.DisplayButton' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.DisplayButton' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.DisplayPreOrderButtonHint1' | translate}}<br>
                        <br>
                        {{::'Js.Builder.DisplayPreOrderButtonHint2' | translate}}<br>
                        <br>
                        <span ng-bind-html="'Js.Builder.DisplayPreOrderButtonHint3' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>

    <h2 class="new-builder__content-title" data-translate="Js.Builder.CatalogView"></h2>


    <div class="new-builder__content-field">
        <div class="form-field-name" data-translate="Js.Builder.DefaultCatalogView"></div>
        <div class="form-field">
            <span class="select-custom">
                <select name="builderDefaultCatalogView"
                        data-ng-model="builder.design.DefaultCatalogView"
                        ng-options="s.Value as s.Text for s in builder.design.DefaultViewList">
                </select>
            </span>
        </div>
        <div class="form-field flex middle-xs">
            <switch-on-off id="EnableCatalogViewChange"
                           checked="builder.design.EnableCatalogViewChange"
                           theme="blue"
                           label="{{::'Js.Builder.EnableCatalogViewChange' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.EnableCatalogViewChange' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.EnableCatalogViewChangeHint"></div>
                </help-trigger>
            </div>
        </div>
    </div>

    <div class="new-builder__content-field">
        <div class="form-field-name" data-translate="Js.Builder.DefaultSearchView"></div>
        <div class="form-field">
            <span class="select-custom">
                <select name="DefaultSearchView"
                        data-ng-model="builder.design.DefaultSearchView"
                        ng-options="s.Value as s.Text for s in builder.design.DefaultViewList">
                </select>
            </span>
        </div>
        <div class="form-field flex middle-xs">
            <switch-on-off id="EnableSearchViewChange"
                           checked="builder.design.EnableSearchViewChange"
                           theme="blue"
                           label="{{::'Js.Builder.EnableCatalogViewChange' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.EnableCatalogViewChange' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.KindOfDisplayForResults"></div>
                </help-trigger>
            </div>
        </div>
    </div>

    <div class="flex middle-xs">
        <h2 class="new-builder__content-title" data-translate="Js.Builder.SizesImage"></h2>

        <div class="new-builder__content-title">
            <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                          data-title="{{::'Js.Builder.ResizeGoodsPictures' | translate}}">
                <span class="help-content" data-translate="Js.Builder.ResizeGoodsPicturesNote"></span>
            </help-trigger>
        </div>
    </div>
    <div class="new-builder__content-field">
        <button type="button" class="sidebar-container__btn"
                ng-if="!builder.startResizePictures"
                ng-click="builder.resizePictures()"
                data-translate="Js.Builder.ResizeGoodsPictures"></button>
        <cm-stat ng-if="builder.startResizePictures" on-tick="builder.cmStatOnTick(data)">
            <div class="progressbar-css new-builder-progressbar">
                <div class="progressbar-css__track new-builder-progressbar__track">
                    <div class="progressbar-css__bar new-builder-progressbar__bar" ng-style="{width:cmStat.entity.ProcessedPercent + '%'}"></div>
                    <div class="progressbar-css__marker--inside new-builder-progressbar__marker--inside">
                        <span ng-bind="cmStat.entity.Processed"></span> / <span ng-bind="cmStat.entity.Total"></span>
                    </div>
                </div>
            </div>
        </cm-stat>
    </div>

    <div class="new-builder__content-field">
        <div class="form-field-name" data-translate="Js.Builder.SectionBigProductImages"></div>
        <div class="form-field-group">
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="BigProductImageWidth"
                           class="form-field-input"
                           data-ng-model="builder.design.BigProductImageWidth"
                           required />
                </div>
            </div>
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="BigProductImageHeight"
                           class="form-field-input"
                           data-ng-model="builder.design.BigProductImageHeight"
                           required />
                </div>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name" data-translate="Js.Builder.SectionMiddleProductImages"></div>
        <div class="form-field-group">
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="MiddleProductImageWidth"
                           class="form-field-input"
                           data-ng-model="builder.design.MiddleProductImageWidth"
                           required />
                </div>
            </div>
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="MiddleProductImageHeight"
                           class="form-field-input"
                           data-ng-model="builder.design.MiddleProductImageHeight"
                           required />
                </div>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name" data-translate="Js.Builder.SectionSmallProductImages"></div>
        <div class="form-field-group">
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="SmallProductImageWidth"
                           class="form-field-input"
                           data-ng-model="builder.design.SmallProductImageWidth"
                           required />
                </div>
            </div>
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="SmallProductImageHeight"
                           class="form-field-input"
                           data-ng-model="builder.design.SmallProductImageHeight"
                           required />
                </div>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name" data-translate="Js.Builder.SectionXSmallProductImages"></div>
        <div class="form-field-group">
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="XSmallProductImageWidth"
                           class="form-field-input"
                           data-ng-model="builder.design.XSmallProductImageWidth"
                           required />
                </div>
            </div>
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                <div class="input-groupm">
                    <input type="number"
                           min="0"
                           name="XSmallProductImageHeight"
                           class="form-field-input"
                           data-ng-model="builder.design.XSmallProductImageHeight"
                           required />
                </div>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name" data-translate="Js.Builder.SectionBigCategoryImages"></div>
        <div class="form-field-group">
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="BigCategoryImageWidth"
                           class="form-field-input"
                           data-ng-model="builder.design.BigCategoryImageWidth"
                           required />
                </div>
            </div>
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                <div class="input-group m-b-sm">
                    <input type="number"
                           min="0"
                           name="BigCategoryImageHeight"
                           class="form-field-input"
                           data-ng-model="builder.design.BigCategoryImageHeight"
                           required />
                </div>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name" data-translate="Js.Builder.SectionSmallCategoryImages"></div>
        <div class="form-field-group">
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="SmallCategoryImageWidth"
                           class="form-field-input"
                           data-ng-model="builder.design.SmallCategoryImageWidth"
                           required />
                </div>
            </div>
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="SmallCategoryImageHeight"
                           class="form-field-input"
                           data-ng-model="builder.design.SmallCategoryImageHeight"
                           required />
                </div>
            </div>
        </div>
    </div>
</ng-form>

<div class="new-builder__content-other-fields" ng-if="builder.design.OthersSectionCategory.length > 0">
    <builder-trigger-other-settings settings="builder.design.OthersSectionCategory[0].Settings" show-title="true"></builder-trigger-other-settings>
</div>
