<ng-form name="builderBrands" novalidate>

    <div class="new-builder__content-field" data-ng-init="builder.builderBrands = builderBrands">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.SectionBrandLogo"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.BrandLogo' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.BrandLogoHote"></div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field-group">
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="BrandLogoWidth"
                           class="form-field-input"
                           data-ng-model="builder.design.BrandLogoWidth"
                           required />
                </div>
            </div>
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="BrandLogoHeight"
                           class="form-field-input"
                           data-ng-model="builder.design.BrandLogoHeight"
                           required />
                </div>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.BrandsPerPage"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.BrandsPerPage' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.BrandsPerPageHote"></div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field">
            <input type="number"
                   min="0"
                   name="BrandsPerPage"
                   class="form-field-input"
                   data-ng-model="builder.design.BrandsPerPage"
                   required />
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ShowProductsInBrand"
                           checked="builder.design.ShowProductsInBrand"
                           theme="blue"
                           label="{{::'Js.Builder.ShowProductsInBrand' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowProductsInBrand' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.ShowProductsInBrandHote"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ShowCategoryTreeInBrand"
                           checked="builder.design.ShowCategoryTreeInBrand"
                           theme="blue"
                           label="{{::'Js.Builder.ShowCategoryTreeInBrand' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">

                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowCategoryTreeInBrandTitleHote' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.ShowCategoryTreeInBrandHote"></div>
                </help-trigger>
            </div>
        </div>
    </div>
</ng-form>

<div class="new-builder__content-other-fields" ng-if="builder.design.OthersSectionBrands.length > 0">
    <builder-trigger-other-settings settings="builder.design.OthersSectionBrands[0].Settings" show-title="true"></builder-trigger-other-settings>
</div>
