<ng-form name="builderProductDetails" novalidate>
    <h2 class="new-builder__content-title" data-ng-init="builder.builderProductDetails = builderProductDetails" data-translate="Js.Builder.Product"></h2>

    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="DisplayWeight"
                           checked="builder.design.DisplayWeight"
                           theme="blue"
                           label="{{::'Js.Builder.DisplayWeight' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.DisplayWeight' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.DisplayWeightHint"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="DisplayDimensions"
                           checked="builder.design.DisplayDimensions"
                           theme="blue"
                           label="{{::'Js.Builder.DisplayDimensions' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.DisplayDimensions' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.DisplayDimensionsHint"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ShowStockAvailability"
                           checked="builder.design.ShowStockAvailability"
                           theme="blue"
                           label="{{::'Js.Builder.ShowStockAvailability' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowStockAvailability' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.ShowStockAvailabilityHint1' | translate}} <br><br>
                        {{::'Js.Builder.ShowStockAvailabilityHint2' | translate}}<br>
                        {{::'Js.Builder.ShowStockAvailabilityHint3' | translate}}<br>
                        {{::'Js.Builder.ShowStockAvailabilityHint4' | translate}}<br><br>
                        <span ng-bind-html="'Js.Builder.ShowStockAvailabilityLink' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>


    <h2 class="new-builder__content-title" data-translate="Js.Builder.ProductPictures"></h2>

    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="EnableZoom"
                           checked="builder.design.EnableZoom"
                           theme="blue"
                           label="{{::'Js.Builder.EnableZoom' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.EnableZoom' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.EnableZoomHint"></div>
                </help-trigger>
            </div>
        </div>
    </div>

    <h2 class="new-builder__content-title" data-translate="Js.Builder.Reviews"></h2>

    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="AllowReviews"
                           checked="builder.design.AllowReviews"
                           theme="blue"
                           label="{{::'Js.Builder.AllowReviews' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.AllowReviews' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.AllowReviewsHint"></div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ModerateReviews"
                           checked="builder.design.ModerateReviews"
                           theme="blue"
                           label="{{::'Js.Builder.ModerateReviews' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ModerateReviews' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.ModerateReviewsHint1' | translate}}
                        <b>{{::'Js.Builder.ModerateReviewsHint2' | translate}}</b>
                        <span ng-bind-html="'Js.Builder.ModerateReviewsHint3' | translate"></span><br><br>
                        <span ng-bind-html="'Js.Builder.ModerateReviewsLink' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="ReviewsVoiteOnlyRegisteredUsers"
                           checked="builder.design.ReviewsVoiteOnlyRegisteredUsers"
                           theme="blue"
                           label="{{::'Js.Builder.ReviewsVoiteOnlyRegisteredUsers' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ReviewsVoiteOnlyRegisteredUsers' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.ModerateReviewsHint1' | translate}}
                        <b><span ng-bind-html="'Js.Builder.ModerateReviewsHint2' | translate"></span></b>
                        <span ng-bind-html="'Js.Builder.DescriptionReviewsVoiteOnlyRegisteredUsers' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="DisplayReviewsImage"
                           checked="builder.design.DisplayReviewsImage"
                           theme="blue"
                           label="{{::'Js.Builder.DisplayReviewsImage' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.DisplayReviewsImage' | translate}}">
                    <div class="help-content">
                        <span ng-bind-html="'Js.Builder.ShowImagesToReviews' | translate"></span>
                        <span ng-bind-html="'Js.Builder.ReviewsHelpLink' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field flex middle-xs">
            <switch-on-off id="AllowReviewsImageUploading"
                           checked="builder.design.AllowReviewsImageUploading"
                           theme="blue"
                           label="{{::'Js.Builder.AllowReviewsImageUploading' | translate}}"
                           on-click="builder.changeCheckbox(state, name)">
            </switch-on-off>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.AllowReviewsImageUploading' | translate}}">
                    <div class="help-content">
                        <span ng-bind-html="'Js.Builder.AllowAttachImagesToReviews' | translate"></span>
                        <span ng-bind-html="'Js.Builder.ReviewsHelpLink' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.ReviewImageSize"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ReviewImageSize' | translate}}">
                    <div class="help-content">
                        <span ng-bind-html="'Js.Builder.MaximumSizeOfFeedbackImages' | translate"></span>
                        <span ng-bind-html="'Js.Builder.ReviewsHelpLink' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field-group">
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="ReviewImageWidth"
                           class="form-field-input"
                           data-ng-model="builder.design.ReviewImageWidth"
                           required />
                </div>
            </div>
            <div class="form-field">
                <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                <div class="input-group">
                    <input type="number"
                           min="0"
                           name="ReviewImageHeight"
                           class="form-field-input"
                           data-ng-model="builder.design.ReviewImageHeight"
                           required />
                </div>
            </div>
        </div>
    </div>


    <h2 class="new-builder__content-title" data-translate="Js.Builder.Shipping"></h2>

    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.ShowShippingsMethodsInDetails"></span>
            <div class="help-trigger__container">

                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShowShippingsMethodsInDetails' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.ShowShippingsMethodsInDetailsHint1' | translate}}<br><br>
                        {{::'Js.Builder.ShowShippingsMethodsInDetailsHint2' | translate}}
                        <span ng-bind-html="'Js.Builder.ShippingHelpLink' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field">
            <span class="select-custom">
                <select name="ShowShippingsMethodsInDetails"
                        ng-model="builder.design.ShowShippingsMethodsInDetails"
                        ng-options="s.Value as s.Text for s in builder.design.ShowShippingsMethods">
                </select>
            </span>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.ShippingsMethodsInDetailsCount"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.ShippingsMethodsInDetailsCount' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.ShippingsMethodsInDetailsCountHint1' | translate}}<br><br>
                        {{::'Js.Builder.ShippingsMethodsInDetailsCountHint2' | translate}}
                        <span ng-bind-html="'Js.Builder.ShippingHelpLink' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field">
            <input type="number"
                   min="0"
                   name="ShippingsMethodsInDetailsCount"
                   class="form-field-input"
                   data-ng-model="builder.design.ShippingsMethodsInDetailsCount"
                   required />
        </div>
    </div>


    <h2 class="new-builder__content-title" data-translate="Js.Builder.CrossUpSale"></h2>

    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.RelatedProductName"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.RelatedProductName' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.Attach2listsToProductHint1' | translate}}<br><br>
                        {{::'Js.Builder.Attach2listsToProductHint2' | translate}}
                        <span ng-bind-html="'Js.Builder.ProductNameHelpLink' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field">
            <input type="text"
                   name="RelatedProductName"
                   class="form-field-input"
                   data-ng-model="builder.design.RelatedProductName" />
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.AlternativeProductName"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.AlternativeProductName' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.Attach2listsToProductHint1' | translate}}<br><br>
                        {{::'Js.Builder.ForExampleSimilarGoods' | translate}}
                        <span ng-bind-html="'Js.Builder.ProductNameHelpLink' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field">
            <input type="text"
                   name="AlternativeProductName"
                   class="form-field-input"
                   data-ng-model="builder.design.AlternativeProductName" />
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.RelatedProductSourceType"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.RelatedProductSourceType' | translate}}">
                    <div class="help-content">
                        {{::'Js.Builder.ProductChooseWhereLoad' | translate}}<br><br>
                        <b>{{::'Js.Builder.DesignatedGoods' | translate}}</b>
                        {{::'Js.Builder.ItMeansToShowProductFromList' | translate}}<br><br>
                        <span ng-bind-html="'Js.Builder.RelatedProductSourceTypeLink' | translate"></span>
                    </div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field">
            <span class="select-custom">
                <select name="RelatedProductSourceType"
                        data-ng-model="builder.design.RelatedProductSourceType"
                        ng-options="s.Value as s.Text for s in builder.design.RelatedProductTypes">
                </select>
            </span>
        </div>
    </div>
    <div class="new-builder__content-field">
        <div class="form-field-name flex middle-xs">
            <span data-translate="Js.Builder.RelatedProductsMaxCount"></span>
            <div class="help-trigger__container">
                <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                              data-title="{{::'Js.Builder.RelatedProductsMaxCount' | translate}}">
                    <div class="help-content" data-translate="Js.Builder.MaximumNumberOfProducts"></div>
                </help-trigger>
            </div>
        </div>
        <div class="form-field">
            <input type="number"
                   min="0"
                   name="RelatedProductsMaxCount"
                   class="form-field-input"
                   data-ng-model="builder.design.RelatedProductsMaxCount"
                   required />
        </div>
    </div>
</ng-form>

<div class="new-builder__content-other-fields" ng-if="builder.design.OthersSectionProduct.length > 0">
    <builder-trigger-other-settings settings="builder.design.OthersSectionProduct[0].Settings" show-title="true"></builder-trigger-other-settings>
</div>
