<ng-form name="builderOther" novalidate>
    <div data-ng-init="ctrl.builderOther = builderOther">

        <h2 ng-if="ctrl.showTitle" class="new-builder__content-title" data-translate="Js.Builder.OtherItemsTitle"></h2>

        <div class="new-builder__content-field" ng-repeat="setting in ctrl.settings">
            <div class="form-field-group">
                <div ng-switch="setting.TypeStr">
                    <div ng-switch-when="TextBox">
                        <div class="form-field-name">{{setting.Title}}</div>
                        <div class="form-field">
                            <input type="text" ng-model="setting.Value" class="form-field-input" />
                        </div>
                    </div>
                    <div ng-switch-when="Checkbox">
                        <div class="form-field">
                            <switch-on-off id="{{::setting.Name}}"
                                           checked="setting.ValueObj"
                                           theme="blue"
                                           label="{{setting.Title}}"
                                           on-click="setting.Value = state">
                            </switch-on-off>
                        </div>
                    </div>
                    <div ng-switch-when="StaticBlockCheckbox">
                        <div class="form-field">
                            <switch-on-off id="{{::setting.Name}}"
                                           checked="setting.ValueObj"
                                           theme="blue"
                                           label="{{setting.Title}}"
                                           on-click="setting.Value = state">
                            </switch-on-off>
                        </div>
                    </div>
                    <div ng-switch-when="DropDownList">
                        <div class="form-field-name">{{setting.Title}}</div>
                        <div class="form-field">
                            <span class="select-custom">
                                <select ng-model="setting.Value" ng-options="s.Value as s.Title for s in setting.Options"></select>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-form>