<ng-form name="builderNews" novalidate>
    <div class="new-builder__content-field" data-ng-init="builder.builderNew = builderNew">
        <div class="new-builder__content-field">
            <div class="form-field-name  flex middle-xs">
                <span data-translate="Js.Builder.SectionNewsPhotos"></span>
                <div class="help-trigger__container">
                    <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                                  data-title="{{::'Js.Builder.NewsImage' | translate}}">
                        <div class="help-content" data-translate="Js.Builder.NewsImageHote"></div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field-group">
                <div class="form-field">
                    <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                    <div class="input-group">
                        <input type="number"
                               min="0"
                               name="NewsImageWidth"
                               class="form-field-input"
                               data-ng-model="builder.design.NewsImageWidth"
                               required />
                    </div>
                </div>
                <div class="form-field">
                    <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                    <div class="input-group">
                        <input type="number"
                               min="0"
                               name="NewsImageHeight"
                               class="form-field-input"
                               data-ng-model="builder.design.NewsImageHeight"
                               required />
                    </div>
                </div>
            </div>

        </div>
        <div class="new-builder__content-field">
            <div class="form-field-name  flex middle-xs">
                <span data-translate="Js.Builder.NewsMainPageText"></span>
                <div class="help-trigger__container">
                    <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                                  data-title="{{::'Js.Builder.NewsMainPageText' | translate}}">
                        <div class="help-content" data-translate="Js.Builder.NewsMainPageTextNote"></div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field">
                <input type="text"
                       name="NewsMainPageText"
                       class="form-field-input"
                       data-ng-model="builder.design.NewsMainPageText" />
            </div>
        </div>
        <div class="new-builder__content-field">
            <div class="form-field-name  flex middle-xs">
                <span data-translate="Js.Builder.NewsPerPage"></span>
                <div class="help-trigger__container">
                    <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                                  data-title="{{::'Js.Builder.NewsPerPage' | translate}}">
                        <div class="help-content" data-translate="Js.Builder.NewsPerPageNote"></div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field">
                <input type="number"
                       min="0"
                       name="NewsPerPage"
                       class="form-field-input"
                       data-ng-model="builder.design.NewsPerPage"
                       required />
            </div>
        </div>
        <div class="new-builder__content-field">
            <div class="form-field-name flex middle-xs">
                <span data-translate="Js.Builder.NewsMainPageCount"></span>
                <div class="help-trigger__container">
                    <help-trigger class="ng-cloak m-l-xs" use-template="true" classes="'setting__catolog-popover-custom'" help-append-to-body="false"
                                  data-title="{{::'Js.Builder.NewsMainPageCount' | translate}}">
                        <div class="help-content" data-translate="Js.Builder.NewsMainPageCountNote"></div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field">
                <input type="number"
                       min="0"
                       name="NewsMainPageCount"
                       class="form-field-input"
                       data-ng-model="builder.design.NewsMainPageCount"
                       required />
            </div>
        </div>
    </div>
</ng-form>

<div class="new-builder__content-other-fields" ng-if="builder.design.OthersSectionNews.length > 0">
    <builder-trigger-other-settings settings="builder.design.OthersSectionNews[0].Settings" show-title="true"></builder-trigger-other-settings>
</div>
