<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddEditProperty.Property'|translate}}</h2>
    </div>
    <div class="modal-body">

        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">
                    {{'Admin.Js.AddEditProperty.Name'|translate}}
                </span>
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control" data-e2e="PropertyName"  ng-model="ctrl.name" required validation-input-text={{'Admin.Js.AddEditProperty.Name'|translate}} autofocus />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                {{'Admin.Js.AddEditProperty.NameInClient'|translate}}
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control" data-e2e="PropertyNameClient"  ng-model="ctrl.nameDisplayed" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditProperty.Description'|translate}}</label>
            <div class="col-xs-9">
                <textarea class="form-control" ng-model="ctrl.description" rows="4" ckeditor></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditProperty.Units'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" data-e2e="PropertyUnits"  ng-model="ctrl.unit" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditProperty.Type'|translate}}</label>
            <div class="col-xs-9">
                <select class="form-control" data-e2e="PropertyType" ng-model="ctrl.type" ng-options="s.Text for s in ctrl.types track by s.Value" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditProperty.Group'|translate}}</label>
            <div class="col-xs-9">
                <select class="form-control" data-e2e="PropertyGroup" ng-model="ctrl.group" ng-options="s.Text for s in ctrl.groups track by s.Value">
                    <option>{{'Admin.Js.AddEditProperty.NotSelected'|translate}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditProperty.UseInFilter'|translate}}</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label" data-e2e="PropertyuseInFilter" >
                    <input type="checkbox" ng-model="ctrl.useInFilter" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditProperty.UseInProductCard'|translate}}</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label" data-e2e="PropertyuseInDetails">
                    <input type="checkbox" ng-model="ctrl.useInDetails" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditProperty.UseInBrief'|translate}}</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label" data-e2e="PropertyuseInBrief">
                    <input type="checkbox" ng-model="ctrl.useInBrief" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditProperty.Expanded'|translate}}</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label"  data-e2e="Propertyexpanded">
                    <input type="checkbox" ng-model="ctrl.expanded" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditProperty.SortingOrder'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" ng-model="ctrl.sortOrder" class="form-control"  data-e2e="PropertysortOrder" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary"  data-e2e="PropertyBtnSave" type="button" data-button-validation-success="ctrl.saveProperty()" data-button-validation>{{'Admin.Js.AddEdit.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel"  data-e2e="PropertyBtnCancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>