.menu-top {
    padding: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
    background: #fff;
}

.menu-top-item {
    position: relative;
    display: inline-block;
    white-space: normal;
    line-height: 1;
    border-bottom: 3px solid #fff;
}

    .menu-top-item:hover {
        background: #eee;
        border-bottom-color: #c9ccd0;
    }
    .menu-top-item.selected {
        border-bottom-color: #c9ccd0;
    }

.menu-top-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    line-height: 1;
}

    .menu-top-link, .menu-top-link:hover {
        text-decoration: none;
    }

    .menu-top-link:before {
        display: inline-block;
        vertical-align: middle;
        height: 2.5rem;
        content: "";
        width: 0;
    }

.menu-top-link-text {
    display: inline-block;
    vertical-align: middle;
}
