.table-info {
}

    .table-info .table-info-row.table-info-head {
        font-weight: bold;
        font-size: 13px;
    }

    .table-info .table-info-row {
        font-size: 0.85rem;
        border-top: 1px solid #e2e3e4;
        padding: 1rem 0.5rem;
    }

        .table-info .table-info-row:first-child {
            border-top: none;
        }

    .table-info .col-non-expandable {
        word-break: break-all;
    }

    .table-info .col-text-right {
        text-align: right;
    }

.table-info-details {
    display: table;
    padding: 0 0.5rem 1rem;
}

.table-info-details-row {
    display: table-row;
}

.table-info-details .details-label, .table-info-details .details-value {
    display: table-cell;
    padding: 0.35rem 0.5rem 0 0;
}

.table-info-details-row .details-label {
}

.table-info-details-row .details-value {
}
