.toolbar-top {
    position: relative;
    z-index: 5;
}

.toolbar-top-item {
    padding: 0.5625rem 0 0.625rem;
    margin: 0 0.625rem;
    font-size: 0.75rem;
}

.toolbar-top-logo {
    font-size: 1rem;
    text-transform: uppercase;
}

.toolbar-top-link, .toolbar-top-link-alt {
    position: relative;
}

.toolbar-top-link-alt {
    margin: 0 0.4375rem;
}

    .toolbar-top-link-alt:first-child {
        margin-left: 0;
    }

    .toolbar-top-link-alt:last-child {
        margin-right: 0;
    }
