<form novalidate name="editTaskForm" class="task-modal">
    <div class="modal-header">
        <div class="close" ng-click="ctrl.dismiss()"></div>
        <div class="flex middle-xs m-r-lg">
            <h2 class="modal-header-title modal-header-title--nowrap task-modal__header"><span>{{'Admin.Js.Tasks.EditTask.TaskNumber'|translate}}<span ng-bind="ctrl.id"></span></span></h2>
            <span class="m-l-sm copy-link">
                <span class="copy-link_inner">
                    <span class="modal-header-title modal-header-title--ellipsis" ng-bind="ctrl.taskUrl">
                    </span>
                    <i class="fa fa-copy pointer m-l-xs" ng-click="ctrl.copy(ctrl.taskUrl)" title="{{'Admin.Js.Tasks.EditTask.CopyTheLink'|translate}}" aria-hidden="true"></i>
                </span>
            </span>
        </div>
    </div>
    <div class="modal-body task-modal-content-new-item" ng-init="ctrl.editTaskForm = editTaskForm">
        <div class="m-r-sm m-l-sm">
            <div class="form-group ng-cloak" ng-if="!ctrl.isReadonlyTask">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group m-r">
                            <button data-e2e="edittaskStatusInprogress" class="btn btn-sm btn-success" type="button" ng-click="ctrl.changeStatus('inprogress')"
                                    ng-if="ctrl.status == 'open'">
                                {{'Admin.Js.Tasks.EditTask.StartExecution'|translate}}
                            </button>
                            <button data-e2e="edittaskStatusStop" class="btn btn-sm btn-success" type="button" ng-click="ctrl.taskOpen()"
                                    ng-if="ctrl.status == 'inprogress'">
                                {{'Admin.Js.Tasks.EditTask.Pause'|translate}}
                            </button>
                            <button data-e2e="edittaskStatusCompleted" class="btn btn-sm btn-action" type="button" ng-click="ctrl.chain(ctrl.completeTask, ctrl.close)"
                                    ng-if="ctrl.status != 'completed'">
                                {{'Admin.Js.Tasks.EditTask.Complete'|translate}}
                            </button>
                            <button data-e2e="edittaskStatusAccepted" class="btn btn-sm btn-success" type="button" ng-click="ctrl.chain(ctrl.acceptTask, ctrl.close)"
                                    ng-if="ctrl.status == 'completed' && !ctrl.accepted">
                                {{'Admin.Js.Tasks.EditTask.Accept'|translate}}
                            </button>
                            <button data-e2e="edittaskStatusRestart" class="btn btn-sm btn-action" type="button" ng-click="ctrl.taskOpen()"
                                    ng-if="ctrl.status == 'completed' || ctrl.accepted">
                                {{'Admin.Js.Tasks.EditTask.Resume'|translate}}
                            </button>
                        </div>

                        <button data-e2e="edittaskDelTask" type="button" class="btn btn-sm btn-red-white btn-default  m-r" ng-click="ctrl.deleteTask()" ng-if="ctrl.canDelete">{{'Admin.Js.Tasks.EditTask.Delete'|translate}}</button>

                        <div class="btn-group m-r">
                            <div data-submenu-container="{'type': 'modern','checkOrientation': true, 'blockOrientation': '.task-modal-content-new-item', 'delayHover': 500}">
                                <div data-submenu-parent class="row">
                                    <a ng-click="ctrl.changeObserver(ctrl.currentManagerId, true)" class="far fa-eye text-decoration-none task-modal__observe link-invert  m-r-xs" ng-class="{'task-modal__observe-active' : ctrl.observingTask === true }" title="{{ctrl.observingTask === true ? ('Admin.Js.Tasks.ModalEditTaskCtrl.Observing'|translate) : ('Admin.Js.Tasks.ModalEditTaskCtrl.NotObserving'|translate)}}"></a>
                                    {{ctrl.observerIds.length > 0 ? '(' + ctrl.observerIds.length + ')' : ''}}
                                    <div class="dropdown-menu pull-left task-modal__observe-submenu" data-submenu bs-modifiable="false">
                                        <div class="task-modal__observe-submenu-title">{{'Admin.Js.Tasks.EditTask.AddObserver'|translate}}</div>
                                        <ui-select multiple data-e2e="edittaskObservers" ng-click="ctrl.getUiSelectCtrl($select)" tabindex="100" ng-model="ctrl.observerIds" convert-to-number on-select="ctrl.changeObserver($model)" on-remove="ctrl.changeObserver($model)">
                                            <ui-select-match placeholder="{{'Admin.Js.Tasks.ModalEditTaskCtrl.NoObservers'|translate}}">{{$item.label}}</ui-select-match>
                                            <ui-select-choices repeat="s.value as s in ctrl.managersObserve | greedysearch: $select.search">
                                                <div>{{s.label}} </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button data-e2e="edittaskCopyTask" type="button" class="btn btn-sm float-right btn-gray btn-default" ng-click="ctrl.copyTask()" ng-if="ctrl.canDelete">{{'Admin.Js.Tasks.EditTask.Copy'|translate}}</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group">
                        <label class="m-b-xs"><span class="text-required">{{'Admin.Js.Tasks.EditTask.Name'|translate}}</span></label>
                        <div>
                            <input data-e2e="edittaskName" type="text" class="form-control" placeholder="{{'Admin.Js.Tasks.EditTask.EnterTaskName'|translate}}"
                                   ng-model="ctrl.name"
                                   ng-readonly="ctrl.isReadonlyTask || ctrl.accepted"
                                   required validation-input-text="{{'Admin.Js.Tasks.EditTask.Name'|translate}}">
                        </div>
                    </div>
                    <div class="form-horizontal" ng-if="ctrl.leadId != null" bs-modifiable="false">
                        <div class="form-group row">
                            <div class="col-xs-5">
                                <div class="control-label">
                                    <a href="leads?salesFunnelId={{ctrl.leadSalesFunnelId}}#?leadIdInfo={{ctrl.leadId}}" target="_blank" data-e2e="leadLink"><span ng-bind="ctrl.leadTitle"></span></a>
                                </div>
                            </div>
                            <div class="col-xs">
                                <div class="row pull-right">
                                    <div class="col-xs-4 control-label">Этап сделки</div>
                                    <div class="col-xs-8">
                                        <select data-e2e="leadDealStatus" class="form-control" ng-model="ctrl.leadDealStatusId"
                                                ng-options="s.value as s.label for s in ctrl.leadDealStatuses"
                                                ng-change="ctrl.changeLeadDealStatus()" ng-disabled="ctrl.isReadonlyTask || ctrl.accepted" convert-to-number></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="ctrl.orderId != null">
                        <a href="orders/edit/{{ctrl.orderId}}" target="_blank" data-e2e="orderLink">{{'Admin.Js.Tasks.EditTask.Order'|translate}}<span ng-bind="ctrl.orderNumber"></span></a>
                    </div>
                    <div class="form-group" ng-if="ctrl.clientCustomerId != null">
                        <a href="customers/view/{{ctrl.clientCustomerId}}" ng-bind="ctrl.clientName" target="_blank" data-e2e="taskCustomerLink"></a>
                    </div>
                    <div class="form-group" ng-if="ctrl.reviewId != null">
                        <ui-modal-trigger size="lg" data-controller="'ModalAddEditReviewCtrl'"
                                          template-url="../areas/admin/content/src/reviews/modal/addEditReview/addEditReview.html"
                                          data-resolve="{'reviewId': ctrl.reviewId}">
                            <span data-e2e="OpenReview" class="link">{{'Admin.Js.Tasks.EditTask.ViewReview'|translate}}</span>
                        </ui-modal-trigger>
                    </div>
                    <div class="form-group" ng-if="ctrl.bindedTaskId != null">
                        <ui-modal-trigger size="lg" data-controller="'ModalEditTaskCtrl'"
                                          template-url="../areas/admin/content/src/tasks/modal/editTask/editTask.html"
                                          data-resolve="{'id': ctrl.bindedTaskId}">
                            <a href="tasks#?modal={{ctrl.bindedTaskId}}" onclick="return false;">{{'Admin.Js.Tasks.EditTask.Task'|translate}}{{ctrl.bindedTaskId}}</a>
                        </ui-modal-trigger>
                    </div>
                    <div class="form-group">
                        <label><span class="text-required">{{'Admin.Js.Tasks.EditTask.Description'|translate}}</span></label>
                        <div ng-if="ctrl.formInited">
                            <textarea data-e2e="edittaskDescription" class="form-control b-n wysiwyg r-v" rows="12" placeholder=""
                                      ckeditor="ctrl.ckeditor"
                                      ng-model="ctrl.description"
                                      ng-disabled="ctrl.isReadonlyTask || ctrl.accepted"
                                      ng-readonly="ctrl.isReadonlyTask || ctrl.accepted"
                                      required validation-input-text="{{'Admin.Js.Tasks.EditTask.Description'|translate}}" />
                        </div>
                    </div>
                    <div class="form-group" ng-if="ctrl.status == 'completed'">
                        <label class="">{{'Admin.Js.Tasks.EditTask.ResultOfPerformance'|translate}}</label>
                        <div data-e2e="edittaskRezult" ng-bind-html="ctrl.result | linky:'_blank' | nl2br"></div>
                    </div>
                    <div class="form-group" bs-modifiable="false">
                        <label ng-if="ctrl.attachments.length > 0">{{'Admin.Js.Tasks.EditTask.AttachedFiles'|translate}}</label>
                        <ol ng-if="ctrl.attachments.length > 0">
                            <li ng-repeat="attachment in ctrl.attachments track by $index">
                                <a href="" target="_blank" ng-href="{{attachment.FilePathAdmin}}" ng-bind="attachment.FileName"></a> - <span ng-bind="attachment.FileSize"></span>
                                <a href="" ng-click="ctrl.deleteAttachment(attachment.Id)" ng-if="!ctrl.isReadonlyTask && !ctrl.accepted" class="fa fa-times link-invert link-decoration-none" title="{{'Admin.Js.Tasks.EditTask.Delete'|translate}}"></a>
                            </li>
                        </ol>
                        <!--<p class="" ng-if="ctrl.attachments.length == 0">
                            {{'Admin.Js.Tasks.EditTask.NoFiles'|translate}}
                        </p>-->
                        <figure class="" ng-if="!ctrl.isReadonlyTask && !ctrl.accepted">
                            <button data-e2e="edittaskAttachment" class="btn btn-action btn-sm" type="button" ngf-drop ngf-max-size="15MB" ngf-select="" multiple
                                    ngf-change="ctrl.uploadAttachment($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" ladda="ctrl.loadingFiles">
                                <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">{{'Admin.Js.Tasks.EditTask.AttachFile'|translate}}</span>
                            </button>
                            <help-trigger class="ng-cloak m-l-xs" use-template="true">
                                <div class="help-content" ng-bind-html="ctrl.filesHelpText">
                                </div>
                            </help-trigger>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group" bs-modifiable="false" ng-if="!ctrl.isReadonlyTask">
                        <div class="m-b-xs">
                            <label>{{'Admin.Js.Tasks.EditTask.Executor'|translate}}</label>
                            <div ng-if="!(ctrl.managerIds.length == 1 && ctrl.managerIds[0] == ctrl.currentManagerId)&& !ctrl.accepted" class="m-l-sm inline">
                                <a ng-href="" data-e2e="AssignedToMe" class="pointer" ng-click="ctrl.changeAssignedManager(ctrl.currentManagerId, true)" ng-if="ctrl.canAssingToMe">
                                    {{'Admin.Js.Tasks.EditTask.PutOnMe'|translate}}
                                </a>
                            </div>
                        </div>
                        <ui-select ng-disabled="ctrl.accepted" multiple data-e2e="edittaskAssigned" ng-click="ctrl.getUiSelectCtrl($select)" tabindex="100" ng-model="ctrl.managerIds" convert-to-number on-select="ctrl.changeAssignedManager($model)" on-remove="ctrl.changeAssignedManager($model)">
                            <ui-select-match placeholder="{{'Admin.Js.Tasks.ModalEditTaskCtrl.NotAssigned'|translate}}">{{$item.label}}</ui-select-match>
                            <ui-select-choices repeat="s.value as s in ctrl.managersAssign | greedysearch: $select.search">
                                <div>{{s.label}} </div>
                            </ui-select-choices>
                        </ui-select>
                        <!--<select data-e2e="edittaskAssigned" ng-model="ctrl.assignedManagerId" ng-options="s.value as s.label for s in ctrl.managersAssign" class="form-control" convert-to-number></select>-->
                    </div>
                    <div class="form-group task-appointed">
                        <label class="">{{'Admin.Js.Tasks.EditTask.TaskManager'|translate}}</label>
                        <div ng-if="ctrl.isAutomatic && ctrl.appointedManagerId==null" class="m-b-xs">
                            <span ng-bind="'Admin.Js.Tasks.AppointedManager.Automatic' |translate "></span> <a href="" ng-click="ctrl.showAppointed=!ctrl.showAppointed">изменить</a>
                        </div>
                        <ui-select data-e2e="edittaskAppointed" ng-if="ctrl.appointedManagerId != null || !ctrl.isAutomatic || ctrl.showAppointed"
                                   ng-model="ctrl.appointedManagerId"
                                   ng-change="ctrl.validateTaskData()"
                                   ng-click="ctrl.getUiSelectCtrl($select)"
                                   ng-disabled="ctrl.isReadonlyTask || ctrl.accepted"
                                   convert-to-number>
                            <ui-select-match>{{$select.selected.label}}</ui-select-match>
                            <ui-select-choices repeat="s.value as s in ctrl.managersAppoint | greedysearch: $select.search">
                                <div>{{s.label}} </div>
                            </ui-select-choices>
                        </ui-select>
                        <!--<select data-e2e="edittaskAppointed" ng-model="ctrl.appointedManagerId" ng-options="s.value as s.label for s in ctrl.managersAppoint" class="form-control" convert-to-number></select>-->
                    </div>
                    <div class="form-group">
                        <label class="">{{'Admin.Js.Tasks.EditTask.PeriodOfExecution'|translate}}</label>
                        <div class="input-group" ng-if="!ctrl.isReadonlyTask && !ctrl.accepted" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat: 'Y-m-dTH:i', wrap: true, enableTime: true, minuteIncrement: 10}" fp-on-setup="ctrl.flatpickrOnSetup(fpItem)" fp-on-change="ctrl.flatpickrOnChange(selectedDates, dateStr, instance)">
                            <span class="flatpickr-custom-wrap">
                                <input data-e2e="edittaskDuedate" type="text" class="form-control" ng-flatpickr-input ng-model="ctrl.dueDate" />
                                <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                            </span>
                            <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <div ng-if="ctrl.isReadonlyTask || ctrl.accepted">
                            <input type="text" class="form-control" ng-model="ctrl.dueDate" ng-readonly="ctrl.isReadonlyTask || ctrl.accepted" />
                        </div>
                    </div>
                    <div class="form-group" ng-if="ctrl.reminderActive && ctrl.dueDate != null && ctrl.dueDate != ''">
                        <label class="adv-checkbox-label line-height" data-e2e="edittaskRemind">
                            <input type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="ctrl.remind" ng-disabled="ctrl.isReadonlyTask || ctrl.accepted" />
                            <span class="adv-checkbox-emul"></span>
                            <span>{{'Admin.Js.Tasks.EditTask.Reminder'|translate}}</span>
                        </label>
                        <select ng-if="ctrl.remind"
                                data-e2e="edittaskReminder" ng-model="ctrl.reminder"
                                ng-options="s.value as s.label for s in ctrl.reminderTypes"
                                ng-disabled="ctrl.isReadonlyTask || ctrl.accepted"
                                class="form-control m-t-xs"
                                convert-to-number></select>
                    </div>
                    <div class="form-group">
                        <label class="">{{'Admin.Js.Tasks.EditTask.Priority'|translate}}</label>
                        <select data-e2e="edittaskPriopity" ng-model="ctrl.priority"
                                ng-options="s.value as s.label for s in ctrl.priorities"
                                ng-disabled="ctrl.isReadonlyTask || ctrl.accepted"
                                class="form-control"
                                convert-to-number></select>
                    </div>
                    <div class="form-group">
                        <label class=""><span class="text-required">{{'Admin.Js.Tasks.EditTask.Project'|translate}}</span></label>
                        <select data-e2e="edittaskGroup" ng-model="ctrl.taskGroupId"
                                ng-options="s.value as s.label for s in ctrl.taskGroups"
                                ng-change="ctrl.validateTaskGroupManager(); ctrl.validateTaskData(); ctrl.getManagers();"
                                ng-disabled="ctrl.isReadonlyTask || ctrl.accepted"
                                class="form-control" convert-to-number></select>
                    </div>
                    <div class="form-group">
                        <label class="pull-left">{{'Admin.Js.Tasks.EditTask.DateOfCreation'|translate}}</label>
                        <p class="pull-right" ng-bind="ctrl.dateAppointedFormatted"></p>
                    </div>
                </div>
            </div>
            <div class="form-group" data-e2e="edittaskComment" bs-modifiable="false">
                <h4>{{'Admin.Js.Tasks.EditTask.Comments'|translate}}</h4>
                <admin-comments ng-if="ctrl.id != null" obj-id="ctrl.id" obj-url="ctrl.taskUrl" type="ctrl.commentsType" form-visible="true" on-init="ctrl.addAdminCommentsCtrl(adminCommentsCtrl)"></admin-comments>
                <change-history data-e2e="ShowHistory" ng-if="ctrl.id != null && !ctrl.isReadonlyTask || !ctrl.accepted" obj-id="ctrl.id" type="task" hide="true"></change-history>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button class="btn btn-save btn-primary"
                    data-e2e="edittaskButtonSave"
                    type="submit"
                    ladda="ctrl.btnSleep"
                    disabled
                    ng-disabled="!ctrl.formInited || !editTaskForm.modified" ng-if="!ctrl.isReadonlyTask"
                    button-validation button-validation-success="ctrl.saveAndCheckUnsaveData({func:ctrl.buttonActionDefault.fn})"
                    ng-bind="ctrl.buttonActionDefault.text"></button>
            <button type="button" class="btn btn-save btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    disabled
                    ng-disabled="!ctrl.formInited || !editTaskForm.modified" ng-if="!ctrl.isReadonlyTask">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li class="dropdown-submenu" ng-repeat="(name, action) in ctrl.buttonActionsCurrent">
                    <a ng-click="ctrl.saveAndCheckUnsaveData({func:ctrl.callAndSaveButtonAction, arg: name})" ng-bind="action.text"></a>
                </li>
            </ul>
        </div>

        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.dismiss()">{{'Admin.Js.Tasks.EditTask.Cancel'|translate}}</button>
    </div>
</form>