<div data-order-history 
     data-on-change-view="myaccount.onChangeOrderHistoryMode(orderHistoryCtrl, ordernumber)" 
     data-is-mobile="true" 
     data-title-text="@T("MyAccount.OrderHistory.Header")"
     data-mode="myaccount.orderHistoryMode"></div>
