.lead-events__item,
.lead-events__item_active,
.lead-events__item_disabled {
  margin-right: 10px;
  font-family: "OpenSans";
  font-weight: 600;
  cursor: pointer;
}

.lead-event__title > span {
  vertical-align: middle;
}

.lead-events__item {
  color: #2d9cee;
}

.lead-events__item .lead-events__item__label {
  text-decoration: underline;
}

.lead-events__item_disabled {
  color: #aaa;
  text-decoration: none;
}

.lead-events__item_active {
  color: #2f4050;
  text-decoration: none;
}

.lead-events__item_disabled .lead-events__item__label,
.lead-events__item_active .lead-events__item__label {
  text-decoration: none;
}

.lead-events__item__count_label {
  vertical-align: top;
  display: inline-block;
  font-size: 11px;
  margin: -3px 0 0 0px;
}

.leads-col-fixed-size-sm {
  flex-basis: 140px;
  max-width: 140px;
  padding: 0 0 0 0.625rem;
}

.lead-events-filter__input {
  display: none;
}

.lead-source {
  margin-top: 5px;
}

.lead-events-alternative {
  border-radius: 4px;
  overflow-x: auto;
  -webkit-overflow-scrolling: auto;
  display: flex;
}
.lead-events-alternative .lead-events__item,
.lead-events-alternative .lead-events__item_active,
.lead-events-alternative .lead-events__item_disabled {
  font-family: "OpenSans";
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
  border-radius: 0px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 1px;
}
.lead-events-alternative .lead-events__item:last-child,
.lead-events-alternative .lead-events__item_active:last-child,
.lead-events-alternative .lead-events__item_disabled:last-child {
  margin-right: 0px;
}
.lead-events-alternative .lead-events__item {
  background-color: #fff;
}
.lead-events-alternative .lead-events__item_active {
  color: #666666;
  background: #e1e1e1;
}
.lead-events-alternative .lead-events__item .lead-events__item__label {
  text-decoration: none;
}
.lead-events-alternative .lead-events__item__count_label {
  display: flex;
  font-size: 10px;
  width: 20px;
  height: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #2d9cee;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 0;
  color: #fff;
  margin-top: -5px;
}

/*.tab-list {
    &__item,
    &__item--active,
    &__item--disabled {
        margin-right: 10px;
        font-family: "OpenSans";
        font-weight: 600;
        cursor: pointer;
    }

    &__title > span {
        vertical-align: middle;
    }

    &__item {
        color: #2d9cee;
    }

    &__item &__item-label {
        text-decoration: underline;
    }

    &__item--disabled {
        color: #aaa;
        text-decoration: none;
    }

    &__item--active {
        color: #2f4050;
        text-decoration: none;
    }

    &__item--disabled &__item-label,
    &__item--active &__item-label {
        text-decoration: none;
    }

    &__item-count-label {
        vertical-align: top;
        display: inline-block;
        font-size: 11px;
        margin: -3px 0 0 0px;
    }

    &__item-label {
        font-weight: normal;
        cursor: pointer;
        font-size: 14px;
        border-radius: 0px;
        position: relative;
        padding: 7px 25px 8px;
        margin-right: 1px;
        background: #fff;
        color: #2d9cee;
        border: 1px solid transparent;
    }

    .leads-col-fixed-size-sm {
        flex-basis: 140px;
        max-width: 140px;
        padding: 0 0 0 0.625rem;
    }

    &-filter__input {
        display: none;
    }

    .lead-source {
        margin-top: 5px;
    }

    &--alternative {
        border-radius: 4px;
        overflow-x: auto;
        -webkit-overflow-scrolling: auto;
        display: flex;
        padding-top: 10px;

        &__item,
        &__item--active,
        &__item--disabled {
            font-family: "OpenSans";
            font-weight: normal;
            cursor: pointer;
            font-size: 14px;
            border-radius: 0px;
            position: relative;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 1px;

            &:last-child {
                margin-right: 0px;
            }
        }

        &__item {
            background-color: #fff;
        }

        &__item--active {
            color: #666666;
            background: #e1e1e1;
        }

        &__item &__item-label {
            text-decoration: none;
        }

        &__item-count-label {
            display: flex;
            font-size: 10px;
            width: 20px;
            height: 20px;
            align-items: center;
            text-align: center;
            justify-content: center;
            background-color: #2d9cee;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            color: #fff;
            margin-top: -5px;
        }
    }
}*/