
<div class="m-t m-b-sm">
    {{'Admin.Js.OrderHistory.OrderChangeHistory'|translate}}
</div>
<div class="order-history">
    <ui-grid-custom grid-unique-id="gridOrderHistory"
                    grid-on-init="$ctrl.gridOnInit(grid)"
                    grid-filter-enabled="false"
                    grid-pagination-enabled="false"
                    grid-selection-enabled="false"
                    grid-params="{orderId:$ctrl.orderId}"
                    grid-options="$ctrl.gridOptions"
                    grid-url="'orders/getOrderHistory'"
                    grid-empty-text="'Admin.Js.OrderHistory.NoEntries'|translate"
                    grid-extend-ctrl="$ctrl">
    </ui-grid-custom>
</div>