@model AdvantShop.Web.Admin.Models.Settings.BookingSettingsModel

<div class="sticky-page-name m-b-sm" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main">
            <h2 class="sticky-page-name-text">
                @T("Admin.Settings.Booking.Tags")
            </h2>
        </div>
        <div class="page-name-block-item-additional">
            <ui-modal-trigger data-controller="'ModalAddEditBookingTagCtrl'" controller-as="ctrl" on-close="settingsBooking.gridBookingTags.fetchData()"
                              template-url="../areas/admin/content/src/settingsBooking/modal/addEditTag/AddEditTag.html">
                <button class="btn btn-sm btn-success" type="button">
                    <span class="fa fa-plus"></span>
                    Добавить тэг
                </button>
            </ui-modal-trigger>
        </div>
    </div>
</div>
<ui-grid-custom grid-unique-id="gridBookingTags"
                grid-row-identificator="'Id'"
                grid-on-init="settingsBooking.gridBookingTagsOnInit(grid)"
                grid-options="settingsBooking.gridBookingTagsOptions"
                grid-url="'settingsBooking/getTags'"
                grid-inplace-url="'settingsBooking/inplaceTag'"
                grid-extend-ctrl="settingsBooking"
                grid-search-placeholder="'@T("Admin.Settings.Booking.Tags.Grid.SearchPlaceholder")'">
    <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="settingsBooking.gridBookingTags.gridOptions.TotalString">
    </ui-grid-custom-footer>
</ui-grid-custom>
