.progressbar {
    position: relative;
    margin-top:36px;

    &__track,
    &__track--passed {
        font-size: 0;
        line-height: 0;
        height: 8px;
        border-radius: 4px;
    }

    &__marker {
        position: absolute;
        bottom: 100%;
        margin-left: -16px;
    }

    &__step {
        margin-top: 16px;
    }
}
