@import "_func.scss";

$min_width: 320px;
$max_width: 1200px;

.font-size-8--adaptive {
    font-size: 8px;
}

.font-size-10--adaptive {
    font-size: 10px;
}

.font-size-12--adaptive {
    font-size: 12px;
}

.font-size-14--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 12px, 14px);
}

.font-size-16--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 14px, 16px);
}

.font-size-18--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 15px, 18px);
}

.font-size-20--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 16px, 20px);
}

.font-size-22--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 17px, 22px);
}

.font-size-24--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 18px, 24px);
}

.font-size-26--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 19px, 26px);
}

.font-size-28--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 20px, 28px);
}

.font-size-30--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 21px, 30px);
}

.font-size-32--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 22px, 32px);
}

.font-size-34--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 23px, 34px);
}

.font-size-36--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 24px, 36px);
}

.font-size-38--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 25px, 38px);
}

.font-size-40--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 26px, 40px);
}

.font-size-42--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 27px, 42px);
}

.font-size-44--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 28px, 44px);
}

.font-size-46--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 29px, 46px);
}

.font-size-48--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 30px, 48px);
}

.font-size-50--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 31px, 50px);
}

.font-size-52--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 32px, 52px);
}

.font-size-62--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 33px, 62px);
}

.font-size-72--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 34px, 72px);
}

.font-size-82--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 35px, 82px);
}

.font-size-92--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 36px, 92px);
}

.font-size-102--adaptive {
    @include interpolate((font-size), $min_width, $max_width, 37px, 102px);
}
