@import "../_common/variables.scss";

*{
    outline: none;
}

body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

b,
strong {
    font-weight: bold;
}

p {
    padding: 0;
    margin: 16px 0 0 0;
}

iframe {
    border: 0;
}

figure {
    margin: 0;
}
h1, .lp-h1, .h1{
    font-size: 32px;
    margin-bottom: 22px;
}

h2, .lp-h2, .h2 {
    font-size: 28px;
    margin-bottom: 12px;
}

h3, .lp-h3, .h3 {
    font-size: 16px;
    margin-bottom: 16px;
}

.lp-font-size--xsmall {
    font-size: 12px;
}

.lp-font-size--small {
    font-size: 14px;
}

.lp-font-size--middle {
    font-size: 16px;
}

.lp-font-size--large {
    font-size: 18px;
}


.slick-list {
    width: calc(100% - 1px); /*чтобы не выходил пиксель справа у слика*/
    box-sizing: border-box;
}

@media #{$viewport-md} {

    h1, .lp-h1 {
        font-size: 48px;
        margin-bottom: 24px;
    }

    h2, .lp-h2 {
        font-size: 36px;
        margin-bottom: 16px;
    }

    .lp-h2--single {
        margin-bottom: 32px;
    }

    h3, .lp-h3 {
        font-size: 20px;
        margin-bottom: 32px;
    }

    .lp-font-size--xsmall {
        font-size: 14px;
    }

    .lp-font-size--small {
        font-size: 16px;
    }

    .lp-font-size--middle {
        font-size: 18px;
    }

    .lp-font-size--large {
        font-size: 24px;
    }
}

@media #{$viewport-lg} {

    h1, .lp-h1 {
        font-size: 48px;
        margin-bottom: 24px;
    }

    h2, .lp-h2 {
        font-size: 36px;
        margin-bottom: 24px;
    }

    .lp-h2--single {
        margin-bottom: 48px;
    }


    h3, .lp-h3 {
        font-size: 24px;
        margin-bottom: 48px;
    }
}

.lp-h2--margin-none,
.lp-h1--margin-none,
.lp-h3--margin-none {
    margin-bottom: 0px;
}

.slick-dots li:only-child {
    display: none;
}

.lp-product-description {
    padding: 0 0 20px 0;
}

.lp-old-price {
    text-decoration: line-through;
}

.slick-slide img {
    display: inline-block;
}

.block-html-content {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 20px;
    font-size: 20px;
}

.border-bottom-dashed {
    border-bottom: 1px dashed;
}

.video-view {
    position: relative;

    &__custom-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 1;
        border-radius: 50%;
        border: 11px solid #fff;
        background-color: #fff;
    }

    &__custom-play-icon {
        width: 52px;
        height: 52px;
    }
}


.background-attachment-scroll,
.background-attachment-fixed {
    background-size: cover;
    background-position: center center;
}

.background-attachment-scroll {
    background-attachment: scroll;
}

.background-attachment-fixed {
    background-attachment: fixed;
}

@media(max-device-width: 30em) {
    .background-attachment-fixed {
        background-attachment: scroll;
    }
}

/*кастомизация скролла*/

.scroll-always-visible::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 100px;
    height: 2px;
}

.scroll-always-visible::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/************************/

/* Анимации при наведении*/
.zoom-animation > img {
    overflow: hidden;
    transition: 1s;

    &:hover {
        transform: scale(1.1);
    }
}

.next-image-animation {
    position: relative;

    img {
        transition: opacity 0.2s linear;
    }

    img:nth-child(2n) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        /*z-index: -1;*/
        opacity: 0;
    }


    &:hover img:not(:last-child) {
        opacity: 0;
    }

    &:hover img:not(:first-child) {
        /*z-index: 0;*/
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
    /*&:hover img:nth-child(2n) {
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }*/
}

/************************/