
.link-service,
.link-service--secondary{
    cursor: pointer;
}

.link-service {
    color: #2d9ced;
    text-decoration: underline;

    &:hover {
        color: lighten(#2d9ced, 20%);
        text-decoration: none;
    }

    &:active {
        color: darken(#2d9ced, 20%);
    }
}

.link-service--secondary{
    color: #4b4f58;
    text-decoration: underline;

    &:hover {
        color: lighten(#4b4f58, 20%);
        text-decoration: none;
    }

    &:active {
        color: darken(#4b4f58, 20%);
    }
}

.link-decoration-invert,
.link-decoration-none,
.link-text-decoration-none,
.link-decoration-none:hover,
.link-text-decoration-none:hover {
    text-decoration: none;
}

.link-decoration-invert:hover {
    text-decoration: underline;
}

.link-dotted, .link-dotted-invert {
    border-bottom: 1px transparent dotted;
}

.link-dotted {
    border-bottom-color: #fff;
}

.link-dotted:hover {
    border-bottom-color: transparent;
}