.adv-modal, .adv-modal-floating {

    .modal-header {
        font-size: 16px;
        line-height: 1.25;
        font-weight: normal;
        padding-bottom: 12px;
        padding-top: 16px;
        padding-left: 25px;
        padding-right: 45px;
        border-bottom-color: #f0f0f0;
    }

    .modal-content {
        overflow-x: hidden;
        overflow-y: auto;
        padding: 25px;
        box-shadow: none;
        max-height: calc(var(--min-full-height) - 45px); //45px - close button
        line-height: normal;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;
    }

    .modal-header ~ .modal-content {
        max-height: calc(var(--min-full-height) - 45px - 49px); //45px - close button, 49 - header height modal,
    }

    .modal-footer ~ .modal-content {
        max-height: calc(var(--min-full-height) - 45px - 73px); //45px - close button, 73px - footer height modal
    }

    .modal-header ~ .modal-footer ~ .modal-content {
        max-height: calc(var(--min-full-height) - 45px - 49px - 73px); //45px - close button, 49px - header height modal, 73px - footer height modal
    }

    .modal-footer {
        background-color: transparent;
        border-top-color: #f4f5f7;
        padding-left: 23px;
        padding-right: 23px;
        text-align: left;
        order: 100;
        line-height: 1 !important;
    }

    .adv-modal-inner {
        display: inline-flex;
        border-width: 1px;
        border-style: solid;
    }

    .adv-modal-close {
        &:after {
            content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4gICAgPHBhdGggZmlsbD0iI2MxYzFjMSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTMuMTMyIDEyLjQyNWw2LjcxNyA2LjcxNy0uNzA3LjcwNy02LjcxNy02LjcxNy02LjcxOCA2LjcxN0w1IDE5LjE0Mmw2LjcxOC02LjcxN0w1IDUuNzA3IDUuNzA3IDVsNi43MTggNi43MThMMTkuMTQyIDVsLjcwNy43MDctNi43MTcgNi43MTh6Ii8+PC9zdmc+) !important;
            height: 24px;
            width: 24px;
            font-size: 0;
            line-height: 0;
        }
    }
}

.adv-modal-inner {
    border-color: transparent;
}

.lp-settings-modal-overlay,
.blocks-constructor-modal--settings {
    .modal-content {
        max-height: 90vh; // 49 - header height modal
    }

    .modal-header ~ .modal-content {
        max-height: calc(90vh - 49px); // 49 - header height modal
    }

    .modal-footer ~ .modal-content {
        max-height: calc(90vh - 73px); // 73px - footer height modal
    }

    .modal-header ~ .modal-footer ~ .modal-content {
        max-height: calc(90vh - 49px - 73px); // 49 - header height modal, 73px - footer height modal
    }
}

.adv-modals--hide {
    overflow: auto !important;

    .adv-modal, .adv-modal-floating {
        display: none !important;
    }
}


@media(min-width:48em) and (min-height: 600px) {
    .adv-modal, .adv-modal-floating {
        .adv-modal-close {
            left: auto;
            right: 12px;
            top: 12px;
            box-sizing: border-box;
            border-style: solid;
            font-size: 0;
            line-height: 0;
            height: 24px;
            width: 24px;
            line-height: normal;

            &:after {
                content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4gICAgPHBhdGggZmlsbD0iI2MxYzFjMSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTMuMTMyIDEyLjQyNWw2LjcxNyA2LjcxNy0uNzA3LjcwNy02LjcxNy02LjcxNy02LjcxOCA2LjcxN0w1IDE5LjE0Mmw2LjcxOC02LjcxN0w1IDUuNzA3IDUuNzA3IDVsNi43MTggNi43MThMMTkuMTQyIDVsLjcwNy43MDctNi43MTcgNi43MTh6Ii8+PC9zdmc+) !important;
                height: 24px;
                width: 24px;
                font-size: 0;
                line-height: 0;
            }


            & + .modal-header {
                padding-right: 50px;
            }
        }

        .adv-modal-inner {
            height: auto; //для Safari
        }

        .modal-content{
            max-height: 100vh;
        }
    }
}

.modal-quickview {
    min-height: 0;
}