@import "../_common/variables.scss";


@mixin visibility($size) {
    .hidden-#{$size} {
        display: none !important;
    }

    .visible-#{$size} {
        display: block !important;
    }
}

@include visibility('xs');

@media #{$viewport-sm} {
    @include visibility('sm');
}

@media #{$viewport-md} {
    @include visibility('md');
}

@media #{$viewport-lg} {
    @include visibility('lg');
}

@media(max-width:63em) {
    .hidden-device-mobile {
        display: none !important;
    }
}

@media(min-width:64em) {
    .hidden-device-desktop {
        display: none !important;
    }
}
