$viewport-xs : "(min-width: 30em)"; /*>480 - смартфоны*/
$viewport-sm : "(min-width: 48em)"; /*>768 - планшеты*/
$viewport-md : "(min-width: 64em)"; /*>1024 - нетбуки, ноутбуки*/
$viewport-lg : "(min-width: 75em)"; /*>1200 - десктоп*/
$viewport-wl: "(min-width: 100em)"; /*>1600 - десктоп*/