@using AdvantShop.Core.Services.Landing.Pictures;
@model BlockModel
<div class="lp-area">
    <div class="container-fluid">
        <div class="lp-container">
            <div class="text-center">
                @Html.BlockHeader(Model)
            </div>
            <div class="flex @(Model.Block.TryGetSetting("align_image") != null ? Model.Block.TryGetSetting("align_image") :"center-xs")" data-e2e="PictureBlock">
                <div class="flex-grow">
                    @Html.SubBlockPicture(Model.Block, "picture", new PictureLoaderTriggerModel()
                    {
                        DeletePicture = false,
                        GalleryIconsEnabled = false,
                        LazyLoadType = ePictureLoaderLazyLoadType.Default,
                        MaxWidthPicture = PictureLoaderImageSize.WallWidth,
                        MaxHeightPicture = PictureLoaderImageSize.WallHeight,
                        ImageLink = Model.Block.TryGetSetting("image_link")
                    }, Model.Inplace)
                </div>
            </div>
        </div>
    </div>
</div>
