@import "../../../_common/variables.scss";

.svg-wrap:hover .svg-fill-custom {
    fill: rgba(255, 255, 255, 0.1);
}

.lp-block-cover {
    background-size: cover;
    position: relative;
    background-repeat: no-repeat !important;
}

.lp-cover-header {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 20px;
    text-align: center;
}

.lp-cover-text {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 43px;
}

.lp-cover-btn-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.lp-cover-btn-wrap-addition {
    margin-left: 0;
}

.lp-cover-btn-wrap.lp-cover-btn-wrap-inline .lp-btn {
    display: flex;
    align-items: center;
}

.lp-cover-btn-wrap.lp-cover-btn-wrap-inline {
    display: flex;
    justify-content: center;
}

@media #{$viewport-sm} {
    .lp-cover-header {
        font-size: 52px;
        line-height: 1;
        margin-bottom: 28px;
    }

    .lp-cover-btn-wrap.lp-cover-btn-wrap-inline {
        display: inline-flex;
    }

    .lp-cover-btn-wrap-addition {
        margin-left: 20px;
    }

    .lp-cover-text {
        line-height: 1.4;
        *font-size: 20px;
        margin-bottom: 48px;
    }
}

@media #{$viewport-lg} {
    .lp-cover-header {
        font-size: 68px;
        line-height: 1;
        margin-bottom: 32px;
    }

    .lp-cover-text {
        line-height: 1.5;
        font-size: 24px;
        margin-bottom: 44px;
    }
}

/******** CoverVideo *********/

.lp-block-cover-video-header {
    font-size: 32px;
    line-height: 1.04;
    margin-bottom: 22px;
    text-align: center;
}

.lp-block-cover-video-text {
    line-height: 1.3;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}

@media #{$viewport-sm} {

    .lp-block-cover-video-header {
        font-size: 40px;
        line-height: 1;
    }

    .lp-block-cover-video-text {
        line-height: 1.25;
        font-size: 15px;
    }
}


@media #{$viewport-lg} {

    .lp-block-cover-video-header {
        font-size: 48px;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 24px;
    }

    .lp-block-cover-video-text {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 65px;
    }
}


/****************************/

/*********** CoverVideoLeft *************/

.lp-block-cover-video-left-header {
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 29px;
    text-align: left;
    margin-bottom: 16px;
    font-weight: 300;
}

.lp-block-cover-video-left-text {
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 300;
}

.lp-block-cover-video-left .iframe-responsive__item {
    max-height: none !important;
    max-width: none !important;
}

.lp-block-cover-video-left-text-wrap {
    margin-bottom: 76px;
}

@media #{$viewport-sm} {

    .lp-block-cover-video-left-header {
        font-size: 40px;
        line-height: 1;
        text-align: left;
        margin-bottom: 20px;
    }

    .lp-block-cover-video-left-text {
        font-size: 20px;
        line-height: 1.4;
        text-align: left;
        margin-bottom: 36px;
    }

    .lp-block-cover-video-left .lp-cover-btn-wrap {
        text-align: left;
    }

    .lp-block-cover-video-left-text-wrap {
        margin-bottom: 0px;
    }
}

@media #{$viewport-lg} {

    .lp-block-cover-video-left-header {
        font-size: 48px;
        line-height: 1;
        text-align: left;
        margin-bottom: 24px;
    }

    .lp-block-cover-video-left-text {
        font-size: 24px;
        line-height: 1.33;
        text-align: left;
        margin-bottom: 35px;
    }
}
/*****************************/

/*.lp-block-cover-video-left iframe-responsive iframe {
    display: block;
    box-shadow: 0 13px 45px -2px rgba(0, 0, 0, 0.5);
}*/

/*********** CoverTextLeft *************/

.lp-block-cover-text-left-header {
    font-size: 32px;
    font-weight: 100;
    line-height: 1.25;
    margin-bottom: 16px;
}

.lp-block-cover-text-left-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 29px;
    font-weight: 100;
}

.lp-block-cover-text-left .lp-cover-btn-wrap {
    margin-top: 78px;
}

@media #{$viewport-sm} {
    .lp-block-cover-text-left-header {
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 24px;
    }

    .lp-block-cover-text-left-text {
        line-height: 1.4;
        font-size: 20px;
        margin-bottom: 32px;
    }
}


@media #{$viewport-lg} {

    .lp-block-cover-text-left-header {
        font-size: 48px;
        line-height: 1;
        margin-bottom: 24px;
    }

    .lp-block-cover-text-left-text {
        font-size: 24px;
        line-height: 1.33;
        margin-bottom: 48px;
    }
}


/****************************************/

/****cover-text-form-slim*/


.lp-block-cover-text-form-slim__form-wrap {
    padding-top: 20px;
    padding-left: 27px;
    padding-bottom: 27px;
    padding-right: 27px;
    border-radius: 5px;
}

/**************************/

/********* CoverFormVidoLeft ***********/

/*.cover-form-video-left .lp-form {
    background-color: #fff;
}*/

.lp-block-cover-form-video-left-header {
    /*font-size: 43px;
    line-height: 1.04;*/
    text-align: center;
    /*margin-bottom: 22px;*/
}

.lp-block-cover-form-video-left-text {
    /*line-height: 1.3;
    font-size: 16px;*/
    text-align: center;
    /*margin-bottom: 22px;*/
}


@media #{$viewport-sm} {

    .lp-block-cover-form-video-left-header {
        /*font-size: 54px;
        line-height: 1.25;*/
        /*margin-bottom: 20px;*/
        text-align: center;
    }

    .lp-block-cover-form-video-left-text {
        /*line-height: 1.25;
        font-size: 20px;*/
        /*margin-bottom: 63px;*/
        text-align: center;
    }
}

@media #{$viewport-lg} {

    .lp-block-cover-form-video-left-header {
        /*font-size: 63px;
        line-height: 1.03;*/
        /*margin-bottom: 20px;*/
    }

    .lp-block-cover-form-video-left-text {
        /*font-size: 29px;
        line-height: 1.34;*/
        /*margin-bottom: 63px;*/
    }
}

/**************************************/


/************ CoverForm **********/

.lp-cover-form-header {
    font-size: 35px;
}


/********************************/

.lp-cover-form-column {
    margin-bottom: 23px;
}

.cover-form-video-left-light .lp-form {
    padding-top: 0;
}


/**************** Анимация для стрелки ********************/

.icon-lp-down-open {
    animation: arrow-bottom 2s infinite ease;
}


@keyframes arrow-bottom {
    0% {
        transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    60% {
        transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

/*************************************************/


/******** Covers text bottom *******/


/*.cover-text-left-bottom__header {
    font-size: 43px;
    position: relative;
    line-height: 1.04;
    margin-bottom: 22px;
    font-weight: 100;
}

.cover-text-left-bottom__text {
    line-height: 1.3;
    font-size: 16px;
}*/


/*@media #{$viewport-sm} {

    .cover-text-left-bottom__header {
        font-size: 37px;
        line-height: 1;
    }

    .cover-text-left-bottom__text {
        line-height: 1.2;
        font-size: 20px;
    }

}

@media #{$viewport-lg} {
    .cover-text-left-bottom__header {
        font-size: 52px;
        line-height: 1;
    }

    .cover-text-left-bottom__text {
        line-height: 1.2;
        font-size: 24px;
    }
}*/


/*********************************/



/********** lp-block-cover-text-left-modal-video ******************/

/*.lp-block-cover-text-left-modal-video-header {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.29;
    margin-bottom: 16px;
}*/

/*.lp-block-cover-text-left-modal-video-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 64px;
}*/


@media #{$viewport-sm} {
    .lp-block-cover-text-left-modal-video-header {
        font-weight: 600;
        /*font-size: 48px;
        line-height: 1.2;
        margin-bottom: 21px;*/
    }

    /*.lp-block-cover-text-left-modal-video-text {
        font-weight: 300;
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 44px;
    }*/
}

@media #{$viewport-lg} {
    .lp-block-cover-text-left-modal-video-header {
        font-weight: 600;
        /*font-size: 48px;
        line-height: 1;
        margin-bottom: 24px;*/
    }

    /*.lp-block-cover-text-left-modal-video-text {
        font-weight: 300;
        font-size: 24px;
        line-height: 1.33;
        margin-bottom: 44px;
    }*/


}

/******************************************************************/

.cover-image-text__picture-wrap {
    margin-bottom: 20px;
}


.cover-carousel {
    padding: 0 !important;
    box-shadow: none !important;

    &__items-wrap {
        white-space: nowrap;
    }

    &__item {
        background-position: center center;
        background-attachment: scroll;
        height: auto;
        position: relative;
        display: inline-block;
        white-space: normal;
    }

    &__item-inner {
        position: relative;
        z-index: 2;
        padding-bottom: 65px;
    }

    &__image {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        background-size: cover;
        background-position: center center;
    }

    .slick-slide {
        position: relative;
    }

    .slick-next {
        height: 38px;
        width: 30px;
        right: 4px;
        padding: 10px;
    }

    .slick-prev {
        height: 38px;
        width: 30px;
        left: 4px;
        padding: 10px;
    }

    .slick-arrow {
        z-index: 1;
    }

    .slick-dots {
        bottom: 20px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
}

@media #{$viewport-sm} {
    .cover-image-text__picture-wrap {
        margin-bottom: 0;
    }

    .cover-carousel {

        .slick-next {
            right: 25px;
        }

        .slick-prev {
            left: 25px;
        }
    }
}

/*cover-form-center*/
.cover-form-center {

    &__wrap {
        width: 100%;
        box-sizing: border-box;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &__rounded-wrap {
        padding-bottom: 40px;
        padding-top: 25px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 4%;
        padding-left: 4%;
    }

    &__width-block {
        position: relative;
        min-width: 100%;
    }

    &__prop {
        margin-top: 0;
    }

    .only-one-field .lp-form__agreement {
        order: 3;
    }

    .only-one-field .lp-form__body {
        justify-content: center;
    }

    .only-one-field .lp-form__submit-block,
    .only-one-field .lp-form__field {
        flex-grow: 0;
        flex-basis: auto;
        flex-shrink: 1;
        padding-left: 8px;
        padding-right: 8px;
    }

    & .lp-form__body--vertical {
        margin-top: 0;
    }

    &__subtitle {
        /*font-size: 22px;*/
    }

    & .scroll-to-block-trigger {
        bottom: 0;
    }

    &__text {

        margin-bottom: 15px;

        &--height-limiter {
            max-height: 115px;
            overflow: hidden;
        }
    }
}

@media (min-width: 550px) {
    .cover-form-center {

        &__rounded-wrap {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            padding-bottom: 0;
            padding-top: 0;
        }

        &__prop {
            margin-top: 100%;
        }

        &__wrap {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        &__rounded-wrap {
            padding-right: 10%;
            padding-left: 10%;
        }

        &__width-block {
            position: relative;
            min-width: 544px;
            box-sizing: border-box;
        }

        &__text {
            margin-bottom: 20px;
        }
    }
}

@media #{$viewport-md} {
    .cover-form-center {

        &__subtitle {
            /*font-size: 26px;*/
        }
    }
}


@media #{$viewport-lg} {
    .cover-form-center {

        &__subtitle {
            /*font-size: 30px;*/
        }
    }
}


/*****************/

/*VideoBackground*/

.video-background {
    &__video-container {
        /*position: relative;*/
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0;
    }

    &__overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__text-container {
        position: relative;
        z-index: 1;
    }

    &__image-inner {
        margin-bottom: 30px;
    }
    /*&__text-container {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        margin: auto;
    }*/
}



.lp-block-video-background {
    position: relative;
    /*video,*/
    .video-background__video-container > div,
    subblock-inplace > div,
    subblock-inplace {
        width: 100%;
        height: 100%;
    }

    iframe {
        box-sizing: border-box;
        height: 56.25vh; //9 / (16 / 100) = 56.25
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        width: 177.77777778vw; // 16 / (9 / 100) = 177.77777778
    }

    .iframe-responsive__container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .iframe-responsive__container-upload .iframe-responsive__container {
        position: static;
        padding-bottom: 0;
        height: auto;
        overflow: hidden;
        max-width: 100%;
        min-width: 100%;
        transform: translate(0, 0);
    }
}

.block-full-height.lp-block-video-background {

    .embed-container {
        min-height: 100vh;
        box-sizing: border-box;
    }
    /*video,*/
    iframe {
        box-sizing: border-box;
        height: 56.25vw;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        width: 177.77777778vh;
        // 16 / (9 / 100) = 177.77777778//9 / (16 / 100) = 56.25
    }
}

@media #{$viewport-sm} {

    .video-background {
        &__image-inner {
            margin-bottom: 45px;
        }
    }
}

/**********************/
