<div class="onoffswitch">
    <input data-e2e="switchOnOffInput"
           id="{{$ctrl.id}}"
           name="{{$ctrl.id}}"
           type="checkbox"
           ng-model="$ctrl.checked"
           ng-change="$ctrl.onChange({checked:$ctrl.checked})"
           class="onoffswitch-checkbox"
           value="{{$ctrl.checked ? 'true' : 'false'}}">
    <label data-e2e="switchOnOffLabel"
           for="{{($ctrl.readonly != true ? $ctrl.id : '')}}"
           class="onoffswitch-label"
           ng-click="$ctrl.onClick()">
        <span class="onoffswitch-inner">
            <span class="onoffswitch-inner-on">Вкл</span>
            <span class="onoffswitch-inner-off">Выкл</span>
        </span><span class="onoffswitch-switch">
        </span>
    </label>
</div>
