<div class="form-group row">
    <div class="col-xs-2">
        <div class="m-b-xs">
            Метод
        </div>
        <select ng-model="ctrl.action.SendRequestData.RequestMethod" class="form-control"
                ng-options="s.value as s.label for s in ctrl.methodOptions">
        </select>
    </div>
    <div class="col-xs">
        <div class="m-b-xs">
            URL
        </div>
        <input type="text" ng-model="ctrl.action.SendRequestData.RequestUrl" class="form-control"/>
    </div>
</div>

<div ng-if="ctrl.action.SendRequestData.RequestMethod == 1">
    <div class="row m-b-xs">
        <div class="col-xs-12 bold">
            <span class="p-r-md">Параметры</span>

            <label class="adv-radio-label">
                Форма
                <input class="adv-radio-input" ng-model="ctrl.action.SendRequestData.RequestParamsType" type="radio" value="0">
                <span class="adv-radio-emul"></span>
            </label>
            <label class="adv-radio-label">
                Текст
                <input class="adv-radio-input" ng-model="ctrl.action.SendRequestData.RequestParamsType" type="radio" value="1">
                <span class="adv-radio-emul"></span>
            </label>
        </div>
    </div>
    
    <div ng-if="ctrl.action.SendRequestData.RequestParamsType == '1'">
        <div class="form-group row middle-xs m-b-md">
            <div class="col-xs-12">
                <textarea rows="12" class="form-control" ng-model="ctrl.action.SendRequestData.RequestParamsJson"></textarea>
            </div>
        </div>
    </div>
    <div ng-if="ctrl.action.SendRequestData.RequestParamsType == '0'">
        <div ng-if="ctrl.action.SendRequestData.RequestParams != null && ctrl.action.SendRequestData.RequestParams.length > 0"
             ng-repeat="item in ctrl.action.SendRequestData.RequestParams track by $index"
             class="form-group row middle-xs m-b">
            <div class="col-xs-2">
                <input type="text" ng-model="item.Key" class="form-control"/>
            </div>
            <div class="col-xs-4">
                <input type="text" ng-model="item.Value" class="form-control"/>
            </div>
            <div class="col-xs-1">
                <a href="" ng-click="ctrl.removeParam(item)"
                   class="fa fa-times link-invert link-decoration-none p-l-xs" title="Удалить"></a>
            </div>
        </div>
        <div class="form-group row middle-xs m-b-md" ng-if="!ctrl.showAddingNewParam">
            <div class="col-xs-12">
                <a href="" ng-click="ctrl.showAddingNewParam = true">Добавить</a>
            </div>
        </div>
    </div>

</div>

<div ng-if="ctrl.action.SendRequestData.RequestMethod == 1 && ctrl.showAddingNewParam" class="m-b-md">
    <div class="row m-b-xs">
        <div class="col-xs-2">Название</div>
        <div class="col-xs-2">Значение</div>
    </div>
    <div class="form-group row middle-xs">
        <div class="col-xs-2">
            <input type="text" ng-model="ctrl.newParamKey" class="form-control"/>
        </div>
        <div class="col-xs-4">
            <input type="text" ng-model="ctrl.newParamValue" class="form-control"/>
        </div>
        <div class="col-xs-2">
            <a href="" class="" ng-click="ctrl.addParam()">Добавить</a>
        </div>
    </div>
</div>

<div ng-if="ctrl.action.SendRequestData.RequestMethod == 1">
    <div class="row m-b-xs">
        <div class="col-xs-12 bold">Заголовки</div>
    </div>
    <div ng-if="ctrl.action.SendRequestData.RequestHeaderParams != null && ctrl.action.SendRequestData.RequestHeaderParams.length > 0"
         ng-repeat="item in ctrl.action.SendRequestData.RequestHeaderParams track by $index"
         class="form-group row middle-xs m-b">
        <div class="col-xs-2">
            <input type="text" ng-model="item.Key" class="form-control"/>
        </div>
        <div class="col-xs-4">
            <input type="text" ng-model="item.Value" class="form-control"/>
        </div>
        <div class="col-xs-1">
            <a href="" ng-click="ctrl.removeHeaderParam(item)"
               class="fa fa-times link-invert link-decoration-none p-l-xs" title="Удалить"></a>
        </div>
    </div>
    <div class="form-group row middle-xs m-b-md" ng-if="!ctrl.showAddingNewHeaderParam">
        <div class="col-xs-12">
            <a href="" ng-click="ctrl.showAddingNewHeaderParam = true">Добавить</a>
        </div>
    </div>
</div>

<div ng-if="ctrl.action.SendRequestData.RequestMethod == 1 && ctrl.showAddingNewHeaderParam" class="m-b-md">
    <div class="row m-b-xs">
        <div class="col-xs-2">Название</div>
        <div class="col-xs-4">Значение</div>
    </div>
    <div class="form-group row middle-xs">
        <div class="col-xs-2">
            <input type="text" ng-model="ctrl.newHeaderParamKey" class="form-control" />
        </div>
        <div class="col-xs-4">
            <input type="text" ng-model="ctrl.newHeaderParamValue" class="form-control" />
        </div>
        <div class="col-xs-2">
            <a href="" class="" ng-click="ctrl.addHeaderParam()">Добавить</a>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-12">
        Доступные переменные: {{ctrl.getSendRequestParameters()}}
    </div>
</div>
