<h2 class="m-b-md clearfix">
    {{'Admin.Js.CustomerOrders.Orders'|translate}}
    <a href="orders/add?customerId={{$ctrl.customerId}}" data-e2e="addOrder" class="pull-right btn btn-sm btn-action" target="_blank">{{'Admin.Js.CustomerOrders.CreateOrder'|translate}}</a>
</h2>
<div class="m-b-lg">
    <div class="row">
        <div class="col-xs-12">
            <ui-grid-custom grid-unique-id="gridCustomerOrders{{$ctrl.prefix}}"
                            grid-filter-enabled="false"
                            grid-selection-enabled="false"
                            grid-params="{customerId: $ctrl.customerId}"
                            grid-options="$ctrl.gridOrdersOptions"
                            grid-url="'orders/getOrders'">
            </ui-grid-custom>
        </div>
    </div>
</div>