<div class="iframe-responsive__container embed-container" data-ng-class="{'iframe-responsive__container-upload': $ctrl.fromUpload}">

    <div class="iframe-responsive__item" data-ng-if="$ctrl.isPlayerCode && $ctrl.fromUpload == false">
        <div data-ng-bind-html="$ctrl.playerCode | sanitize"></div>
    </div>
    <div class="iframe-responsive__item"
         data-ng-if="$ctrl.isPlayerCode == false && $ctrl.fromUpload == false">
        <i class="subblock-inplace-button-trigger"></i>
        <div data-ng-if="!$ctrl.inModal">
            <div class="iframe-responsive__custom-play-wrap" data-ng-if="!$ctrl.asBackground" data-ng-class="{'ng-hide': !$ctrl.visibleCover}" data-ng-style="{'background-image': $ctrl.coverVideoPath}">
                <div class="iframe-responsive__custom-play">
                    <svg version="1.1" viewBox="-1 0 20 20" fill="#303030" class="iframe-responsive__custom-play-icon"><path d="M15,10l-9,5V5L15,10z" /></svg>
                </div>
            </div>
            <div id="{{$ctrl.playerId}}"></div>
        </div>
        <div data-ng-if="$ctrl.inModal">
            <iframe id="{{$ctrl.playerId}}"
                    data-ng-attr-viewport-video="{{$ctrl.loop}}"
                    data-ng-attr-allow="{{$ctrl.autoplay ? 'autoplay; encrypted-media' : null}}"
                    data-ng-class="{'ng-hide': !$ctrl.visibleVideo}"
                    target="_self"
                    allowfullscreen="allowfullscreen"
                    mozallowfullscreen="mozallowfullscreen"
                    msallowfullscreen="msallowfullscreen"
                    oallowfullscreen="oallowfullscreen"
                    webkitallowfullscreen="webkitallowfullscreen"
                    data-ng-src="{{$ctrl.iframeSrc}}" />
        </div>
    </div>
    <div class="iframe-responsive__item" data-ng-if="$ctrl.fromUpload">
        <video data-ng-src="{{'./' + $ctrl.src}}"
               controls
               type="video/mp4"
               frameborder="0"
               allowfullscreen
               ng-attr-autoplay="{{$ctrl.autoplay}}"
               ng-attr-loop="{{$ctrl.autoplay}}"
               muted
               preload="auto">
        </video>
    </div>
</div>

