<div>
    <a class="btn btn-xsmall btn-submit" href="javascript:void(0)" ng-click="yandexNewDelivery.openModal()">
        {{ ::yandexNewDelivery.yandexNewDeliveryType == 'COURIER'
            ? ('Js.ShippingTemplate.SelectCourier' | translate)
            : ('Js.ShippingTemplate.SelectPickupPoint' | translate) }}
    </a>
    <div data-ng-bind="yandexNewDelivery.yandexNewDeliveryShipping.ShippingInfo"></div>
    <div data-ng-if="yandexNewDelivery.yandexNewDeliveryShipping.ShippingInfo == null && yandexNewDelivery.yandexNewDeliveryIsSelected"
         class="shipping-extend-error error-color">
        {{ ::yandexNewDelivery.yandexNewDeliveryType == 'COURIER'
            ? ('Js.ShippingTemplate.SelectCourier.NotSelected' | translate)
            : ('Js.ShippingTemplate.SelectPickupPointOrDelivery.NotSelected' | translate)}}
    </div>
    <input data-ng-if="yandexNewDelivery.yandexNewDeliveryIsSelected" class="shipping-extend-input-hidden" type="text"
           data-ng-model="yandexNewDelivery.yandexNewDeliveryShipping.ShippingInfo" required readonly
           data-validation-input-text="{{ ::'Js.ShippingTemplate.SelectPickupPoint.NotSelected' | translate }}"/>
    <div id="{{'ydwidget_' + yandexNewDelivery.yandexNewDeliveryType}}"></div>
</div>