<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net45" />
  <package id="AngleSharp" version="0.9.9" targetFramework="net45" />
  <package id="AuthorizeNet" version="1.8.3" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net45" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net45" />
  <package id="Dapper" version="1.50.2" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.8.1" targetFramework="net45" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net45" />
  <package id="EPPlus" version="4.1.0" targetFramework="net45" />
  <package id="Gma.QrCodeNet" version="0.4.1.2" targetFramework="net45" />
  <package id="Google.GData.Analytics" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.11.33" targetFramework="net45" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net45" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net45" />
  <package id="MailKit" version="1.16.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MimeKit" version="1.16.1" targetFramework="net45" />
  <package id="NetFx.Extensions.DependencyInjection" version="2.2.0" targetFramework="net45" />
  <package id="NetFx.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net45" />
  <package id="NetFx.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Quartz" version="2.5.0" targetFramework="net45" />
  <package id="RazorEngine" version="3.9.3" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="RollbarSharp" version="1.0.0.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="SquishIt" version="1.0.4" targetFramework="net45" />
  <package id="SquishIt.AspNet" version="1.0.4" targetFramework="net45" />
  <package id="SquishIt.Framework" version="1.0.4" targetFramework="net45" />
  <package id="VkNet" version="1.63.0" targetFramework="net45" developmentDependency="true" />
  <package id="WebActivatorEx" version="2.1.0" targetFramework="net45" />
  <package id="YUICompressor.NET" version="2.3.0.0" targetFramework="net45" />
</packages>