
.selector-content {
    max-width: 1050px;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 auto;
    padding: 32px;
}

.selector-title {
    color: #2F4050;
    letter-spacing: 0.01em;
    font-weight: normal;
    font-size: 18px;
    text-align:center;
    margin:0;
}

.selector-block {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selector-content .selector-or {
    background: #2D9CEE;
    margin: 0 16px;
    position: relative;
    width: 1px;
}

.selector-content .selector-or-word {
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    left: 50%;
    margin: -18px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 40px;
    transform: translateY(-50%);
    text-align: center;
}

.selector-about {
    margin:12px 0;
    font-size: 18px !important;
    letter-spacing: 0.01em;
    color: #000000;
}

.selector-btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding:5px 15px !important;
    font-weight: 600;
    font-size: 18px !important;
}

.selector-column {
    text-align:center;
}

.selector-img-wrapper img {
    width:100%;
    height:auto;
}

.selector-img-wrapper {
    box-shadow: 0px 0px 25px 7px #e4e4ed;
    border-radius: 2px;
}

.selector-column-2 {
    margin-top:30px;
}

@media (min-width: 768px) {
    .selector-content-wrap {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .selector-block {
        flex-direction: row;
    }

    .selector-content {
        padding:52px;
    }

    .selector-column {
        padding:30px 0;
    }

    .selector-about {
        margin:30px 0;
    }

    .selector-btn {
        display: inline-block;
        width: auto;
        padding: 12px 40px !important;
    }

    .selector-title {
        font-size: 24px;
    }

    .selector-column-2 {
        margin-top:0px;
    }

    .selector-column {
      width:270px;
    }
}

@media(min-width:900px) {
    .selector-column {
      width:350px;
    }
}

@media(min-width:1000px) {
    .selector-column {
      width:350px;
    }

    .selector-content {
        padding:72px;
    }
}

@media(min-width:1060px) {
    .selector-column {
     width:auto;
    }
}

