.picture-loader-trigger-backround-wrap {
  height: 100%;
}
.picture-loader-trigger-backround-wrap picture-loader-trigger {
  height: 100%;
  display: block;
}
.picture-loader-trigger-backround-wrap span {
  display: block;
  height: 100%;
  width: 100%;
}
.picture-loader-trigger-backround-wrap .picture-loader-trigger-image-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.picture-loader__row {
  padding: 20px 5px;
}
.picture-loader__row + .picture-loader__row {
  border-top: 1px solid #e2e2e2;
}
.picture-loader__icon {
  vertical-align: middle;
  margin-right: 15px;
  display: inline-block;
}
.picture-loader__form--by-url {
  display: flex;
  padding-top: 15px;
}
.picture-loader__form-input--by-url {
  flex-grow: 1;
  flex-basis: auto;
}
.picture-loader__form-button--by-url {
  flex-basis: 0;
  flex-shrink: 1;
  padding-left: 5px;
}

.picture-upload-modal .modal-content {
  padding-top: 0;
  padding-bottom: 0;
}

.picture-loader-image-wrap {
  line-height: 0;
  text-align: center;
}
.picture-loader-image-wrap .picture-loader-trigger-image-inner {
  flex-basis: 100%;
  max-width: 100%;
}
.picture-loader-image-wrap img {
  vertical-align: middle;
}
.picture-loader-image-wrap svg {
  font-size: 64px;
}

.picture-loader-trigger__controls {
  display: none;
  top: 0;
  right: 0;
}

.picture-loader-trigger,
picture-loader-trigger {
  height: 100%;
  max-width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.picture-loader-trigger:hover .subblock-inplace-image-trigger,
.picture-loader-trigger:hover .picture-loader-trigger__controls,
picture-loader-trigger:hover .subblock-inplace-image-trigger,
picture-loader-trigger:hover .picture-loader-trigger__controls {
  display: block;
}

.picture-loader-trigger-image-wrap {
  position: relative;
}

.picture-loader-link {
  text-decoration: none;
  display: inline-flex;
  align-content: center;
}
.picture-loader-link:hover {
  text-decoration: none;
}
.picture-loader-link--default {
  color: #3797eb;
}
.picture-loader-link--default:hover {
  color: #65aff0;
}
.picture-loader-link--danger {
  color: #f1453d;
}
.picture-loader-link--danger:hover {
  color: #ff655e;
}

.picture-loader-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-upload-modal a {
  text-decoration: none;
  color: #3797eb;
}
.picture-upload-modal a:hover {
  color: #65aff0;
  text-decoration: none;
}