.picture-loader-trigger-backround-wrap {
    height: 100%;

    picture-loader-trigger {
        height: 100%;
        display: block;
    }

    span {
        display: block;
        height: 100%;
        width: 100%;
    }

    .picture-loader-trigger-image-background {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
    }
}

.picture-loader {
    &__row {
        padding: 20px 5px;
    }

    &__row + &__row {
        border-top: 1px solid #e2e2e2;
    }

    &__icon {
        vertical-align: middle;
        margin-right: 15px;
        display: inline-block;
    }

    &__form {
        &--by-url {
            display: flex;
            padding-top: 15px;
        }
    }

    &__form-input--by-url {
        flex-grow: 1;
        flex-basis: auto;
    }

    &__form-button--by-url {
        flex-basis: 0;
        flex-shrink: 1;
        padding-left: 5px;
    }
}

.picture-upload-modal {
    .modal-content {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.picture-loader-image-wrap {
    line-height: 0;
    text-align: center;

    .picture-loader-trigger-image-inner {
        flex-basis: 100%;
        max-width: 100%;
    }

    img {
        vertical-align: middle;
    }

    svg {
        font-size: 64px;
    }
}

.picture-loader-trigger__controls {
    display: none;
    top: 0;
    right: 0;
}

.picture-loader-trigger,
picture-loader-trigger {
    height: 100%;
    max-width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &:hover {
        .subblock-inplace-image-trigger,
        .picture-loader-trigger__controls {
            display: block;
        }
    }
}

.picture-loader-trigger-image-wrap {
    position: relative;
}

.picture-loader-link {
    text-decoration: none;
    display: inline-flex;
    align-content: center;

    &:hover {
        text-decoration: none;
    }

    &--default {
        color: #3797eb;

        &:hover {
            color: #65aff0;
        }
    }

    &--danger {
        color: #f1453d;

        &:hover {
            color: #ff655e;
        }
    }
}

.picture-loader-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture-upload-modal {
    a {
        text-decoration: none;
        color: #3797eb;

        &:hover {
            color: #65aff0;
            text-decoration: none;
        }
    }
}