.partner-login-cnt, .partner-reg-cnt {
    max-width: 580px;
    min-width: 580px;
    -webkit-flex-basis: 580px;
    -ms-flex-preferred-size: 580px;
    flex-basis: 580px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.partner-login-block, .partner-reg-block {
    padding: 0 30px;
}

@media (min-width: 68em) {
    .partner-login-block {
        padding: 0 68px;
    }
}

.partner-acc-cnt {
    padding: 20px;
    border-radius: 20px;
}
    .partner-acc-cnt .form-field-name {
        font-size: 0.875rem;
    }
    .partner-acc-cnt .logo-block {
        box-sizing: border-box;
    }
.partner-acc-bg {
    min-width: 0;
    position: relative;
    background: url(../images/bg-partner.jpg) 0 0 no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-box-shadow: 200vh 200vw rgba(0, 0, 0, 0.4) inset;
    box-shadow: 200vh 200vw rgba(0, 0, 0, 0.4) inset;
}