<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.CertificateSettings.Title'|translate}}</h2>
    </div>
    <div class="modal-body">

        <div class="form-group middle-xs row">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    {{'Admin.Js.CertificateSettings.Taxes'|translate}}
                </div>
            </div>
            <div class="col-xs-8 relative">
                <ui-select required ng-model="ctrl.settings.Tax"
                           validation-input-text="{{'Admin.Js.CertificateSettings.Taxes'|translate}}">
                    <ui-select-match>{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="s.value as s in ctrl.settings.Taxes | filter: $select.search">
                        <div>{{s.label}} </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group middle-xs row">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    Предмет расчета
                </div>
            </div>
            <div class="col-xs-8 relative">
                <ui-select convert-to-number required ng-model="ctrl.settings.PaymentSubjectType"
                           validation-input-text="Предмет расчета">
                    <ui-select-match>{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="s.value as s in ctrl.settings.PaymentSubjectTypes | filter: $select.search">
                        <div>{{s.label}} </div>
                    </ui-select-choices>
                </ui-select>
                <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Предмет расчета">
                    <p>Данный параметр будет передаваться для печати чеков</p>
                </help-trigger>
            </div>
        </div>

        <div class="form-group middle-xs row">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    Способ расчета
                </div>
            </div>
            <div class="col-xs-8 relative">
                <ui-select convert-to-number required ng-model="ctrl.settings.PaymentMethodType"
                           validation-input-text="Способ расчета">
                    <ui-select-match>{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="s.value as s in ctrl.settings.PaymentMethodTypes | filter: $select.search">
                        <div>{{s.label}} </div>
                    </ui-select-choices>
                </ui-select>
                <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Способ расчета">
                    <p>Данный параметр будет передаваться для печати чеков</p>
                </help-trigger>
            </div>
        </div>

        <div class="form-group middle-xs row" ng-show="false">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    Оплата "Подарочный сертификат" только при покрытии сертификатом суммы заказа (старый алгоритм)
                </div>
            </div>
            <div class="col-xs-8 relative">
                <label class="adv-checkbox-label">
                    <input id="ShowCertificatePaymentMetodOnlyCoversSum" type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="ctrl.settings.ShowCertificatePaymentMetodOnlyCoversSum" />
                    <span class="adv-checkbox-emul"></span>
                    <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Подарочный сертификат">
                        <p>Неактивно - при применении сертификата способом оплаты будет только "Подарочный сертификат"</p>
                        <p>Активно - способ оплаты "Подарочный сертификат" будет только при применении сертификата, который покрывает сумму заказа</p>
                    </help-trigger>
                </label>
                <div class="adv-panel-danger">
                    Внимание!!! Включать данный параметр не рекомендуется.
                </div>
            </div>
        </div>

        <div class="form-group row" ng-if="ctrl.settings.PaymentMethods != null">
            <div class="col-xs-12">
                <h2>
                    {{'Admin.Js.CertificateSettings.PaymentMethods'|translate}}
                </h2>
                <div ng-repeat="item in ctrl.settings.PaymentMethods">
                    <label class="adv-checkbox-label">
                        <input type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="item.Selected" />
                        <span class="adv-checkbox-emul"></span>

                        {{item.Text}}
                    </label>
                </div>

            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" ladda="ctrl.btnSleep" ladda="btnSleep" type="button" data-button-validation-success="ctrl.save()" data-button-validation>{{'Admin.Js.CertificateSettings.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.CertificateSettings.Cancel'|translate}}</button>
    </div>
</form>