@model BlockModel

<div class="container-fluid">
    <div class="lp-container" data-e2e="@(Model.Config.Name)_container">
        <div class="row @(Model.Block.TryGetSetting("align_btns") != null ? Model.Block.TryGetSetting("align_btns") : "center-xs")">
            <div class="col-xs-12">
                @if (Model.Block.TryGetSetting("show_button") == true)
                {
                    <div class="m-b-sm m-t-sm" data-e2e="FormButtonBlock">@Html.Button(Model.Block, "button")</div>
                }
                @if (Model.Block.TryGetSetting("show_button2") == true)
                {
                    <div class="m-b-sm m-t-sm" data-e2e="FormButton2Block">@Html.Button(Model.Block, "button2")</div>
                }
            </div>
        </div>
    </div>
</div>
