<div class="items-list" bs-modifiable="false">
    <div class="item rel-product-item" data-ng-repeat="item in $ctrl.products track by $index">
        <div class="item-block">
            <div class="item-block__inner">
                <div class="clearfix">
                    <div class="pull-right">
                        <a href="" ng-click="$ctrl.deleteGift(item.OfferId)" class="link-invert link-decoration-none  link-grey fas fa-times categories-block-icon"></a>
                    </div>
                </div>
                <div class="item-block__content">
                    <figure class="item-block__figure">
                        <a href="{{item.Url}}" class="item-block__figure-link">
                            <img ng-src="{{item.ImageSrc}}" alt="" style="max-width: 130px; max-height: 130px;" />
                        </a>
                    </figure>
                </div>
            </div>
            <div class="item-block__name">
                <a href="{{item.Url}}" class="item-block__name-link">{{item.ArtNo}} - {{item.Name}}</a>
            </div>
            <div class="row m-b-sm">
                <div class="col-xs-7">
                    Количество основного товара
                </div>
                <div class="col-xs-5">
                    <input type="number" class="form-control" ng-model="item.ProductCount" ng-change="$ctrl.updateGift(item.OfferId, item.ProductCount)" ng-model-options="{debounce: 500}" />
                </div>
            </div>
        </div>
    </div>
</div>

<ui-modal-trigger class="header-subtext" size="xs-11" data-controller="'ModalOffersSelectvizrCtrl'" data-controller-as="ctrl"
                  data-on-close="$ctrl.addGifts(result)"
                  template-url="../areas/admin/content/src/_shared/modal/offers-selectvizr/offersSelectvizrModal.html">
    <a class="btn btn-sm btn-action" href="">
        {{'Admin.Js.ProductGifts.AddProduct'|translate}}
    </a>
</ui-modal-trigger>