<i ng-click="$ctrl.close()" class="fa fa-times lead-info-close" data-e2e="customerInfoClose"></i>
<div class="lead-info-inner" ng-if="$ctrl.isShow">
    <div class="lead-info__progress" ng-if="!$ctrl.isLoaded">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw lead-info__progress-icon"></i>
        <span class="fs-lg">{{'Admin.Js.CustomerInfo.LoadingData'|translate}}</span>
    </div>
    <div class="lead-info-content" data-ng-include="$ctrl.url" data-onload="$ctrl.isLoaded = true"></div>
</div>