@import "../functions/_util.scss", "../_settings.scss";

.checkout-success-content-top {
    font-size: $font-size-xmedium;
}

.checkout-success-content {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.checkout-success--layout-default {
    .checkout-success-content {
        min-height: rem-calc(300px);
        padding: 0 0 rem-calc(35px) 0;
    }
}
.checkout-success-progress {
    font-size: 20px;
    vertical-align: middle;
}