.closed-store {
    font-family: Arial, Helvetica, sans-serif;
    color: #4b4f58;
}
.closed-store__container {
    width: 80%;
    margin: 0 auto;
}
.closed-store__title {
    font-size: calc(40px + (60 - 40) * ((100vw - 360px) / (1280 - 360)));
    font-weight: bold;
    margin-top: 75px;
}
.closed-store__content {
    font-size: calc(20px + (30 - 20) * ((100vw - 360px) / (1280 - 360)));
    margin-top: 25px;
}