@import "../_settings.scss";
@import "../functions/_util.scss";

.compareproduct-container {
    position: relative;
    background-color: #FFF;
    padding-top: 10px;
}

/*.compareproduct-properties-col,
.compareproduct-products-col {
    float: right;
}*/

.compareproduct-properties-col {
    padding-right: 0;
}

.compareproduct-products-col {
    padding-left: 0;
}

.compareproduct-products-wrapper {
    display: block;
    overflow-x: auto;
    font-size: 0;
    line-height: 0;
    margin-bottom: $margin-value-base;
}


    .compareproduct-products-wrapper::-webkit-scrollbar {
        -webkit-appearance: none;
    }

        .compareproduct-products-wrapper::-webkit-scrollbar:vertical {
            width: rem-calc(11px);
        }

        .compareproduct-products-wrapper::-webkit-scrollbar:horizontal {
            height: rem-calc(11px);
        }

    .compareproduct-products-wrapper::-webkit-scrollbar-thumb {
        border-radius: rem-calc(8px);
        border: rem-calc(2px) solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, .5);
    }

    .compareproduct-products-wrapper::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: rem-calc(8px);
    }


.compareproduct-product,
.compareproduct-properties {
    padding: 0;
    margin: 0;
    list-style: none;
    display: table;
    vertical-align: top;
    font-size: $font-size-normal;
    border-collapse: collapse;
    border: rem-calc(1px) solid #DBDBDB;
}

.compareproduct-product .price-current,
.compareproduct-product .price-new {
    font-size: $font-size-large;
}

.compareproduct-properties {
    width: 100%;
}

.compareproduct-product {
    table-layout: fixed;
}

.compareproduct-product-row,
.compareproduct-properties-row {
    display: table-row;
}

.compareproduct-product-item,
.compareproduct-properties-item {
    display: table-cell;
    padding: rem-calc(10px) rem-calc(15px);
    border: 1px solid #dbdbdb;
    border-collapse: collapse;
    text-align: left;
    line-height: 1;
}

.compareproduct-properties-item {
    vertical-align: middle;
}

.compareproduct-product-item {
    text-align: center;
    width: 183px;
    min-width: 183px;
    /*vertical-align: top;*/
    vertical-align: middle;
}

    .compareproduct-product-item:first-child {
        border-width: 1px 1px 1px 0;
    }

.compareproduct-block-item-hover {
    background: #f7fbfe;
}

.compareproduct-product-name {
    position: relative;
    text-align: center;
    margin-bottom: 5px;
    line-height: 1.2;
    min-height: 30px;
    word-break: break-word;
}

.compareproduct-product-name-link {
}

.compareproduct-product-sku {
    text-align: center;
    color: #A5A8AF;
    margin-bottom: 5px;
}

.compareproduct-product-pic {
    max-height: 100%;
    max-width: 100%;
}

.compareproduct-product-pic-wrap {
    text-align: center;
    margin-bottom: 5px;
    display:flex;
    align-items:center;
    justify-content:center;
}



.compare-link-picture {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.compareproduct-product-btns {
    text-align: center;
    margin-top: rem-calc(5px);
}

.compareproduct-product-item-wrap {
    position: relative;
}

.compareproduct-product-remove {
    position: absolute;
    top: -8px;
    right: -15px;
    width: 20px;
    height: 20px;
    text-align: right;
}

.compare-picture {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.compareproduct-empty {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    display: none;
}

.compareproduct-remove-all {
    text-align: right;
    margin-bottom: 15px;
    border-bottom-color: inherit;
}

.compareproduct-empty-title {
    font-size: 24px;
    margin-bottom: 25px;
}

.compareproduct-empty-text {
    font-size: 14px;
    margin-bottom: 50px;
}
.compareproduct-product-rating{
    margin-bottom: 5px;
}