@import "../_settings.scss", "../functions/_util.scss";

.other-contacts  {
    margin-bottom: rem-calc(15px);
}

.contacts-phone-title {
    font-size: rem-calc(24px)
}
.contacts-phone {
    font-size: rem-calc(45px);
    line-height: 0.9;
}
