@import "../_settings.scss";
@import "../functions/_util.scss";

.news-menu-link {
    display: block;
    padding: rem-calc(7px) rem-calc(17px);
    font-size: rem-calc(15px);
    text-decoration: none;
    border-radius: $border-radius-base;
}

.news-link-title {
    font-size: rem-calc(21px);
}

.news-list-item {
    margin-bottom: rem-calc(20px);
}

.news-rss-link {
    font-size: $font-size-xmedium;
}

.news-item-r-title {
    font-size: rem-calc(15px);
    font-weight: bold;
}

.news-item-title {
    display: flex;

    h1 {
        padding-right: 5px;
    }
}

@media (max-width: 480px) {

    .news-rss-link {
        font-size: 1.25em;
    }

    .news-right-static {
        margin-top: 10px;
    }

    .blog-link-title {
        display: block;
    }

    .blog-list-item .subheader, .blog-post .subheader {
        font-size: 0.75em;
    }

    .blog-title-row {
        margin: 10px 0;
    }

    .blog-list-item .subheader, .blog-post .subheader, .blog-image-column, .blog-link-title, .blog-list-item, .blog-item-bottom {
        margin-bottom: 10px;
    }

    h1.blog-title.page-title {
        text-align: left;
        font-size: 1.25em;
        position: relative;
    }
}
