.design-background-top,
.design-background-bottom {
  z-index: 0;
}

.toolbar-bottom-enabled .design-background-bottom {
  /*comment because get white margin to bottom page*/
  /*margin-bottom: rem-calc(40px);*/
}

.design-background-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 57.25rem;
  background: url("../images/background-top.jpg") no-repeat center top;
}
.design-background-top:after {
  position: absolute;
  content: "";
  display: block;
  height: 6.25rem;
  top: 100%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0) 100%);
}

.site-footer:before, .site-footer:after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.site-footer:before {
  background: url("../images/background-bottom-left.png") no-repeat left bottom;
  height: 447px;
  width: 295px;
  left: 50%;
  margin-left: -900px;
}
.site-footer:after {
  background: url("../images/background-bottom-right.png") no-repeat 600px bottom;
  height: 459px;
  left: 50%;
  right: 0;
}