.booking-journal-column {
    min-width: 430px;
    max-width: 430px;
}

.booking-journal-avatar {
    width: 85px;
    height: 85px;
    padding-right: 10px;
}

.booking-journal-empl-name {
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 14px;
}

.booking-journal-empl-position {
    font-family: inherit;
}

.booking-sheduler-filter-date {
    flex-basis: 150px;
    flex-shrink: 0;
}

/*.booking-sheduler-container .fc td,
.booking-sheduler-container .fc th {
    box-sizing: border-box;
}*/

.booking-sheduler-container .fullcalendar .fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 0 0 1px;
}

.booking-sheduler-container .fullcalendar .fc-ltr .fc-time-grid .fc-slats td.fc-widget-content:not(.fc-time) {
    cursor: cell;
}

.booking-sheduler-container .fc-unthemed td.fc-today {
    background: none !important;
}

.booking-sheduler-container .fc-time-grid .fc-slats td.fc-time {
    border-color: transparent;
}

.booking-sheduler-container .fc-content-skeleton .fc-bgevent {
    opacity: 1;
}

    .booking-sheduler-container .fc-content-skeleton .fc-bgevent.no-work {
        background-color: #eeeeee;
    }

.booking-sheduler-container .fc .fc-axis {
    vertical-align: top;
}

.booking-sheduler-container .fullcalendar .booking-item {
    font-size: 1em;
    padding: 0;
}

    .booking-sheduler-container .fullcalendar .booking-item.booking-confirmed {
        background-color: #008000;
        border-color: #006600;
    }

    .booking-sheduler-container .fullcalendar .booking-item.booking-new {
        background-color: #cc6600;
        border-color: #b35900;
    }

    .booking-sheduler-container .fullcalendar .booking-item.booking-completed {
        background-color: #0066cc;
        border-color: #0059b3;
    }

    .booking-sheduler-container .fullcalendar .booking-item.booking-cancel {
        background-color: #cccccc;
        border-color: #bfbfbf;
    }

/*.booking-sheduler-container .fullcalendar .booking-item.booking-nowork {
    background-color: #ff0000 !important;
    border-color: #990000 !important;
}*/

.booking-sheduler-container .fullcalendar .fc-time-grid .fc-event-container .booking-item .fc-content {
    /*padding: 4px 6px;*/
}

.booking-sheduler-container .fullcalendar .booking-item .fc-content .fc-time {
    font-size: 1em;
    padding: 0px 6px;
    vertical-align: middle;
}

.booking-sheduler-container .fullcalendar .booking-item.booking-confirmed .fc-content .fc-time {
    background-color: #008000;
}

.booking-sheduler-container .fullcalendar .booking-item.booking-new .fc-content .fc-time {
    background-color: #cc6600;
}

.booking-sheduler-container .fullcalendar .booking-item.booking-completed .fc-content .fc-time {
    background-color: #0066cc;
}

.booking-sheduler-container .fullcalendar .booking-item.booking-cancel .fc-content .fc-time {
    background-color: #cccccc;
}

.booking-sheduler-container .fullcalendar .booking-item.booking-nowork .fc-content .fc-time {
    background-color: #ff0000 !important;
}

.booking-sheduler-container .fullcalendar .booking-item .fc-content .fc-title {
    padding: 0 6px;
    vertical-align: middle;
}

.booking-sheduler-container .kanban-column-header {
    color: #676a6c;
    text-transform: none;
    font-family: inherit;
    height: 101px;
    z-index: 2;
    cursor: pointer;
}

.booking-sheduler-container .kanban-scrollable .booking-journal-column .kanban-column {
    height: calc(100% - 110px);
}

.booking-sheduler-container .kanban-scrollable-activated {
    cursor: auto;
}

    .booking-sheduler-container .kanban-scrollable-activated.dragscroll {
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

.booking-sheduler-processing:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    z-index: 10;
}

.booking-sheduler-processing:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f110";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 20;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    font-size: 40px;
}

.booking-sheduler-offset {
    border: 1px solid #ddd;
    border-width: 1px 1px 0;
}

    .booking-sheduler-offset:after {
        content: "";
        display: block;
        margin-left: 44px;
        height: 100%;
        background: #eeeeee;
        border-left: 1px solid #ddd;
    }


.booking-sheduler-container .fc-time-grid-event.fc-short .fc-time:before {
    content: attr(data-full);
}

.booking-sheduler-container .fc-time-grid-event.fc-short .fc-time:after {
    display: none;
}

.modal-booking-sheduler .modal-body {
    background-color: #eeeeee;
}
