.aside-menu {
  margin-bottom: 35px;
}

.aside-menu-row, .aside-menu-row-with-move {
  display: block;
  border-radius: 3px;
  border-bottom: 1px transparent solid;
}

.aside-menu-row {
  /*margin-bottom: 2px;*/
  padding: 5px 10px 6px 14px;
}
.aside-menu-row:hover, .aside-menu-row.selected {
  background-color: #dbdcde;
}

.aside-menu-row-with-move {
  padding-left: 25px;
  background-color: #e6e7e8;
  margin-bottom: 1px;
  position: relative;
}
.aside-menu-row-with-move:hover, .aside-menu-row-with-move.selected {
  background-color: #dbdcde;
}
.aside-menu-row-with-move a {
  vertical-align: middle;
}
.aside-menu-row-with-move .icon-move {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
}

.aside-menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.aside-menu-row .aside-menu-inner {
  margin-bottom: 2px;
}

.aside-menu-count-inner {
  background-color: #dbdcde;
  border-radius: 3px;
  min-width: 25px;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  padding: 0 5px;
}

.aside-menu-row-selected {
  background-color: #dbdcde;
}

.aside-menu-row--bg {
  background-color: #e6e7e8;
}
.aside-menu-row--bg .aside-menu-count-inner {
  line-height: normal;
  padding-right: 0;
  background-color: transparent;
}