.lp-admin-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.lp-admin-menu--child {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 0 3px #d7d9de;
  background-color: #fff;
  min-width: 160px;
  text-align: left;
  display: none;
}
.lp-admin-menu--child.show-submenu {
  display: block;
}

.lp-admin-menu__item {
  position: relative;
}
.lp-admin-menu__item--child {
  font-size: 12px;
}
.lp-admin-menu__item--separated {
  border-top: 1px solid #d7d9de;
}

.lp-admin-menu__link {
  text-decoration: none;
  color: #2f4050;
  display: block;
  padding: 10px 20px;
}
.lp-admin-menu__link:hover {
  text-decoration: underline;
  color: #2f4050;
  background-color: #f5f5f5;
}