<div class="sticky-page-name p-b-md" sticky sticky-top="0">
    <div class="row sticky-page-name-inner">
        <div class="col-xs-12">
            <div class="flex bottom-xs between-xs">
                <div>
                    <div class="sticky-hidden">
                        <a class="breadcrumb__link--admin m-b-sm inline-block" href="triggers">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" x="0px" y="0px"
                                 viewBox="0 0 492 492">
                                <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12
			    C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084
			    c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864
			    l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z" />
                            </svg><span>{{'Admin.Js.Triggers.Triggers'|translate}}</span>
                        </a>
                    </div>
                    <div ng-if="ctrl.mode == 'edit'" class="m-r-sm">
                        <div class="landing-block-title flex middle-xs sticky-page-name-text">
                            <simple-edit empty-text="" class="simple-edit" on-change="ctrl.setName(ctrl.id, value)" timeout="1000">
                                <h1 class="input-ghost simple-edit__input page-name-block-text sticky-page-name-text"
                                    simple-edit-content=""
                                    contenteditable="true"
                                    ng-bind="ctrl.name"></h1>
                                <simple-edit-trigger class="fas fa-pencil-alt landing-block__pencil"></simple-edit-trigger>
                            </simple-edit>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="" ng-if="ctrl.id" ng-href="emailings/triggeremailings/{{ctrl.id}}" class="m-r-xs">Аналитика email рассылки</a>
                    <a href="" ng-if="ctrl.id" ng-click="ctrl.copyTrigger()" class="m-r-xs">Копировать триггер</a>
                    <a href="" ng-click="ctrl.save()" class="btn btn-sm btn-success" data-e2e="TriggerSave">
                        <span class="fa fa-check"></span> Сохранить
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="ibox">
            <div class="ibox-content border_none">
                <div class="m-b">
                    <div>
                        <div ng-if="ctrl.mode == 'add'">
                            <b>Выберите триггер</b>
                            <div class="m-t-sm m-b-sm">
                                После того как в системе произойдет следующее событие:
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5" ng-if="ctrl.mode == 'add'">
                                <select ng-model="ctrl.eventType"
                                        ng-options="s.Id as s.Name for s in ctrl.data.EventTypes"
                                        ng-change="ctrl.changeEventType()"
                                        class="form-control">
                                </select>
                            </div>
                            <div class="col-xs-7" >
                                <div ng-if="ctrl.mode == 'add'">
                                    <div ng-if="ctrl.showEventObject">
                                        {{'Admin.Js.SettingsTasks.On'|translate}}
                                        <select ng-model="ctrl.eventObjectGroup"
                                                ng-if="ctrl.eventObjectGroups"
                                                ng-options="s.value as s.label for s in ctrl.eventObjectGroups"
                                                ng-change="ctrl.getEventObjects(ctrl.eventObjectGroup)"
                                                class="form-control m-r-sm"
                                                style="width: 200px; display: inline-block;"></select>
                                        <select ng-model="ctrl.eventObject" ng-options="s.label for s in ctrl.eventObjects track by s.value"
                                                required validation-input-text="{{'Admin.Js.SettingsTasks.Type'|translate}}"
                                                class="form-control"
                                                style="width: 200px; display: inline-block;">
                                            <option value="">{{'Admin.Js.SettingsTasks.SelectTheType'|translate}}</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Время с последнего заказа -->
                                <div ng-if="ctrl.eventType == 7">
                                    через <input type="text" ng-model="ctrl.eventObjValue"
                                                 required validation-input-text="{{'Admin.Js.SettingsTasks.Type'|translate}}"
                                                 class="form-control" style="width: 80px; display: inline-block;" /> дней
                                </div>

                                <!-- Важные даты -->
                                <div ng-if="ctrl.eventType == 8">
                                    дата
                                    <div style="display: inline-block; width: 150px; position: relative; vertical-align: middle; min-height: 34px;">
                                        <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true}">
                                            <span class="flatpickr-custom-wrap">
                                                <input type="text" ng-flatpickr-input ng-model="ctrl.triggerParams.DateTime" class="form-control" />
                                                <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                            </span>
                                            <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                        </div>
                                    </div>

                                    <div style="display: inline-block;" class="m-l-sm">
                                        <select ng-model="ctrl.triggerParams.Since"
                                                ng-options="s.value as s.label for s in ctrl.sinceOptions"
                                                class="form-control" style="width: 90px; display: inline-block;"></select>
                                        <input type="text" ng-model="ctrl.triggerParams.Days"
                                               required validation-input-text="{{'Admin.Js.SettingsTasks.Type'|translate}}"
                                               class="form-control" style="width: 50px; display: inline-block;" /> дн.
                                    </div>

                                    <div style="display: inline-block" class="m-l-md">
                                        <label class="adv-checkbox-label">
                                            <input ng-model="ctrl.triggerParams.IgnoreYear" type="checkbox" class="adv-checkbox-input control-checkbox" />
                                            <span class="adv-checkbox-emul"></span>
                                            Игнорировать год
                                        </label>
                                    </div>
                                </div>

                                <!-- Важные даты покупателя -->
                                <div ng-if="ctrl.eventType == 9">
                                    <select ng-model="ctrl.triggerParams.CustomFieldId"
                                            ng-if="ctrl.eventObjectGroups"
                                            ng-init="ctrl.triggerParams.CustomFieldId = ctrl.triggerParams.CustomFieldId || ctrl.eventObjectGroups[0].value"
                                            ng-options="s.value as s.label for s in ctrl.eventObjectGroups"
                                            class="form-control m-r-sm"
                                            style="width: 200px; display: inline-block;">
                                    </select>

                                    <div style="display: inline-block;" class="m-l-sm">
                                        <select ng-model="ctrl.triggerParams.Since"
                                                ng-options="s.value as s.label for s in ctrl.sinceOptions"
                                                class="form-control" style="width: 90px; display: inline-block;"></select>

                                        <input type="text" ng-model="ctrl.triggerParams.Days"
                                               required validation-input-text="{{'Admin.Js.SettingsTasks.Type'|translate}}"
                                               class="form-control" style="width: 50px; display: inline-block;"/> дн.
                                    </div>

                                    <div style="display: inline-block" class="m-l-md">
                                        <label class="adv-checkbox-label">
                                            <input ng-model="ctrl.triggerParams.IgnoreYear" type="checkbox" class="adv-checkbox-input control-checkbox"/>
                                            <span class="adv-checkbox-emul"></span>
                                            Игнорировать год
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="relative">
                    <label class="adv-checkbox-label">
                        <input ng-model="ctrl.worksOnlyOnce" type="checkbox" class="adv-checkbox-input control-checkbox" data-e2e="TriggerWorksOnlyOnce"/>
                        <span class="adv-checkbox-emul"></span>
                        Срабатывает только 1 раз для связки покупатель - заказ/лид
                    </label>
                    <help-trigger class="ng-cloak p-l-xs">
                        Триггер срабатает только 1 раз для связки покупателя и заказа/лида. Все действия выполнятся. <br />
                        Например, есть триггер на изменение статуса заказа "В обработке" и стоит галка. Когда статус заказа №123 изменится на "В обработке", то сработает триггер для покупателя.
                        Далее сколько бы раз не меняли на "В обработке" у заказа №123, триггер больше не сработает для этого покупателя.
                        Когда изменится статус заказа №124 и др. на "В обработке", то выполнится триггер для покупателя из этого заказа.
                    </help-trigger>
                </div>

                <div class="m-t" ng-if="ctrl.processType == 'datetime'">
                    Время срабатывания
                    <select ng-model="ctrl.preferredHour"
                            ng-options="s.value as s.label for s in ctrl.preferredHours"
                            ng-init="ctrl.preferredHour = ctrl.preferredHour || 9"
                            class="form-control" style="width: 120px; display: inline-block;">
                    </select> ч. {{ctrl.isLicense ? "(Время сервера)" : "(Время Московское)"}} 
                </div>

                <div class="m-t" ng-if="ctrl.mode == 'edit'">
                    <div ng-if="ctrl.coupon != null">
                        <ui-modal-trigger data-controller="'ModalAddEditCouponCtrl'" controller-as="ctrl" size="middle"
                                          template-url="../areas/admin/content/src/coupons/modal/addEditCoupon/addEditCoupon.html"
                                          data-resolve="{'CouponId': ctrl.coupon.CouponID}"
                                          data-on-close="ctrl.reloadTriggerCoupon()">
                            <a href="" class="">Шаблон купона триггера</a>
                        </ui-modal-trigger>
                        <a ng-click="ctrl.deleteTriggerCoupon(ctrl.coupon)" href="" class="link-invert link-decoration-none fas fa-times categories-block-icon"></a>
                    </div>
                    <div ng-if="ctrl.coupon == null">
                        <ui-modal-trigger data-controller="'ModalAddEditCouponCtrl'" controller-as="ctrl" size="middle"
                                          template-url="../areas/admin/content/src/coupons/modal/addEditCoupon/addEditCoupon.html"
                                          data-resolve="{'triggerId': ctrl.id, couponMode: 3}"
                                          data-on-close="ctrl.reloadTriggerCoupon()">
                            <a href="">Генерировать купон в момент срабатывания триггера</a>
                        </ui-modal-trigger>
                    </div>
                    <div>
                        Сгенерированный купон Вы можете вставлять в текст писем и смс через переменную #TRIGGER_COUPON#
                    </div>
                </div>

                <div class="m-t">
                    <div class="m-b-xs">
                        <b>Категория триггера</b>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <ui-select ng-model="ctrl.categoryId" convert-to-number validation-input-text="Категория">
                                <ui-select-match>{{$select.selected.label}}</ui-select-match>
                                <ui-select-choices repeat="s.value as s in ctrl.categories | filter: $select.search">
                                    <div>{{s.label}} </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="ctrl.eventType != null">
    <div class="col-xs-12">
        <div class="ibox">
            <div class="ibox-content border_none">

                <div class="clearfix">
                    <b>Выберите условия срабатывания действий (Проверяется каждый раз, перед выполнением каждого действия)</b>

                    <ui-modal-trigger class="pull-right"
                                      data-controller="'ModalAddEditTriggerFilterRuleCtrl'" controller-as="ctrl"
                                      data-resolve="{'event': { 'type': ctrl.eventType}, 'isLicense': ctrl.isLicense}"
                                      template-url="../areas/admin/content/src/triggers/modal/addEditFilterRule/AddEditTriggerFilterRule.html"
                                      data-on-close="ctrl.processFilterRule(null, result)">
                        <button class="btn btn-success btn-sm" type="button">
                            <span class="fa fa-plus"></span> Добавить условие
                        </button>
                    </ui-modal-trigger>
                </div>
                <ol ng-if="ctrl.filter != null && ctrl.filter.Comparers.length > 0">

                    <li ng-repeat="comparer in ctrl.filterComparers track by $index">

                        <b ng-bind="comparer.FieldName" data-e2e="RuleFilterName"></b>

                        <span ng-repeat="fieldComparer in comparer.FieldComparers track by $index">
                            
                            <span ng-if="$index > 0 && comparer.FieldTypeStr != 'time'" class="m-l-sm p-r-xs">{{comparer.CompareType == 1 ? 'и не равно' : 'или'}}</span>
                            <span ng-if="$index > 0 && comparer.FieldTypeStr == 'time'" class="m-l-sm p-r-xs">{{comparer.CompareType == 1 ? 'и' : 'или'}}</span>
                            
                            <ui-modal-trigger data-controller="'ModalAddEditTriggerFilterRuleCtrl'" controller-as="ctrl"
                                              data-resolve="{'rule': ctrl.getFilterComparerItem(comparer, fieldComparer), 'event': {'type': ctrl.eventType}, 'isLicense': ctrl.isLicense}"
                                              template-url="../areas/admin/content/src/triggers/modal/addEditFilterRule/AddEditTriggerFilterRule.html"
                                              data-on-close="ctrl.processFilterRule(ctrl.getFilterComparerItem(comparer, fieldComparer), result)">
                                <a href="" title="{{'Admin.Js.SettingsTasks.EditTheCondition'|translate}}" class="link-invert link-decoration-none" data-e2e="RuleFilter">
                                    
                                    <span ng-if="comparer.FieldTypeStr == 'time'">{{comparer.CompareType == 1 ? 'за исключением' : ''}}</span>

                                    <span ng-if="comparer.FieldValueObjectName" ng-bind="ctrl.getFilterCompareType($index, comparer.CompareType) + fieldComparer.FieldValueObjectName"></span>
                                    <span ng-if="fieldComparer.From" ng-bind="'{{'Admin.Js.SettingsTasks.From'|translate}}' + fieldComparer.From"></span>
                                    <span ng-if="fieldComparer.To" ng-bind="'{{'Admin.Js.SettingsTasks.To'|translate}}' + fieldComparer.To"></span>
                                    <span ng-if="fieldComparer.DateFromString" ng-bind="'{{'Admin.Js.SettingsTasks.From'|translate}}' + fieldComparer.DateFromString"></span>
                                    <span ng-if="fieldComparer.DateToString" ng-bind="'{{'Admin.Js.SettingsTasks.To'|translate}}' + fieldComparer.DateToString"></span>
                                    <span ng-if="fieldComparer.Type == 3" ng-bind="ctrl.getFilterCompareType($index, comparer.CompareType) + (fieldComparer.Flag ? '{{'Admin.Js.SettingsTasks.Yes'|translate}}' : '{{'Admin.Js.SettingsTasks.No'|translate}}')"></span>
                                    <span ng-if="!comparer.FieldValueObjectName && fieldComparer.Value"
                                          ng-bind="(fieldComparer.Type == 4 ? '{{'Admin.Js.SettingsTasks.Contains'|translate}}' : ctrl.getFilterCompareType($index, comparer.CompareType)) + fieldComparer.Value"></span>
                                    <span ng-if="!comparer.FieldValueObjectName && fieldComparer.Value == ''"
                                          ng-bind="(fieldComparer.Type == 4 ? '{{'Admin.Js.SettingsTasks.Contains'|translate}}' : ctrl.getFilterCompareType($index, comparer.CompareType)) + 'не указан'"></span>

                                    <span ng-if="fieldComparer.Type == 5">
                                        {{ctrl.getFilterCompareType($index, comparer.CompareType)}}
                                        <span ng-repeat="item in fieldComparer.Products track by $index">
                                            <span ng-bind="($index != 0 ? ', ' : '') + item.Name"></span>
                                        </span>
                                    </span>
                                    <span ng-if="fieldComparer.Type == 6">
                                        {{ctrl.getFilterCompareType($index, comparer.CompareType)}}
                                        <span ng-repeat="item in fieldComparer.Categories track by $index">
                                            <span ng-bind="($index != 0 ? ', ' : '') + item.Name"></span>
                                        </span>
                                    </span>
                                    <span ng-if="fieldComparer.Type == 11 || fieldComparer.Type == 12" ng-bind="ctrl.getFilterCompareType($index, comparer.CompareType) + fieldComparer.SalesFunnelName + ' ' + fieldComparer.DealStatusName"></span>
                                    <span class="fas fa-pencil-alt p-l-xs"></span>
                                </a>
                            </ui-modal-trigger>
                            <a href="" ng-click="ctrl.processFilterRule(ctrl.getFilterComparerItem(comparer, fieldComparer))" class="fa fa-times link-invert link-decoration-none p-l-xs" title="{{'Admin.Js.SettingsTasks.Delete'|translate}}" data-e2e="RuleFilterDelete"></a>
                        
                        </span>
                    </li>
                </ol>
                
            </div>
        </div>
    </div>
</div>

<div class="row ng-cloak action-item" ng-if="ctrl.eventType != null" ng-repeat="action in ctrl.actions">
    <div class="col-xs-12">
        <div class="ibox">
            <div class="ibox-content border_none">

                <div class="clearfix">
                    <b>Выберите действие</b>
                    <div class="pull-right">
                        <span class="action-item-sort m-r-sm">
                            <a href="" class="fas fa-arrow-up link-invert link-decoration-none" ng-click="ctrl.changeSortOrder($index, true)" ng-if="$index != 0" title="Изменить сортировку"></a>
                            <a href="" class="fas fa-arrow-down link-invert link-decoration-none" ng-click="ctrl.changeSortOrder($index, false)" ng-if="$index != ctrl.actions.length-1" title="Изменить сортировку"></a>
                        </span>
                        <a href="" ng-if="$index != 0" ng-click="ctrl.removeAction($index)" class="link-danger m-r-xs" data-e2e="RemoveAction">Удалить</a>
                        <a href="" class="btn btn-success btn-sm" ng-click="ctrl.addAction($index)">
                            <span class="fa fa-plus"></span> Добавить действие
                        </a>
                    </div>
                </div>

                <div class="m-t m-b-md">
                    <ul class="nav nav-collapse-tab nav-tabs">
                        <li class="uib-tab nav-item ng-tab" ng-class="{'active' : action.ActionType == 1}">
                            <a href="" ng-click="action.ActionType = 1" class="nav-link">Отправить Email</a>
                        </li>
                        <li class="uib-tab nav-item ng-tab" ng-class="{'active' : action.ActionType == 2}">
                            <a href="" ng-click="action.ActionType = 2" class="nav-link">Отправить SMS</a>
                        </li>
                        <li class="uib-tab nav-item ng-tab" ng-class="{'active' : action.ActionType == 4}">
                            <a href="" ng-click="action.ActionType = 4" class="nav-link">Изменить данные</a>
                        </li>
                        <li class="uib-tab nav-item ng-tab" ng-class="{'active' : action.ActionType == 6}">
                            <a href="" ng-click="action.ActionType = 6" class="nav-link">Отправить HTTP-запрос</a>
                        </li>
                        <li class="uib-tab nav-item ng-tab" ng-class="{'active' : action.ActionType == 7}">
                            <a href="" ng-click="action.ActionType = 7" class="nav-link">Отправить сообщение в WhatsApp</a>
                        </li>
                    </ul>
                </div>


                <div ng-switch="action.ActionType">
                    <div ng-switch-when="1">
                        <div class="form-group row" ng-if="ctrl.emailSettingsError != null">
                            <div class="col-xs-12">
                                <div ng-bind-html="ctrl.emailSettingsError" class="error-red"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-2">Тема письма</div>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" ng-model="action.EmailSubject" textcomplete textcomplete-data="ctrl.availableVariables" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-2">Текст письма</div>
                            <div class="col-xs-10">
                                <div ng-if="action.showCkeditor != false">
                                    <textarea ckeditor="{height: 350}" class="form-control wysiwyg" ng-model="action.EmailBody" rows="5" textcomplete textcomplete-data="ctrl.availableVariables"></textarea>
                                </div>
                                <div class="help-block" ng-if="ctrl.availableVariables" ng-bind="('Admin.Js.SettingsTasks.AvailableVariables'|translate) + ctrl.availableVariables.join(', ')"></div>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="2">
                        <div ng-if="ctrl.IsSmsActive" class="form-group row">
                            <div class="col-xs-2">
                                Текст sms <br />
                                <!--Кол-во символов: {{action.SmsText.length}}-->
                            </div>
                            <div class="col-xs-10">
                                <textarea class="form-control" ng-model="action.SmsText" rows="3"></textarea>

                                <div class="help-block" ng-if="ctrl.availableVariables" ng-bind="('Admin.Js.SettingsTasks.AvailableVariables'|translate) + ctrl.availableVariables.join(', ')"></div>
                            </div>
                        </div>
                        <div ng-if="!ctrl.IsSmsActive" class="form-group row">
                            <div class="col-xs-12 m-b-md">
                                Для отправки СМС необходимо настроить <a href="settingsmail#?notifyTab=sms" target="_blank">SMS уведомления</a>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="3">
                        <!--<div class="form-group row">
            <div class="col-xs-2">todo</div>
            <div class="col-xs-10"></div>
        </div>-->
                    </div>

                    <div ng-switch-when="4">
                        <trigger-action-edit-field event-type="ctrl.eventType" action="action" fields="ctrl.fields" is-license="ctrl.isLicense" ng-if="ctrl.fields && ctrl.fields.length">
                        </trigger-action-edit-field>
                    </div>

                    <div ng-switch-when="6">
                        <trigger-action-send-request event-type="ctrl.eventType" action="action" send-request-parameters="ctrl.sendRequestParameters">
                        </trigger-action-send-request>
                    </div>

                    <div ng-switch-when="7">
                        <div ng-if="ctrl.IsWazzupActive" class="form-group row">
                            <div class="col-xs-2">
                                Текст сообщения
                            </div>
                                <div class="col-xs-10">
                                    <textarea class="form-control" ng-model="action.MessageText" rows="3"></textarea>
                                    <div class="help-block" ng-if="ctrl.availableVariables" ng-bind="('Admin.Js.SettingsTasks.AvailableVariables'|translate) + ctrl.availableVariables.join(', ')"></div>
                            </div>
                        </div>
                        <div ng-if="!ctrl.IsWazzupActive" class="form-group row">
                            <div class="col-xs-12 m-b-md">
                                Для отправки сообщений необходимо установить\настроить модуль <a href="modules/market?name=wazzup" target="_blank">Wazzup</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row" ng-if="ctrl.mode == 'edit' && !action.IsNew && (action.ActionType == 1 || action.ActionType == 2 || action.ActionType == 7)">
                    <div class="col-xs-2">Генерация купона</div>
                    <div class="col-xs-4">
                        
                        <span ng-repeat="coupon in action.Coupons" class="p-r-sm">
                            
                            <ui-modal-trigger data-controller="'ModalAddEditCouponCtrl'" controller-as="ctrl" size="middle"
                                              template-url="../areas/admin/content/src/coupons/modal/addEditCoupon/addEditCoupon.html"
                                              data-resolve="{'CouponId': coupon.CouponID}"
                                              data-on-close="ctrl.reloadCoupons(action)">
                                <a href="" class="">Шаблон купона</a>
                            </ui-modal-trigger>
                            <a ng-click="ctrl.deleteCoupon(coupon, action)" href="" class="link-invert link-decoration-none fas fa-times categories-block-icon"></a>
                        </span>
                        
                        <ui-modal-trigger ng-if="action.Coupons == null || action.Coupons.length == 0"
                                          data-controller="'ModalAddEditCouponCtrl'" controller-as="ctrl" size="middle"
                                          template-url="../areas/admin/content/src/coupons/modal/addEditCoupon/addEditCoupon.html"
                                          data-resolve="{'triggerActionId': action.Id, couponMode: 1}"
                                          data-on-close="ctrl.reloadCoupons(action)">
                            <a href="">Добавить шаблон купона</a>
                        </ui-modal-trigger>
                    </div>
                </div>

                <div class="ng-cloak" ng-show="ctrl.processType == 'none'">
                    <div class="form-group row">
                        <div class="col-xs-2">Время срабатывания</div>
                        <div class="col-xs-4">
                            <label class="adv-checkbox-label">
                                <input ng-model="action.hideDelay" ng-change="action.TimeDelay = action.hideDelay ? null : (action.TimeDelay || {'Interval':1,'IntervalType':2})"
                                       type="checkbox" class="adv-checkbox-input control-checkbox" data-e2e="TriggerTimeDelay"/>
                                <span class="adv-checkbox-emul"></span>
                                Сразу
                            </label>
                        </div>
                    </div>

                    <div class="form-group row" ng-if="!action.hideDelay">
                        <div class="col-xs-2">Задержка</div>
                        <div class="col-xs-2">
                            <input type="number" class="form-control" ng-model="action.TimeDelay.Interval" />
                        </div>
                        <div class="col-xs-4">
                            <select ng-model="action.TimeDelay.IntervalType" convert-to-number
                                    ng-options="s.value as s.label for s in ctrl.intervalTypes" class="form-control"></select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

