<div>
    <div class="zone-dialog-title">
        Где вы находитесь?
    </div>
    <div class="zone-dialog-countries">
        <a href=""
           class="link-text-decoration-none zone-dialog-country-link"
           data-ng-repeat="country in zone.data track by $index"
           data-ng-class="{'zone-dialog-country-selected': country === zone.countrySelected}"
           data-ng-click="zone.countrySelected = country">
            <div class="{{'zone-dialog-country-image zone-dialog-country-' + country.Iso2}}"></div>
            <span class="zone-dialog-country-name">{{country.Name}}</span>
        </a>
    </div>
    <div class="zone-dialog-autocomplete-block">
        <div class="row middle-xs">
            <div class="col-xs-12 col-md-3 zone-dialog-text-wrap">
                <div class="zone-dialog-text cs-t-3">
                    {{ ::'Js.Zone.YourCity' | translate }}:
                </div>
            </div>
            <div class="col-xs-12 col-md-9 zone-dialog-form-field-wrap">
                <form name="zoneDialogForm" novalidate="novalidate">
                    <div class="row between-xs">
                        <div class="col-xs-7 col-md zone-dialog-search-block">
                            <div class="zone-dialog-input-wrap" data-field="Name" data-autocompleter data-request-url="/location/GetCitiesAutocomplete" data-on-init="zone.autocompleterOnInit(autocompleter)"
                                 data-template-path="scripts/_common/autocompleter/templates/location.html" data-apply-fn="zone.changeCity(value, obj, zone.countrySelected.CountryId, null, event)">
                                <input data-autocompleter-input 
                                       type="text" 
                                       placeholder="Введите город"
                                       class="input-big" 
                                       name="zoneCity" 
                                       data-ng-model="zone.zoneCity" 
                                       data-ng-keyup="zone.keyup($event)" />
                            </div>
                        </div>
                        <div class="col-xs-5 zone-dialog-btn-block">
                            <input class="btn btn-submit btn-big zone-dialog-btn" type="button" value="{{ ::'Js.Zone.Choose' | translate }}" data-ng-click="zone.changeCity(zone.zoneCity, null, zone.countrySelected.CountryId)" data-ng-if="!zone.showRegion" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="zone-dialog-autocomplete-block ng-cloak" data-ng-if="zone.showRegion">
        <div class="row middle-xs">
            <div class="col-xs-12 col-md-3">
                <div class="zone-dialog-text cs-t-3">
                    {{ ::'Js.Zone.SpecifyTheRegion' | translate }}:
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <form name="zoneDialogRegionForm" novalidate="novalidate">
                    <div class="row between-xs">
                        <div class="col-xs-7 col-md">
                            <div class="zone-dialog-input-wrap" data-field="Name" data-autocompleter data-request-url="/location/GetRegionsAutocomplete"
                                 data-template-path="scripts/_common/autocompleter/templates/location.html" data-apply-fn="zone.changeCity(zone.zoneCity, null, zone.countrySelected.CountryId, value, event)">
                                <input data-autocompleter-input type="text" class="input-big" name="zoneRegion" data-ng-model="zone.zoneRegion" data-ng-keyup="zone.keyup($event)" data-autofocus="zone.showRegion" />
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <input class="btn btn-submit btn-big" type="button" value="{{ ::'Js.Zone.Choose' | translate }}" data-ng-click="zone.changeCity(zone.zoneCity, null, zone.countrySelected.CountryId, zone.zoneRegion)" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="zone-dialog-cities" data-ng-switch="zone.isProgress === true">
        <div data-ng-switch-when="false" class="zone-dialog-items">
            <div class="zone-dialog-item" data-ng-repeat="cities in zone.countrySelected.Columns track by $index">
                <a class="zone-dialog-item-link" href=""
                   data-ng-click="zone.changeCity(city.Name, city, zone.countrySelected.CountryId)"
                   data-ng-repeat="city in cities track by $index" data-ng-bind="city.Name"></a>
            </div>
        </div>
        <div data-ng-switch-when="true" class="icon-spinner-before icon-animate-spin-before zone-dialog-loading" data-ng-bind="::'Js.Zone.Loading' | translate"></div>
    </div>
</div>