<form name="formAddTagsToProducts">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddTagsToProducts.AddingTags'|translate}}</h2>
    </div>
    <div class="modal-body" ng-style="{'min-height': 140 + ctrl.bodyHeight + 'px'}">
        <div class="form-group ng-cloak" id="body">
            <ui-select multiple
                       tagging="ctrl.tagTransform"
                       sortable="true"
                       ng-init="ctrl.getTags()"
                       ng-model="ctrl.selectedTags" data-e2e="SelectTag"
                       ng-change="ctrl.onChange()">
                <ui-select-match placeholder="{{'Admin.Js.AddTagsToProducts.SelectTags'|translate}}">{{$item.value}}</ui-select-match>
                <ui-select-choices repeat="tag in ctrl.tags | filter:$select.search" style="max-height:115px;">
                    {{tag.value}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation data-button-validation-success="ctrl.addTags()" ladda="ctrl.isProcessGetTags" ng-disabled="ctrl.selectedTags == null || ctrl.selectedTags.length == 0">{{'Admin.Js.AddTagsToProducts.Add'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddTagsToProducts.Cancel'|translate}}</button>
    </div>
</form>