
<div class="sticky-page-name" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main">
            <h1 class="page-name-block-text sticky-page-name-text">
                @T("Admin.OrderSources.Index.Title")
            </h1>
        </div>
        <div class="page-name-block-item-additional">
            <ui-modal-trigger data-controller="'ModalAddEditOrderSourceCtrl'" controller-as="ctrl"
                              template-url="../areas/admin/content/src/ordersources/modal/addEditOrderSource.html"
                              data-on-close="ordersources.grid.fetchData()">
                <button class="btn btn-sm btn-success btn--margin-left" type="button">
                    <span class="fa fa-plus"></span> @T("Admin.Add")
                </button>
            </ui-modal-trigger>
        </div>
    </div>
</div>
<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="grid"
                        grid-on-init="ordersources.gridOnInit(grid)"
                        grid-options="ordersources.gridOptions"
                        grid-url="'ordersources/getordersources'"
                        grid-extend-ctrl="ordersources">
            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="ordersources.grid.gridOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>
