<div class="modal-header">
    <div class="close" ng-click="ctrl.close()"></div>
    <h2 class="modal-header-title">Регистрация в Robokassa</h2>
</div>
<div class="modal-body modal-body--height-set" ng-class="{'modal-body--without-footer': !ctrl.isRegistered, 'modal-body--with-footer': ctrl.isRegistered}">
    <iframe frameborder="0" src="https://reg.robokassa.ru/form_register_merch_adv.php" style="width: 100%; height: 100%;"></iframe>
</div>
<div class="modal-footer" ng-show="ctrl.isRegistered">
    <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Close'|translate}}</button>
</div>
