table {
  padding: 0.3125rem 0.3125rem;
  margin: 0;
  /*&:not([cellpadding]) {
        td, th {
            padding: $vertical-interval-xsmall $horizontal-interval-xsmall;
        }
    }*/ }
  table:not([cellspacing]) {
    border-collapse: collapse; }
    table:not([cellspacing]) td, table:not([cellspacing]) th {
      border-collapse: collapse; }

td, th {
  border-width: 0.0625rem;
  border-style: solid; }

.table-without-borders {
  border: 0; }
  .table-without-borders td, .table-without-borders th {
    border: 0; }

.Oplata {
  border: 0; }
  .Oplata td, .Oplata th {
    border: 0; }

/*inplace*/
table[align="center"] {
  margin-left: auto;
  margin-right: auto; }

table[border="0"] {
  border: 0; }
  table[border="0"] td, table[border="0"] th {
    border: 0; }

.hidden-xs-table {
  display: none !important; }

.visible-xs-table {
  display: table-cell !important; }

@media (min-width: 48em) {
  .visible-sm-table {
    display: table-cell !important; }
  .hidden-sm-table {
    display: none !important; } }
