<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title" ng-if="!ctrl.isTemplate()">{{'Admin.Js.AddEditCoupon.Title'|translate}}</h2>
        <h2 class="modal-header-title" ng-if="ctrl.isTemplate()">Шаблон купона</h2>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="form-group" ng-if="!ctrl.isTemplate()">
                    <div class="row">
                        <label class="col-xs-3 control-label">
                            <span class="text-required">{{'Admin.Js.AddEditCoupon.CouponCode'|translate}}</span>
                        </label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" ng-model="ctrl.Code" required validation-input-text={{'Admin.Js.AddEditCoupon.CouponCode'|translate}} autofocus data-e2e="couponCode" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="col-xs-3 control-label">
                            {{'Admin.Js.AddEditCoupon.CouponType'|translate}}
                        </label>
                        <div class="col-xs-9">
                            <select ng-model="ctrl.Type" ng-options="s.label for s in ctrl.Types track by s.value" class="form-control" data-e2e="couponType"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="col-xs-3 control-label">
                            <span class="text-required">{{'Admin.Js.AddEditCoupon.Value'|translate}}</span>
                        </label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" ng-model="ctrl.Value" required validation-input-text={{'Admin.Js.AddEditCoupon.Value'|translate}} data-e2e="couponValue" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="col-xs-3 control-label">
                            {{'Admin.Js.AddEditCoupon.Currency'|translate}}
                        </label>
                        <div class="col-xs-9">
                            <select ng-model="ctrl.CurrencyIso3" ng-options="s.label for s in ctrl.Currencies track by s.value" class="form-control" data-e2e="couponCurrency"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="col-xs-3 control-label">
                            {{'Admin.Js.AddEditCoupon.AddingDate'|translate}}
                        </label>
                        <div class="col-xs-9 control-label">
                            {{ctrl.AddingDateFormatted}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-3">
                            {{'Admin.Js.AddEditCoupon.ForFirstOrder'|translate}}
                        </label>
                        <div class="col-xs-9">
                            <label class="adv-checkbox-label" data-e2e="couponUseStartDate">
                                <input type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="ctrl.ForFirstOrder" />
                                <span class="adv-checkbox-emul"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="ctrl.ShowUseStartDate">
                    <div class="row middle-xs">
                        <label class="col-xs-3">
                            {{'Admin.Js.AddEditCoupon.StartDate'|translate}}
                        </label>
                        <div class="col-xs-9">
                            <label class="adv-checkbox-label" data-e2e="couponUseStartDate">
                                <input type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="ctrl.UseStartDate" />
                                <span class="adv-checkbox-emul"></span>
                                {{'Admin.Js.AddEditCoupon.FromCreation'|translate}}
                            </label>
                            <div ng-if="!ctrl.UseStartDate" class="m-l inline">
                                <div ng-if="ctrl.CouponMode == 0 || ctrl.StartDate != null" style="display: inline-block; width: 250px; position: relative; vertical-align: middle; min-height: 34px;">
                                    <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true}">
                                        <span class="flatpickr-custom-wrap">
                                            <input type="text" data-e2e="couponStartDate" class="form-control" ng-flatpickr-input ng-model="ctrl.StartDate">
                                            <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                        </span>
                                        <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-3">
                            {{'Admin.Js.AddEditCoupon.ExpirationDate'|translate}}
                        </label>
                        <div class="col-xs-9">
                            <label class="adv-checkbox-label" data-e2e="couponUseExpirationDate">
                                <input type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="ctrl.UseExpirationDate" />
                                <span class="adv-checkbox-emul"></span>
                                {{'Admin.Js.AddEditCoupon.Indefinitely'|translate}}
                            </label>
                            <div ng-if="!ctrl.UseExpirationDate" class="m-l inline">
                                <div ng-if="ctrl.CouponMode == 0 || ctrl.ExpirationDate != null" style="display: inline-block; width: 250px; position: relative; vertical-align: middle; min-height: 34px;">
                                    <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true}">
                                        <span class="flatpickr-custom-wrap">
                                            <input type="text" data-e2e="couponExpirationDate" class="form-control" ng-flatpickr-input ng-model="ctrl.ExpirationDate">
                                            <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                        </span>
                                        <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                </div>

                                <div ng-if="ctrl.CouponMode == 1 || ctrl.CouponMode == 3 || ctrl.CouponMode == 4" class="inline">
                                    через <input type="text" ng-model="ctrl.Days" class="form-control" style="width: 70px; display: inline-block" /> дн. с момента генерации купона
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="row">
                        <label class="col-xs-3 control-label">
                            {{'Admin.Js.AddEditCoupon.NumberUses'|translate}}
                        </label>
                        <div class="col-xs-9">
                            <label class="adv-checkbox-label control-checkbox" data-e2e="couponUsePosibleUses">
                                <input type="checkbox" class="adv-checkbox-input" ng-model="ctrl.UsePosibleUses" />
                                <span class="adv-checkbox-emul"></span>
                                {{'Admin.Js.AddEditCoupon.NoLimits'|translate}}
                            </label>
                            <div class="m-l-xs" style="display: inline-block; width: 250px; position:relative; vertical-align: middle; min-height: 34px;">
                                <input type="text" ng-model="ctrl.PossibleUses" ng-if="!ctrl.UsePosibleUses" class="form-control" data-e2e="couponPosibleUses" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-xs-3 control-label">
                            {{'Admin.Js.AddEditCoupon.Active'|translate}}
                        </label>
                        <div class="col-xs-9">
                            <label class="adv-checkbox-label control-checkbox" data-e2e="couponEnabled">
                                <input type="checkbox" class="adv-checkbox-input" ng-model="ctrl.Enabled" />
                                <span class="adv-checkbox-emul"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-xs-3 control-label">
                            {{'Admin.Js.AddEditCoupon.MinimumAmount'|translate}}
                        </label>
                        <div class="col-xs-9">
                            <input type="text" ng-model="ctrl.MinimalOrderPrice" class="form-control" data-e2e="couponMinimalOrderPrice" />
                            
                            <label class="adv-checkbox-label control-checkbox" data-e2e="isMinimalOrderPriceFromAllCart">
                                <input type="checkbox" class="adv-checkbox-input" ng-model="ctrl.IsMinimalOrderPriceFromAllCart" />
                                <span class="adv-checkbox-emul"></span>
                                {{'Admin.Js.AddEditCoupon.MinimalOrderPriceFromAllCart'|translate}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-xs-3 control-label">
                            {{'Admin.Js.AddEditCoupon.Categories'|translate}}
                        </label>
                        <div class="col-xs-9">
                            <span ng-if="ctrl.CategoryIds.length == 0" data-e2e="couponCategoriesAll">{{'Admin.Js.AddEditCoupon.All'|translate}}</span>
                            <span ng-if="ctrl.CategoryIds.length > 0" data-e2e="couponCategoriesList">{{ctrl.CategoryIds.length}} {{'Admin.Js.AddEditCoupon.Category'|translate}}</span>

                            <ui-modal-trigger data-controller="'ModalSelectCategoriesCtrl'" controller-as="ctrl"
                                              template-url="../areas/admin/content/src/_shared/modal/selectCategories/selectCategories.html"
                                              data-resolve="{'params': { 'selectedIds': ctrl.CategoryIds}}"
                                              data-on-close="ctrl.selectCategories(result)">
                                <a href="" data-e2e="couponCategories">{{'Admin.Js.AddEditCoupon.Change'|translate}}</a>
                            </ui-modal-trigger>

                            <a href="" ng-if="ctrl.CategoryIds.length > 0" ng-click="ctrl.resetCategories()" data-e2e="couponCategoriesReset">{{'Admin.Js.AddEditCoupon.Reset'|translate}}</a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="col-xs-3 control-label">
                            {{'Admin.Js.AddEditCoupon.Products'|translate}}
                        </label>
                        <div class="col-xs-9">
                            <span ng-if="ctrl.ProductsIds.length == 0" data-e2e="couponProductsAll">{{'Admin.Js.AddEditCoupon.All'|translate}}</span>
                            <span ng-if="ctrl.ProductsIds.length > 0" data-e2e="couponProductsList">{{ctrl.ProductsIds.length}} {{'Admin.Js.AddEditCoupon.ProductProducts'|translate}}</span>

                            <ui-modal-trigger data-controller="'ModalProductsSelectvizrCtrl'" controller-as="ctrl" size="xs-11"
                                              template-url="../areas/admin/content/src/_shared/modal/products-selectvizr/productsSelectvizrModal.html"
                                              data-on-close="ctrl.selectProducts(result)"
                                              data-resolve="{'value': { 'itemsSelected' : ctrl.ProductsIds}}">
                                <a href="" data-e2e="couponProducts">{{'Admin.Js.AddEditCoupon.Change'|translate}}</a>
                            </ui-modal-trigger>

                            <a href="" ng-if="ctrl.ProductsIds.length > 0" ng-click="ctrl.resetProducts()" data-e2e="couponProductsReset">{{'Admin.Js.AddEditCoupon.Reset'|translate}}</a>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="ctrl.TriggerActionId != null && ctrl.mode == 'edit'">
                    <div class="row">
                        <label class="col-xs-3 control-label">
                            Триггер
                        </label>
                        <div class="col-xs-9">
                            <a href="triggers/edit/{{ctrl.TriggerId}}" target="_blank">{{ctrl.TriggerName}}</a>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="ctrl.PartnerId != null && ctrl.mode == 'edit'">
                    <div class="row">
                        <label class="col-xs-3 control-label">
                            Партнер
                        </label>
                        <div class="col-xs-9 control-label">
                            <a href="partners/view/{{ctrl.PartnerId}}" target="_blank">{{ctrl.PartnerName}}</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation data-e2e="btnSave">{{'Admin.Js.AddEdit.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>