@model AdvantShop.Areas.Partners.ViewModels.Account.FinishRegistrationViewModel
@{
    ViewBag.HideMenu = true;
}

<div class="vertical-interval-big">
    <div class="ibox">
        <div class="ibox-content">
            <h3>Аккаунт заблокирован</h3>
            @Html.PartnerStaticBlock("Partners_AccountBlocked")
        </div>
    </div>
</div>