<form novalidate name="addEditRuleForm">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{ctrl.mode == "add" ? ('Admin.Js.SettingsTasks.NewCondition'|translate) : ('Admin.Js.SettingsTasks.EditingCondition'|translate)}}</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.addEditRuleForm = addEditRuleForm">
        <div class="form-group">
            <div class="row">
                <label class="col-xs-2 control-label">
                    <span class="text-required">{{'Admin.Js.SettingsTasks.Parameter'|translate}}</span>
                </label>
                <div class="col-xs-10">
                    <select ng-model="ctrl.field" class="form-control" ng-change="ctrl.setParamValues(ctrl.field)"
                            ng-options="s.name for s in ctrl.fields" required validation-input-text="{{'Admin.Js.SettingsTasks.Parameter'|translate}}" data-e2e="BizRuleParam">
                        <option value="">{{'Admin.Js.SettingsTasks.ItNotSelected'|translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="ctrl.fieldComparer != null && ctrl.fieldComparer.Type != 0">
            <div class="row">
                <label class="col-xs-2 control-label">
                    <span ng-class="{'text-required': ctrl.field != null && ctrl.fieldComparer.Type != 3}">{{'Admin.Js.SettingsTasks.Value'|translate}}</span>
                </label>
                <div class="col-xs-10">
                    <div ng-if="!ctrl.paramValuesEmpty()">
                        <select ng-model="ctrl.fieldComparer.Value" ng-options="s.value as s.label for s in ctrl.compareValues"
                                class="form-control" ng-required="ctrl.field != null" validation-input-text="{{'Admin.Js.SettingsTasks.Value'|translate}}" data-e2e="BizRuleParamValueSelect">
                            <option value="">{{'Admin.Js.SettingsTasks.ItNotSelected'|translate}}</option>
                        </select>
                    </div>
                    <div ng-if="ctrl.paramValuesEmpty()" ng-switch="ctrl.fieldComparer.Type">
                        <!-- equal -->
                        <div class="row" ng-switch-when="1">
                            <div class="col-xs-12" ng-switch="ctrl.field.fieldType">
                                <input ng-switch-when="date" type="text" class="form-control" ng-model="ctrl.fieldComparer.Value" ng-required="ctrl.field != null" 
                                       validation-input-text="{{'Admin.Js.SettingsTasks.Value'|translate}}"
                                       ui-mask="99.99.9999" model-view-value="true" placeholder="{{'Admin.Js.SettingsTasks.DDMMYY'|translate}}" 
                                       data-e2e="BizRuleParamValue" />
                                
                                <input ng-switch-when="number" type="number" class="form-control" ng-model="ctrl.fieldComparer.Value" ng-required="ctrl.field != null" 
                                       validation-input-text="{{'Admin.Js.SettingsTasks.Value'|translate}}" 
                                       data-e2e="BizRuleParamValue" />

                                <input ng-switch-default type="text" class="form-control" ng-model="ctrl.fieldComparer.Value" ng-required="ctrl.field != null" 
                                       validation-input-text="{{'Admin.Js.SettingsTasks.Value'|translate}}" 
                                       data-e2e="BizRuleParamValue" />

                                <a data-e2e="BizRuleRange" href="" ng-click="ctrl.fieldComparer.Type = 2" ng-if="ctrl.field.fieldType == 'number' || ctrl.field.fieldType == 'date'">{{'Admin.Js.SettingsTasks.SpecifyRange'|translate}}</a>
                            </div>
                        </div>
                        <!-- range -->
                        <div ng-switch-when="2" ng-switch="ctrl.field.fieldType">
                            <div class="row" ng-switch-when="date">
                                <span class="col-xs-1">{{'Admin.Js.SettingsTasks.FromWithCapital'|translate}}&nbsp;</span>
                                <div class="col-xs-5">
                                    <input type="text" class="form-control" ng-model="ctrl.fieldComparer.DateFrom" ng-required="ctrl.field != null && ctrl.fieldComparer.DateTo == null"
                                           validation-input-text="{{'Admin.Js.SettingsTasks.Range'|translate}}" ui-mask="99.99.9999" model-view-value="true" placeholder="{{'Admin.Js.SettingsTasks.DDMMYY'|translate}}" />
                                </div>
                                <span class="col-xs-1">{{'Admin.Js.SettingsTasks.ToWithCapital'|translate}}&nbsp;</span>
                                <div class="col-xs-5">
                                    <input type="text" class="form-control" ng-model="ctrl.fieldComparer.DateTo" ui-mask="99.99.9999" model-view-value="true" placeholder="{{'Admin.Js.SettingsTasks.DDMMYY'|translate}}" />
                                </div>
                            </div>
                            <div class="row" ng-switch-default>
                                <span class="col-xs-1">{{'Admin.Js.SettingsTasks.FromWithCapital'|translate}}&nbsp;</span>
                                <div class="col-xs-5">
                                    <input type="number" class="form-control" ng-model="ctrl.fieldComparer.From" data-e2e="BizRuleParamValueFrom" ng-required="ctrl.field != null && ctrl.fieldComparer.To == null" validation-input-text="{{'Admin.Js.SettingsTasks.Range'|translate}}" />
                                </div>
                                <span class="col-xs-1">{{'Admin.Js.SettingsTasks.ToWithCapital'|translate}}&nbsp;</span>
                                <div class="col-xs-5">
                                    <input type="number" class="form-control" ng-model="ctrl.fieldComparer.To" data-e2e="BizRuleParamValueTo" />
                                </div>
                            </div>
                            <a href="" ng-click="ctrl.fieldComparer.Type = 1">{{'Admin.Js.SettingsTasks.SpecifyExactValue'|translate}}</a>
                        </div>
                        <!-- flag -->
                        <div ng-switch-when="3">
                            <label class="adv-checkbox-label">
                                <input type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="ctrl.fieldComparer.Flag" />
                                <span class="adv-checkbox-emul"></span>
                            </label>
                        </div>
                        <!-- contains -->
                        <div class="row" ng-switch-when="4">
                            <div class="col-xs-2">
                                {{'Admin.Js.SettingsTasks.ContainsWithCapital'|translate}}
                            </div>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" ng-model="ctrl.fieldComparer.Value" ng-required="ctrl.field != null" validation-input-text="{{'Admin.Js.SettingsTasks.Value'|translate}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button"
                data-button-validation-success="ctrl.apply()" data-button-validation
                disabled ng-disabled="ctrl.mode == 'edit' && (!ctrl.formInited || !addEditRuleForm.modified)" data-e2e="BizRuleParamValueOk">{{'Admin.Js.SettingsTasks.Apply'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()" data-e2e="BizRuleParamValueCancel">{{'Admin.Js.SettingsTasks.Cancel'|translate}}</button>
    </div>
</form>