.search-input-wrap > .dropdown-menu {
    min-width: 100%;
    left: auto !important;
    right: 0 !important;
    width: 524px;
}



.search-input {
    background-color: #f7f7f7;
    background-position: 10px center;
    padding-left: 35px;
    height: 40px;
    border-radius: 5px;
    right: 0;

    &:focus,
    &:active,
    &:hover {
        box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    }
}

.top-panel__item--new-dashboard {
    .search-input {
        position: absolute;
        opacity: 0;
        width: 360px;
        display: none;
    }

    .search-input:focus, .search-input--active {
        opacity: 1;
        z-index: 5;
        display: block;
    }
}

.search-icon--custom {
    z-index: 10;
    cursor: pointer;
}

@media(min-width: 1470px) {
    .top-panel__item--new-dashboard {
        .search-input {
            position: relative;
            opacity: 1;
            display: block;
        }
    }
}
