.design-background-top,
.design-background-bottom {
  z-index: 0;
}

.toolbar-bottom-enabled .design-background-bottom {
  /*comment because get white margin to bottom page*/
  /*margin-bottom: rem-calc(40px);*/
}

.design-background-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 57.25rem;
  background: url("../images/background-top.jpg") no-repeat center top;
}
.design-background-top:after {
  position: absolute;
  content: "";
  display: block;
  height: 6.25rem;
  top: 100%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0) 100%);
}

.design-background-bottom {
  margin-top: -60.3125rem;
  height: 60.3125rem;
  background: url("../images/background-bottom.jpg") no-repeat center bottom;
  position: relative;
}

.site-footer-top-level {
  background-color: transparent;
}

.site-body-inner {
  min-height: 29.8125rem;
}