<div class="kanban__item-lead">
    <lead-info-trigger lead-id="$ctrl.card.Id" on-close="$ctrl.onUpdate({card: $ctrl.card})">
        <div class="flex between-xs top-xs kanban-task-header">
            <div class="text-floating kanban-task-content">
                <div class="block">
                    <span data-e2e="Number" class="text-muted">{{$ctrl.card.Id}}.</span>
                    <a data-e2e="FullName" ng-href='leads{{ $ctrl.card.SalesFunnelId != 0 ? "?salesFunnelId=" + $ctrl.card.SalesFunnelId : ""}}#?leadIdInfo={{$ctrl.card.Id}}' ng-click="$event.preventDefault();" class="kanban-task-text kanban-lead-title">
                        {{$ctrl.card.FullName}}
                    </a>
                </div>
                <div>
                    <span class="bolder" ng-bind-html="$ctrl.card.SumFormatted" data-e2e="Sum"></span>
                </div>
                <div class="kanban-task-text block m-t-xs" on-close="$ctrl.parent.fetchData()">
                    <span ng-bind="$ctrl.card.DescriptionCut" data-e2e="Description"></span>
                </div>
            </div>
            <!--<div class="kanban-task-avatar" ng-if="$ctrl.card.ManagerAvatarSrc">
                <img ng-src="{{$ctrl.card.ManagerAvatarSrc}}" alt="{{$ctrl.card.ManagerName}}" title="{{$ctrl.card.ManagerName}}" data-e2e="ManagerAvatar" />
            </div>-->
        </div>
        <div class="flex middle-xs flex-nowrap between-xs kanban-task__info-date">
            <div>
                <span ng-bind="$ctrl.card.CreatedDateInterval" data-e2e="CreatedDateInterval"></span>
            </div>
            <div ng-if="$ctrl.card.OrderSourceName">
                <span class="text-muted" ng-bind="$ctrl.card.OrderSourceName" data-e2e="OrderSourceName"></span>
            </div>
        </div>
    </lead-info-trigger>
</div>
