<ng-form name="shippingRussianPostSyncStatus">
    <div>
        <div class="m-b-md">
            <div class="">
                Статус почты
                <ui-select ng-model="$ctrl.Status">
                    <ui-select-match>{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="s.value as s in $ctrl.listStatuses | filter: $select.search">
                        <div>{{s.label}} </div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="m-t-sm">
                Статус магазина
                <ui-select ng-model="$ctrl.advStatus">
                    <ui-select-match>{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="s.value as s in $ctrl.advStatuses | filter: $select.search">
                        <div>{{s.label}} </div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="m-t-sm">
                <button type="button" ng-disabled="$ctrl.Status == null || $ctrl.advStatus == null" class="btn btn-action" ng-click="$ctrl.addSyncStatus()">{{'Admin.Js.ShippingMethods.Add'|translate}}</button>
            </div>
        </div>

        <div class="m-b-md">

            <div class="m-b-xs" ng-repeat="item in $ctrl.syncStatuses track by $index">

                [{{$ctrl.getStatusNameByObj(item)}}] - [{{$ctrl.getAdvStatusName(item.advStatus)}}]
                <a href="" ng-click="$ctrl.deleteSyncStatus($index)" class="link-invert link-decoration-none fas fa-times"></a>
            </div>

        </div>

        <input type="hidden" name="statusesReference" value="{{$ctrl.statusesReference}}" />
        <input type="text" ng-model="$ctrl.update" class="hidden" />

    </div>
</ng-form>
