<form novalidate>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.MainBonus.AccrueMainBonuses'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal m-r m-l" ng-if="!ctrl.isStartExport">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <label class="control-label m-b-xs">
                            <span class="text-required">{{'Admin.Js.MainBonus.BonusAmount'|translate}}</span>
                        </label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-disabled="ctrl.isStartExport" ng-model="ctrl.Amount" required validation-input-text="{{'Admin.Js.MainBonus.BonusAmount'|translate}}" autofocus data-e2e="Amount" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <label class="control-label m-b-xs">
                            {{'Admin.Js.MainBonus.Base'|translate}}
                        </label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-disabled="ctrl.isStartExport" ng-model="ctrl.Reason" validation-input-text="{{'Admin.Js.MainBonus.Base'|translate}}" data-e2e="Reason" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <label class="control-label m-b-xs">
                            {{'Admin.Js.Bonus.SendSms'|translate}}
                        </label>
                    </div>
                    <div class="col-xs-9">
                        <switch-on-off checked="ctrl.SendSms" data-id="SendSms" readonly="ctrl.isStartExport" on-change="ctrl.onChangeSwitch(checked)"></switch-on-off>
                    </div>
                </div>
            </div>
        </div>
        <cm-stat ng-if="ctrl.isStartExport" on-tick="ctrl.onTick(data)">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <uib-progressbar max="cmStat.entity.Total" value="cmStat.entity.Processed"><span style="color:white; white-space:nowrap;">{{cmStat.entity.ProcessedPercent }} %</span></uib-progressbar>
                        </div>
                    </div>

                    <div class="row" ng-if="!cmStat.entity.IsRun">
                        <div class="col-xs-6">
                            <div class="form-group row" ng-if="cmStat.entity.Error == 0">
                                <div class="col-xs-12">
                                    <div class="setting-label-wrap">
                                        {{'Admin.Js.MainBonus.Completed'|translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </cm-stat>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="submit" button-validation button-validation-success="ctrl.addBonus();" ladda="ctrl.btnLoading" data-e2e="bonusAdd">{{'Admin.Js.MainBonus.Add'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.MainBonus.Cancel'|translate}}</button>
    </div>
</form>