<form novalidate>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.MainBonus.WriteOffMainBonus'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal m-r m-l">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <label class="m-b-xs">
                            <span class="text-required">{{'Admin.Js.MainBonus.BonusAmount'|translate}}</span>
                        </label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-model="ctrl.Amount" validation-input-text="{{'Admin.Js.MainBonus.BonusAmount'|translate}}" required autofocus data-e2e="Amount" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <label class="control-label m-b-xs">
                            {{'Admin.Js.MainBonus.Base'|translate}}
                        </label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-model="ctrl.Reason" validation-input-text="{{'Admin.Js.MainBonus.Base'|translate}}"
                               data-e2e="Reason" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <label class="control-label m-b-xs">
                            {{'Admin.Js.Bonus.SendSms'|translate}}
                        </label>
                    </div>
                    <div class="col-xs-9">
                        <switch-on-off checked="ctrl.SendSms" data-id="SendSms" readonly="ctrl.isStartExport" on-change="ctrl.onChangeSwitch(checked)"></switch-on-off>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="submit" button-validation button-validation-success="ctrl.subtractBonus(); ctrl.btnLoading = true" ladda="ctrl.btnLoading" data-e2e="bonussubtract">{{'Admin.Js.MainBonus.WriteOff'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.MainBonus.Cancel'|translate}}</button>
    </div>
</form>