<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.SendSocialMessage.SendMessageTo'|translate}} {{ctrl.modalTitle}}</h2>
    </div>
    <div class="modal-body">

        <div class="form-horizontal ng-cloak" ng-if="!ctrl.enabled">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        {{'Admin.Js.SendSocialMessage.ToSendMessages'|translate}} <a href="settingscrm" target="_blank">{{'Admin.Js.SendSocial.ConfigureIntegrationWith'|translate}} {{ctrl.errorEnabled}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-disabled="!ctrl.enabled">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <textarea ng-model="ctrl.message" required validation-input-text="Текст сообщения" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.send()" ng-disabled="!ctrl.enabled" data-button-validation ladda="ctrl.btnLoading">{{'Admin.Js.SendSocialMessage.Send'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.SendSocialMessage.Cancel'|translate}}</button>
    </div>
</form>