<form ng-submit="ctrl.addLanding()">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddLanding.Title'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div>
            <div class="form-group">
                <div>{{'Admin.Js.AddLanding.Title'|translate}}</div>
                <input type="text" name="name" data-ng-model="ctrl.name" class="form-control" autofocus />
            </div>

            <div class="form-group" style="display:none">
                <div>{{'Admin.Js.AddLanding.LandingType'|translate}}</div>
                <label><input type="radio" name="type" value="0" data-ng-model="ctrl.type" checked> {{'Admin.Js.AddLanding.LandingType0'|translate}}</label><br>
                <label><input type="radio" name="type" value="1" data-ng-model="ctrl.type"> {{'Admin.Js.AddLanding.LandingType1'|translate}}</label><br>
                <label><input type="radio" name="type" value="2" data-ng-model="ctrl.type"> {{'Admin.Js.AddLanding.LandingType2'|translate}}</label>
            </div>

            <div data-ng-show="ctrl.type == 1" class="form-group select-product">
                <div>{{'Admin.Js.AddLanding.Product'|translate}}</div>
                <button type="button" class="btn btn-default">{{'Admin.Js.AddLanding.Choose'|translate}}</button>
                <input type="hidden" name="productIds" data-ng-model="ctrl.productIds" value="" />
            </div>

            <div class="form-group" style="display:none">
                <div>{{'Admin.Js.AddLanding.Purpose'|translate}}</div>
                <label><input type="radio" name="goal" data-ng-model="ctrl.goal" value="0" checked> {{'Admin.Js.AddLanding.ContactInformation'|translate}}</label><br>
                <label><input type="radio" name="goal" data-ng-model="ctrl.goal" value="1"> {{'Admin.Js.AddLanding.GetPaidImmediately'|translate}}</label>
            </div>

            <div style="display: none">
                <input type="checkbox" name="enabled" data-ng-model="ctrl.enabled" checked />
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="submit">{{'Admin.Js.AddLanding.Add'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>