<form novalidate>
    <div class="modal-new__inner">
        <div class="modal-form">
            <div class="modal-form_top">
                <div class="modal-form_top_left">
                    <div class="modal-form_top-img"></div>
                    <h2 class="modal-form__title">Регистрация администратора </h2>
                </div>
            </div>
            <div class="modal-form__fields">
                <div class="segment-form">
                    <div class="segment-form__inner">
                        <div class="segment-form__name">
                            <div class="segment-form__name__field-wrap">
                                <div class="segment-form__field-title">
                                    Имя
                                </div>
                                <div class="segment-form__value-wrap">
                                    <input type="text" 
                                           name="userInfoName" 
                                           ng-model="ctrl.userData.Name" 
                                           class="valid-required" 
                                           autocomplete="new-password"
                                           placeholder="Имя"
                                           autofocus
                                           required validation-input-text="{{'Admin.Js.UserInfoPopup.Firstname'|translate}}" />
                                </div>
                            </div>
                            <div class="segment-form__name__field-wrap">
                                <div class="segment-form__field-title">
                                    Фамилия
                                </div>
                                <div class="segment-form__value-wrap">
                                    <input type="text" 
                                           name="userInfoLastname" 
                                           ng-model="ctrl.userData.LastName" 
                                           class="valid-required" 
                                           autocomplete="new-password"
                                           placeholder="Фамилия"
                                           required validation-input-text="{{'Admin.Js.UserInfoPopup.LastName'|translate}}" />
                                </div>
                            </div>
                            <div class="btn-hidden-help" id="btn-hidden-help-name">
                                <a class="btn-hidden-help-btn" tabindex="1"></a>
                                <span class="btn-hidden-help-block">
                                    <span class="btn-hidden-help-block-text">Эти данные будут использоваться в системе, как администраторский аккаунт. Дополнительно вы сможете создать отдельные аккаунты для ваших менеджеров с другими правами, но ваш аккаунт будет главным. </span>
                                </span>
                            </div>
                        </div>
                        <div ng-if="ctrl.userData.ShowProperties">
                            <div class="segment-form__multi_select">
                                <div class="segment-form__multi_select_title">Есть ли у вас опыт продаж?</div>
                                <div class="segment-form__multi_select_block">
                                    <div class="segment-form__multi_select-block-left">
                                        <div class="segment-form__multi_select-block-left input">
                                            <label>
                                                <input type="radio" name="radio_multi_select_block" value="Еще не продавали"
                                                       class="segment-form__multi_select_input segment-form__multi_select-block-left_input" id="segment-form__multi_select_no"
                                                       ng-model="ctrl.Question2" required validation-input-text="Опыт продаж">
                                                <span class="segment-form__multi_select-checkbox"></span>
                                                <span class="segment-form__multi_select_input-text">Еще не продавали</span>
                                            </label>
                                        </div>
                                        <div class="segment-form__multi_select-block-left input">
                                            <label>
                                                <input type="radio" name="radio_multi_select_block" value="Продавали в соц.сетях" class="segment-form__multi_select_input segment-form__multi_select-block-left_input"
                                                       id="segment-form__multi_select_yes"
                                                       ng-model="ctrl.Question2" required>
                                                <span class="segment-form__multi_select-checkbox"></span>
                                                <span class="segment-form__multi_select_input-text">Продавали в соц.сетях</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="segment-form__multi_select-block-right">
                                        <div class="segment-form__multi_select-block-right input">
                                            <label>
                                                <input type="radio" class="segment-form__multi_select_input" value="Делали рекламу в интернете" name="radio_multi_select_block"
                                                       ng-model="ctrl.Question2" required>
                                                <span class="segment-form__multi_select-checkbox"></span>
                                                <span class="segment-form__multi_select_input-text">Делали рекламу в интернете</span>
                                            </label>
                                        </div>
                                        <div class="segment-form__multi_select-block-right input">
                                            <label>
                                                <input type="radio" class="segment-form__multi_select_input" value="Был/Есть интернет-магазин" name="radio_multi_select_block"
                                                       ng-model="ctrl.Question2" required>
                                                <span class="segment-form__multi_select-checkbox"></span>
                                                <span class="segment-form__multi_select_input-text">Был/Есть интернет-магазин</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-hidden-help" id="btn-hidden-help-experience">
                                    <a class="btn-hidden-help-btn" tabindex="1"></a>
                                    <span class="btn-hidden-help-block">
                                        <span class="btn-hidden-help-block-text">Мы пришлём вам индивидуальные материалы для успешной работы с вашим магазином в зависимости от вашего опыта. </span>
                                    </span>
                                </div>
                            </div>
                            <div class="segment-form__multi_select">
                                <div class="segment-form__multi_select_title">Сколько сотрудников в вашей компании?</div>
                                <div class="segment-form__multi_select_block">
                                    <label>
                                        <input type="radio" name="radio-employees" value="1" ng-model="ctrl.Question1" class="segment-form__multi_select_input segment-form__multi_select-block-left_input" id="segment-form__multi_select_no" required validation-input-text="Количество сотрудников">
                                        <span class="segment-form__multi_select-checkbox"></span>
                                        <span class="segment-form__multi_select_input-text">1-2</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="radio-employees" value="3" ng-model="ctrl.Question1" class="segment-form__multi_select_input segment-form__multi_select-block-left_input" id="segment-form__multi_select_no" required>
                                        <span class="segment-form__multi_select-checkbox"></span>
                                        <span class="segment-form__multi_select_input-text">3-5</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="radio-employees" value="6" ng-model="ctrl.Question1" class="segment-form__multi_select_input segment-form__multi_select-block-left_input" id="segment-form__multi_select_no" required>
                                        <span class="segment-form__multi_select-checkbox"></span>
                                        <span class="segment-form__multi_select_input-text">6-15</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="radio-employees" value="16" ng-model="ctrl.Question1" class="segment-form__multi_select_input segment-form__multi_select-block-left_input" id="segment-form__multi_select_no" required>
                                        <span class="segment-form__multi_select-checkbox"></span>
                                        <span class="segment-form__multi_select_input-text">>15</span>
                                    </label>
                                </div>
                                <div class="btn-hidden-help" id="btn-hidden-help-count">
                                    <a class="btn-hidden-help-btn" tabindex="1"></a>
                                    <span class="btn-hidden-help-block">
                                        <span class="btn-hidden-help-block-text">Эти данные мы используем для того, чтобы упростить управление сотрудниками с помощью встроенной CRM-системы. </span>
                                    </span>
                                </div>
                            </div>
                            <!--<div class="segment-form__field-wrap">
                <div class="segment-form__field-title">
                    <span class="text-required">{{'Admin.Js.UserInfoPopup.NumberOfEmployees'|translate}}</span>
                </div>
                <div class="segment-form__value-wrap">
                    <input class="input-small valid-required" type="number" min="1" name="staff" ng-model="ctrl.Question1" autocomplete="off" autocapitalize="on"
                            required validation-input-text="{{'Admin.Js.UserInfoPopup.NumberOfEmployees'|translate}}" />
                </div>
            </div>
        </div>
        <div class="segment-form__field-wrap">
            <div class="segment-form__field-title">
                <span class="text-required">{{'Admin.Js.UserInfoPopup.ExperienceSalesOnInternet'|translate}}</span>
            </div>
            <div class="segment-form__wrap">
                <div class="select_custom">
                    <select ng-model="ctrl.Question2" ng-options="s.text as s.text for s in ctrl.q2Options" class="segment-form__select"
                            required validation-input-text="{{'Admin.Js.UserInfoPopup.ExperienceSalesOnInternet'|translate}}">
                        <option selected="selected" value="" disabled="disabled">...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="segment-form__field-wrap">
            <div class="segment-form__field-title">
                <span class="text-required">{{'Admin.Js.UserInfoPopup.OfflineSalePoints'|translate}}</span>
            </div>
            <div class="segment-form__wrap">
                <div class="select_custom">
                    <select ng-model="ctrl.Question3" ng-options="s.text as s.text for s in ctrl.q3Options" class="segment-form__select"
                            required validation-input-text="{{'Admin.Js.UserInfoPopup.OfflineSalePoints'|translate}}">
                        <option selected="selected" value="" disabled="disabled">...</option>
                    </select>
                </div>
            </div>
        </div>-->
                        </div>
                        <div class="segment-form__phone">
                            <div class="segment-form__phone__field-wrap">
                                <div class="segment-form__field-title">
                                    Контактный телефон
                                </div>
                                <div class="segment-form__value-wrap">
                                    <input name="userInfoPhone" 
                                           type="tel" 
                                           ng-model="ctrl.userData.Mobile" 
                                           class="input-wrap" 
                                           autocomplete="new-password"
                                           data-mask-control
                                           data-mask-control-preset="phone"
                                           required 
                                           validation-input-text="{{'Admin.Js.UserInfoPopup.Phone'|translate}}" 
                                           minlength="10" />
                                </div>
                            </div>
                            <div class="btn-hidden-help" id="btn-hidden-help-phone">
                                <a class="btn-hidden-help-btn" tabindex="1"></a>
                                <span class="btn-hidden-help-block">
                                    <span class="btn-hidden-help-block-text">Ваш контактный телефон будет указан, как основной телефон в вашем магазине для приема заказов, а также для оперативной связи и предложения улучшений для вашего магазина. Вы можете изменить его в любой момент в настройках.</span>
                                </span>
                            </div>
                        </div>
                        </div>
                        <div class="segment-form__btn-wrap">
                            <button class="segment-form-btn segment-form-btn_arrow segment-form-btn_action" type="submit" button-validation button-validation-success="ctrl.saveUserInfo(); ctrl.btnLoading = true" ladda="ctrl.btnLoading">
                                <!--<span>Шаг 2</span>-->
                                <span>Сохранить и продолжить настройку</span>
                            </button>
                        </div>
                        <div class="segment-form__field-wrap segment-form__field-wrap_agreement">
                            <div class="segment-form_field-agreement">
                                <!-- {{'Admin.Js.UserInfoPopup.IAgreeToProcessing'|translate}},<br /> {{'Admin.Js.UserInfoPopup.PersonalData'|translate}}.-->
                                Нажимая на кнопку "Сохранить",<br />
                                я даю согласие на обработку своих персональных данных.
                            </div>
                            <!--<div class="segment-form__field-end-later"><a href="">Завершить позже</a></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>