<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddCustomerGroup.AddGroupUsers'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">{{'Admin.Js.AddCustomerGroup.NameUserGroup'|translate}}</span>
            </label>
            <div class="col-xs-9">
                <input type="text" data-ng-model="ctrl.name" data-e2e="CustomerGroupName" class="form-control" required="required" validation-input-text={{'Admin.Js.AddCustomerGroup.NameUserGroup'|translate}} autofocus />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">{{'Admin.Js.AddCustomerGroup.Discount'|translate}}</span>
            </label>
            <div class="col-xs-9">
                <div class="input-group">
                    <input type="text" data-ng-model="ctrl.discount" data-e2e="CustomerGroupDiscount" class="form-control" validation-input-text={{'Admin.Js.AddCustomerGroup.Discount'|translate}} required="required" /> <span class="input-group-addon" style="border: 0;">%</span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">{{'Admin.Js.AddCustomerGroup.MinOrderAmount'|translate}}</span>
            </label>
            <div class="col-xs-9">
                <input type="text" data-ng-model="ctrl.minimumOrderPrice" data-e2e="CustomerGroupMinOrderPrice" class="form-control" validation-input-text={{'Admin.Js.AddCustomerGroup.MinOrderAmount'|translate}} required="required" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-e2e="CustomerGroupOK" data-button-validation-success="ctrl.addCustomerGroup()" data-button-validation>{{'Admin.Js.AddEdit.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" data-e2e="CustomerGroupCancel" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>