<form novalidate="novalidate">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.CopyProduct.AddCopy'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="middle-xs">
                        <label>
                            <span class="text-required">{{'Admin.Js.CopyProduct.Count'|translate}}:</span>
                        </label>
                        <div class="row">
                            <div class="col-xs-3" data-e2e="CopyCount" data-spinbox
                                 data-value="ctrl.count"
                                 data-update-fn="ctrl.updateCount(value)"
                                 data-step="1"
                                 data-max="1000"
                                 data-min="1"
                                 validation-text="{{'Admin.Js.CopyProduct.Count'|translate}}"
                                 autofocus></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="middle-xs">
                        <label>
                            <span class="text-required">{{'Admin.Js.CopyProduct.Name'|translate}}:</span>
                        </label>
                        <div>
                            <input type="text" placeholder="" ng-model="ctrl.name" class="form-control" data-e2e="CopyName" required="required" validation-input-text="{{::'Admin.Js.CopyProduct.Name' | translate }}" />
                        </div>
                    </div>
                </div>
                <div>
                    {{'Admin.Js.CopyProduct.AvailableVariablesDescription'|translate}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" data-e2e="CopyProductAdd" type="button" data-button-validation data-button-validation-success="ctrl.btnLoading = true; ctrl.copyProduct();" ladda="ctrl.btnLoading">{{'Admin.Js.AddEdit.Add'|translate}}</button>
        <button class="btn btn-default btn-cancel" data-e2e="CopyProductCancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
