<div class="sticky-page-name" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main">
            <h1 class="page-name-block-text sticky-page-name-text">
                Правила замены адреса доставки для доставок
            </h1>
        </div>
        <div class="page-name-block-item-additional">
            <ui-modal-trigger data-controller="'ModalAddEditShippingReplaceGeoCtrl'" controller-as="ctrl" size="lg"
                              template-url="../areas/admin/content/src/shippingReplaceGeo/modal/addEdit/addEdit.html"
                              data-on-close="shippingReplaceGeo.onShippingReplaceGeoAddUpdate()">
                <button class="btn btn-sm btn-success btn--margin-left" type="button"
                        disabled ng-disabled="!shippingReplaceGeo.grid">
                    <span class="fa fa-plus"></span>
                    @T("Admin.Add")
                </button>
            </ui-modal-trigger>
        </div>
    </div>
</div>

<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="grid"
                        grid-row-identificator="'Id'"
                        grid-on-init="shippingReplaceGeo.gridOnInit(grid)"
                        grid-options="shippingReplaceGeo.gridOptions"
                        grid-url="'shippingReplaceGeo/getListShippingReplaceGeo'"
                        grid-inplace-url="'shippingReplaceGeo/inplaceShippingReplaceGeo'"
                        grid-extend-ctrl="shippingReplaceGeo">
            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="shippingReplaceGeo.grid.gridOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>
