@model BlockModel

<header class="lp-header @(Model.Block.TryGetSetting("runDown") == true && Model.Block.TryGetSetting("fixedOnScroll") == true ? "color-scheme__bg-opacity" : "")">
    <div class="container-fluid">
        <div class="lp-container">
            <div class="row middle-xs center-xs lp-header__container">
                @if (Model.Block.TryGetSetting("show_logo") == true)
                {
                    <div class="col-xs hidden-md lp-col--vertical-padding">
                        <div class="lp-header-logo">
                            @Html.SubBlock(Model, "logo")
                        </div>
                    </div>
                }
                @if (Model.Block.NeedRenderMenu())
                {
                    <div class="col-xs-2 col-md-12 lp-menu-header__burger-container lp-menu-header--transform text-center lp-header-menu">
                        <div class="row center-md">
                            @Html.SubBlock(Model, "menuHeader")
                        </div>
                    </div>
                }
                @if (Model.Block.TryGetSetting("show_phone") == true)
                {
                    <div class="col-xs-2 hidden-md lp-col--vertical-padding lp-header__phone-col">
                        @Html.SubBlock(Model, "phone_mobile", false)
                    </div>
                }
            </div>
        </div>
    </div>
</header>
