@model BlockModel

@{
    var templateSelected = Model.Block.TryGetSetting("template_selected");
}

<div class="lp-area">
    <div class="container-fluid">
        <div class="lp-container">
            @if (Model.Block.TryGetSetting("show_title") == true)
            {
                <div class="row center-xs">
                    <div class="col-xs-12 col-sm-8">
                        <div class="video__addition-header lp-h2 lp-h2--color" data-e2e="TitleVideo">
                            @Html.SubBlock(Model, "title")
                        </div>
                    </div>
                </div>
                
            }
            @if (Model.Block.TryGetSetting("show_subtitle") == true)
            {
            <div class="row center-xs">
                <div class="col-xs-12 col-sm-8">
                    <div class="video__addition-text lp-h3 lp-h3--color" data-e2e="SubTitleVideo">
                        @Html.SubBlock(Model, "subtitle")
                    </div>
                </div>
            </div>
            }

            <div class="responsive-video-container">
                <div class="row center-sm">
                    <div class="col-xs-12 col-sm-8" data-e2e="ContentVideo">
                        @Html.SubBlock(Model, "video")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
