<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="gridFunnelLeads"
                        grid-filter-enabled="false"
                        grid-selection-enabled="false"
                        grid-params="{orderSourceId: $ctrl.orderSourceId}"
                        grid-options="$ctrl.gridLeadsOptions"
                        grid-url="'leads/getLeads'">
        </ui-grid-custom>
    </div>
</div>
