<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="gridFunnelOrders"
                        grid-filter-enabled="false"
                        grid-selection-enabled="false"
                        grid-params="{orderSourceId: $ctrl.orderSourceId}"
                        grid-options="$ctrl.gridOrdersOptions"
                        grid-url="'orders/getOrders'">
        </ui-grid-custom>
    </div>
</div>
