<form name="formAddEditTaskGroup" novalidate>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{ctrl.mode == "add" ? ('Admin.Js.Taskgroups.AddEdit.NewProject'|translate) :  ('Admin.Js.Taskgroups.AddEdit.EditingProject'|translate)}}</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.formAddEditTaskGroup = formAddEditTaskGroup">
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">
                    {{'Admin.Js.Taskgroups.AddEdit.Name'|translate}}
                </span>
            </label>
            <div class="col-xs-9">
                <input data-e2e="taskGroupName" type="text" class="form-control" ng-model="ctrl.name" required validation-input-text="{{'Admin.Js.Taskgroups.AddEdit.Name'|translate}}" autofocus />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                {{'Admin.Js.Taskgroups.AddEdit.Participants'|translate}}
                <help-trigger class="ng-cloak" data-title="{{'Admin.Js.Taskgroups.AddEdit.Participants'|translate}}">
                    Сотрудники с выбранными ролями могут работать с задачами проекта. Если ни одна роль не выбрана, то проект доступен всем.
                    <br /><br />
                    Подробнее:
                    <br />
                    <a href="https://www.advantshop.net/help/pages/sozdanie-proekt" target="_blank">Создание проекта</a>
                </help-trigger>
            </label>
            <div class="col-xs-9" data-e2e="ParticipantsProject">
                <ui-select multiple ng-model="ctrl.managerRoleIds" convert-to-number>
                    <ui-select-match placeholder="Выберите роли">{{$item.label}}</ui-select-match>
                    <ui-select-choices repeat="s.value as s in ctrl.managerRoles | filter:$select.search">
                        {{s.label}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label relative">
                {{'Admin.Js.Taskgroups.AddEdit.Observers'|translate}}
                <help-trigger class="ng-cloak" data-title="{{'Admin.Js.Taskgroups.AddEdit.Observers'|translate}}">
                    Список сотрудников, которые будут получать уведомления о задачах
                    <br /><br />
                    Подробнее:
                    <br />
                    <a href="https://www.advantshop.net/help/pages/sozdanie-proekt" target="_blank">Создание проекта</a>
                </help-trigger>
            </label>
            <div class="col-xs-9" data-e2e="ObserverProject">
                <ui-select multiple ng-model="ctrl.managerIds" convert-to-number>
                    <ui-select-match placeholder="{{'Admin.Js.Taskgroups.AddEdit.SelectEmployees'|translate}}">{{$item.label}}</ui-select-match>
                    <ui-select-choices repeat="manager.value as manager in ctrl.managers | filter:$select.search">
                        {{manager.label}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.Taskgroups.AddEdit.SortingOrder'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" data-e2e="taskGroupSortOrder" ng-model="ctrl.sortOrder" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-3 control-label">
                Приватные комментарии
                <help-trigger class="ng-cloak" data-title="Приватные комментарии">
                    Сотрудники могут видеть только свои комментарии и комментарии администратора. Администратор видит все комментарии
                    <br /><br />
                    Подробнее:
                    <br />
                    <a href="https://www.advantshop.net/help/pages/sozdanie-proekt" target="_blank">Создание проекта</a>
                </help-trigger>
            </label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label" data-e2e="ProjectIsPrivateComments">
                    <input type="checkbox" ng-model="ctrl.isPrivateComments" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul" data-e2e="ProjectIsPrivateCommentsSpan"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.Taskgroups.AddEdit.Activity'|translate}}</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label" data-e2e="ProjectEnabled">
                    <input type="checkbox" ng-model="ctrl.enabled" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul" data-e2e="ProjectEnabledSpan"></span>
                </label>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-e2e="taskGroupButtonSave"
                data-button-validation-success="ctrl.save()" data-button-validation
                disabled ng-disabled="ctrl.mode == 'edit' && (!ctrl.formInited || !formAddEditTaskGroup.modified)"
                ng-bind="ctrl.mode == 'add' ? ('Admin.Js.Taskgroups.AddEdit.Add'|translate) : ('Admin.Js.Taskgroups.AddEdit.Save'|translate)"></button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.Taskgroups.AddEdit.Cancel'|translate}}</button>
    </div>
</form>