<form name="formAddCard" novalidate>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.Cards.AddACard'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal m-r m-l">

            <div class="row form-group">
                <label class="col-xs-3 m-b-xs text-required">
                    {{'Admin.Js.Cards.CardOwner'|translate}}
                </label>
                <div class="col-xs-9">
                    <ui-modal-trigger data-controller="'ModalSelectCustomerCtrl'" controller-as="ctrl" size="middle"
                                        template-url="../areas/admin/content/src/_shared/modal/selectCustomer/selectCustomer.html"
                                        data-on-close="ctrl.selectCustomer(result)">
                        <a href="" class="edit link-decoration-none">{{'Admin.Js.Cards.SelectACustomer'|translate}}</a>
                    </ui-modal-trigger>
                    <input type="text" class="ng-hide" name="inputCategoryName" required ng-model="ctrl.customerId" validation-input-text="{{'Admin.Js.Cards.YouShouldSelect'|translate}}" />
                    <a data-e2e="selectCustomer" target="_blank" href="customers/view/{{ctrl.customerId}}" ng-if="ctrl.customerId != null" class="ng-cloak m-l-xs link-invert">
                        {{ctrl.selectedFirstName}} {{ctrl.selectedLastName}}
                    </a>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-xs-3 control-label m-b-xs">
                    {{'Admin.Js.Cards.CardNumber'|translate}}
                </label>
                <div class="col-xs-9">
                    <input data-e2e="CardNumber" type="text" class="form-control" ng-model="ctrl.CardNumber"/>
                </div>
            </div>

            <div class="row">
                <label class="col-xs-3 control-label m-b-xs required">
                    {{'Admin.Js.Cards.Grade'|translate}}
                </label>
                <div class="col-xs-9">
                    <select  data-e2e="SelectGrade" required validation-input-text="{{'Admin.Js.Cards.SelectAGrade'|translate}}" class="form-control" ng-options="item.Value as item.Text for item in ctrl.Grades" ng-model="ctrl.GradeId"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="submit" button-validation button-validation-success="ctrl.addCard();"
                 ladda="ctrl.btnLoading" data-e2e="addCard">{{'Admin.Js.Cards.Add'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.Cards.Cancel'|translate}}</button>
    </div>
</form>