<form novalidate>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.Cards.UploadCards'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal m-r m-l" ng-if="!ctrl.btnLoading">
            <div class="form-group row middle-xs">
                <div class="setting-label-wrap col-xs-7">
                    <label for="accrueBonuses">{{'Admin.Js.Cards.AccrueBonuses'|translate}}</label>
                </div>
                <div class="col-xs">
                    <label class="adv-checkbox-label control-checkbox" data-e2e="accrueBonuses">
                        <input type="checkbox" class="adv-checkbox-input" ng-model="ctrl.params.accrueBonuses" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <file-uploader class="col-xs" upload-url="cards/ImportCards" upload-params="ctrl.params" on-before-send="ctrl.onBeforeSend()" on-success="ctrl.onSuccess(data)"></file-uploader>
            </div>
        </div>
        <cm-stat ng-if="ctrl.isStartExport">

            <uib-progressbar max="cmStat.entity.Total" value="cmStat.entity.Processed"><span style="color:white; white-space:nowrap;">{{cmStat.entity.ProcessedPercent }} %</span></uib-progressbar>

            <div ng-if="cmStat.entity.ProcessedPercent === 100 && cmStat.entity.Error === 0">
                <div class="form-group">
                    <div class="setting-label-wrap">
                        {{'Admin.Js.Cards.Completed'|translate}}
                    </div>
                </div>
            </div>
        </cm-stat>
    </div>
    <div class="modal-footer" data-ng-switch="ctrl.btnLoading">
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.cancel()" data-ng-switch-when="false">{{'Admin.Js.Cards.Cancel'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()" data-ng-switch-when="true">{{'Admin.Js.Cards.Close'|translate}}</button>
    </div>
</form>