<div class="ibox m-b-lg">
    <div class="ibox-content">
        <span class="m-b-sm m-r-sm inline h4">{{'Admin.Js.LeadEvents.Comment'|translate}}</span>
        <span class="inline" ng-transclude>
        </span>
        <div class="relative">
            <div class="add-event-dropdown">
                <button class="btn btn-default dropdown-toggle flex around-xs middle-xs" type="button">
                    <i class="far fa-comment" aria-hidden="true"></i>
                </button>
            </div>
            <div class="add-even-btn-wrap">
                <a class="btn btn-sm btn-success" ng-click="$ctrl.addLeadEvent()" data-e2e="LeadEventAdd">{{'Admin.Js.LeadEvents.AddEvent'|translate}}</a>
            </div>
            <div class="input-add-event-wrap inline">
                <input class="form-control input-add-event" type="text" value="" ng-model="$ctrl.message" ng-keyup="$ctrl.addEventKeydown($event)" data-e2e="LeadEvent" />
            </div>
        </div>
    </div>
</div>


<div class="m-b-md lead-events">
    <label class="lead-events__item"
           ng-class="{'lead-events__item_active' : $ctrl.filterType === '' ||  $ctrl.filterType == null}" data-e2e="eventTypeAll">
        <span class="lead-events__item__label">{{'Admin.Js.LeadEvents.All'|translate}}</span>
        <input type="radio" name="leadEventsFilter" class="lead-events-filter__input" ng-model="$ctrl.filterType" ng-change="$ctrl.filterTypeChange($ctrl.filterType)" value="" />
    </label>
    <label class="lead-events__item" ng-if="$ctrl.data == null || $ctrl.data.ShowComments"
           ng-class="{'lead-events__item_active' : $ctrl.filterType == 'Comment', 'lead-events__item_disabled' : $ctrl.data.CommentsCount === 0 }" data-e2e="eventTypeComment">
        <span class="lead-events__item__label">{{'Admin.Js.LeadEvents.Comments'|translate}}</span>
        <span class="lead-events__item__count_label" ng-bind="$ctrl.data.CommentsCount"></span>
        <input type="radio" name="leadEventsFilter" class="lead-events-filter__input" ng-model="$ctrl.filterType" ng-change="$ctrl.filterTypeChange($ctrl.filterType)" value="Comment" />
    </label>
    <label class="lead-events__item" ng-if="$ctrl.data == null || $ctrl.data.ShowCalls"
           ng-class="{'lead-events__item_active' : $ctrl.filterType == 'Call', 'lead-events__item_disabled' : $ctrl.data.CallsCount === 0 }" data-e2e="eventTypeCall">
        <span class="lead-events__item__label">{{'Admin.Js.LeadEvents.Calls'|translate}}</span>
        <span class="lead-events__item__count_label" ng-bind="$ctrl.data.CallsCount"></span>
        <input type="radio" name="leadEventsFilter" class="lead-events-filter__input" ng-model="$ctrl.filterType" ng-change="$ctrl.filterTypeChange($ctrl.filterType)" value="Call" />
    </label>
    <label class="lead-events__item" ng-if="$ctrl.data == null || $ctrl.data.ShowEmails"
           ng-class="{'lead-events__item_active' : $ctrl.filterType == 'Email', 'lead-events__item_disabled' : $ctrl.data.EmailsCount === 0}" data-e2e="eventTypeEmail">
        <span class="lead-events__item__label">{{'Admin.Js.LeadEvents.Mails'|translate}}</span>
        <span class="lead-events__item__count_label" ng-bind="$ctrl.data.EmailsCount"></span>
        <input type="radio" name="leadEventsFilter" class="lead-events-filter__input" ng-model="$ctrl.filterType" ng-change="$ctrl.filterTypeChange($ctrl.filterType)" value="Email" />
    </label>
    <label class="lead-events__item" ng-if="$ctrl.data == null || $ctrl.data.ShowSms"
           ng-class="{'lead-events__item_active' : $ctrl.filterType == 'Sms', 'lead-events__item_disabled' : $ctrl.data.SmsCount === 0}" data-e2e="eventTypeSms">
        <span class="lead-events__item__label">{{'Admin.Js.LeadEvents.SMS'|translate}}</span>
        <span class="lead-events__item__count_label" ng-bind="$ctrl.data.SmsCount"></span>
        <input type="radio" name="leadEventsFilter" class="lead-events-filter__input" ng-model="$ctrl.filterType" ng-change="$ctrl.filterTypeChange($ctrl.filterType)" value="Sms" />
    </label>
    <label class="lead-events__item" ng-if="$ctrl.data == null || $ctrl.data.ShowVkMessages"
           ng-class="{'lead-events__item_active' : $ctrl.filterType == 'Vk', 'lead-events__item_disabled' : $ctrl.data.VkMessagesInCount === 0}" data-e2e="eventTypeVk">
        <span class="lead-events__item__label">{{'Admin.Js.LeadEvents.VKontakte'|translate}}</span>
        <span class="lead-events__item__count_label" ng-bind="$ctrl.data.VkMessagesCount"></span>
        <input type="radio" name="leadEventsFilter" class="lead-events-filter__input" ng-model="$ctrl.filterType" ng-change="$ctrl.filterTypeChange($ctrl.filterType)" value="Vk" />
    </label>
    <!--<label class="lead-events__item" ng-if="$ctrl.data == null || $ctrl.data.ShowFacebookMessages"
           ng-class="{'lead-events__item_active' : $ctrl.filterType == 'Facebook', 'lead-events__item_disabled' : $ctrl.data.FacebookMessagesCount === 0}" data-e2e="eventTypeFacebook">
        <span class="lead-events__item__label">Facebook</span>
        <span class="lead-events__item__count_label" ng-bind="$ctrl.data.FacebookMessagesCount"></span>
        <input type="radio" name="leadEventsFilter" class="lead-events-filter__input" ng-model="$ctrl.filterType" ng-change="$ctrl.filterTypeChange($ctrl.filterType)" value="Facebook" />
    </label>-->
    <label class="lead-events__item" ng-if="$ctrl.data == null || $ctrl.data.ShowInstagramMessages"
           ng-class="{'lead-events__item_active' : $ctrl.filterType == 'Instagram', 'lead-events__item_disabled' : $ctrl.data.InstagramMessagesCount === 0}" data-e2e="eventTypeInstagram">
        <span class="lead-events__item__label">Instagram</span>
        <span class="lead-events__item__count_label" ng-bind="$ctrl.data.InstagramMessagesCount"></span>
        <input type="radio" name="leadEventsFilter" class="lead-events-filter__input" ng-model="$ctrl.filterType" ng-change="$ctrl.filterTypeChange($ctrl.filterType)" value="Instagram" />
    </label>
    <label class="lead-events__item" ng-if="$ctrl.data == null || $ctrl.data.ShowTelegramMessages"
           ng-class="{'lead-events__item_active' : $ctrl.filterType == 'Telegram', 'lead-events__item_disabled' : $ctrl.data.TelegramMessagesCount === 0}" data-e2e="eventTypeTelegram">
        <span class="lead-events__item__label">Telegram</span>
        <span class="lead-events__item__count_label" ng-bind="$ctrl.data.TelegramMessagesCount"></span>
        <input type="radio" name="leadEventsFilter" class="lead-events-filter__input" ng-model="$ctrl.filterType" ng-change="$ctrl.filterTypeChange($ctrl.filterType)" value="Telegram" />
    </label>
    <label class="lead-events__item" ng-if="$ctrl.data == null || $ctrl.data.ShowOkMessages"
           ng-class="{'lead-events__item_active' : $ctrl.filterType == 'OK', 'lead-events__item_disabled' : $ctrl.data.OkMessagesCount === 0}" data-e2e="eventTypeOk">
        <span class="lead-events__item__label">OK</span>
        <span class="lead-events__item__count_label" ng-bind="$ctrl.data.OkMessagesCount"></span>
        <input type="radio" name="leadEventsFilter" class="lead-events-filter__input" ng-model="$ctrl.filterType" ng-change="$ctrl.filterTypeChange($ctrl.filterType)" value="OK" />
    </label>
    <label class="lead-events__item" ng-if="$ctrl.objId != null && ($ctrl.data == null || $ctrl.data.ShowHistory)"
           ng-class="{'lead-events__item_active' : $ctrl.filterType == 'History', 'lead-events__item_disabled' : $ctrl.data.HistoryCount === 0}" data-e2e="eventTypeHistory">
        <span class="lead-events__item__label">{{'Admin.Js.LeadEvents.History'|translate}}</span>
        <span class="lead-events__item__count_label" ng-bind="$ctrl.data.HistoryCount"></span>
        <input type="radio" name="leadEventsFilter" class="lead-events-filter__input" ng-model="$ctrl.filterType" ng-change="$ctrl.filterTypeChange($ctrl.filterType)" value="History" />
    </label>
</div>
<div ng-if="$ctrl.firstLoadingData === true" class="ibox-content text-center">
    <i class="fas fa-spinner fa-spin fa-fw fa-2x"></i> <span>{{::'Admin.Js.LoadingData'|translate}}</span>
</div>
<div class="ibox-content text-center bold" ng-if="groupsFilters.length === 0">
    {{'Admin.Js.LeadEvents.NothingFound'|translate}}
</div>
<div class="ibox m-b-lg lead-events-group" data-e2e="EventBlock"  ng-repeat="group in $ctrl.data.EventGroups | filter : { Events : {$ : $ctrl.filterType }} as groupsFilters  track by $index">
    <h4 class="m-b lead-events-group__title">{{group.Title}}</h4>

    <div class="ibox-content lead-events-item" data-e2e="EventBlock-{{event.EventType}}" ng-repeat="event in group.Events | filter : { EventType : $ctrl.filterType } track by $index">
        <div class="row" >
            <div class="lead-time flex-grow-n leads-col-fixed-size-sm" title="{{event.CreatedDateFormatted}}">
                <div class="flex between-xs">
                    <div class="lead-events-item__time">{{event.CreatedDateShort}}</div>
                    <span><i ng-class="$ctrl.getIcon(event.EventType)" aria-hidden="true"></i></span>
                </div>
                <div class="italic lead-events-item__from-create-date">{{event.FromCreatedDate}} </div>
            </div>
            <div class="flex-grow flex-basis-n flex-width-n">
                <div class="p-l-sm row">
                    <div ng-if="event.UserPhoto != null" class="vk-lead-photo">
                        <img ng-src="{{event.UserPhoto}}" class="vk-message-photo-img" />
                    </div>
                    <div class="col-xs">
                        <div ng-if="event.Title != null" bind-html-compile="event.Title" data-e2e="LeadEventTitle" class="word-break lead-event__title">
                        </div>

                        <div ng-if="event.Message != null && !(event.EventType == 'task' && event.TaskId != null) && !(event.EventType == 'comment' && event.Id != 0)" class="m-b-sm">
                            <div ng-bind-html="event.Message" data-e2e="LeadEventType"></div>
                        </div>

                        <div ng-if="event.EventType == 'comment' && event.Id != 0">
                            <div class="m-b-sm">
                                <div class="row">
                                    <div class="col-xs">
                                        <div ng-bind-html="event.Message" data-e2e="LeadEventType"></div>
                                    </div>
                                    <div class="col-xs-1">
                                        <a href="" ng-click="event.showEditComment[$index]=true; event.editCommentText[$index]=event.Message;"
                                           ng-if="event.Data.CanEdit"
                                           class="ng-cloack link-invert link-decoration-none fas fa-pencil-alt m-r-xs" 
                                           data-e2e="leadCommentEdit"></a>
                                        <a href="" ng-click="$ctrl.deleteComment(event)"
                                           ng-if="event.Data.CanDelete"
                                           class="ng-cloack link-invert link-decoration-none fas fa-times" 
                                           data-e2e="leadCommentDelete"></a>
                                    </div>
                                </div>
                                <div ng-if="event.showEditComment[$index]">
                                    <div class="m-b-sm m-t-sm">
                                        <textarea elastic-text class="form-control" rows="4" ng-model="event.editCommentText[$index]" data-e2e="leadCommentText"></textarea>
                                    </div>
                                    <a href="" class="btn btn-action btn-sm" ng-click="$ctrl.editComment(event, index, event.editCommentText[$index])" data-e2e="leadCommentEditSave">Сохранить</a>
                                    <a href="" class="btn btn-default btn-sm" ng-click="event.showEditComment[$index]=false" data-e2e="leadCommentEditCancel">{{'Admin.Js.AddEdit.Cancel'|translate}}</a>
                                </div>
                            </div>
                        </div>

                        <div ng-if="event.EventType == 'task' && event.TaskId != null" class="m-b-xs">
                            <ui-modal-trigger controller="'ModalEditTaskCtrl'" controller-as="ctrl" on-close="$ctrl.getLeadEvents()" size="lg" backdrop="static"
                                              template-url="../areas/admin/content/src/tasks/modal/editTask/editTask.html" resolve="{'id': event.TaskId}" modal-id="{{event.TaskId}}">
                                <a href="">{{event.Message}}</a>
                            </ui-modal-trigger>
                        </div>

                        <div ng-if="event.EmailId != null">
                            <ui-modal-trigger controller="'ModalShowEmailCtrl'" controller-as="ctrl" size="lg" on-close="$ctrl.getLeadEventsWithDelay()"
                                              resolve="{ params: {customerId: $ctrl.customerId, id: event.EmailId, folder: event.EmailFolder}}" template-url="../areas/admin/content/src/_partials/leadEvents/modals/showEmail/showEmail.html">
                                <a href="">{{'Admin.Js.LeadEvents.Show'|translate}}</a>
                            </ui-modal-trigger>
                        </div>

                        <div ng-if="event.EventType == 'email' && event.Data != null">
                            <ui-modal-trigger controller="'ModalShowEmailCtrl'" controller-as="ctrl" size="lg" on-close="$ctrl.getLeadEventsWithDelay()"
                                              resolve="{ params: {customerId: $ctrl.customerId, emailData: event.Data}}" template-url="../areas/admin/content/src/_partials/leadEvents/modals/showEmail/showEmail.html">
                                <a href="">{{'Admin.Js.LeadEvents.Show'|translate}}</a>
                            </ui-modal-trigger>
                        </div>

                        <div ng-if="event.EventType == 'call'" class="m-t-sm">
                            <div ng-if="event.Data != null">
                                <div class="m-b-sm">
                                    {{event.Data.Text}}
                                </div>
                                <ui-modal-trigger controller="'ModalAddEditCallComentCtrl'" controller-as="ctrl" backdrop="static"
                                                  ng-if="event.Data.CanEdit"
                                                  resolve="{'id': event.Data.Id, 'objId': event.Data.ObjId}"
                                                  on-close="$ctrl.setComment(event, result)"
                                                  template-url="../areas/admin/content/src/_partials/leadEvents/modals/addEditCallComent/addEditCallComent.html">
                                    <a href="">{{'Admin.Js.LeadEvents.EditComment'|translate}}</a>
                                </ui-modal-trigger>
                            </div>
                            <div ng-if="event.Data == null">
                                <ui-modal-trigger controller="'ModalAddEditCallComentCtrl'" controller-as="ctrl" backdrop="static"
                                                  resolve="{'objId': event.Id}"
                                                  on-close="$ctrl.setComment(event, result)"
                                                  template-url="../areas/admin/content/src/_partials/leadEvents/modals/addEditCallComent/addEditCallComent.html">
                                    <a href="">{{'Admin.Js.LeadEvents.AddComment'|translate}}</a>
                                </ui-modal-trigger>
                            </div>
                        </div>
                        
                        <div ng-if="event.EventType == 'vk' || event.EventType == 'instagram' || event.EventType == 'facebook' || event.EventType == 'telegram' || event.EventType == 'ok'" class="m-t-xs">
                            <div ng-if="event.showAnswer[$index]!=true">
                                <a href="" ng-click="event.showAnswer[$index]=true; event.mode[$index]=''">{{'Admin.Js.LeadEvents.Answer'|translate}}</a>
                                <!--<a href="" ng-click="event.showAnswer[$index]=true; event.mode[$index]='post'" ng-if="event.Data.PostId != null">{{'Admin.Js.LeadEvents.AnswerPost'|translate}}</a>-->
                            </div>
                            <div class="m-t" ng-if="event.showAnswer[$index]==true">
                                <div class="m-b">
                                    <textarea ng-model="event.AnswerText[$index]" class="form-control" rows="4"></textarea>
                                </div>
                                <a href="" class="btn btn-action btn-sm" ng-click="$ctrl.sendAnswer(event, $index, event.AnswerText[$index])" ladda="$ctrl.sendAnswerLoading">
                                    {{'Admin.Js.LeadEvents.Send'|translate}}
                                </a>
                                <a href="" class="btn btn-default btn-sm" ng-click="event.showAnswer[$index]=false"> {{'Admin.Js.AddEdit.Cancel'|translate}}</a>
                            </div>
                        </div>

                        <div ng-if="event.SubMessage != null" bind-html-compile="event.SubMessage" class="m-t-xs">
                        </div>
                        <div ng-if="event.CreatedBy != null">
                            <sidebar-user-trigger ng-if="event.CreatedByIsModerator" customer-id="event.CreatedById">
                                <a href="" class="link-decoration-none" data-e2e="leadCreatedBy">{{event.CreatedBy}}</a>
                            </sidebar-user-trigger>
                            <span ng-if="event.CreatedById != null && !event.CreatedByIsModerator">
                                <a href="customers/view/{{event.CreatedById}}" class="link-decoration-none" target="_blank">{{event.CreatedBy}}</a>
                            </span>
                            <span ng-if="event.CreatedById == null">
                                <a href="" class="link-decoration-none">{{event.CreatedBy}}</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>