@model BlockModel

<header class="lp-header @(Model.Block.TryGetSetting("runDown") == true && Model.Block.TryGetSetting("fixedOnScroll") == true ? "color-scheme__bg-opacity" : "")">
    <div class="container-fluid">
        <div class="lp-container">
            <div class="row middle-xs center-xs between-md lp-header__container lp-header__container--strut">
                @if (Model.Block.TryGetSetting("show_phone") == true)
                {
                    <div class="col-xs-2 hidden-md lp-col--vertical-padding lp-header__phone-col lp-header__phone-col--left">
                        @Html.SubBlock(Model, "phone_mobile", false)
                    </div>
                }
                @if (Model.Block.TryGetSetting("show_logo") == true)
                {
                    <div class="col-xs col-md-3 lp-col--vertical-padding text-align-left-md">
                        <div class="lp-header-logo">
                            @Html.SubBlock(Model, "logo")
                        </div>
                    </div>
                }

                @if (Model.Block.NeedRenderMenu())
                {
                    <div class="col-xs-2 col-md-4 lp-col--vertical-padding lp-menu-header__burger-container lp-menu-header--burger-right">
                        @Html.SubBlock(Model, "menuHeader")
                    </div>
                }
            </div>
        </div>
    </div>
</header>
