<div>
    <div ng-repeat="(validationType, validationErrors) in directiveData.errors">
        <div ng-if="validationErrors[0].validationErrorsText[validationType] != null">
            {{validationErrors[0].validationErrorsText[validationType]}}
        </div>
        <div ng-if="validationErrors[0].validationErrorsText[validationType] == null" ng-switch="validationType">
            <div ng-switch-when="required">
                {{'Admin.Js.Validation.FieldsNotFilled'|translate}}
            </div>
            <div ng-switch-when="email">
                {{'Admin.Js.Validation.FieldNotMatchFormat'|translate}}
            </div>
            <div ng-switch-when="max">
                {{'Admin.Js.Validation.Error.Max'|translate}}
            </div>
            <div ng-switch-when="min">
                {{'Admin.Js.Validation.Error.Min'|translate}}
            </div>
            <div ng-switch-when="url">
                {{'Admin.Js.Validation.Error.URL'|translate}}
            </div>
            <div ng-switch-when="pattern|mask" ng-switch-when-separator="|">
                {{'Admin.Js.Validation.Error.Pattern'|translate}}
            </div>
        </div>
        <validation-list validation-type="validationType" validation-errors="validationErrors"></validation-list>
    </div>
    {{'Admin.Js.Validation.YouCanClickOnLink'|translate}}
</div>