@using AdvantShop.Core.Services.Admin
@using AdvantShop.Core.Services.Bonuses.Sms
@{
    if (AdminAreaTemplate.IsAdminv3())
    {
        Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/BonusSystem/_BonusSystemLayout.cshtml";
    }
}

<div class="sticky-page-name m-t-n-xs m-b-xs " sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main flex middle-xs">
            <h2 class="m-r-xs  sticky-page-name-text m-t-none">
                @T("Admin.SmsTemplates.Index.Title")
            </h2>
        </div>
        <div class="page-name-block-item-additional">
            <ui-modal-trigger data-controller="'ModalAddEditSmsTemplateCtrl'"
                              controller-as="ctrl" size="md" backdrop="static"
                              template-url="../areas/admin/content/src/_shared/modal/bonus/smstemplate/addeditsmstemplate.html"
                              resolve="{params:{ IsNew:'true'}}"
                              on-close="smstemplates.gridUpdate()">
                <a data-e2e="Add" class="btn btn-sm btn-success btn--margin-left" href="">
                    <span class="fa fa-plus"></span>
                    @T("Admin.SmsTemplates.Index.Add")
                </a>
            </ui-modal-trigger>
        </div>
    </div>
</div>

<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="grid"
                        grid-row-identificator="'SmsTypeId'"
                        grid-on-init="smstemplates.gridOnInit(grid)"
                        grid-options="smstemplates.gridOptions"
                        grid-url="'smstemplates/getsmstemplates'"
                        grid-filter-enabled="false"
                        grid-extend-ctrl="smstemplates">
        </ui-grid-custom>
    </div>
</div>
