@import "../../_common/variables.scss";

.lp-block-form__header {
    margin-bottom: 40px;
}

.lp-block-form-with-picture__col {
    padding-top: 8px;
    padding-bottom: 8px;
}

.lp-block-form-title-with-text-and-button__header {
    text-align: right;
}

.form-with-text-aside-text,
.form-with-text-aside-text-invert {
    line-height: 1.5;
    padding-bottom: 30px;
}

.lp-block-form-two-buttons {
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.form-button-wide .lp-btn {
    &:before,
    &:after {
        display: none;
    }

    width: 100%;
    padding-top: 17px;
    padding-bottom: 18px;
    justify-content: center;

    & .button-icon {
        height: 25px;
        margin-right: 12px;
    }

    & svg {
        margin-right: 12px;
        height: 1.6em;
    }
}

.image-for-button {
    max-height: 50px;
}

.lp-block-form-subscribe {
    .lp-form__agreement {
        text-align: center;
    }
}

.quiz-agreement-text {
    padding-left: 30px !important;
}

@media #{$viewport-sm} {
    .lp-block-form-title-with-text-and-button__header {
        padding-right: 15px;
    }

    .lp-block-form-title-with-text-and-button__text {
        padding-left: 15px;
    }

    .lp-block-form-title-with-text-and-button__divider {
        align-self: stretch;
    }

    .lp-block-form-title-with-text-and-button__divider--vertical {
        width: 1px;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
    }

    .lp-block-form-with-picture__col--form {
        padding-right: 40px;
    }

    .lp-block-form-with-picture-invert__col--form {
        padding-left: 40px;
    }

    .form-with-text-aside-text,
    .form-with-text-aside-text-invert {
        padding-bottom: 0px;
    }

    .form-with-text-aside-text {
        padding-left: 30px;
    }

    .form-with-text-aside-text-invert {
        padding-right: 30px;
    }
}

@media #{$viewport-sm} {
    .lp-block-form-with-video {
        &__video-wrap {
            padding-right: 30px;
        }
    }
}

.lp-block-form-center {
    .lp-form__submit-block {
        text-align: center;
    }
}


/*block form-text-and-button*/

.lp-block-form-text-and-button {
    &--background {
        .lp-block-form-text-and-button {
            &__wrap-text {
                padding: 28px 40px;
            }

            &__text {
                margin-bottom: 8px;
                margin-top: 8px;
                text-align: center;
            }

            &__button {
                margin-bottom: 8px;
                margin-top: 8px;
            }

            &__text-inner {
                flex-wrap: wrap;
            }
        }
    }

    &__text-inner {
        flex-wrap: wrap;
    }
}

@media #{$viewport-sm} {
    .lp-block-form-text-and-button {
        &--background {
            .lp-block-form-text-and-button {
                &__text-inner {
                    flex-wrap: nowrap;
                }

                &__text {
                    text-align: inherit;
                }
            }
        }
    }
}