@model AdvantShop.Web.Admin.Models.Settings.Templates.SettingsTemplateModel

<div data-ng-controller="CssEditorCtrl as csseditor">
    <div class="setting-title m-t-none">
        <h3>@T("Admin.Design.CssEditorTitle")</h3>
    </div>
    <div class="adv-panel-info">
        <div>@T("Admin.Design.CssEditor.Attention")<br>@T("Admin.Design.CssEditor.UseFile")</div>
    </div>

    <ui-ace-textarea ui-ace-options="{mode: 'css'}" ng-model="csseditor.text">
        @Html.TextAreaFor(x => x.CssEditorText, new { ng_model = "csseditor.text" })
    </ui-ace-textarea>
</div>