<div>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.BookingServicesSelectVizr.SelectServices'|translate}}</h2>
    </div>
    <div class="modal-body">
        <booking-services-selectvizr selectvizr-tree-url="ctrl.selectvizrTreeUrl"
                             selectvizr-grid-url="ctrl.selectvizrGridUrl"
                             selectvizr-grid-params="{affiliateId: ctrl.affiliateId, reservationResourceId: ctrl.reservationResourceId}"
                             selectvizr-grid-options="ctrl.selectvizrGridOptions"
                             selectvizr-grid-items-selected="ctrl.itemsSelected"
                             selectvizr-on-change="ctrl.onChange(categoryId, ids, selectMode)">
        </booking-services-selectvizr>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.select()">{{'Admin.Js.BookingServicesSelectVizr.Select'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.BookingServicesSelectVizr.Cancel'|translate}}</button>
    </div>
</div>