<div class="subblock-inplace-button-modal-container">
    <!--<div class="subblock-inplace-modal-container">-->
        <ng-include src="modalData.templateUrlByType"></ng-include>
        <div class="blocks-constructor-modal-categories-buttons">
            <button type="button" class="blocks-constructor-btn-confirm" data-e2e="BtnConfirm" data-ng-click="modalData.onApply(modalData.subblockId, modalData.settings)">Сохранить</button>
            <button type="button" class="blocks-constructor-btn-cancel" data-e2e="BtnCancel" data-modal-close="" data-modal-close-callback="modalData.onCancel()">Отмена</button>
        </div>
    <!--</div>-->
</div>
