@using BotDetect
@model AdvantShop.ViewModel.Common.CaptchaViewModel
@{
    var captchaSource = new MvcCaptcha(string.IsNullOrEmpty(Model.CaptchaId) ? "CaptchaSource" : Model.CaptchaId)
    {
        CodeStyle = CodeStyle.Alphanumeric,
        Locale = "en-US",
        CodeLength = Model.CodeLength
    };

    var hint = "";

    switch (Model.CaptchaMode)
    {
        case CaptchaMode.Numeric:
            captchaSource.CodeStyle = CodeStyle.Numeric;
            break;
        case CaptchaMode.AlphaNumericRu:
            captchaSource.Locale = "ru";
            hint = "* буквы на русском языке";
            break;
    }
}
@Html.Captcha(captchaSource)
<div class="captcha-txt">
    @Html.TextBox("CaptchaCode", null, new {@class = "input-small", required = "required", data_ng_model = Model.NgModel ?? "CaptchaCode", placeholder = "Код с картинки"})
</div>
@if (hint != "")
{
    <div class="captcha-hint">@hint</div>
}
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />