@model string
<!--noindex-->
<div data-oc-lazy-load="[{serie:true, files: [@Html.RenderAssetFilesList("cookiesPolicy", "")]}]">
    <div class="cookies-policy" data-cookies-policy-modal="true" data-ng-show="!cookiesPolicy.accepted" data-cookie-name="@Model">
        <div class="cookies-policy-block link-text-decoration-none cs-bg-3 cs-bg-1--mobile">
            <div class="cookies-policy-cell cs-t-3 cs-t-8--mobile">
                @Html.Raw(SettingsNotifications.CookiesPolicyMessageFormatted)
                <div class="cookies-policy-button">
                    <button data-ng-click="cookiesPolicy.close()" type="button" class="btn btn-xsmall btn-action cookies-policy__btn-close">@T("Js.Modal.Close")</button>
                </div>
            </div>
            <a href="javascript:void(0)" class="link icon-cancel-before link-text-decoration-none cookies-policy-close cs-t-3 cookies-policy__icon-close" data-ng-click="cookiesPolicy.close()"></a>
        </div>
    </div>
</div>
<!--/noindex-->