@using AdvantShop.Helpers
@model AdvantShop.ViewModel.Common.InplaceViewModel


@if (Model.Enabled)
{
    <script>
        window.CKEDITOR_BASEPATH = '@UrlService.GetUrl()vendors/ckeditor/';
        window.CKEDITOR_LANGUAGE = '@SettingsMain.Language.Split('-')[0].ToLower()';
    </script>
    <script src="vendors/ckeditor/ckeditor.js"></script>
    <script>
        //выключаем автоматическую инициализацию inline редактирования
        CKEDITOR.disableAutoInline = true;
        CKEDITOR.stylesSet.add('inplaceStyles', [
            // Block-level styles
            { name: 'Заголовок', element: 'div', attributes: { 'class': 'h1' } },
            { name: 'Подзаголовок 2 уровня', element: 'div', attributes: { 'class': 'h2' } },
            { name: 'Подзаголовок 3 уровня', element: 'div', attributes: { 'class': 'h3' } },
            { name: 'Подзаголовок 4 уровня', element: 'div', attributes: { 'class': 'h4' } },

            // Inline styles
            { name: 'Крупный текст', element: 'span', attributes: { 'class': 'h1' } },
            { name: 'Большой текст', element: 'span', attributes: { 'class': 'h2' } },
            { name: 'Средний текст', element: 'span', attributes: { 'class': 'h3' } },
        ]);
    </script>
}
<div data-oc-lazy-load="[{serie:true, files: [ @Html.RenderAssetFilesList(Model.Enabled ? Model.InplaceMaxAsset : Model.InplaceMinAsset, "") ]}]">
    <div data-inplace-start></div>
    <div data-inplace-progress></div>
</div>




