.lead-info-container {
}

.lead-info {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    min-height: 100vh;
    background: rgba(0,0,0, .5);
    z-index: 10;
    padding-left: 70px;
    min-width: 1240px;
    box-sizing: border-box;
}

.lead-info-inner {
    padding: 15px;
    background: #eeeeee;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
}

.lead-info-close {
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 13px;
    font-size: 25px;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px 1px #c3c3c3;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lead-info-trigger {
    cursor: pointer;
}

.lead-info--compress {
    height: 100vh;
    overflow: hidden;
}

.lead-info__progress {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lead-info__progress-icon {
    vertical-align: middle;
}
