.funnels-scheme .funnels-scheme-item { 
	border-radius: 4px;
    border: 2px solid transparent;	
	box-shadow: 0 1px 3px rgba(0,0,0,.13), 0 1px 3px rgba(0,0,0,.13);
	width:10em;
	min-height:2em;	
	line-height:2em;
}

.funnels-scheme .funnels-scheme-item:hover, 
.funnels-scheme .funnels-scheme-item.jtk-source-hover, 
.funnels-scheme .funnels-scheme-item.jtk-target-hover {
    border: solid 2px #62a8ea;
}

.funnels-scheme-item {
    background-color:white;
    text-align:center;
    z-index:24;
    cursor:pointer;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    position:absolute;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.funnels-scheme-item:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}

path, .jtk-endpoint { cursor:pointer; }

.funnels-scheme .funnel-scheme-type-page, .funnels-scheme .funnel-scheme-type-trigger {
    width: 7em;
    height: 10em;
}
    .funnels-scheme .funnel-scheme-type-page .funnels-scheme-item-header,
    .funnels-scheme .funnel-scheme-type-trigger .funnels-scheme-item-header {
        background: #717171;
        color: #fff;
    }

.funnels-scheme .funnel-scheme-type-linkednode {
    width: 10em;
}

.funnels-scheme .funnel-scheme-type-page .funnels-scheme-item-content img {
    max-width: 85px;
}

.item-connection-dot {
    display: none;
}

.funnels-scheme .funnels-scheme-item.funnel-scheme-type-triggerdelay {
    border: none;
    box-shadow: none;
    width: 110px;
}
.funnels-scheme .funnels-scheme-item.funnel-scheme-type-triggerdelay .funnels-scheme-item-content {
    background: url('../images/timedelay.png') no-repeat center;
    width: 100%;
    height: 50px;
}

.funnels-scheme .funnel-scheme-type-linkedbutton {
    width: 15em;
    font-size: 14px;
}