$bgSidebar: #ffffff;
$bgCount: #c3c3c3;
$colorCount: #2f4050;
$iconColor: #c3c3c3;
$iconHover: #0084F4;
$colorHoverLink: #0084F4;
$colorName: #c3c3c3;
$colorIcon: #c3c3c3;
$borderColor: transparent;
$bgItemHover: #fff;
$borderColorSubitem: transparent;
$bgItemOpen: #fff;
$bgItemSelected: #fff;
$colorNameDefault: #c3c3c3;

$bgScrollbar: #dbdcde;
$borderColorScrollbar: transparent;
$bgScrollbarTrack: #eeeeee;


.sidebar {
    background-color: $bgSidebar;

    &::-webkit-scrollbar-thumb {
        border: 1px solid $borderColorScrollbar; /* should match background, can't be transparent */
        background-color: $bgScrollbar;
    }

    &::-webkit-scrollbar-track {
        background-color: $bgScrollbarTrack;
    }

    &__name {
        color: $colorNameDefault;
    }

    &__counter {

        .new-item {
            background-color: $bgCount;
            color: $colorCount;
        }
    }

    &__link {
        &:hover {
            color: $colorHoverLink;

            .sidebar__name, .sidebar__icon-fa {
                color: $colorHoverLink;
            }
        }

        &--subitem {
            .sidebar__name {
                color: $colorName;
            }
        }
    }

    &__link--simple {
        color: $colorIcon;

        &:hover {
            color: $colorIcon;
        }
    }

    &__trigger {
        border-bottom: 1px solid $borderColor;

        &:hover, &--active, &--active:hover {
            background-color: $bgItemHover;
        }

        &--subitems {
            border-color: $borderColorSubitem;
        }
    }

    &__icon {
        color: $colorIcon;
    }

    &.sidebar--compact:hover &__trigger {
        border-color: $borderColorSubitem;
    }

    &__item {

        &--open {
            background-color: $bgItemOpen;
        }

        &--selected {
            background-color: $bgItemSelected;

            .sidebar__icon {
                color: $iconHover;
            }

            .sidebar__name {
                color: $colorHoverLink;
            }
        }
    }
}

.sidebar-action {

    &__inner {
        border: 1px solid $borderColor;
    }
}

.sidebar-unit-modal-trigger {

    &:hover &__icon {
        color: $iconHover;
    }

    &__icon {
        color: $iconColor;
    }
}


.mobile-version {
    .sidebar__link:hover {
        .sidebar__icon {
            color: currentColor;
        }
    }
}
