.sidebar {
  background-color: #ffffff;
}
.sidebar::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  /* should match background, can't be transparent */
  background-color: #dbdcde;
}
.sidebar::-webkit-scrollbar-track {
  background-color: #eeeeee;
}
.sidebar__name {
  color: #c3c3c3;
}
.sidebar__counter .new-item {
  background-color: #c3c3c3;
  color: #2f4050;
}
.sidebar__link:hover {
  color: #0084F4;
}
.sidebar__link:hover .sidebar__name, .sidebar__link:hover .sidebar__icon-fa {
  color: #0084F4;
}
.sidebar__link--subitem .sidebar__name {
  color: #c3c3c3;
}
.sidebar__link--simple {
  color: #c3c3c3;
}
.sidebar__link--simple:hover {
  color: #c3c3c3;
}
.sidebar__trigger {
  border-bottom: 1px solid transparent;
}
.sidebar__trigger:hover, .sidebar__trigger--active, .sidebar__trigger--active:hover {
  background-color: #fff;
}
.sidebar__trigger--subitems {
  border-color: transparent;
}
.sidebar__icon {
  color: #c3c3c3;
}
.sidebar.sidebar--compact:hover .sidebar__trigger {
  border-color: transparent;
}
.sidebar__item--open {
  background-color: #fff;
}
.sidebar__item--selected {
  background-color: #fff;
}
.sidebar__item--selected .sidebar__icon {
  color: #0084F4;
}
.sidebar__item--selected .sidebar__name {
  color: #0084F4;
}

.sidebar-action__inner {
  border: 1px solid transparent;
}

.sidebar-unit-modal-trigger:hover .sidebar-unit-modal-trigger__icon {
  color: #0084F4;
}
.sidebar-unit-modal-trigger__icon {
  color: #c3c3c3;
}

.mobile-version .sidebar__link:hover .sidebar__icon {
  color: currentColor;
}