@font-face {
    font-family: 'advantshopfonts';
    src: url('advantshopfonts/advantshopfonts.woff2') format('woff2'), url('advantshopfonts/advantshopfonts.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
