<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddEditCarousel.Title'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-xs-3 control-label"><span class="text-required">{{'Admin.Js.AddEditCarousel.Picture'|translate}}</span></label>
            <div class="col-xs-9">
                <picture-uploader start-src="../images/nophoto_small.jpg"
                                  upload-url="/carousel/Upload"
                                  delete-url="/carousel/DeleteFile"
                                  uploadbylink-url="/carousel/uploadByLink"
                                  on-update="ctrl.updateImage(result)"
                                  on-delete="ctrl.updateImage(result)"></picture-uploader>
                <p style="margin-bottom: 5px;" ng-bind-html="'Admin.Js.AddEditCarousel.Size'|translate"></p>
                <p style="margin-bottom: 0;" ng-bind-html="'Admin.Js.AddEditCarousel.MobileSize'|translate"></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span>
                    {{'Admin.Js.AddEditCarousel.NavigationURL'|translate}}
                </span>
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.CaruselUrl" validation-input-text="{{::'Admin.Js.AddEditCarousel.NavigationURL'|translate}}" autofocus data-e2e="carouselAddUrl" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditCarousel.AltTagImage'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.Description" data-e2e="carouselAddAltTag" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditCarousel.OneColumn'|translate}}</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label" data-e2e="carouselAddOneColumn">
                    <input type="checkbox" checked ng-model="ctrl.DisplayInOneColumn" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditCarousel.TwoColumns'|translate}}</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label" data-e2e="carouselAddTwoColumns">
                    <input type="checkbox" checked ng-model="ctrl.DisplayInTwoColumns" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditCarousel.MobileVersion'|translate}}</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label" data-e2e="carouselAddDisplayInMobile">
                    <input type="checkbox" checked ng-model="ctrl.DisplayInMobile" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditCarousel.NewWindow'|translate}}</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label" data-e2e="carouselAddBlank">
                    <input type="checkbox" ng-model="ctrl.Blank" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditCarousel.Sorting'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.SortOrder" data-e2e="carouselAddSortOrder" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditCarousel.Activity'|translate}}</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label" data-e2e="carouselAddEnabled">
                    <input type="checkbox" checked ng-model="ctrl.Enabled" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" ladda="ctrl.btnSleep" type="button" data-button-validation-success="ctrl.saveCarousel()" data-e2e="carouselAdd" data-button-validation>{{'Admin.Js.AddEdit.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()" data-e2e="carouselAddCancel">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>