@model AdvantShop.Web.Admin.ViewModels.Home.LearnigDashboardViewModel

<div class="ibox float-e-margins">
    <div class="ibox-content learning-block">
        <ul class="learning-list">
            @foreach (var news in Model.News)
            {
                <li>
                    <a href="" target="_blank" class="learning-link">@T("Admin.Home.Learning.TrainingMode")</a>
                </li>
            }
        </ul>
    </div>
</div>