<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.Sizes.AddEdit.Size'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">
                    {{'Admin.Js.Sizes.AddEdit.Name'|translate}}
                </span>
            </label>
            <div class="col-xs-9">
                <input data-e2e="SizeName" type="text" class="form-control" ng-model="ctrl.sizeName" required validation-input-text="{{'Admin.Js.Sizes.AddEdit.Name'|translate}}" autofocus />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.Sizes.AddEdit.SortingOrder'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" data-e2e="SizeSort" ng-model="ctrl.sortOrder" class="form-control" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation>{{'Admin.Js.Sizes.AddEdit.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.Sizes.AddEdit.Cancel'|translate}}</button>
    </div>
</form>