<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">{{'Admin.Js.SelectCategories.SelectingCategories'|translate}}</h2>
</div>
<div class="modal-body">
    <div>
        <div data-js-tree
             data-tree-ajax="{{::ctrl.treeAjax}}"
             data-show-root="{{::ctrl.treeShowRoot}}"
             data-tree-search="{ajax: {url: 'catalog/categoriesTreeBySearchRequest'}}"
             data-tree-ajax-data="ctrl.treeAjaxData"
             data-tree-core=""
             data-tree-events="select_node:ctrl.treeCallbacks.select_node;deselect_node:ctrl.treeCallbacks.deselect_node;"
             tree-plugins="{{::ctrl.treePlugins}}"
             tree-checkbox="ctrl.treeCheckbox"
             tie-selection="false"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.choose()" ng-disabled="ctrl.btnChangeDisabled">{{'Admin.Js.SelectCategories.Select'|translate}}</button>
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.SelectCategories.Cancel'|translate}}</button>
</div>