<form novalidate name="addEditGradeForm">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{ctrl.mode == "add" ? ('Admin.Js.AddEditGrade.NewGrade'|translate) : ('Admin.Js.AddEditGrade.Grade'|translate) + " " + ctrl.name}}</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.addEditGradeForm = addEditGradeForm">
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">{{'Admin.Js.AddEditGrade.Name'|translate}}</span>
            </label>
            <div class="col-xs-9">
                <input data-e2e="gradeName" type="text" class="form-control" ng-model="ctrl.name"
                       required validation-input-text={{'Admin.Js.AddEditGrade.Name'|translate}} autofocus />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditGrade.Percent'|translate}}</label>
            <div class="col-xs-9">
                <input data-e2e="gradeBonusPercent" type="text" class="form-control" ng-model="ctrl.bonusPercent" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditGrade.PurchaseBarrier'|translate}}</label>
            <div class="col-xs-9">
                <input data-e2e="gradePurchaseBarrier" type="text" class="form-control" ng-model="ctrl.purchaseBarrier" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditGrade.SortingOrder'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" data-e2e="gradeSortOrder" ng-model="ctrl.sortOrder" class="form-control" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-e2e="gradeButtonSave"
                data-button-validation-success="ctrl.save()" data-button-validation ladda="ctrl.btnSleep"
                disabled ng-disabled="ctrl.mode == 'edit' && (!ctrl.formInited || !addEditGradeForm.modified)"
                ng-bind="ctrl.mode == 'add' ? ('Admin.Js.AddEdit.Add'|translate) : ('Admin.Js.AddEdit.Save'|translate)"></button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>