.sidebar {
  background-color: #2f4050;
}
.sidebar::-webkit-scrollbar-thumb {
  border: 1px solid #2f4050;
  /* should match background, can't be transparent */
  background-color: #5f7080;
}
.sidebar::-webkit-scrollbar-track {
  background-color: #2f4050;
}
.sidebar__name {
  color: #ffffff;
}
.sidebar__counter .new-item {
  background-color: #355267;
  color: #58bae9;
}
.sidebar__link:hover {
  color: #fff;
}
.sidebar__link:hover .sidebar__name {
  color: #8293a3;
}
.sidebar__link--subitem .sidebar__name {
  color: #8293a3;
}
.sidebar__link--simple {
  color: #5b6e80;
}
.sidebar__link--simple:hover {
  color: #5b6e80;
}
.sidebar__trigger {
  border-bottom: 1px solid #384856;
}
.sidebar__trigger:hover, .sidebar__trigger--active, .sidebar__trigger--active:hover {
  background-color: #223241;
}
.sidebar__trigger:active {
  background-color: #223241;
  opacity: 0.7;
}
.sidebar__trigger--subitems {
  border-color: #364654;
}
.sidebar__icon {
  color: #5b6e80;
}
.sidebar__item--open {
  background-color: #2a3b4b;
}
.sidebar__item--selected {
  background-color: #223241;
}
.sidebar__category-item-name, .sidebar__name--link {
  color: #a3a4a9;
}
.sidebar .sidebar-action__inner {
  border: 1px solid #384856;
}
.sidebar .sidebar-unit-modal-trigger:hover .sidebar .sidebar-unit-modal-trigger__icon {
  color: #5b6e80;
}
.sidebar .sidebar-unit-modal-trigger__icon {
  color: #ffffff;
}
.sidebar--simple .sidebar__item--selected {
  border-left-color: #399ee2;
}
.sidebar--simple .sidebar__link--simple {
  color: #fff;
}
.sidebar--simple .sidebar__link--simple:hover {
  color: #fff;
}
.sidebar--simple .sidebar__icon {
  color: #fff;
}
.sidebar--simple .sidebar .sidebar-unit-modal-trigger:hover .sidebar--simple .sidebar .sidebar-unit-modal-trigger__icon {
  color: #fff;
}
.sidebar--simple .sidebar .sidebar-unit-modal-trigger__icon {
  color: #fff;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__name {
  background-color: #223241;
  color: #ffffff;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__name::after {
  background: #223241;
}

.mobile-version .sidebar__link:hover .sidebar__icon {
  color: currentColor;
}