$bgSidebar: #2f4050;
$bgCount: #355267;
$colorCount: #58bae9;
$colorHoverLink: #fff;
$colorName: #8293a3;
$colorIcon: #5b6e80; 
$colorIconInSimple: #fff;
$iconColor: #ffffff;
$iconHover: #5b6e80;
$borderColor: #384856;
$bgItemHover: #223241;
$borderColorSubitem: #364654;
$bgItemOpen: #2a3b4b;
$bgItemSelected: #223241;
$colorNameDefault: #ffffff;
$colorCategoryName: #a3a4a9;
$colorBorderSelectedMenuSimpleMode: #399ee2;
$bgTooltip: #223241;

$bgScrollbar: #5f7080;
$borderColorScrollbar: #2f4050;
$bgScrollbarTrack: #2f4050;


.sidebar {
    background-color: $bgSidebar;

    &::-webkit-scrollbar-thumb {
        border: 1px solid $borderColorScrollbar; /* should match background, can't be transparent */
        background-color: $bgScrollbar;
    }

    &::-webkit-scrollbar-track {
        background-color: $bgScrollbarTrack;
    }

    &__name {
        color: $colorNameDefault;
    }

    &__counter {

        .new-item {
            background-color: $bgCount;
            color: $colorCount;
        }
    }

    &__link {
        &:hover {
            color: $colorHoverLink;

            .sidebar__name {
                color: $colorName;
            }
        }

        &--subitem {
            .sidebar__name {
                color: $colorName;
            }
        }
    }

    &__link--simple {
        color: $colorIcon;

        &:hover {
            color: $colorIcon;
        }
    }

    &__trigger {
        border-bottom: 1px solid $borderColor;

        &:hover, &--active, &--active:hover {
            background-color: $bgItemHover;
        }

        &:active {
            background-color: $bgItemHover;
            opacity: 0.7;
        }

        &--subitems {
            border-color: $borderColorSubitem;
        }
    }

    &__icon {
        color: $colorIcon;
    }

    &__item {

        &--open {
            background-color: $bgItemOpen;
        }

        &--selected {
            background-color: $bgItemSelected;
        }
    }

    &__category-item-name, &__name--link {
        color: $colorCategoryName;
    }

    .sidebar-action {

        &__inner {
            border: 1px solid $borderColor;
        }
    }

    .sidebar-unit-modal-trigger {

        &:hover &__icon {
            color: $iconHover;
        }

        &__icon {
            color: $iconColor;
        }
    }

    &--simple {
        .sidebar {
            &__item--selected {
                border-left-color: $colorBorderSelectedMenuSimpleMode;
            }

            &__link--simple {
                color: $colorIconInSimple;

                &:hover {
                    color: $colorIconInSimple;
                }
            }

            &__icon {
                color: $colorIconInSimple;
            }

            .sidebar-unit-modal-trigger {

                &:hover &__icon {
                    color: $colorIconInSimple;
                }

                &__icon {
                    color: $colorIconInSimple;
                }
            }
        }
    }


    &.sidebar--compact.sidebar--simple {

        .sidebar__name {
            background-color: $bgTooltip;
            color: $colorNameDefault;

            &::after {
                background: $bgTooltip;
            }
        }
    }
}

.mobile-version {
    .sidebar__link:hover {
        .sidebar__icon {
            color: currentColor;
        }
    }
}
