@model AdvantShop.ViewModel.User.ClientCodeViewModel

@if (Model.Code != "0" && Model.Code!= string.Empty)
{
    <span class="site-head-userid"><span class="site-head-cart-code-text">@T("User.ClientCode.ClientCode"):</span> <span class="site-head-cart-code">@Html.Raw(Model.Code)</span></span>
}
