 @model AdvantShop.Web.Admin.ViewModels.Domains.DomainsViewModel
<div class="js-iframe-wrap">
    <iframe src="@SettingsLic.DomainServiceUrl?lic=@SettingsLic.LicKey&ExecutionTime=@ViewBag.ExecutionTime&Hash=@ViewBag.Hash&isOpenShopCollapse=@Model.IsOpenAddDomainModal.ToLowerString()" frameborder="0" width="100" scrolling="no" height="100" style="height:calc(100vh - 195px); width: 100%;" name="shopDomain">
        @T("Admin.Service.NotSupportFrames")
    </iframe>
</div>
