@model string
<div class="js-iframe-wrap">
    <iframe src="@SettingsLic.BasePlatformUrl/shop/BuyTemplateShop.aspx?lic=@SettingsLic.LicKey&templateid=@Model&ExecutionTime=@ViewBag.ExecutionTime&Hash=@ViewBag.Hash" frameborder="0" width="100" height="100" style="height:596px; width: 100%;"  scrolling="no" name="buytemplate">
        @T("Admin.Service.NotSupportFrames")
    </iframe>
</div>