
<div class="js-iframe-wrap">
    <iframe src="@SettingsLic.BasePlatformUrl/shop/Changeplan.aspx?lic=@SettingsLic.LicKey&ExecutionTime=@ViewBag.ExecutionTime&Hash=@ViewBag.Hash" width="100" height="100" style="height:calc(100vh - 195px); width: 100%;"  scrolling="no" frameborder="0" name="changePlan">
        @T("Admin.Service.NotSupportFrames")
    </iframe>
</div>
