@model AdvantShop.Core.Services.SalesChannels.SalesChannel

<div class="inbox" data-ng-controller="SalesChannelsCtrl as salesChannels">
    <div class="ibox-content text-center">
        <div class="page-name-block-item-main">
            <h2 class="sticky-page-name-text inline">@Model.Name</h2>                    
        </div>
        <div class="m-t-sm m-b-md-h">
            Канал продаж "@Model.Name" отключен.
        </div>
        <div>
            <a class="btn btn-sm btn-success" ng-click="salesChannels.addSalesChannel('@Model.Type.ToString()')">Включить канал</a>
        </div>
    </div>
</div>
