@model string
<div class="js-iframe-wrap">

    <div class="row">
        <div class="col-xs-12">
            <div class="ibox">
                <div class="ibox-content text-center">
                    <h2>
                        @T(Model)
                    </h2>
                    <p>
                        @T("Admin.Service.RoleAccesslsDenied.AccessIsClosed")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

