@using AdvantShop.Saas

<div class="js-iframe-wrap">
    <iframe src="@SettingsLic.AccountPlatformUrl/help/internalHelp?key=@SettingsLic.LicKey&id=@CustomerContext.CustomerId&ExecutionTime=@ViewBag.ExecutionTime&Hash=@ViewBag.Hash" frameborder="0" scrolling="no" width="100" height="100" style="width: 100%; height:3626px;" name="tariffs">
        @T("Admin.Service.NotSupportFrames")
    </iframe>
    <div class="js-iframe-modal-overlay"></div>
</div>

@Html.Raw(AdvantShop.Trial.TrialService.HelpCounter)


