
<div class="js-iframe-wrap">
    <iframe src="@SettingsLic.BasePlatformUrl/shop/Tariffs.aspx?lic=@SettingsLic.LicKey&ExecutionTime=@ViewBag.ExecutionTime&Hash=@ViewBag.Hash&page=admin" frameborder="0" width="100" height="100" scrolling="no" style="height:calc(100vh - 195px); width: 100%;"  name="tariffs">
        @T("Admin.Service.NotSupportFrames")
    </iframe>
</div>
