<form name="modalPictureUploaderForm">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{::'Admin.Js.PictureUploader.UploadImageByLink'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="m-b"><span class="text-required">{{::'Admin.Js.PictureUploader.EnterLinkToImage'|translate}}</span></div>
        <input type="url" validation-input-text="Ссылка на изображение" validation-errors-text="{'pattern' : ('Admin.Js.Validation.Error.ImageFormat' | translate)}" ng-pattern="ctrl.pattern" data-e2e="imgByHrefLinkText" class="form-control" ng-model="ctrl.url" ng-paste="ctrl.pasteUrl($event)" required autofocus ng-keypress="$event.keyCode === 13 && ctrl.save(ctrl.url)" />
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" data-e2e="imgByHrefBtnSave" data-button-validation data-button-validation-success="ctrl.save(ctrl.url)" >{{'Admin.Js.PictureUploader.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" data-e2e="imgByHrefBtnCancel" type="button" ng-click="ctrl.dismiss()">{{'Admin.Js.PictureUploader.Cancel'|translate}}</button>
    </div>
</form>