@using AdvantShop.Core.Services.Configuration.Settings;

<!--удаляем input после инициализации-->
<input type="checkbox" id="sidebarState" class="sidebar-state-menu__input" style="position: absolute; opacity: 0; height: 1px; width: 1px; " />
<sidebars-container class="sidebars-container">
    <sidebar-content-static class="sidebar-content-static" data-content-id="sidebarMenu">
        <div class="sidebar cs-bg-4 cs-br-1 @(SettingsMobile.ShowBottomPanel ? "sidebar--with-bottom-panel" : "")" data-sidebar-hook-close="sidebarContainer.setScrollSidebarContent(0, '.sidebar')">
            @Html.Action("Sidebar", "Sidebar", new { area = "Mobile" })
        </div>
        <div class="sidebar_overlay @(SettingsMobile.ShowBottomPanel ? "sidebar--with-bottom-panel" : "")" data-sidebar-container-close></div>
    </sidebar-content-static>
</sidebars-container>