@model AdvantShop.Web.Admin.ViewModels.Shared.Common.SearchViewModel

<div class="col-xs-3 col-wl-2">
    <form role="search" class="row end-lg search-header" method="post" action="search" data-ng-controller="SearchBlockCtrl as search">
        <div class="header-search-field-wrap col-lg col-md col-xs">
            <div class="search-input-wrap">
                <input type="text"
                       name="search"
				       required
                       class="search-input"
                       placeholder="@T("Admin.SearchBlock.SearchPlaceholder")"
                       value="@Model.Search"
                       ng-model="search.q"
                       uib-typeahead="item for items in search.find($viewValue)"
                       autocomplete="false"
                       typeahead-should-select="search.shouldSelect()"
                       typeahead-template-url="../areas/admin/content/src/_shared/search/templates/search-item.html"
                       typeahead-popup-template-url="../areas/admin/content/src/_shared/search/templates/search-popup.html"
                       typeahead-is-open="test"
                       typeahead-min-length="2"
                       typeahead-wait-ms="300"
                       typeahead-loading="search.loading"
                       typeahead-no-results="search.noResults"/>
            </div>
        </div>
    </form>
</div>