<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{ctrl.mode == "add" ? ('Admin.Js.StaticBlock.Modal.AddingStaticBlock'|translate) : ('Admin.Js.StaticBlock.Modal.EditingStaticBlock'|translate) }}</h2>
    </div>
    <div class="modal-body">
        <div>
            <div class="form-group row">
                <label class="col-xs-2 control-label">
                    <span class="text-required">
                        {{'Admin.Js.StaticBlock.Modal.AccessKey'|translate}}
                    </span>
                </label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-model="ctrl.Key" required validation-input-text="{{'Admin.Js.StaticBlock.Modal.AccessKey'|translate}}" autofocus
                           url-generator url-path="ctrl.UrlPath" data-e2e="StaticBlockKey" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 control-label"><span class="text-required">{{'Admin.Js.StaticBlock.Modal.Name'|translate}}</span></label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-model="ctrl.InnerName" required validation-input-text="{{'Admin.Js.StaticBlock.Modal.Name'|translate}}" data-e2e="StaticBlockName" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 control-label">{{'Admin.Js.StaticBlock.Modal.Activity'|translate}}</label>
                <div class="col-xs-10">
                    <label class="adv-checkbox-label" data-e2e="StaticBlockEnabled">
                        <input type="checkbox" ng-model="ctrl.Enabled" class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 control-label" style="padding-bottom: 15px">{{'Admin.Js.StaticBlock.Modal.Content'|translate}}</label>
       
                <div class="col-xs-12">
                    <textarea ckeditor="{height: 250}" class="wysiwyg" ng-model="ctrl.Content"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" ladda="ctrl.btnSleep" type="button" data-button-validation-success="ctrl.saveStaticBlock()" data-button-validation>{{ctrl.mode == "add" ? ('Admin.Js.StaticBlock.Modal.Add'|translate) : ('Admin.Js.StaticBlock.Modal.Save'|translate) }}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.StaticBlock.Modal.AddEdit'|translate}}</button>
    </div>
</form>