@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.InterkassaPaymentModel

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.PaymentMethods.Interkassa.IdentierInterkassa")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ShopId, new { ng_model = "paymentMethod.Parameters.ShopId", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.Interkassa.IdentierInterkassa").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.Interkassa.Identifer")">
            @T("Admin.PaymentMethods.Interkassa.RegisteredStoreIdentifer")
        </help-trigger>
    </div>
</div>
