@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.WebMoneyPaymentModel


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.WebMoney.WebMoneyPurse")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.Purse, new { ng_model = "paymentMethod.Parameters.Purse", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.WebMoney.WebMoneyPurse").ToString() })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.WebMoney.KeyOfDataEncrypting")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.SecretKey, new { ng_model = "paymentMethod.Parameters.SecretKey", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.WebMoney.KeyOfDataEncrypting").ToString() })
        </div>
    </div>


