.progressbar-css {
    position: relative;
}

.progressbar-css__track {
    overflow: hidden;
}

.progressbar-css__bar{
    height: 100%;
    transition: width 0.3s linear;
}

.progressbar-css__marker--inside {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
