<div>
    <div class="clearfix">
        <div class="pull-left header-alt">@T("Admin.MainPageProducts.CatalogLeftMenu.Title")</div>
    </div>
    <div class="aside-menu">
        <div class="link-invert aside-menu-row aside-menu-row-with-move" ng-class="{'selected': mainpageproducts.selectedList.TypeStr == 'best'}">
            <a href="" ng-click="mainpageproducts.changeByType('best')" class="link-invert link-decoration-none">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Catalog.CatalogLeftMenu.BestProductsCount")
                    </div>
                </div>
            </a>
        </div>
        <div class="link-invert aside-menu-row aside-menu-row-with-move" ng-class="{'selected': mainpageproducts.selectedList.TypeStr == 'new'}">
            <a href="" ng-click="mainpageproducts.changeByType('new')" class="link-invert link-decoration-none">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Catalog.CatalogLeftMenu.NewProductsCount")
                    </div>
                </div>
            </a>
        </div>
        <div class="link-invert aside-menu-row aside-menu-row-with-move" ng-class="{'selected': mainpageproducts.selectedList.TypeStr == 'sale'}">
            <a href=""ng-click="mainpageproducts.changeByType('sale')" class="link-invert link-decoration-none">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Catalog.CatalogLeftMenu.SaleProductsCount")
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>