.sidebar {
  background-color: #252525;
}
.sidebar::-webkit-scrollbar-thumb {
  border: 1px solid #363636;
  /* should match background, can't be transparent */
  background-color: #141414;
}
.sidebar::-webkit-scrollbar-track {
  background-color: #252525;
}
.sidebar__name {
  color: #e0e0e0;
}
.sidebar__counter .new-item {
  background-color: #fc586e;
  color: #eeeeee;
}
.sidebar__link:hover {
  color: #e0e0e0;
}
.sidebar__link:hover .sidebar__name {
  color: #e0e0e0;
}
.sidebar__link--subitem .sidebar__name {
  color: #e0e0e0;
}
.sidebar__link--simple {
  color: #fff;
}
.sidebar__link--simple:hover {
  color: #fff;
}
.sidebar__trigger {
  border-bottom: 1px solid #363636;
}
.sidebar__trigger:hover, .sidebar__trigger--active, .sidebar__trigger--active:hover {
  background-color: #141414;
}
.sidebar__trigger:active {
  background-color: #141414;
  opacity: 0.7;
}
.sidebar__trigger--subitems {
  border-color: #363636;
}
.sidebar__icon {
  color: #fff;
}
.sidebar__item--open {
  background-color: #1e1e1e;
}
.sidebar__item--selected {
  background-color: #1e1e1e;
}
.sidebar__category-item-name, .sidebar__name--link {
  color: #a3a4a9;
}
.sidebar--simple .sidebar__item--selected {
  border-left-color: #399ee2;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__name {
  background-color: #1e1e1e;
  color: #e0e0e0;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__name::after {
  background: #1e1e1e;
}

.sidebar-action__inner {
  border: 1px solid #363636;
}

.sidebar-unit-modal-trigger:hover .sidebar-unit-modal-trigger__icon {
  color: #5b6e80;
}
.sidebar-unit-modal-trigger__icon {
  color: #ffffff;
}

.mobile-version .sidebar__link:hover .sidebar__icon {
  color: currentColor;
}