$bgSidebar: #252525;
$bgCount: #fc586e;
$colorCount: #eeeeee;
$iconColor: #ffffff;
$iconHover: #5b6e80;
$colorHoverLink: #e0e0e0;
$colorName: #e0e0e0;
$colorIcon: #fff;
$borderColor: #363636;
$bgItemHover: #141414;
$borderColorSubitem: #363636;
$bgItemOpen: #1e1e1e;
$bgItemSelected: #1e1e1e;
$colorNameDefault: #e0e0e0;
$colorCategoryName: #a3a4a9;
$colorBorderSelectedMenuSimpleMode: #399ee2;
$bgTooltip: #1e1e1e;

$bgScrollbar: #141414;
$borderColorScrollbar: #363636;
$bgScrollbarTrack: #252525;


.sidebar {
    background-color: $bgSidebar;

    &::-webkit-scrollbar-thumb {
        border: 1px solid $borderColorScrollbar; /* should match background, can't be transparent */
        background-color: $bgScrollbar;
    }

    &::-webkit-scrollbar-track {
        background-color: $bgScrollbarTrack;
    }

    &__name {
        color: $colorNameDefault;
    }

    &__counter {

        .new-item {
            background-color: $bgCount;
            color: $colorCount;
        }
    }

    &__link {
        &:hover {
            color: $colorHoverLink;

            .sidebar__name {
                color: $colorName;
            }
        }

        &--subitem {
            .sidebar__name {
                color: $colorName;
            }
        }
    }

    &__link--simple {
        color: $colorIcon;

        &:hover {
            color: $colorIcon;
        }
    }

    &__trigger {
        border-bottom: 1px solid $borderColor;

        &:hover, &--active, &--active:hover {
            background-color: $bgItemHover;
        }

        &:active {
            background-color: $bgItemHover;
            opacity: 0.7;
        }

        &--subitems {
            border-color: $borderColorSubitem;
        }
    }

    &__icon {
        color: $colorIcon;
    }


    &__item {

        &--open {
            background-color: $bgItemOpen;
        }

        &--selected {
            background-color: $bgItemSelected;
        }
    }

    &__category-item-name, &__name--link {
        color: $colorCategoryName;
    }

    &--simple {
        .sidebar {
            &__item--selected {
                border-left-color: $colorBorderSelectedMenuSimpleMode;
            }
        }
    }

    &.sidebar--compact.sidebar--simple {

        .sidebar__name {
            background-color: $bgTooltip;
            color: $colorNameDefault;

            &::after {
                background: $bgTooltip;
            }
        }
    }
}

.sidebar-action {

    &__inner {
        border: 1px solid $borderColor;
    }
}

.sidebar-unit-modal-trigger {

    &:hover &__icon {
        color: $iconHover;
    }

    &__icon {
        color: $iconColor;
    }
}

.mobile-version {
    .sidebar__link:hover {
        .sidebar__icon {
            color: currentColor;
        }
    }
}
