@model AdvantShop.ViewModel.MyAccount.AddressBookViewModel
<div class="myaccount-address-book">
    <div class="h2 myaccount-subtitle">
        @T("MyAccount.AddressBook.AddressBook") 
    </div>
    <div data-address-list data-type="view" data-is-show-name="false"></div>
</div>
