body {
    font-family: "Rubik";
}

form.subscribe-block {
    border-radius: 0;

    .p-w-xs {
        padding: 0;
    }

    .custom-input-checkbox {
        vertical-align: bottom;
    }
}

.mobile-header {
    &__search-form-back,
    &__search-btn {
        color: currentColor;
    }
}

/*custom-input*/

.registration-block-item-checkbox {
    .form-field-input, 
    .form-field-name {
        display: inline-block;
    }
}


input.custom-input-native {
    display: none;
}

.quizzes .custom-input-checkbox,
.custom-input-checkbox {
    position: relative;
    width: 13px;
    height: 13px;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    z-index: 1;
    vertical-align: middle;
    margin-right: 5px;
}

.quizzes .custom-input-native:checked ~ .custom-input-checkbox::after,
.custom-input-native:checked ~ .custom-input-checkbox::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 0;
    mask-image: url(../../../images/checkbox.svg);
    width: 10px;
    height: 10px;
    display: block;
}

.catalog-filter {
    .catalog-filter-block-content-range {
        .ngrs-handle i {
            width: 5px;
            height: 5px;
            position: absolute;
            right: 0;
            left: 50%;
            top: 50%;
            bottom: 0;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
    }
}


.captcha-hint {
    margin: 0 0 10px 0;
}

/*registrtion*/

.registration-block {
    padding-left: 16px;
    padding-right: 16px;
}


/*zone*/

.zone-dialog-cities .zone-dialog-items {
    display: flex;
    flex-wrap: wrap;
}

.mobile-header {
    .mobile-header__cart-count {
        font-size: 9px;
    }
} 


/*color-viewer*/

.carousel-colors-icon {
    .color-viewer-inner,
    .color-viewer-item-block {
        border-radius: 50%;
    }
}

.color-viewer {
    .color-viewer-inner {
        margin: 0;
    }
}

/**/
.autocompleter-product-image-block {
    margin: 0;
}


.shipping-item-additional .shipping-control-select {
    width: auto !important;
}