@model AdvantShop.ViewModel.Checkout.OrderPay.BillByPayModel

@Html.Partial("OrderPay/_Common", Model)

@if (Model.StampImageName.IsNotEmpty())
{
    <div>
        <a href="javascript:void(0);" onclick="@string.Format("javascript:window.open('paymentreceipt/billby?ordernumber={0}&withoutStamp=true');", Model.Order.Number)">
            @T("Core.Payment.PaymentMethod.ButtonTextWithoutStamp")
        </a>
    </div>
}