.sidebar-user {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  padding: 15px;
  width: 301px;
  z-index: 1100;
  border-left: 1px #c3c3c3 solid;
}

.sidebar-user-main {
  border-bottom: 1px #c3c3c3 solid;
  margin-bottom: 15px;
}

.sidebar-user-photo-wrap {
  text-align: center;
  margin-bottom: 15px;
}

.sidebar-user-name {
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
}

.sidebar-user-position {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-user-btn {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-user-col-left,
.sidebar-user-col-right {
  padding-bottom: 5px;
}

.sidebar-user-col-left {
  text-align: right;
}

.sidebar-user-close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  background: #fff;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  box-shadow: 0 0 5px 1px #c3c3c3;
}

.sidebar-user-trigger {
  cursor: pointer;
}

.sidebar-action {
  background-color: transparent;
  padding: 20px;
}
.sidebar-action__inner {
  padding: 17px;
  border-radius: 3px;
  border: 1px solid #3a4a59;
  width: 100%;
  box-sizing: border-box;
  background: url(../images/diamon.jpg) 90% center no-repeat;
}
.sidebar-action__text {
  text-align: left;
  color: #fff;
  font-size: 13px;
}
.sidebar-action__text-mark {
  color: #17ace8;
}

@media (max-width: 1365px) {
  .sidebar-action {
    padding: 5px;
  }
}