<integrations-limit limit="$ctrl.saasData.limit" count="$ctrl.saasData.count" />

<div ng-if="!$ctrl.isActive && !$ctrl.saasData.limitRiched" class="ng-cloak">
    <div class="m-b-lg">
        <div class="m-b">
            {{'Admin.Js.FacebookAuth.If'|translate}}<br />
            <a href="https://www.advantshop.net/help/pages/obrabotka-lidov-iz-facebook" target="_blank">{{'Admin.Js.FacebookAuth.Instruction'|translate}}</a>
        </div>
    </div>

    <div class="form-group row m-t">
        <div class="col-xs-2 col-wl-2">
            <div class="setting-label-wrap">{{'Admin.Js.FacebookAuth.AppID'|translate}}</div>
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control input-small" ng-model="$ctrl.clientId" />
        </div>
    </div>

    <div class="form-group row m-t">
        <div class="col-xs-2 col-wl-2">
            <div class="setting-label-wrap">{{'Admin.Js.FacebookAuth.AppSecret'|translate}}</div>
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control input-small" ng-model="$ctrl.clientSecret" />
        </div>
    </div>

    <div class="m-t">
        <a href="" ng-click="$ctrl.authUser()" class="btn btn-sm btn-success">{{'Admin.Js.FacebookAuth.Login'|translate}}</a>
    </div>

    <div class="form-group row m-t" ng-if="$ctrl.groups != null && $ctrl.groups.length > 0">
        <div class="col-xs-2 col-wl-2">
            <div class="setting-label-wrap">
                {{'Admin.Js.FacebookAuth.SelectGroup'|translate}}
            </div>
        </div>
        <div class="col-xs-3">
            <select ng-model="$ctrl.selectedGroup" ng-options="item.Name for item in $ctrl.groups" class="form-control"></select>
        </div>
        <div class="col-xs-3">
            <a href="" ng-click="$ctrl.saveGroup()" class="btn btn-sm btn-success">{{'Admin.Js.FacebookAuth.ConnectGroup'|translate}}</a>
        </div>
    </div>
</div>
<div ng-if="$ctrl.isActive" class="ng-cloak">
    <div>
        {{'Admin.Js.FacebookAuth.ConnectedGroup'|translate}}
        <a href="https://www.facebook.com/{{$ctrl.groupId}}" target="_blank" class="vk-group-name">
            <i class="fa fa-facebook-official"></i> {{$ctrl.groupName}}
        </a>
        <a href="" ng-click="$ctrl.deleteGroup()" class="m-l">{{'Admin.Js.FacebookAuth.Remove'|translate}}</a>
    </div>

    <div class="m-t-lg">
        <div class="form-group row">
            <div class="col-xs-3">
                {{'Admin.Js.FacebookAuth.Funnel'|translate}}
            </div>
            <div class="col-xs-3">
                <select ng-model="$ctrl.salesFunnelId"
                        ng-options="item.Id as item.Name for item in $ctrl.salesFunnels"
                        ng-change="$ctrl.saveSettings()" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-3">
                Создавать лид из личных сообщений
            </div>
            <div class="col-xs-3">
                <label class="adv-checkbox-label">
                    <input class="adv-checkbox-input" type="checkbox" ng-model="$ctrl.createLeadFromMessages" ng-change="$ctrl.saveSettings()" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-3">
                Создавать лид из комментариев
            </div>
            <div class="col-xs-3">
                <label class="adv-checkbox-label">
                    <input class="adv-checkbox-input" type="checkbox" ng-model="$ctrl.createLeadFromComments" ng-change="$ctrl.saveSettings()" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<div ng-if="$ctrl.isActive || !$ctrl.saasData.limitRiched">
    <div class="m-t">
        <div class="form-group row">
            <div class="col-xs-3">
                URL обратного вызова для webhooks
            </div>
            <div class="col-xs-3">
                {{$ctrl.verifyUrl}}
            </div>
        </div>
    </div>
    <div class="m-t">
        <div class="form-group row">
            <div class="col-xs-3">
                {{'Admin.Js.FacebookAuth.VerificationCode'|translate}}
            </div>
            <div class="col-xs-3">
                {{$ctrl.verifyToken}}
            </div>
        </div>
    </div>
</div>