<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{ctrl.mode == "edit" ? ('Admin.Js.AddEdit301Red.Edit'|translate) : ('Admin.Js.AddEdit301Red.Add'|translate)}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">
                            {{'Admin.Js.AddEdit301Red.From'|translate}}
                        </span>
                    </label>
                    <div data-e2e="RedirectFrom" class="col-xs-9">
                        <input type="text" class="form-control" ng-model="ctrl.RedirectFrom" required validation-input-text={{'Admin.Js.AddEdit301Red.From'|translate}} autofocus />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">{{'Admin.Js.AddEdit301Red.Where'|translate}}</label>
                    <div data-e2e="RedirectTo" class="col-xs-9">
                        <input type="text" class="form-control" ng-model="ctrl.RedirectTo" validation-input-text={{'Admin.Js.AddEdit301Red.Where'|translate}} />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">{{'Admin.Js.AddEdit301Red.Article'|translate}}</label>
                    <div data-e2e="RedirectArtProduct" class="col-xs-9">
                        <input type="text" class="form-control" ng-model="ctrl.ProductArtNo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button data-e2e="RedirectSave" class="btn btn-save btn-primary" ladda="ctrl.btnSleep" type="button" data-button-validation-success="ctrl.save301Red()" data-button-validation>{{'Admin.Js.AddEdit.Save'|translate}}</button>
        <button data-e2e="RedirectCancel" class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>