.ui-grid-custom-selection-wrap .ui-grid-header-cell:not(.ui-grid-custom-selection__headercell) {
  visibility: hidden;
}

.ui-grid-custom-selection-action {
  position: absolute;
  z-index: 10;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.ui-grid-custom-treeview__headercell + .ui-grid-custom-selection__headercell ~ ui-grid-custom-selection .ui-grid-custom-selection-action {
  left: 80px;
}

.ui-grid-custom-checkbox-selection-part:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  right: 3px;
  height: 1px;
  background-color: #000;
  transform: translateY(-50%);
}

.ui-grid-custom-selection-count {
  font-weight: 600;
}

.ui-grid-custom-selection-info {
  margin-left: 5px;
  line-height: 1;
}

.ui-grid-custom-checkbox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.ui-grid-custom-checkbox .adv-checkbox-label {
  line-height: 0;
  font-size: 0;
}

.ui-grid-custom-selection-action-link > ui-modal-trigger {
  display: block;
  padding: 3px 20px;
  margin: -3px -20px;
}