.ui-grid-filter-block {
    border: 1px #e7eaec solid;
    padding: 15px;
    position: relative;
    margin-top: 15px;
    background-color: #fff;
}

.ui-grid-filter-block-title-text, .ibox-content .ui-grid-filter-block-title-text {
    margin-top: 0;
}

.ui-grid-filter-block-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.ui-grid-filter-text {
    font-size: 12px;
}

.ui-grid-custom-filter-total {
    font-size: 12px;
    background-color: #fff;
}

.ui-grid-filter-block__btn--mobile {
    pointer-events: none;
    position: relative;
    z-index: 5;
}

.ui-grid-filter-block__list--mobile {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    line-height: normal;
    z-index: 0;
}

.ui-grid-filter-block__btn-container {
    position: relative;
    overflow: hidden;
}
