div.ui-grid-cell .ui-grid-custom-edit-field.ng-valid {
    border-color: transparent;
    background-color: transparent;
    display: inline;
    max-width: 100%;
    transition: none;
}

div.ui-grid-cell .ui-select-toggle,
div.ui-grid-cell .ui-select-container {
    border-color: transparent;
    background-color: transparent;
}

div.ui-grid-cell .ui-select-toggle {
    padding-left: 6px;
}

div.ui-grid-cell .caret {
    display: none;
}

div.ui-grid-cell .input-ghost {
    width: auto !important;
}

.ui-grid-custom-edit-field:not(.adv-checkbox-label){
    transform: translateX(-7px);
    position: relative;
}


.ui-grid-row:hover .ui-grid-custom-edit-field.ng-valid,
div.ui-grid-cell .ui-grid-custom-edit-field.ng-valid:focus {
    background-color: #fff;
    border-color: #ccc;
    /*display: block;*/ /*FF bug in grid - not fire blur event*/
    width: 100% !important;
}

.ui-grid-row:hover,
div.ui-grid-cell .ui-select-match.btn-default-focus {
    .ui-select-toggle {
        background-color: #fff;
        border-color: #ccc;
    }

    .caret {
        display: block;
    }
}


.ui-grid-row:hover .input-ghost,
div.ui-grid-cell .input-ghost:focus,
div.ui-grid-cell .input-ghost.ng-invalid {
    width: 100% !important;
}

.ui-grid-cell-contents a.link {
    color: #337ab7;
    text-decoration: underline;
}

.ui-grid-cell-contents a.link:hover {
    color: #337ab7;
    text-decoration: none;
}

.ui-grid-top-panel {
    font-weight: 500;
}


.ui-grid-custom-edit-number {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.ui-grid-custom-edit-form .form-control.ui-select-toggle {
    font-size: 13px;
}
.ui-grid-custom-edit__text--default {
    display: block;
    /*overflow-wrap: break-word;
    word-wrap: break-word;*/
    /*word-break: keep-all;*/
    line-break: normal;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow: hidden;
}

.ui-grid-custom-edit-field{
    .ui-select-match-text{
        margin-top: 1px;
    }
}