@using AdvantShop.Core.Services.Landing.Pictures;
@model BlockModel
<div class="lp-area">
    <div class="container-fluid">
        <div class="text-center">
            @Html.BlockHeader(Model)
        </div>
    </div>
    <div class="lp-block-image-full-width__block" data-e2e="PictureBlock">
        @Html.SubBlockPicture(Model.Block, "picture", new PictureLoaderTriggerModel()
        {
            DeletePicture = false,
            GalleryIconsEnabled = false,
            LazyLoadType = ePictureLoaderLazyLoadType.Default,
            MaxWidthPicture = PictureLoaderImageSize.WallWidth,
            MaxHeightPicture = PictureLoaderImageSize.WallHeight,
            ImageLink = Model.Block.TryGetSetting("image_link"),
        }, Model.Inplace)
    </div>
</div>
