<div>
    <label class="row middle-xs">
        <span class="col-xs-4">
            <span class="form-field-name vertical-interval-small">{{ ::'Js.Bonus.LastName' | translate }}</span>
        </span>
        <span class="col-xs-8">
            <span class="form-field-input vertical-interval-small"><input type="text" data-ng-model="bonusInfo.bonusData.LastName" name="bonusLastName" id="bonusLastName" value="" class="input-small" required /></span>
        </span>
    </label>

    <label class="row middle-xs">
        <span class="col-xs-4">
            <span class="form-field-name vertical-interval-small">{{ ::'Js.Bonus.FirstName' | translate }}</span>
        </span>
        <span class="col-xs-8">
            <span class="form-field-input vertical-interval-small"><input type="text" data-ng-model="bonusInfo.bonusData.FirstName" name="bonusFirstName" id="bonusFirstName" value="" class="input-small" required /></span>
        </span>
    </label>

    <label class="row middle-xs" data-ng-if="bonusInfo.IsShowPatronymic === true">
        <span class="col-xs-4">
            <span class="form-field-name vertical-interval-small">{{ ::'Js.Bonus.Patronymic' | translate }}</span>
        </span>
        <span class="col-xs-8">
            <span class="form-field-input vertical-interval-small"><input type="text" data-ng-model="bonusInfo.bonusData.SecondName" name="bonusSecondName" id="bonusSecondName" value="" class="input-small" required /></span>
        </span>
    </label>

    <div class="row middle-xs">
        <span class="col-xs-4">
            <span class="form-field-name vertical-interval-xsmall">{{ ::'Js.Bonus.Sex' | translate }}</span>
        </span>
        <span class="col-xs-8">
            <label class="bonus-form-label vertical-interval-xsmall">
                <input class="custom-input-native" value="false" data-ng-model="bonusInfo.bonusData.Gender" type="radio" id="bonusInfoMan" name="sex" data-ng-checked="true" checked="checked" />
                <span class="custom-input-radio"></span>
                <span class="custom-input-text">{{ ::'Js.Bonus.Male' | translate }}</span>
            </label>
            <label class="bonus-form-label vertical-interval-xsmall">
                <input class="custom-input-native" value="true" data-ng-model="bonusInfo.bonusData.Gender" type="radio" id="bonusInfoWoman" name="sex" />
                <span class="custom-input-radio"></span>
                <span class="custom-input-text">{{ ::'Js.Bonus.Female' | translate }}</span>
            </label>
        </span>
    </div>

    <label class="row middle-xs">
        <span class="col-xs-4">
            <span class="form-field-name vertical-interval-small">{{ ::'Js.Bonus.BirthDate' | translate }}</span>
        </span>
        <span class="col-xs-8">
            <span class="form-field-input vertical-interval-small">
                <span ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true, enableTime: false}">
                    <span class="flatpickr-custom-wrap">
                        <input type="text" id="birthday" name="birthday" class="input-small"  ng-flatpickr-input ng-model="bonusInfo.bonusData.DateOfBirth" data-ui-mask="99.99.9999" model-view-value="true">
                        <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                    </span>
                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                </span>
            </span>
        </span>
    </label>

    <label class="row middle-xs">
        <span class="col-xs-4">
            <span class="form-field-name vertical-interval-small">{{ ::'Js.Bonus.Phone' | translate }}</span>
        </span>
        <span class="col-xs-8">
            <span class="form-field-input vertical-interval-small"><input type="text" data-ng-model="bonusInfo.bonusData.CellPhone" name="bonusInfoPhone" id="bonusInfoPhone" value="" class="input-small" required /></span>
        </span>
    </label>
</div>