<div>
    <form name="bonusRegForm" data-ng-if="!bonusReg.cardAdded" novalidate="novalidate">
        <div class="row">
            <div class="col-xs-12">
                <label class="row middle-xs">
                    <span class="col-xs-4">
                        <span class="form-field-name vertical-interval-xsmall">{{ ::'Js.Bonus.Phone' | translate }}</span>
                    </span>
                    <span class="col-xs-8">
                        <span class="form-field-input vertical-interval-xsmall">
                            <input type="tel" data-ng-model="bonusReg.phone" data-ng-init="bonusReg.phone = (bonusReg.phone || bonusReg.outsidePhone)" name="bonusPhone" id="bonusPhone" value="" class="input-small" data-mask-control="bonusReg.enablePhoneMask" data-mask-control-preset="phone" required />                            
                        </span>
                    </span>
                </label>
				<label data-ng-if="bonusReg.isShowUserAgreementText">
                    <span class="form-field-input vertical-interval-xsmall">
                        <input type="checkbox" data-ng-model="bonusReg.agreement" name="bonusRegAgreement" id="bonusRegAgreement" value="" class="input-small"
                               data-ng-init="bonusReg.agreement = bonusReg.agreementDefaultChecked" />
                        <span class="vertical-interval-middle" data-ng-bind-html="bonusReg.userAgreementText" />
                    </span>
                </label>
                <div data-ng-if="bonusReg.error" data-ng-bind="bonusReg.error" class="bonus-error-text"></div>
                <div class="vertical-interval-xsmall text-align-right">
                    <a href=""
                       class="btn btn-middle btn-submit"
                       data-ng-class="{'icon-spinner-before icon-animate-spin-before': bonusReg.inProgress}"
                       data-button-validation="bonusReg.validate()"
                       data-button-validation-success="bonusReg.register()">{{ ::'Js.Bonus.GetBonusCard' | translate }}</a>
                </div>
            </div>
        </div>
    </form>
    <div data-ng-if="bonusReg.cardAdded">
        {{ ::'Js.Bonus.BonusCardRegistrationSuccess' | translate }}        
    </div>
</div>