@import "../../_themes.scss", "../../../../styles/functions/_util.scss", "../../../../styles/_settings.scss";


$bgTop: (height rem-calc(612px), bg (url('../images/main.jpg') no-repeat center top));
$bgBottom: (height rem-calc(168px), bg (url('../images/footer.jpg') no-repeat center bottom));

@include theme-background($bgTop, $bgBottom);

.site-footer-top-level,
.footer-bottom-level {
    background: transparent none;
}
