<div class="flex middle-xs m-l-lg" style="height:100%;">
    <div class="row">
        <div class="col-xs-6">
            <h1 class="bold">
                Триггерный маркетинг
            </h1>

            <div class="m-t m-b-xs bold-title bold f-s-18">
                Автоматически отправляйте e-mail и SMS-рассылки
            </div>
            <div>
                Настройте автоматическую отправку e-mail-писем и SMS вашим клиентам в нужное время. Такими рассылками вы можете: стимулировать посетителя купить ваш товар; предлагать дополнительные товары после заказа; возвращать покупателей в магазин за новыми покупками.
            </div>

            <div class="m-t m-b-xs bold-title bold f-s-18">Настраивайте различные события (триггеры) в системе</div>
            <div>
                Отправляйте письма или целые цепочки при поступлении нового заказа/лида, смены статуса заказа/лида, оплаты, доставки, наступлении какой-либо даты (например, день рождения клиента).
            </div>

            <div class="m-t m-b-xs bold-title bold f-s-18">Анализируйте и улучшайте рассылки</div>
            <div>
                Смотрите подробные отчеты открываемости и кликабельности писем, оптимизируйте рассылки и получайте высокие показатели открытий, переходов, тем самым увеличивая конверсию.
            </div>

            <div class="m-t-lg">
                <ui-modal-trigger data-controller="'ModalAddTriggerCtrl'" controller-as="ctrl" template-url="../areas/admin/content/src/triggers/modal/addTrigger/addTrigger.html">
                    <button class="btn btn-md btn-success" type="button" ng-disabled="false" data-e2e="TriggerAddModal">
                        Подключить триггерный маркетинг
                    </button>
                </ui-modal-trigger>
            </div>
        </div>
        <div class="col-xs-6">
            <img src="../Areas/admin/Content/src/_shared/modal/salesChannels/images/trig-voronka.png">
        </div>
    </div>
</div>