.simple-modal__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 23px;
}
.simple-modal__body {
  max-height: 66vh;
  min-height: 66vh;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}
.simple-modal .modal-content {
  padding: 32px 30px;
  padding-top: 26px;
}
.simple-modal__back {
  background: #fff;
  border: 0;
  padding: 0;
}
.simple-modal__back:hover {
  background-color: #fff;
}
.simple-modal__footer {
  padding-top: 33px;
  text-align: right;
}
.simple-modal .btn-default {
  background-color: #2f4050;
  text-transform: uppercase;
  border: 1px solid #2f4050;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
}

.simple-modal__header {
  display: flex;
  animation-name: changeOpacityHeader;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  background: #fff;
  will-change: auto;
}
.simple-modal__header--border-bottom {
  border-bottom: 1px solid #E5E5E5;
}

.simple-modal__header .close:after {
  display: none;
}

.simple-modal ui-modal-cross {
  transform: translateY(8px);
  position: static;
}

.simple-modal__header .close {
  opacity: 1;
  /*position: static;*/
  width: 17px;
  height: 17px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIyMC4xNzYgMjIwLjE3NiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjIwLjE3NiAyMjAuMTc2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjE3IiBoZWlnaHQ9IjE3Ij48cGF0aCBkPSJNMTMxLjU3NywxMTAuMDg0bDg0LjE3Ni04NC4xNDZjNS44OTctNS45MjgsNS44OTctMTUuNTY1LDAtMjEuNDkyICAgICBjLTUuOTI4LTUuOTI4LTE1LjU5NS01LjkyOC0yMS40OTIsMGwtODQuMTc2LDg0LjE0NkwyNS45MzgsNC40NDZjLTUuOTI4LTUuOTI4LTE1LjU2NS01LjkyOC0yMS40OTIsMHMtNS45MjgsMTUuNTY1LDAsMjEuNDkyICAgICBsODQuMTQ2LDg0LjE0Nkw0LjQ0NiwxOTQuMjZjLTUuOTI4LDUuODk3LTUuOTI4LDE1LjU2NSwwLDIxLjQ5MmM1LjkyOCw1Ljg5NywxNS41NjUsNS44OTcsMjEuNDkyLDBsODQuMTQ2LTg0LjE3Nmw4NC4xNzYsODQuMTc2ICAgICBjNS44OTcsNS44OTcsMTUuNTY1LDUuODk3LDIxLjQ5MiwwYzUuODk3LTUuOTI4LDUuODk3LTE1LjU5NSwwLTIxLjQ5MkwxMzEuNTc3LDExMC4wODR6IiBmaWxsPSIjMmY0MDUwIi8+PC9zdmc+);
}

.simple-modal__title--m-b-none {
  margin-bottom: 0;
}

.simple-modal__title--border-bottom {
  border-bottom: 1px solid #E5E5E5;
}

.card-channel-details,
.card-channel-inner {
  overflow: auto;
  height: 100%;
}

.card-channel-inner.modal-left-animation {
  left: -100%;
  background: #fff;
  will-change: auto;
  height: 100% !important;
  overflow: hidden;
}

.card-channel-inner.modal-right-animation {
  left: 0;
  background: #fff;
  will-change: auto;
  /*height: auto;
  overflow: initial;*/
}

.card-channel-details.animation-right-to-left {
  left: 0;
  background: #fff;
  will-change: auto;
}

.animation-left-to-right {
  left: 100%;
  background: #fff;
  will-change: auto;
}

@keyframes changeOpacityHeader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}