@charset "UTF-8";
.modal-wl-12, .modal-wl-11, .modal-wl-10, .modal-wl-9, .modal-wl-8, .modal-wl-7, .modal-wl-6, .modal-wl-5, .modal-wl-4, .modal-wl-3, .modal-wl-2, .modal-wl-1, .modal-wl, .modal-lg-12, .modal-lg-11, .modal-lg-10, .modal-lg-9, .modal-lg-8, .modal-lg-7, .modal-lg-6, .modal-lg-5, .modal-lg-4, .modal-lg-3, .modal-lg-2, .modal-lg-1, .modal-lg, .modal-md-12, .modal-md-11, .modal-md-10, .modal-md-9, .modal-md-8, .modal-md-7, .modal-md-6, .modal-md-5, .modal-md-4, .modal-md-3, .modal-md-2, .modal-md-1, .modal-md, .modal-sm-12, .modal-sm-11, .modal-sm-10, .modal-sm-9, .modal-sm-8, .modal-sm-7, .modal-sm-6, .modal-sm-5, .modal-sm-4, .modal-sm-3, .modal-sm-2, .modal-sm-1, .modal-sm, .modal-xs-12, .modal-xs-11, .modal-xs-10, .modal-xs-9, .modal-xs-8, .modal-xs-7, .modal-xs-6, .modal-xs-5, .modal-xs-4, .modal-xs-3, .modal-xs-2, .modal-xs-1, .modal-xs {
  box-sizing: border-box;
}

.modal-xs-1 {
  width: 8.3333333333%;
}

.modal-xs-2 {
  width: 16.6666666667%;
}

.modal-xs-3 {
  width: 25%;
}

.modal-xs-4 {
  width: 33.3333333333%;
}

.modal-xs-5 {
  width: 41.6666666667%;
}

.modal-xs-6 {
  width: 50%;
}

.modal-xs-7 {
  width: 58.3333333333%;
}

.modal-xs-8 {
  width: 66.6666666667%;
}

.modal-xs-9 {
  width: 75%;
}

.modal-xs-10 {
  width: 83.3333333333%;
}

.modal-xs-11 {
  width: 91.6666666667%;
}

.modal-xs-12 {
  width: 100%;
}

@media screen and (min-width: 48em) {
  .modal-sm-1 {
    width: 8.3333333333%;
  }

  .modal-sm-2 {
    width: 16.6666666667%;
  }

  .modal-sm-3 {
    width: 25%;
  }

  .modal-sm-4 {
    width: 33.3333333333%;
  }

  .modal-sm-5 {
    width: 41.6666666667%;
  }

  .modal-sm-6 {
    width: 50%;
  }

  .modal-sm-7 {
    width: 58.3333333333%;
  }

  .modal-sm-8 {
    width: 66.6666666667%;
  }

  .modal-sm-9 {
    width: 75%;
  }

  .modal-sm-10 {
    width: 83.3333333333%;
  }

  .modal-sm-11 {
    width: 91.6666666667%;
  }

  .modal-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 62em) {
  .modal-md-1 {
    width: 8.3333333333%;
  }

  .modal-md-2 {
    width: 16.6666666667%;
  }

  .modal-md-3 {
    width: 25%;
  }

  .modal-md-4 {
    width: 33.3333333333%;
  }

  .modal-md-5 {
    width: 41.6666666667%;
  }

  .modal-md-6 {
    width: 50%;
  }

  .modal-md-7 {
    width: 58.3333333333%;
  }

  .modal-md-8 {
    width: 66.6666666667%;
  }

  .modal-md-9 {
    width: 75%;
  }

  .modal-md-10 {
    width: 83.3333333333%;
  }

  .modal-md-11 {
    width: 91.6666666667%;
  }

  .modal-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 75em) {
  .modal-lg-1 {
    width: 8.3333333333%;
  }

  .modal-lg-2 {
    width: 16.6666666667%;
  }

  .modal-lg-3 {
    width: 25%;
  }

  .modal-lg-4 {
    width: 33.3333333333%;
  }

  .modal-lg-5 {
    width: 41.6666666667%;
  }

  .modal-lg-6 {
    width: 50%;
  }

  .modal-lg-7 {
    width: 58.3333333333%;
  }

  .modal-lg-8 {
    width: 66.6666666667%;
  }

  .modal-lg-9 {
    width: 75%;
  }

  .modal-lg-10 {
    width: 83.3333333333%;
  }

  .modal-lg-11 {
    width: 91.6666666667%;
  }

  .modal-lg-12 {
    width: 100%;
  }
}
@media screen and (min-width: 120em) {
  .modal-wl-1 {
    width: 8.3333333333%;
  }

  .modal-wl-2 {
    width: 16.6666666667%;
  }

  .modal-wl-3 {
    width: 25%;
  }

  .modal-wl-4 {
    width: 33.3333333333%;
  }

  .modal-wl-5 {
    width: 41.6666666667%;
  }

  .modal-wl-6 {
    width: 50%;
  }

  .modal-wl-7 {
    width: 58.3333333333%;
  }

  .modal-wl-8 {
    width: 66.6666666667%;
  }

  .modal-wl-9 {
    width: 75%;
  }

  .modal-wl-10 {
    width: 83.3333333333%;
  }

  .modal-wl-11 {
    width: 91.6666666667%;
  }

  .modal-wl-12 {
    width: 100%;
  }
}
ui-modal-cross {
  width: 40px;
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.modal-header .close {
  width: 32px;
}

.modal--panel {
  text-align: right;
}
.modal--panel .modal-dialog {
  width: calc(100% - 70px);
  box-sizing: border-box;
  transition: none !important;
}
.modal--panel .modal-body {
  max-height: 100vh;
}
.modal--panel .modal-content {
  min-height: 100vh;
  border: 0;
  border-radius: 0;
  max-width: 100%;
}
.modal--panel ui-modal-cross {
  position: fixed;
  top: 15px;
  left: -57px;
  font-size: 25px;
  background: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0 0 5px 1px #c3c3c3;
  box-shadow: 0 0 5px 1px #c3c3c3;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: none;
}
.modal--panel .close {
  color: #676a6c;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  height: auto;
  font-size: 25px;
  text-align: center;
  opacity: 1;
}
.modal--panel .close:after {
  background: none;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
}
.modal--panel .is-sticky .sticky-page-name-in-modal--panel {
  left: 0 !important;
}

.modal-open--panel {
  overflow: hidden !important;
}

.modal--strecth .modal-content {
  overflow: visible;
}
.modal--strecth .modal-body {
  overflow: visible;
  height: auto;
}

.modal__window--scrollbar-no .modal-content {
  overflow: visible;
}

.modal--bg .modal-content {
  background-color: #eee;
}