@using AdvantShop.Core.Services.Partners
@model AdvantShop.Web.Admin.Models.Partners.PartnerViewModel
<div class="ibox">
    <div class="ibox-content">
        <div class="m-b-sm">
            <h3 class="category-title">
                Выплаты
            </h3>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4">Баланс</div>
                <div class="col-xs-8 ng-cloak">
                    {{partnerView.instance.BalanceFormatted}}
                    <ui-modal-trigger data-controller="'ModalAddPartnerMoneyCtrl'" controller-as="ctrl" size="md" data-resolve="{params: {partnerId:partnerView.partnerId}}"
                                      template-url="../areas/admin/content/src/partner/modals/addPartnerMoney/addPartnerMoney.html"
                                      data-on-close="partnerView.onMoneyProcessed()">
                        <a href="" class="m-l-xs">Пополнить</a>
                    </ui-modal-trigger>
                    <ui-modal-trigger data-controller="'ModalSubtractPartnerMoneyCtrl'" controller-as="ctrl" size="md" data-resolve="{params: {partnerId:partnerView.partnerId}}"
                                      template-url="../areas/admin/content/src/partner/modals/subtractPartnerMoney/subtractPartnerMoney.html"
                                      data-on-close="partnerView.onMoneyProcessed()">
                        <a href="" class="m-l-xs">Списать</a>
                    </ui-modal-trigger>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4">Процент вознаграждения</div>
                <div class="col-xs-8 ng-cloak">{{partnerView.instance.Partner.RewardPercent}}%</div>
            </div>
        </div>
        <div ng-if="partnerView.instance.Partner.NaturalPerson != null">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4">Способ выплаты</div>
                    <div class="col-xs-8 ng-cloak">{{partnerView.instance.PaymentTypeName || 'Не указан'}}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4">№ счета</div>
                    <div class="col-xs-8 ng-cloak">{{partnerView.instance.Partner.NaturalPerson.PaymentAccountNumber || 'Не указан'}}</div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-xs-12">
                    <ui-modal-trigger data-controller="'ModalPartnerRewardPayoutCtrl'" controller-as="ctrl" size="md" data-resolve="{params: {partnerId:partnerView.partnerId}}"
                                      template-url="../areas/admin/content/src/partner/modals/partnerRewardPayout/partnerRewardPayout.html"
                                      data-on-close="partnerView.onMoneyProcessed()">
                        <button class="btn btn-sm btn-success" type="button">
                            Выплатить вознаграждение
                        </button>
                    </ui-modal-trigger>
                </div>
            </div>
        </div>
    </div>
</div>