@model AdvantShop.Web.Admin.Models.Partners.PartnerViewModel

<div class="ibox">
    <div class="ibox-content">
        <h3 class="category-title">@T("Admin.Partners.View.AdminComment")</h3>
        <div class="form-group">
            <div class="row">
                <div data-e2e="clientComment" class="col-xs-12">
                    <textarea ng-model="partnerView.instance.Partner.AdminComment" ng-blur="partnerView.updateAdminComment(partnerView.instance.Partner.AdminComment)" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>