@model AdvantShop.Web.Admin.Models.Partners.PartnerViewModel
<div class="ibox">
    <div class="ibox-content">
        <div class="m-b-sm">
            <h3 class="category-title">
                Договор
            </h3>
        </div>
        <div ng-if="partnerView.instance.Partner.ContractConcluded">
            <span ng-if="partnerView.instance.Partner.ContractNumber">№{{partnerView.instance.Partner.ContractNumber}}</span>
            <span ng-if="partnerView.instance.ContractDateFormatted">от {{partnerView.instance.ContractDateFormatted}}</span>
        </div>
        <div ng-if="!partnerView.instance.Partner.ContractConcluded">
            Не заключен
        </div>
    </div>
</div>