<integrations-limit limit="$ctrl.saasData.limit" count="$ctrl.saasData.count" />

<div ng-if="!$ctrl.settings.isActive && !$ctrl.saasData.limitRiched && !$ctrl.IsChallengeRequired" class="ng-cloak">
    <div class="form-group row m-t">
        <div class="col-xs-2 col-wl-2">
            <div class="setting-label-wrap">
                {{'Admin.Js.InstagramAuth.Login'|translate}}
            </div>
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control input-small" ng-model="$ctrl.settings.login" placeholder="{{'Admin.Js.SettingsCrm.Login'|translate}}"/>
            <div style="font-size: 12px">Например: @kimkardashian Телефон и email не подходят.</div>
        </div>
    </div>


    <div class="form-group row m-t">
        <div class="col-xs-2 col-wl-2">
            <div class="setting-label-wrap">{{'Admin.Js.InstagramAuth.Password'|translate}}</div>
        </div>
        <div class="col-xs-3">
            <input type="password" class="form-control input-small" ng-model="$ctrl.settings.password"/>
        </div>
    </div>

    <div class="form-group row m-t">
        <div class="col-xs-12">
            <a href="" ng-click="$ctrl.save()" class="btn btn-sm btn-success">{{'Admin.Js.InstagramAuth.OK'|translate}}</a>
        </div>
    </div>
</div>

<div ng-if="$ctrl.IsChallengeRequired" class="ng-cloak">
    <div class="form-group row m-b-lg">
        <div class="col-xs-12">
            Не удалось авторизоваться в instagram. Необходимо подтвердить аккаунт по sms или email.
        </div>
    </div>
    <div class="form-group row m-t">
        <div class="col-xs-3">Если к аккаунту привязан телефон:</div>
        <div class="col-xs">
            <a ng-click="$ctrl.requireChallengeCode(0)" href="" class="btn btn-sm btn-success">Выслать код по sms</a>
        </div>
    </div>
    <div class="form-group row m-t">
        <div class="col-xs-3">Если к аккаунту привязан email:</div>
        <div class="col-xs">
            <a ng-click="$ctrl.requireChallengeCode(1)" href="" class="btn btn-sm btn-success">Выслать код на почту</a>
        </div>
    </div>
</div>

<div ng-if="$ctrl.IsChallengeRequiredCode" class="ng-cloak">
    <div class="form-group row m-t">
        <div class="col-xs-3">
            <input type="text" ng-model="$ctrl.code" class="form-control" placeholder="Введите код"/>
        </div>
        <div class="col-xs-3">
            <a href="" ng-click="$ctrl.sendChallengeCode()">Отправить</a>
        </div>
    </div>
</div>

<div ng-if="$ctrl.settings.isActive" class="ng-cloak">
    <div>
        {{'Admin.Js.InstagramAuth.Account'|translate}}
        <a href="https://www.instagram.com/{{$ctrl.settings.userName}}/" target="_blank" class="instagram-user-name">
            <i class="fab fa-instagram"></i> {{$ctrl.settings.userName}}
        </a>
        <a href="" ng-click="$ctrl.deActivate()" class="m-l">{{'Admin.Js.InstagramAuth.RemoveBinding'|translate}}</a>
    </div>

    <div class="m-t-lg">
        <div class="form-group row">
            <div class="col-xs-3">
                {{'Admin.Js.InstagramAuth.Funnel'|translate}}
            </div>
            <div class="col-xs-3">
                <select ng-model="$ctrl.settings.salesFunnelId"
                        ng-options="item.Id as item.Name for item in $ctrl.settings.salesFunnels"
                        ng-change="$ctrl.saveSettings()" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-3">
                Создавать лид из личных сообщений
            </div>
            <div class="col-xs-3">
                <label class="adv-checkbox-label">
                    <input class="adv-checkbox-input" type="checkbox" ng-model="$ctrl.settings.createLeadFromDirectMessages" ng-change="$ctrl.saveSettings()" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-3">
                Создавать лид из комментариев
            </div>
            <div class="col-xs-3">
                <label class="adv-checkbox-label">
                    <input class="adv-checkbox-input" type="checkbox" ng-model="$ctrl.settings.createLeadFromComments" ng-change="$ctrl.saveSettings()" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
    </div>
</div>
