<form name="formAddEditCategory" novalidate>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{ctrl.mode == "add" ? ('Admin.Js.TriggerCategory.AddEdit.NewCategory'|translate) :  ('Admin.Js.TriggerCategory.AddEdit.EditingCategory'|translate)}}</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.formAddEditCategory = formAddEditCategory">
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">
                    {{'Admin.Js.TriggerCategory.AddEdit.Name'|translate}}
                </span>
            </label>
            <div class="col-xs-9">
                <input data-e2e="categoryName" type="text" class="form-control" ng-model="ctrl.name" required validation-input-text="{{'Admin.Js.TriggerCategory.AddEdit.Name'|translate}}" autofocus />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.TriggerCategory.AddEdit.SortingOrder'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" data-e2e="categorySortOrder" ng-model="ctrl.sortOrder" class="form-control" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-e2e="categoryButtonSave"
                data-button-validation-success="ctrl.save()" data-button-validation
                disabled ng-disabled="ctrl.mode == 'edit' && (!ctrl.formInited || !formAddEditCategory.modified)"
                ng-bind="ctrl.mode == 'add' ? ('Admin.Js.TriggerCategory.AddEdit.Add'|translate) : ('Admin.Js.TriggerCategory.AddEdit.Save'|translate)"></button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.Taskgroups.AddEdit.Cancel'|translate}}</button>
    </div>
</form>