@{
    var isAdmin = CustomerContext.CurrentCustomer.IsAdmin;
}

<div data-ng-controller="TaskGroupsCtrl as taskgroups" ng-init="taskgroups.init(@isAdmin.ToLowerString())">

    <div class="sticky-page-name" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div class="page-name-block-item-main">
                <h2 class="sticky-page-name-text inline bottom-cell m-r-xs" data-e2e="TaskGroupTitle">
                    @T("Admin.TaskGroups.Index.Title")
                </h2>
            </div>
            @if (isAdmin)
            {
                <div>
                    <div class="flex">
                        <div class="page-name-block-item-additional">
                            <ui-modal-trigger data-controller="'ModalAddEditTaskGroupCtrl'" controller-as="ctrl" data-on-close="taskgroups.grid.fetchData()"
                                              template-url="../areas/admin/content/src/taskgroups/modal/addEditTaskGroup.html">
                                <button class="btn btn-sm btn-success" data-e2e="AddTaskGroup" type="button">
                                    <span class="fa fa-plus"></span>
                                    @T("Admin.AddTaskGroup")
                                </button>
                            </ui-modal-trigger>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div>
        <ui-grid-custom grid-unique-id="grid"
                        grid-on-init="taskgroups.gridOnInit(grid)"
                        grid-options="taskgroups.gridOptions"
                        grid-url="'taskgroups/gettaskgroups'"
                        grid-inplace-url="'taskgroups/inplacetaskgroup'"
                        grid-selection-enabled="@isAdmin.ToLowerString()"
                        grid-extend-ctrl="taskgroups">
            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="settingsUsers.gridDepartments.gridOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>