.ng-cloak, .ng-hide:not(.ng-hide-animate), .x-ng-cloak {
    display: none !important
}

form {
    display: block
}
input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px #e2e3e4 solid;
    vertical-align: middle;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    /*line-height: 1.2;*/
}

.mobile-header {
    border-color: transparent;
}

.cs-l-1, a {
    background: 0 0
}

.cs-l-1 {
    text-decoration: none
}

body {
    font-size: 13px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Open Sans'
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 15px
}

[hidden] {
    display: none
}

.panel.no-borders, img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

button, input, select {
    margin: 0
}

button {
    overflow: visible;
    -webkit-appearance: button
}

button, select {
    text-transform: none
}

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0
    }

input {
    line-height: normal
}

    input[type=checkbox] {
        box-sizing: border-box;
        padding: 0
    }

    input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
        -webkit-appearance: none
    }

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: .625rem;
    padding-left: .625rem
}

.col-xs, .container-fluid, .row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.625rem;
    margin-left: -.625rem
}

.col-xs {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: .625rem;
    padding-left: .625rem;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%
}

html * {
    max-height: 999999px
}

label {
    position: relative;
    display: inline-block
}

button, input, select {
    color: inherit;
    font: inherit
}

.container {
    max-width: 73.75rem;
    min-width: 60.625rem;
    position: relative;
    margin: 0 auto;
    z-index: 30
}

img:not([height]), img:not([width]) {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%
}

.text-floating {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: normal;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

[class*=" icon-"]:after, [class*=" icon-"]:before, [class^=icon-]:after, [class^=icon-]:before {
    font-family: "advantshopfonts";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    line-height: 1;
    text-align: center;
    opacity: 1;
    font-variant: normal;
    text-transform: none
}

.icon-star-before:before {
    content: ""
}

.icon-right-open-big-after:after {
    content: ""
}

.icon-star-before:before {
    margin-right: .2em
}

.icon-right-open-big-after:after {
    margin-left: .2em
}

.icon-no-margin:after, .icon-no-margin:before {
    margin: 0
}

input[type=password], input[type=search] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px transparent solid;
    vertical-align: middle;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 1.2;
}

.input-small {
    font-size: .75rem;
    padding: .5625rem
}

.btn, .link-text-decoration-none, a {
    text-decoration: none
}

.btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: .3125rem;
    line-height: 1.3
}

.btn-block {
    display: block;
    width: 100%
}

.btn-middle {
    font-weight: 700;
    font-size: .75rem;
    padding: .75rem
}

.price-currency {
    white-space: pre
}

.products-view-rating {
    margin-top: .3125rem
}

.rating, .rating-item {
    display: inline-block;
    padding: 0;
    margin: 0
}

.rating {
    list-style: none;
    font-size: 1.125rem
}

.rating-item {
    vertical-align: middle
}

.carousel-main-list {
    white-space: nowrap;
    display: block
}

.carousel-main-item {
    display: inline-block;
    position: relative;
    line-height: 0;
    font-size: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%
}

    .carousel-main-item:first-child {
        visibility: visible
    }

    .carousel-main-item img {
        border-radius: .3125rem;
        width: 100%;
        border-radius: 0
    }

:root {
    --min-full-height: 100vh
}

.main-title {
    text-align: center
}

h1, h3 {
    font-size: 1.4em;
    font-weight: 400;
    margin: 0;
    padding: 0
}

.panel {
    padding: .66667em 1em;
    border-width: 1px 0 0;
    border-style: solid
}

    .panel.no-borders {
        border: 0
    }

.carousel-main-list {
    overflow: hidden
}

#layout, .panel {
    position: relative
}

#header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 50px;
    z-index: 51
}

.cart-fullcartmessage {
    margin: 0 13px
}

.panel, .price, .price-current {
    display: block
}

.price-currency, .price-number {
    display: inline-block
}

.category-description {
    display: block;
    padding: 16px 17.333px
}

.catalog-sort-pnl {
    display: table;
    width: 100%
}

    .catalog-sort-pnl .catalog-sort, .catalog-sort-pnl .catalog-sort__count {
        vertical-align: middle;
        display: table-cell
    }

    .catalog-sort-pnl .catalog-sort {
        width: 65%
    }

.catalog-product-item {
    text-decoration: none;
    font-size: .75rem;
    white-space: normal;
    line-height: 1;
    position: relative
}

.scroll-always-visible::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 100px;
    height: 2px
}

.scroll-always-visible::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5)
}

.main-title {
    margin: 0;
    padding-bottom: 16px;
    padding-top: 16px;
    font-size: 14px
}

.rating {
    line-height: 1
}

.btn {
    border-width: 1px;
    border-style: solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.btn-middle {
    font-size: 12px
}

.input-small {
    padding-top: 10px;
    padding-bottom: 10px
}

.mobile-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 8px;
    z-index: 10;
    border-bottom-width: 1px;
    border-bottom-style: solid
}

.mobile-header__item {
    padding: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.mobile-header__menu-triger, .mobile-header__menu-triger span {
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

.mobile-header__menu-triger {
    width: 24px;
    height: 16px;
    position: relative;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0
}

    .mobile-header__menu-triger span {
        position: absolute;
        height: 2px;
        width: 100%;
        background: currentColor;
        opacity: 1;
        left: 0
    }

        .mobile-header__menu-triger span:nth-child(1) {
            top: 0
        }

        .mobile-header__menu-triger span:nth-child(2), .mobile-header__menu-triger span:nth-child(3) {
            top: 7px
        }

        .mobile-header__menu-triger span:nth-child(4) {
            top: 14px
        }

.mobile-header__search-btn {
    padding: 0;
    border: 0;
    background-color: transparent
}

.mobile-header__icon {
    vertical-align: middle
}

.mobile-header__logo-block {
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-height: 100%;
    height: 100%
}

.mobile-header__phone-block {
    min-width: 34px
}

.mobile-header__cart-link {
    position: relative
}

.mobile-header__cart-count {
    position: absolute;
    border-radius: 50%;
    font-size: 8px;
    min-width: 16px;
    min-height: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    top: -6px;
    right: -6px;
    padding: 0 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.mobile-header--visible-on-search-active {
    display: none
}

.mobile-header__search-form-block {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.mobile-header__search-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.mobile-header__search-form-item {
    padding: 8px
}

.mobile-header__search-form-input-block {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.mobile-header__search-form-input {
    border: 0;
    height: 32px
}

.mobile-header__search-form-back {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0
}

.mobile-header__search-form-back-icon {
    vertical-align: middle
}

.mobile-header__logo-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.mainpage-products, .novelty-section {
    overflow: hidden
}

.mainpage-products__header {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .66667em 1em
}

.mainpage-products__header-title {
    font-size: 20px
}

.novelty-section__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.mainpage-products__content-item {
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.categories-root, .mainpage-products__content-item {
    padding-left: 13px;
    padding-right: 13px
}

.categories-root__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
    padding-top: 15px;
    padding-bottom: 15px
}

.categories-root__item {
    margin-left: 8px;
    padding: 10px 15px;
    border-radius: 18px;
    text-decoration: none
}

    .categories-root__item:first-child {
        margin-left: 0
    }

.categories-root .categories-root__item-inner {
    width: 100%
}

.categories-root__item-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    width: 100%
}

.catalog-filter-trigger-wrap--mobile {
    text-align: right
}

.catalog-filter-trigger--mobile {
    background-color: transparent;
    padding: 10px 0;
    position: relative;
    border: 0;
    display: inline-block
}

.price {
    font-weight: 600;
    margin-top: 0;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 10px
}

.mobile-product-view-item {
    text-align: center;
    position: relative
}

.mobile-prod-info-wrap {
    text-align: center
}

    .catalog-view .prod-name, .mobile-prod-info-wrap .prod-name {
        color: currentColor;
        display: block;
        margin-bottom: 8px
    }

.prod-name {
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis
}

.products-view-rating {
    margin-top: 0;
    margin-bottom: 10px
}

.mobile-product-view-item-image-wrap {
    margin-bottom: 10px;
    position: relative;
    display: inline-block
}

.mobile-product-view-item__btn {
    width: auto
}

.catalog-view .prod-name {
    position: relative
}

    .catalog-view .prod-name:after {
        content: "";
        text-align: right;
        position: absolute;
        height: 18px;
        width: 18px;
        bottom: 0;
        right: 0;
        background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(70%,#fff));
        background: linear-gradient(to right,rgba(255,255,255,0),#fff 70%)
    }

.catalog-view .catalog-product-item {
    padding-bottom: 15px;
    padding-top: 15px
}

.catalog-view .catalog-product-item__inner {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative
}

.catalog-view .mobile-product-view-item-image-wrap {
    display: block
}

.catalog-sort_btn {
    background-color: transparent;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    border: 0
}

.catalog-sort_select {
    opacity: 0
}

.catalog-sort-block {
    position: -webkit-sticky;
    position: sticky;
    top: 51px;
    z-index: 50;
    padding-left: 15px;
    padding-right: 15px
}

.catalog-sort-view-mode {
    border-top: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.catalog-product-item {
    border: 0
}

.catalog-view__product-item-wrap {
    visibility: hidden
}

.catalog__sort-panel {
    table-layout: fixed
}

.catalog .catalog-sort {
    width: auto
}

.catalog-change {
    text-align: right
}

.catalog-change-btn {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #e2e3e4;
    width: 32px;
    height: 32px;
    overflow: hidden
}

.gallery-photos-slider-list-horizontal {
    white-space: nowrap;
}

.details-carousel-item {
    display: inline-block;
    width: 100%;
}

.details-carousel-item--preview {
    padding: 6px;
    width: auto !important;
}

.details-carousel-hidden,
.details-carousel-preview--loading .details-carousel__item--hidden-onload{
    opacity: 0;
}

.product__head--breadcrumbs .main-title {
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    padding-left: 0;
}

.product__head-breacrumbs-wrap {
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 0.66667em;
}


.product__head-breacrumbs {
    /*margin-bottom: 5px;*/
    display: inline-flex;
    align-items: center;
    /*color: #8b8b8b;*/
}

.product__head-breacrumbs:after {
    display: block;
}

.main-title {
    margin: 0;
}

.carousel-dots {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    text-align: center;
    margin-top: 10px;
    line-height: 1;
}

.carousel-dots-item {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: .3125rem;
    font-size: 0;
    line-height: 0;
    opacity: .5;
}

.h2 {
    font-size: 1.375rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}

.mobile-content-padding {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-right: 18px;
    padding-left: 18px;
}

.checkout-block {
    border-bottom: 0.0625rem solid #ededee;
    margin-bottom: 1.875rem;
    padding-bottom: 1.875rem;
}

.select-custom {
    position: relative;
    display: inline-block;
    width: 100%;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .select-custom select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-color: transparent;
        padding: 8px 30px 8px 15px;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
    }

.abc .letter + .letter {
    margin-left: 1px;
}

.abc .letter {
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    max-width: 60px;
    min-width: 34px;
    padding: 8px 0;
    margin-bottom: 10px;
    font-size: 1.06667em;
}

.ng-hide {
    display: none !important;
}

.mobile-header__cart-link,
.mobile-header__phone-link,
.header-link {
    color: currentColor;
}

.product-title-mobile {
    font-size: 16px !important;
    padding: 0 14px !important;
}
.details-carousel-item, .details-carousel-item-vertical {
    border: 0.0625rem transparent solid;
    cursor: pointer;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.gallery-photos-item {
    margin: 0 auto !important;
}
.product__head--breadcrumbs {
    padding-bottom: 0 !important;
}
.gallery-picture-labels, .products-view-labels {
    position: absolute;
    top: 7px;
    right: 10px;
    z-index: 2;
}
.gallery-photos-slider--preview {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 20px;
}
