@import "../_defFuncValues.scss";
@import "../_function.scss";


.brand-county-select {
    padding: toEm(10px) 0;
}

.brand-county-name {
    margin-bottom: toEm(10px);
}

/*.brands-title-row {
    display: none;
}*/

.brand-item-inner {
    text-align: center;
}

.brand-item {
    margin-bottom: toEm(15px);
    padding-top: 15px;
}

.row .brand-item:first-child {
    margin-top: toEm(15px);
}

.abc {
    text-align: center;

    .eng {
    }

    .rus {
    }

    .letter {
        border-width: 1px;
        border-style: solid;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        max-width: 60px;
        min-width: 34px;
        padding: 8px 0;
        margin-bottom: 10px;
        font-size: toEm(16px);

        &.all {
            display: block;
            margin: 0 auto toEm(10px) auto;
            text-align: center;
            border-color: transparent;
        }

        &:hover {
            border-color: transparent;
            text-decoration: none;
        }


        &.inactive {
            outline: none;
            color: #d5d3d3;
            display: none;
        }

        &.cs-selected {
            border-color: transparent;
        }
    }

    .letter + .letter {
        margin-left: 1px;
    }
}

.brand-name {
    font-size: 1.375rem;
}

.brand-item .brand-navigation {
    display: none;
}

.eng > .letter:nth-child(2),
.letter.all {
    padding: 8px 0;
    margin-right: 0;
}

.brands-block {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    .mobile-container-fluid {
        padding-left: 16px;
        padding-right: 16px;
    }

    .page-title {
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.brand-navigator-wrap {
    padding-left: 15px;
    padding-right: 15px;
}


.brands-input-search {
    padding-right: 46px;
}

.brands-block-product-wrap {
    .mobile-product-view__item {
        flex-basis: 50%;
        max-width: 50%;
        box-sizing: border-box;
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;

        .products-view-labels {
            position: absolute;
        }
    }

    .mobile-product-view-item-image-block {
        vertical-align: middle;
        margin: 0;
        text-align: center;
        position: relative;
        align-items: center;
    }

    .mobile-prod-info-wrap.prod-text {
        display: block;
        width: 100%;
    }
}