@import "../_defFuncValues.scss";
@import "../_function.scss";

.select-cart {
    width: 70px;
    margin-bottom: toEm(5);

    .good-select-emulate {
        padding-right: toEm(20);
        padding-left: 0;
    }

    .good-select-block {
        width: toEm(60);
    }
}

.cart-amount-error {
    position: relative;
    left: 0;
    transform: none;
}

.cart-full-mobile-coupon {
    input[type='text'] {
        margin-bottom: toEm(10);
    }
}

.cart-full-name-link {
    word-break: break-word;
}

.cart-full-photo-wrap {
    padding-left: 10px;
    padding-right: 10px;
}

.cart-fullcartmessage {
    margin: 0 13px;

    & > * {
        padding: 0.66667em 1em;
        margin: 13px 0;
    }
}

.cart-full-name-column {
    flex-basis: auto;
}

.cart-full-mobile {
    .cart-full-mobile-photo {
        text-align: center;
    }

    .cart-full-mobile-properties-item, .cart-full-mobile-price-title, .cart-full-mobile-cost-title {
        font-size: 12px;
    }
}

.cart-full-mobile-bonus-value {
    white-space: nowrap;
}

.cart-full-mobile-result {
    text-align: right;
}

.cart-full-mobile-remove {
    &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 486.4 486.4'%3E%3Cpath fill='currentColor' d='M446,70H344.8V53.5c0-29.5-24-53.5-53.5-53.5h-96.2c-29.5,0-53.5,24-53.5,53.5V70H40.4c-7.5,0-13.5,6-13.5,13.5 S32.9,97,40.4,97h24.4v317.2c0,39.8,32.4,72.2,72.2,72.2h212.4c39.8,0,72.2-32.4,72.2-72.2V97H446c7.5,0,13.5-6,13.5-13.5 S453.5,70,446,70z M168.6,53.5c0-14.6,11.9-26.5,26.5-26.5h96.2c14.6,0,26.5,11.9,26.5,26.5V70H168.6V53.5z M394.6,414.2 c0,24.9-20.3,45.2-45.2,45.2H137c-24.9,0-45.2-20.3-45.2-45.2V97h302.9v317.2H394.6z'%3E%3C/path%3E%3Cpath fill='currentColor' d='M243.2,411c7.5,0,13.5-6,13.5-13.5V158.9c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v238.5 C229.7,404.9,235.7,411,243.2,411z'%3E%3C/path%3E%3Cpath fill='currentColor' d='M155.1,396.1c7.5,0,13.5-6,13.5-13.5V173.7c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v208.9 C141.6,390.1,147.7,396.1,155.1,396.1z'%3E%3C/path%3E%3Cpath fill='currentColor' d='M331.3,396.1c7.5,0,13.5-6,13.5-13.5V173.7c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v208.9 C317.8,390.1,323.8,396.1,331.3,396.1z'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        content: "";
    }
}

.cart-full-mobile-inputs span {
    bottom: 0;
}

.cart-full-mobile__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.cart-full-mobile__col {
}

.cart-full-mobile__col--right {
    padding-left: 10px;
}

.cart-full-mobile-price__current {
    font-size: 1rem;
}

.cart-full-mobile-coupon {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart-amount-error {
    text-align: left;
    padding-bottom: 0;
}
