@import "../_defFuncValues.scss";
@import "../_function.scss";

.products-view-variants-item {
    display: inline-block;
    vertical-align: middle;
    padding: toEm(9px) toEm(7px);
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 0.3125rem;
}

.products-view-variants-selected {
    color: #61646c;
    border-color: #e2e3e4;
}

.catalog-view-table {
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;

    .cat-cell {
        vertical-align: middle;
        width: 50%;
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding: 5px;
        text-align: center;
        box-sizing: border-box;

        a {
            display: inline;
        }

        .cat-name {
            font-size: toEm(15);
            line-height: toEm(17);
        }

        .goods-count {
            font-size: toEm(15);
            margin-top: toEm(3);
        }
    }

    tr:last-child .cat-cell {
        border: none;
        border-width: 0;
    }
}

.prod-cell {
    text-align: center;
    width: 50%;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 10px;
    vertical-align: top;
    box-sizing: border-box;

    a {
        display: block;
        margin-bottom: toEm(5);
    }

    .prod-photo {
        margin: toEm(5) 0;
        width: auto;
        white-space: nowrap;

        &:after, img {
            display: inline-block;
            vertical-align: middle;
        }

        &:after {
            content: "";
            width: 0;
            height: 100%;
        }
    }

    .prod-name {
        height: 55px;
        overflow: hidden;
        position: relative;

        &:after {
            content: "";
            text-align: right;
            position: absolute;
            height: 13.5px;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 70%);
        }
    }
}

.tiles-table {
    width: 99%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    table-layout: fixed;
}

.catalog-product-item {
    text-decoration: none;
    font-size: .75rem;
    white-space: normal;
    line-height: 1;
    position: relative;
}

.catalog-product-item:hover {
    text-decoration: none;
}

.prod-list-title {
    text-align: center;
}

.tags {
    margin: 0.625rem 1rem;
}

.tags .tag-item.selected {
    padding-right: 1.875rem;
    position: relative;
}

.tags .tag-item {
    padding: 0.625rem;
    border: 1px;
    margin: 0.1875rem 0.1875rem 0 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 0.3125rem;
    text-decoration: none;
    line-height: 1;
    display: inline-block;
    margin-top: 10px;
}

.tags .tag-item .icon-unselect {
    padding: 10px 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.cat-image-wrap {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catalog-filter-footer {
    background-color: inherit;
}

.catalog-product-item {
    border: 0;
}

.catalog-view-table .cat-cell {
    border: 0;
    padding-bottom: 18px;
}

.catalog-view {
    &__product-item-wrap {
        visibility: hidden;
    }

    [class*=products-view-mobile-] &__product-item-wrap {
        visibility: visible;
    }
}


.cat-image-wrap {
    margin-bottom: 10px;
}


.catalog-change {
    text-align: right;
}

.catalog-list {
    margin-bottom: 20px;

    .prod-photo {
        display: none;
    }

    .prod-text {
        width: 100%;
        display: block;
    }

    .prod-name {
        margin-bottom: 0;
        max-height: 100%;
        min-height: 0;
        padding-right: 14px;

        &:after {
            height: auto;
            width: auto;
            content: "\e802";
            font-family: "advantshopfonts";
            background: transparent none;
            top: 50%;
            transform: translateY(-50%);
            bottom: auto;
        }
    }

    .catalog-product-item:first-child {
        border-top-width: 1px;
        border-top-style: solid;
    }

    .catalog-product-item {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding: 13px 16px;
    }
}
