@import "../_defFuncValues.scss";
@import "../_function.scss";

.checkout-page {
    .breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }

    .select-custom {
        width: auto;

        select {
            width: auto;
        }
    }
}

.checkout-confirm-txt {
    font-size: toEm(18px);
    margin: toEm(20px) 0;
    line-height: toEm(18px);
}

.checkout-confirm-number {
    font-size: toEm(30px);
    font-weight: bold;
    margin: toEm(10px) 0;
}

.mobileCheckoutForm {
    margin-top: toEm(15px);
}

.mobileCheckoutForm .form-input-value.input-required {
    display: block;
}

/*Стили оформления заказа*/

.checkout-block-title {
    line-height: 1;
}

.mobile-block .col-xs-7,
.mobile-block .col-xs-5 {
    padding: 0;
}
/*.col-xs-12 .checkout-block {
    padding-bottom: 0;
}*/
.col-xs-12--margin {
    margin-bottom: 10px;
}

.checkout-block {
    padding-bottom: 1rem;
}


.checkout-block .link-dotted-invert {
    display: inline-block;
}
/*#rightCell {
    display: none;
}*/
/*.input-small {
    margin-bottom: 10px;
}*/
.address-list-item {
    padding-right: 10px;
}

.checkout-gift-button {

    .btn {
        padding: 0.6875rem 0.625rem 0.6875rem;
    }
}

.shipping-item-custom-input {
    margin-top: 10px;
}

.checkout-usertype {
    padding-bottom: 0.6rem;

    [type="checkbox"] {
        vertical-align: middle;
    }

    .custom-input-text {
        display: inline;
    }

    .auth-social-link {
        white-space: nowrap;
        display: inline-block;
        margin-top: 5px;
    }
}


.mobile-form-field-control-last {
    margin-top: 5px;
}


.checkout-usertype-label {
    margin-bottom: 5px;
}

.custom-input-checkbox {
    top: 1px;
}

.checkout__button-summary {
    font-size: 12px;
    width: 100%;
    text-transform: uppercase;
}

.checkout-title .main-title {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-top: 7px;
    margin-bottom: 6px;
}

.checkout-gift-button {

    .btn {
        padding: 0.8rem 0.625rem 0.8rem;
    }
}

.checkout-cart-content {
    font-size: 14px;
}

.checkout-shipping__zone {
    margin-bottom: 16px;
}

.checkout-page .select-custom select {
    width: 100%;
}
