
.news-item-title {
    position: relative;
    text-align: left;
}

.news-rss-link {
    font-size: 1.25em;
    position: absolute;
    right: -25px;
    top: -4px;
}

.news-item-title-row {
    margin: 10px 0;
    padding-right: 20px;
}

.news-list-item {
    margin-bottom: 25px;
}

.news-link-title {
    font-weight: bold;
}

.news-list-item .subheader, .news-item .subheader {
    font-size: 12px;
    margin-bottom: 10px;
    padding-left: 5px;
    font-style: italic;
}

/*.news-item-img-col {
    display: none;
}*/

.news-categories {
    margin-bottom: 10px;

    a {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
}

.subscribe-block-text {
    margin: 10px 0;
    text-align: center;
}

.subscribe-block-field {
    margin: 10px 0;
}

.subscribe-block-button-slim {
    margin-bottom: 10px;
}

.vk-news-block {
    display: none;
}

.link-return {
    display: block;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

/*.news-list-item [class^="col-xs"] {
    padding: 0;
}*/
.news-item-r-title {
    font-size: 0.9375rem;
    font-weight: bold;
    text-align: center;
}
.news-product-carousel--mobile {
    padding-left: 34px;
    padding-right: 34px;
}

.news-category-block,
.news-item-block {
    padding-top: 0;
}

.news-rss-link {
    display: none;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.news-item-title-row {
    margin-top: 0;
    /*padding-bottom: 16px;
    padding-top: 16px;*/
    padding-right: 0;

    & h1 {
        font-size: 14px;
        text-align: center;
    }
}

.news-item {
    padding-left: 7px;
    padding-right: 7px;
}

/*.news-item-inner,*/
.news-list-item {
    margin-top: 15px;
}

.news-item-inner {
    .breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }
}