@import "../_defFuncValues.scss";

.properties td {
    padding: 10px 0;
}


.gallery-photos-slider-list-horizontal {
    white-space: nowrap;
}

.details-carousel-item {
    display: inline-block;
    width: 100%;
}

.details-carousel-item, .details-carousel-item-vertical {
    border: 0.0625rem transparent solid;
    cursor: pointer;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
}

.carousel-nav-next, .carousel-nav-prev {
    font-size: toEm(32px);
}

.sizes-viewer-inner {
    display: inline-block;
    min-width: toEm(17px);
    line-height: normal;
    font-family: Arial;
}

.gallery-photos-mobile {
    margin-bottom: toEm(25px);
    overflow: hidden;
}

.product-title-mobile {
    /*padding: toEm(10px, 21px) 0 toEm(20px, 21px);
    text-align: center;*/
    text-align: center;
    margin: 0;
    padding-bottom: 16px;
    padding-top: 16px;
}

.sizes-viewer-header {
    margin-top: toEm(5px);
}

.block-exuding .social-btns {
    padding: 0.9375rem;
}

.block-exuding-row {
    padding: toEm(20px);
    border-radius: 5px;
}

.top-shipping-row {
    font-weight: bold;
    font-size: toEm(14px);
    margin-bottom: toEm(5px);
}

.product-price {
    margin-bottom: toEm(15px);
}

.block-exuding-row .shipping-variants {
    margin: toEm(15px) 0 0 0;
}

.block-exuding-row .form-field-name,
.block-exuding-row .form-field-input {
    font-size: 0.871rem;
}

.shipping-variants-cell {
    font-size: toEm(14px);
}

.color-viewer-block {
    margin-right: 3px;
}

.color-viewer-list {
    margin-bottom: toEm(5px);
}

.gallery-photos-item {
    margin: 0 auto;
}

.bi-time {
    text-align: center;

    .buy-in-time-text {
        text-align: center;
        margin-bottom: toEm(5px);
        font-weight: bold;
    }

    .details-buy-in-time-block {
        margin-bottom: toEm(5px);
        display: inline-block;

        .buy-in-time-text {
            text-align: center;
        }
    }

    .countdown-spliter {
        width: 5%;
    }
}

.custom-options-name, .custom-options-value {
    width: 50%;
}

.color-viewer-header, .sizes-viewer-header {
    font-size: 0.871rem;
    margin: 10px 0;
}

.details-custom-options {
    margin: 5px 0;
}

.custom-input-text {
    margin-bottom: 5px;
    display: inline;
}

.custom-input-text__indent {
    text-indent: 15px;
}

.availability {
    /*display: inline-block;*/
    display: block;
    vertical-align: middle;
    border-radius: toEm(3px);
    color: #fff;
    padding: toEm(5px);
}

.available {
    background-color: #b1cd03;
}

.not-available {
    background-color: #fb6363;
}

.properties-item {
}

.details-availability {
    text-align: center;
    margin: 10px 0;

    .available, .not-available {
        padding: 5px;

        .details-avalable-text, .details-avalable-unit {
            display: inline-block;
        }
    }
}

.details-not-availability {
    margin-top: 5px;

    .not-available {
        padding: 5px;

        .details-avalable-text, .details-avalable-unit {
            display: inline-block;
        }
    }
}

.review-form-block {
    .review-form-header {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: toEm(10px);
    }
}

.prod-reviews-mobile {
    .col-xs-12 {
        padding: 10px 0;
    }

    .form-field-name-alt {
        margin-bottom: 10px;
        display: inline-block;
    }

    .review-form-button {
        margin-top: 10px;
    }
}


.details-payment .price {
    margin: 0;
}

.instead__text-price {
    font-weight: bold;
}

.details-param-name, .details-param-value, .details-param-value-weight, .details-custom-options {
    display: inline;
    font-size: 0.871rem;
}

.gallery-picture-labels {
    display: block;
    text-align: center;
    margin-bottom: 15px;

    .products-view-label {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.gifts-list {
}


.gift-properties {
    display: table;
    padding: 0;
    margin: rem-calc(5px) 0 0;
}

.gift-properties__item {
    display: table-row;
}

.gift-properties__itemName, .gift-properties__itemValue {
    display: table-cell;
    vertical-align: middle;
    padding-right: rem-calc(10px);
    font-size: rem-calc(12px);
}

.product-gift-image {
    margin-top: 10px;

    .gifts-list-container {
        background: white;
        position: relative;
        border-radius: 5px;
        z-index: 1;
    }

    .gifts-list {
        white-space: normal;

        .gift-txt {
            text-align: left;
        }
    }

    .gift-img {
        text-align: center;
    }
}

.mobile-product-main-info {
    padding-left: 12px;
    padding-right: 12px;
}

.first-payment-price {
    order: 2;
    font-size: 14px;
}

.first-payment-note {
    font-size: 12px;
}

.mobile-product__price-block {
    .price-current,
    .price-discount,
    .price-new,
    .price-old,
    .first-payment-price {
        flex-basis: 50%;
        max-width: 50%;
        box-sizing: border-box;
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }
}

.mobile-product__price-block .price-old {
    order: 30;
}

.mobile-product__price-block .price-discount {
    order: 20;
    text-align: right;
}

.mobile-product__price-block {
    .price-block__old-price-title,
    .price-block__old-price,
    .price-block__new-price-title {
        font-weight: normal;
        font-size: 0.871rem;
        padding-left: 0.625rem;
    }
}
.mobile-product-main-info {
    .price-amount-list {
        margin-bottom: 20px;
    }
}

.details-spinbox-block {
    max-width: 130px;
}

.related-product-item .prod-name {
    margin-bottom: 5px;
}

.panel .panel-arrow {
    z-index: -1;
}

.bonus-string-sum--align {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.price.text-instead-of-price {
    font-size: 14px;
}

.product-mfp {

    .mfp-arrow-left:before,
    .mfp-arrow-left:after,
    .mfp-arrow-right:before,
    .mfp-arrow-right:after {
        border: 0;
        font-family: "advantshopfonts";
        font-size: 48px;
        color: #fff;
    }

    .mfp-arrow-left:before {
        content: "\e801";
    }

    .mfp-arrow-right:before {
        content: "\e802";
    }
}

.product-title-mobile {
    font-size: 16px;
    padding: 0 14px;
    /*padding-top: 0;
    padding-bottom: 0;*/
}

.product__back-link {
    margin-bottom: 20px;

    &.back-link {
        position: relative;
        top: auto;
    }
}

.details-rating {
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}

.product-price {
    margin-bottom: 0;
}

.product__info-item {
    margin-bottom: 14px;
}

.product__info {
    margin-bottom: 10px;
}

.product-data {
    margin-bottom: 40px;

    &__header {
        font-size: 21px;
        margin-bottom: 20px;
    }

    &__body {
    }

    .review-form-header {
        font-weight: normal;
        font-size: 21px;
    }
}

.properties-item-name, .properties-item-value, .properties-item-title-name, .properties-item-title-value {
    margin-left: 12px;
    margin-right: 12px;
}

.properties-item-name {
    margin-left: 7px;
}

.properties-item-name,
.properties-item-value {
    font-size: 13px;
}

.properties-item {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
}

.details-payment-item {
    margin-bottom: 12px;
    text-transform: uppercase;
}

.product-related-products {
    .block-head {
        padding: 0;
    }

    .h2 {
        font-size: 20px;
    }

    .products-view-tile {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: flex-start;
    }

    .mobile-product-view-item-image-wrap{
        min-height: 150px;
    }    
    
    .mobile-product-view-item {
        border: 0;
        box-sizing: border-box;
        width: 100%;
        max-width: 150px;
        flex-grow: 1;
        flex-shrink: 0;
        padding: 0.66667em 13px;
        position: relative;
    }
}

.mobile-product__price-block {
    align-items: center;

    .price-current,
    .price-new,
    .first-payment-price, .price-old, .price-discount {
        padding-right: 0;
    }

    .price-discount {
        text-align: left;
    }

    .price-current,
    .price-new,
    .first-payment-price {
        flex-basis: 100%;
        max-width: 100%;
    }

    .price-old, .price-discount {
        flex-basis: 0;
        max-width: 100%;
        flex-shrink: 1;
        white-space: nowrap;
    }

    .price-old {
        order: -30;
    }

    .price-discount {
        order: -20;
    }
}

.bonus-string-sum--top {
    margin-top: 0;
    height: auto;
}

.bonus-string-sum--align {
    display: block;
}

.custom-input-native {
    display: inline-block;
    vertical-align: middle;
}

.custom-input-text {
    vertical-align: middle;
    margin-bottom: 0;
}

.details-carousel-item--preview {
    border-width: 2px;
    border-style: solid;
    min-width: 17%;
    width: 17%;
}

.gallery-photos-slider--preview {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 20px;

    &.carousel-nav-not-show {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.product-carousel-select--preview {
    border-radius: 0.3125rem;
}

.gallery-photos-slider {
    display: flex;
    align-items: center;
}

.details-carousel-hidden {
    opacity: 0;
}

.details-carousel-preview--loading {
    .details-carousel__item--hidden-onload {
        opacity: 0;
    }
}

.availability.not-available {
    display: block;
    max-width: 218px;

    & > div {
        display: inline;
    }
}

.details-rating .notify-wrap {
    /*max-width: 66%;*/
    width: auto;
}

.details-rating-wrap {
    flex-shrink: 1;

    .details-rating {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .notify-wrap {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.products-view.products-view-tile .prod-text {
    width: 100%;
}

.first-payment-note {
    display: none;
}

.mobile-product-main-info {
    padding-left: 16px;
    padding-right: 16px;

    .price-old,
    .price-new,
    .price-discount,
    .bonus-string-sum,
    .details-rating {
        margin-bottom: 5px;
    }
}

.product-related-products {
    padding-left: 16px;
    padding-right: 16px;
}

.details-brand {
}

.buy-on-credit-btn {
    font-size: 14px;
}

.products-view-buy {
    padding-left: 0.625rem;

    &:before {
        display: none;
    }
}

.gallery-photos-item {
    position: relative;
    display: block;
    /*display: inline-block;*/
}

.product-mfp {

    .mfp-arrow-left:before,
    .mfp-arrow-left:after,
    .mfp-arrow-right:before,
    .mfp-arrow-right:after {
        border: 0;
        font-family: "advantshopfonts";
        font-size: 48px;
        color: #fff;
    }

    .mfp-arrow-left:before {
        content: "\e801";
    }

    .mfp-arrow-right:before {
        content: "\e802";
    }
}

.gallery-picture-labels .products-view-label {
    display: block;
}

.gallery-picture-labels {
    position: absolute;
    top: 7px;
    right: 10px;
    z-index: 2;
    pointer-events: none;
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;*/
}

.gallery-photos-slider__wrap {
    position: relative;
}

.product-videos-in-modal {
    display: flex;
    justify-content: center;

    .products-view-video-wrap {
        flex-grow: 1;
    }
}

.modal-product-video {
    width: 100%;

    .carousel-inner {
        margin: 0 auto;
    }
}

.carousel-product-video-in-modal:not(.carousel-nav-not-show) {
    padding: 0 25px;
}
.video-name,
.video-description {
    font-size: 13px;
    line-height: 1.5;
    white-space:normal;
}
.video-name,{
    font-size: 18px;
}
.products-view-video-wrap {
    /*margin-bottom: 40px;*/
    margin-bottom: 18px;

    .video-description {
        margin-top: 10px;
    }

    .video-embed {
        margin-top: 15px;
    }

    .embed-container {
        position: static;
        padding-bottom: 0;
    }
}


.details-payment {
    padding: 0;
    border-width: 0;
}

.details-payment-item {
    padding-left: 0;
}

/* Rotate Photo in product*/
#modalProductRotate {
    .modal-product-rotate-header-wrap {
        padding: 0;
    } 
    
    figure.details-rotate {
        margin: 0;
    }
}


.product-view-mobile-list__item .text-instead-of-price {
    text-align: left;
}
.details-carousel--preview{
    display: flex;
}
