.staticpage-title {
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;

    & > h1 {
        font-size: 14px;
    }
}
.contacts-phone{
    font-size: 18px;
}

.root-staticPage-custom {
    .breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }
}