
.wishlist-page{
    width:100%;
}

.wishlist-page__productview {
    .mobile-product-view__item {
        flex-basis: 50%;
        max-width: 50%;
        box-sizing: border-box;
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;

        .products-view-labels {
            position: absolute;
        }
    }

    .mobile-product-view-item-image-block {
        vertical-align: middle;
        margin: 0 4% 0 0;
        text-align: center;
        position: relative;
        align-items: center;
    }

    .mobile-prod-info-wrap.prod-text {
        display: block;
        width: 100%;
    }
}
