@model BlockModel
@{ 
    bool renderSocials = Model.Block.ExistSocials();
}

<footer class="container-fluid">
    <div class="lp-container">
        <div class="row between-xs start-md middle-xs lp-font-size--middle">
            <div class="col-xs-12 col-md">
                <div class="lp-footer-simple__text" data-e2e="footerDarkText1">
                    @Html.SubBlock(Model, "text")
                </div>
            </div>
            <div class="col-xs-12 col-md-slim">
                <div class="row middle-xs center-xs start-md">
                    <div class="col--only-pad hidden-xs visible-md lp-h3--color lp-footer-social__copyright" data-e2e="footerDarkText2">
                        @Html.SubBlock(Model, "text2")
                    </div>

                    @if (renderSocials)
                    {
                        <div class="col--only-pad lp-footer-social__social-items">
                            @Html.Partial("_Socials", Model.Block)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</footer>

