<div>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.ProductSelect.ProductSelection'|translate}}</h2>
    </div>
    <div class="modal-body">
        <products-selectvizr selectvizr-tree-url="ctrl.selectvizrTreeUrl"
                             selectvizr-grid-url="ctrl.selectvizrGridUrl"

                             selectvizr-grid-inplace-url="ctrl.inplaceProducts"

                             selectvizr-grid-options="ctrl.selectvizrGridOptions"
                             selectvizr-grid-params="ctrl.selectvizrGridParams"
                             selectvizr-grid-items-selected="ctrl.itemsSelected"
                             selectvizr-on-change="ctrl.onChange(categoryId, gridParams)">
        </products-selectvizr>
    </div>
    <!--<div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.select()">{{'Admin.Js.ProductSelection.Select'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.ProductSelection.Cancel'|translate}}</button>
    </div>-->
</div>