.main-cover {
  display: table;
  line-height: 16px;
}

.main-cover .item {
  display: inline-block;
  float: left;
}

.main-title {
  line-height: 16px;
  margin-top: 0;
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 21px;
  display: inline-block;
}

.fa-circle.item {
  color: #9ccc65;
  font-size: 8px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.edit-text {
  font-size: 12px;
  background-color: #ffffff;
  padding: 10px 28px;
  border-bottom: 1px solid #eeeeee;
}

.edit-text .item {
  margin: 0 0 0 13px;
  vertical-align: middle;
}

.edit-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adress_edit {
  display: block;
  width: 100%;
  margin: 10px 0 0;
}

.adress_edit .item {
  display: inline-block;
  margin: 0 1px;
}

.adress_edit .item label {
  width: 100%;
  text-align: left;
}

.adress_edit .item input {
  width: 56px;
  text-align: center;
  margin: 5px 0 0;
}

.adresbtn {
  display: table;
  width: 100%;
  text-align: right;
  margin: 30px 0 0;
}

.adresbtn .btn {
  margin-left: 10px !important;
}

.block-additional-parameters-content--padding-lg {
  padding-right: 30px;
}

.orderstatus-saved {
  font-size: 18px;
  padding: 0 0 15px 0;
}

.order-items-content {
  position: relative;
}

.order-date {
  display: inline-block;
  vertical-align: middle;
  width: 216px;
}

.order-header-item {
  vertical-align: top;
  margin-right: 15px;
}

.order-header-item-select {
  width: 200px;
}

.order-header-item-name {
  min-height: 32px;
  line-height: 32px;
}

.shipping-list .custom-input-radio, .payment-list .custom-input-radio {
  margin-right: 8px;
}

.order-discount {
  color: #f00;
}

.order-header-item-single {
  margin-top: 7px;
}

.order-items-summary-col-value {
  flex-basis: 140px;
}

.order-modal-descr {
  font-style: italic;
}

.order-modal-descr .payment-details-item {
  width: 200px;
  display: inline-block;
}

.shipping-item-title, .shipping-item-description, .payment-item-title, .payment-item-description {
  font-size: 13px;
}

.order-avalable {
  color: green;
}

.order-notavalable {
  color: red;
}

.order-shipping-modal-content {
  min-height: 350px;
}

.select-buttom-in-logs {
  opacity: 0.5;
  pointer-events: none;
}

.link-back-logs:hover {
  cursor: pointer;
}

.ui-grid-cell-contents-order-items {
  flex-direction: column;
  justify-content: center;
}

.ui-grid-cell-contents-order-items div {
  padding: 0 0 3px 0;
}

.order-history-parameter {
  flex-direction: column;
  justify-content: center;
}

.order-history-param-descr {
  color: #c3c3c3;
}

.order-item-not-enabled {
  color: #a0a0a0;
}

/*order number in grid*/
.order-grid {
  counter-reset: ordernumber;
}

.ui-grid-row {
  counter-increment: ordernumber;
}

.order-grid__css-counter:before {
  content: counter(ordernumber);
  display: inline;
}

.order__subblock-title {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
}

.order-note-color {
  color: #989a9b;
}

.order-shipping__popover {
  margin-left: -11px;
}

.order-panel__left {
  min-width: 460px;
}

.order-panel__right {
  max-width: 260px;
}

@media (min-width: 1332px) {
  .order-panel__right {
    max-width: 100%;
  }
}
.customer-fullname {
  font-size: 1.1rem;
}

.order-change-modal-link, .order-change-modal-link:focus {
  text-decoration: none;
  border-bottom: 1px dashed;
}

.order-change-modal-link:hover {
  border-bottom: none;
}

.order__main {
  max-width: calc(100% - 305px);
  flex-basis: calc(100% - 305px);
  flex-shrink: 0;
  flex-grow: 0;
}

.order__aside {
  max-width: 305px;
  flex-basis: 305px;
  flex-shrink: 0;
  flex-grow: 0;
}