<div class="m-b-sm">
    <div class="flex between-xs inline">
        <h1 class="page-name-block-text">
            Услуги
        </h1>
    </div>
    <ui-modal-trigger class="pull-right" size="xs-11" data-controller="'ModalBookingServicesSelectvizrCtrl'" data-controller-as="ctrl"
                      data-resolve="{params:{affiliateId: $ctrl.affiliateId}}"
                      data-on-close="$ctrl.addServicesModal(result)"
                      template-url="../areas/admin/content/src/_shared/modal/bookingServicesSelectvizr/bookingServicesSelectvizr.html"
                      ng-if="!$ctrl.readonly">
        <button class="btn btn-sm btn-success" type="button"
                disabled ng-disabled="!$ctrl.gridServicesInited">
            <span class="fa fa-plus"></span>
            {{'Admin.Js.ListBookingUserServices.Add'|translate}}
        </button>
    </ui-modal-trigger>
</div>

<div>
    <ui-grid-custom grid-unique-id="gridReservationResourceServices"
                    grid-row-identificator="'Id'"
                    grid-url="'bookingService/getServices'"
                    grid-options="$ctrl.gridServicesOptions"
                    grid-params="{categoryFilterId : 0, affiliateId: $ctrl.affiliateId, reservationResourceId: $ctrl.reservationResourceId}"
                    grid-on-init="$ctrl.gridServicesOnInit(grid)"
                    grid-search-placeholder="'Поиск по наименованию'"
                    grid-extend-ctrl="$ctrl">
    </ui-grid-custom>
</div>