<div class="product-pic-list" id="offersForLanding">
    <div class="sortable-row" ng-model="$ctrl.offers" as-sortable>
        <div class="product-pic-list-item"
             data-ng-repeat="item in $ctrl.offers"
             data-as-sortable-item>
            <div as-sortable-item-handle>
                <div class="product-block">
                    <div>
                        <div class="product-block-content">
                            <figure class="product-block-figure">
                                <div class="product-block-figure-link">
                                    <button class="link-invert link-decoration-none fas fa-times btn-invisible pull-right" type="button" ng-click="$ctrl.removeItem(item)"></button>
                                    <img ng-src="{{item.ImgSrc}}" class="product-block-figure-img" alt="{{item.Name}}" style="max-width: 130px; max-height: 130px" />
                                </div>
                            </figure>

                        </div>
                    </div>
                    <div class="product-block-state clearfix" no-drag>
                        <div class="pull-right picture-hover-effect">
                            <ui-modal-trigger size="xs-11"
                                              data-controller="'ModalOffersSelectvizrCtrl'"
                                              data-controller-as="ctrl"
                                              data-resolve="$ctrl.settingsSelectvizr"
                                              data-on-close="$ctrl.onClose({result:result})"
                                              template-url="../areas/admin/content/src/_shared/modal/offers-selectvizr/offersSelectvizrModal.html">
                                <a class="link-invert  link-decoration-none pic-hover-color fas fa-pencil-alt categories-block-icon" href=""></a>
                            </ui-modal-trigger>
                        </div>
                    </div>
                </div>
                <div class="text-danger text-center" ng-if="!item.Enabled">(не активен)</div>
                <div class="text-center" style="overflow: hidden;text-overflow: ellipsis; white-space: nowrap;">{{item.Name}}</div>
            </div>
        </div>
        <div class="product-pic-list-item pointer" no-drag>
            <ui-modal-trigger size="xs-11"
                              data-controller="'ModalOffersSelectvizrCtrl'"
                              data-controller-as="ctrl"
                              data-resolve="$ctrl.settingsSelectvizr"
                              data-on-close="$ctrl.onClose({result:result})"
                              template-url="../areas/admin/content/src/_shared/modal/offers-selectvizr/offersSelectvizrModal.html">
                <div class="product-block">
                    <div class="product-block-content product-block-content--max-height">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve" width="61px" height="61px">
                            <polygon points="42,19 23,19 23,0 19,0 19,19 0,19 0,23 19,23 19,42 23,42 23,23 42,23 " fill="#eaeced" />
                        </svg>
                    </div>
                </div>
            </ui-modal-trigger>
        </div>
    </div>
</div>

