.kanban-column-wrap {
    background-color: #fff;
    max-height: 100%;
    height: 100%;
    padding: 11px;
    padding-top: 0;
    min-height: 500px;
    border-top-width: 3px;
    border-top-style: solid;
}

.kanban-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.kanban-column-header {
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: #fff;
    z-index: 5;
}

.leads-kanban .kanban-column-header {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.kanban-column-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #676a6c !important;
}

.kanban-column-header__name {
    position: relative;
}

.kanban-column-header__total {
    padding-left: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    white-space: nowrap;
}

.kanban-column-header-child {
}

.kanban-column-header-child__name {
    flex-shrink: 1;
}

.kanban-column-header-child__name-ellipse {
    overflow: hidden;
    height: 17px;
}

.kanban-column-header__count {
}

.kanban-task {
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    border-top: 3px solid;
    min-height: 84px; /*130px;*/
    box-sizing: border-box;
    /*padding: 10px;*/
    margin-bottom: 11px;
    background-color: #fff;
}

.kanban-task-content {
    width: calc(100% - 30px);
    padding-right: 10px;
}
/*.kanban-column .kanban-task:last-child {
    margin-bottom: 0;
}*/

.kanban-column-new .kanban-column-header-new {
    color: #8bc34a;
}

.kanban-column-inprogress .kanban-column-header-inprogress {
    color: #78909c;
}

.kanban-column-done .kanban-column-header-done {
    color: #b0bec5;
}

.kanban-column-deferred .kanban-column-header-deferred {
    color: #f44336;
}

.kanban-column-new .kanban-task {
    border-top-color: #8bc34a;
}

.kanban-column-inprogress .kanban-task {
    border-top-color: #78909c;
}

.kanban-column-done .kanban-task {
    border-top-color: #b0bec5;
}

.kanban-column-deferred .kanban-task {
    border-top-color: #f44336;
}

.kanban-task-header {
    margin-bottom: 10px;
}

.kanban-lead-title {
    font-family: 'OpenSans';
    font-weight: normal;
}

.kanban-task-priority {
    text-align: center;
    flex-shrink: 0;
    width: 40px;
    height: 20px;
}

.kanban-task-avatar {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

    .kanban-task-avatar > img {
        border-radius: 50%;
    }

.kanban-btn {
    font-family: 'OpenSans';
    font-weight: 700;
    height: 41px;
    display: block;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    width: 100%;
    box-sizing: border-box;
    margin-top: 11px;
    font-size: 12px;
}

.kanban__not-tasks {
    padding-top: 30px;
}

.kanban__placeholder {
    margin-bottom: 11px;
    background-color: #dbdcde;
}

.kanban-task-text {
    text-decoration: none;
    color: #000;
}

    .kanban-task-text:hover {
        text-decoration: underline;
        color: #288dd2;
    }

.kanbam-task-name-project {
    font-size: 11px;
    overflow-wrap: break-word; /* не поддерживает IE, Firefox; является копией word-wrap */
    word-wrap: break-word;
    word-break: keep-all; /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
    line-break: normal; /* нет поддержки для русского языка */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; /* значение auto не поддерживается Chrome */
}


.kanban-task__info-date {
    font-size: 11px;
    flex-shrink: 0;
}

.kanban-task-wrap {
    height: 100%;
}

.kanban-task-wrap-calc {
    height: calc(100% - 76px);
}

#kanban .as-sortable-item-handle {
    padding: 10px;
}

.kanban-task-wrap div:last-child .kanban-task {
    margin-bottom: 0;
}

.kanban-scrollable {
    display: block;
    position: relative;
    height: calc(100% - 355px);
}

.leads-kanban .kanban-scrollable .kanban-column {
    height: calc(100% - 40px);
}

.kanban-scrollable-activated {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.kanban-scrollable-run {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.kanban-row {
    margin-left: 0;
    margin-right: 0;
}

.kanban-scrollable-activated .kanban-row {
    flex-wrap: nowrap;
}


.kanban-scrollable-activated::-webkit-scrollbar {
    height: 9px;
    width: 9px;
}

.kanban-scrollable-activated::-webkit-scrollbar-button:end:increment,
.kanban-scrollable-activated::-webkit-scrollbar-button:start:decrement {
    background: 0 0;
    display: none;
}

.kanban-scrollable-activated::-webkit-scrollbar-track-piece {
    background: #D6DADC;
}



    .kanban-scrollable-activated::-webkit-scrollbar-track-piece:vertical:start {
        border-radius: 5px 5px 0 0;
    }

    .kanban-scrollable-activated::-webkit-scrollbar-track-piece:vertical:end {
        border-radius: 0 0 5px 5px;
    }


    .kanban-scrollable-activated::-webkit-scrollbar-track-piece:horizontal:start {
        border-radius: 5px 0 0 5px;
    }

    .kanban-scrollable-activated::-webkit-scrollbar-track-piece:horizontal:end {
        border-radius: 0 5px 5px 0;
    }

.kanban-scrollable-activated::-webkit-scrollbar-thumb:horizontal,
.kanban-scrollable-activated::-webkit-scrollbar-thumb:vertical {
    background: #C4C9CC;
    border-radius: 5px;
    display: block;
}

.kanban-skeleton-column {
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
    margin: 0 5px;
}

    .kanban-skeleton-column:first-child {
        margin-left: 0;
    }

    .kanban-skeleton-column:last-child {
        margin-right: 0;
    }

.kanban-column-header__total-marker {
    font-size: 11px;
    font-weight: 500;
    color: #61beea;
    background: #e7f5fc;
    padding: 4px;
    text-align: center;
    border-radius: 10px;
    min-width: 28px;
}

#kanban .price-number,
#kanban .price-currency {
    display: inline;
}

    #kanban .price-number + .price-currency,
    #kanban .price-currency .price-number {
        padding-left: 3px;
    }

.kanban-sortable--disabled .as-sortable-item {
    -ms-touch-action: auto;
    touch-action: auto;
    -webkit-touch-callout: none;
}

.kanban-task-appointed-avatar {
    width: 20px;
    flex-basis: 20px;
    max-width: 20px;
    flex-shrink: 0;
    line-height: 1;
}
.kanban-task-appointed-avatar-image {
    border-radius: 50%;
    flex-shrink: 0;
}
.kanban-task__title{
    flex-grow:1;
}