<div class="relative processing" ng-class="{'booking-processing': $ctrl.isProcessing}">
    <div class="sortable-row" ng-model="$ctrl.items" as-sortable="$ctrl.sortableOptions">
        <div class="row" ng-repeat="item in $ctrl.items" as-sortable-item ng-cloak>
            <div class="col-xs-12">
                <div class="flex payment-row middle-xs between-xs" ng-class="{'disabled-row': (!item.Enabled || ($ctrl.bindingToAffiliate && !item.AffiliateId))}">
                    <div class="flex middle-xs col-xs">
                        <div class="as-sortable-item-handle" as-sortable-item-handle ng-if="item.Id != null">
                            <icon-move />
                        </div>
                        <span class="shipping-text" ng-if="item.Id != null">
                            <a ng-href="bookingcategory/view/{{item.Id}}" ng-if="item.AffiliateId">{{item.Name}}</a>
                            <span ng-if="!item.AffiliateId">{{item.Name}}</span>
                        </span>
                        <span class="shipping-text col-xs-12" ng-if="item.Id == null">
                            <input type="text" class="form-control" ng-model="$ctrl.newName" data-e2e="ListBookingCategoriesName" />
                        </span>
                    </div>
                    <div class="flex middle-xs" ng-if="$ctrl.bindingToAffiliate && item.Id != null">
                        <div class="booking-categories-switcher">
                            <switcher-state on-change="$ctrl.bindToAffiliate(item.Id, checked)" text-off="{{'Admin.Js.BookingCategories.Disable'|translate}}" text-on="{{'Admin.Js.BookingCategories.Enable'|translate}}" checked="item.AffiliateId"></switcher-state>
                        </div>
                    </div>
                    <!--<div class="flex middle-xs col-fixed-size-ls" ng-if="item.Id != null">
                        <a ng-href="bookingcategory/view/{{item.Id}}" ng-if="item.AffiliateId">Отвязать от филиала</a>
                    </div>-->
                    <div class="flex middle-xs col-fixed-size-ls" ng-if="item.Id != null">
                        <ui-modal-trigger data-controller="'ModalAddEditBookingCategoryCtrl'" controller-as="ctrl"
                                          backdrop="static"
                                          template-url="../areas/admin/content/src/bookingCategories/modals/addEditCategory/addEditCategory.html"
                                          data-resolve="{params: {'id': item.Id}}"
                                          data-on-close="$ctrl.fetch()"
                                          data-e2e-booking="BookingCategory"
                                          data-e2e-booking-booking-category-id="{{item.Id}}">
                            <a ng-href="" class="link-invert ui-grid-custom-service-icon fas fa-pencil-alt"></a>
                        </ui-modal-trigger>
                    </div>
                    <div class="flex middle-xs col-fixed-size-ls" ng-if="item.Id != null">
                        <a href="" class="fa fa-times link-invert link-decoration-none" ng-click="$ctrl.deleteItem(item.Id)" data-e2e-crm="ListBookingCategoriesDelete" data-e2e-crm-deal-status-delete-id="{{item.Id}}"></a>
                    </div>
                    <div class="flex middle-xs" ng-if="item.Id == null">
                        <a href="" class="btn btn-sm btn-success" ng-click="$ctrl.addItem()" data-e2e="ListBookingCategoriesAdd" ng-disabled="!$ctrl.newName">
                            <span class="fa fa-plus"></span> {{'Admin.Js.AddEdit.Add'|translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
