<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">Детали транзакции</h2>
    </div>
    <div class="modal-body">
        <h3>Начесления по товарам</h3>
        <div ng-repeat="item in ctrl.data.Details.OrderItemsDetails track by $index">
            <div class="row middle-xs m-b-sm">
                <div class="col-xs-12">
                    <div>
                        <b>{{$index + 1}}. [{{item.ArtNo}}] {{item.Name}}</b>
                    </div>
                    <div>
                        Сумма с учетом скидок: {{item.PriceFormatted}} x {{item.Amount}} = <b>{{item.SumFormatted}}</b>
                    </div>
                    <div>
                        Начислено: <b>{{item.RewardFormatted}}</b>
                        <span ng-if="item.RewardPercent != null">({{item.RewardPercent}}%)</span>
                        <span ng-if="item.CategoryRewardPercent != null">({{item.CategoryRewardPercent}}% - вознаграждение для категории: {{item.CategoryPath}})</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>