@model AdvantShop.Web.Admin.Models.Crm.Leads.LeadsAnalyticsModel

<div class="row">
    <div class="col-xs-12 col-lg-8">
        @Html.Partial("~/Areas//Admin/Views/Leads/Analytics/_Counter.cshtml", Model)
        <div class="ibox">
            <div class="ibox-content">
                <leads-list-chart leads-list-id="@Model.LeadsListId"></leads-list-chart>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-4">
        <div class="ibox">
            <div class="ibox-content">
                <leads-list-sources leads-list-id="@Model.LeadsListId"></leads-list-sources>
            </div>
        </div>
    </div>
</div>



