@import "../../../_common/variables.scss";

.photos-list {
    margin-left: -7px;
    margin-right: -7px;

    .as-sortable-placeholder {
        background-color: #c3c3c3;
    }

    &__item {
        flex-basis: 144px;
        max-width: 144px;
        height: 100px;
        background-color: #fff;
        position: relative;
        border: 1px solid #cccccc;

        &--m-b {
            margin-bottom: 5px;
        }

        & .picture-loader-trigger-image-wrap {
            display: flex;
            height: 100px;
            width: 140px;
            justify-content: center;
            align-items: center;

            span, div {
                height: 100px;
                width: 140px;
            }
        }
    }

    &__item-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: transparent;
        z-index: 40;
    }

    &__item:hover &__item-overlay {
        display: block;
    }

    &__item-name {
        position: relative;
        text-align: center;
        max-height: 35px;
        line-height: 1;
        width: 147px;
        /*text-overflow: ellipsis;*/
        overflow: hidden;
        padding-bottom: 10px;
        box-sizing: border-box;

        &::after {
            content: "";
            height: 10px;
            background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &__item-delete {
        position: absolute;
        right: 8px;
        top: 5px;
        z-index: 41;
        cursor: pointer;
    }

    &__delete {
        background-color: #fff;
        border-radius: 50%;
        border: solid 1px #cccccc;
    }
    /*&__photos-list__delete {
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-content: center;
    }*/
    &__item-wrap {
        padding: 7px;
    }

    &__add {
        cursor: pointer;
        width: 148px;
        height: 100px;
        background-color: #fff;
        border: 1px solid #cccccc;
        box-sizing: border-box;
    }
}