@charset "UTF-8";
/*>480 - смартфоны*/
/*>768 - планшеты*/
/*>1024 - нетбуки, ноутбуки*/
/*>1200 - десктоп*/
/*>1600 - десктоп*/
.photos-list {
  margin-left: -7px;
  margin-right: -7px;
  /*&__photos-list__delete {
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-content: center;
  }*/
}
.photos-list .as-sortable-placeholder {
  background-color: #c3c3c3;
}
.photos-list__item {
  flex-basis: 144px;
  max-width: 144px;
  height: 100px;
  background-color: #fff;
  position: relative;
  border: 1px solid #cccccc;
}
.photos-list__item--m-b {
  margin-bottom: 5px;
}
.photos-list__item .picture-loader-trigger-image-wrap {
  display: flex;
  height: 100px;
  width: 140px;
  justify-content: center;
  align-items: center;
}
.photos-list__item .picture-loader-trigger-image-wrap span, .photos-list__item .picture-loader-trigger-image-wrap div {
  height: 100px;
  width: 140px;
}
.photos-list__item-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  z-index: 40;
}
.photos-list__item:hover .photos-list__item-overlay {
  display: block;
}
.photos-list__item-name {
  position: relative;
  text-align: center;
  max-height: 35px;
  line-height: 1;
  width: 147px;
  /*text-overflow: ellipsis;*/
  overflow: hidden;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.photos-list__item-name::after {
  content: "";
  height: 10px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), white);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.photos-list__item-delete {
  position: absolute;
  right: 8px;
  top: 5px;
  z-index: 41;
  cursor: pointer;
}
.photos-list__delete {
  background-color: #fff;
  border-radius: 50%;
  border: solid 1px #cccccc;
}
.photos-list__item-wrap {
  padding: 7px;
}
.photos-list__add {
  cursor: pointer;
  width: 148px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}