<div>
    <div class="form-group row">
        <div class="col-xs-2">Поле</div>
        <div class="col-xs-10">
            <select ng-model="ctrl.action.EditField" class="form-control"
                    ng-change="ctrl.setParamValues(ctrl.action.EditField)"
                    ng-options="s.name group by s.groupName for s in ctrl.fields track by (s.type + '_' + s.objId)" required
                    validation-input-text="{{'Admin.Js.SettingsTasks.Parameter'|translate}}" data-e2e="EditField">
                <option value="">{{'Admin.Js.SettingsTasks.ItNotSelected'|translate}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">Новое значение</div>
        <div class="col-xs-10">
            <div ng-if="!ctrl.paramValuesEmpty()">
                <div ng-if="!ctrl.isLeadEvent() || ctrl.action.EditField.type != 15">
                    <select ng-model="ctrl.action.EditField.EditFieldValue"
                            ng-options="s.value as s.label for s in ctrl.compareValues"
                            class="form-control">
                        <option value="">{{'Admin.Js.SettingsTasks.ItNotSelected'|translate}}</option>
                    </select>
                </div>

                <div ng-if="ctrl.isLeadEvent() && ctrl.action.EditField.type == 15">
                    <select ng-model="ctrl.action.EditField.EditFieldValue" convert-to-number
                            ng-change="ctrl.changeSalesFunnel(ctrl.action.EditField.EditFieldValue)"
                            ng-options="s.value as s.label for s in ctrl.compareValues"
                            class="form-control">
                        <option value="">{{'Admin.Js.SettingsTasks.ItNotSelected'|translate}}</option>
                    </select>

                    <div class="m-b-xs m-t-sm">Статус</div>
                    <select ng-model="ctrl.action.EditField.DealStatusId" convert-to-number
                            ng-options="s.value as s.label for s in ctrl.dealStatuses"
                            class="form-control"
                            ng-required="ctrl.field != null"
                            validation-input-text="{{'Admin.Js.SettingsTasks.Value'|translate}}"></select>
                </div>
            </div>
            <div ng-if="ctrl.paramValuesEmpty()">
                <div ng-switch="ctrl.field.fieldType">
                    <input ng-switch-when="date" type="text" class="form-control" ng-model="ctrl.action.EditField.EditFieldValue"
                           validation-input-text="{{'Admin.Js.SettingsTasks.Value'|translate}}"
                           ui-mask="99.99.9999"
                           model-view-value="true"
                           placeholder="{{'Admin.Js.SettingsTasks.DDMMYY'|translate}}"/>

                    <select ng-switch-when="checkbox" ng-model="ctrl.action.EditField.EditFieldValue"
                            ng-options="s.value as s.label for s in ctrl.checkboxOptions"
                            class="form-control">
                    </select>

                    <div ng-switch-when="datetime">
                        <input type="text" class="form-control" ng-model="ctrl.action.EditFieldValue"
                               validation-input-text="{{'Admin.Js.SettingsTasks.Value'|translate}}"
                               ui-mask="99.99.9999 99:99"
                               model-view-value="true"
                               placeholder="{{'Admin.Js.SettingsTasks.DDMMYYHHMM'|translate}}" />
                        <div class="m-b-xs">
                            {{ctrl.isLicense ? "Время сервера" : "Время Московское"}}
                        </div>
                    </div>

                    <input ng-switch-when="number" type="number" class="form-control" ng-model="ctrl.action.EditField.EditFieldValue"
                           validation-input-text="{{'Admin.Js.SettingsTasks.Value'|translate}}" />

                    <input ng-switch-default type="text" class="form-control" ng-model="ctrl.action.EditField.EditFieldValue" />
                </div>
            </div>
        </div>
    </div>
</div>