@import '../../../../Content/styles/_variable.scss';

$link: #2d9cee;
$link-hover: #676a6c;

$link-alt: #bdc3c7;
$link-alt-hover: #0084F4;

$link-terna: #1A051D;
$link-terna-hover: #0084F4;

$link-invert: #676a6c;
$link-invert-hover: #0084F4;

a, .link {
    color: $link;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: $link-hover;
        text-decoration: none;
    }
}

.link-invert, .ui-grid-custom-service-icon {
    color: $link-invert;

    &:hover {
        color: $link-invert-hover;
    }
}

.link-decoration-none {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.link-decoration-invert {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.link-disabled {
    color: #ccc;
}

.link-alt {
    color: $link-alt;

    &:hover {
        color: $link-alt-hover;
    }
}

.link-danger {
    color: $link-danger;

    &:hover {
        color: $link-danger-hover;
    }
}

.link-terna {
    color: $link-terna;

    &:hover {
        color: $link-terna-hover;
    }
}
.link-dashed {
    text-decoration: dashed;

    &:hover {
        text-decoration: none;
    }
}