.sidebar {
  top: auto;
  bottom: auto;
  width: 100vw !important;
  border-radius: 4px;
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.sidebar__list--main {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-bottom: 0;
  padding-top: 0px;
}

.sidebar--default .sidebar__list--main,
.sidebar__list--main {
  width: auto;
}

.sidebar--default .sidebar__icon {
  display: block;
}

.sidebar__icon {
  flex-basis: 100%;
  text-align: center;
}

.sidebar__icon--left {
  padding-right: 0;
}

.sidebar__link {
  flex-wrap: wrap;
}
.sidebar__link:hover .sidebar__name {
  text-decoration: none;
}

.sidebar__name {
  white-space: nowrap;
  margin-top: 5px;
  flex-basis: 100%;
  text-align: center;
  font-size: 13px;
}

.sidebar__trigger {
  border-bottom-width: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.sidebar--simple .sidebar__category-item, .sidebar--simple .sidebar__trigger,
.sidebar__trigger {
  padding-left: 16px;
  padding-right: 16px;
}

.sidebar__part-right {
  position: absolute;
  top: 12px;
  right: 0px;
}

.sidebar--compact .sidebar--compact-hidden:not([data-submenu]) {
  visibility: visible;
  width: auto;
  height: auto;
  overflow: visible;
}

.sidebar--compact,
.sidebar--compact:hover {
  width: 100%;
  overflow-x: auto;
}

.sidebar__list:not([data-submenu]),
.sidebar__item-saleschannels {
  display: flex;
}

[data-submenu].show-submenu {
  display: flex !important;
}

.sidebar__item {
  display: flex;
}

.sidebar__category-item,
.sidebar__delimiter,
.sidebar-unit-wrap {
  display: none;
}

.sidebar.sidebar--compact.sidebar--simple .sidebar__list--main {
  width: 100vw;
}

.sidebar.sidebar--compact.sidebar--simple .sidebar__list {
  flex-direction: row;
}

.sidebar__group-item {
  display: flex;
  padding-bottom: 5px;
}

.sidebar--simple .sidebar__list {
  padding-top: 0;
}

.sidebar--simple.sidebar {
  top: auto;
}

.sidebar--simple .sidebar__item--selected {
  border-left-width: 0px;
}
.sidebar--simple .sidebar__item--selected .sidebar__trigger {
  padding-left: 16px;
}