#page-wrapper.page-wrapper--new-dasboard {
    padding: 0px;
}

.nav-tabs {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    margin-bottom: 30px;
}

.ibox .ng-tab > a {
    white-space: nowrap;
    padding: 5px 12px;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    min-width: 80px;
    text-align: center;
}

.nav > .nav-item {
    margin-bottom: 0;
}

.container-bottom-fixed {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.container-wrap:focus-within + .container-bottom-fixed {
    position: relative;
}

.container-wrap {
    min-height: calc(var(--min-full-height) - 83px)
}
