<div class="animated1 bounceInRight1">
    <div ng-switch="ctrl.selectedChannel != null">
        <div class="simple-modal__header between-xs top-xs" ng-switch-when="true">
            <div>
                <div class="flex top-xs">
                    <button type="button" class="simple-modal__back m-r-xs" ng-click="ctrl.backToMenu()">
                        <svg xmlns="http://www.w3.org/2000/svg" style="transform: translateX(-4px) translateY(4px);" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 370.814 370.814">
                            <polygon points="292.92,24.848 268.781,0 77.895,185.401 268.781,370.814 292.92,345.961 127.638,185.401   " fill="#36474f" />
                        </svg>
                    </button>
                    <h1 class="simple-modal__title" ng-bind="'Канал продаж &quot;' + ctrl.selectedChannel.Name + '&quot;' + (ctrl.selectedChannel.IsNew ? ' (новинка)' : '')"></h1>
                </div>
            </div>
            <div>
                <ui-modal-cross></ui-modal-cross>
            </div>
        </div>
        <div ng-switch-default class="simple-modal__header top-xs between-xs">
            <h1 class="simple-modal__title">Добавить канал продаж</h1>
            <ui-modal-cross></ui-modal-cross>
        </div>
    </div>
    <div class="simple-modal__body">
        <div class="sales-channel-wrap" 
                     animation-observer
                     animationend="ctrl.hiddenAnimatedElements(event, 'sales-channel')"
                     animationstart="ctrl.showAnimatedElements(event, 'sales-channel')">
            <section class="card-channel-inner"
                     ng-class="{'modal-left-animation': ctrl.selectedChannel.TypeStr != null, 'modal-right-animation': ctrl.selectedChannel == null}">
                
                <div class="card-channel-cards-wrap">
                    <button ng-repeat="item in ctrl.salesChannelsNotEnabled" ng-click="ctrl.changeSaleChannel($event, item);"
                            type="button" class="card-channel">
                        <div class="row relative">
                            <div class="col-xs-2">
                                <div class="card-channel__icon" ng-bind-html="item.Icon | sanitize"></div>
                            </div>
                            <div class="col-xs-10">
                                <div class="card-channel__tariff" ng-if="item.PlanNameSaasFeatureAvailableFrom != null && item.PlanNameSaasFeatureAvailableFrom.length > 0">
                                    с тарифа {{item.PlanNameSaasFeatureAvailableFrom}}
                                </div>
                                <div class="card-channel__title" ng-bind="item.Name + (item.IsNew ? ' (новинка)' : '')"></div>
                                <div class="card-channel__text" ng-bind="item.Description"></div>
                            </div>
                        </div>
                    </button>

                    <div ng-if="ctrl.salesChannelsEnabled != null && ctrl.salesChannelsEnabled.length > 0">
                        <h3 class="m-t-md m-b">
                            Установленные
                        </h3>
                        <button ng-repeat="item in ctrl.salesChannelsEnabled" ng-click="ctrl.changeSaleChannel($event, item);"
                                type="button" class="card-channel">
                            <div class="row relative">
                                <div class="col-xs-2">
                                    <div class="card-channel__icon" ng-bind-html="item.Icon | sanitize"></div>
                                </div>
                                <div class="col-xs-10">
                                    <div class="card-channel__title" ng-bind="item.Name + (item.IsNew ? ' (новинка)' : '')"></div>
                                    <div class="card-channel__tariff" ng-if="item.PlanNameSaasFeatureAvailableFrom != null && item.PlanNameSaasFeatureAvailableFrom.length > 0">
                                        с тарифа {{item.PlanNameSaasFeatureAvailableFrom}}
                                    </div>
                                    <div class="card-channel__text" ng-bind="item.Description"></div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </section>

            <!-- Внутрення страница -->
            <div >
                <section class="card-channel-details"
                         ng-class="{'animation-right-to-left': ctrl.selectedChannel != null, 'animation-left-to-right': ctrl.selectedChannel == null }">
                    <div class="sales-channel sales-channel--hidden sales-channel--visible">
                        <div class="carousel carousel-sales-funnel-details m-b-sm" >
                            <div class="carousel-inner">
                                <div class="carousel-list"
                                     data-init-on-load="true"
                                     data-load="ctrl.isLoadCarousel"
                                     data-carousel data-dots="true"
                                     data-stretch="false"
                                     data-prev-icon="fa fa-angle-left"
                                     data-next-icon="fa fa-angle-right">
                                    <img ng-if="ctrl.selectedChannel.Details.Images != null && ctrl.selectedChannel.Details.Images.length > 0" 
                                         ng-src="{{image.Src}}" 
                                         alt="{{image.Alt}}" 
                                         ng-repeat="image in ctrl.selectedChannel.Details.Images" />
                                    <iframe id="funnelVideo" ng-if="ctrl.selectedChannel.Details.Videos != null && ctrl.selectedChannel.Details.Videos.length > 0"  
                                            ng-repeat="video in ctrl.selectedChannel.Details.Videos" width="462" height="260" 
                                            ng-init="ctrl.getTrustVideoSrc(video.Src)" ng-src="{{ctrl.urlVideo}}" 
                                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="carousel-nav">
                                <button class="carousel-nav-prev"></button>
                                <button class="carousel-nav-next"></button>
                            </div>
                        </div>
                        <div class="row top-xs">
                            <div class="col-xs-2">
                                <div class="card-channel__icon" ng-bind-html="ctrl.selectedChannel.Icon | sanitize">
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <div class="card-channel__title card-channel__title--font-middle m-b-sm" ng-bind="ctrl.selectedChannel.Details.Title"></div>
                                <div class="card-channel__text" ng-bind-html="ctrl.selectedChannel.Details.Text"></div>
                                <div class="card-channel__title--font-middle m-t" ng-bind-html="ctrl.selectedChannel.Details.PriceString"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="simple-modal__footer" ng-switch="ctrl.selectedChannel != null">

        <div ng-switch-when="true">
            <button type="button" class="btn btn--uppercase btn-success"
                    ng-click="ctrl.addSaleChannel()"
                    ng-if="!ctrl.selectedChannel.Enabled && (ctrl.PlanNameSaasFeatureAvailableFrom == null || ctrl.PlanNameSaasFeatureAvailableFrom.length == 0)"
                    ng-disabled="ctrl.addDisabled">
                Добавить канал
            </button>
            <button type="button" class="btn btn--uppercase btn-success"
                    ng-click="ctrl.removeSaleChannel()"
                    ng-if="ctrl.selectedChannel.Enabled"
                    ng-disabled="ctrl.removeDisabled">
                Удалить канал
            </button>
            <button type="button" class="btn btn-default btn-cancel" ng-click="ctrl.backToMenu()">Отмена</button>
        </div>
        <div ng-switch-default>
            <ui-modal-dismiss>
                <button type="button" class="btn btn-default btn-cancel">Закрыть</button>
            </ui-modal-dismiss>
        </div>

    </div>

</div>