<div class="">
    <div class="header-alt settings-title create-funnel-filter__header sticky-page-name-text sticky-page-name">
        <span class="original-header-page">Задача воронки</span>
    </div>
    <div class="aside-menu">
        <div class="aside-menu-row settigs-menu-row link-invert">
            <div class="aside-menu-inner">
                <div class="aside-menu-name full-width">
                    <label class="adv-checkbox-label pointer block" data-e2e="SalesOfGoods">
                        <input class="adv-checkbox-input" type="checkbox" ng-model="createFunnel.typepb2c" ng-click="createFunnel.filterByType('SalesOfGoods', createFunnel.typepb2c)" />
                        <span class="adv-checkbox-emul"></span>
                        Продажа товара
                    </label>
                </div>
            </div>
        </div>
        <div class="aside-menu-row settigs-menu-row link-invert link-decoration-none">
            <div class="aside-menu-inner">
                <div class="aside-menu-name full-width">
                    <label class="adv-checkbox-label pointer block" data-e2e="SalesOfServices">
                        <input class="adv-checkbox-input" type="checkbox" ng-model="createFunnel.typepb2b" ng-click="createFunnel.filterByType('SalesOfServices', createFunnel.typepb2b)" />
                        <span class="adv-checkbox-emul"></span>
                        Продажа услуги
                    </label>
                </div>
            </div>
        </div>
        <div class="aside-menu-row settigs-menu-row link-invert link-decoration-none">
            <div class="aside-menu-inner">
                <div class="aside-menu-name full-width">
                    <label class="adv-checkbox-label pointer block" data-e2e="LeadGenerator"> 
                        <input class="adv-checkbox-input" type="checkbox" ng-model="createFunnel.typesb2c" ng-click="createFunnel.filterByType('LeadGenerator', createFunnel.typesb2c)" />
                        <span class="adv-checkbox-emul"></span>
                        Генерация лидов
                    </label>
                </div>
            </div>
        </div>
        <div class="aside-menu-row settigs-menu-row link-invert link-decoration-none">
            <div class="aside-menu-inner">
                <div class="aside-menu-name full-width">
                    <label class="adv-checkbox-label pointer block" data-e2e="Event">
                        <input class="adv-checkbox-input" type="checkbox" ng-model="createFunnel.typesb2b" ng-click="createFunnel.filterByType('Event', createFunnel.typesb2b)" />
                        <span class="adv-checkbox-emul"></span>
                        Проведение мероприятия
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>