@charset "UTF-8";
.task-modal-content-new-item {
  min-height: 395px;
  background-color: #fff;
}

.tasks-kanban-column {
  -webkit-flex-basis: calc(33.33333% - 10px);
  -ms-flex-preferred-size: calc(33.33333% - 10px);
  flex-basis: calc(33.33333% - 10px);
  max-width: calc(33.33333% - 10px);
}
.tasks-kanban-column:first-child, .tasks-kanban-column:last-child {
  -webkit-flex-basis: calc(33.33333% - 5px);
  -ms-flex-preferred-size: calc(33.33333% - 5px);
  flex-basis: calc(33.33333% - 5px);
  max-width: calc(33.33333% - 5px);
}

.task-kanban {
  /*.kanban-task__info-date {
      width: 130px;
  }*/
}
.task-kanban .kanbam-task-name-project {
  /*width: calc(100% - 30px - 10px);*/
  /*30px - размер аватарки, 10px - отступ*/
}
.task-kanban .kanban-task__info-user {
  /*width: calc(100% - 130px);*/
}
.task-kanban .kanban-task__info-inner {
  overflow: hidden;
  position: relative;
}
.task-kanban .kanban-task__info-inner::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 75%, white 100%);
}

.task-modal__header {
  min-width: 141px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 0;
}

.task-modal__observe {
  font-size: 20px;
  display: block;
}

.task-modal__observe-active {
  color: #288dd2;
}

.task-modal__observe-submenu {
  padding: 10px;
  min-width: 250px;
}

.task-modal__observe-submenu-title {
  font-size: 13px;
  margin-bottom: 5px;
}