<!--удаляем input после инициализации-->
<div>
    <input type="checkbox" id="sidebarState" class="sidebar-state-menu__input" hidden />
    <sidebars-container class="sidebars-container"></sidebars-container>
</div>