<footer class="site-footer">
    @Html.Action("MenuBottom", "Common")
    <div class="footer-bottom-level cs-bg-3">
        <div class="container container-fluid">
            <div class="footer-bottom-level-wrap">
                <div class="footer-bottom-level-inner">
                    <div class="flex between-xs middle-xs">
                        @Html.Action("Copyright", "Common")
                        @Html.StaticBlock("RightBottom")
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>