<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">Данные для таможенной декларации</h2>
</div>
<div class="modal-body">
    <ui-grid-custom grid-unique-id="gridRussianPostCustomsDeclarationProductData"
                    grid-on-init="ctrl.gridOnInit(grid)"
                    grid-options="ctrl.gridOptions"
                    grid-filter-enabled="false"
                    grid-pagination-enabled="false"
                    grid-selection-enabled="false"
                    grid-extend-ctrl="ctrl">
    </ui-grid-custom>
</div>
<div class="modal-footer">
    <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.save(); ctrl.btnLoading = true" ladda="ctrl.btnLoading">Запомнить и отправить</button>
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
</div>
