<div style="max-width: 850px">
    <div class="ibox float-e-margins">
        <div class="ibox-content sources-orders-block p-l-n">
            <h3 class="sources-orders">Методы оплаты</h3>

            <div ng-repeat="payment in $ctrl.PaymentMethods">
                <div>
                    <span ng-if="!$ctrl.showBookingsFn">{{payment.Name}}</span>
                    <a ng-if="$ctrl.showBookingsFn" href="" ng-click="$ctrl.showBookings(payment.Id); $event.preventDefault();">{{payment.Name}}</a>
                    <small class="pull-right source-order-percent">{{payment.BookingsSumFormat}} ({{payment.Percent}}%)</small>
                </div>
                <div class="progress progress-small">
                    <div ng-style="{width: payment.Percent+'%'}" class="progress-bar"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>
