<div>
    <form name="buyoneclickForm" novalidate="novalidate">
        <div data-ng-init="buyOneClickForm.form = buyoneclickForm">
            <div data-ng-switch="buyOneClickForm.success">
                <div data-ng-switch-when="false">
                    <div class="buy-one-click-text" data-ng-bind-html="buyOneClickForm.fields.BuyInOneClickFirstText"></div>
                    <div class="vertical-interval-middle">
                        <label class="row middle-xs" data-ng-if="::buyOneClickForm.fields.IsShowBuyInOneClickName">
                            <span class="col-xs-12 col-md-4">
                                <span class="form-field-name form-field-name-white" data-ng-class="::{'input-required': buyOneClickForm.fields.IsRequiredBuyInOneClickName}" data-ng-bind="::buyOneClickForm.fields.BuyInOneClickName"></span>
                            </span>
                            <span class="col-xs-12 col-md-8">
                                <span class="autocompleter-block form-field-input" data-autocompleter data-field="Value"
                                      data-request-url="{{buyOneClickForm.fields.SuggestFullNameUrl}}" data-template-path="scripts/_common/autocompleter/templates/common.html"
                                      data-max-height-list="buyOneClickForm.fullNameListMaxHeight">
                                    <input type="text" name="buyOneClickFormName" id="buyOneClickFormName" value="" class="input-small cs-t-1" 
                                           data-ng-model="buyOneClickForm.name" data-ng-required="buyOneClickForm.fields.IsRequiredBuyInOneClickName" 
                                           autocomplete="{{buyOneClickForm.fields.UseFullNameSuggestions ? 'new-password' : 'given-name'}}"
                                           data-autocompleter-input data-autocomplete-debounce="400" data-autocompleter-disabled="{{!buyOneClickForm.fields.UseFullNameSuggestions}}" />
                                </span>
                            </span>
                        </label>
                    </div>

                    <div class="vertical-interval-middle" data-ng-if="::buyOneClickForm.fields.IsShowBuyInOneClickEmail">
                        <label class="row middle-xs">
                            <span class="col-xs-12 col-md-4">
                                <span class="form-field-name form-field-name-white" data-ng-class="::{'input-required': buyOneClickForm.fields.IsRequiredBuyInOneClickEmail}" data-ng-bind="::buyOneClickForm.fields.BuyInOneClickEmail"></span>
                            </span>
                            <span class="col-xs-12 col-md-8">
                                <span class="form-field-input">
                                    <input type="email" data-ng-model="buyOneClickForm.email" name="buyOneClickFormEmail" id="buyOneClickFormEmail" value="" class="input-small cs-t-1" data-ng-required="buyOneClickForm.fields.IsRequiredBuyInOneClickEmail" autocomplete="email" />
                                </span>
                            </span>
                        </label>
                    </div>

                    <div class="vertical-interval-middle" data-ng-if="::buyOneClickForm.fields.IsShowBuyInOneClickPhone">
                        <label class="row middle-xs">
                            <span class="col-xs-12 col-md-4">
                                <span class="form-field-name input-required__rel" data-ng-class="::{'input-required': buyOneClickForm.fields.IsRequiredBuyInOneClickPhone}" data-ng-bind="::buyOneClickForm.fields.BuyInOneClickPhone"></span>
                            </span>
                            <span class="col-xs-12 col-md-8">
                                <span class="form-field-input">
                                    <input type="tel"
                                           data-ng-model="buyOneClickForm.phone"
                                           data-mask-control="buyOneClickForm.enablePhoneMask"
                                           data-mask-control-preset="phone"
                                           name="buyOneClickFormPhone"
                                           id="buyOneClickFormPhone"
                                           value=""
                                           class="input-small cs-t-1"
                                           data-ng-required="buyOneClickForm.fields.IsRequiredBuyInOneClickPhone"
                                           data-model-view-value="true"
                                           autocomplete="tel" />
                                </span>
                            </span>
                        </label>
                    </div>

                    <div class="vertical-interval-middle" data-ng-if="::buyOneClickForm.fields.IsShowBuyInOneClickComment">
                        <label class="row middle-xs">
                            <span class="col-xs-12 col-md-4">
                                <span class="form-field-name" data-ng-class="::{'input-required': buyOneClickForm.fields.IsRequiredBuyInOneClickComment}" data-ng-bind="::buyOneClickForm.fields.BuyInOneClickComment"></span>
                            </span>
                            <span class="col-xs-12 col-md-8">
                                <span class="form-field-input">
                                    <textarea class="textarea-small cs-t-1" name="buyOneClickFormComment" data-ng-model="buyOneClickForm.comment" data-ng-required="buyOneClickForm.fields.IsRequiredBuyInOneClickComment" placeholder="{{'Js.BuyOneClick.CommentPlaceholder' | translate}}"></textarea>
                                </span>
                            </span>
                        </label>
                    </div>

                    <div class="vertical-interval-middle" data-ng-if="::buyOneClickForm.fields.IsShowUserAgreementText">
                        <label class="row middle-xs">
                            <span class="col-xs-12 col-md-4">
                                <span class="form-field-name" data-ng-bind-html="::buyOneClickForm.fields.Admin_ContactFields_UserAgreement"></span>
                            </span>
                            <span class="col-xs-12 col-md-8">
                                <span class="form-field-input">
                                    <input type="checkbox" data-ng-model="buyOneClickForm.useragreement" data-ng-init="buyOneClickForm.useragreement = buyOneClickForm.fields.AgreementDefaultChecked" name="buyOneClickUserAgreement" id="buyOneClickUserAgreement" class="custom-input-native input-small required" required />
                                    <span class="custom-input-checkbox"></span>
                                    <span class="vertical-interval-middle" data-ng-bind-html="::buyOneClickForm.fields.UserAgreementText" /> <span class="text-required">*</span>
                                </span>
                            </span>
                        </label>
                    </div>

                    <div class="vertical-interval-middle" data-ng-if="::buyOneClickForm.fields.EnableCaptchaInBuyInOneClick">
                        <label class="row middle-xs">
                            <span class="col-xs-12 col-md-4">
                                <span class="form-field-name" data-ng-bind-html="::buyOneClickForm.fields.CaptchaCode"></span>
                            </span>
                            <span class="col-xs-12 col-md-8">
                                <span class="form-field-input vertical-interval-xsmall" data-bind-html-compile="buyOneClickForm.captchaHtml">
                                </span>
                            </span>
                        </label>
                    </div>

                </div>
                <div data-ng-switch-when="true">
                    <div class="buy-one-click-final-text" data-ng-bind-html="buyOneClickForm.fields.BuyInOneClickFinalText"></div>
                </div>
            </div>
            <div class="buy-one-click-buttons">
                <input class="btn btn-middle btn-confirm" type="button"
                       data-ng-if="buyOneClickForm.success === false"
                       data-ng-value="::buyOneClickForm.fields.BuyInOneClickButtonText"
                       data-ng-disabled="buyOneClickForm.process === true"
                       data-button-validation
                       data-button-validation-success="buyOneClickForm.send()" />
                <a data-ng-if="buyOneClickForm.success && buyOneClickForm.showRedirectButton" class="btn btn-middle btn-action" data-ng-href="{{buyOneClickForm.result.url}}">{{ ::'Js.BuyOneClick.Close' | translate }}</a>
            </div>
        </div>
    </form>
</div>