<div>
    <a class="btn btn-xsmall btn-submit" href="javascript:void(0)" modal-open="{{grastin.modalId}}">{{ ::'Js.ShippingTemplate.SelectPickupPoint' | translate }}</a>
    <div data-ng-bind="grastin.grastinShipping.PickpointAddress"></div>
    <div data-ng-if="grastin.grastinShipping.PickpointAddress == null && grastin.grastinIsSelected" class="shipping-extend-error error-color">
        {{ ::'Js.ShippingTemplate.SelectPickupPointOrDelivery.NotSelected' | translate }}
    </div>
    <input data-ng-if="grastin.grastinIsSelected" class="shipping-extend-input-hidden" type="text" data-ng-model="grastin.grastinShipping.PickpointAddress" required readonly data-validation-input-text="{{ ::'Js.ShippingTemplate.SelectPickupPoint.NotSelected' | translate }}" />
</div>