<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddEditOffer.Title'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">{{'Admin.Js.AddEditOffer.Article'|translate}}</span>
                    </label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-model="ctrl.ArtNo" autofocus required validation-input-text={{'Admin.Js.AddEditOffer.Article'|translate}} data-e2e="AddArtNo" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        {{'Admin.Js.AddEditOffer.Size'|translate}}
                    </label>
                    <div class="col-xs-9">
                        <select class="form-control" ng-model="ctrl.SizeId" ng-options="s.label for s in ctrl.Sizes track by s.value" data-e2e="AddSize"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        {{'Admin.Js.AddEditOffer.Color'|translate}}
                    </label>
                    <div class="col-xs-9">
                        <select class="form-control" ng-model="ctrl.ColorId" ng-options="s.label for s in ctrl.Colors track by s.value" data-e2e="AddColor"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">{{'Admin.Js.AddEditOffer.Price'|translate}}</span>
                    </label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-model="ctrl.BasePrice" required validation-input-text={{'Admin.Js.AddEditOffer.Price'|translate}} data-e2e="AddPrice" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        {{'Admin.Js.AddEditOffer.SupplyPrice'|translate}}
                    </label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-model="ctrl.SupplyPrice" data-e2e="AddSupplyPrice" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">{{'Admin.Js.AddEditOffer.Amount'|translate}}</span>
                    </label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-model="ctrl.Amount" required validation-input-text={{'Admin.Js.AddEditOffer.Amount'|translate}} data-e2e="AddAmount" />
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.useOfferBarCode">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        {{'Admin.Js.AddEditOffer.BarCode'|translate}}
                    </label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" ng-model="ctrl.BarCode" validation-input-float validation-input-text={{'Admin.Js.AddEditOffer.BarCode'|translate}} data-e2e="AddBarCode" />
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.useOfferWeightAndDimensions">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        {{'Admin.Js.AddEditOffer.Weight'|translate}}
                    </label>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" ng-model="ctrl.Weight" validation-input-float validation-input-text={{'Admin.Js.AddEditOffer.Weight'|translate}} data-e2e="AddWeight" />
                    </div>
                    <span>{{'Admin.Js.AddEditOffer.Kg'|translate}}</span>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.useOfferWeightAndDimensions">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        {{'Admin.Js.AddEditOffer.Dimensions'|translate}}
                    </label>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" ng-model="ctrl.Length" validation-input-float validation-input-text={{'Admin.Js.AddEditOffer.Length'|translate}} data-e2e="AddWidth" />
                        <span class="italic sub">{{'Admin.Js.AddEditOffer.Length'|translate}}</span>
                    </div>
                    <div class="dash align-top">-</div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" ng-model="ctrl.Width" validation-input-float validation-input-text={{'Admin.Js.AddEditOffer.Width'|translate}} data-e2e="AddHeight" />
                        <span class="italic sub">{{'Admin.Js.AddEditOffer.Width'|translate}}</span>
                    </div>
                    <div class="dash align-top">-</div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" ng-model="ctrl.Height" validation-input-float validation-input-text={{'Admin.Js.AddEditOffer.Height'|translate}} data-e2e="AddLength" />
                        <span class="italic sub">{{'Admin.Js.AddEditOffer.Height'|translate}}</span>
                    </div>

                    <div class="dash align-top relative">
                        {{'Admin.Js.AddEditOffer.Mm'|translate}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        {{'Admin.Js.AddEditOffer.Main'|translate}}
                    </label>
                    <div class="col-xs-9">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.Main" class="adv-checkbox-input control-checkbox" data-e2e="MainSelect" />
                            <span class="adv-checkbox-emul" data-e2e="MainClick"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation>{{'Admin.Js.AddEdit.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>