<div class="lp-countdown-simple flex center-xs end-sm wSeconds">
    <div class="lp-countdown-simple__item">
        <span class="lp-countdown-simple__item-part" data-ng-bind="countdown.dataTime.days < 10 ? 0 : countdown.dataTime.days.toString().charAt(0)"></span>
        <span class="lp-countdown-simple__item-part" data-ng-bind="countdown.dataTime.days < 10 ? countdown.dataTime.days.toString().charAt(0) : countdown.dataTime.days.toString().charAt(1)"></span>
        <span class="lp-countdown-simple__item-part" ng-if="countdown.dataTime.days > 99" data-ng-bind="countdown.dataTime.days < 10 ? countdown.dataTime.days.toString().charAt(0) : countdown.dataTime.days.toString().charAt(2)"></span>
        <div class="lp-countdown-simple__item-label lp-h2--color">
            <span>{{ ::'Js.Countdown.Days' | translate }}</span>
        </div>
    </div>
    <!--<div class="lp-countdown-simple__spliter">:</div>-->
    <div class="lp-countdown-simple__item lp-countdown-simple__item--indentations">
        <span class="lp-countdown-simple__item-part" data-ng-bind="countdown.dataTime.hours < 10 ? 0 : countdown.dataTime.hours.toString().charAt(0)"></span>
        <span class="lp-countdown-simple__item-part" data-ng-bind="countdown.dataTime.hours < 10 ? countdown.dataTime.hours.toString().charAt(0) : countdown.dataTime.hours.toString().charAt(1)"></span>
        <div class="lp-countdown-simple__item-label lp-h2--color">
            <span>{{ ::'Js.Countdown.Hours' | translate }}</span>
        </div>
    </div>
    <!--<div class="lp-countdown-simple__spliter">:</div>-->
    <div class="lp-countdown-simple__item">
        <span class="lp-countdown-simple__item-part" data-ng-bind="countdown.dataTime.minutes < 10 ? 0 : countdown.dataTime.minutes.toString().charAt(0)"></span>
        <span class="lp-countdown-simple__item-part" data-ng-bind="countdown.dataTime.minutes < 10 ? countdown.dataTime.minutes.toString().charAt(0) : countdown.dataTime.minutes.toString().charAt(1)"></span>
        <div class="lp-countdown-simple__item-label lp-h2--color">
            {{ ::'Js.Countdown.Minutes' | translate }}
        </div>
    </div>
    <!--<div class="lp-countdown-simple__spliter">:</div>-->
    <div class="lp-countdown-simple__item">
        <span class="lp-countdown-simple__item-part" data-ng-bind="countdown.dataTime.seconds < 10 ? 0 : countdown.dataTime.seconds.toString().charAt(0)"></span>
        <span class="lp-countdown-simple__item-part" data-ng-bind="countdown.dataTime.seconds < 10 ? countdown.dataTime.seconds.toString().charAt(0) : countdown.dataTime.seconds.toString().charAt(1)"></span>
        <div class="lp-countdown-simple__item-label lp-h2--color">
            {{ ::'Js.Countdown.Seconds' | translate }}
        </div>
    </div>
</div>