@model BlockModel

<div class="container-fluid">
    <div class="lp-container">
        <div class="row center-xs">
            <div class="@Model.Block.GetWidthInColumnsAsClasses()">
                @if (Model.Block.TryGetSetting("show_title") == true)
                {
                    <div class="lp-h2 lp-h2--color @(Model.Block.TryGetSetting("show_subtitle") == true ? "lp-h2" : "lp-h2--margin-none")">
                        @Html.SubBlock(Model, "title")
                    </div>
                }
                @if (Model.Block.TryGetSetting("show_subtitle") == true)
                {
                    <div class="lp-h3 lp-h3--color lp-h3--margin-none">
                        @Html.SubBlock(Model, "subtitle")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
