<div>
    <a class="btn btn-xsmall btn-submit" href="javascript:void(0)" modal-open="{{sdek.modalId}}">{{ ::'Js.ShippingTemplate.SelectPickupPoint' | translate }}</a>
    <div data-ng-bind="sdek.sdekShipping.PickpointAddress"></div>
    <readmore class="shipping-item-description cs-t-3" data-max-height="30" data-speed="1s" data-ng-if="sdek.sdekShipping.Description">
        <span data-ng-bind-html="sdek.sdekShipping.Description"></span>
    </readmore>
    <div data-ng-if="sdek.sdekShipping.PickpointAddress == null && sdek.sdekIsSelected" class="shipping-extend-error error-color">
        {{ ::'Js.ShippingTemplate.SelectPickupPointOrDelivery.NotSelected' | translate }}
    </div>
    <input data-ng-if="sdek.sdekIsSelected" class="shipping-extend-input-hidden" type="text" data-ng-model="sdek.sdekShipping.PickpointAddress" required readonly data-validation-input-text="{{ ::'Js.ShippingTemplate.SelectPickupPoint.NotSelected' | translate }}" />
</div>