<div>
    <label class="row middle-xs" data-ng-if="addressList.fields.IsShowFirstName === true">
        <span class="col-xs-3">
            <span class="form-field-name vertical-interval-small input-required" data-ng-bind="addressList.fields.CustomerFirstNameField"></span>
        </span>
        <span class="col-xs-9">
            <span class="form-field-input vertical-interval-small">
                <input type="text" data-ng-model="addressList.form.firstName" name="firstName" id="firstName" value="" class="input-small" required />
            </span>
        </span>
    </label>

    <label class="row middle-xs" data-ng-if="addressList.fields.IsShowLastName === true">
        <span class="col-xs-3">
            <span class="form-field-name vertical-interval-small" data-ng-class="{'input-required': addressList.fields.IsRequiredLastName}" data-translate="Js.Address.LastName"></span>
        </span>
        <span class="col-xs-9">
            <span class="form-field-input vertical-interval-small">
                <input type="text" data-ng-model="addressList.form.lastName" name="lastName" id="lastName" value="" class="input-small" data-ng-required="addressList.fields.IsRequiredLastName" />
            </span>
        </span>
    </label>

    <label class="row middle-xs" data-ng-if="addressList.fields.IsShowPatronymic === true">
        <span class="col-xs-3">
            <span class="form-field-name vertical-interval-small" data-ng-class="{'input-required': addressList.fields.IsRequiredPatronymic}" data-translate="Js.Address.Patronymic"></span>
        </span>
        <span class="col-xs-9">
            <span class="form-field-input vertical-interval-small">
                <input type="text" data-ng-model="addressList.form.patronymic" name="patronymic" id="patronymic" value="" class="input-small" data-ng-required="addressList.fields.IsRequiredPatronymic" />
            </span>
        </span>
    </label>

    <label class="row middle-xs" data-ng-if="addressList.fields.IsShowCity === true">
        <span class="col-xs-3">
            <span class="form-field-name vertical-interval-small" data-ng-class="{'input-required': addressList.fields.IsRequiredCity}" data-translate="Js.Address.City"></span>
        </span>
        <span class="col-xs-9">
            <span class="form-field-input vertical-interval-small">
                <span class="autocompleter-block" data-field="Name" data-autocompleter data-request-url="/location/GetCitiesAutocomplete" data-max-height-list="addressList.citiesListMaxHeight"
                      data-template-path="scripts/_common/autocompleter/templates/location.html"
                      data-apply-fn="addressList.processCity(obj, 0)">
                    <input type="text" name="addressCity" id="addressCity" value="" class="input-small"
                           data-ng-model="addressList.form.city" data-ng-required="addressList.fields.IsRequiredCity" data-ng-change="addressList.processCity()"
                           data-autocompleter-input autocomplete="{{addressList.fields.UseAddressSuggestions ? 'new-password' : 'address-level2'}}" maxlength="70" />
                </span>
            </span>
        </span>
    </label>

    <label class="row middle-xs" data-ng-if="addressList.fields.IsShowDistrict === true">
        <span class="col-xs-3">
            <span class="form-field-name vertical-interval-small" data-ng-class="{'input-required': addressList.fields.IsRequiredDistrict}" data-translate="Js.Address.District"></span>
        </span>
        <span class="col-xs-9">
            <span class="form-field-input vertical-interval-small">
                <input type="text" name="addressDistrict" id="addressDistrict" value="" class="input-small"
                        data-ng-model="addressList.form.district" data-ng-required="addressList.fields.IsRequiredDistrict"
                        autocomplete="{{addressList.fields.UseAddressSuggestions ? 'new-password' : 'address-level2'}}" maxlength="70" />
            </span>
        </span>
    </label>

    <label class="row middle-xs" data-ng-if="addressList.fields.IsShowState === true">
        <span class="col-xs-3">
            <span class="form-field-name vertical-interval-small" data-ng-class="{'input-required': addressList.fields.IsRequiredState}" data-translate="Js.Address.Region"></span>
        </span>
        <span class="col-xs-9">
            <span class="form-field-input vertical-interval-small">
                <span class="autocompleter-block" data-field="Name" data-autocompleter data-request-url="/location/GetRegionsAutocomplete" data-template-path="scripts/_common/autocompleter/templates/location.html">
                    <input type="text" data-autocompleter-input data-ng-model="addressList.form.region" name="addressState" id="addressState" value="" class="input-small" data-ng-required="addressList.fields.IsRequiredState"
                           autocomplete="{{addressList.fields.UseAddressSuggestions ? 'new-password' : 'address-level1'}}" maxlength="70" />
                </span>
            </span>
        </span>
    </label>

    <label class="row middle-xs" data-ng-if="addressList.fields.IsShowCountry === true">
        <span class="col-xs-3">
            <span class="form-field-name vertical-interval-small" data-ng-class="{'input-required': addressList.fields.IsRequiredCountry}" data-translate="Js.Address.Country"></span>
        </span>
        <span class="col-xs-9">
            <span class="form-field-input vertical-interval-small">
                <span class="select-custom cs-t-4 icon-down-open-after-abs">
                    <select class="cs-bg-2" name="addressCountry" id="addressCountry" data-ng-required="addressList.fields.IsRequiredCountry" 
                            data-ng-model="addressList.form.country" data-ng-on-change="addressList.processCountry()"
                            data-ng-options="countryItem.Name for countryItem in addressList.form.countries"></select>
                </span>
            </span>
        </span>
    </label>

    <label class="row middle-xs" data-ng-if="addressList.fields.IsShowZip === true">
        <span class="col-xs-3">
            <span class="form-field-name vertical-interval-small" data-ng-class="{'input-required': addressList.fields.IsRequiredZip}" data-translate="Js.Address.Zip"></span>
        </span>
        <span class="col-xs-9">
            <span class="form-field-input vertical-interval-small">
                <input type="text" data-ng-model="addressList.form.zip" name="addressZip" id="addressZip" value="" class="input-small" data-ng-required="addressList.fields.IsRequiredZip"
                       autocomplete="{{addressList.fields.UseAddressSuggestions ? 'new-password' : 'postal-code'}}" maxlength="70" />
            </span>
        </span>
    </label>

    <label class="row middle-xs" data-ng-if="!addressList.fields.IsShowFullAddress && addressList.fields.IsShowAddress === true">
        <span class="col-xs-3">
            <span class="form-field-name vertical-interval-small" data-ng-class="{'input-required': addressList.fields.IsRequiredAddress}" data-translate="Js.Address.Address"></span>
        </span>
        <span class="col-xs-9">
            <span class="autocompleter-block form-field-input vertical-interval-small"
                  data-field="Name" data-autocompleter data-min-length="1" data-show-mode="top" data-max-height-list="addressList.addressListMaxHeight"
                  data-request-url="{{addressList.fields.SuggestAddressUrl}}"
                  data-template-path="scripts/_common/autocompleter/templates/location.html" data-apply-fn="addressList.processAddress(obj, 0)"
                  data-params="{city: addressList.form.city, district: addressList.form.district, region: addressList.form.region}">
                <textarea data-ng-model="addressList.form.street" name="addressDetails" id="addressDetails" class="textarea-small"
                          data-ng-required="addressList.fields.IsRequiredAddress" data-ng-change="addressList.processAddress()"
                          data-autocompleter-input data-autocomplete-debounce="400" data-autocompleter-disabled="{{!addressList.fields.UseAddressSuggestions}}"
                          autocomplete="{{addressList.fields.UseAddressSuggestions ? 'new-password' : 'street-address'}}" maxlength="255"></textarea>
            </span>
        </span>
    </label>

    <label class="row middle-xs" data-ng-if="addressList.fields.IsShowFullAddress && addressList.fields.IsShowAddress === true">
        <span class="col-xs-3">
            <span class="form-field-name vertical-interval-small" data-ng-class="{'input-required': addressList.fields.IsRequiredAddress}" data-translate="Js.Address.Street"></span>
        </span>
        <span class="col-xs-9">
            <span class="autocompleter-block form-field-input vertical-interval-small"
                  data-field="Name" data-autocompleter data-min-length="1" data-request-url="{{addressList.fields.SuggestAddressUrl}}"
                  data-template-path="scripts/_common/autocompleter/templates/location.html" data-apply-fn="addressList.processAddress(obj, 0)"
                  data-params="{part: 'Street', city: addressList.form.city, district: addressList.form.district, region: addressList.form.region}">
                <input type="text" data-ng-model="addressList.form.street" name="addressDetails" id="addressDetails" class="input-small"
                       data-ng-required="addressList.fields.IsRequiredAddress" data-ng-change="addressList.processAddress()"
                       data-autocompleter-input data-autocomplete-debounce="400" data-autocompleter-disabled="{{!addressList.fields.UseAddressSuggestions}}"
                       autocomplete="{{addressList.fields.UseAddressSuggestions ? 'new-password' : 'street-address'}}" maxlength="255" />
            </span>
        </span>
    </label>

    <div data-ng-if="addressList.fields.IsShowFullAddress && addressList.fields.IsShowAddress === true">

        <label class="row middle-xs">
            <span class="col-xs-3">
                <span class="form-field-name vertical-interval-small" data-ng-class="{'input-required': addressList.fields.IsRequiredAddress}" data-translate="Js.Address.House"></span>
            </span>
            <span class="col-xs-9">
                <span class="autocompleter-block form-field-input vertical-interval-small"
                      data-field="Name" data-autocompleter data-min-length="1" data-max-height-list="200" data-request-url="{{addressList.fields.SuggestAddressUrl}}"
                      data-template-path="scripts/_common/autocompleter/templates/location.html" data-apply-fn="addressList.processAddress(obj, 0)"
                      data-params="{part: 'House', city: addressList.form.city, district: addressList.form.district, region: addressList.form.region, street: addressList.form.street}">
                    <input type="text" data-ng-model="addressList.form.house" name="addressHouse" id="addressHouse" class="input-small"
                           data-ng-required="addressList.fields.IsRequiredAddress" data-ng-change="addressList.processAddress()"
                           data-autocompleter-input data-autocomplete-debounce="400" data-autocompleter-disabled="{{!addressList.fields.UseAddressSuggestions}}"
                           autocomplete="{{addressList.fields.UseAddressSuggestions ? 'new-password' : 'street-address'}}" maxlength="10" />
                </span>
            </span>
        </label>

        <label class="row middle-xs">
            <span class="col-xs-3">
                <span class="form-field-name vertical-interval-small" data-translate="Js.Address.Apartment"></span>
            </span>
            <span class="col-xs-9">
                <span class="form-field-input vertical-interval-small">
                    <input type="text" data-ng-model="addressList.form.apartment" value="" class="input-small" maxlength="10" />
                </span>
            </span>
        </label>

        <label class="row middle-xs">
            <span class="col-xs-3">
                <span class="form-field-name vertical-interval-small" data-translate="Js.Address.Structure"></span>
            </span>
            <span class="col-xs-9">
                <span class="form-field-input vertical-interval-small">
                    <input type="text" data-ng-model="addressList.form.structure" value="" class="input-small" maxlength="10" />
                </span>
            </span>
        </label>

        <label class="row middle-xs">
            <span class="col-xs-3">
                <span class="form-field-name vertical-interval-small" data-translate="Js.Address.Entrance"></span>
            </span>
            <span class="col-xs-9">
                <span class="form-field-input vertical-interval-small">
                    <input type="text" data-ng-model="addressList.form.entrance" value="" class="input-small" maxlength="10" />
                </span>
            </span>
        </label>

        <label class="row middle-xs">
            <span class="col-xs-3">
                <span class="form-field-name vertical-interval-small" data-translate="Js.Address.Floor"></span>
            </span>
            <span class="col-xs-9">
                <span class="form-field-input vertical-interval-small">
                    <input type="text" data-ng-model="addressList.form.floor" value="" class="input-small" maxlength="10" />
                </span>
            </span>
        </label>
    </div>
</div>