<div>
    <table class="table table-striped">
        <tr>
            <th>{{'Admin.Js.Shared.ActivityActions.Event'|translate}}</th>
            <th style="width: 100px">{{'Admin.Js.Shared.ActivityActions.DateTime'|translate}}</th>
        </tr>
        <tr ng-if="$ctrl.items != null && $ctrl.items.length > 0" data-ng-repeat="item in $ctrl.items track by $index">
            <td>
                <span ng-bind-html="item.EventType"></span> <span ng-bind-html="item.Link"></span>
            </td>
            <td>
                <time datetime="{{item.CreateTime}}" title="{{item.CreateTimeTitle}}">{{item.Time}}</time>
            </td>
        </tr>
        <tr ng-if="$ctrl.items == null || $ctrl.items.length == 0">
            <td colspan="2">{{'Admin.Js.Shared.ActivityActions.NoEntries'|translate}}</td>
        </tr>
    </table>
</div>
