<div>
    <table class="table table-striped">
        <tr>
            <th>{{'Admin.Js.Shared.ActivitySmses.Phone'|translate}}</th>
            <th>{{'Admin.Js.Shared.ActivitySmses.Text'|translate}}</th>
            <th>{{'Admin.Js.Shared.ActivitySmses.Status'|translate}}</th>
            <th>{{'Admin.Js.Shared.ActivitySmses.Date'|translate}}</th>
        </tr>
        <tr ng-if="$ctrl.items != null && $ctrl.items.length > 0" data-ng-repeat="item in $ctrl.items track by $index">
            <td>{{item.Phone}}</td>
            <td>{{item.Body}}</td>
            <td>{{item.Status}}</td>
            <td class="text-right mail-date">{{item.CreateOn}}</td>
        </tr>
        <tr ng-if="$ctrl.items == null || $ctrl.items.length == 0">
            <td colspan="4">{{'Admin.Js.Shared.ActivitySmses.NoEntries'|translate}}</td>
        </tr>
    </table>
</div>
