<div>
    <div class="m-b-sm bold">
        {{'Admin.Js.Shared.ActivityEmails.EmailsSentBySite'|translate}}
    </div>

    <table class="table table-striped">
        <tr ng-if="$ctrl.items != null && $ctrl.items.length > 0" data-ng-repeat="item in $ctrl.items track by $index">
            <td>{{item.EmailAddress}}</td>
            <td>{{item.Subject}}</td>
            <td>{{item.Status}}</td>
            <td class="text-right mail-date">{{item.CreateOn}}</td>
        </tr>
        <tr ng-if="$ctrl.items == null || $ctrl.items.length == 0">
            <td colspan="4">{{'Admin.Js.Shared.ActivityEmails.NoEntries'|translate}}</td>
        </tr>
    </table>
</div>
