<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">Точка доставки</h2>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">{{'Admin.Js.ShippingMethods.Adress'|translate}}</span>
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.point.Address" required validation-input-text="{{'Admin.Js.ShippingMethods.Adress'|translate}}" autofocus />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                Описание
            </label>
            <div class="col-xs-9">
                <textarea class="form-control" ng-model="ctrl.point.Description" rows="2" cols="20" style="height: 100px"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <a href="https://yandex.ru/map-constructor/location-tool/" target="_blank">
                    Координаты
                </a>
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.point.position" ng-pattern="/^(\[)?(\d+(\.\d+)?,[ ]?\d+(\.\d+)?)(\])?$/i" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button data-e2e="ShippingAdd" class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation>{{ctrl.mode === 'add' ? ('Admin.Js.AddEdit.Add'|translate) : ('Admin.Js.AddEdit.Save'|translate)}}</button>
        <button data-e2e="ShippingCancel" class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.ShippingMethods.Cancel'|translate}}</button>
    </div>
</form>