.module-details-title {
    font-size: 24px;
    color: #2f4050;
}

    .module-details-title .module-active, .module-details-title .module-not-active {
        font-size: 18px;
    }

    .module-details-title .module-active {
        color: Green;
    }

    .module-details-title .module-not-active {
        color: red;
    }

.module-details__col {
    width: calc(100% - 200px);
}

.module-details__col .ibox-content div[on-select-batch] {
    margin: -20px -25px;
}

.btn.ui-select-toggle {
    border-radius: 0;
}
