<form novalidate>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.ShowEmail.Title'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal m-r m-l">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="page-name-block-text">{{ctrl.email.Subject}}</h2>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="m-b-xs">{{'Admin.Js.ShowEmail.Title'|translate}} {{ctrl.email.Email}}</div>
                        <div>{{ctrl.email.CreatedFormatted}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <iframe id="emailBody" style="border: none; width: 100%; display: none"></iframe>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.ShowEmail.Close'|translate}}</button>
    </div>
</form>