<form novalidate>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddEditCallComent.Comment'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal m-r m-l">

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <textarea type="text" class="form-control" ng-model="ctrl.text" rows="5"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="submit" button-validation button-validation-success="ctrl.saveComment(); ctrl.btnLoading = true" ladda="ctrl.btnLoading">{{'Admin.Js.AddEdit.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>