@import "../../_common/variables.scss";

.lp-grid__row {
    position: relative;
    flex-wrap: wrap;

    .picture-loader-trigger-image-wrap {
        background-color: #fff;
    }

    &--hover-out {

        .lp-grid__cell-control {
            border-color: transparent;
            background: transparent;

            &.ng-invalid {
                border-color: #f15959;
            }
        }
    }
}

.lp-grid__sub {
    padding-left: 50px;
}

.lp-grid__readonly {
    border-color: transparent;

    &:after {
        display: none;
    }
}

.lp-grid__remove-control {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: solid 1px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.lp-grid__drag,
.lp-grid__remove,
.lp-grid__edit,
.lp-grid__edit--activated-controls {
    box-sizing: border-box;
    text-align: center;
}

.lp-grid__drag {
    flex-basis: 30px;
    max-width: 30px;
}

.lp-grid__remove {
    flex-basis: 42px;
    max-width: 42px;
}

.lp-grid__edit {
    flex-basis: 36px;
    max-width: 36px;
}

.lp-grid__edit--activated-controls {
    flex-basis: 80px;
    max-width: 80px;
}

.lp-grid__edit-controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.lp-grid__edit-controls-item {
    flex-basis: 26px;
    max-width: 26px;
}

.lp-grid-add__column {
    padding-bottom: 15px;
}

.lp-grid-add {
    background: transparent none;
    border: 0;
    color: #3797EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    font-size: 12px;

    &:hover {
        color: lighten(#3797EB, 10%);
    }

    &:active {
        color: lighten(#3797EB, 10%);
    }
}

.lp-grid-add__icon {
    margin-right: 8px;
}

.lp-grid__header {
    font-size: 14px;
    font-weight: bold;
}

.lp-grid__header-input {
    padding-left: 20px;
    display: block;
}

.lp-grid__row--edit-mode-inactive {

    .lp-grid__cell-control {
        pointer-events: none;
        background: transparent;
        border-color: transparent;
    }
}


.lp-grid__cell-control {
    text-overflow: ellipsis;
}

.lp-grid-theme--dark {
    .lp-grid__row--hover {
        background: #e4e4e4;
    }

    &.lp-grid--as-sidebar {
        background: #fbfbfb;
    }

    .lp-grid__row--selection {
        background: #ffffff;
    }
}

.lp-grid--as-sidebar {
    min-height: 100%;
    display: block;
    padding: 20px 8px;
}

.lp-grid__no-photo {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3797eb;
    cursor: pointer;
}

.lp-grid__show-group-input {
    display: none;
}

.lp-grid__show-group-btn-emul {
    cursor: pointer;
}

.lp-grid-ckeditor-modal__form {
    width: 800px;
}

.lp-grid__error {
    color: #d11616;
}

.lp-grid__drag,
.lp-grid__group {
    order: -1;
}

@media #{$viewport-sm} {
    .lp-grid__row {
        flex-wrap: nowrap;
    }
}
