<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">Назначить менеджера</h2>
</div>
<div class="modal-body">
    <div>
        <select class="form-control" ng-model="ctrl.newManagerId" ng-options="s.value as s.label for s in ctrl.managers" data-e2e="leadsAddManager"></select>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.save()" ng-disabled="ctrl.btnSaveDisabled" data-e2e="leadsAddManagerSave">Сохранить</button>
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()" data-e2e="leadsAddManagerCancel">Отмена</button>
</div>