@model AdvantShop.Web.Admin.ViewModels.Shared.Common.BackViewModel

<a class="breadcrumb__link--admin @Model.Classes" href="@Model.Url" @Model.Attributes>
    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M.226 8.543c-.301-.3-.301-.785 0-1.086L7.362.326a1.113 1.113 0 011.575 1.573L2.832 8l6.105 6.1a1.114 1.114 0 01-1.575 1.574L.226 8.544z" fill="currentColor" />
    </svg>@Model.Text
</a>