@model  AdvantShop.Web.Admin.ViewModels.Cms.News.NewsCategoryViewModel


 <div ng-cloak>
     <style type="text/css">
         .news-category-link a{
             text-decoration:underline;
             cursor:pointer;
             color:#2d9cee;
         }
         .news-category-link a:hover{
             text-decoration:none;
             cursor:pointer;
             color:#676a6c;
         }
         .news-category-pointer{
             cursor:pointer;
         }
     </style>
    <div class="sticky-page-name" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text">
                    @Html.Raw(Model.Header)
                </h1>
            </div>
            <div class="page-name-block-item-additional">
                <ui-modal-trigger data-controller="'ModalAddEditNewsCategoryCtrl'" controller-as="ctrl"
                                 template-url="../areas/admin/content/src/newsCategory/modal/addEditNewsCategory/addEditNewsCategpry.html"
                                  data-on-close="newsCategory.grid.fetchData()">
                    <button class="btn btn-sm btn-success btn--margin-left" type="button">
                        <span class="fa fa-plus"></span> @Model.ButtonTextAdd
                    </button>
                </ui-modal-trigger>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <ui-grid-custom grid-unique-id="grid"
                            grid-row-identificator="'NewsCategoryId'"
                            grid-options="newsCategory.gridOptions"
                            grid-on-init="newsCategory.gridOnInit(grid)"
                            grid-url="'NewsCategory/GetNewsCategory'"
                            grid-inplace-url="'NewsCategory/InplaceNewsCategory'"
                            grid-extend-ctrl="newsCategory">
                <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="newsCategory.grid.gridOptions.TotalString">
                </ui-grid-custom-footer>
            </ui-grid-custom>
        </div>
    </div>
</div>