<div ng-if="!$ctrl.templateCustom">
    <div class="lp-container lp-blocks-constructor-buttons-container" ng-switch="$ctrl.blockId == null || $ctrl.blockId === 0">
        <button class="blocks-constructor-btn-confirm" data-e2e="AddBlockBtnBig" type="button" data-ng-click="$ctrl.addBlock()" ng-switch-when="true">Добавить блок</button>
        <div ng-switch-when="false" class="lp-blocks-constructor-buttons">
            <button type="button" class="lp-blocks-constructor-linkico lp-blocks-constructor-add-block" data-e2e="AddBlockBtnSml" title="Добавить новый блок" data-ng-click="$ctrl.addBlock(true, $ctrl.blockId)">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                    <path fill="#fff" d="M14.5 13.5H19v1h-4.5V19h-1v-4.5H9v-1h4.5V9h1v4.5z" />
                </svg>
            </button>
            <button type="button" class="lp-blocks-constructor-linkico lp-blocks-constructor-linkico-settings icon-lp-cog" data-e2e="BlockSettingsBtn" data-ng-if="$ctrl.isShowOptions" title="Настройки блока" data-ng-click="$ctrl.showOptionsBlock()"><span>Настройки</span></button>
            <button type="button" class="lp-blocks-constructor-linkico lp-blocks-constructor-linkico-up" data-e2e="MoveUpBlockBtn" title="Переместить блок вверх" data-ng-click="$ctrl.moveUpBlock()"><span class="icon-lp-up-dir"></span></button>
            <button type="button" class="lp-blocks-constructor-linkico lp-blocks-constructor-linkico-down" data-e2e="MoveDownBlockBtn" title="Переместить блок вниз" data-ng-click="$ctrl.moveDownBlock()"><span class="icon-lp-down-dir"></span></button>
            <button type="button" class="lp-blocks-constructor-linkico lp-blocks-constructor-linkico-delete" data-e2e="DelBlockBtn" title="Удалить блок"
                    sweetalert sweet-options="{title: 'Вы уверены, что хотите удалить блок?', type: 'warning', showCancelButton: true}" 
                    sweet-on-confirm="$ctrl.removeBlock()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="vertical-align: text-bottom;" viewBox="0 0 16 16">
                    <path fill="#222" fill-rule="evenodd" d="M8.89 8.182l3.474 3.475-.707.707-3.475-3.475-3.475 3.475L4 11.657l3.475-3.475L4 4.707 4.707 4l3.475 3.475L11.657 4l.707.707-3.475 3.475z" />
                </svg>
            </button>
        </div>
    </div>

</div>


