<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="blocks-constructor-settings-col--alt">
            <div class="blocks-constructor-row__name">
                Формат счетчика
            </div>
            <div class="blocks-constructor-row__name">
                <span class="blocks-constructor-select">
                    <select data-e2e="TypeCountdown" ng-change="$ctrl.resetEndDate($ctrl.date.selectType)"
                            ng-options="option.name for option in $ctrl.date.types track by option.value"
                            ng-model="$ctrl.date.selectType"></select>
                </span>
            </div>
        </div>
        <div ng-switch="$ctrl.date.selectType.value === 'loop'">
            <div class="blocks-constructor-settings-col--alt" ng-switch-when="true">
                <div class="blocks-constructor-row">
                    <div class="blocks-constructor-row__name">
                        Введите минуты
                    </div>
                    <div>
                        <input type="number" min="0" class="blocks-constructor-input" data-e2e="TimeCountDown" ng-change="$ctrl.changeDate()" required ng-model="$ctrl.date.end_date">
                    </div>
                </div>
            </div>
            <div class="blocks-constructor-settings-col--alt" ng-switch-default>
                <div class="blocks-constructor-row">
                    <div class="blocks-constructor-row__name">
                        Введите дату
                    </div>
                    <div ng-flatpickr
                         fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat:'d.m.Y H:i', wrap: true, enableTime: true}"
                         fp-on-change="$ctrl.changeDate()">
                        <input type="text" 
                               class="blocks-constructor-input" 
                               data-e2e="DateCountdown" 
                               required 
                               ng-flatpickr-input 
                               readonly
                               ng-model="$ctrl.date.end_date">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
