<div ng-form="formSettings">
    <div data-tabs class="tabs tabs-vertical tabs-lp--minimalistic" ng-init="$ctrl.formSettings = formSettings">
        <ul class="tabs-headers row center-xs start-sm">
            <li id="tabHeaderForm" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Поля формы
                </span>
            </li>
            <li id="tabHeaderActions" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Действия после отправки
                        <svg ng-if="$ctrl.formSettingsActions.$invalid && $ctrl.formSettingsActions.$dirty" class="block-constructor-icon-error" 
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" width="16px" height="16px">
                        <path d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172    
                              L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259    
                              c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227    
                              c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554    
                              c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z     
                              M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47    
                              C281.638,399.11,270.06,411.018,256.498,411.018z" fill="currentColor" /></svg>
                </span>
            </li>
            <li id="tabHeaderGoals" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Цели
                </span>
            </li>
            <li id="" ng-repeat="tab in $ctrl.tabs track by $index">

            </li>
            <li id="tabFormSetting_{{$index}}" ng-repeat="tab in $ctrl.tabs track by $index" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    <span ng-bind="tab.header"></span>
                </span>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="tab-content" data-tab-content="tabHeaderForm" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="blocks-constructor-settings-col--left-missing">
                    <div class="blocks-constructor-row">
                        <div class="blocks-constructor-row__name">
                            Заголовок
                        </div>
                        <input class="blocks-constructor-input" data-e2e="SettingsFormTitle" type="text" ng-model="$ctrl.commonOptions.Form.Title" />
                    </div>
                    <div class="blocks-constructor-row">
                        <div class="blocks-constructor-row__name">
                            Подзаголовок
                        </div>
                        <input class="blocks-constructor-input" data-e2e="SettingsFormSubTitle" type="text" ng-model="$ctrl.commonOptions.Form.SubTitle" />
                    </div>
                    <div class="blocks-constructor-row">
                        <div class="blocks-constructor-row__name">
                            Текст кнопки
                        </div>
                        <input class="blocks-constructor-input" data-e2e="FormButtonText" type="text" ng-model="$ctrl.commonOptions.Form.ButtonText" />
                    </div>

                    <div class="blocks-constructor-row" ng-if="!$ctrl.commonOptions.Settings.hide_lead_settings &&
                         ($ctrl.commonOptions.Form.PostAction == 1 || $ctrl.commonOptions.Form.PostAction == 2 || $ctrl.commonOptions.Form.PostAction == 4 || $ctrl.commonOptions.Form.PostAction == 5)">
                        <div class="blocks-constructor-row__name">
                            Список, в который попадет лид
                        </div>
                        <div class="blocks-constructor-select">
                            <select data-e2e="SelectSalesFunnels" ng-model="$ctrl.commonOptions.Form.SalesFunnelId" ng-change="$ctrl.getCrmFields()"
                                    ng-options="item.Id as item.Name for item in $ctrl.commonOptions.SalesFunnels"></select>
                        </div>
                    </div>

                    <lp-grid lp-id="$ctrl.modalData.landingpageId"
                             block-id="$ctrl.modalData.blockId"
                             source="$ctrl.commonOptions.Form.Fields"
                             ng-required="true"
                             data-e2e="FormGrid">
                        <lp-grid-column type="text" field="Title" classes="'col-xs-4'" data-e2e="gridColumnTitle" title="Название"></lp-grid-column>
                        <lp-grid-column type="select" field="TitleCrm" classes="'col-xs-4'" data-e2e="gridColumnTitleCrm" title="Соответствие в CRM" select-data="$ctrl.commonOptions.CrmFields" select-label="Title" select-value="Title" on-change="$ctrl.onChangeCrm(row, col, index)"></lp-grid-column>
                        <lp-grid-column type="checkbox" field="Required" classes="'col-xs'" data-e2e="gridColumnRequired" title="Обязательное поле"></lp-grid-column>
                    </lp-grid>
                    <div class="blocks-constructor-row">
                        <div class="blocks-constructor-row__name">
                            Положение заголовка поля
                        </div>
                        <div class="blocks-constructor-select">
                            <select ng-model="$ctrl.commonOptions.Form.InputTextPosition" convert-to-number disabled-autobind="true" data-e2e="TextPosition">
                                <option value="0">
                                    Внутри поля
                                </option>
                                <option value="1">
                                    Над полем
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="blocks-constructor-row">
                        <label class="blocks-constructor-label" data-e2e="ShowAgreement">
                            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.commonOptions.Form.ShowAgreement" />
                            <span class="blocks-constructor-checkbox"></span>
                            <span class="blocks-constructor-label-text">
                                Показывать соглашение
                            </span>
                        </label>
                    </div>
                    <div class="blocks-constructor-row" ng-if="$ctrl.commonOptions.Form.ShowAgreement">
                        <label class="blocks-constructor-label" data-e2e="AgreementDefaultChecked">
                            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.commonOptions.Form.AgreementDefaultChecked" />
                            <span class="blocks-constructor-checkbox"></span>
                            <span class="blocks-constructor-label-text">
                                Соглашение принято по умолчанию
                            </span>
                        </label>
                    </div>
                    <div class="blocks-constructor-row" ng-if="$ctrl.commonOptions.Form.ShowAgreement">
                        <div class="blocks-constructor-row__name">
                            Текст соглашения
                        </div>
                        <input class="blocks-constructor-input" type="text" data-e2e="AgreementText" ng-model="$ctrl.commonOptions.Form.AgreementText" />
                    </div>
                </div>
            </div>

            <div class="tab-content" data-tab-content="tabHeaderActions" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <ng-form name="formSettingsActions">
                    <div ng-init="$ctrl.formSettingsActions = formSettingsActions" class="blocks-constructor-settings-col--left-missing">
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                Действия после отправки формы
                            </div>
                            <div class="blocks-constructor-select">
                                <select data-e2e="PosFormAction" ng-model="$ctrl.commonOptions.Form.PostAction"
                                        ng-options="item.value as item.label for item in $ctrl.commonOptions.PostActions"></select>
                            </div>
                        </div>

                        <div class="blocks-constructor-row" ng-if="$ctrl.commonOptions.Form.PostAction == 5 && ($ctrl.commonOptions.Form.OfferItems == null || $ctrl.commonOptions.Form.OfferItems.length == 0)">
                            <span class="danger">Не забудьте добавить товар, иначе будет создан пустой заказ!</span>
                        </div>

                        <div class="blocks-constructor-row" ng-if="$ctrl.commonOptions.Form.PostAction == 1">
                            <div class="blocks-constructor-row__name">
                                Текст сообщения
                            </div>
                            <textarea ckeditor class="blocks-constructor-textarea" ng-model="$ctrl.commonOptions.Form.PostMessageText"></textarea>
                        </div>

                        <div ng-if="$ctrl.commonOptions.Form.PostAction == 2 || $ctrl.commonOptions.Form.PostAction == 4">
                            <div class="blocks-constructor-row">
                                <div class="blocks-constructor-row__name">
                                    Ссылка на страницу
                                </div>
                                <div class="blocks-constructor-select">
                                    <select data-e2e="PostMessageRedirect" ng-model="$ctrl.commonOptions.Form.PostMessageRedirectLpId"
                                            ng-options="item.value as item.label for item in $ctrl.commonOptions.PostMessageRedirectLps"></select>
                                </div>
                            </div>

                            <div class="blocks-constructor-row" ng-if="$ctrl.commonOptions.Form.PostMessageRedirectLpId == null">
                                <div class="blocks-constructor-row__name">
                                    URL страницы
                                </div>
                                <input class="blocks-constructor-input" data-e2e="UrlRedirect" type="text" ng-model="$ctrl.commonOptions.Form.PostMessageRedirectUrl" required />
                            </div>
                        </div>

                        <div ng-if="$ctrl.commonOptions.Form.PostAction == 2 || $ctrl.commonOptions.Form.PostAction == 4">
                            <div class="blocks-constructor-row">
                                <label class="blocks-constructor-label" data-e2e="PostMessageRedirectShowMessage">
                                    <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.commonOptions.Form.PostMessageRedirectShowMessage" />
                                    <span class="blocks-constructor-checkbox"></span>
                                    <span class="blocks-constructor-label-text">
                                        Показывать сообщение
                                    </span>
                                </label>
                            </div>

                            <div ng-if="$ctrl.commonOptions.Form.PostMessageRedirectShowMessage">
                                <div class="blocks-constructor-row">
                                    <div class="blocks-constructor-row__name">
                                        Текст сообщения
                                    </div>
                                    <textarea ckeditor class="blocks-constructor-textarea" ng-model="$ctrl.commonOptions.Form.PostMessageText"></textarea>
                                </div>

                                <div class="blocks-constructor-row">
                                    <div class="blocks-constructor-row__name">
                                        Задержка перед переходом на страницу (сек)
                                    </div>
                                    <input class="blocks-constructor-input" data-e2e="Delay" type="text" ng-model="$ctrl.commonOptions.Form.PostMessageRedirectDelay" />
                                </div>
                            </div>
                        </div>

                        <div ng-if="$ctrl.commonOptions.Form.PostAction == 2 || $ctrl.commonOptions.Form.PostAction == 4">
                            <div class="blocks-constructor-row">
                                <label class="blocks-constructor-label" data-e2e="DontSendLead">
                                    <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.commonOptions.Form.DontSendLeadId" />
                                    <span class="blocks-constructor-checkbox"></span>
                                    <span class="blocks-constructor-label-text">
                                        Не передавать данные о лиде на страницу
                                    </span>
                                </label>
                            </div>
                        </div>

                        <div class="blocks-constructor-row" ng-if="$ctrl.commonOptions.Form.PostAction == 4">
                            <div class="blocks-constructor-row__name">
                                Заголовок письма
                            </div>
                            <input class="blocks-constructor-input" type="text" data-e2e="EmailSubject" ng-model="$ctrl.commonOptions.Form.EmailSubject" />
                        </div>

                        <div class="blocks-constructor-row" ng-if="$ctrl.commonOptions.Form.PostAction == 4">
                            <div class="blocks-constructor-row__name">
                                Текст письма
                            </div>
                            <textarea ckeditor ng-model="$ctrl.commonOptions.Form.EmailText"></textarea>
                            <div>
                                Доступны переменные: #NAME#, #PHONE#, #EMAIL#, #COMMENTS#, #CITY#, #COUNTRY#, #REGION#, #ADDITIONALCUSTOMERFIELDS#
                            </div>
                        </div>

                        <div class="blocks-constructor-row" ng-if="$ctrl.commonOptions.Form.PostAction == 4">

                            <div ng-init="$ctrl.getLandingEmailTemplates()" class="blocks-constructor-row">

                                <div ng-if="$ctrl.landingEmailTemplates != null &&  $ctrl.landingEmailTemplates.length > 0">

                                    <div class="blocks-constructor-row__name row">
                                        <div class="col-xs">Письмо</div>
                                        <div class="col-xs-3">Отправлять через, мин</div>
                                        <div class="col-xs-1"></div>
                                    </div>

                                    <div ng-repeat="item in $ctrl.landingEmailTemplates" class="row">
                                        <div class="col-xs">
                                            <a href="" ng-click="$ctrl.addEditLandingEmailTemplate(item.Id)">{{item.Subject}}</a>
                                        </div>
                                        <div class="col-xs-2">{{item.SendingTime}}</div>
                                        <div class="col-xs-1" data-e2e="ItemDel">
                                            <span sweetalert sweet-options="{title: 'Вы уверены, что хотите удалить?', type: 'warning', showCancelButton: true, }" sweet-on-confirm="$ctrl.deleteLandingEmailTemplate(item)">
                                                <span class="lp-grid__remove-control link-service--secondary link-decoration-none" title="Удалить">
                                                    <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <path fill="currentColor" d="M8.8890873,8.18198052 L12.363961,11.6568542 L11.6568542,12.363961 L8.18198052,8.8890873 L4.70710678,12.363961 L4,11.6568542 L7.47487373,8.18198052 L4,4.70710678 L4.70710678,4 L8.18198052,7.47487373 L11.6568542,4 L12.363961,4.70710678 L8.8890873,8.18198052 Z"></path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div>
            <a href="" ng-click="$ctrl.addEditLandingEmailTemplate()">Добавить письмо</a>
        </div>-->
                            <div>
                                <a href="adminv2/triggers" data-e2e="Triggers" target="_blank">Отправка цепочки писем</a>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </div>

            <div class="tab-content" data-tab-content="tabHeaderGoals" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="blocks-constructor-settings-col--left-missing">
                    <block-constructor-goals goals-enabled="true"
                                             ya-metrika-event-name="$ctrl.commonOptions.Form.YaMetrikaEventName"
                                             ga-event-category="$ctrl.commonOptions.Form.GaEventCategory"
                                             ga-event-action="$ctrl.commonOptions.Form.GaEventAction"></block-constructor-goals>
                </div>
            </div>

            <div class="tab-content" data-tab-content="tabFormSetting_{{$index}}" ng-repeat="tab in $ctrl.tabs track by $index" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="blocks-constructor-settings-col--left-missing">
                    <block-constructor-form-settings-placeholder data-scope="tab.scope" data-content="tab.content"></block-constructor-form-settings-placeholder>
                </div>
            </div>
        </div>
    </div>
    <div ng-transclude></div>
</div>
