

<div class="blocks-constructor-settings-col--alt">
    <div class="blocks-constructor-row">
        <div class="blocks-constructor-row__name">
            Заголовок письма
        </div>
        <input type="text" ng-model="modalData.emailData.subject" class="blocks-constructor-input"  data-e2e="SubjectEmail"/>
    </div>

    <div class="blocks-constructor-row">
        <div class="blocks-constructor-row__name">
            Текст письма
        </div>
        <textarea ng-model="modalData.emailData.body" ckeditor></textarea>
    </div>

    <div class="blocks-constructor-row">
        <div class="blocks-constructor-row__name">
            Через сколько минут отсылать
        </div>
        <input type="text" ng-model="modalData.emailData.sendingTime" class="blocks-constructor-input" />
    </div>
</div>