<div class="blocks-constructor-buttons-actions__header blocks-constructor-row__name">
    Яндекс.Метрика
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        Событие
    </div>
    <input class="blocks-constructor-input" data-e2e="YaMetrikaEvent" type="text" ng-model="$ctrl.yaMetrikaEventName" />
</div>

<div class="blocks-constructor-header">
    Google Analytics
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        Категория
    </div>
    <input class="blocks-constructor-input" data-e2e="gaEventCategory" type="text" ng-model="$ctrl.gaEventCategory" />
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        Действие
    </div>
    <input class="blocks-constructor-input" data-e2e="gaEventAction" type="text" ng-model="$ctrl.gaEventAction" />
</div>