<div>
    <div class="ng-cloak" data-ng-hide="cartMFull.cartData === undefined" data-ng-switch="cartMFull.cartData.CartProducts.length > 0"  data-ng-style="{'height' : cartMFull.cartData.CartProducts.length === 0 ? '60vh' : ''}">
        <div data-ng-switch-when="true">
            <div class="cart-full-mobile panel cs-br-1" data-ng-repeat="item in cartMFull.cartData.CartProducts track by $index">
                <div class="cart-full-mobile-photo">
                    <a class="cart-full-mobile-photo-link" href="{{item.Link}}">
                        <img data-ng-src="{{item.PhotoPath}}" alt="{{item.PhotoAlt}}" />
                    </a>
                </div>
                <div class="cart-full-mobile-body">
                    <div class="cart-full-mobile-info">
                        <a data-ng-href="{{item.Link}}" class="cart-full-mobile-name-link cs-l-d-1" data-ng-bind="item.Name"></a>
                        <div class="cart-full-mobile__row middle-xs">
                            <span class="cart-full-mobile__col cart-full-mobile__col--left">
                                <span class="cart-full-mobile-price-title">
                                    {{ ::'Js.Cart.PricePerUnit' | translate }}:
                                </span>
                            </span>
                            <div class="cart-full-mobile__col cart-full-mobile__col--right">
                                <div class="cart-full-mobile-price cart-full-mobile-item-price" ng-switch="item.Discount.HasValue && !item.IsGift">
                                    <div ng-switch-when="true">
                                        <div class="price-old cs-t-3"><span class="price-number" data-ng-bind="item.Price"></span></div>
                                        <div class="cart-full-mobile-price__current" data-ng-bind="item.PriceWithDiscount"></div>
                                        <div class="price-discount">{{::'Js.Cart.Discount' | translate }}: <span data-ng-bind="item.DiscountText"></span></div>
                                    </div>
                                    <div ng-switch-when="false">
                                        <div class="cart-full-mobile-price__current" data-ng-bind="item.PriceWithDiscount"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="cart-full-mobile-item-price" data-ng-bind="(item.Price + '/' + (item.Unit != '' ? item.Unit : '{{ ::'Js.Cart.Pcs' | translate }}'))"></div>-->
                        <ul class="cart-full-mobile-properties" data-ng-if="item.ColorName || item.SizeName || item.SelectedOptions.length > 0">
                            <li class="cart-full-mobile-properties-item flex" data-ng-if="item.ColorName">
                                <span class="cart-full-mobile-properties-name" data-ng-bind="(cartMFull.cartData.ColorHeader + ':&nbsp;')"></span>
                                <span class="cart-full-mobile-properties-value" data-ng-bind="item.ColorName"></span>
                            </li>
                            <li class="cart-full-mobile-properties-item flex" data-ng-if="item.SizeName">
                                <span class="cart-full-mobile-properties-name" data-ng-bind="(cartMFull.cartData.SizeHeader + ':&nbsp;')"></span>
                                <span class="cart-full-mobile-properties-value" data-ng-bind="item.SizeName"></span>
                            </li>
                            <li class="cart-full-mobile-properties-item flex" data-ng-if="item.SelectedOptions.length > 0" data-ng-repeat="option in item.SelectedOptions track by $index">
                                <div class="cart-full-mobile-properties-name" data-ng-bind="(option.CustomOptionTitle + ':&nbsp;')"></div>
                                <div class="cart-full-mobile-properties-value">
                                    <span data-ng-bind="option.OptionTitle"></span>
                                    <span data-ng-bind="option.OptionText"></span>
                                    <span data-ng-bind="option.FormatPrice"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="cart-full-mobile-inputs">
                        <div>
                            <div class="cart-full-amount-control spinbox--mobile" ng-if="!item.FrozenAmount" data-spinbox data-value="item.Amount" data-proxy="item.ShoppingCartItemId" data-update-fn="cartMFull.updateAmount(value, proxy)"
                                 data-step="item.Multiplicity" data-max="item.MaxAmount" data-min="item.MinAmount" data-input-class-size="'input-big'"></div>
                            <div class="cart-full-amount-control" ng-if="item.FrozenAmount" data-ng-bind="item.Amount"></div>
                            <span data-ng-bind="item.Unit"></span>
                        </div>
                        <a href="" data-ng-if="!item.IsGift" data-ng-click="cartMFull.remove(item.ShoppingCartItemId)" class="cart-full-mobile-remove icon-margin-drop icon-cancel-circled-before link-text-decoration-none cs-l-3" title="Удалить"></a>
                    </div>
                    <div class="cart-amount-error-wrap"><div class="cart-amount-error" data-ng-bind="item.Avalible"></div></div>
                    <div class="cart-amount-error-wrap"><div class="cart-amount-error" data-ng-if="item.Avalible == '' && item.AvailableAmount == 0">{{ ::'Js.Cart.PreOrder' | translate }}</div></div>
                    <div class="cart-full-mobile__row">
                        <span class="cart-full-mobile__col cart-full-mobile__col--left">
                            <span class="cart-full-mobile-cost-title">
                                {{ ::'Js.Cart.Cost' | translate }}:
                            </span>
                        </span>
                        <span class="cart-full-mobile__col cart-full-mobile__col--right">
                            <span class="cart-full-mobile-item-cost" data-ng-bind="item.Cost"></span>
                        </span>
                    </div>

                </div>
            </div>

            <div class="panel cs-br-1" data-ng-if="cartMFull.cartData.CouponInputVisible">
                <div class="cart-full-mobile-coupon">
                    <div class="cart-full-mobile-coupon-text">{{ ::(cartMFull.cartData.IsDefaultCustomerGroup ? 'Js.Cart.CouponCode' : 'Js.Cart.CertificateCode') | translate }}</div>
                    <div data-cards-form data-apply-fn="cartMFull.refresh()"></div>
                </div>
            </div>

            <div class="panel no-borders" data-ng-if="cartMFull.cartData.BonusPlus != null">
                <div class="cart-full-bonus">
                    {{ ::'Js.Cart.BonusPlus' | translate }}
                   <span class="cart-full-mobile-bonus-value" data-ng-bind="'+' + cartMFull.cartData.BonusPlus"></span>
                </div>
            </div>
            <!--<div class="panel cs-br-1">
        <label>
            <input class="custom-input-native" type="checkbox" />
            <span class="custom-input-checkbox"></span>
            <span class="custom-input-text"> В кредит за <span>1267 рублей в месяц</span></span>
        </label>
            </div>-->

            <div class="panel cs-br-1 cart-full-mobile-result">
                <div data-ng-if="cartMFull.cartData.TotalProductPrice != null" data-ng-show="cartMFull.cartData.TotalPrice != cartMFull.cartData.TotalProductPrice">
                    <span class="cart-full-mobile-summary-name">
                        {{ ::'Js.Cart.Sum' | translate }}:
                    </span>
                    <span class="cart-full-mobile-summary-price" data-ng-bind="cartMFull.cartData.TotalProductPrice"></span>
                </div>
                <div data-ng-if="cartMFull.cartData.DiscountPrice != null" data-ng-show="cartMFull.cartData.DiscountPrice != null">
                    <span class="cart-full-mobile-summary-name">
                        {{ ::'Js.Cart.Discount' | translate }}:
                    </span>
                    <span class="cart-full-mobile-summary-price" data-ng-bind="cartMFull.cartData.DiscountPrice"></span>
                </div>
                <div data-ng-if="cartMFull.cartData.Certificate != null">
                    <span class="cart-full-mobile-summary-name">
                        {{ ::'Js.Cart.Certificate' | translate }}:
                    </span>
                    <span class="cart-full-mobile-summary-price">
                        <span data-ng-bind="cartMFull.cartData.Certificate"></span>
                        <a href="" data-cards-remove data-type="certificate" data-apply-fn="cartMFull.refresh()"></a>
                    </span>
                </div>
                <div data-ng-if="cartMFull.cartData.Coupon != null">
                    <span class="cart-full-mobile-summary-name">
                        <span data-ng-bind="::'Js.Cart.Coupon' | translate"></span> (<span data-ng-bind="cartMFull.cartData.Coupon.Code"></span>):
                    </span>
                    <span class="cart-full-mobile-summary-price">
                        - <span data-ng-bind="cartMFull.cartData.Coupon.Price"></span>
                        <a href="" data-cards-remove data-type="coupon" data-apply-fn="cartMFull.refresh()"></a>
                    </span>
                </div>
                <div>
                    <span class="cart-full-mobile-result-name">
                        {{ ::'Js.Cart.Total' | translate }}:
                    </span>
                    <span class="cart-full-mobile-result-price" data-ng-bind="cartMFull.cartData.TotalPrice"></span>
                </div>

            </div>

            <div class="cart-full-error panel cs-br-1" data-ng-if="cartMFull.cartData.Valid != ''" data-ng-bind="cartMFull.cartData.Valid">

            </div>
            <div class="cart-full-mobile-buttons" data-ng-if="::cartMFull.cartData.ShowConfirmButtons">
                <div class="container-fluid">

                    <a data-ng-href="{{cartMFull.cartData.Valid == '' ? (cartMFull.cartData.MobileIsFullCheckout ? 'checkout' : 'mobile/checkoutmobile/index') :''}}" data-ng-class="{'btn-disabled': cartMFull.cartData.Valid != ''}"
                       class="btn btn-middle btn-submit btn-expander cart-full-mobile-btn" data-ng-disabled="">{{ ::'Js.Cart.Checkout' | translate }}</a>

                    <button type="button"
                            class="btn btn-middle btn-action btn-block m-t-sm"
                            data-ng-if="cartMFull.cartData.ShowBuyInOneClick && cartMFull.cartData.Valid === ''"
                            data-buy-one-click-trigger data-buy-one-click-modal="modalBuyOneClickInCart">
                        <span data-ng-bind="cartMFull.cartData.BuyInOneClickText"></span>
                        <div id="modalBuyOneClickInCart" class="modal ng-hide"
                             data-modal-control
                             data-modal-class="buy-one-click-dialog"
                             data-callback-close="buyOneClickTrigger.modalCallbackClose(modalScope)">
                            <div data-modal-header class="modal-header">
                                {{ ::'Js.Cart.BuyOneClickHeader' | translate }}
                            </div>
                            <div class="modal-content">
                                <div data-buy-one-click-form="true"
                                     data-form-init="buyOneClickTrigger.formInit(form)"
                                     data-success-fn="buyOneClickTrigger.successFn(result)"
                                     data-order-type="OneClick"
                                     data-page="Cart"
                                     data-enable-phone-mask="cartMFull.cartData.EnablePhoneMask">
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div data-ng-switch-when="false">
            <div class="cart-full-empty">
                {{ ::'Js.Cart.EmptyCart' | translate }}
            </div>
        </div>
    </div>
    
    <div class="cart-full-loading" data-ng-class="cartMFull.cartData !== undefined ? 'ng-hide' : ''">
        <span class="icon-arrows-ccw-before cart-full-loading-text">
            {{ ::'Js.Cart.Loading' | translate }}
        </span>
    </div>
</div>