.block-content {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  display: block;
}

.block-content--padding {
  padding: 16px;
}

.block-content--margin {
  margin-bottom: 24px;
}