.custom-input-decorator {
    position: relative;
    overflow: hidden;

    &__native {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 0;
    }

    &__trigger {
        position: relative;
        z-index: 5;
        display: inline-block;
        vertical-align: middle;
        pointer-events: none;
    }

    &__select {
        display: inline-flex;
        align-items: center;
    }

    &__select-chevron {
    }

    &__select-chevron-icon{
        display: block;
    }
}
