.orders-statuses {
  padding: 0;
  margin: 0 0 30px;
  list-style: none;
}
.orders-statuses__item {
  background: #FFFFFF;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.orders-statuses__item + .orders-statuses__item {
  margin-top: 20px;
}
.orders-statuses__colorcode {
  width: 8px;
  flex-basis: 8px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 4px 0 0 4px;
}
.orders-statuses__name {
  padding: 22px 0 22px 16px;
  flex-grow: 1;
  color: #1A051D;
}
.orders-statuses__count {
  padding: 22px 56px 22px 16px;
  color: #ACAEAF;
}
.orders-statuses__link {
  display: flex;
  text-decoration: none;
}