.page-head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 0;
}

.page-head--sticky {
    position: sticky;
    top: 0;
    background-color: #FAFAFB;
    z-index: 100;
}

.page-head__content {
    flex-grow: 1;
    text-align: center;
}

.page-head__name {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height:1;
}

.page-head__back .breadcrumb__link--admin {
    color: #1A051D;
    font-size: 16px;
    display: flex;
}

.page-head__controls a{
    display: flex;
}
