.product-grid-item__row {
    display: flex;
    align-items: center;
}

.product-grid-item__figure {
    max-width: 100px;
    padding: 14px 0 14px 14px;
}

.product-grid-item__content {
    flex-grow: 1;
    padding: 16px;
}

.product-grid-item__name {
}

.product-grid-item__sku,
.product-grid-item__additional-data,
.product-grid-item__amount {
    font-size: 11px;
}
.product-grid-item__sku,
.product-grid-item__additional-data {
    margin-bottom: 12px;
}

.product-grid-item__cost {
    font-weight: 500;
}
