.statistics-data {
  margin-bottom: 35px;
}
.statistics-data__sum {
  font-weight: bold;
  font-size: 34px;
}
.statistics-data__count, .statistics-data__date {
  color: #ACAEAF;
}
.statistics-data____date-trigger {
  font-weight: bold;
}
.statistics-data__content {
  display: flex;
  align-items: center;
}
.statistics-data__count {
  padding-left: 15px;
}