<?xml version="1.0" encoding="utf-8"?>
<log4net>

  <appender name="Db404Appender" type="AdvantShop.Core.Services.Diagnostics.Db404Appender, AdvantShop.Core">
    <HttpCodeError value="404" />
  </appender>

  <appender name="500FileAppender" type="AdvantShop.Core.Services.Diagnostics.CodeFileAppender, AdvantShop.Core">
    <HttpCodeError value="500" />
    <NotContainsStr value="AdvantShop.Module" />
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="App_Data\errlog\Err500.csv"/>
    <appendToFile value="true" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <layout type="AdvantShop.Core.Services.Diagnostics.AdvErrorActionLayoutPattern, AdvantShop.Core">
      <conversionPattern value="%date{d/M/yyyy H:mm:ss.fff};%-5level;%advobject%newline" />
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="ERROR" />
    </filter>   
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <appender name="400FileAppender" type="AdvantShop.Core.Services.Diagnostics.CodeFileAppender, AdvantShop.Core">
    <HttpCodeError value="400" />
    <NotContainsStr value="AdvantShop.Module" />
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="App_Data\errlog\Err400.csv"/>
    <appendToFile value="true" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <layout type="AdvantShop.Core.Services.Diagnostics.AdvErrorActionLayoutPattern, AdvantShop.Core">
      <conversionPattern value="%date{d/M/yyyy H:mm:ss.fff};%-5level;%advobject%newline" />
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="ERROR" />
    </filter>   
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
   
  <appender name="CommonErrorAppender" type="AdvantShop.Core.Services.Diagnostics.CodeFileAppender, AdvantShop.Core">
    <HttpCodeError value="0" />
    <NotContainsStr value="AdvantShop.Module" />
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="App_Data\errlog\ErrHttp.csv"/>
    <appendToFile value="true" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" /> 
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <layout type="AdvantShop.Core.Services.Diagnostics.AdvErrorActionLayoutPattern, AdvantShop.Core">
      <conversionPattern value="%date{d/M/yyyy H:mm:ss.fff};%-5level;%advobject%newline" />
    </layout>            
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="ERROR" />      
    </filter>   
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <appender name="ModuleErrorAppender" type="AdvantShop.Core.Services.Diagnostics.CodeFileAppender, AdvantShop.Core">
    <HttpCodeError value="0" />
    <ContainsStr value="AdvantShop.Module"/>
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="App_Data\errlog\ErrModule.csv"/>
    <appendToFile value="true" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <layout type="AdvantShop.Core.Services.Diagnostics.AdvErrorActionLayoutPattern, AdvantShop.Core">
      <conversionPattern value="%date{d/M/yyyy H:mm:ss.fff};%-5level;%advobject%newline" />
    </layout>    
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="ERROR" />      
    </filter>    
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <appender name="InfoFileAppender" type="AdvantShop.Core.Services.Diagnostics.CodeFileAppender, AdvantShop.Core">
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="App_Data\errlog\Info.csv"/>
    <appendToFile value="true" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <layout type="AdvantShop.Core.Services.Diagnostics.AdvErrorActionLayoutPattern, AdvantShop.Core">
      <conversionPattern value="%date{d/M/yyyy H:mm:ss.fff};%-5level;%advobject%newline" />
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="INFO" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
 
  <appender name="WarnFileAppender" type="AdvantShop.Core.Services.Diagnostics.CodeFileAppender, AdvantShop.Core">
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="App_Data\errlog\Warn.csv"/>
    <appendToFile value="true" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <layout type="AdvantShop.Core.Services.Diagnostics.AdvErrorActionLayoutPattern, AdvantShop.Core">
      <conversionPattern value="%date{d/M/yyyy H:mm:ss.fff};%-5level;%advobject%newline" />
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="WARN" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  
  <appender name="RollbarAppender" type="AdvantShop.Core.Services.Diagnostics.RollbarAppender, AdvantShop.Core">
    <AccessToken value="4fdbd86664044d9b97e66adbdd391548" />
    <HttpCodeErrorNotStored value="400,401,402,403,404" />
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="ERROR" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>  

  <root>
    <level value="ALL"/>
    <appender-ref ref="Db404Appender" />
    <appender-ref ref="500FileAppender" />
    <appender-ref ref="400FileAppender" />
    <appender-ref ref="CommonErrorAppender" />
    <appender-ref ref="ModuleErrorAppender" />    
    <appender-ref ref="InfoFileAppender" />
    <appender-ref ref="WarnFileAppender" />
    <appender-ref ref="RollbarAppender" />
  </root>
  
  <logger name="LogActivity" additivity="false">
    <level value="INFO" />
    <appender-ref ref="LogActivityAppender" />
  </logger>

  <!--<logger additivity="false" name="CustomFileAppender">
    <appender-ref ref="CustomFileAppender" />
  </logger>-->
  
</log4net>