<?xml version="1.0" encoding="utf-8"?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appender name="RollbarAppender" type="AdvantShop.Core.Services.Diagnostics.RollbarAppender, AdvantShop.Core" xdt:Transform="Insert" >
    <AccessToken value="29fb51a482b242c59d800bf218fe1d56" />
    <HttpCodeErrorNotStored value="404" />
  </appender>
  
  <root>
    <appender-ref ref="RollbarAppender" xdt:Transform="Insert" />
  </root>
    
</log4net>
