<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TasksConfig" type="AdvantShop.Core.TasksConfig" requirePermission="false"/>
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect"/>
  </configSections>
  <appSettings>
    <add key="PublicVersion" value="ver 10.0.13 Build 220629 FIX_r8_ShippingListDescription_PaymentShippingIcons2_ShippingListRadioBtn_VkMarket_DaData_Notify_CSP2_UIGrid_CustomOptions_Boxberry_FileStorageSize_Checkout_Mokka_OKRu2_PickPoint_MobilePages_Popover_Inplace_MobilePhotos_CKEditor_Robokassa2_Tinkoff"/>
    <add key="Version" value="10.0.13"/>
    <add key="DB_Version" value="10.0.13"/>
    <add key="Release" value="Lake 2021"/>
    <add key="Profiling" value="false"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="false"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
    <add key="BasePlatformUrl" value="https://pay.advantshop.net"/>
    <add key="AccountPlatformUrl" value="https://www.advantshop.net"/>
    <add key="DomainServiceUrl" value="https://domain.on-advantshop.net/"/>
    <!--EnableCompressContent-->
    <add key="EnableCompressContent" value="true"/>
  </appSettings>
  <connectionStrings configSource="Web.ConnectionString.config"/>
  <system.web>
    <!-- .......... Session Block ........... -->
    <sessionState cookieName="s" mode="InProc" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect"/>
    <!-- .......... HttpRuntime Block .......... 1048576000 -->
    <httpRuntime executionTimeout="3600" maxRequestLength="2048000000" requestValidationMode="2.0" maxQueryStringLength="2097151" targetFramework="4.5.1" enableVersionHeader="false"/>
    <!-- .......... CustomErrors Block .......... -->
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/content/err500.aspx">
      <error statusCode="500" redirect="~/content/err500.aspx"/>
    </customErrors>
    <!-- .......... Compilation Block .......... -->
    <compilation debug="true" numRecompilesBeforeAppRestart="5" batch="false" targetFramework="4.5.1"/>
    <pages clientIDMode="AutoID" validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" enableSessionState="true">
      <controls>
        <add tagPrefix="adv" namespace="AdvantShop.Core.Controls" assembly="AdvantShop.Core"/>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect"/>
      </controls>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <!-- .......... Authentication Block .......... -->
    <authentication mode="Forms">
      <forms name="Advantshop.AUTH" loginUrl="~/default.aspx" protection="All" timeout="12960000"/>
    </authentication>
    <!-- .......... Globalization Block .......... -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" responseHeaderEncoding="utf-8" culture="ru-RU" uiCulture="ru-RU"/>
    <!-- .......... MachineKey Block .......... -->
    <machineKey validationKey="EACEB44EBD5F92AC240E6A24801316523E13B6563A32B8E8CA57B09A3586C1AA726CD22872874E040649DECE968509BCEB4E5E507EAC02F4C7BFE0898395FC37" decryptionKey="80E1EBE81E944D4F3CF7CF95082C2B0D8D3674FB19A0A3CC" validation="SHA1"/>
    <!-- .......... TrustLevel Block ....uncomment.if.needed.... -->
    <!--<trust level="Full" />
        <securityPolicy>
            <trustLevel name="Full" policyFile="internal" />
        </securityPolicy>-->
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2048000000"/>
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/octet-stream"/>
      <remove fileExtension=".tpl"/>
      <mimeMap fileExtension=".tpl" mimeType="text/html"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".yml"/>
      <mimeMap fileExtension=".yml" mimeType="text/xml"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf"/>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".otf" mimeType="font/opentype"/>
      <remove fileExtension=".xlsx"/>
      <mimeMap fileExtension=".xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
      <remove fileExtension=".xls"/>
      <mimeMap fileExtension=".xls" mimeType="application/vnd.ms-excel"/>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <remove fileExtension=".webm"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <remove fileExtension=".webp"/>
      <mimeMap fileExtension=".webp" mimeType="image/webp"/>
    </staticContent>
    <urlCompression doDynamicCompression="false" doStaticCompression="false" dynamicCompressionBeforeCache="true"/>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="HttpUrlRewrite" type="AdvantShop.Core.UrlRewriter.HttpUrlRewrite"/>
      <add name="CompressContent" type="AdvantShop.Core.Compress.CompressContent"/>
      <add name="UnhandledExceptionModule" type="AdvantShop.Core.UnhandledExceptionModule"/>
    </modules>
    <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
      <remove statusCode="404" subStatusCode="-1"/>
      <!--<remove statusCode="400" subStatusCode="-1" />-->
      <error statusCode="404" path="/error/notfound" responseMode="ExecuteURL"/>
      <!--<error statusCode="400" path="/error/badrequest" responseMode="ExecuteURL" />-->
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="X-Powered-By" value="AdvantShop"/>
        <add name="X-UA-Compatible" value="IE=edge"/>
        <add name="P3P" value="CP=&quot;CURa ADMa DEVa CONo HISa OUR IND DSP ALL COR&quot;"/>
        <!-- <add name="Strict-Transport-Security" value="max-age=31536000; preload" /> -->
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-Download-Options" value="noopen"/>
        <!--<add name="X-XSS-Protection" value="1; mode=block" />-->
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </handlers>
  </system.webServer>
  <TasksConfig>
    <!-- Every N minute -->
    <Task enabled="true" cronExpression="0 */1 * * * ? *" rndSec="59" activationKey="Booking" name="BookingProcessingJob" type="AdvantShop.Core.Scheduler.Jobs.BookingProcessingJob"/>
    <Task enabled="true" cronExpression="0 */1 * * * ? *" rndSec="59" activationKey="Landings" name="DeferredLanndingMailsJob" type="AdvantShop.Core.Scheduler.Jobs.DeferredLanndingMailsJob"/>
    <Task enabled="true" cronExpression="0 */1 * * * ? *" rndSec="59" activationKey="DeferredMails" name="DeferredMailsJob" type="AdvantShop.Core.Scheduler.Jobs.DeferredMailsJob"/>
    <Task enabled="true" cronExpression="0 */1 * * * ? *" rndSec="59" activationKey="VkMessages" name="VkMessagerJob" type="AdvantShop.Core.Services.Crm.Vk.VkMessagerJob"/>
    <Task enabled="true" cronExpression="0 */1 * * * ? *" rndSec="59" activationKey="Triggers" name="TriggerProcessJob" type="AdvantShop.Core.Services.Triggers.TriggerProcessJob"/>
    <Task enabled="true" cronExpression="0 */5 * * * ? *" rndSec="59" activationKey="VkOrders" name="VkOrdersJob" type="AdvantShop.Core.Services.Crm.Vk.VkMarket.VkOrdersJob"/>
    <Task enabled="true" cronExpression="0 */5 * * * ? *" rndSec="59" activationKey="Imap" name="ImapJob" type="AdvantShop.Core.Scheduler.Jobs.ImapJob"/>
    <Task enabled="true" cronExpression="0 */10 * * * ? *" rndSec="59" activationKey="IsNotTrial" name="JobBeAlive" type="AdvantShop.Core.Scheduler.Jobs.JobBeAlive"/>
    <Task enabled="true" cronExpression="0 */10 * * * ? *" rndSec="59" activationKey="TaskReminder" name="TaskReminderJob" type="AdvantShop.Core.Scheduler.Jobs.TaskReminderJob"/>
    <Task enabled="true" cronExpression="0 */20 * * * ? *" rndSec="59" name="OrderStatusSyncForShippingsJob" type="AdvantShop.Shipping.OrderStatusSyncForShippingsJob"/>
    <Task enabled="true" cronExpression="0 */30 * * * ? *" rndSec="59" activationKey="Instagram" name="InstagramJob" type="AdvantShop.Core.Services.Crm.Instagram.InstagramJob"/>
    <!-- Every N hour -->
    <Task enabled="true" cronExpression="0 0 */1 * * ? *" rndSec="59" rndMin="59" activationKey="Triggers" name="TriggerProcessByDateJob" type="AdvantShop.Core.Services.Triggers.TriggerProcessByDateJob"/>
    <Task enabled="true" cronExpression="0 0 */1 * * ? *" rndSec="59" rndMin="59" name="MaintenanceShippingsJob" type="AdvantShop.Shipping.MaintenanceShippingsJob"/>
    <Task enabled="true" cronExpression="0 0 */1 * * ? *" rndSec="59" rndMin="59" activationKey="DeferredTasks" name="DeferredTasksJob" type="AdvantShop.Core.Scheduler.Jobs.DeferredTasksJob"/>
    <Task enabled="true" cronExpression="0 0 0/6 * * ? *" rndSec="59" rndMin="59" activationKey="VkMarket" name="VkMarketExportJob" type="AdvantShop.Core.Services.Crm.Vk.VkMarket.Export.VkMarketExportJob"/>
    <!-- Every N day -->
    <Task enabled="true" cronExpression="0 0 0 * * ? *" rndSec="59" rndMin="59" rndHour="4" name="ClearExpiredJob" type="AdvantShop.Core.Scheduler.Jobs.ClearExpiredJob"/>
    <Task enabled="true" cronExpression="0 0 0 * * ? *" rndSec="59" rndMin="59" rndHour="4" name="SiteMapJob" type="AdvantShop.Core.Scheduler.Jobs.SiteMapJob"/>
    <Task enabled="true" cronExpression="0 0 0 * * ? *" rndSec="59" rndMin="59" rndHour="4" activationKey="AutoUpdateCurrencies" name="UpdateCurrencyJob" type="AdvantShop.Core.Scheduler.Jobs.UpdateCurrencyJob"/>
    <Task enabled="true" cronExpression="0 0 10 * * ? *" rndSec="59" rndMin="59" activationKey="BonusSystem" name="CancellationsBonusRuleJob" type="AdvantShop.Core.Services.Bonuses.Model.Rules.CancellationsBonusRule"/>
    <Task enabled="true" cronExpression="0 0 10 * * ? *" rndSec="59" rndMin="59" activationKey="BonusSystem" name="CleanExpiredBonusRule" type="AdvantShop.Core.Services.Bonuses.Model.Rules.CleanExpiredBonusRule"/>
    <Task enabled="true" cronExpression="0 0 10 * * ? *" rndSec="59" rndMin="59" activationKey="BonusSystem" name="ChangeGradeRule" type="AdvantShop.Core.Services.Bonuses.Model.Rules.ChangeGradeRule"/>
    <Task enabled="true" cronExpression="0 0 10 * * ? *" rndSec="59" rndMin="59" activationKey="BonusSystem" name="BirthDayRule" type="AdvantShop.Core.Services.Bonuses.Model.Rules.BirthDayRule"/>
    <Task enabled="true" cronExpression="0 0 0 * * ? *" rndSec="59" rndMin="59" rndHour="4" activationKey="CustomerSegmets" name="CustomerSegmentsJob" type="AdvantShop.Web.Admin.Handlers.Customers.CustomerSegments.CustomerSegmentsJob, AdvantShop.Admin"/>
    <Task enabled="true" cronExpression="0 0 12 * * ? *" rndSec="59" rndMin="59" activationKey="OkMarket" name="OkMarketExportJob" type="AdvantShop.Core.Services.Crm.Ok.OkMarket.Export.OkMarketExportJob"/>
    <!-- Weekly -->
    <Task enabled="true" cronExpression="0 0 2 ? * 2 *" rndSec="59" rndMin="59" activationKey="CheckSendingMails" name="CheckSendingMailsJob" type="AdvantShop.Core.Scheduler.Jobs.CheckSendingMailsJob"/>
    <Task enabled="true" cronExpression="0 0 0 ? * MON *" rndSec="59" rndMin="59" rndHour="4" name="ReindexJob" type="AdvantShop.Core.Scheduler.Jobs.ReindexJob"/>
    <Task enabled="true" cronExpression="0 0 0 ? * SUN *" rndSec="59" rndMin="59" rndHour="9" name="FileStorageRecalculateJob" type="AdvantShop.Core.Scheduler.Jobs.FileStorageRecalculateJob"/>
    <!-- Monthly -->
    <Task enabled="true" cronExpression="0 0 10 1 * ? *" rndSec="59" rndMin="59" activationKey="Partner" name="PartnerMonthReportJob" type="AdvantShop.Core.Scheduler.Jobs.PartnerMonthReportJob"/>
  </TasksConfig>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="300000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <!--<gcServer enabled="true" />-->
    <!-- .......... Disable the Strong-Name Bypass Feature ....uncomment.if.needed.... -->
    <!--<bypassTrustedAppStrongNames enabled="false" />-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Threading.Tasks.Extensions.Desktop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.168.0" newVersion="1.0.168.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <botDetect helpLinkEnabled="false" helpLinkMode="image" soundEnabled="false" imageWidth="180" imageHeight="35"/>
</configuration>