<div class="sortable-row" ng-model="$ctrl.items" as-sortable="$ctrl.sortableOptions">
    <div class="row" ng-repeat="item in $ctrl.items" as-sortable-item ng-cloak>
        <div class="col-xs-12">
            <div class="flex payment-row middle-xs between-xs">
                <div class="flex middle-xs col-xs">
                    <div class="as-sortable-item-handle" as-sortable-item-handle ng-if="item.Id != null">
                        <icon-move />
                    </div>
                    <span class="shipping-text col-xs-10" ng-if="item.Id != null">
                        <span class="m-r"><i class="fa fa-circle" ng-style="{'color': '#' + item.Color || '000'}"></i></span>
                        <ui-modal-trigger data-controller="'ModalEditDealStatusCtrl'" controller-as="ctrl"
                                          template-url="../areas/admin/content/src/settingsCrm/components/dealStatuses/modals/editDealStatus/editDealStatus.html"
                                          data-resolve="{item: item}"
                                          data-on-close="$ctrl.onEditDealStatus(item, result)"
                                          data-e2e-crm="DealStatus"
                                          data-e2e-crm-deal-status-id="{{item.Id}}">
                            <a href="">{{item.Name}}</a>
                        </ui-modal-trigger>
                    </span>
                    <span class="shipping-text col-xs-11" ng-if="item.Id == null">
                        <span class="row">
                            <span class="col-xs">
                                <input type="text" class="form-control" ng-model="$ctrl.newName" data-e2e="DealStatusName" />
                            </span>
                            <span class="">
                                <color-picker ng-model="$ctrl.newColor"
                                              options="$ctrl.colorPickerOptions"
                                              validation-input-text="{{'Admin.Js.SettingsCrm.Color'|translate}}"
                                              api="$ctrl.colorPickerApi"
                                              event-api="$ctrl.colorPickerEventApi">
                                </color-picker>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="flex middle-xs col-fixed-size-ls" ng-if="item.Id != null && item.Status == 0">
                    <a href="" class="fa fa-times link-invert link-decoration-none" ng-click="$ctrl.deleteItem(item)" data-e2e-crm="DealStatusDelete" data-e2e-crm-deal-status-delete-id="{{item.Id}}"></a>
                </div>
                <div class="flex middle-xs" ng-if="item.Id == null">
                    <a href="" class="btn btn-sm btn-success" ng-click="$ctrl.addItem()" data-e2e="DealStatusAdd">
                        <span class="fa fa-plus"></span> {{'Admin.Js.AddEdit.Add'|translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="$ctrl.systemItems">
    <div class="m-sm m-l-none">
        {{'Admin.Js.SettingsCrm.SystemStages'|translate}}
    </div>
    <div class="">
        <div class="row" ng-repeat="item in $ctrl.systemItems">
            <div class="col-xs-12">
                <div class="flex payment-row middle-xs between-xs">
                    <div class="flex middle-xs col-xs">
                        <div style="height: 31px;"></div>
                        <span class="shipping-text col-xs-10">
                            <span class="m-r"><i class="fa fa-circle" ng-style="{'color': '#' + item.Color || '000'}"></i></span>
                            <ui-modal-trigger data-controller="'ModalEditDealStatusCtrl'" controller-as="ctrl"
                                              template-url="../areas/admin/content/src/settingsCrm/components/dealStatuses/modals/editDealStatus/editDealStatus.html"
                                              data-resolve="{item: item}"
                                              data-on-close="$ctrl.onEditDealStatus(item, result, true)"
                                              data-e2e-crm="DealStatus"
                                              data-e2e-crm-deal-status-id="{{item.Id}}">
                                <a href="">{{item.Name}}</a>
                            </ui-modal-trigger>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>