.settings-wrap {
    padding: 4px;
}

.settings-title {
    font-family: 'OpenSans';
    font-weight: 700;
    padding: 0 13px;
    font-size: 18px;
    margin-bottom: 7px;
}

.setting-label-wrap > label {
    font-weight: normal;
}

.setting-title-top {
    margin-bottom: 20px;
}

.setting-title {
    margin: 33px 0 20px 0;
}

.setting-title__m-t-md {
    margin-top: 20px;
}

.setting-favicon-wrap {
    margin-bottom: 5px;
}

.setting-param {
    display: flex;
}

.is-sticky .settings-title {
    display: flex;
    align-items: center;
    width: 100% !important;
    left: 70px !important;
    background: #2f4050;
    z-index: 899;
}

.header-btn-setting {
    height: 0;
}

.header-btn-setting input {
    display: none;
}

.is-sticky .header-btn-setting {
    z-index: 900;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    background: #2f4050;
}

.is-sticky .header-btn-setting input {
    display: inline-block;
}

.payment-row {
    background: #fff;
    border: 1px solid #c3c3c3;
    padding: 4px 9px;
    padding-left: 0;
    margin-bottom: -1px;
}

.shipping-icon,
.payment-icon {
    width: 5rem;
    margin-right: 20px;

    img {
        width: 100%;
    }
}

.shipping-text,
.payment-text {
    color: #2f4050;
}

.shipping-text-grey,
.payment-text-grey {
    color: #9ea3a6;
}

.shipping-settings-link,
.payment-settings-link {
    margin-right: 40px;
}

.shipping-switcher,
.payment-switcher {
    font-size: 0;
}

.shipping-switcher .switcher-state-trigger,
.payment-switcher .switcher-state-trigger {
    font-size: 13px;
}

.shipping-row .as-sortable-item-handle,
.payment-row .as-sortable-item-handle {
    margin-right: 9px;
}

.setting__catolog-popover-custom {
    max-width: 480px;
}

.iframe-mobile {
    height: 669px;
    border: 0;
    width: 100%;
    transform-origin: 0 0;
    transform: scale(0.6);
    width: 377px;
}

.iframe-mobile__wrapper {
    height: 551px;
    width: 282px;
    display: block;
    padding: 0;
    background: #fff;
    position: relative;
    background: url("../../../images/mobile-bg.png") no-repeat;
    padding: 69px 28px 80px 28px;
    box-sizing: border-box;

    &:hover {
        .mobile-qrcode__block{
            display: flex;
        }
    }
}

.mobile-settings__preview {
}

.mobile-qrcode__block {
    position: absolute;
    top: 69px;
    left: 27px;
    right: 27px;
    bottom: 80px;
    align-items: center;
    justify-content: center;
    background: #dadbdd;
    padding: 14px;
    display: none;
    z-index: 10;
}

.mobile-qrcode__inner {
    text-align: center;
}

.mobile-qrcode__image {
    margin-bottom: 28px;
}

.mobile-qrcode__header {
    font-size: 18px;
    margin-bottom: 16px;
}

.mobile-qrcode__text {
    font-size: 13px;
}

.api-item {
    padding: 5px;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
}

.api-item .api-item__header {
    cursor: pointer;
}

.api-item.get {
    background-color: #edf4ff;
}

.api-item.get .method {
    background: #61affe;
}

.api-item.post {
    background: rgba(73,204,144,.1);
}

.api-item.post .method {
    background: #49cc90;
}

.api-item .method {
    border-radius: 3px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    min-width: 80px;
    padding: 6px 0;
    text-align: center;
    display: inline-block;
}

.api-item .path {
    align-items: center;
    color: #3b4151;
    font-family: monospace;
    font-weight: 600;
    padding: 0 10px;
}

.api-item .description {
    color: #3b4151;
    font-family: sans-serif;
    font-size: 13px;
}

.api-item .details {
    display: none;
    font-size: 14px;
    padding: 10px 15px;
}

.api-item .details .row-tb {
    background: #fff;
    padding: 5px;
    padding: 5px 10px;
    margin: 5px 0 10px 0;
}