<form novalidate name="addEditManagerRoleForm">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{ctrl.mode == "add" ? ('Admin.Js.AddEditManagerRole.Add'|translate) : ('Admin.Js.AddEditManagerRole.Edit'|translate)}}</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.addEditManagerRoleForm = addEditManagerRoleForm">
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">
                    {{'Admin.Js.AddEditDepartment.Name'|translate}}
                </span>
            </label>
            <div class="col-xs-9">
                <input data-e2e="managerRoleName" type="text" class="form-control" ng-model="ctrl.name"
                       ng-keypress="$event.keyCode === 13 && addEditManagerRoleForm.$valid && ctrl.save()"
                       required validation-input-text={{'Admin.Js.AddEditDepartment.Name'|translate}} autofocus />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditDepartment.SortingOrder'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" data-e2e="managerRoleSortOrder" ng-model="ctrl.sortOrder" class="form-control" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-e2e="managerRoleButtonSave"
                data-button-validation-success="ctrl.save()" data-button-validation ladda="ctrl.btnSleep"
                disabled ng-disabled="ctrl.mode == 'edit' && (!ctrl.formInited || !addEditManagerRoleForm.modified)"
                ng-bind="ctrl.mode == 'add' ? ('Admin.Js.AddEdit.Add'|translate) : ('Admin.Js.AddEdit.Save'|translate)"></button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>