@using AdvantShop.Helpers;
@using System;

@model BlockModel
@{
    var date = Model.Block.TryGetSetting("date");
    string countdownDate = "";
    int loopMinutes = 0;
    bool isLoop = date.selectType.value == "loop";

    if (isLoop) {

        loopMinutes = (int)Model.Block.TryGetSetting("date").end_date;
    }
    else {
        countdownDate = date.end_date != null ? date.end_date.ToString("yyyy-MM-dd'T'HH:mm:ss.fff'Z'") : DateTime.UtcNow.ToString("yyyy-MM-dd'T'HH:mm:ss.fff'Z'");
    }
}

<div class="container-fluid">
    <div class="lp-container">
        @if (Model.Block.TryGetSetting("show_title") == true)
        {
            <div class="row center-xs">
                <div class="col-xs-12">
                    <div class="lp-h2 lp-h2--color countdown__title" data-e2e="TitleCountdown">@Html.SubBlock(Model, "title")</div>
                </div>
            </div>
        }
        @if (Model.Block.TryGetSetting("show_subtitle") == true)
        {
            <div class="row center-xs">
                <div class="col-xs-12">
                    <div class="countdown__subtitle lp-h3 lp-h3--color" data-e2e="SubTitleCountdown">
                        @Html.SubBlock(Model, "subtitle")
                    </div>
                </div>
            </div>
        }
        <div class="row start-xs center-sm middle-xs">
            <div class="col-xs-12">
                <div countdown @Html.Raw(isLoop == true ? "is-loop=\"" + loopMinutes + "\"" : "end-time=\"'" + countdownDate + "'\"") class="ng-cloak" data-e2e="ContentCountdown"></div>
            </div>
        </div>
    </div>
</div>

