<div class="col-xs-12 m-t-md">
</div>
<div class="col-xs-12 m-t-md">
    <div class="row m-b-md">
        <div class="col-xs">
            <div class="text-right">
                {{'Admin.Js.OrderItemsSummary.OrderCost'|translate}}
            </div>
        </div>
        <div class="col-xs flex-grow-n order-items-summary-col-value">
            <span ng-bind="$ctrl.summary.ServicesCostStr"></span>
        </div>
    </div>
    <div class="row m-b-md">
        <div class="col-xs">
            <div class="text-right">

                <div ng-switch="$ctrl.canBeEditing === true">
                    <div ng-switch-when="true">
                        <a href="" uib-popover-template="'orderDiscountPopover.html'"
                           popover-trigger="'none'"
                           popover-is-open="$ctrl.discountPopoverIsOpen"
                           ng-click="$ctrl.discountPopoverToggle()"
                           ng-bind="$ctrl.summary.BookingDiscount != 0 || $ctrl.summary.BookingDiscountValue != 0 ?  ('Admin.Js.OrderItemsSummary.Discount'|translate) : ('Admin.Js.OrderItemsSummary.AddDiscount'|translate)"></a>
                        <script type="text/ng-template" id="orderDiscountPopover.html">
                            <form name="orderFormDiscount">
                                <div class="m-b-xs bold">{{'Admin.Js.OrderItemsSummary.SpecifyDiscount'|translate}}</div>
                                <div class="input-group m-b">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" value="0" ng-click="$ctrl.toggleselectCurrencyLabel('0')" ng-class="{'label-currency-active':!$ctrl.typeDiscountPercent}"><span>{{$ctrl.summary.BookingCurrency.CurrencySymbol}}</span></button>
                                        <button type="button" class="btn btn-default" value="1" ng-click="$ctrl.toggleselectCurrencyLabel('1')" ng-class="{'label-currency-active':$ctrl.typeDiscountPercent}"><span>%</span></button>
                                    </span>
                                    <input type="number"
                                           ng-value="$ctrl.BookinDiscountNew"
                                           ng-max="$ctrl.typeDiscountPercent ? 100 : $ctrl.summary.ServicesCost"
                                           ng-min="0"
                                           class="form-control"
                                           ng-model="$ctrl.BookinDiscountNew" autofocus bs-modifiable="false"
                                           validation-input-float=""
                                           validation-input-text="{{:: 'Admin.Js.OrderItemsSummary.SpecifyDiscount'|translate}}" />
                                </div>
                                <div class="clearfix">
                                    <input type="submit" button-validation="$ctrl.changeDiscount($ctrl.BookinDiscountNew)" value={{'Admin.Js.OrderItemsSummary.Apply'|translate}} class="btn btn-sm btn-success pull-left" />
                                    <input type="button" value={{'Admin.Js.AddEdit.Cancel'|translate}} class="btn btn-sm btn-action pull-right" ng-click="$ctrl.discountPopoverClose()" />
                                </div>
                            </form>
                        </script>
                    </div>
                    <div ng-switch-when="false">
                        <a href=""
                           ng-click="$ctrl.onStopEdit({})"
                           ng-bind="$ctrl.summary.BookingDiscount > 0 || $ctrl.summary.BookingDiscountValue != 0 ?  ('Admin.Js.OrderItemsSummary.Discount'|translate) : ('Admin.Js.OrderItemsSummary.AddDiscount'|translate)"></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs flex-grow-n order-items-summary-col-value">
            <span ng-bind="'- ' + $ctrl.summary.DiscountCostStr"></span>
            <span ng-if="$ctrl.summary.BookingDiscount > 0" class="order-discount" ng-bind="'(' + $ctrl.summary.BookingDiscount + '%)'"></span>
        </div>
    </div>


    <div class="row m-b-md">
        <div class="col-xs">
            <div class="text-right">

                <div ng-switch="$ctrl.canBeEditing === true">
                    <div ng-switch-when="true">
                        <ui-modal-trigger size="lg" data-controller="'ModalBookingPaymentsCtrl'" data-controller-as="ctrl"
                                          data-resolve="{ params: { summary: $ctrl.summary}}"
                                          data-on-close="$ctrl.changePayment(result)"
                                          template-url="../areas/admin/content/src/bookingJournal/modal/addUpdateBooking/modal/payments/payments.html">
                            <a href="">{{'Admin.Js.OrderItemsSummary.Payment'|translate}}</a>
                        </ui-modal-trigger>
                    </div>
                    <div ng-switch-when="false">
                        <a href="" ng-click="$ctrl.onStopEdit({})">{{'Admin.Js.OrderItemsSummary.Payment'|translate}}</a>
                    </div>
                </div>

                <div ng-bind="$ctrl.summary.PaymentName" class="m-b-xs"></div>

                <div ng-if="$ctrl.summary.ShowSendBillingLink" class="m-b-xs">
                    <ui-modal-trigger data-controller="'ModalGetBillingLinkCtrl'" data-controller-as="ctrl"
                                      data-resolve="{params: { orderId: $ctrl.summary.OrderId }}"
                                      template-url="../areas/admin/content/src/order/modal/getBillingLink/getBillingLink.html">
                        <a href="">Ссылка на оплату</a>
                    </ui-modal-trigger>
                </div>

                <ng-form novalidate="" name="paymentDetailsForm">
                    <div class="order-modal-descr" ng-if="$ctrl.summary.PaymentDetails != null"> <!--  || ctrl.Summary.ShowPrintPaymentDetails -->
                        <div class="m-b-xs" ng-if="$ctrl.summary.PaymentKey == 'sberbank' || $ctrl.summary.PaymentKey == 'bill' || $ctrl.summary.PaymentKey == 'billby' || $ctrl.summary.PaymentKey == 'billkz'">
                            {{'Admin.Js.OrderItemsSummary.INN'|translate}}
                            <input type="text" class="form-control payment-details-item"
                                   name="paymentDetails.inn"
                                   ng-model="$ctrl.summary.PaymentDetails.INN"
                                   ng-blur="paymentDetailsForm['paymentDetails.inn'].modified === true && $ctrl.savePaymentDetails()" />
                        </div>
                        <div class="m-b-xs" ng-if="$ctrl.summary.PaymentKey == 'bill' || $ctrl.summary.PaymentKey == 'billby' || $ctrl.summary.PaymentKey == 'billkz'">
                            {{'Admin.Js.OrderItemsSummary.CompanyName'|translate}}
                            <input type="text" class="form-control payment-details-item"
                                   name="paymentDetails.companyName"
                                   ng-model="$ctrl.summary.PaymentDetails.CompanyName"
                                   ng-blur="paymentDetailsForm['paymentDetails.companyName'].modified === true && $ctrl.savePaymentDetails()" />
                        </div>
                        <div class="m-b-xs" ng-if="$ctrl.summary.PaymentKey == 'billkz'">
                            {{'Admin.Js.OrderItemsSummary.Contract'|translate}}
                            <input type="text" class="form-control payment-details-item"
                                   name="paymentDetails.contract"
                                   ng-model="$ctrl.summary.PaymentDetails.Contract"
                                   ng-blur="paymentDetailsForm['paymentDetails.contract'].modified === true && $ctrl.savePaymentDetails()" />
                        </div>
                        <div class="m-b-xs" ng-if="$ctrl.summary.PaymentKey == 'qiwi'">
                            {{'Admin.Js.OrderItemsSummary.Phone'|translate}}
                            <input type="text" class="form-control payment-details-item"
                                   name="cpaymentDetails.phone"
                                   data-mask-control
                                   data-mask-control-preset="phone"
                                   ng-model="$ctrl.summary.PaymentDetails.Phone"
                                   ng-blur="paymentDetailsForm['paymentDetails.phone'].modified === true && $ctrl.savePaymentDetails()" />
                        </div>
                        <!--<div ng-if="$ctrl.summary.ShowPrintPaymentDetails">
                            <a target="_blank" href="{{$ctrl.getPaymentDetailsLink()}}">{{$ctrl.summary.PrintPaymentDetailsText}}</a>
                        </div>-->
                    </div>
                </ng-form>
            </div>
        </div>
        <div class="col-xs flex-grow-n order-items-summary-col-value">
            + <span ng-bind="$ctrl.summary.PaymentCostStr"></span> ({{'Admin.Js.OrderItemsSummary.ExtraCharge'|translate}})
        </div>
    </div>

    <div class="row m-b-md bold f-s-18">
        <div class="col-xs">
            <div class="text-right">
                {{'Admin.Js.OrderItemsSummary.Summary'|translate}}
            </div>
        </div>
        <div class="col-xs flex-grow-n order-items-summary-col-value">
            <span ng-bind="$ctrl.summary.SumStr"></span>
        </div>
    </div>
</div>
