.gallery-cloud {
  display: block;
}
.gallery-cloud__list {
  padding-top: 13px;
  padding-bottom: 20px;
  padding-left: 17px;
  padding-right: 17px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  background-color: #fbfbfb;
}
.gallery-cloud__list-item {
  flex-basis: 217px;
  max-width: 217px;
  padding: 7px;
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;
}
.gallery-cloud__list-item:hover {
  cursor: pointer;
  opacity: 0.7;
}
.gallery-cloud__list-item-img {
  vertical-align: middle;
}
.gallery-cloud__progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}
.gallery-cloud__empty, .gallery-cloud__items-loading {
  text-align: center;
  padding: 30px;
  font-size: 20px;
}
.gallery-cloud__copyright {
  margin-top: 5px;
  font-size: 12px;
  text-align: left;
}

.gallery-cloud-modal {
  width: 921px;
  height: 100%;
  overflow: hidden;
}
.gallery-cloud-modal .modal-content {
  overflow: hidden;
}
.gallery-cloud-modal .gallery-cloud-scroll {
  height: calc(100vh - 49px - 131px - 50px - 58px);
  overflow: auto;
}
.gallery-cloud-modal .gallery-cloud-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}
.gallery-cloud-modal .gallery-cloud-scroll::-webkit-scrollbar:vertical {
  width: 11px;
}
.gallery-cloud-modal .gallery-cloud-scroll::-webkit-scrollbar:horizontal {
  height: 11px;
}
.gallery-cloud-modal .gallery-cloud-scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.4);
}
.gallery-cloud-modal .gallery-cloud-scroll::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}
.gallery-cloud-modal .modal-content, .gallery-cloud-modal .gallery-cloud {
  padding: 0;
}

.gallery-cloud-search {
  padding-left: 24px;
  padding-right: 24px;
}
.gallery-cloud-search__field {
  margin-top: 11px;
  position: relative;
}
.gallery-cloud-search__icon {
  position: absolute;
  right: 11px;
  top: 11px;
}
.gallery-cloud-search__input {
  width: 100%;
  background-color: #ffffff;
  border: solid 1px #a5a5a5;
  border-radius: 3px;
  box-sizing: border-box;
  padding-left: 14px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-right: 50px;
  font-size: 13px;
  color: #a5a5a5;
  line-height: 1.23;
  font-weight: normal;
}
.gallery-cloud-search__list {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}
.gallery-cloud-search__list-item {
  padding: 12px;
  border-radius: 3px;
  background-color: #ebebeb;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  margin-right: 8px;
  line-height: 1.45;
  color: #7b7b7b;
}
.gallery-cloud-search__list-item.active {
  background-color: #3797eb;
  color: #fff;
}
.gallery-cloud-search__list-item:last-child {
  margin-right: 0;
}
.gallery-cloud-search__list-item:hover {
  cursor: pointer;
  background-color: #e6e5e5;
}
.gallery-cloud-search__devider {
  color: #f0f0f0;
  background-color: #f0f0f0;
  border: 0px none;
  height: 1px;
  margin: 0;
}