<div class="sticky-page-name" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main">
            <h1 class="page-name-block-text sticky-page-name-text">
                @T("Admin.ManualEmailings.WithoutEmailing.Title")
            </h1>
        </div>
    </div>
</div>


<ui-grid-custom grid-unique-id="gridWithous"
                grid-on-init="manualEmailings.gridWithousOnInit(gridWithous)"
                grid-options="manualEmailings.gridWithousOptions"
                grid-url="'emailings/GetSubjectWithoutEmailings'">
    <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="manualEmailings.gridWithous.gridOptions.TotalString">
    </ui-grid-custom-footer>
</ui-grid-custom>

