
<div class="sticky-page-name" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main">
            <h1 class="page-name-block-text sticky-page-name-text">
                @T("Admin.ManualEmailings.Title")
            </h1>
        </div>
    </div>
</div>

<ui-grid-custom grid-unique-id="grid"
                grid-on-init="manualEmailings.gridOnInit(grid)"
                grid-options="manualEmailings.gridOptions"
                grid-url="'emailings/getManualEmailings'">
    <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="manualEmailings.grid.gridOptions.TotalString">
    </ui-grid-custom-footer>
</ui-grid-custom>
