<div class="ibox static-notify">
    <div class="ibox-content p-xs-x2">
        <span class="label label-notice m-r">@T("Admin.Leads.Index.Attention")</span>
        <span>Для получения аналитики по Email рассылкам, необходимо подключить почтовую службу ADVANTSHOP.</span>
        <a href="settingsmail#?notifyTab=emailsettings" class="btn btn-sm btn-default m-l-sm">Настроить</a>
    </div>
</div>
