@{
    ViewBag.Title = "Подписать на рассылку";
}
<form>
    <div class="form-group row middle-xs">
        <div class="col-xs-slim">
            <div class="setting-label-wrap">
                Подписать на рассылку
            </div>
        </div>
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                <input class="form-control input-small" ng-model="emailingLog.ForceSubcribe" type="email" value="" />
            </div>
        </div>
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                <button class="btn btn-save btn-primary" type="button" button-validation ng-click="emailingLog.subscribe(emailingLog.ForceSubcribe)">Подписать</button>
            </div>
        </div>
    </div>
</form>