@import "../../../_common/variables.scss";

$color: #418ded;
$color2: #ebebeb;
$coefficient: 5;
$sizeLinkIco: 2.22;
$sizeLinkIcoItem: 11px;

.blocks-constructor-select-mode {
    .blocks-constructor-container {
        cursor: pointer;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
        }

        &:hover:after {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    .lp-blocks-constructor-empty {
        pointer-events: none;
    }
}

.blocks-constructor-container {
    display: block;
    position: relative;
    z-index: inherit;
    min-height: 52px;
}

.lp-blocks-constructor--hover,
.lp-blocks-constructor:hover {
    position: relative;
    z-index: 300;
}

.lp-blocks-constructor-linkico.lp-blocks-constructor-add-block,
.lp-blocks-constructor--hover .lp-blocks-constructor-linkico,
.lp-blocks-constructor:hover .lp-blocks-constructor-linkico {
    display: inline-flex;
    visibility: visible;
}

.lp-blocks-constructor-container {
    position: relative !important;
    display: block;
}

.menu-state--opened {
    .lp-blocks-constructor {
        visibility: hidden;
    }
}

.lp-blocks-constructor {
    display: none;
    position: relative;
    z-index: 300;
}

.lp-blocks-constructor-buttons-container {
    position: relative;
    z-index: 5;
    text-align: center;
    transform: translateY(-50%);
    top: 50%;
    font-family: 'Open Sans',sans-serif;
}

.lp-blocks-constructor-buttons {
    text-align: right;
    font-size: 0;
}

.lp-blocks-constructor-linkico {
    color: #222222;
    line-height: $sizeLinkIco;
    text-align: center;
    font-size: $sizeLinkIcoItem;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #cccccc;
    cursor: pointer;
    outline: none;
    height: 28px;
    padding-left: 8px;
    padding-right: 8px;
    /*display: none;*/
    display: inline-flex;
    visibility: hidden;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #ececec;
    }
}

.lp-blocks-constructor-linkico-settings {
    border-radius: 14px;
    margin-right: 8px;
    padding-left: 6px;
    padding-right: 11px;
}

.blocks-constructor-modal {
    background-color: #fff;
    font-weight: 400;
}

.blocks-constructor-modal-block-image {
    vertical-align: middle;
}

.lp-blocks-constructor-linkico-up,
.lp-blocks-constructor-linkico-down {
    width: 30px;
}

.lp-blocks-constructor-linkico-up {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.lp-blocks-constructor-linkico-down {
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-left: -1px;
}

.lp-blocks-constructor-linkico-down > .icon-lp-down-dir:before,
.lp-blocks-constructor-linkico-up > .icon-lp-up-dir:before {
    font-size: 12px;
}

.lp-blocks-constructor-linkico-delete {
    margin-left: 8px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.lp-blocks-constructor-linkico-settings.icon-lp-cog:before {
    font-size: 14px;
    vertical-align: text-bottom;
}

.lp-blocks-constructor-add-block {
    background-color: $color;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: #fff;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    border: 0;
    padding: 0;

    &:hover {
        background-color: lighten($color, $coefficient);
    }

    &:active {
        background-color: darken($color, $coefficient);
    }
}

.blocks-constructor-modal-new-item {
    max-width: 952px !important;
    width: 100%;
    min-height: 95vh;
}

.blocks-constructor-modal-new-item-overlay {
    font-family: 'Open sans';

    .modal-content {
        padding: 0;
        max-height: none;
    }
}


.blocks-constructor-modal-categories-wrap,
.blocks-constructor-modal-block-wrap {
    height: calc(100vh - 115px);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 10px 0;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 11px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, .4);
    }

    &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 8px;
    }
}


.blocks-constructor-modal-categories-col {
    background-color: rgb(251, 251, 251);
}

.blocks-constructor-modal-new-item-content {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.blocks-constructor-modal-block-wrap {
}

.blocks-constructor-modal-categories,
.blocks-constructor-modal-categories-item {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

a.blocks-constructor-modal-categories-item-link {
    display: block;
    padding: 10px 10px 10px 24px;
    border-left: 4px solid transparent;
    color: rgb(34, 34, 34);
    font-weight: 600;

    &:hover {
        background-color: rgb(238, 238, 238);
        color: rgb(34, 34, 34);
    }
}

a.blocks-constructor-modal-category-selected {
    border-left-color: rgb(55, 151, 235);
    color: rgb(123, 123, 123);
}

.blocks-constructor-modal-block {
    margin: 5px 24px 20px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px rgb(240, 240, 240) solid;
    /*&:hover:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0, .1);
    }*/
    &:hover {
        color: rgb(55, 151, 235);

        .blocks-constructor-modal-block-pic {
            box-shadow: 0 0 10px 0 rgb(55, 151, 235);
        }
    }
}

.blocks-constructor-modal-block-loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255, .5);
    cursor: default;
}

.blocks-constructor-modal-block-loading:before {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 35px;
    margin-left: -13px;
}

.blocks-constructor-modal-block-pic {
    text-align: center;
    min-height: 80px;
    margin: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.blocks-constructor-modal-block-pic-inner {
    max-width: 100%;
    width: 100%;
}

.blocks-constructor-modal-block-descr {
    padding: 15px 0;
}

.blocks-constructor-block-row {
    margin-bottom: 15px;
}

.blocks-constructor-btn-cancel,
.blocks-constructor-btn-confirm,
.blocks-constructor-btn-apply,
.blocks-constructor-btn-remove,
.blocks-constructor-btn-add,
.logo-generator-modal-btn-save,
.logo-generator-modal-btn-close {
    border-radius: 3px;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid;
    font-size: 14px;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }

    &:disabled {
        cursor: default;
        background: #ccc;
        border-color: #bbb;
    }
}

.blocks-constructor-btn-remove {
    color: #ffffff;
    background-color: #4b4f58;
    border-color: #4b4f58;

    &:hover {
        background-color: lighten(#4b4f58, 5);
    }

    &:active {
        background-color: darken(#4b4f58, 5);
    }
}

.blocks-constructor-btn-confirm,
.blocks-constructor-btn-apply,
.blocks-constructor-btn-add,
.logo-generator-modal-btn-save {
    border-color: rgb(55, 151, 235);
    background-color: rgb(55, 151, 235);
    color: #ffffff;

    &:hover {
        background-color: lighten(rgb(55, 151, 235), 10%);
        border-color: lighten(rgb(55, 151, 235), 10%);
    }

    &:active {
        background-color: darken(rgb(55, 151, 235), 10%);
        border-color: darken(rgb(55, 151, 235), 10%);
    }
}

.blocks-constructor-btn-cancel,
.logo-generator-modal-btn-close {
    border-color: rgb(55, 151, 235);
    color: rgb(55, 151, 235);
    background-color: transparent;

    &:hover {
        border-color: lighten(rgb(55, 151, 235), 10%);
        color: lighten(rgb(55, 151, 235), 10%);
    }

    &:active {
        border-color: darken(rgb(55, 151, 235), 10%);
        color: darken(rgb(55, 151, 235), 10%);
    }
}

.blocks-constructor-btn-confirm,
.blocks-constructor-btn-cancel,
.blocks-constructor-btn-add,
.logo-generator-modal-btn-save,
.logo-generator-modal-btn-close {
    padding: 12px 23px;
}

.blocks-constructor-btn-apply,
.blocks-constructor-btn-remove {
    padding: 5px 10px;
}

.blocks-constructor-btn-apply-wrap {
    text-align: center;
}

.blocks-constructor-table {
    display: table;
    width: 100%;
}

.blocks-constructor-table--fixed {
    table-layout: fixed;
}

.blocks-constructor-table-row {
    display: table-row;
}

.blocks-constructor-table-row-group {
    display: table-row-group;
}

.blocks-constructor-table-name,
.blocks-constructor-table-value {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 15px;
}

.blocks-constructor-table-name {
    padding-right: 5px;
    width: 150px;
}

.blocks-constructor-table-col {
    display: table-cell;
    vertical-align: top;
    padding-left: 8px;
    padding-right: 8px;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &--vertical-middle {
        vertical-align: middle;
    }
}

.blocks-constructor-bg-img-wrap {
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
}

.blocks-constructor-bg-img-buttons {
    text-align: center;
}

.reverse-enabled .reverse-row {
    flex-direction: row-reverse;
}

.lp-blocks-constructor-empty {
    padding-top: 50px;
    padding-bottom: 50px;
    /*border-top: 2px dashed #e2e2e2;*/
    .blocks-constructor-container {

        &:after {
            display: none;
        }
        /*.lp-blocks-constructor:after {
        display: none;
    }*/
    }
}

.block-constructor--modal-header-icon,
.block-constructor--modal-header-text {
    vertical-align: middle;
    display: inline-block;
}

.block-constructor--modal-header-icon {
    font-size: 30px;
}

.lp-settings-modal-overlay {
    background-color: #fff;
}

.lp-settings-modal-overlay .adv-modal-inner {
    max-height: 90vh;
}

.lp-block-constructor-hint {
    position: absolute !important;
    background: black !important;
    color: #fff !important;
    padding: 2px !important;
    z-index: 10 !important;
    border: 1px #b6ff00 solid !important;
    right: 0 !important;
    top: 16px !important;
    font-family: 'Open Sans',sans-serif !important;
    line-height: 1 !important;
}

.blocks-constructor-modal--settings,
.logo-generator-modal {
    top: 25px;
    max-height: 80vh;
    background-color: #fff;
    font-family: 'Open Sans',sans-serif;

    .adv-modal-inner {
        max-height: 90vh;
    }

    .modal-content {
        padding: 0;
        position: relative;
    }

    .tabs-horizontal {
        .tabs-headers {
            padding-left: 24px;
        }

        .tabs-content {
            padding: 0;
        }
    }

    .tabs-vertical {
        .tabs-headers {
            padding-left: 0;
            padding-top: 10px;
            background-color: rgb(251, 251, 251);
            width: 25%;
        }

        .tabs-content {
            padding: 0 0 0 24px;
        }

        .tabs-header-item {
            padding: 0;
            width: 100%;
            border-width: 0 0 0 4px;
            margin-right: 0;
        }

        .tabs-header-item-link {
            font-size: 14px;
            padding: 10px 0 10px 24px;
            font-weight: 600;
        }
    }
}

.blocks-constructor-modal--settings {
    width: 1140px;
    max-width: 90vw;

    a {
        text-decoration: none;
        color: #3797eb;

        &:hover {
            color: #65aff0;
            text-decoration: underline;
        }
    }

    .form-control {
        @extend .blocks-constructor-input;
    }
}

.block-constructor-categoties {
    .form-control {
        @extend .blocks-constructor-input;
    }
}

.block-constructor-menu__options {
    margin-bottom: 20px;
}

.block-constructor-menu-list-body {
    position: relative;
}

.blocks-constructor-row {
    margin-bottom: 24px;

    &__name {
        margin-bottom: 10px;
    }

    a {
        color: #3797eb;
    }
}


.blocks-constructor-table-caption {
    margin-bottom: 15px;
    font-size: 16px;
}

.blocks-constructor-btn-mar {
    margin-left: 15px;
}

.blocks-constructor-table-name-h {
    height: 36px;
}

.blocks-constructor__divider {
    margin: 15px 0;
    height: 1px;
    font-size: 0;
    line-height: 0;
    background-color: #eee;
}

@media (min-width:980px) {

    .lp-blocks-constructor {
        /*position: relative;
    z-index: 150;*/
        display: block;
        /*display: none;*/
        height: 0px;
        /*&:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-top: 2px dashed #e2e2e2;
        z-index: 0;
    }*/
        &:first-child {
            position: absolute;
            height: auto;
            width: 100%;
            z-index: 300;

            .lp-blocks-constructor-buttons-container {
                transform: none;
                top: 0;
            }
        }
    }

    .lp-blocks-constructor {
        display: block;
    }

    /*.blocks-constructor-container {
        z-index: 0;
        &:hover {
            z-index: 10;
        }
    }*/

}

.blocks-constructor-settings-col,
.blocks-constructor-settings-col--alt {
    padding: 20px 24px;
}

.blocks-constructor-settings-col--left-missing {
    padding: 20px 24px 20px 0;
}

.blocks-constructor-settings-col--vertical {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blocks-constructor-settings-col {
    background-color: rgb(251, 251, 251);
    min-height: 100%;
    box-sizing: border-box;
}

.blocks-constructor-input,
.blocks-constructor-textarea,
.logo-generator [type="text"],
.logo-generator [type="number"],
.modal-content-logo-generator-fonts [type="text"],
.modal-content-logo-generator-fonts [type="number"] {
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(165, 165, 165);
    width: 100%;
    padding-left: 14px;
    box-sizing: border-box;
}

.blocks-constructor-input,
.logo-generator [type="text"],
.logo-generator [type="number"],
.modal-content-logo-generator-fonts [type="text"],
.modal-content-logo-generator-fonts [type="number"] {
    height: 42px;
}

.blocks-constructor-textarea {
    height: 120px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.blocks-constructor-slider {
    .ngrs-handle {
        width: 12px;
        height: 12px;
        border: 8px rgb(55, 151, 235) solid;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background: #fff;
    }

    .ngrs-join, .ngrs-runner {
        height: 4px;
    }

    .ngrs-join {
        background: rgb(55, 151, 235);
    }

    .ngrs-runner {
        box-shadow: none;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.blocks-constructor-select,
.logo-generator-form .select-custom {
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(165, 165, 165);
    height: 40px;
    display: inline-block;
    width: 100%;
    position: relative;
    box-sizing: border-box;

    select {
        width: 100%;
        appearance: none;
        border-color: transparent;
        background-color: rgb(255, 255, 255);
        border: 0;
        height: 100%;
        padding-left: 14px;
        box-sizing: border-box;
        border-radius: 3px;
        font-weight: 400;

        &::-ms-expand {
            display: none;
        }
    }

    &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid rgb(210, 210, 210);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 14px;
    }
}

.blocks-constructor-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.blocks-constructor-checkbox-native,
.blocks-constructor-radio-native {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.blocks-constructor-checkbox-native {
    &:checked + .blocks-constructor-checkbox {
        background: #3797eb url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI2IDI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNiAyNiIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4Ij4KICA8cGF0aCBkPSJtLjMsMTRjLTAuMi0wLjItMC4zLTAuNS0wLjMtMC43czAuMS0wLjUgMC4zLTAuN2wxLjQtMS40YzAuNC0wLjQgMS0wLjQgMS40LDBsLjEsLjEgNS41LDUuOWMwLjIsMC4yIDAuNSwwLjIgMC43LDBsMTMuNC0xMy45aDAuMXYtOC44ODE3OGUtMTZjMC40LTAuNCAxLTAuNCAxLjQsMGwxLjQsMS40YzAuNCwwLjQgMC40LDEgMCwxLjRsMCwwLTE2LDE2LjZjLTAuMiwwLjItMC40LDAuMy0wLjcsMC4zLTAuMywwLTAuNS0wLjEtMC43LTAuM2wtNy44LTguNC0uMi0uM3oiIGZpbGw9IiNGRkZGRkYiLz4KPC9zdmc+Cg==) no-repeat center center;
        background-size: 70% 70%;
    }
}

.blocks-constructor-radio-native {
    &:checked + .blocks-constructor-radio {
        background: #3797eb url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIwIDEyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxjaXJjbGUgY3g9IjYwIiBjeT0iNjAiIHI9IjUwIiBmaWxsPSIjZmZmIi8+PC9zdmc+) no-repeat center center;
        background-size: 60% 60%;
    }
}

.blocks-constructor-checkbox,
.blocks-constructor-radio,
.logo-generator-form .custom-input-checkbox {
    width: 24px;
    height: 24px;
    min-width: 24px;
    object-fit: contain;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(165, 165, 165);
    box-shadow: none;

    &:after {
        display: none;
    }
}

.logo-generator-form .custom-input-checkbox {
    width: 24px !important;
    height: 24px !important;
}

.logo-generator-form .select-custom {
    height: auto;
}

.blocks-constructor-checkbox--small {
    width: 16px;
    height: 16px;
    min-width: 16px;
}

.blocks-constructor-radio {
    border-radius: 50%;
}

.logo-generator-form .custom-input-native:checked + .custom-input-checkbox {
    background: #3797eb url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI2IDI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNiAyNiIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4Ij4KICA8cGF0aCBkPSJtLjMsMTRjLTAuMi0wLjItMC4zLTAuNS0wLjMtMC43czAuMS0wLjUgMC4zLTAuN2wxLjQtMS40YzAuNC0wLjQgMS0wLjQgMS40LDBsLjEsLjEgNS41LDUuOWMwLjIsMC4yIDAuNSwwLjIgMC43LDBsMTMuNC0xMy45aDAuMXYtOC44ODE3OGUtMTZjMC40LTAuNCAxLTAuNCAxLjQsMGwxLjQsMS40YzAuNCwwLjQgMC40LDEgMCwxLjRsMCwwLTE2LDE2LjZjLTAuMiwwLjItMC40LDAuMy0wLjcsMC4zLTAuMywwLTAuNS0wLjEtMC43LTAuM2wtNy44LTguNC0uMi0uM3oiIGZpbGw9IiNGRkZGRkYiLz4KPC9zdmc+Cg==) no-repeat center center;
    background-size: 70% 70%;
}

.blocks-constructor-label-text {
    margin-left: 12px;
}

.blocks-constructor-picture-update {
    cursor: pointer;
    background: transparent none;
    border: 0;
    display: flex;
    align-items: center;
    padding: 0;
    color: #3797eb;
    margin-top: 20px;

    &:hover {
        color: lighten(#3797eb, 10%);
    }

    &:active {
        color: darken(#3797eb, 10%);
    }
}

.blocks-constructor-picture-update-icon {
    margin-right: 10px;
}

.block-constructor-grid {
    border-top: 1px solid #f4f5f7;
    padding-top: 0;
}

.blocks-constructor-link {
    color: #3797eb;

    &:hover {
        color: lighten(#3797eb, 10%);
    }
}

.blocks-constructor-buttons-actions,
.blocks-constructor-buttons-color-scheme {
    border-bottom: 1px rgb(240, 240, 240) solid;

    &__header {
        font-size: 14px;
        font-weight: bold;
    }

    &__content {
        padding: 24px;
    }
}

.blocks-constructor-buttons-color-scheme-preview {
    height: 100%;
    box-sizing: border-box;
}

.blocks-constructor-buttons-color-scheme__header {
    margin-bottom: 30px;
}

.blocks-constructor-buttons-color-scheme__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(165, 165, 165);
}


.blocks-constructor-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.blocks-constructor-picture--as-background {
    cursor: pointer;
}

.blocks-constructor-button-settings-modal {
    width: 680px;
}

.block-constructor-icon-error {
    display: inline-block;
    vertical-align: middle;
    color: #f15959;
}

@media (min-width: 980px) {
    .blocks-constructor-container {
        &:after {
            content: "";
            display: block;
            border-top: 2px dashed #e2e2e2;
            z-index: 0;
        }
    }
}

.lp-blocks-constructor-splitbutton {
    line-height: 2.5;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #cccccc;
    cursor: pointer;
    outline: none;
    height: 38px;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-flex;
    box-sizing: border-box;
    width: 50px;
}

.lp-blocks-constructor-splitbutton:hover {
    text-decoration: none;
}

.lp-blocks-constructor-splitbutton.selected {
    background-color: #3797eb;
    color: #fff;
}

.lp-blocks-constructor-splitbutton.lp-blocks-constructor-splitbutton-left {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.lp-blocks-constructor-splitbutton.lp-blocks-constructor-splitbutton-right {
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-left: 0px;
}

.blocks-constructor-modal {
    color: #222;
}

@for $i from 0 through 2 {
    /*35px - height element */
    /*52 - height tab .tabs-headers--common-settings*/
    #tabColorSchemeSettings_#{$i} {
        position: sticky;
        top: #{$i * 35 + 52}px;
    }
}
