$bgGradient: linear-gradient(to bottom, rgba(97, 151, 188, 0.92), rgba(8, 51, 93, 0.8));
$bgImageUrl: url('bg.jpg');
$bgCount: #41759b;
$colorCount: #e9e8f4;
$iconColor: #ffffff;
$iconHover: #bbbbbb;
$colorHoverLink: #cdcbe4;
$colorName: #e9e8f4;
$colorIcon: #e9e8f4;
$borderColor: rgba(255, 255, 255, 0.1);
$bgItemHover: rgba(49, 98, 134, 1);
$borderColorSubitem: rgba(255, 255, 255, 0.1);
$bgItemOpen: rgba(255,255,255, 0.1);
$bgItemSelected: rgba(255,255,255, 0.1);
$colorNameDefault: #e9e8f4;
$colorCategoryName: #a3a4a9;
$colorBorderSelectedMenuSimpleMode: #399ee2;
$bgTooltip: linear-gradient(to bottom, rgba(97, 151, 188, 0.92), rgba(8, 51, 93, 0.8));

$bgScrollbar: #5492bf;
$borderColorScrollbar: rgba(255, 255, 255, 0.1);
$bgScrollbarTrack: linear-gradient(to bottom, rgba(97, 151, 188, 0.92), rgba(8, 51, 93, 0.8));

.sidebar {
    background-image: $bgGradient, $bgImageUrl;

    &::-webkit-scrollbar-thumb {
        border: 1px solid $borderColorScrollbar; /* should match background, can't be transparent */
        background-color: $bgScrollbar;
    }

    &::-webkit-scrollbar-track {
        background-image: $bgScrollbarTrack;
    }

    &__name {
        color: $colorNameDefault;
    }

    &__counter {

        .new-item {
            background-color: $bgCount;
            color: $colorCount;
        }
    }

    &__link {
        &:hover {
            color: $colorHoverLink;

            .sidebar__name {
                color: $colorName;
            }
        }

        &--subitem {
            .sidebar__name {
                color: $colorName;
            }
        }
    }

    &__link--simple {
        color: $colorIcon;

        &:hover {
            color: $colorIcon;
        }
    }

    &__trigger {
        border-bottom: 1px solid $borderColor;

        &:hover, &--active, &--active:hover {
            background-color: $bgItemHover;
        }

        &:active {
            background-color: $bgItemHover;
            opacity: 0.7;
        }

        &--subitems {
            border-color: $borderColorSubitem;
        }
    }

    &.sidebar--compact:hover &__trigger {
        border-color: $borderColor;
    }

    &--compact &__icon--left,
    &__icon svg {
        color: $colorIcon;
    }


    &__item {

        &--open {
            background-color: $bgItemOpen;
        }

        &--selected {
            background-color: $bgItemSelected;
        }
    }

    &__category-item-name, &__name--link {
        color: $colorCategoryName;
    }

    &--simple {
        .sidebar {
            &__item--selected {
                border-left-color: $colorBorderSelectedMenuSimpleMode;
            }
        }
    }

    &.sidebar--compact.sidebar--simple {

        .sidebar__name {
            background: $bgTooltip;
            color: $colorNameDefault;

            &::after {
                background: $bgTooltip;
            }
        }
    }
}

.sidebar-action {

    &__inner {
        border: 1px solid $borderColor;
    }
}

.sidebar-unit-modal-trigger {

    &:hover &__icon {
        color: $iconHover;
    }

    &__icon {
        color: $iconColor;
    }
}

.mobile-version {
    .sidebar__link:hover {
        .sidebar__icon {
            color: currentColor;
        }
    }
}
