@model BlockModel
<div class="container-fluid">
    <div class="lp-container">
        <div class="row center-xs">
            <div class="col-xs-12">
                @if (Model.Block.TryGetSetting("show_title") == true)
                {
                    <div class="lp-block-modal-video-header lp-h2 lp-h2--color" data-e2e="TitleModalVideo">
                        @Html.SubBlock(Model, "title")
                    </div>
                }
                @if (Model.Block.TryGetSetting("show_subtitle") == true)
                {
                    <div class="lp-block-modal-video-text lp-h3 lp-h3--color" data-e2e="SubTitleModalVideo">
                        @Html.SubBlock(Model, "text")
                    </div>
                }
                <div class="modal-video-trigger" data-e2e="ContentModalVideo">
                    @Html.SubBlock(Model, "video")
                </div>
            </div>
        </div>
    </div>
</div>
