<div class="sidebar-user" ng-if="$ctrl.isShow">
    <i ng-click="$ctrl.close()" class="fa fa-times sidebar-user-close"></i>
    <div class="sidebar-user-main">
        <figure class="sidebar-user-photo-wrap">
            <ui-modal-trigger controller="'ModalAddEditUserCtrl'"
                              controller-as="ctrl"
                              template-url="../areas/admin/content/src/settings/modal/addEditUser/AddEditUser.html"
                              resolve="{'params': {'customerId': $ctrl.user.CustomerId}}">
                <a href=""><img ng-src="{{$ctrl.user.PhotoSrc}}" /></a>
            </ui-modal-trigger>
        </figure>
        <div class="sidebar-user-name">
            <!--<ui-modal-trigger controller="'ModalAddEditUserCtrl'"
                              controller-as="ctrl"
                              template-url="../areas/admin/content/src/settings/modal/addEditUser/AddEditUser.html"
                              resolve="{'params': {'customerId': $ctrl.user.CustomerId}}">-->
                    <span ng-bind="$ctrl.user.LastName + ' ' + $ctrl.user.FirstName"></span>
            <!--</ui-modal-trigger>-->
        </div>
        <div class="sidebar-user-position" ng-if="$ctrl.user.Position">
            <span ng-bind="$ctrl.user.Position"></span>
        </div>
        <div class="sidebar-user-btn" ng-if="$ctrl.user.HasTasksAccess">
            <ui-modal-trigger data-controller="'ModalAddTaskCtrl'"
                              controller-as="ctrl"
                              on-close="tasks.reload()" size="lg" backdrop="static"
                              template-url="../areas/admin/content/src/_shared/modal/addTask/addTask.html"
                              on-before-open="$ctrl.close()"
                              resolve="{'userData': {'assignedManager': $ctrl.user.AssociatedManagerId}}">
                <button class="btn btn-sm btn-success" type="button">
                    <span class="fa fa-plus"></span>
                    {{'Admin.Js.SidebarUsers.SetTask'|translate}}
                </button>
            </ui-modal-trigger>
        </div>
    </div>
    <div class="sidebar-user-data">
        <div class="row">
            <div class="col-xs-5">
                <div class="sidebar-user-col-left">
                    Email:
                </div>
            </div>
            <div class="col-xs">
                <div class="sidebar-user-col-right">
                    <a ng-href="mailto:{{$ctrl.user.Email}}" ng-bind="$ctrl.user.Email"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <div class="sidebar-user-col-left">
                    {{'Admin.Js.SidebarUser.Phone'|translate}}
                </div>
            </div>
            <div class="col-xs">
                <div class="sidebar-user-col-right">
                    <span ng-bind="$ctrl.user.Phone || ('Admin.Js.SidebarUser.NotIndicated'|translate)"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <div class="sidebar-user-col-left">
                    {{'Admin.Js.SidebarUser.City'|translate}}
                </div>
            </div>
            <div class="col-xs">
                <div class="sidebar-user-col-right">
                    <span ng-bind="$ctrl.user.City || ('Admin.Js.SidebarUser.NotIndicated'|translate)"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <div class="sidebar-user-col-left">
                    {{'Admin.Js.SidebarUser.DateOfBirth'|translate}}
                </div>
            </div>
            <div class="col-xs">
                <div class="sidebar-user-col-right">
                    <span ng-bind="($ctrl.user.BirthDay | date:'longDate') || ('Admin.Js.SidebarUser.NotIndicated'|translate)"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <div class="sidebar-user-col-left">
                    {{'Admin.Js.SidebarUser.Head'|translate}}
                </div>
            </div>
            <div class="col-xs">
                <div class="sidebar-user-col-right">
                    <div ng-switch="$ctrl.user.HeadCustomer != null">
                        <div ng-switch-when="true">
                            <sidebar-user-trigger customer-id="$ctrl.user.HeadCustomer.CustomerId">
                                <a href="" ng-bind="$ctrl.user.HeadCustomer.LastName + ' ' + $ctrl.user.HeadCustomer.FirstName"></a>
                            </sidebar-user-trigger>
                        </div>
                        <div ng-switch-when="false">
                            {{'Admin.Js.SidebarUser.NotIndicated'|translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <div class="sidebar-user-col-left">
                    {{'Admin.Js.SidebarUser.Department'|translate}}
                </div>
            </div>
            <div class="col-xs">
                <div class="sidebar-user-col-right">
                    <span ng-bind="$ctrl.user.DepartmentName || ('Admin.Js.SidebarUser.NotIndicated'|translate)"></span>
                </div>
            </div>
        </div>
    </div>
</div>