
<div class="sticky-page-name" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main">
            <h1 class="page-name-block-text sticky-page-name-text">
                @T("Admin.Certificates.Index.Title")
            </h1>
        </div>
        <div class="page-name-block-item-additional">
            
            <ui-modal-trigger data-controller="'ModalCertificateSettingsCtrl'" controller-as="ctrl"
                              template-url="../areas/admin/content/src/certificates/modal/certificateSettings/certificateSettings.html">
                <button class="btn btn-sm btn-success btn--margin-left" type="button">
                    @T("Admin.Certificates.Index.CertificatesSettings")
                </button>
            </ui-modal-trigger>

            <ui-modal-trigger data-controller="'ModalAddEditCertificatesCtrl'" controller-as="ctrl"
                              template-url="../areas/admin/content/src/certificates/modal/addEditCertificates/addEditCertificates.html"
                              data-on-close="certificates.grid.fetchData()"
                              data-size="xs-9">
                <button data-e2e="AddCertificates" class="btn btn-sm btn-success btn--margin-left" type="button">
                    <span class="fa fa-plus"></span> @T("Admin.Certificates.Index.AddCertificates")
                </button>
            </ui-modal-trigger>
        </div>
    </div>
</div>
<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="grid"
                        grid-on-init="certificates.gridOnInit(grid)"
                        grid-options="certificates.gridOptions"
                        grid-url="'certificates/getCertificates'"
                        grid-extend-ctrl="certificates">
            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="certificates.grid.gridOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>
