<div ng-init="lpSettings.initLp(lpId)">
    <div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic">

        <ul class="tabs-headers tabs-headers--common-settings row start-xs thin-scroll">
            <li id="tabHeaderMenu" class="tabs-header-item col-xs-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Основные
                </span>
            </li>
            <li id="tabHeaderFonts" class="tabs-header-item col-xs-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Шрифты и цвета
                </span>
            </li>
            <li id="tabHeaderFav" class="tabs-header-item col-xs-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Иконка
                </span>
            </li>
            <li id="tabHeaderCss" class="tabs-header-item col-xs-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    CSS стили
                </span>
            </li>
            <li id="tabAccess" class="tabs-header-item col-xs-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Доступ
                </span>
            </li>
        </ul>

        <div class="tabs-content tabs-content--common-settings">
            <div class="tab-content" data-tab-content="tabHeaderMenu" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div>
                    <div class="blocks-constructor-buttons-color-scheme__content">
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                Название страницы
                            </div>
                            <input class="blocks-constructor-input" data-e2e="PageName" type="text" ng-model="lpSettings.settings.LpName" />
                        </div>

                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                Заголовок страницы
                            </div>
                            <input class="blocks-constructor-input" data-e2e="PageTitle" type="text" ng-model="lpSettings.settings.PageTitle" />
                        </div>

                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Урл страницы
                            </div>
                            <input class="blocks-constructor-input" data-e2e="PageUrl" type="text" ng-model="lpSettings.settings.LpUrl" />
                        </div>

                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                Ключевые слова
                            </div>
                            <textarea class="blocks-constructor-textarea lp-settings__textarea-keywords" data-e2e="PageKeywords" ng-model="lpSettings.settings.PageKeywords"></textarea>
                        </div>

                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                Мета описание
                            </div>
                            <textarea class="blocks-constructor-textarea lp-settings__textarea-description" data-e2e="PageDescription" ng-model="lpSettings.settings.PageDescription"></textarea>
                        </div>

                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                html-блок в head
                            </div>
                            <textarea class="blocks-constructor-textarea lp-settings__textarea-description" data-e2e="PageHeadHtml" ng-model="lpSettings.settings.PageHeadHtml"></textarea>
                        </div>

                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                <a ng-href="{{lpSettings.settings.LpSiteUrl}}" data-e2e="LpSiteUrl" target="_blank">Общие для страниц настройки: домен, метрика, HTML-блоки и т.д.</a>
                            </div>
                        </div>

                        <div class="blocks-constructor-row">
                            <label class="blocks-constructor-label" data-e2e="DisableBlocksOnAllPages">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="lpSettings.settings.DisableBlocksOnAllPages" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Отключить показ сквозных блоков
                                </span>
                            </label>
                        </div>

                        <div class="blocks-constructor-row">
                            <label class="blocks-constructor-label" data-e2e="ShowShoppingCart">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="lpSettings.settings.ShowShoppingCart" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Показывать корзину
                                </span>
                            </label>
                            <div class="blocks-constructor-select">
                                <select data-e2e="ShoppingCartTypes" ng-model="lpSettings.settings.ShoppingCartType" convert-to-number
                                        ng-options="item.Value as item.Text for item in lpSettings.settings.ShoppingCartTypes">
                                </select>
                            </div>
                        </div>

                        <div class="blocks-constructor-row" ng-if="lpSettings.settings.ShowShoppingCart">
                            <label class="blocks-constructor-label" data-e2e="ShoppingCartHideShipping">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="lpSettings.settings.ShoppingCartHideShipping" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Скрывать доставку на оформлении заказа
                                </span>
                            </label>
                        </div>

                        <div class="blocks-constructor-row" data-e2e="StartNewLp">
                            <label class="blocks-constructor-label">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="lpSettings.settings.IgnoreActionParams" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Начинать как новую воронку
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content" data-tab-content="tabHeaderFonts" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div>
                    <div class="blocks-constructor-buttons-color-scheme__content">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="blocks-constructor-row__name">
                                    Шрифт
                                </div>
                                <div class="blocks-constructor-select">
                                    <select ng-model="lpSettings.settings.FontMain" data-e2e="FontMain" ng-options="item.Value as item.Text for item in lpSettings.settings.Fonts"></select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="blocks-constructor-row__name">
                                    Высота строки
                                </div>
                                <div>
                                    <input class="blocks-constructor-input" data-e2e="lineHeight" type="text" ng-model="lpSettings.settings.LineHeight" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blocks-constructor-modal--settings">
                    <div data-tabs class="tabs tabs-vertical tabs-lp--minimalistic">
                        <ul class="tabs-headers row center-xs start-sm">
                            <li id="tabColorSchemeSettings_{{$index}}"
                                ng-repeat="item in lpSettings.settings.ColorSchemes track by $index"
                                class="blocks-constructor-modal__tabs-header tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                                    {{item.Name}}
                                </span>
                            </li>
                        </ul>
                        <div class="tabs-content" style="padding:0;">
                            <div class="tab-content" data-tab-content="tabColorSchemeSettings_{{$index}}" data-ng-class="{'tab-content-active': tabContent.header.selected}"
                                 ng-repeat="item in lpSettings.settings.ColorSchemes track by $index">
                                    <color-scheme-settings settings="item" font-main="lpSettings.settings.FontMain" font-height="lpSettings.settings.LineHeight"></color-scheme-settings>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content" data-tab-content="tabHeaderFav" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="blocks-constructor-buttons-color-scheme__content">

                    <div class="m-b-xs" ng-if="lpSettings.settings.Favicon != null && lpSettings.settings.Favicon.length > 0">
                        Иконка <img class="vertical-middle" ng-src="{{lpSettings.settings.Favicon}}" />
                    </div>
                    <picture-loader lp-id="lpSettings.lpId"
                                    current="lpSettings.settings.Favicon"
                                    upload-url-file="'landing/landingInplace/uploadFavicon'"
                                    upload-url-by-address="'landing/landingInplace/uploadFaviconByUrl'"
                                    upload-url-cropped="'landing/landingInplace/uploadFaviconCropped'"
                                    delete-url="'landing/landingInplace/removeFavicon'"
                                    delete-picture="true"
                                    on-apply="lpSettings.onFaviconChanged(result)"
                                    on-delete="lpSettings.onFaviconDeleted()"
                                    cropper-params="{aspectRatio: '1' }"
                                    max-width-picture="32"
                                    max-height-picture="32"
                                    on-init="lpSettings.pictureLoaderFaviconOnInit(pictureLoader)">
                    </picture-loader>

                    <div class="m-t-sm">
                        Рекомендуемый размер 32 x 32 px<br />
                        Favicon может быть только форматов *.ico, *.png или *.gif
                    </div>
                </div>

            </div>
            
            <div class="tab-content" data-tab-content="tabHeaderCss" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <ui-ace-textarea ui-ace-options="{mode: 'css'}" ng-model="lpSettings.settings.PageCss"></ui-ace-textarea>
            </div>

            <div class="tab-content" data-tab-content="tabAccess" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="blocks-constructor-buttons-color-scheme__content">
                    <div ng-if="!lpSettings.settings.SiteRequireAuth">
                        <div class="blocks-constructor-row">
                            <label class="blocks-constructor-label" data-e2e="RequireAuth">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="lpSettings.settings.RequireAuth"/>
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Требовать логин и пароль для доступа к странице
                                </span>
                            </label>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Ссылка на страницу регистрации
                            </div>
                            <input class="blocks-constructor-input" data-e2e="AuthRegUrl" type="text" ng-model="lpSettings.settings.AuthRegUrl"/>
                            <div>
                                Здесь можно указать адрес страницы, где посетитель сможет получить/купить доступ к странице
                            </div>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Условия отображения страницы
                            </div>
                            <div class="blocks-constructor-select blocks-constructor-row">
                                <select data-e2e="AuthFilterRules" ng-model="lpSettings.settings.AuthFilterRule" convert-to-number
                                        ng-options="item.Value as item.Text for item in lpSettings.settings.AuthFilterRules">
                                </select>
                            </div>

                            <div ng-switch="lpSettings.settings.AuthFilterRule">
                                <div ng-switch-when="1">
                                    <!--<div ng-init="lpSettings.getAuthOrderProduct(lpSettings.settings.AuthOrderProductId)" ng-if="lpSettings.settings.AuthOrderProductId != null" class="m-b-sm">
                                        Товар: <a href="/adminv2/product/edit/{{lpSettings.AuthOrderProduct.ProductId}}" target="_blank">
                                            {{lpSettings.AuthOrderProduct.Name}}
                                        </a>
                                        <a ng-click="lpSettings.settings.AuthOrderProductId = null; lpSettings.AuthOrderProduct = null" href="" class="m-l-xs m-r-lg" title="Удалить">
                                            <span class="fas fa-times"></span>
                                        </a>
                                    </div>-->

                                    <div ng-init="lpSettings.getAuthOrderProducts(lpSettings.settings.AuthOrderProductIds)"
                                            ng-if="lpSettings.settings.AuthOrderProductIds != null && lpSettings.settings.AuthOrderProductIds.length > 0"
                                            class="m-b-sm">
                                        Товары:

                                        <div data-e2e="AuthOrderProducts" ng-repeat="item in lpSettings.AuthOrderProducts track by $index">
                                            <a href="/adminv2/product/edit/{{item.ProductId}}" target="_blank">
                                                {{item.Name}}
                                            </a>
                                            <a ng-click="lpSettings.deleteAuthOrderProduct(item)" href="" class="m-l-xs m-r-lg" title="Удалить">
                                                <span class="fas fa-times"></span>
                                            </a>
                                        </div>

                                    </div>

                                    <a ng-click="lpSettings.selectProduct()" data-e2e="WidthColumn" href="">Выбрать товары</a>
                                </div>

                                <div ng-switch-when="2">
                                    <div>
                                        <div class="blocks-constructor-row__name ">
                                            Список лидов
                                        </div>
                                        <div class="blocks-constructor-select blocks-constructor-row">
                                            <select data-e2e="SalesFunnels" ng-model="lpSettings.settings.AuthLeadSalesFunnelId" convert-to-number
                                                    ng-options="item.Value as item.Text for item in lpSettings.settings.SalesFunnels"
                                                    ng-change="lpSettings.getDealStatuses(lpSettings.settings.AuthLeadSalesFunnelId)">
                                                <option value="">Не выбрано</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div ng-if="lpSettings.settings.AuthLeadSalesFunnelId != null">
                                        <div class="blocks-constructor-row__name ">
                                            Статус
                                        </div>
                                        <div class="blocks-constructor-select blocks-constructor-row" ng-init="lpSettings.getDealStatuses(lpSettings.settings.AuthLeadSalesFunnelId)">
                                            <select data-e2e="DealStatuses" ng-model="lpSettings.settings.AuthLeadDealStatusId" convert-to-number
                                                    ng-options="item.value as item.label for item in lpSettings.DealStatuses">
                                                <option value="">Любой</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="lpSettings.settings.SiteRequireAuth">
                        <div class="blocks-constructor-row">
                            <label class="blocks-constructor-label" data-e2e="AllowAccess">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="lpSettings.settings.AllowAccess" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Открыть доступ к этой странице всем
                                </span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
