<form name="formAddTrigger" novalidate>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">Добавление триггера</h2>
    </div>
    <div class="modal-body">
        <div class="m-b">
            <b>Выберите триггер</b>
            <div class="m-t-sm m-b-sm">
                После того как в системе произойдет следующее событие:
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <select ng-model="ctrl.eventType"
                            ng-options="s.Id as s.Name for s in ctrl.data.EventTypes"
                            ng-change="ctrl.changeEventType()"
                            class="form-control">
                    </select>
                </div>
                
            </div>
            <div class="row m-t" ng-if="ctrl.showEventObject">
                <div class="col-xs-12">
                    {{'Admin.Js.SettingsTasks.On'|translate}}
                    <select ng-model="ctrl.eventObjectGroup"
                            ng-if="ctrl.eventObjectGroups"
                            ng-options="s.value as s.label for s in ctrl.eventObjectGroups"
                            ng-change="ctrl.getEventObjects(ctrl.eventObjectGroup)"
                            class="form-control m-r-sm"
                            style="width: 220px; display: inline-block;"></select>

                    <select ng-model="ctrl.eventObject" ng-options="s.label for s in ctrl.eventObjects track by s.value"
                            required validation-input-text="{{'Admin.Js.SettingsTasks.Type'|translate}}"
                            class="form-control"
                            style="width: 230px; display: inline-block;">
                    </select>
                </div>
            </div>

            <div class="row m-t">
                <div class="col-xs-12">
                    <!-- Время с последнего заказа -->
                    <div ng-if="ctrl.eventType == 7">
                        через <input type="text" ng-model="ctrl.eventObjValue"
                                     required validation-input-text="{{'Admin.Js.SettingsTasks.Type'|translate}}"
                                     class="form-control" style="width: 80px; display: inline-block;" /> дней
                    </div>

                    <!-- Важные даты -->
                    <div ng-if="ctrl.eventType == 8">
                        дата
                        <div style="display: inline-block; width: 150px; position: relative; vertical-align: middle; min-height: 34px;">
                            <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true}">
                                <span class="flatpickr-custom-wrap">
                                    <input type="text" ng-flatpickr-input ng-model="ctrl.triggerParams.DateTime" class="form-control" />
                                    <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                </span>
                                <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>

                        <div style="display: inline-block;" class="m-l-sm">
                            <select ng-model="ctrl.triggerParams.Since"
                                    ng-options="s.value as s.label for s in ctrl.sinceOptions"
                                    class="form-control" style="width: 90px; display: inline-block;"></select>
                            <input type="text" ng-model="ctrl.triggerParams.Days"
                                   required validation-input-text="{{'Admin.Js.SettingsTasks.Type'|translate}}"
                                   class="form-control" style="width: 50px; display: inline-block;" /> дн.
                        </div>

                        <div style="display: inline-block" class="m-l-md">
                            <label class="adv-checkbox-label">
                                <input ng-model="ctrl.triggerParams.IgnoreYear" type="checkbox" class="adv-checkbox-input control-checkbox" />
                                <span class="adv-checkbox-emul"></span>
                                Игнорировать год
                            </label>
                        </div>
                    </div>

                    <!-- Важные даты покупателя -->
                    <div ng-if="ctrl.eventType == 9">
                        <select ng-model="ctrl.triggerParams.CustomFieldId"
                                ng-if="ctrl.eventObjectGroups"
                                ng-init="ctrl.triggerParams.CustomFieldId = ctrl.triggerParams.CustomFieldId || ctrl.eventObjectGroups[0].value"
                                ng-options="s.value as s.label for s in ctrl.eventObjectGroups"
                                class="form-control m-r-sm"
                                style="width: 200px; display: inline-block;"></select>

                        <div style="display: inline-block;" class="m-l-sm">
                            <select ng-model="ctrl.triggerParams.Since"
                                    ng-options="s.value as s.label for s in ctrl.sinceOptions"
                                    class="form-control" style="width: 90px; display: inline-block;"></select>

                            <input type="text" ng-model="ctrl.triggerParams.Days"
                                   required validation-input-text="{{'Admin.Js.SettingsTasks.Type'|translate}}"
                                   class="form-control" style="width: 50px; display: inline-block;" /> дн.
                        </div>

                        <div style="display: inline-block" class="m-l-md">
                            <label class="adv-checkbox-label">
                                <input ng-model="ctrl.triggerParams.IgnoreYear" type="checkbox" class="adv-checkbox-input control-checkbox" />
                                <span class="adv-checkbox-emul"></span>
                                Игнорировать год
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="m-t">
            <div class="m-b-xs">
                <b>Категория триггера</b>
            </div>
            <div class="row m-b">
                <div class="col-xs-12">
                    <select ng-model="ctrl.categoryId" convert-to-number required
                            ng-options="s.value as s.label for s in ctrl.categories"
                            class="form-control">
                    </select>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation data-button-validation-success="ctrl.addTrigger()" ladda="ctrl.btnLoading">{{'Admin.Js.AddProduct.Add'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddProduct.Cancel'|translate}}</button>
    </div>
</form>