@model AdvantShop.App.Landing.Models.Users.AuthViewModel
<div class="lp-main">
    <div class="block-user">
        <div class="container-fluid auth-container">
            <div class="lp-container">
                <div class="row center-xs text-left">
                    <div class="col-xs-12 col-md-6">
                        <div class="lp-form lp-form--vertical">
                            <h1 class="m-b-md auth-block__title">@T("User.Login.SignInFunnel")</h1>
                            <div>
                                @Html.Action("Authorization", "User", new {
                                   area = "",
                                   redirectTo = Model.From,
                                   forgotPasswordUrl = Url.AbsoluteRouteUrl("ForgotPassword", new { lpId = LpService.CurrentLanding.Id }),
                                   RegistrationUrl = !string.IsNullOrEmpty(Model.RegistrationUrl) ? Model.RegistrationUrl : Url.Action("Registration", "User", new { area = "", lpid = LpService.CurrentLanding.Id }),
                                   IsLanding = true
                                })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
