@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/carousels</span>
        <span class="description">Список слайдов в каруселе</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.CarouselsUrl
        </div>
        
        <div class="m-t m-b-xs">
            <h3>Фильтр. Все поля не обязательны.</h3>
        </div>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">enabled</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Активность слайда</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">displayInMobile</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Выводится в моб. версии</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">displayInTwoColumns</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Выводится в двух колоночном режиме</div>
            </div>
            <div class="row m-b">
                <div class="col-xs-2">displayInOneColumn</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Выводится в одноколоночном режиме</div>
            </div>
        </div>
        
                <h3 class="m-t">Пример запроса</h3>
                <pre class="m-t-sm">/api/carousels?enabled=true&displayInMobile=true</pre>
        
        <div class="m-t m-b-xs">
            <h3>Ответ</h3>
        </div>
        <pre class="m-t-sm">[
    {
        "carouselId": 1,
        "sortOrder": 10,
        "url": "",
        "enabled": true,
        "displayInOneColumn": false,
        "displayInTwoColumns": true,
        "displayInMobile": false,
        "blank": false,
        "picture": {
            "src": "https://sitedomain.ru/carousel/slide1.jpg",
            "alt": ""
        }
    },
    {
        "carouselId": 2,
        "sortOrder": 20,
        "url": "",
        "enabled": true,
        "displayInOneColumn": true,
        "displayInTwoColumns": false,
        "displayInMobile": true,
        "blank": false,
        "picture": {
            "src": "https://sitedomain.ru/carousel/slide2.jpg",
            "alt": ""
        }
    },
    ...
]
</pre>
    </div>
</div>