<div class="" ng-controller="SettingsApiWebhooksCtrl as apiWebhooks">
    <div class="flex between-xs m-b-sm">
        <div class="setting-title m-t-none m-b-none">
            <h2 class="page-name-block-text sticky-page-name-text m-b-none">Webhooks</h2>
        </div>
        <div class="m-b-sm flex middle-xs end-xs">
            <ui-modal-trigger class="pull-right" backdrop="static" size="lg" data-controller="'ModalAddEditApiWebhookCtrl'" data-controller-as="ctrl"
                              data-on-close="apiWebhooks.addApiWebhookModal(result)"
                              template-url="../areas/admin/content/src/settings/modal/addEditApiWebhook/addEditApiWebhook.html">
                <button class="btn btn-sm btn-success" type="button"
                        disabled ng-disabled="!apiWebhooks.gridInited || !apiWebhooks.loadedWebhooks">
                    <span class="fa fa-plus"></span>
                    {{'Admin.Js.AddEdit.Add'|translate}}
                </button>
            </ui-modal-trigger>
        </div>
    </div>
    <div>
        <ui-grid-custom grid-unique-id="gridApiWebhooks"
                        grid-on-init="apiWebhooks.gridApiWebhooksOnInit(grid)"
                        grid-filter-enabled="false"
                        grid-pagination-enabled="false"
                        grid-selection-enabled="false"
                        grid-options="apiWebhooks.gridApiWebhooksOptions"
                        grid-extend-ctrl="apiWebhooks"
                        grid-empty-text="'Нет Webhooks'">
        </ui-grid-custom>
    </div>
</div>
