<h2 class="m-b-md clearfix">
    {{'Admin.Js.PartnerCustomers.Customers'|translate}}
    <customer-info-trigger partner-id="$ctrl.partnerId">
        <a class="pull-right btn btn-sm btn-action btn--margin-left" href="">{{'Admin.Js.PartnerCustomers.CreateCustomer'|translate}}</a>
    </customer-info-trigger>
    <ui-modal-trigger data-controller="'ModalSelectCustomerCtrl'" controller-as="ctrl" size="middle"
                      template-url="../areas/admin/content/src/_shared/modal/selectCustomer/selectCustomer.html"
                      data-on-close="$ctrl.bindCustomer(result)">
        <a href="" class="pull-right btn btn-sm btn-action">{{'Admin.Js.PartnerCustomers.BindCustomer'|translate}}</a>
    </ui-modal-trigger>
</h2>
<div class="m-b-lg">
    <div class="row">
        <div class="col-xs-12">
            <ui-grid-custom grid-unique-id="gridPartnerCustomers"
                            grid-on-init="$ctrl.gridPartnerCustomers = grid"
                            grid-filter-enabled="false"
                            grid-selection-enabled="false"
                            grid-params="{partnerId: $ctrl.partnerId}"
                            grid-extend-ctrl="$ctrl"
                            grid-options="$ctrl.gridOptions"
                            grid-url="'partners/getBindedCustomers'">
            </ui-grid-custom>
        </div>
    </div>
</div>