@model BlockModel

@if (Model.Block.TryGetSetting("show_title") == true)
{
    <div class="lp-h lp-h2 lp-h2--color @(Model.Block.TryGetSetting("show_subtitle") == false ? "lp-h2--single" : "")" data-e2e="TitleBlock">
        @Html.SubBlock(Model, "title")
    </div>
} 
@if (Model.Block.TryGetSetting("show_subtitle") == true)
{
    <div class="lp-h lp-h3 lp-h3--color @(Model.Block.TryGetSetting("show_title") == false ? "lp-h3--single" : "")" data-e2e="SubTitleBlock">
        @Html.SubBlock(Model, "subtitle")
    </div>
}