@model string
@using AdvantShop.Configuration;
<!--noindex-->
<div class="cookies-policy color-scheme--light" data-cookies-policy-modal="true" data-ng-show="!cookiesPolicy.accepted" data-cookie-name="@Model">
    <div class="cookies-policy-block link-text-decoration-none">
        <div class="cookies-policy-cell">
            @Html.Raw(SettingsNotifications.CookiesPolicyMessageFormatted)
            <div class="cookies-policy-button">
                <button data-ng-click="cookiesPolicy.close()" type="button" class="lp-btn lp-btn--primary lp-btn--sm">@T("Js.Modal.Close")</button>
            </div>
        </div>
        <a href="javascript:void(0)" class="link icon-cancel-before link-text-decoration-none cookies-policy-close cs-t-3" data-ng-click="cookiesPolicy.close()"></a>
    </div>
</div>
<!--/noindex-->