.order-items-demensions__block {
    display: inline-flex;
    align-items: center;
}

.order-items-demensions__text,
.order-items-demensions__input {
    margin: 0 5px;
}

.order-items-demensions__input {
    width: 54px;
    text-align: center;
}

.order-items-demensions__button {
    border: 0;
    margin: 0;
    padding: 6px 2px;
    background: transparent;
    font-size: 20px;
    margin-left: 5px;
}

.order-items-demensions__button--small {
    font-size: 14px;
    min-height: 32px;
}

.order-items-demensions__button--danger {
    color: #f15959;
}

.order-items-demensions__button--confirm {
    color: rgb(139, 195, 74);
}

.order-items-note {
    color: #ccc;
    margin-left: 5px;
    font-weight: normal;
}
