@model AdvantShop.ViewModel.Mobile.MobileOverlapViewModel
<div data-oc-lazy-load="[{files: [@Html.RenderAssetFilesList("mobileOverlap", "")]}]" class="oc-lazy-load-cloak">
    <div data-ng-include="'./scripts/_mobile/mobileOverlap.html'"></div>
</div>