<div class="countdown-admin wSeconds">
    <div class="countdown-admin-item-wrap" data-ng-if="countdown.isShowDays">
        <div class="countdown-admin-item">
            <span>{{countdown.dataTime.days < 10 ? 0 : countdown.dataTime.days.toString().charAt(0)}}{{countdown.dataTime.days < 10 ? countdown.dataTime.days.toString().charAt(0) : countdown.dataTime.days.toString().charAt(1)}}</span>
        </div>
        <div class="countdown-item-label">
            {{ ::'Js.Countdown.Days' | translate }}
        </div>
    </div>

    <div class="countdown-admin-item-wrap">
        <div class="countdown-admin-item">
            <span>{{countdown.dataTime.hours < 10 ? 0 : countdown.dataTime.hours.toString().charAt(0)}}{{countdown.dataTime.hours < 10 ? countdown.dataTime.hours.toString().charAt(0) : countdown.dataTime.hours.toString().charAt(1)}}</span>
        </div>
        <div class="countdown-item-label">
            {{ ::'Js.Countdown.Hours' | translate }}
        </div>
    </div>


    <div class="countdown-admin-item-wrap">
        <div class="countdown-admin-item">
            <span>{{countdown.dataTime.minutes < 10 ? 0 : countdown.dataTime.minutes.toString().charAt(0)}}{{countdown.dataTime.minutes < 10 ? countdown.dataTime.minutes.toString().charAt(0) : countdown.dataTime.minutes.toString().charAt(1)}}</span>
        </div>
        <div class="countdown-item-label">
            {{ ::'Js.Countdown.Minutes' | translate }}
        </div>
    </div>


    <div class="countdown-admin-item-wrap">
        <div class="countdown-admin-item">
            <span>{{countdown.dataTime.seconds < 10 ? 0 : countdown.dataTime.seconds.toString().charAt(0)}}{{countdown.dataTime.seconds < 10 ? countdown.dataTime.seconds.toString().charAt(0) : countdown.dataTime.seconds.toString().charAt(1)}}</span>
        </div>
        <div class="countdown-item-label">
            {{ ::'Js.Countdown.Seconds' | translate }}
        </div>
    </div>

</div>



