@import '../../../styles/_variable.scss';

@mixin designFilterSelected {
    font-weight: 600;
    text-decoration: none;
    color: #555555;
    cursor: default;
}


.modal-body-template-setting {
    background: #eee;
}

.design-theme-treeview-item {
    padding: 5px 0 5px 10px;
}

.design-theme-treeview-item .fa-folder-open {
    color: #d6be08;
    font-size: 14px;
}

.design-theme-treeview-item a {
    color: #475761;
    text-decoration: none;
}

.design-theme-treeview-sub-item {
    padding: 5px 0 0 20px;
}
.design-theme-files-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, 155px);
    grid-gap: 15px;
}
.design-theme-files-item {
    padding: 15px;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.design-theme-files-item:first-child {
    margin-left: 0;
}

.design-theme-files-item:hover {
    border: solid 1px #ccc;
    padding: 14px;
    border-radius: 5px;
}

.design-theme-files-item .design-theme-files-item-preview {
    padding: 3px;
    height: 125px;
}

.design-theme-files-item .design-theme-files-item-preview .design-theme-files-item-preview-img {
    max-height: 120px;
    max-width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.design-theme-files-item .design-theme-files-item-name {
    word-break: break-all;
}

.design-theme-files-item .design-theme-files-remove {
    float: right;
    font-size: 18px;
    text-decoration: none;
    color: red;
    display: none;
}

.design-theme-files-item:hover .design-theme-files-remove {
    display: block;
    position: absolute;
    top: 0;
    right: 3px;
}

.design__filter {
    display: none;

    &--all:checked {
        ~ .design__filter-label--all {
            @include designFilterSelected;
        }
    }

    &--paid:checked {
        ~ .design__filter-label--paid {
            @include designFilterSelected;
        }

        ~ .design__items .design__item--free {
            display: none;
        }
    }

    &--free:checked {

        ~ .design__filter-label--free {
            @include designFilterSelected;
        }

        ~ .design__items .design__item--paid,
        ~ .design__item--trial {
            display: none;
        }
    }
}

.design__filter-label {
    margin-right: 15px;
    text-decoration: underline;
    color: #2d9cee;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;

    &:hover {
        text-decoration: none;
    }
}