<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.OrderItemsSummary.Payment'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div data-payment-list
             data-items="ctrl.payments"
             data-select-payment="ctrl.selectPayment"
             data-count-visible-items="::7"
             data-change="ctrl.changePayment(payment)"
             data-is-progress="ctrl.paymentLoading"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.save()">{{'Admin.Js.AddEdit.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
