<div>
    <div class="order-history-title"
         data-ng-if="parentScope.titleText != null && parentScope.titleText.length > 0"
         data-ng-bind="parentScope.titleText">
    </div>
    <table class="order-history js-table-responsive-ignore">
        <thead class="order-history-header">
            <tr>
                <th class="order-history-header-item order-history-header-item__orderdate order-history-id cs-bg-3">
                    <span>№, {{ ::'Js.Order.OrderDate' | translate }}</span>
                </th>
                <th class="order-history-header-item order-history-header-item__status cs-bg-3">
                    <span>{{ ::'Js.Order.Status' | translate }}</span>
                </th>
                <th class="order-history-header-item order-history-header-item__delivery cs-bg-3 order-history-header-item--hidden-xs order-history-header-item--visible-sm">
                    <span>{{ ::'Js.Order.Delivery' | translate }}</span>
                </th>
                <th class="order-history-header-item order-history-header-item__payment cs-bg-3 order-history-header-item--hidden-xs order-history-header-item--visible-sm">
                    <span>{{ ::'Js.Order.Payment' | translate }}</span>
                </th>

                <th class="order-history-header-item order-history-header-item__paied cs-bg-3 order-history-header-item--hidden-xs order-history-header-item--visible-sm">
                    <span>{{ ::'Js.Order.IsPaied' | translate }}</span>
                </th>
                <th class="order-history-header-item order-history-header-item__cost cs-bg-3">
                    <span>{{ ::'Js.Order.Cost' | translate }}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="order-history-body-item-row color-scheme__bg--alt-hover" data-ng-repeat="item in parentScope.items.Orders track by $index" data-ng-click="parentScope.view(item.OrderNumber)">
                <td class="order-history-body-item order-history-id">
                    <span><span class="order-history-body-item__order-number">№ {{item.OrderNumber}}</span> <span class="order-history-body-item__order-date-time">{{item.OrderDate}} {{item.OrderTime}}</span></span>
                </td>
                <td class="order-history-body-item order-history-body-item__status">
                    <span>{{item.Status}}</span>
                </td>
                <td class="order-history-body-item order-history-body-item__shipping order-history-header-item--hidden-xs order-history-header-item--visible-sm">
                    <div>{{item.ShippingMethodName}}</div>
                    <div class="order-history-track-number cs-t-3" data-ng-click="$event.stopPropagation()" data-ng-if="item.TrackNumber.length > 0">
                        {{ ::'Js.OrderHistory.TrackNumber' | translate }}: {{item.TrackNumber}}
                    </div>
                </td>
                <td class="order-history-body-item order-history-body-item__payment order-history-header-item--hidden-xs order-history-header-item--visible-sm">
                    <span>{{item.ArchivedPaymentName}}</span>
                </td>
                <td data-ng-class="{'order-history-body-item__paied--positive': item.Payed === true, 'order-history-body-item__paied--negative': item.Payed === false}"
                    class="order-history-body-item order-history-body-item__paied order-history-header-item--hidden-xs order-history-header-item--visible-sm">
                    <span class="order-history-body-item__paied-text">{{item.Payed ? 'Js.Order.Yes' : 'Js.Order.No' | translate}}</span>
                </td>
                <td class="order-history-body-item order-history-body-item__sum order-history-body-item-cost icon-right-open-after m-r-lg">
                    <span>{{item.Sum}}</span>
                    <div class="order-history-header-item--visible-xs order-history-header-item--hidden-sm">
                        {{ ::'Js.Order.IsPaied' | translate }}: {{item.Payed ? 'Js.Order.Yes' : 'Js.Order.No' | translate}}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="7" class="order-history-body-item" data-ng-if="parentScope.items.Orders.length == 0">
                    <div class="order-history-empty-text">{{ ::'Js.Order.EmptyOrderListMsg' | translate }}</div>
                    <div ng-if="!parentScope.isLp">
                        <a href="catalog" class="btn btn-middle btn-action">{{ ::'Js.Order.GoToCatalog' | translate }}</a>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="order-history-footer-item" colspan="7" data-ng-if="parentScope.items.Orders.length > 0">
                    <span class="order-history-footer-text">{{ ::'Js.Order.OrderSum' | translate }}:</span>
                    <span class="order-history-footer-result">{{parentScope.items.TotalSum}}</span><br />
                    <span class="order-history-footer-note cs-t-3">{{ ::'Js.Order.OrderSumText' | translate }}</span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>