<!--<ng-form name="pointdelivery">-->
    <div>
        <div class="flex m-b-md">
            <div>
                <ui-modal-trigger data-controller="'ModalAddPointDeliveryCtrl'" controller-as="ctrl"
                                  template-url="../areas/admin/content/src/shippingMethods/modal/addPointDelivery/addPointDelivery.html"
                                  data-resolve="item"
                                  data-on-close="$ctrl.addPoint(result)">
                    <a href="" class="btn btn-action">{{'Admin.Js.ShippingMethods.Add'|translate}}</a>
                </ui-modal-trigger>
            </div>
        </div>

        <div id="pointDeliverySortingContainer" class="relative">
            <div class="m-b-md sortable-row ng-cloak" ng-model="$ctrl.points" as-sortable="$ctrl.sortableOptions">
                <div ng-repeat="item in $ctrl.points" as-sortable-item>
                    <div class="flex payment-row middle-xs between-xs">
                        <div class="col-xs">
                            <div class="as-sortable-item-handle" as-sortable-item-handle>
                                <div class="flex middle-xs">
                                    <div class="as-sortable-item-handle" as-sortable-item-handle>
                                        <icon-move />
                                    </div>
                                    <span data-ng-bind="item.Address"></span>
                                </div>
                            </div>
                        </div>
                        <div class="flex middle-xs col-fixed-size-xs">
                            <ui-modal-trigger data-controller="'ModalAddPointDeliveryCtrl'" controller-as="ctrl"
                                              template-url="../areas/admin/content/src/shippingMethods/modal/addPointDelivery/addPointDelivery.html"
                                              data-resolve="{point: item}"
                                              data-on-close="$ctrl.editPoint(result, item)">
                                <a ng-href="" class="link-invert ui-grid-custom-service-icon fas fa-pencil-alt"></a>
                            </ui-modal-trigger>
                            <a href="" ng-click="$ctrl.deletePoint(item)" class="link-invert link-decoration-none fas fa-times"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="pointsjson" value="{{$ctrl.points | json}}" />
        <input type="text" ng-model="$ctrl.update" class="hidden" />

    </div>
<!--</ng-form>-->