@import "defFuncValues.scss";

@function toEm($target, $context: $hfs) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

@function toEmSize($target, $context) {
   @if $target == 0 { @return 0 }
   @return unquote(($target / $context)*100 + '%') ;
}

@mixin font-face($style-name, $file, $family, $category: "") {
    $filepath: "../../../fonts/" + $file;

    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".woff2") format('woff2'), url($filepath + ".woff") format('woff');
    }

    %#{$style-name} {
        font: {
            @if $category != "" {
                family: (quote(#{$style-name}), $category);
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}





