<div>
    <div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic">
        <ul class="tabs-headers row center-xs start-sm">
            <li id="tabHeaderForm" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active cs-br-1' : tabHeader.selected}">
                <a href="" class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Поля формы
                </a>
            </li>
            <li id="tabHeaderActions" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active cs-br-1' : tabHeader.selected}">
                <a href="" class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Действия после отправки
                </a>
            </li>
            <li id="tabHeaderGoals" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active cs-br-1' : tabHeader.selected}">
                <a href="" class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Цели
                </a>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="tab-content" data-tab-content="tabHeaderForm" data-ng-class="{'tab-content-active': tabContent.header.selected}">


                <div class="blocks-constructor-table">
                    <div class="blocks-constructor-table-row">
                        <div class="blocks-constructor-table-name">
                            <label>Заголовок</label>
                        </div>
                        <div class="blocks-constructor-table-value">
                            <input type="text" data-e2e="Title" ng-model="$ctrl.settings.form.Title" />
                        </div>
                    </div>
                    <div class="blocks-constructor-table-row">
                        <div class="blocks-constructor-table-name">
                            <label>Текст кнопки</label>
                        </div>
                        <div class="blocks-constructor-table-value">
                            <input type="text" data-e2e="ButtonText" ng-model="$ctrl.settings.form.ButtonText" />
                        </div>
                    </div>
                </div>

                <div class="m-b-md">
                    Поля формы
                </div>

                <div class="lp-table block-constructor-menu-list">
                    <div class="lp-table__head visible-md">
                        <div class="lp-table__row row middle-md">
                            <div class="lp-table__header col--only-pad block-constructor-menu-list__dragcell">
                            </div>
                            <div class="lp-table__header col-xs-5">
                                Название
                            </div>
                            <div class="lp-table__header col-xs-4">
                                Соответствие в CRM
                            </div>
                            <div class="lp-table__header col-xs">
                            </div>
                        </div>
                    </div>
                    <div class="block-constructor-menu-list-body" ng-switch="$ctrl.settings.form.Fields != null && $ctrl.settings.form.Fields.length > 0">
                        <div id="modalFormList"
                             class="lp-table__body"
                             as-sortable="$ctrl.formSortableOptions"
                             ng-model="$ctrl.settings.form.Fields"
                             ng-switch-when="true">
                            <div>
                                <div as-sortable-item ng-repeat="item in $ctrl.settings.form.Fields">
                                    <div class="lp-table__row row middle-md">
                                        <div class="lp-table__cell col--only-pad block-constructor-menu-list__dragcell">
                                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="10px" height="20px" viewBox="0 0 10 20" preserveAspectRatio="xMidYMid meet" as-sortable-item-handle ondragstart="return false;">
                                                <g transform="translate(0.000000,20.000000) scale(0.100000,-0.100000)" fill="#c4c4c4" stroke="none">
                                                    <path d="M10 175 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                                    <path d="M60 175 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                                    <path d="M10 125 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                                    <path d="M60 125 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                                    <path d="M10 75 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                                    <path d="M60 75 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                                    <path d="M10 25 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                                    <path d="M60 25 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="lp-table__cell lp-table__cell--slim col-xs-5">
                                            <input type="text" data-e2e="LoadPicture" data-ng-model="item.Title"
                                                   ng-keyup="$event.keyCode === 13 && $ctrl.editFieldItem(item, $index)"
                                                   ng-blur="$ctrl.editFieldItem(item, $index)" />
                                        </div>
                                        <div class="lp-table__cell lp-table__cell--slim col-xs-4">
                                            <span data-e2e="TitleCrm" ng-bind="item.TitleCrm"></span>
                                        </div>
                                        <div class="lp-table__cell col-xs">
                                            <span class="fa fa-remove link-service--secondary link-decoration-none"  data-e2e="ItemDel" title="Удалить"
                                                  sweetalert sweet-options="{title: 'Вы уверены, что хотите удалить?', type: 'warning', showCancelButton: true, }"
                                                  sweet-on-confirm="$ctrl.removeField(item)"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br /><!--br для ngSortable: нельзя последний пункт заменить-->
                        </div>
                        <div>
                            <div class="lp-table__row row middle-md">
                                <div class="lp-table__cell col--only-pad block-constructor-menu-list__dragcell">
                                </div>
                                <div class="lp-table__cell lp-table__cell--slim col-xs-5">
                                    <input type="text" data-e2e="NewTitle"  ng-model="$ctrl.NewTitle" />
                                </div>
                                <div class="lp-table__cell lp-table__cell--slim col-xs-4">
                                    <select data-e2e="crmFields" ng-model="$ctrl.NewTitleCrm"
                                            ng-options="item.Title for item in $ctrl.settings.crmFields"></select>
                                </div>
                                <div class="lp-table__cell col-xs">
                                    <a href="" class="blocks-constructor-btn-add" data-e2e="addField" ng-click="$ctrl.addField($ctrl.NewTitle, $ctrl.NewTitleCrm)">Добавить поле</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-t blocks-constructor-table-name-h" data-e2e="ShowAgreement">
                    <label><input type="checkbox" ng-model="$ctrl.settings.form.ShowAgreement" /> Показывать соглашение</label>
                </div>

                <div class="blocks-constructor-table">
                    <div class="blocks-constructor-table-row-group">
                        <div class="blocks-constructor-table-row" ng-if="$ctrl.settings.form.ShowAgreement">
                            <div class="blocks-constructor-table-name">
                                Текст соглашения
                            </div>
                            <div class="blocks-constructor-table-value">
                                <input type="text" data-e2e="AgreementText" ng-model="$ctrl.settings.form.AgreementText" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        
        <div class="tab-content" data-tab-content="tabHeaderActions" data-ng-class="{'tab-content-active': tabContent.header.selected}">
            
            <div class="blocks-constructor-table">
                <div class="blocks-constructor-table-row-group">
                    <div class="blocks-constructor-table-row">
                        <div class="blocks-constructor-table-name">
                            Действия после отправки формы
                        </div>
                        <div class="blocks-constructor-table-value">
                            <select data-e2e="PostAction" ng-model="$ctrl.settings.form.PostAction"
                                    ng-options="item.value as item.label for item in $ctrl.settings.postActions"></select>
                        </div>
                    </div>

                    <div class="blocks-constructor-table-row" ng-if="$ctrl.settings.form.PostAction == 1">
                        <div class="blocks-constructor-table-name">
                            Текст сообщения
                        </div>
                        <div class="blocks-constructor-table-value">
                            <textarea data-e2e="PostMessageText" ng-model="$ctrl.settings.form.PostMessageText"></textarea>
                        </div>
                    </div>

                    <div class="blocks-constructor-table-row" ng-if="$ctrl.settings.form.PostAction == 2">
                        <div class="blocks-constructor-table-name">
                            Ссылка на страницу
                        </div>
                        <div class="blocks-constructor-table-value">
                            <input type="text" data-e2e="PostMessageRedirectUrl" ng-model="$ctrl.settings.form.PostMessageRedirectUrl" />
                        </div>
                    </div>

                    <div class="blocks-constructor-table-row" ng-if="$ctrl.settings.form.PostAction == 3">
                        <div class="blocks-constructor-table-name">
                            Название оплачеваемого товара
                        </div>
                        <div class="blocks-constructor-table-value">
                            <input type="text" data-e2e="PayProductName" ng-model="$ctrl.settings.form.PayProductName" />
                        </div>
                    </div>
                    <div class="blocks-constructor-table-row" ng-if="$ctrl.settings.form.PostAction == 3">
                        <div class="blocks-constructor-table-name">
                            Стоимость оплачеваемого товара
                        </div>
                        <div class="blocks-constructor-table-value">
                            <input type="number" data-e2e="PayProductSum" ng-model="$ctrl.settings.form.PayProductSum" />
                        </div>
                    </div>


                    <div class="blocks-constructor-table-row">
                        <div class="blocks-constructor-table-name">
                            Список, в который попадет лид
                        </div>
                        <div class="blocks-constructor-table-value">
                            <select data-e2e="salesFunnels" ng-model="$ctrl.settings.form.SalesFunnelId"
                                    ng-options="item.Id as item.Name for item in $ctrl.settings.salesFunnels">
                            </select>
                        </div>
                    </div>

                </div>
            </div>

        </div>

            <div class="tab-content" data-tab-content="tabHeaderGoals" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="blocks-constructor-table">
                    <div class="blocks-constructor-table-row-group">
                        <div class="blocks-constructor-table-row">
                            <div class="blocks-constructor-table-name blocks-constructor-table-name-h">
                                Яндекс.Метрика
                            </div>
                        </div>
                        <div class="blocks-constructor-table-row">
                            <div class="blocks-constructor-table-name">
                                Событие
                            </div>
                            <div class="blocks-constructor-table-value">
                                <input type="text" data-e2e="YaMetrikaEventName" ng-model="$ctrl.settings.form.YaMetrikaEventName" />
                            </div>
                        </div>


                        <div class="blocks-constructor-table-row m-t">
                            <div class="blocks-constructor-table-name blocks-constructor-table-name-h">
                                Google Analytics
                            </div>
                        </div>
                        <div class="blocks-constructor-table-row">
                            <div class="blocks-constructor-table-name">
                                Категория
                            </div>
                            <div class="blocks-constructor-table-value">
                                <input type="text" data-e2e="GaEventCategory" ng-model="$ctrl.settings.form.GaEventCategory" />
                            </div>
                        </div>
                        <div class="blocks-constructor-table-row">
                            <div class="blocks-constructor-table-name">
                                Действие
                            </div>
                            <div class="blocks-constructor-table-value">
                                <input type="text" data-e2e="GaEventAction" ng-model="$ctrl.settings.form.GaEventAction" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>
