<div class="subblock-inplace-modal-container">
    <div class="subblock-inplace-modal-row">
        <div class="subblock-inplace-modal-name subblock-inplace-button-modal-name">
            Цена продажи
        </div>
        <div class="subblock-inplace-modal-value">
            <input type="text" data-e2e="new_price" data-ng-model="$ctrl.settings.new_price" />
        </div>
    </div>
    <div class="subblock-inplace-modal-row">
        <div class="subblock-inplace-modal-name">
            Старая цена
        </div>
        <div class="subblock-inplace-modal-value">
            <input type="text" data-e2e="old_price" data-ng-model="$ctrl.settings.old_price" />
        </div>
    </div>
    <div class="subblock-inplace-modal-row">
        <div class="subblock-inplace-modal-name">
            Валюта
        </div>
        <div class="subblock-inplace-modal-value">
            <input type="text" data-e2e="currency" data-ng-model="$ctrl.settings.currency" />
        </div>
    </div>
</div>
