<div class="row">
    <div class="col-xs-12">
        <div class="row middle-xs">
            <div class="col-xs-12 col-sm-4 col-md-3">
                Введите ссылку на видео
            </div>
            <div class="col-xs-12 col-sm-6">
                <input type="text" data-e2e="urlVideo" ng-model="$ctrl.settings.urlVideo" required/>
            </div>
        </div>
        <div class="row middle-xs" ng-if="$ctrl.settings.heightVideo != null">
            <div class="col-xs-12 col-sm-4 col-md-3">
                Высота видео, px
            </div>
            <div class="col-xs-12 col-sm-6">
                <input type="number" data-e2e="heightVideo" ng-model="$ctrl.settings.heightVideo" />
            </div>
        </div>
        <div class="row middle-xs" ng-if="$ctrl.settings.widthVideo != null">
            <div class="col-xs-12 col-sm-4 col-md-3">
                Ширина видео, px
            </div>
            <div class="col-xs-12 col-sm-6">
                <input type="number" data-e2e="widthVideo" ng-model="$ctrl.settings.widthVideo" />
            </div>
        </div>
    </div>
</div>
