.ui-grid-custom-mobile__col + .ui-grid-custom-mobile__col {
  margin-top: 15px;
}

.ui-grid-custom-mobile__block .ui-grid-custom-mobile__block {
  margin-bottom: 20px;
}

.ui-grid-row {
  display: flex;
  flex-direction: column;
}

.ui-grid-cell {
  float: none;
}

.ui-grid-cell {
  min-height: 0;
}

.ui-grid-custom-row {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  padding: 16px;
  margin-bottom: 24px;
}

.ui-grid {
  border-width: 0;
}

.ui-grid .ui-grid-custom-row:hover .ui-grid-cell,
.ui-grid-row:hover > [ui-grid-row] > .ui-grid-cell:hover .ui-grid-cell,
.ui-grid-row:nth-child(odd):hover .ui-grid-cell,
.ui-grid-row:nth-child(even):hover .ui-grid-cell {
  background-color: #fff;
}

.ui-grid-row-wrap:nth-child(odd) .ui-grid-cell {
  background-color: #fff;
}

.ui-grid-cell-contents:empty {
  display: none;
}

.ui-grid-tree-header-row {
  font-weight: normal !important;
}

.ui-grid-cell:first-child .ui-grid-cell-contents {
  padding-left: 0;
}

/*.ui-grid-tree-header-row .ui-grid-custom-row,
.ui-grid-tree-header-row .ui-grid-cell,
.ui-grid-tree-header-row:nth-child(odd) .ui-grid-cell {
    background-color: #bbb;
}*/
[data-e2e-grid-cell$="['treeBaseRowHeaderCol']"] {
  order: 100;
}