<div class="form-horizontal container-fluid">
    <div class="form-group">
        <div class="row">
            <label class="control-label col-xs-1 ui-grid-filter-text text-nowrap" for="gridFilterDateFrom">
                {{'Admin.Js.UiGridCustom.From'|translate}}
            </label>
            <div class="col-xs-11">
                <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true}"
                     fp-on-value-update="$ctrl.applyDate($ctrl.item)"
                     fp-on-change="$ctrl.applyDate($ctrl.item)">
                    <span class="flatpickr-custom-wrap">
                        <input type="text" data-e2e="datetimeFilterFrom" class="form-control" ng-flatpickr-input ng-model="$ctrl.item.filter.term.from">
                        <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                    </span>
                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="control-label col-xs-1 ui-grid-filter-text text-nowrap" for="gridFilterDateTo">
                {{'Admin.Js.UiGridCustom.To'|translate}}
            </label>
            <div class="col-xs-11">
                <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true}"
                     fp-on-value-update="$ctrl.applyDate($ctrl.item)"
                     fp-on-change="$ctrl.applyDate($ctrl.item)">
                    <span class="flatpickr-custom-wrap">
                        <input type="text" data-e2e="datetimeFilterTo" class="form-control" ng-flatpickr-input ng-model="$ctrl.item.filter.term.to">
                        <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                    </span>
                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

