<div>
    <div class="row">
        <div class="col-xs-6">
            <input type="number" data-e2e="gridFilterItemRangeFrom" class="form-control"
                   ng-max="$ctrl.item.filter.rangeOptions.from.max || 2147483647"
                   ng-min="$ctrl.item.filter.rangeOptions.from.min || null"
                   ng-model="$ctrl.item.filter.term.from"
                   ng-keyup="$ctrl.apply([{name: $ctrl.item.filter.rangeOptions.from.name, value: $ctrl.item.filter.term.from},{name: $ctrl.item.filter.rangeOptions.to.name, value: $ctrl.item.filter.term.to}], $ctrl.item, true)" />
        </div>
        <div class="col-xs-6">
            <input type="number" data-e2e="gridFilterItemRangeTo" class="form-control"
                   ng-max="$ctrl.item.filter.rangeOptions.to.max || 2147483647"
                   ng-min="$ctrl.item.filter.rangeOptions.to.min || null"
                   ng-model="$ctrl.item.filter.term.to"
                   ng-keyup="$ctrl.apply([{name: $ctrl.item.filter.rangeOptions.from.name, value: $ctrl.item.filter.term.from},{name: $ctrl.item.filter.rangeOptions.to.name, value: $ctrl.item.filter.term.to}], $ctrl.item, true)" />
        </div>
    </div>
</div>

