<!--<div>
    <select class="form-control"
            data-e2e="gridFilterItemSelect" 
            ng-model="$ctrl.item.filter.term" 
            ng-change="$ctrl.apply([{name: $ctrl.item.filter.name || $ctrl.item.name, value: $ctrl.item.filter.term }], $ctrl.item)" ng-options="option.value as option.label for option in $ctrl.item.filter.selectOptions">
        <option selected value="">Выберите пункт</option>
    </select>
</div>-->

<ui-select data-e2e="gridFilterItemSelect" theme="bootstrap" ng-model="$ctrl.item.filter.term" autofocus ="true"
           on-select="$ctrl.apply([{name: $ctrl.item.filter.name || $ctrl.item.name, value: $ctrl.item.filter.term }], $ctrl.item)">
    <ui-select-match allow-clear="true" placeholder="{{'Admin.Js.UiGridCustom.Select.SelectThePoint'|translate}}">{{$select.selected.label}}</ui-select-match>
    <ui-select-choices repeat="option.value as option in $ctrl.item.filter.selectOptions | greedysearch: $select.search"
                       refresh="$ctrl.filterSearch($select.search, $ctrl.item)"
                       refresh-delay="400">
        <div data-e2e="{{option.label}}">{{option.label}}</div>
    </ui-select-choices>
</ui-select>