<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.ChangeOrderStatus.Title'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">

            <div ng-if="!ctrl.showNotifyMsg">
                <div class="m-b">
                    {{'Admin.Js.ChangeOrderStatus.Agreement'|translate}} "<b>{{ctrl.statusName}}</b>" ?
                </div>
                <div class="m-b">
                    <div class="m-b-xs">{{'Admin.Js.ChangeOrderStatus.Basis'|translate}}</div>
                    <textarea ng-model="ctrl.basis" style="height: 100px;" class="form-control"></textarea>
                </div>
            </div>

            <div ng-if="ctrl.showNotifyEmail || ctrl.showNotifySms ">
                <div>
                    <div class="orderstatus-saved">{{'Admin.Js.ChangeOrderStatus.OrderStatusSaved'|translate}}</div>
                    <div ng-if="ctrl.showNotifyEmail">
                        <a ng-click="ctrl.notifyStatusChanged('email')" href="">
                            {{'Admin.Js.ChangeOrderStatus.Notify'|translate}} <span>{{'Admin.Js.ChangeOrderStatus.Email'|translate}}</span>
                        </a>
                    </div>
                    <div ng-if="ctrl.showNotifySms" class="m-t-sm">
                        <a ng-click="ctrl.notifyStatusChanged('sms')" href="">
                            {{'Admin.Js.ChangeOrderStatus.Notify'|translate}} <span>{{'Admin.Js.ChangeOrderStatus.Sms'|translate}}</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <span ng-if="!ctrl.showNotifyMsg">
            <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.save()">{{'Admin.Js.AddEdit.Save'|translate}}</button>
            <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
        </span>
        <span ng-if="ctrl.showNotifyMsg">
            <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.closeNotify()">{{'Admin.Js.AddEdit.Close'|translate}}</button>
        </span>
    </div>
</form>
