.lead-events--mobile {
    .ibox-content {
        background-color: transparent;
        padding: 0;
        border: 0;
    }

    .lead-events {
        display: flex;
        overflow-x: auto;
    }

    .lead-events__item {
        white-space: nowrap;
    }

    .lead-events {
        padding-bottom: 12px;

        &::-webkit-scrollbar {
            -webkit-appearance: none;

            &:vertical {
                width: 6px
            }

            &:horizontal {
                height: 6px;
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: #dbdcde;
        }
    }

    .lead-events-group__title {
        color: #ACAEAF;
    }

    .lead-events-item {
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
        padding: 16px;
        margin-bottom: 20px;

        &__time {
            font-weight: 500;
        }

        &__from-create-date {
            color: #ACAEAF;
            font-style: normal;
        }
    }

    .leads-col-fixed-size-sm{
        flex-basis: 70px;
        max-width: 70px;
    }
}
