.lead-events--mobile .ibox-content {
  background-color: transparent;
  padding: 0;
  border: 0;
}
.lead-events--mobile .lead-events {
  display: flex;
  overflow-x: auto;
}
.lead-events--mobile .lead-events__item {
  white-space: nowrap;
}
.lead-events--mobile .lead-events {
  padding-bottom: 12px;
}
.lead-events--mobile .lead-events::-webkit-scrollbar {
  -webkit-appearance: none;
}
.lead-events--mobile .lead-events::-webkit-scrollbar:vertical {
  width: 6px;
}
.lead-events--mobile .lead-events::-webkit-scrollbar:horizontal {
  height: 6px;
}
.lead-events--mobile .lead-events::-webkit-scrollbar-thumb {
  background-color: #dbdcde;
}
.lead-events--mobile .lead-events-group__title {
  color: #ACAEAF;
}
.lead-events--mobile .lead-events-item {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  padding: 16px;
  margin-bottom: 20px;
}
.lead-events--mobile .lead-events-item__time {
  font-weight: 500;
}
.lead-events--mobile .lead-events-item__from-create-date {
  color: #ACAEAF;
  font-style: normal;
}
.lead-events--mobile .leads-col-fixed-size-sm {
  flex-basis: 70px;
  max-width: 70px;
}