<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{ctrl.mode == "add" ? ('Admin.Js.AddGroup.Adding'|translate) : ('Admin.Js.AddGroup.Editing'|translate)}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label"><span class="text-required">{{'Admin.Js.AddGroup.Name'|translate}}</span></label>
                    <div class="col-xs-9">
                        <input type="text" placeholder="" ng-model="ctrl.name" class="form-control" required validation-input-text={{'Admin.Js.AddGroup.Name'|translate}} autofocus />
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="ctrl.mode != 'add'">
                <div class="row">
                    <label class="col-xs-3 control-label">{{'Admin.Js.AddGroup.NameInClient'|translate}}</label>
                    <div class="col-xs-9">
                        <input type="text" placeholder="" ng-model="ctrl.nameDisplayed" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.addGroup()" data-button-validation>{{ctrl.mode == "add" ? ('Admin.Js.AddEdit.Add'|translate) : ('Admin.Js.AddEdit.Save'|translate)}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>