@using AdvantShop.Core.Services.Admin
@{
    if (AdminAreaTemplate.IsAdminv3())
    {
        Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/BonusSystem/_BonusSystemLayout.cshtml";
    }
}

<div class="sticky-page-name m-t-n-xs m-b-xs" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main middle-xs">
            <h2 class="m-r-xs  sticky-page-name-text m-t-none">
                @T("Admin.Grades.Index.Title")
            </h2>
        </div>
        <div class="page-name-block-item-additional">
            <ui-modal-trigger data-controller="'ModalAddEditGradeCtrl'" controller-as="ctrl" on-close="grades.grid.fetchData()"
                              template-url="../areas/admin/content/src/grades/modal/addEditGrade/AddEditGrade.html">
                <button data-e2e="GradeAdd" class="btn btn-sm btn-success" type="button">
                    <span class="fa fa-plus"></span>
                    @T("Admin.Grades.Index.AddGrade")
                </button>
            </ui-modal-trigger>
        </div>
    </div>
</div>

<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="grid"
                        grid-on-init="grades.gridOnInit(grid)"
                        grid-options="grades.gridOptions"
                        grid-url="'grades/getgrades'"
                        grid-extend-ctrl="grades"
                        grid-inplace-url="'grades/inplacegrade'">
        </ui-grid-custom>
        <div data-e2e="GoRules">
            <span style="color: #f15959;">*</span>
            @T("Admin.Grades.Index.AutomaticallyChangeGrade") "@Html.ActionLink(T("Admin.Grades.Index.Rules").ToString(), "Index", "rules", null, new { target = "_blank" })"

        </div>
    </div>
</div>
