<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.SendSMS.SendSMS'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group ng-cloak" ng-if="!ctrl.enabled">
            <div class="row center-xs">
                <div class="col-xs-12 col-sm-9">
                    {{'Admin.Js.SendSMS.ToSendSMS'|translate}} {{'Admin.Js.SendSMS.InstallTheModuleSMSInforming'|translate}}
                </div>
            </div>
        </div>
        <div ng-if="ctrl.enabled === true">
            <div class="form-group" ng-if="!ctrl.isMassAction()">
                <div class="row">
                    <label class="col-xs-12 col-sm-3 control-label">
                        <span class="text-required">{{'Admin.Js.SendSMS.PhoneNumber'|translate}}</span>
                    </label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="form-control" ng-model="ctrl.phone" required validation-input-text="{{'Admin.Js.SendSMS.PhoneNumber'|translate}}" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-12 col-sm-3 control-label">
                        <span class="text-required">
                            {{'Admin.Js.SendSMS.SmsTemplate'|translate}}
                        </span>
                    </label>
                    <div class="col-xs-12 col-sm-9 control-label">
                        <select data-e2e="AnswerTemplate" ng-model="ctrl.smsAnswerTemplate" class="form-control" ng-options="item as item.Name for item in ctrl.templates track by item.TemplateId" ng-change="ctrl.getSmsFormat()">
                            <option label="{{'Admin.Js.SendSMS.Empty'|translate}}" value="-1">{{'Admin.Js.SendSMS.Empty'|translate}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group relative">
                <div class="row">
                    <label class="col-xs-12 col-sm-3 control-label">
                        <span class="text-required">{{'Admin.Js.SendSMS.SMStext'|translate}}</span>
                    </label>
                    <div class="col-xs-12 col-sm-9">
                        <div ng-class="{'ui-grid-custom-processing' : ctrl.isProcessingTemplate}">
                            <textarea class="form-control" ng-model="ctrl.text" required validation-input-text="{{'Admin.Js.SendSMS.SMStext'|translate}}" style="height: 100px" autofocus />
                        </div>
                        <div>
                            #FULL_NAME# - {{'Admin.Js.SendSMS.FullName'|translate}}<br>
                            #FIRST_NAME# - {{'Admin.Js.SendSMS.FirstName'|translate}}<br>
                            #LAST_NAME# - {{'Admin.Js.SendSMS.LastName'|translate}}<br>
                        </div>
                        <div ng-if="ctrl.orderId != null">
                            #ORDER_NUMBER# - {{'Admin.Js.SendSMS.OrderNumber'|translate}}<br>
                            #ORDER_SUM# - {{'Admin.Js.SendSMS.OrderPrice'|translate}}<br>
                            #ORDER_STATUS# - {{'Admin.Js.SendSMS.OrderStatus'|translate}}<br>
                            #STATUS_COMMENT# - Комментарий к статусу заказа<br>
                            #PAYMENT_NAME# - Метод оплаты<br>
                            #SHIPPING_NAME# - Метод доставки<br>
                            #PICKPOINT_ADDRESS# - Пункт выдачи<br>
                            #TRACKNUMBER# - Номер отслеживания заказа<br>
                            #PAY_STATUS# - {{'Admin.Js.SendSMS.PaymentStatus'|translate}}<br>
                            #BILLING_SHORTLINK# - {{'Admin.Js.SendSMS.ShortBillingLink'|translate}}<br>
                            #STORE_NAME# - {{'Admin.Js.SendSMS.StoreName'|translate}}
                        </div>
                        <div ng-if="ctrl.leadId != null">
                            #TITLE# - Заголовок лида<br>
                            #LEAD_SUM# - Сумма лида<br>
                            #SALES_FUNNEL# - Список лидов<br>
                            #DEAL_STATUS# - Этап сделки<br>
                            #SHIPPING_NAME# - Метод доставки<br>
                            #PICKPOINT_ADDRESS# - Пункт выдачи<br>
                            #STORE_NAME# - Название магазина
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-if="ctrl.enabled === true" class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.send()" data-button-validation ladda="ctrl.btnLoading">{{'Admin.Js.SendSMS.Send'|translate}}</button>
        <a ng-if="ctrl.enabled != true" class="btn btn-save btn-primary" href="modules/market?name=sms" target="_blank">{{'Admin.Js.SendSMS.InstallModule'|translate}}</a>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.SendSMS.Cancel'|translate}}</button>
    </div>
</form>