$heightTabsBuilder: 64px;

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik/Rubik-Regular.woff2') format('woff2'), url('/fonts/Rubik/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.new-builder-trigger {
    background-color: #2D9CEE;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;

    &:hover {
        background-color: #6ac0ff;
    }
}

.new-builder-dialog {
    .modal-content {
        padding: 0;
    }
}

.new-builder {
    font-family: 'Rubik';
    height: 100%;
    color: #4b4f58;

    &__columns {
        display: grid;
        grid-template-columns: 262px calc(100% - 262px);
        height: 100%;
        box-sizing: border-box;
    }

    input [type=text], input[type=password], input[type=text], input[type=search], input[type=email], input[type=number], input[type=tel], input[type=url], textarea, .form-field-input-text {
        color: #4b4f58;
    }


    &__menu {
        background-color: #F9F9F9;
    }

    &__menu-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        background-color: #F9F9F9;
    }

    &__menu-item {
        position: sticky;
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 32px;
        padding-right: 36px;
        font-size: 14px;
        border-bottom: 1px solid #EFEFF4;
        cursor: pointer;
        background-color: #F9F9F9;
        color: #666666;


        @for $i from 0 through 9 { // 9 - количество табов
            &:nth-child(#{$i + 1}) {
                @if $i == 0 {
                    top: 0px;
                }
                @else {
                    top: calc(#{$heightTabsBuilder} * #{$i});
                }
            }
        }


        &--active {
            background-color: #fff;
            color: #2D9CEE;
        }

        svg {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }

        .new-builder__icon-error {
            color: #f15959;
            right: 40px;
        }
    }



    &__content {
        padding: 25px 40px;
        display: none;
        background-color: #fff;

        &.tab-content-active {
            display: block;
        }
    }

    &__content-title {
        /* important для того чтоб стили шаблона не переопределяли эти стили*/
        font-size: 18px !important;
        color: #000 !important;
        margin-bottom: 16px !important;
        text-align: left !important;
        text-transform: none !important;
        font-family: 'Rubik' !important;
    }

    &__content-field {
        margin-bottom: 20px;
        position: relative;

        .flex {
            display: flex;
        }
    }

    &__content-other-fields {
        padding: 10px 0 0 0;
    }

    &__field-menu-style-label {

        & + & {
            margin-left: 20px;
        }
    }

    &__field-menu-style-input {
        display: none;
    }


    &__field-menu-style-input:checked ~ &__field-menu-style-image-wrap {
        border-color: #2D9CEE;
    }

    &__field-menu-style-image-wrap {
        /*background-color: #F9F9F9;
        border-width: 1px;
        border-style: solid;
        border-color: #EFEFF4;
        box-sizing: border-box;
        border-radius: 4px;*/
        display: block;
        /*width: 80px;
        height: 80px;*/
        /*margin-bottom: 10px;
        cursor: pointer;*/
        & > span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    &__field-menu-style-text {
        display: block;
        font-size: 12px;
        text-align: center;
        color: #000000;
    }

    &__link, &__link:hover {
        color: #2D9CEE;
    }

    &__link-red, &__link-red:hover {
        color: red;
    }
    /*color view*/
    .color-viewer {
        margin-left: -3px;
        margin-right: -3px;
    }

    .color-viewer-item-block,
    .color-viewer-inner {
        border-radius: 50% !important;
        box-sizing: border-box;
    }

    .color-viewer-item-wrap,
    .color-viewer-item-block {
        font-size: 0;
    }

    .color-viewer-inner,
    .color-viewer-item-block {
        padding: 0;
        margin: 0;
    }

    .color-viewer-inner {
        margin: 1px;
    }
    /*form fields*/
    .form-field-name {
        font-size: 16px;
        color: #8A8A8F;
        margin-bottom: 7px;

        &--inline-block {
            display: inline-block;
            vertical-align: middle;
        }

        &--small {
            font-size: 13px;
        }
    }

    .form-field {
        &--inline-block {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .form-field-group {
        display: grid;
        /*grid-template-columns: repeat(2, 1fr );*/
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 10px), 1fr));
        grid-gap: 10px;

        .form-field {
            margin-bottom: 0;
        }
    }

    .form-field-phone {
        font-size: 14px;
    }
    /*select*/
    .select-custom {
        select {
            background-color: #F9F9F9;
            color: #000000;
            padding: 13px 40px 13px 20px;
            font-size: 16px;
            border: 1px solid #EFEFF4;
            border-radius: 4px;
        }

        &::after {
            content: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.10032 0.577411C1.77489 0.251975 1.24725 0.251975 0.921812 0.577411C0.596375 0.902848 0.596375 1.43049 0.921812 1.75592L5.92181 6.75592C6.24725 7.08136 6.77489 7.08136 7.10032 6.75592L12.1003 1.75592C12.4258 1.43049 12.4258 0.902848 12.1003 0.577411C11.7749 0.251975 11.2472 0.251975 10.9218 0.577411L6.51107 4.98816L2.10032 0.577411Z' fill='%232D9CEE'/%3E%3C/svg%3E");
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
        }
    }

    .form-field-textarea {
        background-color: #F9F9F9;
        border-radius: 4px;
        border: 1px solid #EFEFF4;
        padding: 13px 20px;
        font-size: 16px;
        height: auto;
    }

    .form-field-input {
        background-color: #F9F9F9 !important;
        border-radius: 4px;
        border: 1px solid #EFEFF4 !important;
        padding: 13px 20px;
        font-size: 16px;
    }

    .form-field-radio-label {
        position: relative;
        padding-left: 37px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;

        input {
            display: none;

            &:checked ~ .form-field-radio-emul::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 8px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #2D9CEE;
            }
        }

        &--block {
            display: block;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #EFEFF4;
        }

        .form-field-label-text {
            font-size: 14px;
        }
    }

    .form-field-radio-none {
        display: none;
    }

    .form-field-label-image {
        padding: 0 0 10px 0;

        img {
            border-width: 1px;
            border-style: solid;
            border-color: #EFEFF4;
            cursor: pointer;
        }

        & > input:checked ~ img {
            border-color: #2D9CEE;
        }
    }

    &__logogenerator-btn {
        /*прописано через important чтоб стили шаблнов не перезаписывали кнопку*/
        display: inline-block !important;
        vertical-align: middle !important;
        text-decoration: none !important;
        border: 0 !important;
        text-align: center !important;
        border-radius: 0.3125rem !important;
        line-height: 1.3 !important;
        box-sizing: border-box !important;
        cursor: pointer !important;
        background-color: #2D9CEE !important;
        color: #fff !important;
        font-weight: normal !important;
        box-shadow: none !important;

        &:hover {
            background-color: #6ac0ff !important;
            color: #fff !important;
            display: inline-block !important;
            vertical-align: middle !important;
            text-decoration: none !important;
            border: 0 !important;
            text-align: center !important;
            border-radius: 0.3125rem !important;
            line-height: 1.3 !important;
            box-sizing: border-box !important;
            cursor: pointer !important;
            font-weight: normal !important;
            box-shadow: none !important;
        }
    }
}


.new-builder-progressbar,
.new-builder-progressbar__bar {
    border-radius: 4px;
    overflow: hidden;
}

.new-builder-progressbar__track {
    background-color: #F9F9F9;
    height: 52px;
}

.new-builder-progressbar__marker--inside {
    color: #000;
    border: 1px solid #EFEFF4;
}

.new-builder-progressbar__bar {
    background-color: #2D9CEE;
}

.new-builder__content {
    font-size: 14px;
    color: #4b4f58;

    .popover-title {
        font-size: 16px;
        color: #4b4f58;
    }

    .popover-content {
        font-size: 14px;
        color: #4b4f58;
    }

    a {
        color: #2D9CEE;
    }

    &-field-link {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

}
.builder-btn-cofirm {
    background-color: #2D9CEE;
    color: #fff;
    border-radius: 4px;
    border: 0;
    color: #fff;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 20px;

    &:hover {
        background-color: #6ac0ff;
    }
}


.builder-btn-cancel {
    background-color: #efefef;
    color: rgb(75, 79, 88);
    border-radius: 4px;
    border: 0;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 20px;

    &:hover {
        background-color: #dedcdc;
    }
}
