.new-builder-trigger {
    position: fixed;
    top: 30%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    border: 0;

    svg {
        vertical-align: middle;
    }
}