a.social {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
    font-size: 16px;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;

    & .social__name {
        display: none;
        font-size: 13px;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
    }
     
    &--call {
        background-color: rgb(5, 90, 152);

        &:hover {
            background-color: lighten(rgb(5, 90, 152), 15%);
        }
    }

    &--vkontakte {
        background-color: rgb(59, 74, 95);

        &:hover {
            background-color: lighten(rgb(59, 74, 95), 15%);
        }
    }

    &--whatsapp {
        background-color: rgb(0, 230, 118);

        &:hover {
            background-color: lighten(rgb(0, 230, 118), 15%);
        }
    }

    &--viber {
        background-color: rgb(123, 66, 169);

        &:hover {
            background-color: lighten(rgb(123, 66, 169), 15%);
        }
    }

    &--facebook {
        background-color: rgb(63, 92, 150);

        &:hover {
            background-color: lighten(rgb(63, 92, 150), 15%);
        }
    }

    &--youtube {
        background-color: hsl(0, 100%, 50%);

        &:hover {
            background-color: lighten(hsl(0, 100%, 50%), 15%);
        }
    }

    &--twitter {
        background-color: rgb(86, 171, 238);

        &:hover {
            background-color: lighten(rgb(86, 171, 238), 15%);
        }
    }

    &--instagram {
        background-color: #d10869;

        &:hover {
            background-color: lighten(#d10869, 15%);
        }
    }

    &--telegram {
        background-color: #35ace1;

        &:hover {
            background-color: lighten(#35ace1, 15%);
        }
    }

    &--odnoklassniki {
        background-color: #ee8208;

        &:hover {
            background-color: lighten(#ee8208, 15%);
        }
    }
}
