@model  AdvantShop.Web.Admin.ViewModels.Cms.StaticBlock.StaticBlockViewModel
@{
    Layout = "~/Areas/Admin/Views/Store/_StoreLayout.cshtml";
}

 <div ng-cloak>
    <div class="sticky-page-name" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text">
                    @T("Admin.StaticBlock.Index.Title")
                </h1>
            </div>
            <div class="page-name-block-item-additional">
                <ui-modal-trigger data-controller="'ModalAddEditStaticBlockCtrl'" controller-as="ctrl" size="middle"
                                  template-url="../areas/admin/content/src/staticBlock/modal/addEditStaticBlock/addEditStaticBlock.html"
                                  data-on-close="staticBlock.grid.fetchData()">
                    <button class="btn btn-sm btn-success btn--margin-left" type="button" data-e2e="btnAdd">
                        <span class="fa fa-plus"></span> @T("Admin.StaticBlock.Index.Add")
                    </button>
                </ui-modal-trigger>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <ui-grid-custom grid-unique-id="grid"
                            grid-row-identificator="'StaticBlockId'"
                            grid-options="staticBlock.gridOptions"
                            grid-on-init="staticBlock.gridOnInit(grid)"
                            grid-url="'staticBlock/GetItems'"
                            grid-inplace-url="'staticBlock/inplace'"
                            grid-extend-ctrl="staticBlock">
                <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="staticBlock.grid.gridOptions.TotalString">
                </ui-grid-custom-footer>
            </ui-grid-custom>
        </div>
    </div>
</div>