<form novalidate name="employeeShedulerForm">
    <div class="modal-header">
        <ui-modal-cross close-fn="ctrl.close()"></ui-modal-cross>
        <h2 class="modal-header-title">Расписание для {{ctrl.name}}<!--Не локализовывать пока--></h2>
    </div>
    <div class="modal-body task-modal-content-new-item modal-body-employee-sheduler">
        <div ng-if="ctrl.isInit">
            <style ui-booking-sheduler-style ng-if="ctrl.slotHeightPx">
                .employee-sheduler-fullcalendar .fc-time-grid .fc-slats td {
                    height: {{ctrl.slotHeightPx}}px;              
                }
            </style>
            <div class="employee-sheduler-fullcalendar" ng-class="{'booking-processing': ctrl.shedulerProcessing}">
                <full-calendar fc-is-watch-options="false"
                                fc-is-watch-event-source="false"
                                fc-on-init="ctrl.fullCalendarOnInit(calendar)"
                                fc-get-options="ctrl.getCalendarOptions()"></full-calendar>
            </div>
        </div>
    </div>
</form>