@model AdvantShop.Web.Admin.Models.Catalog.ExportFeeds.ExportFeedSettingsYandexModel
<div class="export-feed-yandex-promos">
    <div class="row end-xs export-feed-yandex-promocode-head" style="padding: 1rem;">
        <ui-modal-trigger data-controller="'ModalAddEditYandexPromoFlashCtrl'" controller-as="ctrl" size="middle"
                          template-url="../areas/admin/content/src/exportfeeds/modal/addEditYandexPromoFlash/addEditYandexPromoFlash.html"
                          data-resolve="{value: { ExportFeedId: '@Model.ExportFeedId'}}"
                          on-close="exportFeeds.AddEditYandexPromoFlash(result)">
            <button class="btn btn-sm btn-success btn--margin-left" data-e2e="AddYandexPromo" type="button">
                <span class="fa fa-plus"></span>@T("Admin.Add")
            </button>
        </ui-modal-trigger>
    </div>
    <div class="ibox">
        <div class="col-xs" ng-init="exportFeeds.setGridYandexPromoFlashOptionsData(@Model.FlashDiscountsJson)">
            <ui-grid-custom grid-unique-id="gridYandexPromoFlash"
                            grid-on-init="exportFeeds.gridYandexPromoFlashOnInit(grid)"
                            grid-filter-enabled="false"
                            grid-pagination-enabled="false"
                            grid-selection-enabled="false"
                            grid-row-identificator="'PromoID'"
                            grid-params="{exportFeedId:@Model.ExportFeedId}"
                            grid-options="exportFeeds.gridYandexPromoFlashOptions"
                            grid-on-fetch="exportFeeds.gridYandexPromoFlashOnFetch(grid)"
                            grid-extend-ctrl="exportFeeds">
            </ui-grid-custom>
        </div>
    </div>
</div>