@using AdvantShop.ExportImport
@model AdvantShop.Web.Admin.ViewModels.Catalog.ExportFeeds.ExportFeedsModel


@if (Model.CurrentExportFeedsType == EExportFeedType.YandexMarket)
{
    <div class="flex middle-xs m-l-lg" style="height: 100%;">
        <div class="row">
            <div class="col-xs-6">
                <h1 class="bold">
                    Продавайте товары через Яндекс. Маркет
                </h1>

                <div class="m-t m-b-xs bold-title bold f-s-18">Выгружайте товары в Яндекс. Маркет</div>
                <div>
                    Загружайте ассортимент вашего магазина в Яндекс. Маркет и предлагайте товары миллионной аудитории. Список и стоимость товаров синхронизируется с вашим сайтом. Достаточно один раз правильно все настроить и больше никакие данные вводить не придется.
                </div>

                <div class="m-t m-b-xs bold-title bold f-s-18">Рекламируйте свои товары в каталоге Яндекс. Маркет</div>
                <div>Размещенные на Маркете товары показываются не только в самом сервисе, но и в поисковой выдаче Яндекса, в Яндекс.Картинках, на страницах карточки товара и в сервисах Яндекса. Это сильно расширяет аудиторию потенциальных покупателей.</div>

                <div class="m-t m-b-xs bold-title bold f-s-18">Работайте по модели маркетплейса</div>
                <div>На Яндекс. Маркете вы получаете огромный охват только заинтересованной аудитории, цель которой – выбрать и купить товар. Кроме того, покупатели оставляют реальные отзывы на площадке, что способствует новым продажам и открытому диалогу с клиентами.</div>

                <div class="m-t-lg">
                    <ui-modal-trigger data-controller="'ModalAddExportFeedCtrl'"
                                      controller-as="ctrl"
                                      template-url="../areas/admin/content/src/_shared/modal/addExportFeed/AddExportFeed.html"
                                      data-resolve="{params: {type: '@Model.CurrentExportFeedsType'}}">
                        <a href="" class="btn btn-success btn-md">Подключить Яндекс.Маркет</a>
                    </ui-modal-trigger>
                </div>
            </div>
            <div class="col-xs-6">
                <img src="../areas/admin/content/src/_shared/modal/salesChannels/images/ymarket3.png">
            </div>
        </div>
    </div>
}