<div class="sticky-page-name" sticky sticky-top="0">
    <div class="row sticky-page-name-inner">
        <div class="col-xs-12">
            <div class="flex middle-xs between-xs">
                <div>
                    <h1 class="m-b-sm">
                        ВКонтакте
                    </h1>
                    <div class="sticky-hidden">
                        <a href="vk">Вернуться к настройкам</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ibox">
    <div class="ibox-content">
        <vk-market-import-settings></vk-market-import-settings>
    </div>
</div>
