@{
    Layout = "~/Areas/Admin/Templates/AdminV3/Views/Shared/_Layout.cshtml";
}
@section TopContent {
    <div class="balance__padding-page balance__padding-page--bg-white">
        @*<div class="container-fluid">*@
        <div class="main-panel-page">
            <div class="sticky-page-name p-b-n" sticky sticky-top="0">
                <div class="page-name-block sticky-page-name-inner">
                    <div class="page-name-block-item-main">
                        <h1 class="page-name-block-text page-name-block-text--bigger sticky-page-name-text m-b-xs">
                            @T("Admin.Home.Menu.CategoriesAndProducts")
                        </h1>
                    </div>
                    @if (IsSectionDefined("BlockAdditional"))
                    {
                        <div class="page-name-block-item-additional">
                            @RenderSection("BlockAdditional", false)
                        </div>
                    }
                </div>
            </div>
        </div>
        @*</div>*@
    </div>
}
@RenderBody()
