<div class="m-b-sm">
    <div class="flex between-xs inline">
        <h1 class="page-name-block-text">{{'Admin.Js.TaskGrid.Tasks'|translate}}</h1>
    </div>
    <task-create ng-if="!$ctrl.readonly" data-resolve="{bindTo:{objId: $ctrl.objId, type: $ctrl.type}}" on-after="$ctrl.modalClose();" class="pull-right">
        <button class="btn btn-sm btn-success" type="button" data-e2e="leadTaskAdd">
            <span class="fa fa-plus"></span>
            {{'Admin.Js.TaskGrid.NewTask'|translate}}
        </button>
    </task-create>
</div>
<ui-grid-custom grid-unique-id="gridTasks"
                grid-filter-enabled="false"
                grid-on-init="$ctrl.gridOnInit(grid)"
                grid-on-delete="$ctrl.update()"
                grid-options="$ctrl.gridOptions"
                grid-params="{filterby: $ctrl.type, objId: $ctrl.objId}"
                grid-url="'tasks/gettasks'"
                grid-extend-ctrl="$ctrl"
                grid-row-identificator="'Id'">
    <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="$ctrl.gridTasks.gridOptions.TotalString">
    </ui-grid-custom-footer>
</ui-grid-custom>
