<form name="addEditePromoGift">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddEditYandexPromo.NewPromoGift'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="row">
                        <label class="col-xs error" style="text-align:center;">
                            <span ng-if="ctrl.error != ''" ng-bind-html="ctrl.error"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-3">
                            <span class="text-required">{{'Admin.Js.AddEditYandexPromo.Name'|translate}}</span>
                        </label>
                        <div class="col-xs-9">
                            <input type="text" placeholder="" ng-model="ctrl.promo.Name" class="form-control" required validation-input-text="{{'Admin.Js.AddEditYandexPromo.Name'|translate}}" autofocus />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-3">
                            <span>{{'Admin.Js.AddEditYandexPromo.Description'|translate}}</span>
                        </label>
                        <div class="col-xs-9">
                            <textarea style="resize: vertical;min-height: 3.2rem;" ng-model="ctrl.promo.Description" maxlength="500" class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-3">
                            <span>{{'Admin.Js.AddEditYandexPromo.PromoUrl'|translate}}</span>
                        </label>
                        <div class="col-xs-9">
                            <input type="text" ng-model="ctrl.promo.PromoUrl" class="form-control"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-3">
                            <span>{{'Admin.Js.AddEditYandexPromo.StartDate'|translate}}</span>
                        </label>
                        <div class="col-xs-9">
                            <div style="display: inline-block; width: 250px; position:relative; vertical-align: middle; min-height: 34px;">
                                <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat: 'Y.m.d H:i', wrap: true, enableTime: true}">
                                    <span class="flatpickr-custom-wrap">
                                        <input type="text" class="form-control" ng-flatpickr-input ng-model="ctrl.promo.StartDate" ng-change="ctrl.error = ''">
                                        <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                    </span>
                                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-3">
                            <span>{{'Admin.Js.AddEditYandexPromo.ExpirationDate'|translate}}</span>
                        </label>
                        <div class="col-xs-9">
                            <div style="display: inline-block; width: 250px; position:relative; vertical-align: middle; min-height: 34px;">
                                <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat: 'Y.m.d H:i', wrap: true, enableTime: true}">
                                    <span class="flatpickr-custom-wrap">
                                        <input type="text" class="form-control" ng-flatpickr-input ng-model="ctrl.promo.ExpirationDate" ng-change="ctrl.error = ''">
                                        <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                    </span>
                                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-3">
                            <span class="text-required">{{'Admin.Js.AddEditYandexPromo.Products'|translate}}</span>
                        </label>
                        <div class="col-xs-9 row middle-xs" style="margin-left: 0rem;">
                            <span style="padding-right: 0.3rem;">
                                {{ctrl.promo.ProductIDs.length == 0 || ctrl.promo.ProductIDs == null? 'Не выбраны' : ctrl.promo.ProductIDs.length + ' товар(ов)'}}
                            </span>
                            <ui-modal-trigger size="xs-11"
                                              data-controller="'ModalProductsSelectvizrCtrl'"
                                              data-controller-as="ctrl"
                                              data-resolve="{value:{itemsSelected: ctrl.promo.ProductIDs}}"
                                              on-close="ctrl.addProductsModal(result); addEditePromoGift.$setDirty();"
                                              template-url="../areas/admin/content/src/_shared/modal/products-selectvizr/productsSelectvizrModal.html">
                                <a data-e2e="AddProducts">
                                    ({{'Admin.Js.AddEditYandexPromo.Add'|translate}})
                                </a>
                            </ui-modal-trigger>
                            <a data-e2e="ClearProducts" ng-if="ctrl.promo.ProductIDs.length != 0 && ctrl.promo.ProductIDs != null" ng-click="ctrl.removeProducts();addEditePromoGift.$setDirty();">
                                ({{'Admin.Js.AddEditYandexPromo.Clear'|translate}})
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-3">
                            <span class="text-required">{{'Admin.Js.AddEditYandexPromo.RequiredQuantity'|translate}}</span>
                        </label>
                        <div class="col-xs-auto relative" style="padding-left: 0.625rem;">
                            <div data-spinbox
                                 data-value="ctrl.promo.RequiredQuantity"
                                 data-update-fn="ctrl.updateCount(value)"
                                 data-step="1"
                                 data-max="24"
                                 data-min="1"
                                 validation-text="{{'Admin.Js.AddEditYandexPromo.RequiredQuantity'|translate}}"></div>
                            <help-trigger class="ng-cloak help-trigger-icon-abs m-l-sm" data-title="{{'Admin.Js.AddEditYandexPromo.RequiredQuantity'|translate}}">
                                <div class="help-content">
                                    Количество товаров (в штуках), которое нужно приобрести, чтобы получить подарок. Максимально допустимое значение — 24. Значение по умолчанию — 1 (один товар).
                                </div>
                            </help-trigger>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-3">
                            <span class="text-required">{{'Admin.Js.AddEditYandexPromo.Gift'|translate}}</span>
                        </label>
                        <div class="col-xs-auto relative" style="padding-left: 0.625rem;">
                            <span style="padding-right: 0.3rem;">
                                {{ctrl.promo.GiftID == 0 || ctrl.promo.GiftID == null ? 'Не выбран ' : 'Подарок выбран'}}
                            </span>
                            <ui-modal-trigger size="xs-11"
                                              data-controller="'ModalOffersSelectvizrCtrl'"
                                              data-controller-as="ctrl"
                                              on-close="ctrl.addGiftModal(result); addEditePromoGift.$setDirty();"
                                              template-url="../areas/admin/content/src/_shared/modal/offers-selectvizr/offersSelectvizrModal.html">
                                <a data-e2e="AddGift">
                                    ({{'Admin.Js.AddEditYandexPromo.Add'|translate}})
                                </a>
                            </ui-modal-trigger>
                            <a data-e2e="ClearGift" ng-if="ctrl.promo.GiftID != 0 && ctrl.promo.GiftID != null" ng-click="ctrl.removeGift();addEditePromoGift.$setDirty();">
                                ({{'Admin.Js.AddEditYandexPromo.Clear'|translate}})
                            </a>
                            <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="{{'Admin.Js.AddEditYandexPromo.Gift'|translate}}">
                                <div class="help-content">
                                    1 подарок, который будет отображаться в Яндекс Маркете для выбранных товаров. Все промоакции на Яндекс Маркете должны соответствовать предложениям магазина.
                                </div>
                            </help-trigger>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button data-e2e="ButtonSave" class="btn btn-save btn-primary" ng-disabled="addEditePromoGift.$pristine" type="button" data-button-validation-success="ctrl.save()" data-button-validation>{{'Admin.Js.AddEditYandexPromo.Ok'|translate}}</button>
        <button data-e2e="ButtonCancel" class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEditYandexPromo.Cancel'|translate}}</button>
    </div>
</form>