<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">{{ctrl.removeFromCurrentCategories ? ('Admin.Js.MoveProduct.MovingToAnotherCategory'|translate) : ('Admin.Js.MoveProduct.AddingToAnotgerCategory'|translate)}}</h2>
</div>
<div class="modal-body">
    <div>
        <div
             data-js-tree
             data-tree-ajax="catalog/categoriestree"
             data-tree-search="{ajax: {url: 'catalog/categoriesTreeBySearchRequest'}}"
             data-tree-core=""
             data-tree-events="select_node:ctrl.selectCategories;deselect_node:ctrl.selectCategories;"
             tree-plugins="checkbox,search"
             tree-checkbox="ctrl.treeCheckbox"></div>
    </div>
    <div data-ng-if="ctrl.removeFromCurrentCategories" class="m-t" style="color: red">
        {{'Admin.Js.MoveProduct.ItemsWillRemovedFromCategory'|translate}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.move()" ng-disabled="ctrl.btnMoveDisabled">{{ctrl.removeFromCurrentCategories ? ('Admin.Js.MoveProduct.MoveProducts'|translate) : ('Admin.Js.MoveProduct.AddProducts'|translate) }}</button>
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.MoveProduct.Cancel'|translate}}</button>
</div>