@import "../../_common/variables.scss";

.lp-block-products-by-categories {

    .category-name-wrap {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .category-name-button {
        white-space: nowrap;
    }

    .category-name-wrap--links {
        /*.lp-btn--link {
            font-weight: 100;
        }*/
        .lp-btn--link-active {
            font-weight: bold;
            text-decoration: underline;
        }

        .category-name {
            margin-bottom: 5px;
        }

        button {
            font-weight: inherit;
        }

        .category-name-button {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 16px;
        }

        .category-name:first-child .category-name-button {
            padding-left: 0;
        }

        .category-name:last-child .category-name-button {
            padding-right: 0;
        }
    }
}


@media #{$viewport-sm} {

    .lp-block-products-by-categories {

        .category-name-wrap {
            flex-wrap: wrap;
        }

        .category-name-button {
            font-size: 18px;
        }

        .category-name-wrap--links {
            .category-name {
                margin-bottom: 20px;
            }
        }
    }
}
