@using AdvantShop.Core.Services.Admin
@{
    Layout = "~/Areas/Admin/Views/Partners/_PartnersLayout.cshtml";
}

@*@if (AdminAreaTemplate.IsAdminv3())
{
    @Html.Back("Партнеры", Url.Action("Index", "Partners"))
}*@

<form action="@Url.Action("GetPartnersReport")" method="POST" novalidate>
    <div class="sticky-page-name m-t-n-xs m-b-xs" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner p-b-xs">
            <div class="page-name-block-item-main">
                <h2 class="m-t-none m-b-none sticky-page-name-text" style="margin-top:0;">
                    Отчет по партнерам
                </h2>
            </div>
            <div class="page-name-block-item-additional">
                <button class="btn btn-sm btn-success" type="submit" data-button-validation>
                    Сформировать отчет
                </button>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="row">
                        <label class="col-xs-2 control-label">
                            <span>Период</span>
                        </label>
                        <div class="col-xs">
                            <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true}">
                                <span class="flatpickr-custom-wrap">
                                    <input name="from" type="text" class="form-control" ng-flatpickr-input ng-model="partnersReport.dateFrom" value="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")" />
                                    <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                </span>
                                <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                        <label class="col-xs-slim control-label">
                            <span>–</span>
                        </label>
                        <div class="col-xs">
                            <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true}">
                                <span class="flatpickr-custom-wrap">
                                    <input name="to" type="text" class="form-control" ng-flatpickr-input ng-model="partnersReport.dateTo" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                    <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                </span>
                                <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>