@model AdvantShop.Web.Admin.ViewModels.Booking.Settings.SettingsModel

<div ng-cloak>
    <div class="sticky-page-name m-b" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text">
                    <span class="hidden-sticky-title" ng-bind="bookingAffiliateSettings.floatHeader"></span>
                </h1>
            </div>
        </div>
    </div>

    <year-calendar class="block"
        calendar-options="bookingAffiliateSettings.calendarAdditionalTimeOptions"
        calendar-on-init="bookingAffiliateSettings.calendarAdditionalTimeOnInit(calendar)">
    </year-calendar>

</div>