<div class="sticky-page-name" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main">
            <h1 class="page-name-block-text sticky-page-name-text">
                @T("Admin.SettingsSearch.Index.SearchSettings")
            </h1>
        </div>
        <div class="page-name-block-item-additional">
            <ui-modal-trigger data-controller="'ModalAddEditSettingsSearchCtrl'" controller-as="ctrl"
                              template-url="../areas/admin/content/src/settingsSearch/modal/addEditsettingsSearch/addEditsettingsSearch.html"
                              data-on-close="settingsSearch.grid.fetchData()">
                <button class="btn btn-sm btn-success btn--margin-left" type="button" data-e2e="btnAdd">
                    <span class="fa fa-plus"></span>
                    @T("Admin.SettingsSearch.Index.AddSetting")
                </button>
            </ui-modal-trigger>
        </div>
    </div>
</div>
<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="grid"
                        grid-on-init="settingsSearch.gridOnInit(grid)"
                        grid-options="settingsSearch.gridOptions"
                        grid-url="'settingsSearch/getsettingsSearch'"
                        grid-inplace-url="'settingsSearch/inplaceSettingsSearch'"
                        grid-search-placeholder="'@T("Admin.SettingsSearch.Index.SearchByName")'"
                        grid-extend-ctrl="settingsSearch">
            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="settingsSearch.grid.gridOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>
