.top-panel {
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 25;
  flex: none;
  min-width: 1220px;
}

.top-panel__list,
.top-panel__sublist,
.top-panel__item--new-dashboard,
.top-panel__item--old-dashboard {
  display: flex;
  align-items: center;
}

.top-panel__sublist,
.top-panel__item--new-dashboard,
.top-panel__item--old-dashboard {
  margin: 0 -10px;
}

.top-panel__list {
  min-width: 1151px;
  border-bottom: 1px solid #dbdcde;
  z-index: 1050;
  min-height: 60px;
  background: #ffffff;
  justify-content: space-between;
  padding: 0 10px;
}

.top-panel__item--new-dashboard {
  justify-content: flex-end;
  min-width: 0;
  flex-grow: 1;
  border-bottom: 0;
  min-height: 0;
  height: auto;
}
.top-panel__item--new-dashboard .top-panel__item--saas-block {
  order: -1;
}
.top-panel__item--new-dashboard .top-panel__item--search .search-input {
  padding-left: 11px;
  padding-right: 40px;
  float: right;
  max-width: 230px;
  transition: linear 0.3s;
  background-position: 200px center;
  background-image: none;
}
.top-panel__item--new-dashboard .top-panel__item--search .search-input:focus {
  max-width: 360px;
  background-position: 330px;
}
.top-panel__item--new-dashboard .search-icon--custom {
  transform: translate(0, 50%);
  right: 12px;
  width: 18px;
  height: 18px;
}

.top-panel__item--search {
  flex-basis: 380px;
}

.top-panel__item--grow {
  flex-grow: 1;
}

.top-panel__item {
  position: relative;
  padding: 0 10px;
}
.top-panel__item .side-menu-item .side-menu__submenu {
  padding: 27px 36px;
  width: 280px;
  left: -36px;
  top: 48px;
  border-top: 1px solid transparent;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 3px 3px rgba(86, 96, 117, 0.7);
}
.top-panel__item .side-menu-item .top-panel__link-add {
  color: #2D9CEE;
  font-size: 16px;
  padding: 0;
  margin: 0 auto;
  background-color: transparent;
  display: inline-block;
  line-height: 1;
}
.top-panel__item .side-menu-item .top-panel__link-add .top-panel__link-add--icon {
  vertical-align: middle;
}
.top-panel__item .side-menu-item .top-panel__link-add:hover {
  background-color: transparent;
}
.top-panel__item .side-menu-item .dropdown-menu-link {
  color: #2D9CEE;
  font-size: 14px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  display: block;
}
.top-panel__item .side-menu-item .dropdown-menu-link:hover {
  background-color: transparent;
  text-decoration: underline;
}
.top-panel__item .side-menu-item .divider {
  margin: 15px 0;
}
.top-panel__item .top-panel__icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.top-panel__item .top-panel__icon:hover {
  background-color: rgba(45, 156, 238, 0.05);
  cursor: pointer;
}
.top-panel__item .popover.bottom {
  top: 32px;
}
.top-panel__item .popover-menu-list .list-group-item {
  border-bottom: 0px;
}
.top-panel__item .popover-menu-list .list-group-item + .divider {
  height: 1px;
  margin: 1px 21px;
  overflow: hidden;
  background-color: #e5e5e5;
}
.top-panel__item .popover-menu-list .dropdown-menu-content-header {
  color: #2D9CEE;
}
.top-panel__item .popover-menu-list .dropdown-menu-content-header:hover {
  text-decoration: underline;
  color: #5f7080;
}

.top-panel__burger-wrap {
  padding-left: 10px;
}

.header-top-right-menu .log-block-inner, .header-top-right-menu .dropdown-menu-content-header {
  font-size: 14px;
}

.log-block-arrow {
  margin-left: 10px;
}

@media (max-width: 1670px) {
  .top-pane__visibility-change {
    display: none !important;
  }

  .top-panel__item .popover.bottom {
    top: 30px;
  }
}
@media (min-height: 800px) {
  .top-panel__list {
    height: 60px;
  }
}
.header-top-right__submenu-parent {
  display: flex;
  align-items: center;
}