<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.MailSettings.ConnectEmailAddress'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row  middle-xs">
                <div class="col-xs-2 control-label">
                    <span class="text-required">Email</span>
                </div>
                <div class="col-xs-10">
                    <input type="email" class="form-control" ng-model="ctrl.email" required validation-input-text="Email" autofocus />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save(ctrl.email)" data-button-validation>{{'Admin.Js.AddEdit.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>