@model BlockModel

<div class="lp-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                @Html.SubBlock(Model, "text")
            </div>
            <div class="col-xs-12 col-sm-6">
                @Html.SubBlock(Model, "text")
            </div>
        </div>
    </div>
</div>