<div class="block-uc block-certificate">
    <a href="@Url.RouteUrl("giftcertificate")">
        <img data-qazy="true" src="@UrlService.GetUrl()images/giftcertificate/certifacate_bow.jpg" class="certificate-img img-not-resize" alt="@T("GiftCertificate.GiftCertificate")" />
        <div class="block-certificate-txt">@T("GiftCertificate.GiftCertificateBlock.Certificates")</div>
    </a>
</div>