@model AdvantShop.ViewModel.GiftCertificate.PrintGiftCertificateViewModel
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@T("GiftCertificate.Print.Title")</title>
    <script type="text/javascript">
        function print_certificate() {
            setTimeout(function() {
                var x = (screen.availWidth - 770) / 2;
                window.resizeTo(762, 662);
                window.moveTo(Math.floor(x), 50);

                window.print();
            }, 1000);
        }
    </script>
    @Html.RenderAssetFilesAsHtml("giftcertificatePrint")
</head>
<body style="padding: 30px;" onload="print_certificate();">
    @Html.Action("GiftCertificateModal", "GiftCertificate", new { isModal = false, code = Model.Code })
</body>
</html>