<form novalidate name="addEditLeadFieldForm">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{(ctrl.editing ? 'Admin.Js.AddEditLeadField.EditField' : 'Admin.Js.AddEditLeadField.NewField') | translate}}</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.form = addEditLeadFieldForm">
        <div class="form-group middle-xs row">
            <label class="col-xs-4 control-label">
                <span class="text-required">{{'Admin.Js.AddEditLeadField.Name'|translate}}</span>
            </label>
            <div class="col-xs-8">
                <input data-e2e="leadFieldName" type="text" class="form-control" ng-model="ctrl.field.Name" required validation-input-text={{'Admin.Js.AddEditLeadField.Name'|translate}} autofocus />
            </div>
        </div>
        <div class="form-group middle-xs row">
            <label class="col-xs-4 control-label">
                {{'Admin.Js.AddEditLeadField.Type'|translate}}
            </label>
            <div class="col-xs-8">
                <select ng-model="ctrl.field.FieldType" ng-options="s.value as s.label for s in ctrl.fieldTypes" class="form-control" data-e2e="leadFieldType" 
                        convert-to-number required validation-input-text={{'Admin.Js.AddEditLeadField.Type'|translate}}>
                    <option value="">{{'Admin.Js.AddEditLeadField.Type.NotSelected'|translate}}</option>
                </select>
            </div>
        </div>
        <div class="form-group middle-xs row">
            <label class="col-xs-4 control-label">
                {{'Admin.Js.AddEditLeadField.Required'|translate}}
            </label>
            <div class="col-xs-8">
                <label class="adv-checkbox-label" data-e2e="leadFieldRequired">
                    <input type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="ctrl.field.Required" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group middle-xs row">
            <label class="col-xs-4 control-label">
                {{'Admin.Js.AddEditLeadField.Active'|translate}}
            </label>
            <div class="col-xs-8">
                <label class="adv-checkbox-label" data-e2e="leadFieldEnabled">
                    <input type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="ctrl.field.Enabled" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row" ng-if="ctrl.field.FieldType == 0">
            <label class="col-xs-4 control-label">
                {{'Admin.Js.AddEditLeadField.FieldValues'|translate}}
            </label>
            <div class="col-xs-8">
                <div class="sortable-row" ng-model="ctrl.field.FieldValues" as-sortable="ctrl.sortableFieldValues">
                    <div class="row" ng-repeat="item in ctrl.field.FieldValues" as-sortable-item ng-cloak>
                        <div class="col-xs-12">
                            <div class="flex payment-row middle-xs between-xs">
                                <div class="flex middle-xs col-xs">
                                    <div class="as-sortable-item-handle" as-sortable-item-handle>
                                        <icon-move />
                                    </div>
                                    <span ng-if="item.Id == null">
                                        <input type="text" class="form-control" ng-model="item.Value" data-e2e="leadFieldValue"
                                               ng-keypress="$event.keyCode === 13 && item.Value && ctrl.addFieldValue(item, item.Value)"
                                               autofocus="ctrl.focusOnValue" />
                                    </span>
                                    <span class="payment-text" ng-if="item.Id != null">
                                        <span class="payment-text-grey" ng-bind="item.Value"></span>
                                    </span>
                                </div>
                                <div class="flex middle-xs col-fixed-size-sm" ng-if="item.Id == null">
                                    <button class="btn btn-sm btn-success btn--margin-left" type="button" ng-click="ctrl.addFieldValue(item)" data-e2e="leadFieldAddValue">
                                        <span class="fa fa-plus"></span>&nbsp;&nbsp;{{'Admin.Js.AddEdit.Add'|translate}}
                                    </button>
                                </div>
                                <div class="flex middle-xs col-fixed-size-ls" ng-if="item.Id != null">
                                    <a href="" class="fa fa-times link-invert link-decoration-none" ng-click="ctrl.deleteFieldValue($index)" data-e2e="leadFieldDeleteValue"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-e2e="btnSave"
                data-button-validation-success="ctrl.save()" data-button-validation ladda="ctrl.btnSleep"
                disabled ng-disabled="ctrl.editing && !addEditLeadFieldForm.modified"
                ng-bind="(ctrl.editing ? 'Admin.Js.AddEdit.Save' : 'Admin.Js.AddEdit.Add') | translate"></button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>