<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title" ng-if="ctrl.mode == 'edit'">{{'Admin.Js.AddEditCertificates.EditGiftCard'|translate}}</h2>
        <h2 class="modal-header-title" ng-if="ctrl.mode == 'add'">{{'Admin.Js.AddEditCertificates.AddGiftCard'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">
                    {{'Admin.Js.AddEditCertificates.CertificateCode'|translate}}
                </span>
            </label>
            <div class="col-xs-9">
                <input type="text" data-e2e="CertCode" class="form-control" ng-model="ctrl.CertificateCode" ng-readonly="ctrl.mode == 'edit'" required validation-input-text={{'Admin.Js.AddEditCertificates.CertificateCode'|translate}} autofocus />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditCertificates.FromWhom'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" data-e2e="CertFrom" class="form-control" ng-model="ctrl.FromName" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditCertificates.To'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" data-e2e="CertTo" class="form-control" ng-model="ctrl.ToName" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label"><span class="text-required">{{'Admin.Js.AddEditCertificates.Amount'|translate}}</span></label>
            <div class="col-xs-9">
                <input type="text" data-e2e="CertSum" class="form-control" ng-model="ctrl.Sum" required validation-input-text={{'Admin.Js.AddEditCertificates.Amount'|translate}} />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label"><span class="text-required">{{'Admin.Js.AddEditCertificates.RecipientEmail'|translate}}</span></label>
            <div class="col-xs-9">
                <input type="text" data-e2e="CertMailTo" class="form-control" ng-model="ctrl.ToEmail" required validation-input-text={{'Admin.Js.AddEditCertificates.RecipientEmail'|translate}} />
            </div>
        </div>
        <div class="form-group row" ng-if="ctrl.mode == 'add'">
            <label class="col-xs-3 control-label"><span class="text-required">{{'Admin.Js.AddEditCertificates.SenderEmail'|translate}}</span></label>
            <div class="col-xs-9">
                <input type="text" data-e2e="CertMailFrom" class="form-control" ng-model="ctrl.FromEmail" required validation-input-text={{'Admin.Js.AddEditCertificates.SenderEmail'|translate}} />
            </div>
        </div>
        <div class="form-group row" ng-if="ctrl.mode == 'edit'">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditCertificates.Used'|translate}}</label>
            <div class="col-xs-9">
                <label data-e2e="CertUsed" class="adv-checkbox-label">
                    <input type="checkbox" ng-model="ctrl.Used" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditCertificates.Available'|translate}}</label>
            <div class="col-xs-9">
                <label data-e2e="CertEnabled" class="adv-checkbox-label">
                    <input type="checkbox" ng-model="ctrl.Enable" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row" ng-if="ctrl.mode == 'edit'">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditCertificates.Paid'|translate}}</label>
            <div class="col-xs-9">                
                <label data-e2e="CertPaid" class="adv-checkbox-label">
                    <input type="checkbox" ng-model="ctrl.Paid" class="adv-checkbox-input control-checkbox" ng-disabled="ctrl.OrderId==null||ctrl.OrderId==''" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label" style="padding-bottom:10px">{{'Admin.Js.AddEditCertificates.Message'|translate}}</label>
            <div class="col-xs-9">
                <textarea ckeditor="{height: 100}" class="wysiwyg" ng-model="ctrl.CertificateMessage"></textarea>
            </div>
        </div>
        <div class="form-group row" ng-if="(ctrl.mode == 'add')">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditCertificates.MethodsOfPayment'|translate}}</label>
            <div class="col-xs-9">
                <div ng-if="ctrl.payment.length > 0">
                    <select data-e2e="CertPayment" class="form-control" ng-model="ctrl.paymentSelected" ng-options="s.Text for s in ctrl.payment track by s.Value">
                        <option value="">{{'Admin.Js.AddEditCertificates.NotSelected'|translate}}</option>
                    </select>
                </div>
                <label ng-if="ctrl.payment.length == 0">
                    {{'Admin.Js.AddEditCertificates.NoPaymentMethods'|translate}}
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button data-e2e="CertSave" class="btn btn-save btn-primary" ladda="ctrl.btnSleep" ladda="btnSleep" type="button" data-button-validation-success="ctrl.saveCertificate()" data-button-validation>{{'Admin.Js.AddEdit.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>