<footer class="site-footer">
    <div class="footer-bottom-level cs-bg-3">
        <div class="container container-fluid">
            <div class="footer-bottom-level-wrap">
                <div class="footer-bottom-level-inner">
                    <div class="row between-xs middle-xs">
                        @Html.Action("Copyright", "Common", new { area = "" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>