@{
    var baseUrl = UrlService.GetUrl();
    var staticUrl = baseUrl + "areas/partners/content/";
    var result = new List<string>
    {
        staticUrl + "scripts/_partials/inplace/styles/inplace.css",

        staticUrl + "scripts/_partials/inplace/inplace.js",
        staticUrl + "scripts/_partials/inplace/services/inplaceService.js",
        staticUrl + "scripts/_partials/inplace/controllers/inplaceRichController.js",
        staticUrl + "scripts/_partials/inplace/controllers/inplaceRichButtonsController.js",
        staticUrl + "scripts/_partials/inplace/directives/inplaceDirectivesMinimum.js",
        staticUrl + "scripts/_partials/inplace/directives/inplaceDirectives.js"
    };
}

@if (AdvantShop.Core.Services.InplaceEditor.InplaceEditorService.DisplayInplace())
{
    if (SettingsMain.EnableInplace)
    {
        <script>
        window.CKEDITOR_BASEPATH = '@(baseUrl)vendors/ckeditor/';
        window.CKEDITOR_LANGUAGE = '@SettingsMain.Language.Split('-')[0].ToLower()';
        </script>
        <script src="@(baseUrl)vendors/ckeditor/ckeditor.js"></script>
        <script>
        //выключаем автоматическую инициализацию inline редактирования
        CKEDITOR.disableAutoInline = true;
        </script>
    }
    <div data-oc-lazy-load="[{serie:true, files: [
                          @Html.Raw(result.Select(x => string.Format("'{0}'", x)).AggregateString(","))
                         ]}]">
        <div data-inplace-start></div>
        <div data-inplace-progress></div>
    </div>
}
