@model AdvantShop.Areas.Partners.Models.Common.LogoModel

@if (Model.DisplayHref)
{
    <a href="@UrlService.GetUrl()" class="site-head-logo-link">
        @Html.Raw(Model.Html)
    </a>
}
else
{
    @Html.Raw(Model.Html)
}
