<div class="toolbar-top cs-bg-2">
    <div class="container container-fluid">
        <aside class="row between-xs">
            <div class="toolbar-top-item toolbar-top-logo">
                <a href="@UrlService.GetUrl("partners")" class="cs-l-4 link-text-decoration-none">Личный кабинет партнера</a>
            </div>
            <div class="toolbar-top-item">
                <a href="@UrlService.GetUrl()" class="cs-l-4 toolbar-top-link-alt">Вернуться к сайту</a>
            </div>
            <div class="toolbar-top-item">
                <a class="cs-l-4 toolbar-top-link-alt" href="@Url.Action("Logout", "Account")">Выйти</a>
            </div>
        </aside>
    </div>
</div>