.lp-btn, .btn {
    text-decoration: none;
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: middle;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border-style: solid;
    font-size: 16px;
    padding: 13px 36px;
    line-height: normal;

    &:after, &:before {
        content: "";
        flex: 1 0 auto;
    }

    &:hover, &:active {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}

.lp-btn {

    &--sm {
        padding: 6px 12px;
        font-size: 12px;
    }

    &--upper {
        text-transform: uppercase;
    }

    &--expand {
        width: 100%;
    }

    &--link {
        background-color: transparent;
        border: 0;
        color: currentColor;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &--disabled {
        opacity: .5;
        cursor: default;

        &:hover,
        &:active {
            opacity: .5;
            cursor: default;
        }
    }

    &--invisible {
        padding: 0;
        margin: 0;
        border: 0;
        background: transparent none;
    }
}

.btn {
    &-sm {
        padding: 6px 12px;
        font-size: 12px;
    }
}

.lp-btn-group {
    display: inline-flex;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;

    &__item--indent {
        padding: 10px;
    }
}
