.dashboard-site {
    padding: 0 15px;
}
.dashboard-site-name {
    font-size: 18px;
    font-weight: bold;
}
.dashboard-site-actions {
    margin: 20px 0 0;

}

.dashboard-color-item {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 5px 0 0;
}

.screenshot-item a {
    padding: 5px 0px;
    display: inline-block;
    text-decoration: none;

}
.screenshot-item a.selected {
    background: white;
}

.add-new-site-wrap {
    display:inline-block;
}

.add-new-site {
    width: 200px;
    height: 200px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-bottom: 0;
}