@using AdvantShop.App.Landing.Models.Landing;
@model BlockModel

<div class="container-fluid">
    <div class="lp-container" data-e2e="@(Model.Config.Name)_container">
        <div class="row center-xs">
            <div class="col-xs-10">
                @if (Model.Block.TryGetSetting("show_title") == true || Model.Block.TryGetSetting("show_subtitle") == true)
                {
                    @:<div class="lp-block-form__header">
                }
                @if (Model.Block.TryGetSetting("show_title") == true)
                {
                    <div class="lp-h2 lp-h2--color" data-e2e="FormTitleBlock">@Html.SubBlock(Model, "title")</div>
                }
                @if (Model.Block.TryGetSetting("show_subtitle") == true)
                {
                    <div class="lp-h3 lp-h3--color" data-e2e="FormSubTitleBlock">@Html.SubBlock(Model, "subtitle")</div>
                }

                @if (Model.Block.TryGetSetting("show_title") == true || Model.Block.TryGetSetting("show_subtitle") == true)
                {
                    @:</div>
                }
            </div>
            <div class="col-xs-12">
                @Html.Form(Model.Form, false, eFormAlign.Center)
            </div>
        </div>
    </div>
</div>