<div class="row m-b-md">
    <div class="col-xs-8">
        <textarea class="form-control" ng-model="$ctrl.answerText" placeholder="{{'Admin.Js.InstagramMessages.WriteAMesage'|translate}}" rows="2"></textarea>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-action btn-sm" ng-click="$ctrl.sendInstagramMessage()">{{'Admin.Js.InstagramMessages.Send'|translate}}</button>
    </div>
</div>
<div ng-if="$ctrl.messages != null && $ctrl.messages.length > 0">
    <div ng-repeat="message in $ctrl.messages track by $index" class="vk-message">
        <div class="row">
            <div class="vk-message-photo">
                <span ng-if="message.ProfilePicture != null" class="text-align-center">
                    <img ng-src="{{message.ProfilePicture}}" class="vk-message-photo-img" />
                </span>
            </div>
            <div class="col-xs">
                <div class="m-b-xs">
                    <a class="lead-vk-title bold" href="https://instagram.com/{{message.UserName}}/" target="_blank">{{message.FullName}}</a> <span ng-bind="message.CreatedDateFormatted"></span>
                </div>
                <div class="" ng-bind-html="message.Text"></div>
            </div>
        </div>
    </div>
</div>