<form name="formAddProduct" novalidate>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.EditProduct.SalesChannelsEnable'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="row center-xs m-b-md">
            <div class="col-xs-5">
                <a href="" ng-click="ctrl.setSelectionAll(true)">{{'Admin.Js.EditUserRoleActions.SelectAll'|translate}}</a>
                <a href="" class="p-l-sm" ng-click="ctrl.setSelectionAll(false)">{{'Admin.Js.EditUserRoleActions.RemoveSelection'|translate}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6" ng-repeat="item in ctrl.salesChannelExcluded.SalesChannelList">
                <label class="adv-checkbox-label form-group">
                    <input type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="item.Enable" ng-checked="item.Enable" ng-click="item.GrayEnable=false" />
                    <span class="adv-checkbox-emul" ng-class="{'gray-checkbox':item.GrayEnable}"></span>
                    {{item.SalesChannelName}}
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation data-button-validation-success="ctrl.save()" ladda="ctrl.isProgress">{{'Admin.Js.ChangeAdminShopName.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.ChangeAdminShopName.Cancel'|translate}}</button>
    </div>
</form>