<div style="max-width: 850px">
    <div class="m-b-sm">
        Востребованность %
        <help-trigger class="ng-cloak m-l-xs" use-template="true">
            <div class="help-content">
                Кол-во слотов для бронирования деленное на кол-во броней
            </div>
        </help-trigger>
    </div>
    <ui-grid-custom grid-unique-id="gridAnaliticsReservationResources"
                    grid-on-init="$ctrl.gridOnInit(grid)"
                    grid-filter-enabled="false"
                    grid-pagination-enabled="false"
                    grid-selection-enabled="false"
                    grid-options="$ctrl.gridOptions"
                    grid-extend-ctrl="$ctrl"
                    grid-empty-text="'Нет данных'">
    </ui-grid-custom>
</div>
