.block-user, .forgot-container, .registration-block {

    .form-field-name {
        padding-right: 0.625rem;
        display: inline-block;
    }

    .form-field-name, .form-field-input {
        display: block;
    }


    .btn {
        cursor: pointer;
    }

    .btn-middle {
        font-weight: bold;
        font-size: 0.75rem;
        padding: 0.75rem;
    }

    .btn {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        border: 0;
        text-align: center;
        border-radius: 0.3125rem;
        line-height: 1.3;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .btn-action {
        color: #fff;
        background: #4b4f58;
    }

    .btn-action:hover {
        color: #fff;
        background: #575b66;
    }

    .btn-action:active {
        color: #fff;
        background: #3f434a;
    }

    .btn-action:disabled, .btn-action.btn-disabled {
        color: #94969b;
        background: #e2e3e4;
    }

    .btn-submit {
        color: #fff;
        background: #0662c1;
    }

    .btn-submit:hover {
        color: #fff;
        background: #076fda;
    }

    .btn-submit:active {
        color: #fff;
        background: #0555a8;
    }

    .btn-submit:disabled, .btn-submit.btn-disabled {
        color: #94969b;
        background: #e2e3e4;
    }

    .vertical-interval-xsmall {
        margin: 0.3125rem 0;
    }

    .input-required {
        position: relative;
    }

    input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px #e2e3e4 solid;
        vertical-align: middle;
        width: 100%;
        appearance: none;
        box-shadow: none;
    }

    .input-small {
        padding: 0.5625rem;
    }

    a {
        color: rgb(23, 121, 250);
    }

    a:hover {
        color: rgb(4, 89, 200);
    }

    a:active {
        color: rgb(23, 121, 250);
    }
}

.auth-container {
    .link-forget, .link-registartion {
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
    }

    .link-forget {
        margin-right: 10px;
    }
}

.auth-container, .forgot-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.registration-block, .forgot-container {
    flex: 1 0 auto;
    position: relative;
}

.forgot-container {
    margin: 0 auto;
}

.forgot-title, .registration-block__title, .auth-block__title {
    line-height: 1.33;
    font-weight: 300;
}

.btn-forgot {
    margin-bottom: 5px;
}

.registration-block {
    padding-bottom: 30px;
}

@media(min-width:64em) {
    .forgot-container {
        max-width: 70%;
    }

    .forgot-container__form-block,
    .forgot-container__description-block {
        width: 50%;
        max-width: 50%;
        flex-basis: 50%;
    }
}
