@using AdvantShop.Saas
@using AdvantShop.Trial

<span style="word-break:break-all" class="@(!CustomerContext.CurrentCustomer.IsVirtual ? "version" : "")">
    @SettingsGeneral.SiteVersion @(TrialService.IsTrialEnabled 
                                    ? "(trial)" 
                                    : (SaasDataService.IsSaasEnabled 
                                        ? "(saas)" 
                                        : "(license)"))
</span>
