@model AdvantShop.ViewModel.ProductDetails.ProductDetailsViewModel

<div data-ng-controller="ProductCtrl as product">
    <div data-ng-init="product.loadData(@Model.Product.ProductId, null, null, false)"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            @Html.Action("ProductPhotos", new {productModel = Model, enabledModalPreview = false, landing = true})
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="page-title-row details-title-row">
                <div class="lp-products-view-alt__name">
                    @Model.Product.Name
                </div>
            </div>
            <div class="lp-products-view-item-price">
                @Html.Partial("ProductInfoLanding", Model)
            </div>
        </div>
    </div>
</div>