@model AdvantShop.Models.ProductDetails.RelatedProductsViewModel

@if (!string.IsNullOrEmpty(Model.Html))
{
    @Html.Raw(Model.Html)
}
else
{
    <div class="block">
        <div class="block-head">
            <div class="h2">@SettingsCatalog.RelatedProductName</div>
        </div>
        <div class="block-content">
            <div class="products-view products-view-tile">
                @if (Model.EnabledCarousel)
                {
                    <div class="product-view-carousel-list product-view-carousel-list-horizontal"
                         data-carousel
                         data-carousel-class="product-view-carousel"
                         data-visible-max="4"
                         data-stretch="false"
                         data-nav-position="outside">
                        @Html.Partial("_ProductView", Model.Products)
                    </div>
                }
                else
                {
                    @Html.Partial("_ProductView", Model.Products)
                }
            </div>
        </div>
    </div>
}
