<div class="block-constructor-categoties" ng-controller="CategorySelectorCtrl as subBlock" ng-init="$ctrl.addApplyCallback(subBlock.apply); subBlock.memorySetting($ctrl.modalData.settings); subBlock.setSelectedIds($ctrl.modalData.settings.categories);">
    <div style="width: 430px" ng-if="subBlock.showJSTree">
        <div data-js-tree
             data-show-root
             data-tree-ajax="adminv2/catalog/categoriestree?{{subBlock.selectedIds != null ? '&selectedIds=' + subBlock.selectedIds : ''}}{{ctrl.excludeIds != null ? '&excludeids=' + subBlock.excludeIds : ''}}"
             data-tree-core=""
             data-tree-events="select_node:subBlock.selectCategory;deselect_node:subBlock.deselectCategory;"
             tree-plugins="checkbox,search"
             tree-checkbox="{three_state:false, cascade: 'down'}"
             tie-selection="false"
             tree-search="{ajax: {url: 'adminv2/catalog/categoriesTreeBySearchRequest'}}"></div>
    </div>
</div>