<div data-ng-form name="cardsFormBlock">
    <div class="row">
        <div class="col-sm-8 col-xs-12 m-b-sm">
            <input type="text" value="" class="input-small" data-ng-model="cardsForm.code" />
        </div>
        <div class="col-sm-4 col-xs-12 checkout-gift-button">
            <input type="button" class="btn btn-small btn-action btn-expander" ng-class="cardsForm.btnClasses" value="{{ ::'Js.Cards.Apply' | translate }}" data-ng-click="cardsForm.apply(cardsForm.code)" />
        </div>
    </div>
</div>