<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">{{'Admin.Js.CompleteLead.Completion'|translate}}<span ng-bind="ctrl.leadId"></span></h2>
</div>
<div class="modal-body">
    <div class="form-group">
        <p class="text-center">{{'Admin.Js.CompleteLead.Choose'|translate}}</p>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-2" ng-if="ctrl.successStatus">
                <button class="btn btn-success btn-block" data-e2e="completeLead" type="button" ng-click="ctrl.completeLead()" ladda="ctrl.btnSleep">
                    {{ctrl.successStatus.Name}}
                </button>
            </div>
            <div class="col-xs-4" ng-if="ctrl.cancelStatus">
                <button class="btn btn-action btn-block" data-e2e="cancelLead" type="button" ng-click="ctrl.cancelLead()" ladda="ctrl.btnCancelSleep">
                    {{ctrl.cancelStatus.Name}}
                </button>
            </div>
        </div>
    </div>
</div>
