<div data-modal-control id="{{::demoModal.demoModalId}}">
    <div data-modal-header class="modal-header">
        Внимание
    </div>
    <div data-modal-content class="modal-content">
        Для того, чтобы получить доступ к административной части интернет-магазина,<br />
        Вам необходимо создать пробную версию магазина.
    </div>
    <div data-modal-footer class="modal-footer">
        <a class="btn btn-middle btn-submit" href="" target="_blank" ng-href="{{::demoModal.demoModalUrl}}">Создать</a>
        <input class="btn btn-middle btn-action" type="button" value="Отмена" data-modal-close />
    </div>
</div>