@model BlockModel

<div class="container-fluid">
    <div class="lp-container" data-e2e="@(Model.Config.Name)_container">
        <div class="row center-xs">
            <div class="@Model.Block.GetWidthInColumnsAsClasses()">
                @if (Model.Block.TryGetSetting("show_button") == true)
                {
                    @Html.Button(Model.Block, "button")
                }
            </div>
        </div>
    </div>
</div>
