@use "sass:math";

@import "../../../../../../styles/_settings.scss";
@import "../../../../../../styles/functions/_util.scss";
@import "../../../../../../styles/functions/_prefixer.scss";
@import "../../../../../../styles/functions/_icons.scss";
@import "../../../../frontend/_common/variables.scss";


.product-gift-image {

    .gifts-list-container {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }

    .gifts-list {

        .gift-txt {
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            text-align: left;
        }

        .gift-img {
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
        }
    }
}

.products-view-label-gift {
    background-color: #cd0303;
}

.prod-gift-icon {
    $height: 233px;
    $width: 253px;
    height: math.div($height, 5);
    width: math.div($width, 5);
    position: absolute;
    bottom: 0;
    right: 0;
    background: url('../../../../images/gift/giftIcon.png') no-repeat top left / 100% 100%;
}

.gift-icon-small {
    $height: 233px;
    $width: 253px;
    height: math.div($height, 10);
    width: math.div($width, 10);
    left: 100%;
    bottom: 0;
}

@media (min-width: 768px) {
    .product-gifts-info.product-gifts-info--abs {
        position: absolute;
        right: 0;
    }

    .product-gifts-info {
        &__title {
            display: none;
        }
    }
}

@media (max-width: 769px) {
    .product-gifts-info.product-gifts-info--abs {
        position: static;
        right: auto;
    }

    .product-gifts-info {
        &__title {
            text-align: center;
            display: block;
        }
    }

    .product-gift-image {
        height: auto;
        width: auto;
        background: none;
        position: static;
        z-index: 1;
        bottom: auto;
        right: auto;

        .gifts-list-container {
            padding-left: 0;
            padding-right: 0;
        }

        .gifts-list {
            display: block;
            box-shadow: none;
            width: auto;
            position: static;
            top: auto;
            transform: translateY(0);
            right: auto;

            &::after,
            &::before {
                display: none;
            }
        }
    }
}
