<form novalidate name="addEditCurrencyForm">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{ctrl.mode == "add" ? ('Admin.Js.AddEditCurrency.Add'|translate) : ('Admin.Js.AddEditCurrency.Edit'|translate)}}</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.form = addEditCurrencyForm">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">{{'Admin.Js.AddEditCurrency.Name'|translate}}</span>
                    </label>
                    <div class="col-xs-8">
                        <input data-e2e="currencyName" type="text" maxlength="30" class="form-control" ng-model="ctrl.Name" required validation-input-text={{'Admin.Js.AddEditCurrency.Name'|translate}} autofocus />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">{{'Admin.Js.AddEditCurrency.Symbol'|translate}}</span>
                    </label>
                    <div class="col-xs-8 relative">
                        <input data-e2e="currencySymbol" type="text" class="form-control" ng-model="ctrl.Symbol" required validation-input-text={{'Admin.Js.AddEditCurrency.Symbol'|translate}} ng-trim="false" />                        
                        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" use-template="true">
                            {{'Admin.Js.AddEditCurrency.SymbolHelp'|translate}}
                        </help-trigger>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">{{'Admin.Js.AddEditCurrency.Value'|translate}}</span>
                    </label>
                    <div class="col-xs-8 relative">
                        <input data-e2e="currencyRate" type="number" class="form-control" ng-model="ctrl.Rate" required validation-input-text={{'Admin.Js.AddEditCurrency.Value'|translate}} />
                        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" use-template="true">
                            {{'Admin.Js.AddEditCurrency.ValueHelp'|translate}}
                        </help-trigger>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">{{'Admin.Js.AddEditCurrency.CodeISO3'|translate}}</span>
                    </label>
                    <div class="col-xs-8 relative">
                        <input data-e2e="currencyIso3" type="text" class="form-control" ng-model="ctrl.Iso3" required validation-input-text={{'Admin.Js.AddEditCurrency.CodeISO3'|translate}} maxlength="3" minlength="3" />
                        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" use-template="true">
                            {{'Admin.Js.AddEditCurrency.CodeISO3Help'|translate}} <a target="_blank" href="https://en.wikipedia.org/wiki/ISO_4217#Active_codes">https://en.wikipedia.org/wiki/ISO_4217</a>
                        </help-trigger>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">{{'Admin.Js.AddEditCurrency.NumericCodeISO3'|translate}}</span>
                    </label>
                    <div class="col-xs-8 relative">
                        <input data-e2e="currencyNumIso3" type="number" max="999" class="form-control" ng-model="ctrl.NumIso3" required validation-input-text={{'Admin.Js.AddEditCurrency.NumericCodeISO3'|translate}} />
                        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" use-template="true">
                            {{'Admin.Js.AddEditCurrency.NumericCodeISO'|translate}} <a target="_blank" href="https://en.wikipedia.org/wiki/ISO_4217#Active_codes">https://en.wikipedia.org/wiki/ISO_4217</a>
                        </help-trigger>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        {{'Admin.Js.AddEditCurrency.SymbolInFront'|translate}}
                    </label>
                    <div class="col-xs-8">
                        <label class="adv-checkbox-label" data-e2e="currencyIsCodeBefore">
                            <input type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="ctrl.IsCodeBefore" />
                            <span class="adv-checkbox-emul"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        {{'Admin.Js.AddEditCurrency.RoundingOrder'|translate}}
                    </label>
                    <div class="col-xs-8">
                        <select ng-model="ctrl.RoundNumbers" data-e2e="currencyRoundNumbers" convert-to-number class="form-control">
                            <option value="-1">{{'Admin.Js.AddEditCurrency.Not'|translate}}</option>
                            <option value="0.01">{{'Admin.Js.AddEditCurrency.RoundToKopecks'|translate}}</option>
                            <option value="1">{{'Admin.Js.AddEditCurrency.RoundToWhole'|translate}}</option>
                            <option value="10">{{'Admin.Js.AddEditCurrency.RoundToTens'|translate}}</option>
                            <option value="100">{{'Admin.Js.AddEditCurrency.RoundToHundreds'|translate}}</option>
                            <option value="1000">{{'Admin.Js.AddEditCurrency.RoundToThousands'|translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-e2e="currencyButtonSave"
                data-button-validation-success="ctrl.save()" data-button-validation ladda="ctrl.btnSleep"
                disabled ng-disabled="ctrl.mode == 'edit' && (!ctrl.formInited || !addEditCurrencyForm.modified)"
                ng-bind="ctrl.mode == 'add' ? ('Admin.Js.AddEdit.Add'|translate) : ('Admin.Js.AddEdit.Save'|translate)"></button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>