
<div class="booking-reports-graphic">
    <div class="clear">
        <h2 class="reports-title">
            Оборот
        </h2>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-white" ng-class="{'active': $ctrl.groupFormatString == 'dd'}" ng-click="$ctrl.changeGroup('dd')">По дням</button>
                <button type="button" class="btn btn-xs btn-white" ng-class="{'active': $ctrl.groupFormatString == 'wk'}" ng-click="$ctrl.changeGroup('wk')">По неделям</button>
                <button type="button" class="btn btn-xs btn-white" ng-class="{'active': $ctrl.groupFormatString == 'mm'}" ng-click="$ctrl.changeGroup('mm')">По месяцам</button>
            </div>
        </div>
    </div>
    <canvas id="bookingTurnover"
            class="chart chart-bar"
            chart-data="$ctrl.TurnoverSum.Data"
            chart-labels="$ctrl.TurnoverSum.Labels"
            chart-series="$ctrl.TurnoverSum.Series"
            chart-colors="$ctrl.TurnoverSum.Colors"
            chart-options="$ctrl.chartOptions"
            chart-dataset-override="$ctrl.datasetOverride"></canvas>
</div>

<div class="booking-reports-graphic">
    <div class="clear">
        <h2 class="reports-title">
            Количество броней
        </h2>
    </div>
    <canvas id="bookingTurnoverCount"
            class="chart chart-bar"
            chart-data="$ctrl.TurnoverCount.Data"
            chart-labels="$ctrl.TurnoverCount.Labels"
            chart-series="$ctrl.TurnoverCount.Series"
            chart-colors="$ctrl.TurnoverCount.Colors"
            chart-options="$ctrl.chartOptions"
            chart-dataset-override="$ctrl.datasetOverride"></canvas>
</div>