@model AdvantShop.Web.Admin.Models.Customers.CustomerViewModel

<div class="ibox ng-cloak" ng-if="customerView.instance.CustomerInterestingCategories != null && customerView.instance.CustomerInterestingCategories.length > 0">
    <div class="ibox-content">
        <h3 class="category-title">@T("Admin.Customers.ViewInterests.Interest")</h3>
        <div class="row">
            <div data-e2e="ClientInterests" class="col-xs-12">
                <span class="customer-segment-item btn-xs" ng-repeat="category in customerView.instance.CustomerInterestingCategories">
                    {{category}}
                </span>
            </div>
        </div>

    </div>
</div>