@model AdvantShop.Web.Admin.Models.Customers.CustomerViewModel

<div class="ibox">
    <div class="ibox-content ng-cloak">
        <h3 class="category-title">Партнерская программа</h3>

        <div ng-if="customerView.instance.PartnerInfo == null">
            <ui-modal-trigger data-controller="'ModalSelectPartnerCtrl'" controller-as="ctrl" size="md" backdrop="static"
                              template-url="../areas/admin/content/src/_shared/modal/selectPartner/selectPartner.html"
                              data-on-close="customerView.bindToPartner(result)">
                <a data-e2e="AddCard" class="btn btn-sm btn-success" href="">
                    Привязать к партнеру
                </a>
            </ui-modal-trigger>
        </div>

        <div ng-if="customerView.instance.PartnerInfo != null">
            <div class="form-group row">
                <div class="col-xs-4">Партнер</div>
                <div class="col-xs-8">
                    <a href="" ng-href="partners/view/{{customerView.instance.PartnerInfo.PartnerId}}" target="_blank">
                        {{customerView.instance.PartnerInfo.PartnerName}}
                    </a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-4">Дата привязки</div>
                <div class="col-xs-8">
                    {{customerView.instance.PartnerInfo.DateBindedFormatted}}
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-action" ng-click="customerView.unbindFromPartner()">Отвязать</button>
        </div>

    </div>
</div>