@model AdvantShop.Web.Admin.Models.Customers.CustomerViewModel

<div class="m-b-sm">@T("Admin.Customers.ViewComment.AdminComment")</div>

<div data-e2e="clientComment">
    <textarea ng-model="customerView.instance.Customer.AdminComment" ng-blur="customerView.updateAdminComment(customerView.instance.Customer.AdminComment)" class="form-control" rows="3"></textarea>
</div>

