@model AdvantShop.Web.Admin.Models.Customers.CustomerViewModel

    <div class="ibox" ng-if="customerView.instance.Customer.Tags != null && customerView.instance.Customer.Tags.length > 0">
        <div class="ibox-content">
            <h3 class="category-title">@T("Admin.Customers.ViewTags.Tags")</h3>
            <div class="row">
                <div class="col-xs-12">
                    <span ng-repeat="tag in customerView.instance.Customer.Tags" data-e2e="tag-{{tag.Name}}" class="customer-tag-item btn-xs">{{tag.Name}}</span>
                </div>
            </div>
        </div>
    </div>