.link-dotted, .link-dashed {
    border-color: currentColor;
}
#sidebar, .sidebar {
    .head {
        background-color: transparent;
    }
}

#sidebar_overlay, .sidebar_overlay {
    background-color: rgba(0,0,0, .3);
}
.menu__item--alt {
    border-color: transparent;
}
.btn-buy,
.btn-action,
.btn-submit,
.btn-confirm {
    &.btn-disabled {
        border-width: 0;

        &:hover, &:active {
            border-width: 0;
        }
    }
}
.categories-root {
    &--with-icon &__item {
        background-color: transparent;
        color: inherit;
    }
}