<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{ctrl.mode == "add" ? ('Admin.Js.AddEditMailAnswerTemplate.Add'|translate) : ('Admin.Js.AddEditMailAnswerTemplate.Edit'|translate)}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <label class="col-xs-2 control-label">
                    <span class="text-required">{{'Admin.Js.AddEditMailAnswerTemplate.Name'|translate}}</span>
                </label>
                <div class="col-xs-10">
                    <input data-e2e="NameMailTemplate" type="text" class="form-control" ng-model="ctrl.Name" required validation-input-text={{'Admin.Js.AddEditMailAnswerTemplate.Name'|translate}} autofocus />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-xs-2 control-label">{{'Admin.Js.AddEditMailAnswerTemplate.Active'|translate}}</label>
                <div class="col-xs-10">
                    <label class="adv-checkbox-label" data-e2e="ActiveMailTemplate">
                        <input type="checkbox" value="true" ng-model="ctrl.Active" class="adv-checkbox-input" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-xs-2 control-label text-required">{{'Admin.Js.AddEditMailAnswerTemplate.MailSubject'|translate}}</label>
                <div class="col-xs-10">
                    <input data-e2e="SubjectMailTemplate" type="text" class="form-control" ng-model="ctrl.Subject" required validation-input-text={{'Admin.Js.AddEditMailAnswerTemplate.MailSubject'|translate}}  />
                </div>
            </div>
        </div>     

        <div class="form-group">
            <div class="row">
                <label class="col-xs-2 control-label">
                    <span class="text-required">{{'Admin.Js.AddEditMailAnswerTemplate.MailText'|translate}}</span>
                </label>
                <div class="col-xs-10">
                    <textarea data-e2e="BodyMailTemplate" ng-model="ctrl.Body" class="form-control" ckeditor="{height: 350}" required validation-input-text={{'Admin.Js.AddEditMailAnswerTemplate.MailBody'|translate}}></textarea>
                    <div class="m-t m-b-xs">{{'Admin.Js.AddEditMailAnswerTemplate.Template'|translate}}</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label class="col-xs-2 control-label">{{'Admin.Js.AddEditMailAnswerTemplate.Sorting'|translate}}</label>
                <div class="col-xs-10">
                    <input data-e2e="SortOrderMailTemplate" type="text" ng-model="ctrl.SortOrder" class="form-control" required validation-input-text={{'Admin.Js.AddEditMailAnswerTemplate.Sorting'|translate}} />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button data-e2e="saveMailTemplate" class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation>{{ctrl.mode == "add" ? ('Admin.Js.AddEdit.Add'|translate) : ('Admin.Js.AddEdit.Save'|translate) }}</button>
        <button data-e2e="cancelMailTemplate" class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>