<form novalidate name="clearDataForm">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.ClearData.Title'|translate}}</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.clearDataForm = clearDataForm">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4">
                    <span class="text-required">
                        {{'Admin.Js.ClearData.Select'|translate}}
                    </span>
                </div>
                <div class="col-xs-8">
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteCategoties" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.Categories'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteProducts" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.Products'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteProperty" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.Property'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteBrands" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.Brands'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteOrder" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.Orders'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteCustomers" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.Customers'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteSubscription" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.Subscription'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteMenu" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.Menu'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deletePage" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.Pages'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteNews" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.News'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteCarosel" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.Carousel'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteShippings" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.Delivery'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deletePayments" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.Payment'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteUsers" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.Employees'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteTasks" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.TasksProjects'|translate}}</span>
                        </label>
                    </div>
                    <div class="form-group label-wrap">
                        <label class="adv-checkbox-label">
                            <input type="checkbox" ng-model="ctrl.deleteCrm" class="adv-checkbox-input">
                            <span class="adv-checkbox-emul"></span>
                            <span class="adv-checkbox-text">{{'Admin.Js.ClearData.CRM'|translate}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-9">
                    <label class="adv-checkbox-label">
                        <input type="checkbox" ng-model="ctrl.confirm" class="adv-checkbox-input" required validation-input-text={{'Admin.Js.ClearData.Confirm'|translate}}>
                        <span class="adv-checkbox-emul"></span>
                        <span class="adv-checkbox-text">{{'Admin.Js.ClearData.ReallyWant'|translate}}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button"
                data-button-validation-success="ctrl.delete()"
                data-button-validation ladda="ctrl.btnSleep">
            {{'Admin.Js.ClearData.Delete'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>