
<div class="sticky-page-name m-t-n-xs" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <h2 class="sticky-page-name-text m-t-none">{{'Admin.Js.SettingsCrm.LeadsLists'|translate}}</h2>
        <div class="page-name-block-item-additional">
            <div ng-if="ctrl.canAddSalesFunnel">
                <ui-modal-trigger data-controller="'ModalAddEditSalesFunnelCtrl'" controller-as="ctrl" size="middle"
                                  template-url="../areas/admin/content/src/settingsCrm/components/salesFunnels/modals/addEditSalesFunnel/addEditSalesFunnel.html"
                                  data-on-close="ctrl.onAddEdit()">
                    <button href="" class="btn btn-sm btn-success" type="button" data-e2e="salesFunnelAdd">
                        <span class="fa fa-plus"></span>
                        {{'Admin.Js.SettingsCrm.AddLeadsList'|translate}}
                    </button>
                </ui-modal-trigger>
            </div>

        </div>
    </div>
</div>
<div class="">
    <ui-grid-custom grid-unique-id="grid"
                    grid-row-identificator="'Id'"
                    grid-on-init="ctrl.gridOnInit(grid)"
                    grid-options="ctrl.gridOptions"
                    grid-url="'salesFunnels/GetSalesFunnelsGrid'"
                    grid-inplace-url="'salesFunnels/UpdateSalesFunnel'"
                    grid-on-inplace-apply="ctrl.onAddEdit()"
                    grid-on-delete="ctrl.onAddEdit()"
                    grid-on-fetch="ctrl.onChange({})"
                    grid-extend-ctrl="ctrl">
    </ui-grid-custom>
</div>