@import "../../_common/variables.scss";

$threeColumnsItemPadding: 10px;

.lp-block-team-three-columns-carousel,
.lp-block-team-three-columns,
.lp-block-team-three-columns-rounded {
    &__row-wrap {
        margin-left: -$threeColumnsItemPadding;
        margin-right: -$threeColumnsItemPadding;
    }

    &__row {
        /*margin-left: -$threeColumnsItemPadding;
        margin-right: -$threeColumnsItemPadding;*/
    }

    &__item,
    &__item--header {
        padding-left: $threeColumnsItemPadding;
        padding-right: $threeColumnsItemPadding;
        box-sizing: border-box;
    }

    &__item {
        padding-bottom: $threeColumnsItemPadding;
    }

    &__content {
        padding: 24px;
        text-align: center;
        word-break: break-word;
    }

    &__text {
        margin-top: 8px;
    }
}

.lp-block-team-three-columns-carousel__row {
    text-align: center;
}

.lp-block-team-three-columns-rounded__picture img {
    width: 140px;
    height: 140px;
    overflow: hidden;
    /*border-radius: 50%;*/
}

.lp-block-team-details,
.lp-block-team-details-reverse {
    &__subheader {
        margin-top: 4px;
    }

    &__content {
        margin-top: 18px;
        line-height: 1.5;
        margin-bottom: 23px;
    }

    &__col-data {
        padding-top: 24px;
    }
}

.lp-block-team-details-reverse__header,
.lp-block-team-details__header {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 4px;
}

.lp-block-team-details-reverse__subheader,
.lp-block-team-details__subheader {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

@media #{$viewport-sm} {
    .lp-block-team-details-reverse__header,
    .lp-block-team-details__header {
        font-size: 24px;
        line-height: 1.33;
    }

    .lp-block-team-details-reverse__subheader,
    .lp-block-team-details__subheader {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.56;
    }

    .lp-block-team-details__col-data {
        padding-top: 0;
        padding-left: 40px;
    }

    .lp-block-team-details-reverse__col-data {
        padding-top: 0;
        padding-right: 40px;
    }
}
