@model SubBlockModel

@if (Model.InPlace)
{
    <div data-inplace-rich 
         @Html.Raw(!Model.HidePlaceholder ? "placeholder=\"Нажмите сюда, чтобы добавить описание\"" : "placeholder=\"\"")
         data-inplace-on-save="blocksConstructorContainer.onInplaceSaveSubblock('@Model.SubBlock.Name', 'ContentHtml', value)">
        <div>@Html.Raw(Html.InplaceEscapeScripts(Model.SubBlock.ContentHtml))</div>
    </div>
}
else
{
    @Html.Raw(Model.SubBlock.ContentHtml)
}
