@using AdvantShop.Trial
@using AdvantShop.Core.Services.Landing;
@using AdvantShop.Core.Services.SalesChannels;
@model AdvantShop.Web.Admin.Models.Dashboard.CreateSiteModel
@{
    string urlParam = string.IsNullOrEmpty(Model.Mode)
        ? string.Empty
        : string.Format("&mode={0}", Model.Mode);

    //var isFirstTimeCreateStore = SalesChannelService.IsFirstTimeCreateStore();
    //var redirectUrlAfterSetTemplate = isFirstTimeCreateStore ? Url.Action("Index", "Dashboard") : Url.Action("Index", "Design");
    var redirectUrlAfterSetTemplate = Url.Action("Index", "Design");
}

<div class="last-item-ava" ng-class="{'template-item template-item--popular': item.IsPopular}">
    <div ng-switch="createSite.current  === 'Store'">
        <div ng-switch-when="true" class="link-img-abs">
            <img class="animation-img"
                 ng-style="createSite.hoverImgStyle[item.Name]"
                 ng-mouseenter="createSite.hoverImgStyle[item.Name] =  createSite.getAnimationForImg()"
                 ng-mouseleave="createSite.hoverImgStyle[item.Name] = {}"
                 data-index="{{item.Name}}"
                 data-ng-src="{{item.Picture}}" />
        </div>

        <a ng-switch-when="false" ng-href="{{item.EditLink}}@urlParam" class="link-img-abs">
            <img class="animation-img"
                 ng-style="createSite.hoverImgStyle[item.Name]"
                 ng-mouseenter="createSite.hoverImgStyle[item.Name] =  createSite.getAnimationForImg()"
                 ng-mouseleave="createSite.hoverImgStyle[item.Name] = {}"
                 data-index="{{item.Name}}"
                 data-ng-src="{{item.Picture}}" />
        </a>
    </div>
</div>
<div class="last-item-con"
     ng-class="{'last-item-con-not-text-bottom': createSite.current  === 'Store' && item.Price == 0 &&  createSite.currentTypeStore === 'all' && @(TrialService.IsTrialEnabled.ToLowerString()) == true}"
     data-e2e="template.{{item.Name}}">
    <div class="flex between-xs full-width">
        <div class="last-item-title">
            <a ng-href="{{item.EditLink}}@urlParam">{{item.Name}}</a>
        </div>

        <div class="last-item-content" ng-if="item.PriceStr != null">
            <span>{{item.PriceStr}}</span>
        </div>

    </div>
    <div class="flex flex-wrap middle-xs m-t-xs" ng-switch="createSite.current  === 'Store'">
        <div ng-switch-when="true">
            <form ng-show="item.Price == 0 || item.Active || @(TrialService.IsTrialEnabled.ToLowerString()) == true"
                  novalidate class="inline"
                  ng-controller="DesignCtrl as design"
                  ng-init="design.checkStore=true"
                  ng-submit="design.installTemplate(item.StringId, item.Id, item.Version, '@redirectUrlAfterSetTemplate')">
                <input type="submit" disabled ng-disabled="!design.pageLoaded" class="btn btn-md btn-default m-r-md m-b-xs" value="@T("Admin.Design.Index.Install")" />
            </form>

        </div>
        @if (!TrialService.IsTrialEnabled)
        {
            <div ng-switch-when="true">
                <a ng-if="item.Price != 0 && !item.Active" href="/adminv3/service/buytemplate/{{item.StringId}}" class="btn btn-md btn-default m-r-md m-b-xs">@T("Admin.Design.Index.Buy")</a>
            </div>
        }
        <a ng-switch-when="false" class="btn btn-md btn-default m-r-md m-b-xs" ng-href="{{item.EditLink}}@urlParam" data-e2e="funnelCreateLink">Подробнее</a>

        <a class="link-online-demo link m-b-xs bold" ng-href="{{item.DemoLink}}" ng-if="item.DemoLink != null" target="_blank" data-e2e="funnelDemoLink">Онлайн демо</a>
    </div>
    @if (TrialService.IsTrialEnabled)
    {
        <div ng-if="createSite.current  === 'Store' && item.Price != 0" class="ng-cloak last-item-con__freedays">* 14 дней бесплатно</div>
    }
</div>