<div class="flex middle-xs m-l-lg" style="height:100%;">
    <div class="row">
        <div class="col-xs-6">
            <h1 class="bold">
                Мои сайты
            </h1>

            <div class="m-t m-b-xs bold-title bold f-s-18">Создайте современный продающий сайт</div>
            <div>
                Интернет-магазин, который позволит вам представить широкий ассортимент продукции с возможностью поиска, фильтрации, сравнения товаров.
            </div>

            <div class="m-t m-b-xs bold-title bold f-s-18">Создайте современный продающий сайт</div>
            <div>
                Воронку продаж, с помощью которой можно  продавать отдельные товары или услуги, а также привлекать больше потенциальных покупателей.
            </div>

            <div class="m-t-lg">
                <a href="dashboard/createsite" class="btn btn-sm btn-success">Создать сайт</a>
            </div>
        </div>
        <div class="col-xs-6">
            <img src="../areas/admin/content/src/_shared/modal/salesChannels/images/my_site.jpg">
        </div>
    </div>
</div>