<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">Результат загрузки</h2>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="row">
            <div class="col-xs">
                <span ng-bind="ctrl.isExclude ? 'Исключено' : 'Включено'"></span> {{ctrl.countExcluded}} артикулов. Пропущено {{ctrl.countMissingArtNo}} артикулов <a ng-click="ctrl.showMissingArtNo = !ctrl.showMissingArtNo" ng-bind="ctrl.showMissingArtNo ? '(Скрыть)' : '(Просмотреть...)'"></a>
            </div>
        </div>
    </div>
    <div ng-if="ctrl.showMissingArtNo" class="form-group">
        <div class="row">
            <label class="col-xs-6 control-label">
                Список пропущенных артикулов
            </label>
        </div>
        <div class="row">
            <div class="col-xs">
                <textarea class="form-control" ng-bind="ctrl.missingArtNo" rows="7" readonly></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">Закрыть</button>
</div>
