<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddEditReview.Title'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group row" ng-if="ctrl.mode == 'add'">
            <label class="col-xs-3 control-label">
                <span class="text-required">{{'Admin.Js.AddEditReview.Article'|translate}}</span>
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.ArtNo" required validation-input-text={{'Admin.Js.AddEditReview.Article'|translate}} data-e2e="ReviewArtNo" />
            </div>
        </div>
        <div class="form-group row" ng-if="ctrl.mode != 'add'">
            <label class="col-xs-3 control-label">
                <span>{{'Admin.Js.AddEditReview.Product'|translate}}</span>
            </label>
            <div class="col-xs-9">
                <a ng-href="{{ctrl.productUrl}}#?tab=tabReviews" href="" target="_blank" title={{'Admin.Js.AddEditReview.ViewingProduct'|translate}}>{{ctrl.productName}}</a>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">{{'Admin.Js.AddEditReview.Author'|translate}}</span>
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.Name" required validation-input-text={{'Admin.Js.AddEditReview.Author'|translate}} data-e2e="ReviewName" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                {{'Admin.Js.AddEditReview.Email'|translate}}
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.Email" data-e2e="ReviewEmail" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">{{'Admin.Js.AddEditReview.Text'|translate}}</span>
            </label>
            <div class="col-xs-9">
                <textarea class="form-control wysiwyg" ng-if="ctrl.isLoading === false" ng-model="ctrl.Text" ckeditor="ctrl.ckeditor" required validation-input-text={{'Admin.Js.AddEditReview.Text'|translate}} data-e2e="ReviewText" id="ReviewText" name="ReviewText" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                {{'Admin.Js.AddEditReview.Photo'|translate}}
            </label>
            <div class="col-xs-9">
                <div ng-repeat="photo in ctrl.Photos">
                    <div ng-bind="photo.name" ng-if="photo.name"></div>
                    <img ng-src="{{photo.ImageSrc}}" ng-if="!photo.name" />
                    <img ngf-src="photo" ng-if="photo.name" />
                    <div>
                        <a href="" class="picture-uploader-buttons-delete link-danger" ng-click="ctrl.deletePhoto(photo.PhotoId, $index)">{{'Admin.Js.AddEditReview.Remove'|translate}}</a>
                    </div>
                </div>
                <figure class="">
                    <button data-e2e="ReviewImg" class="btn btn-action btn-sm" type="button" multiple ngf-drop ngf-max-size="15MB" accept="image/*"
                            ngf-select="" ngf-change="ctrl.uploadImage($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)">
                        <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">{{'Admin.Js.AddEditReview.SelectFile'|translate}}</span>
                    </button>
                    <help-trigger class="ng-cloak m-l-xs" use-template="true">
                        <div class="help-content" ng-bind-html="ctrl.filesHelpText">
                        </div>
                    </help-trigger>
                </figure>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                {{'Admin.Js.AddEditReview.Added'|translate}}
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.AddDate" data-e2e="ReviewDateAdd" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                {{'Admin.Js.AddEditReview.Verified'|translate}}
            </label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label">
                    <input type="checkbox" ng-model="ctrl.Checked" class="adv-checkbox-input control-checkbox" data-e2e="ReviewCheckedSelected" />
                    <span class="adv-checkbox-emul" data-e2e="ReviewCheckedClick"></span>
                </label>
            </div>
        </div>
        <div class="form-group row" ng-if="ctrl.mode != 'add'">
            <label class="col-xs-3 control-label">
                {{'Admin.Js.AddEditReview.Ip'|translate}}
            </label>
            <div class="col-xs-9 control-label">
                <span>{{::ctrl.Ip}}</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation>{{'Admin.Js.AddEdit.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>