@model AdvantShop.Web.Admin.Models.Orders.OrdersEdit.OrderModel

<div class="text-color-alt m-t-md  m-b-xs">Генерация документов</div>

@if (Model.TemplatesDocx.Count > 0)
{
    <div>
        <div>Выберите шаблоны:</div>
        <div class="p-b-sm">
            @foreach (var template in Model.TemplatesDocx)
            {
                <div>
                    <label class="adv-checkbox-label form-label-block">
                        <input type="checkbox" checklist-model="order.selectedTemplatesDocx" checklist-value="@template.Id" class="adv-checkbox-input" />
                        <span class="adv-checkbox-emul"></span>
                        @template.Name
                    </label>
                </div>
            }
        </div>
        <button class="btn btn-success btn-sm" type="button" ladda="order.creatingDocxs"
                disabled ng-disabled="!order.selectedTemplatesDocx || order.selectedTemplatesDocx.length === 0"
                ng-click="order.createDocx()">
            <span class="fa fa-download" ng-class="{'fa-plus': order.templatesDocxAttach, 'fa-download': !order.templatesDocxAttach}"></span> Создать документы
        </button>
        @*<label class="adv-checkbox-label" ng-if="order.canBeEditing">
                <input id="BookingTemplatesDocxAttach" type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="order.templatesDocxAttach" />
                <span class="adv-checkbox-emul"></span>
                Прикрепить к файлам
            </label>*@
    </div>
}
else
{
    <p>
        Нет шаблонов
    </p>
}
