<div class="swipe-line">
    <div class="swipe-line__inner block-content block-content--margin" data-swipe-line>
        <div class="swipe-line__content">
            <div class="product-grid-item__row">
                <figure class="product-grid-item__figure">
                    <a class="product-grid-item__link" ng-href="{{row.entity.ProductLink}}">
                        <img class="product-grid-item__picture" ng-src="{{row.entity.ImageSrc}}" />
                    </a>
                </figure>
                <div class="product-grid-item__content">
                    <div class="product-grid-item__name text-lg" ng-bind="row.entity.Name"></div>
                    <div class="product-grid-item__sku text-alt">Артикул: <span ng-bind="row.entity.ArtNo"></span></div>
                    <div class="product-grid-item__additional-data row" ng-if="row.entity.Color || row.entity.Size">
                        <div class="col-xs-6" ng-if="row.entity.Color" ng-bind="row.entity.Color"></div>
                        <div class="col-xs-6" ng-if="row.entity.Size" ng-bind="row.entity.Size"></div>
                    </div>
                    <div class="product-grid-item__order-data row between-xs middle-xs">
                        <div class="col-xs-6 product-grid-item__amount" ng-if="row.entity.Amount != null">
                            <span class="text-alt">Кол-во:</span>
                            <span ng-bind="row.entity.Amount"></span>
                        </div>
                        <div class="col-xs-slim product-grid-item__cost" ng-bind="row.entity.Cost"></div>
                    </div>
                </div>
            </div>
        </div>
        <ui-grid-custom-delete ng-if="!uiGridCustom.gridExtendCtrl.isPaied"
                               url="orders/deleteOrderItem"
                               params="{'orderId': row.entity.OrderId, 'orderItemId': row.entity.OrderItemId }"
                               data-classes="btn btn-sm btn-danger btn--as-swipe-line block-stretch-align"
                               data-swipe-line-right>
            Удалить
        </ui-grid-custom-delete>
    </div>
</div>
