<div>
    <a class="btn btn-xsmall btn-submit" href="javascript:void(0)" modal-open="{{hermes.modalId}}">{{ ::'Js.ShippingTemplate.SelectPickupPoint' | translate }}</a>
    <div data-ng-bind="hermes.hermesShipping.PickpointAddress"></div>
    <div data-ng-if="hermes.hermesShipping.PickpointAddress == null && hermes.hermesIsSelected" class="shipping-extend-error error-color">
        {{ ::'Js.ShippingTemplate.SelectPickupPointOrDelivery.NotSelected' | translate }}
    </div>
    <input data-ng-if="hermes.hermesIsSelected" class="shipping-extend-input-hidden" type="text" data-ng-model="hermes.hermesShipping.PickpointAddress" required readonly data-validation-input-text="{{ ::'Js.ShippingTemplate.SelectPickupPoint.NotSelected' | translate }}" />
</div>