@model AdvantShop.ViewModel.Feedback.FeedbackViewModel
@{
    Html.AddAsset("feedback");
}
<div class="site-body-cell">
    <div class="page-title-row brands-title-row">
        <div class="contacts-title page-title">
            <h1>@T("Feedback.Index.FeedbackHeader")</h1>
        </div>
    </div>
    @Html.SingleBreadCrumb(T("Feedback.Index.FeedbackHeader").ToString())

    <div class="row">
        <div class="col-xs">
            <div class="site-body-cell-no-left">
                <div class="feedbackSuccess-block">
                    @Html.StaticBlock("feedback_success")
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="site-body-cell-no-right">
                @Html.Action("CheckOrderBlock", "Checkout")
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener('load', function () {
        setTimeout(function () {
            $(document).trigger("send_feedback");
        }, 2000);
    });
</script>