<form name="formAddAffiliate" novalidate>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddAffiliate.Title'|translate}}</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.formAddAffiliate = formAddAffiliate">
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">
                    {{'Admin.Js.AddAffiliate.Name'|translate}}
                </span>
            </label>
            <div class="col-xs-9">
                <input data-e2e="affiliateName" type="text" class="form-control" ng-model="ctrl.name" required validation-input-text="{{'Admin.Js.AddAffiliate.Title'|translate}}" autofocus />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddAffiliate.SortingOrder'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" data-e2e="affiliateSortOrder" ng-model="ctrl.sortOrder" class="form-control" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-e2e="affiliateButtonSave"
                data-button-validation-success="ctrl.save()" data-button-validation>{{'Admin.Js.AddEdit.Add'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>