<div>
    <div class="background-picker-row">
        <div class="color-viewer-list"
             data-colors-viewer
             data-color-selected="$ctrl._colorSelected"
             data-change-color="$ctrl.changeColor(event, color)"
             data-colors="::$ctrl.colors"
             data-color-width="::'18px'"
             data-color-height="::'18px'"></div>
    </div>
    <div>
        <div class="blocks-constructor-row__name">
            <label class="blocks-constructor-label" data-e2e="isShowCustomColors">
                <input class="blocks-constructor-checkbox-native" type="checkbox"  ng-model="$ctrl.isShowCustomColors" />
                <span class="blocks-constructor-checkbox"></span>
                <span class="blocks-constructor-label-text">
                    Указать свой цвет фона
                </span>
            </label>
        </div>
        <div data-ng-if="$ctrl.isShowCustomColors">
            <color-picker data-e2e="customColor" 
                          class="lp-gradient-picker-color" ng-model="$ctrl.customColor"
                          options="$ctrl.colorPickerOptions"
                          event-api="$ctrl.colorPickerEventApi"></color-picker>
        </div>
    </div>
    <!--<div>
        <div class="blocks-constructor-row__name">
            <label class="blocks-constructor-label">
                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.isShowGradientPanel" />
                <span class="blocks-constructor-checkbox"></span>
                <span class="blocks-constructor-label-text">
                    Сделать градиент
                </span>
            </label>
        </div>
        <div data-ng-if="$ctrl.isShowGradientPanel">
            <gradient-picker start-color="$ctrl.startColor"
                             middle-color="$ctrl.middleColor"
                             end-color="$ctrl.endColor"
                             on-update="$ctrl.changeGradient(cssString)"></gradient-picker>
        </div>
    </div>-->
</div>