@using AdvantShop.Track;

<div class="row group-list-add">
    <div class="col-xs-4">
        <a class="group-list-add__item group-list-add__link" href="@Url.Action("Add", "Orders")" onclick="return advTrack('@ETrackEvent.Core_Common_LeftMenu_QuickAdd.ToString()', 'Order');">
            <span class="group-list-add__icon">
                <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.205 20.746L17.83 5.271a.661.661 0 00-.658-.604h-2.827A4.745 4.745 0 009.605 0a4.745 4.745 0 00-4.741 4.667H2.037a.658.658 0 00-.658.604L.005 20.746c0 .02-.005.04-.005.059C0 22.567 1.615 24 3.602 24h12.005c1.988 0 3.603-1.433 3.603-3.195 0-.02 0-.04-.005-.059zm-9.6-19.42a3.42 3.42 0 013.416 3.341H6.189a3.42 3.42 0 013.416-3.342zm6.002 21.349H3.602c-1.246 0-2.257-.825-2.277-1.84L2.64 5.997H4.86V8.01a.66.66 0 00.662.662.66.66 0 00.663-.662V5.998h6.837V8.01a.66.66 0 00.662.662.66.66 0 00.663-.662V5.998h2.218l1.32 14.836c-.019 1.016-1.035 1.84-2.277 1.84z" fill="currentColor" />
                </svg>
            </span>
            <span class="group-list-add__name">Добавить заказ</span>
        </a>
    </div>
    <div class="col-xs-4">
        <ui-modal-trigger class="group-list-add__item" data-controller="'ModalAddProductCtrl'" data-controller-as="ctrl" template-url="../areas/admin/content/src/_shared/modal/addProduct/addProduct.html">
            <a href="" class="group-list-add__link" onclick="return advTrack('@ETrackEvent.Core_Common_LeftMenu_QuickAdd.ToString()', 'Product');">
                <span class="group-list-add__icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.583 6.604a2.586 2.586 0 002.583-2.583 2.59 2.59 0 00-2.583-2.587A2.586 2.586 0 000 4.016a2.594 2.594 0 002.583 2.588zm0-3.97c.764 0 1.382.623 1.382 1.382 0 .76-.623 1.382-1.382 1.382-.76 0-1.382-.622-1.382-1.382 0-.76.622-1.382 1.382-1.382zM2.583 14.583A2.586 2.586 0 005.166 12a2.583 2.583 0 10-2.583 2.583zm0-3.965c.764 0 1.382.622 1.382 1.382 0 .76-.623 1.382-1.382 1.382-.76 0-1.382-.617-1.382-1.382 0-.765.622-1.382 1.382-1.382zM2.583 22.567a2.586 2.586 0 002.583-2.583A2.586 2.586 0 002.583 17.4 2.59 2.59 0 000 19.984a2.59 2.59 0 002.583 2.582zm0-3.97c.764 0 1.382.622 1.382 1.382 0 .764-.623 1.382-1.382 1.382-.76 0-1.382-.623-1.382-1.382 0-.76.622-1.382 1.382-1.382zM8.62 4.62h14.777a.602.602 0 100-1.206H8.621a.602.602 0 100 1.205zM8.62 12.603h14.777a.602.602 0 100-1.206H8.621a.602.602 0 100 1.206zM8.62 20.582h14.777a.602.602 0 100-1.206H8.621a.602.602 0 100 1.206z" fill="currentColor" />
                    </svg>
                </span>
                <span class="group-list-add__name">Добавить товар</span>
            </a>
        </ui-modal-trigger>
    </div>
    <div class="col-xs-4">
        <ui-modal-trigger class="group-list-add__item" data-controller="'ModalAddLeadCtrl'" controller-as="ctrl" size="lg" backdrop="static" template-url="../areas/admin/content/src/_shared/modal/addLead/addLead.html">
            <a href="" class="group-list-add__link" onclick="return advTrack('@ETrackEvent.Core_Common_LeftMenu_QuickAdd.ToString()', 'Lead');">
                <span class="group-list-add__icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.161 4.629h-4.454v-.795c0-1.078-.877-1.959-1.96-1.959H9.248c-1.078 0-1.959.876-1.959 1.96v.79H2.834h0c-1.09.004-1.959.887-1.959 2.13V18.67c0 .914.884 1.787 1.96 1.787h18.33c1.071 0 1.96-.868 1.96-1.787V6.756v0c-.005-1.243-.874-2.127-1.964-2.127zm.752 13.786v0a.79.79 0 01-.79.79H2.877a.79.79 0 01-.79-.79v-6.122c.241.11.507.173.79.173h7.08v1.077c0 .323.262.585.584.585h2.922a.585.585 0 00.585-.585v-1.077h7.079c.284 0 .55-.067.79-.175l-.004 6.124zM8.544 3.92a.79.79 0 01.79-.79h5.327a.79.79 0 01.79.79v.704H8.544V3.92zm2.664 8.957v-1.412h1.584v1.412h-1.584zm10.619-2.453a.79.79 0 01-.79.79h-6.994v-.42a.585.585 0 00-.584-.585h-2.922a.585.585 0 00-.584.585v.42h-6.99a.79.79 0 01-.79-.79v-3.75a.79.79 0 01.79-.79h18.074a.79.79 0 01.79.79v3.75z" fill="currentColor" stroke="currentColor" stroke-width=".25" />
                    </svg>
                </span>
                <span class="group-list-add__name">Добавить лид</span>
            </a>
        </ui-modal-trigger>
    </div>
</div>



