.sidebar {
  background-color: #eeeeee;
}
.sidebar::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  /* should match background, can't be transparent */
  background-color: #dbdcde;
}
.sidebar::-webkit-scrollbar-track {
  background-color: #eeeeee;
}
.sidebar__name {
  color: #2f4050;
}
.sidebar__counter .new-item {
  background-color: #dbdcde;
  color: #2f4050;
}
.sidebar__link:hover {
  color: #e2e3e3;
}
.sidebar__link:hover .sidebar__name {
  color: #2f4050;
}
.sidebar__link--subitem .sidebar__name {
  color: #2f4050;
}
.sidebar__link--simple {
  color: #2f4050;
}
.sidebar__link--simple:hover {
  color: #2f4050;
}
.sidebar__trigger {
  border-bottom: 1px solid transparent;
}
.sidebar__trigger:hover, .sidebar__trigger--active, .sidebar__trigger--active:hover {
  background-color: #e2e3e3;
}
.sidebar__trigger:active {
  background-color: #e2e3e3;
  opacity: 0.7;
}
.sidebar__trigger--subitems {
  border-color: transparent;
}
.sidebar.sidebar--compact:hover .sidebar__trigger {
  border-color: transparent;
}
.sidebar__icon {
  color: #2f4050;
}
.sidebar__item--open {
  background-color: #e2e1e1;
}
.sidebar__item--selected {
  background-color: #d7dada;
}
.sidebar__category-item-name, .sidebar__name--link {
  color: #a3a4a9;
}
.sidebar--simple .sidebar__item--selected {
  border-left-color: #399ee2;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__name {
  background-color: #d7dada;
  color: #2f4050;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__name::after {
  background: #d7dada;
}

.sidebar-action__inner {
  border: 1px solid transparent;
}

.sidebar-unit-modal-trigger:hover .sidebar-unit-modal-trigger__icon {
  color: #5b6e80;
}
.sidebar-unit-modal-trigger__icon {
  color: #2f4050;
}

.mobile-version .sidebar__link:hover .sidebar__icon {
  color: currentColor;
}