<ng-form name="shippingbydistancelimit">
    <div>
        <div class="row middle-xs m-b-md">
            <div class="col-xs-3">
                {{'Admin.Js.ShippingMethods.Before'|translate}}
                <div class="input-group inline valign-middle">
                    <input type="text" validation-input-float ng-model="$ctrl.Amount" class="form-control inline" style="width: 70px;" />
                    <div class="input-group-btn">
                        <span class="btn btn-default"><span>{{'Admin.Js.ShippingMethods.Km'|translate}}</span></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                {{'Admin.Js.ShippingMethods.Cost'|translate}}
                <div class="input-group inline valign-middle">
                    <input type="text" validation-input-float ng-model="$ctrl.Price" class="form-control inline" style="width: 70px" />
                    <div class="input-group-btn">
                        <span class="btn btn-default"><span>{{$ctrl.currencyLabel}}</span></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">

                <label class="adv-checkbox-label form-label-block p-l-md">
                    {{'Admin.Js.ShippingMethods.PerKm'|translate}}
                    <input type="checkbox" class="adv-checkbox-input" ng-model="$ctrl.PerUnit">
                    <span class="adv-checkbox-emul adv-checkbox-emul--right"></span>
                </label>
            </div>
            <div class="col-xs">
                <button type="button" ng-disabled="$ctrl.Amount == null || $ctrl.Price == null" ng-click="$ctrl.addRange()" class="btn btn-sm btn-action">{{'Admin.Js.ShippingMethods.Add'|translate}}</button>
            </div>
        </div>

        <div class="m-b-md">
            <div class="row" ng-repeat="item in $ctrl.ranges track by $index">
                <div class="col-xs-3">
                    {{'Admin.Js.ShippingMethods.Before'|translate}} {{item.Amount | number}} {{'Admin.Js.ShippingMethods.Km'|translate}}
                </div>
                <div class="col-xs-4">
                    {{item.Price | number}} {{$ctrl.currencyLabel}}
                </div>
                <div class="col-xs-2">
                    {{item.PerUnit ? ('Admin.Js.ShippingMethods.PerKm'|translate) : "" }}
                </div>
                <div class="col-xs">
                    <a href="" ng-click="$ctrl.deleteRange($index)" class="link-invert link-decoration-none fas fa-times"></a>
                </div>
            </div>
        </div>

        <input type="hidden" name="distanceLimit" value="{{$ctrl.distanceLimit}}" />
        <input type="text" ng-model="$ctrl.update" class="hidden" />
    </div>
</ng-form>