<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">{{'Admin.Js.ChangeParentCategory.ParentCategory'|translate}}</h2>
</div>
<div class="modal-body">
    <div class="category-modal-change-text">
        {{'Admin.Js.ChangeParentCategory.Select'|translate}}
    </div>
    <div>
        <div data-js-tree
             data-tree-search="{ajax: {url: 'catalog/categoriesTreeBySearchRequest'}}" 
             data-show-root
             data-tree-ajax="catalog/categoriestree"
             data-tree-ajax-data="ctrl.treeAjaxData"
             tree-plugins="search"
             data-tree-core="" data-tree-events="select_node:ctrl.selectCategory"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.change()" ng-disabled="ctrl.btnChangeDisabled">{{'Admin.Js.ChangeParentCategory.Change'|translate}}</button>
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.Category.Cancel'|translate}}</button>
</div>