<div bs-modifiable="false">
    <ui-grid-custom-filter ng-if="$ctrl.gridFilterEnabled === true"
                           grid-params="$ctrl._params"
                           grid-column-defs="$ctrl.gridOptions.columnDefs"
                           grid-search-text="$ctrl.gridSearchText"
                           grid-search-placeholder="$ctrl.gridSearchPlaceholder"
                           grid-search-visible="$ctrl.gridSearchVisible"
                           grid-options="$ctrl.gridOptions"
                           on-init="$ctrl.filterInit(filter)"
                           on-change="$ctrl.filterApply(params, item)"
                           on-remove="$ctrl.filterRemove(name, item)"
                           hidden-total-items-count="$ctrl.gridFilterHiddenTotalItemsCount"
                           template-url="$ctrl.gridFilterTemplateUrl"
                           search-autofocus="$ctrl.searchAutofocus"></ui-grid-custom-filter>
    <ui-grid-custom-selection ng-if="$ctrl.gridSelectionEnabled && $ctrl.isMobile && $ctrl.gridApi"
                              ng-show="$ctrl.selectionCustom.storageSelectedRows.length > 0"
                              class="ui-grid-custom-selection-in-header"
                              grid="$ctrl"
                              grid-menu-items="$ctrl.gridOptions.uiGridCustom.selectionOptions"
                              grid-api="$ctrl.gridApi"
                              grid-options="$ctrl.gridOptions"
                              grid-params="$ctrl._params"
                              grid-selection-on-init="$ctrl.selectionOnInit(selectionCustom)"
                              grid-selection-on-change="$ctrl.selectionOnChange(rows)"
                              grid-on-request-before="$ctrl.selectionOnRequestBefore()"
                              grid-on-action="$ctrl.selectionUpdate(response)"></ui-grid-custom-selection>

    <div ng-switch="$ctrl.firstLoading">
        <div ng-switch-when="true">
            <i class="fas fa-spinner fa-spin fa-fw fa-2x"></i> <span>{{::'Admin.Js.GridCustom.LoadingData'|translate}}</span>
        </div>
        <div ng-switch-when="false" ng-class="{'ui-grid-custom-processing' : $ctrl.isProcessing}">
            <div class="ui-grid-custom-wrapper" ng-switch="$ctrl.overrideControl === false" ng-class="{'ui-grid-custom-selection-wrap': $ctrl.selectionCustom.storageSelectedRows.length > 0}">
                <div data-ng-switch-when="true">
                    <div ui-grid="$ctrl.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-auto-resize ui-grid-save-state ui-grid-custom-edit ng-style="{'height' : $ctrl.tableHeight}">
                        <div class="ui-grid-empty-text" ng-if="!$ctrl.gridOptions.data.length && ($ctrl.error == null || $ctrl.error.length === 0)" ng-bind="$ctrl.gridEmptyText"></div>
                        <div class="ui-grid-error-text" ng-if="$ctrl.error != null && $ctrl.error.length > 0" ng-bind="$ctrl.error"></div>
                    </div>
                </div>
                <div data-ng-switch-when="false">
                    <div class="ui-grid-empty-text" ng-if="!$ctrl.gridOptions.data.length && ($ctrl.error == null || $ctrl.error.length === 0)" ng-bind="$ctrl.gridEmptyText"></div>
                    <div class="ui-grid-error-text" ng-if="$ctrl.error != null && $ctrl.error.length > 0" ng-bind="$ctrl.error"></div>
                    <div ng-repeat="entity in $ctrl.gridOptions.data">
                        <div ng-transclude="overrideControl"></div>
                    </div>
                </div>
                <div ng-transclude="footer"></div>
            </div>
            <ui-grid-custom-pagination ng-if="$ctrl.gridOptions.data.length > 0 && $ctrl.gridPaginationEnabled === true"
                                       grid-total-items="$ctrl.gridOptions.totalItems"
                                       grid-pagination-page-size="$ctrl.gridOptions.paginationPageSize"
                                       grid-pagination-page-sizes="$ctrl.gridOptions.paginationPageSizes"
                                       grid-pagination-current-page="$ctrl.gridOptions.paginationCurrentPage"
                                       on-change="$ctrl.paginationChange(paginationCurrentPage, paginationPageSize, paginationPageSizes)">
                <a href="" ng-click="$ctrl.export()" download ng-if="$ctrl.gridShowExport">{{'Admin.Js.GridCustom.ExportToCSV'|translate}}</a>
            </ui-grid-custom-pagination>
        </div>
    </div>

    <script type="text/ng-template" id="ui-grid/uiGridViewport">
        <div role="rowgroup"
             class="ui-grid-viewport"
             ng-style="colContainer.getViewportStyle()">
            <!-- tbody -->
            <div class="ui-grid-canvas">
                <div data-e2e="gridRow"
                     data-e2e-row-index="{{rowRenderIndex}}"
                     class="ui-grid-row-wrap {{grid.appScope.$ctrl.gridOptions.uiGridCustom.rowClasses(row)}}"
                     ng-repeat="(rowRenderIndex, row) in rowContainer.renderedRows track by $index"
                     ng-style="Viewport.rowStyle(rowRenderIndex)">
                    <div class="ui-grid-row ui-grid-custom-group-header"
                         ng-if="row.entity[grid.appScope.$ctrl.gridOptions.uiGridCustom.groupByField] != null && row.entity[grid.appScope.$ctrl.gridOptions.uiGridCustom.groupByField] !== (rowContainer.renderedRows[$index-1] != null ? rowContainer.renderedRows[$index-1].entity[grid.appScope.$ctrl.gridOptions.uiGridCustom.groupByField] : null)">
                        <div class="ui-grid-custom-group-header-text" ng-bind="row.entity[grid.appScope.$ctrl.gridOptions.uiGridCustom.groupByFieldTitle || grid.appScope.$ctrl.gridOptions.uiGridCustom.groupByField]"></div>
                    </div>
                    <div class="ui-grid-custom-row"
                         ng-click="grid.appScope.$ctrl.clickRow($event, row, grid.appScope.$ctrl.gridOptions.uiGridCustom.rowClick, grid.appScope.$ctrl.gridOptions.uiGridCustom.rowUrl)"
                         ng-class="::{'ui-grid-custom-pointer': grid.appScope.$ctrl.gridOptions.uiGridCustom.rowClick != null || grid.appScope.$ctrl.gridOptions.uiGridCustom.rowUrl != null}">
                        <div class="ui-grid-row"
                             role="row"
                             ui-grid-row="row"
                             row-render-index="rowRenderIndex">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="ui-grid/ui-grid-header">
        <div role="rowgroup"
             class="ui-grid-header">
            <!-- theader -->
            <div class="ui-grid-top-panel">
                <div class="ui-grid-header-viewport">
                    <div class="ui-grid-header-canvas">
                        <div class="ui-grid-header-cell-wrapper"
                             ng-style="colContainer.headerCellWrapperStyle()">
                            <div role="row"
                                 class="ui-grid-header-cell-row">
                                <div class="ui-grid-header-cell ui-grid-clearfix"
                                     ng-class="{'ui-grid-custom-edit-enabled': col.colDef.enableCellEdit }"
                                     data-e2e="gridHeaderCell"
                                     data-e2e-col-index="{{col.isPinnedLeft() ? -1: $index}}"
                                     data-e2e-grid-cell="{{grid.appScope.$ctrl.gridUniqueId + '[-1][\'' + col.colDef.name + '\']' }}"
                                     ng-repeat="col in colContainer.renderedColumns track by col.uid"
                                     ui-grid-header-cell
                                     col="col"
                                     render-index="$index">
                                </div>
                                <!--grid.appScope.$ctrl.gridApi.selection.getSelectedCount() > 0-->
                                <ui-grid-custom-selection ng-if="grid.appScope.$ctrl.gridSelectionEnabled && ((grid.hasLeftContainer() && colContainer.getMargin('left') > 0) || !grid.hasLeftContainer())"
                                                          ng-show="grid.appScope.$ctrl.selectionCustom.storageSelectedRows.length > 0"
                                                          class="ui-grid-custom-selection-in-header"
                                                          grid="grid.appScope.$ctrl"
                                                          grid-menu-items="grid.appScope.$ctrl.gridOptions.uiGridCustom.selectionOptions"
                                                          grid-api="grid.appScope.$ctrl.gridApi"
                                                          grid-options="grid.appScope.$ctrl.gridOptions"
                                                          grid-params="grid.appScope.$ctrl._params"
                                                          grid-selection-on-init="grid.appScope.$ctrl.selectionOnInit(selectionCustom)"
                                                          grid-selection-on-change="grid.appScope.$ctrl.selectionOnChange(rows)"
                                                          grid-on-request-before="grid.appScope.$ctrl.selectionOnRequestBefore()"
                                                          grid-on-action="grid.appScope.$ctrl.selectionUpdate(response)"></ui-grid-custom-selection>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="ui-grid/ui-grid-row">
        <div data-e2e="gridCell"
             data-e2e-col-index="{{col.isPinnedLeft() ? -1: colRenderIndex}}"
             data-e2e-grid-cell="{{grid.appScope.$ctrl.gridUniqueId + '['+ rowRenderIndex + '][\'' + col.colDef.name + '\']' }}"
             ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid"
             ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
             class="ui-grid-cell ui-grid-cell-table"
             ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader, 'ui-grid-custom-edit-enabled': col.colDef.enableCellEdit }"
             role="{{col.isRowHeader ? 'rowheader' : 'gridcell'}}"
             ui-grid-cell>
        </div>
    </script>

    <script type="text/ng-template" id="ui-grid/uiGridHeaderCell">
        <div role="columnheader"
             ng-class="{ 'sortable': sortable, 'ui-grid-header-cell-last-col': isLastCol }"
             ui-grid-one-bind-aria-labelledby-grid="col.uid + '-header-text ' + col.uid + '-sortdir-text'"
             aria-sort="{{col.sort.direction == asc ? 'ascending' : ( col.sort.direction == desc ? 'descending' : (!col.sort.direction ? 'none' : 'other'))}}">
            <div role="button"
                 tabindex="0"
                 ng-keydown="handleKeyDown($event)"
                 class="ui-grid-cell-contents ui-grid-header-cell-primary-focus"
                 col-index="renderIndex"
                 title="TOOLTIP">
                <span class="ui-grid-header-cell-label" ui-grid-one-bind-id-grid="col.uid + '-header-text'">{{ col.displayName CUSTOM_FILTERS }}</span>

                <span ui-grid-one-bind-id-grid="col.uid + '-sortdir-text'"
                      ui-grid-visible="col.sort.direction"
                      aria-label="{{getSortDirectionAriaLabel()}}">
                    <i ng-class="{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }"
                       title="{{isSortPriorityVisible() ? i18n.headerCell.priority + ' ' + ( col.sort.priority + 1 )  : null}}"
                       aria-hidden="true">
                    </i>
                    <sub ui-grid-visible="isSortPriorityVisible()"
                         class="ui-grid-sort-priority-number">
                        {{col.sort.priority + 1}}
                    </sub>
                </span>
            </div>

            <div role="button"
                 tabindex="0"
                 ui-grid-one-bind-id-grid="col.uid + '-menu-button'"
                 class="ui-grid-column-menu-button"
                 ng-if="grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false"
                 ng-click="toggleMenu($event)"
                 ng-keydown="headerCellArrowKeyDown($event)"
                 ui-grid-one-bind-aria-label="i18n.headerCell.aria.columnMenuButtonLabel"
                 aria-haspopup="true">
                <i class="ui-grid-icon-angle-down"
                   aria-hidden="true">
                    &nbsp;
                </i>
            </div>

            <div ui-grid-filter ng-if="col.filterContainer === 'headerCell'"></div>
        </div>
    </script>
    <script type="text/ng-template" id="ui-grid/ui-grid">
        <div ui-i18n="en" class="ui-grid">
            <!-- TODO (c0bra): add "scoped" attr here, eventually? -->
            <style ui-grid-style ng-if="grid.appScope.$ctrl.isMobile !== true">
                .grid{{ grid.id }} .ui-grid-row:last-child .ui-grid-cell {
                  border-bottom-width: {{ (((grid.getVisibleRowCount() * grid.options.rowHeight) < grid.getViewportHeight()) && '1') || '0' }}px;
                }
                {{ grid.customStyles }}
            </style>

            <div class="ui-grid-contents-wrapper" role="grid">
                <div ui-grid-menu-button ng-if="grid.options.enableGridMenu"></div>

                <div ng-if="grid.hasLeftContainer()" style="width: 0" ui-grid-pinned-container="'left'"></div>

                <div ui-grid-render-container
                     container-id="'body'"
                     col-container-name="'body'"
                     row-container-name="'body'"
                     bind-scroll-horizontal="true"
                     bind-scroll-vertical="true"
                     enable-horizontal-scrollbar="grid.options.enableHorizontalScrollbar"
                     enable-vertical-scrollbar="grid.options.enableVerticalScrollbar">
                </div>

                <div ng-if="grid.hasRightContainer()" style="width: 0" ui-grid-pinned-container="'right'"></div>


                <div ui-grid-grid-footer ng-if="grid.options.showGridFooter"></div>

                <div ui-grid-column-menu ng-if="grid.options.enableColumnMenus"></div>

                <div ng-transclude></div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="ui-grid/selectionSelectAllButtons">
        <div class="ui-grid-selection-row-header-buttons ui-grid-custom-pinned-left">
            <div class="adv-checkbox-label" data-e2e="gridHeaderCheckboxWrapSelectAll">
                <input class="adv-checkbox-input" type="checkbox" ng-model="grid.selection.selectAll" data-e2e="gridHeaderCheckboxSelectAll" />
                <span class="adv-checkbox-emul" ng-click="headerButtonClick($event)"></span>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="ui-grid/selectionRowHeaderButtons">
        <div class="ui-grid-selection-row-header-buttons js-grid-not-clicked ui-grid-custom-pinned-left ui-grid-custom-checkbox" ng-click="selectButtonClick(row, $event)">
            <span class="adv-checkbox-label" data-e2e="gridCheckboxWrapSelect">
                <input class="adv-checkbox-input" type="checkbox" ng-model="row.isSelected" data-e2e="gridCheckboxSelect" />
                <span class="adv-checkbox-emul"></span>
            </span>
        </div>
    </script>

    <script type="text/ng-template" id="ui-grid/treeBaseRowHeaderButtons">
        <div ng-switch="grid.appScope.$ctrl.isMobile">
            <div ng-switch-when="true">
                <button type="button" class="btn btn-xs btn-success btn-block"
                        ng-if="( grid.options.showTreeExpandNoChildren && row.treeLevel > -1 ) || ( row.treeNode.children && row.treeNode.children.length > 0 )"
                        ng-click="treeButtonClick(row, $event)"
                        ng-bind="row.treeNode.state === 'expanded' ? 'Свернуть': 'Подробнее'"></button>
            </div>
            <div ng-switch-default
                 class="ui-grid-tree-base-row-header-buttons"
                 ng-class="{'ui-grid-tree-base-header': row.treeLevel > -1 }"
                 tabindex="0"
                 ng-keydown="treeButtonKeyDown(row, $event)"
                 ng-click="treeButtonClick(row, $event)">
                <i ng-class="treeButtonClass(row)"
                   ng-style="{'padding-left': grid.options.treeIndent * row.treeLevel + 'px'}">
                </i>
                &nbsp;
            </div>
        </div>
    </script>
</div>