.orders-block__text--lg {
  font-weight: 500;
  font-size: 16px;
}

.orders-block__text--alt {
  color: #ACAEAF;
}

.orders-block__is-paid,
.orders-block__is-nopaid {
  font-weight: 500;
}

.orders-block__is-paid {
  color: #2d9cee;
}

.orders-block__is-nopaid {
  color: #ACAEAF;
}