<span class="audio-container">
    <span class="audio-controls">
        <span class="audio-row">
            <span class="audio-play-pause" ng-if="!$ctrl.isplaying" ng-click="$ctrl.play()">
                <i class="fa fa-play"></i>
            </span>
            <span class="audio-play-pause" ng-if="$ctrl.isplaying" ng-click="$ctrl.pause()">
                <i class="fa fa-pause"></i>
            </span>
            <span class="audio-progress" ng-mousedown="$ctrl.setTime($event)" ng-mouseup="$ctrl.reset()" ng-style="$ctrl.barStyle">
                <span class="audio-time" ng-if="!$ctrl.noAudio && !$ctrl.loading && !$ctrl.duration" ng-click="$ctrl.play()">
                    <span ng-if="$ctrl.isplaying">{{$ctrl.curPos}}</span>
                    <span ng-if="!$ctrl.isplaying">{{'Admin.Js.AudioPlayer.Listen'|translate}}</span>
                </span>
                <span class="audio-time" ng-if="$ctrl.duration" ng-click="$ctrl.play()">
                    <span ng-if="$ctrl.isplaying">{{$ctrl.curPos}} / {{$ctrl.duration}}</span>
                    <span ng-if="!$ctrl.isplaying">{{'Admin.Js.AudioPlayer.Listen'|translate}}</span>
                </span>
                <span class="audio-time" ng-if="$ctrl.noAudio">{{'Admin.Js.AudioPlayer.NoWriting'|translate}}</span>
                <span class="audio-time" ng-if="$ctrl.loading">{{'Admin.Js.AudioPlayer.Loading'|translate}}</span>
            </span>
            <span class="audio-volume" ng-if="$ctrl.audio" ng-click="$ctrl.toggleVolume()">
                <i class="fa fa-volume-up" ng-if="!$ctrl.audio || !$ctrl.audio.muted"></i>
                <i class="fa fa-volume-off" ng-if="$ctrl.audio.muted"></i>
            </span>
        </span>
    </span>
</span>