@model AdvantShop.Web.Admin.Models.Orders.Hermes.OrderActionsModel

@if (Model.ShowSendParcelStandart)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.createHermesOrderStandart()">Передать заказ в Hermes</a>
}
@if (Model.ShowSendParcelVSD)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.createHermesOrderVSD()">Передать заказ в Hermes с возвратом сопроводительных документов</a>
}
@if (Model.ShowSendParcelDrop)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.createHermesOrderDrop()">Передать заказ в Hermes</a>
}
@if (Model.ShowDeleteParcel)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.deleteHermesOrder()">Удалить заказ из Hermes</a>
}
