@model AdvantShop.Web.Admin.Models.Orders.PickPoint.OrderActionsModel

@if (Model.ShowSendOrder)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.createPickPointOrder()">Передать заказ в PickPoint</a>
}
@if (Model.ShowMakeLabel)
{
    <a href="@Url.Action("GetPickPointMakeLabel", new { orderId = @Model.OrderId})" target="_blank" class="m-t-xs m-b-xs block fs-xs">Сформировать этикетку</a>
}
@if (Model.ShowMakeZebraLabel)
{
    <a href="@Url.Action("GetPickPointMakeZebraLabel", new { orderId = @Model.OrderId})" target="_blank" class="m-t-xs m-b-xs block fs-xs">Сформировать этикетку для принтера Zebra</a>
}
@if (Model.ShowDeleteOrder)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.deletePickPointOrder()">Удалить заказ из PickPoint</a>
}
