@model AdvantShop.Web.Admin.Models.Orders.Sdek.OrderActionsModel

@if (Model.ShowDownloadPrintedFormOrder)
{
    @*<a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.sdekOrderReportStatus()">{{'Admin.Js.OrderItemsSummary.DownloadOrderStatus'|translate}}</a>
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.sdekReportOrderInfo()">{{'Admin.Js.OrderItemsSummary.DownloadOrderInformation'|translate}}</a>*@
    @*<a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.sdekOrderPrintForm()">{{'Admin.Js.OrderItemsSummary.DownloadPrintedForm'|translate}}</a>*@
    <a href="@Url.Action("SdekOrderPrintForm", new {orderId = @Model.OrderId})" target="_blank" class="m-t-xs m-b-xs block fs-xs">{{'Admin.Js.OrderItemsSummary.DownloadPrintedForm'|translate}}</a>
    @*<a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.sdekCallCustomer()">{{'Admin.Js.OrderItemsSummary.RecipientCall'|translate}}</a>*@
}

@if (Model.ShowDownloadBarCodeOrder)
{
    <a href="@Url.Action("SdekBarCodeOrder", new {orderId = @Model.OrderId})" target="_blank" class="m-t-xs m-b-xs block fs-xs">Получить ШК места к заказу</a>
}
@if (Model.ShowDeleteOrder)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.sdekDeleteOrder()">{{'Admin.Js.OrderItemsSummary.DeleteOrderFromSDEK'|translate}}</a>
}
@if (Model.ShowSendOrder)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.createSdekOrder()">{{'Admin.Js.OrderItemsSummary.SendOrderToSDEK'|translate}}</a>
}
