@model AdvantShop.Web.Admin.Models.Orders.OzonRocket.OrderActionsModel

@if (Model.ShowSendOrder)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.createOzonRocketOrder()">Передать заказ в Ozon Rocket</a>
}
@if (Model.ShowUpdateOrder)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.createOzonRocketOrder()">Обновить заказ в Ozon Rocket</a>
}
@if (Model.ShowCancelOrder)
{
    <a href="" class="m-t-xs m-b-xs block fs-xs" ng-click="$ctrl.cancelOzonRocketOrder()">Отменить заказ в Ozon Rocket</a>
}
@if (!Model.ShowSendOrder && !Model.ShowUpdateOrder && !Model.ShowCancelOrder)
{
    <span class="m-t-xs m-b-xs block fs-xs">Заказа отменен в Ozon Rocket<br/>(повторно передать нельзя)</span>
}