<div style="max-width: 850px">
    <div class="ibox float-e-margins">
        <div class="ibox-content sources-orders-block p-l-n">
            <h3 class="sources-orders">Источники</h3>

            <div ng-repeat="source in $ctrl.BookingSources">
                <div>
                    <span>{{source.Name}}</span>
                    <small class="pull-right source-order-percent">{{source.BookinsCount}} ({{source.Percent}}%)</small>
                </div>
                <div class="progress progress-small">
                    <div ng-style="{width: source.Percent+'%'}" class="progress-bar"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>
