<div class="payment-control payment-custom-option">
    <span>{{ ::'Js.Payment.BillKz.Company' | translate }}</span>
    <input class="input-small"
           type="text"
           data-ng-model="paymentTemplate.payment.CompanyName"
           data-ng-keyup="paymentTemplate.changePrepare($event, paymentTemplate.payment.CompanyName)" />
</div>
<div class="payment-control payment-custom-option">
    <span>{{ ::'Js.Payment.BillKz.BINIIN' | translate }}</span>
    <input class="input-small"
           type="text"
           data-ng-model="paymentTemplate.payment.BINIIN"
           data-ng-keyup="paymentTemplate.changePrepare($event, paymentTemplate.payment.BINIIN)" />
</div>
<div class="payment-control payment-custom-option">
    <span>{{ ::'Js.Payment.BillKz.Contract' | translate }}</span>
    <input class="input-small"
           type="text"
           data-ng-model="paymentTemplate.payment.Contract"
           data-ng-keyup="paymentTemplate.changePrepare($event, paymentTemplate.payment.Contract)" />
</div>
