<div class="payment-control payment-custom-option">
    <span>{{ ::'Js.Payment.Bill.Company' | translate }}</span>
    <input class="input-small"
           type="text"
           ng-required="paymentTemplate.payment.RequiredPaymentDetails"
           data-ng-model="paymentTemplate.payment.CompanyName"
           data-ng-keyup="paymentTemplate.changePrepare($event, paymentTemplate.payment.CompanyName)" />
</div>
<div class="payment-control payment-custom-option">
    <span>{{ ::'Js.Payment.Bill.INN' | translate }}</span>
    <input class="input-small"
           type="text"
           ng-required="paymentTemplate.payment.RequiredPaymentDetails"
           data-ng-model="paymentTemplate.payment.INN"
           data-ng-keyup="paymentTemplate.changePrepare($event, paymentTemplate.payment.INN)" />
</div>
