/*AUTH*/
/*.auth-root,
.auth-body,
.auth-container {
    height: 100%;
}*/
.auth-body {
  min-width: 0;
  position: relative;
  height: var(--min-full-height);
}

.auth-body .toast-top-right {
  top: 20px;
}

.auth-block-bg {
  flex-grow: 1;
}

.auth-bg {
  background: url(http://cs71.advantshop.net/adv-static/ui-admin/Lake-9v/auth/bg-auth-mobile.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: top center;
}

@media (min-width: 769px) {
  .auth-bg {
    background: url(http://cs71.advantshop.net/adv-static/ui-admin/Lake-9v/auth/bg-auth.jpg) 0 0 no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .admin-login-title-block.auth-bg {
    background-image: none;
  }
}
.auth-title {
  font-size: 26px;
  color: #fff;
  font-family: "OpenSans";
  font-weight: 100;
  text-align: left;
  margin-bottom: 23px;
}

.content-error {
  max-width: 580px;
  flex-basis: 580px;
  padding: 20px;
  box-sizing: content-box;
}

.auth-container-wrap {
  max-width: 480px;
  flex-basis: 480px;
  padding: 0px;
}

.login_blocks-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.login__copyright-text {
  margin-bottom: 40px;
  text-align: center;
  color: #C8C7CC;
}

.login__copyright-text a {
  color: #C8C7CC;
  text-decoration: none;
}

.auth-field,
.auth-body .captcha-txt input {
  width: 100%;
  font-family: "ClearSans";
  font-weight: 300;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  padding: 14px 24px;
  color: #676A6C;
  margin-bottom: 20px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
}

.auth-body .captcha-txt input {
  margin-bottom: 0px;
  margin-top: 20px;
}

.auth-field.ng-not-empty {
  color: #2f4050;
}

.auth-field-password::-ms-reveal {
  display: none;
}

.loginscreen .captcha-txt {
  padding-top: 5px;
}

.btn-auth {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  background-color: #2d9cee;
  border-radius: 2px;
  border: 0;
  padding: 13px 0;
  width: 100%;
}

.btn-auth:hover {
  color: #fff;
  background-color: rgba(45, 156, 238, 0.7);
}

[disabled].btn-auth {
  cursor: pointer;
}

.auth-text {
  text-align: center;
}

.auth-text,
.forget-link {
  font-size: 13px;
  color: #2d9cee;
}

.forget-link {
  text-decoration: none;
}

.forget-link:hover {
  color: #2d9cee;
  text-decoration: underline;
}

/************/
.admin-login-block {
  border-radius: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.admin-login-block__title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color: #2D9CEE;
  text-align: center;
  margin-bottom: 5px;
}
.admin-login-block__subtitle {
  font-size: 21px;
  font-weight: 600;
  color: black;
  margin: 30px 0 20px 0;
  text-align: center;
}
.admin-login-block__version, .admin-login-block__project {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #000;
  text-align: right;
  text-align: center;
}
.admin-login-block__project-link {
  color: #2d9cee;
  background-color: transparent;
  border: none;
  text-decoration: none;
}
.admin-login-block__form {
  background-color: white;
  padding: 0 36px 30px;
  height: 100%;
}
.admin-login-block__form .showhidepass {
  top: 10px;
}
.admin-login-block__form .validation-summary-errors {
  padding: 10px;
}
.admin-login-block__form .validation-summary-errors ul {
  padding-left: 25px;
}

.admin-forgot__pas-block .admin-login-block__subtitle {
  margin: 0px 0 20px 0;
}
.admin-forgot__pas-block .auth-text {
  color: #000;
}

.admin-login-title-block {
  padding: 80px 36px 114px;
  background-color: white;
}

.admin-login__version {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}
.admin-login__version .version {
  color: rgba(0, 0, 0, 0);
  word-break: break-all;
}

@media (max-width: 768px) {
  .admin-login-title-block {
    background-color: transparent;
  }

  .auth-container-wrap {
    max-width: 100%;
    flex-basis: 100%;
    flex-direction: column;
  }

  .admin-login-block__form {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 47px;
    position: relative;
    top: -15px;
  }
  .admin-login-block__title, .admin-login-block__version, .admin-login-block__project {
    color: #fff;
    position: relative;
  }
  .admin-login-block__project span {
    color: rgba(244, 244, 244, 0.7);
  }
  .admin-login-block__project-link {
    color: #fff;
  }
  .admin-login-block__project-link:hover {
    color: #fff;
  }

  .admin-login__version {
    background-color: #fff;
  }
}
@media (max-width: 575px) {
  .admin-login-title-block {
    position: relative;
  }
  .admin-login-title-block:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, transparent, #00000096);
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 769px) {
  .admin-login-title-block {
    padding-bottom: 80px;
    background-color: white;
  }

  .admin-login__version {
    z-index: 999;
    position: absolute;
    left: 0;
    bottom: 0;
    max-width:40%;
    max-width: 40%;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .admin-login__version {
    max-width: 60%;
  }
}
