@import "variable.scss";

.btn {
    border-radius: 3px;
    text-decoration: none;
    font-family: 'OpenSans';
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn:hover {
    text-decoration: none;
}

.btn-w-m {
    min-width: 120px;
}

.btn-primary.btn-outline {
    color: #1ab394;
}

.btn-success.btn-outline {
    color: #1c84c6;
}

.btn-info.btn-outline {
    color: #2f4050;
}

.btn-warning.btn-outline {
    color: #f8ac59;
}

.btn-danger.btn-outline {
    color: #ed5565;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-success, .btn-submit {
    position: relative;
    background-color: #2d9cee;
    border-color: #2d9cee;
    color: #FFFFFF;

    &--inverse {
        color: #2d9cee;
        background-color: #fff;
    }
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success.active:focus,
.toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover,
.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active,
.btn-submit.active,
.open .dropdown-toggle.btn-submit,
.btn-submit:active:focus,
.btn-submit:active:hover,
.btn-submit.active:hover,
.btn-submit.active:focus,
.toggle.btn-submit.focus,
.open > .dropdown-toggle.btn-submit:focus,
.open > .dropdown-toggle.btn-submit:hover {
    background-color: #42a6ee;
    border-color: #42a6ee;
    color: #FFFFFF;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.btn-submit:active,
.btn-submit.active,
.open .dropdown-toggle.btn-submit {
    background-image: none;
}

.btn-success.disabled,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success.active[disabled],
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
.btn-submit.disabled,
.btn-submit.disabled.active,
.btn-submit[disabled],
.btn-submit.active[disabled],
fieldset[disabled] .btn-submit,
fieldset[disabled] .btn-submit.active {
    background-color: #bbb;
    border-color: #eee;
    color: #31373d;

    &:hover, &:focus, &:active {
        background-color: #bbb;
        border-color: #eee;
        color: #31373d;
    }
}

.disabled-success[disabled]:hover,
.disabled-success[disabled]:focus,
.disabled-success[disabled]:active,
.disabled-success[disabled] {
    background-color: #2d9cee;
    border-color: #2d9cee;
    color: #aaa;
}

.btn-info {
    border-color: #2f4050;
    color: #fff;
    background-color: #2f4050;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info,
.btn-info:active:focus,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info.active:focus {
    border-color: #42515f;
    background-color: #42515f;
    color: #FFFFFF;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info.active[disabled],
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
    background-color: #26d7d9;
    border-color: #26d7d9;
}

.btn-default {
    color: #0078bd;
    background: white;
    border: $border-default;

    &:hover, &:focus, &:active, &.active, &:active:focus, &:active:hover, &.active:hover, &.active:focus {
        color: #0078bd;
        border: 1px solid #d2d2d2;
        background-color: #fff;
    }

    &:active, .active {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:focus,
    &.disabled:active,
    &.disabled.active,
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled]:active,
    &.active[disabled] {
        color: #cccccc;
    }

    &--outline {
        border-color: #2d9cee;
        color: #2d9cee;

    }
}


.open .dropdown-toggle.btn-default {
    color: inherit;
    border: 1px solid #d2d2d2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

fieldset[disabled] .btn-default {
    &:hover, &:focus, &:active, &.active {
        color: #cccccc;
    }
}

.btn-warning {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFFFFF;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning,
.btn-warning:active:focus,
.btn-warning:active:hover,
.btn-warning.active:hover,
.btn-warning.active:focus {
    background-color: #f7a54a;
    border-color: #f7a54a;
    color: #FFFFFF;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning.active[disabled],
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
    background-color: #f9b66d;
    border-color: #f9b66d;
}

.btn-danger {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFFFFF;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger.active:hover,
.btn-danger.active:focus {
    background-color: #ec4758;
    border-color: #ec4758;
    color: #FFFFFF;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-image: none;
}

.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger.active[disabled],
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
    background-color: #ef6776;
    border-color: #ef6776;
}

.btn-link {
    color: inherit;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
    color: #23527c;
    text-decoration: none;
}

.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
    background-image: none;
}

.btn-link.disabled,
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link.disabled:active,
.btn-link.disabled.active,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
.btn-link[disabled]:active,
.btn-link.active[disabled],
fieldset[disabled] .btn-link,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:active,
fieldset[disabled] .btn-link.active {
    color: #cccccc;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: default;
}

.btn-minimalist {
    color: #676a6c;
    text-shadow: none;
    text-decoration: none;
    display: inline-block;
    background-color: #fff;
    padding: 2px 7px;
    border: 1px solid #767676;
    border-radius: 2px;

    &:hover {
        background-color: #eae9e9;
    }

    &:active {
        background-color: #f1f1f1;
    }

    &:focus {
        text-decoration: none;
        color: #676a6c;
    }
}

.btn-vk-referral {
    color: #fff;
    text-shadow: none;
    text-decoration: none;
    display: inline-block;
    background-color: #597da3;
    padding: 2px 7px;
    border: 1px solid #597da3;
    border-radius: 2px;

    &:hover {
        background-color: lighten(rgb(59, 74, 95), 15%);
        color: #fff;
    }

    &:active {
        background-color: #597da3;
    }

    &:focus {
        text-decoration: none;
        color: #fff;
    }
}

.btn-facebook-referral {
    color: #fff;
    text-shadow: none;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(63, 92, 150);
    padding: 2px 7px;
    border: 1px solid rgb(63, 92, 150);
    border-radius: 2px;

    &:hover {
        background-color: lighten(rgb(63, 92, 150), 15%);
        color: #fff;
    }

    &:active {
        background-color: rgb(63, 92, 150);
    }

    &:focus {
        text-decoration: none;
        color: #fff;
    }
}

.btn-odnoklassniki-referral {
    color: #fff;
    text-shadow: none;
    text-decoration: none;
    display: inline-block;
    background-color: #ee8208;
    padding: 2px 7px;
    border: 1px solid #ee8208;
    border-radius: 2px;

    &:hover {
        background-color: lighten(#ee8208, 15%);
        color: #fff;
    }

    &:active {
        background-color: #ee8208;
    }

    &:focus {
        text-decoration: none;
        color: #fff;
    }
}

.btn-telegram-referral {
    color: #fff;
    text-shadow: none;
    text-decoration: none;
    display: inline-block;
    background-color: #35ace1;
    padding: 2px 7px;
    border: 1px solid #35ace1;
    border-radius: 2px;

    &:hover {
        background-color: lighten(#35ace1, 15%);
        color: #fff;
    }

    &:active {
        background-color: #35ace1;
    }

    &:focus {
        text-decoration: none;
        color: #fff;
    }
}


.btn-rounded {
    border-radius: 50px;
}

.btn-large-dim {
    width: 90px;
    height: 90px;
    font-size: 42px;
}

button.dim {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 20px !important;
}

button.dim:active {
    top: 3px;
}

button.btn-primary.dim {
    box-shadow: inset 0 0 0 #16987e, 0 5px 0 0 #16987e, 0 10px 5px #999999;
}

button.btn-primary.dim:active {
    box-shadow: inset 0 0 0 #16987e, 0 2px 0 0 #16987e, 0 5px 3px #999999;
}

button.btn-default.dim {
    box-shadow: inset 0 0 0 #b3b3b3, 0 5px 0 0 #b3b3b3, 0 10px 5px #999999;
}

button.btn-default.dim:active {
    box-shadow: inset 0 0 0 #b3b3b3, 0 2px 0 0 #b3b3b3, 0 5px 3px #999999;
}

button.btn-warning.dim {
    box-shadow: inset 0 0 0 #f79d3c, 0 5px 0 0 #f79d3c, 0 10px 5px #999999;
}

button.btn-warning.dim:active {
    box-shadow: inset 0 0 0 #f79d3c, 0 2px 0 0 #f79d3c, 0 5px 3px #999999;
}

button.btn-info.dim {
    box-shadow: inset 0 0 0 #1eacae, 0 5px 0 0 #1eacae, 0 10px 5px #999999;
}

button.btn-info.dim:active {
    box-shadow: inset 0 0 0 #1eacae, 0 2px 0 0 #1eacae, 0 5px 3px #999999;
}

button.btn-success.dim {
    box-shadow: inset 0 0 0 #1872ab, 0 5px 0 0 #1872ab, 0 10px 5px #999999;
}

button.btn-success.dim:active {
    box-shadow: inset 0 0 0 #1872ab, 0 2px 0 0 #1872ab, 0 5px 3px #999999;
}

button.btn-danger.dim {
    box-shadow: inset 0 0 0 #ea394c, 0 5px 0 0 #ea394c, 0 10px 5px #999999;
}

button.btn-danger.dim:active {
    box-shadow: inset 0 0 0 #ea394c, 0 2px 0 0 #ea394c, 0 5px 3px #999999;
}

button.dim:before {
    font-size: 50px;
    line-height: 1em;
    font-weight: normal;
    color: #fff;
    display: block;
    padding-top: 10px;
}

button.dim:active:before {
    top: 7px;
    font-size: 50px;
}

.btn:focus {
    outline: none !important;
}

.btn-action {
    position: relative;
    background-color: #2f4050;
    color: #FFFFFF;
    font-family: 'OpenSans';
    font-weight: 600;
}

.btn-action:hover,
.btn-action:focus,
.btn-action:active {
    color: #FFFFFF;
    background-color: #40566c;
}

.btn-red-white {
    color: #f44336;
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 12px;
}

.btn-red-white:hover,
.btn-red-white:focus,
.btn-red-white:active {
    color: #f44336 !important;
}

.btn-xsmall {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-xmd {
    padding: 10px 26px;
    font-size: 12px;
}

.btn-danger {
    background-color: #f1453d;
    min-width: 190px;
    box-sizing: border-box;
}

.btn-invisible {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
}


.btn-sm {
    min-width: 100px;
}

.btn.dropdown-toggle,
.btn--slim {
    min-width: 0;
}

.btn-md {
    padding-top: 7px;
    padding-bottom: 8px;
}

.btn-group-sm > .btn, .btn-sm {
    padding-top: 6px;
    padding-bottom: 6px;
}

.btn .fa {
    margin-right: 5px;
}

.btn--icon {
    display: inline-flex;
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-mimic {
    height: 100%;
    border-radius: 0;
}

.btn--as-swipe-line {
    border-radius: 0 4px 4px 0;
}
