.custom-fields-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*margin-right: -.625rem;
  margin-left: -.625rem;*/
}

.customersegments-custom-fields .custom-fields-row {
  display: table;
}

.custom-fields-col {
  flex-basis: 100%;
  max-width: 100%;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.custom-fields-two-columns .custom-fields-col-name {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.custom-fields-two-columns .custom-fields-col-value {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.custom-fields-two-columns {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

.custom-fields-2-cols {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

.custom-fields-2-cols .custom-fields-row-wrap {
  max-width: 50%;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-left: 0;
  margin-right: 0;
}

.custom-fields-2-cols .custom-fields-col,
.custom-fields-2-cols .custom-fields-row-wrap:nth-child(3n+3) .custom-fields-row {
  padding-left: 0;
  padding-right: 0;
}