* {
    outline: none;
}

.design-first {
    display: table;
    width: 100%;
    position: relative;
}

.tpl-ava {
    border: 1px solid #e7e5e5;
    padding: 8px;
    height: 256px;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.tpl-ava img {
    max-height: none;
}

.tpl-info {
    flex-grow: 1;
}

.design-title {
    font-family: "OpenSans";
    font-size: 21px;
    color: #000;
    display: inline-block;
    line-height: 24px;
}

.main-design-title {
    margin: 11px 0 18px 14px;
}

.info-item + .info-item {
    margin-top: 16px;
}

.info-item-title {
    padding: 0 0 0 3px;
    color: #989a9b;
    font-family: "OpenSans";
    font-size: 13px;
    display: inline-block;
    width: 179px;
    vertical-align: top;
}

.info-item-content {
    padding: 0 0 0 3px;
    color: #676a6c;
    font-family: "OpenSans";
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
}

/*.info-item-content a {
        color: #2d9cee;
        font-size: 13px;
        text-decoration: none;
    }

        .info-item-content a:hover {
            color: #000;
            text-decoration: underline;
        }*/

.select-cover {
    display: inline-block;
}

.info-item-select {
    display: inline-block;
    width: 154px;
    height: 34px;
    margin: 0 13px 0 2px;
}

a.select-add {
    color: #2d9cee;
    font-family: "OpenSans";
    font-style: italic;
    font-size: 14px;
    text-decoration: none;
}

a.select-add:hover {
    color: #000;
    text-decoration: underline;
}

a.select-delete {
    font-size: 13px;
    margin: 0 0 0 8px;
    color: #c4c4c4;
    text-decoration: none;
}

a.select-delete:hover {
    color: #000;
}

.other-button {
    float: right;
    width: 210px;
    text-align: right;
}

.design-hr {
    width: 99%;
    height: 1px;
    background: #eee;
    margin: 40px 0 20px 6px;
    display: block;
}

.design-filter {
    padding-bottom: 10px;
}

.design-last {
    display: table;
    width: 100%;
}

.last-title {
    height: 50px;
    display: table;
    padding: 0 6px;
    width: 100%;
    margin: 0 20px 0 0;
}

.other-btn {
    margin: 0 0 12px 0;
    width: 150px;
    text-align: center;
}

.last-item-row {
    margin: 0 -30px;
    display: flex;
    flex-wrap: wrap;
}

.last-item {
    width: 33.333%;
    padding: 18px 30px 50px 30px;
    vertical-align: top;
}

@media (min-width: 1600px) {
    .last-item {
        width: 25%;
    }
}

@media (width: 1920px) {
    .last-item {
        width: 20%;
    }
}

@media (min-width: 1921px) {
    .last-item {
        width: 280px;
    }
}
.last-item-ava {
    border: 1px solid #e9e7e7;
    height: 350px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

.last-item-ava img {
    max-height: none;
}

.last-item-con {
    text-align: center;
}

.last-item-title {
    font-family: "OpenSans";
    font-weight: 700;
    font-size: 14px;
    color: #000;
    display: block;
    line-height: 24px;
    margin: 6px 0 15px 0;
}

.last-item-content {
    font-family: "OpenSans";
    font-size: 13px;
    color: #676a6c;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

.last-item-content a {
    font-family: "OpenSans";
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

.last-item-content a:hover {
    color: #000;
    text-decoration: underline;
}

.tpl-ava-wrapper {
    width: auto;
    margin: 0 27px 0 0;
    float: left;
    max-width: 414px;
}

.design-button {
    text-align: center;
    margin-top: 10px;
}

.tpl-container {
    display: flex;
}

.tpl-info__inner {
}

.tpl-info__inner--top {
}

.tpl-info__inner--bottom {
}

.tpl-site-online {
    height: 1449px;
    width: 1316px;
    transform: scale(0.3);
    transform-origin: 0 0;
    pointer-events: none;
}

.tpl-table {
}

.tpl-table__th {
    padding: 10px 5px;
}

.tpl-table__td {
    border-top: 1px solid #eeeeee;
    padding: 5px;
}

.tpl-panel {
    border-radius: 3px;
    border: 1px solid #eeeeee;
    padding: 12px 16px;
}

.tpl-panel--limited {
    max-width: 790px;
}

.tpl-panel__header {
    color: #bbbbbb;
}

.tpl-panel__content {
    margin-top: 10px;
}
.tpl-iframe-loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2d9cee;
}
.tpl-iframe-loading--text {
    position: absolute;
    left: 28px;
    right: 28px;
    top: 69px;
    bottom: 80px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #676a6c;
}

.last-item-empty-template {
    background: #fff;
    width: 100%;
    height: 100%;
}

.last-item-empty-template-funnel {
    text-decoration: none;
    height: 100%;
}

.last-item-empty-template-funnel-b {
    height: 100%;
}

@media (min-width: 768px) {
    .create-site-h {
        margin-left: -25px;
    }
}
