/********* landing **********/
.landing-block-title {
  font-size: 36px;
  font-weight: 600;
}

.landing-block-subtitle {
  font-size: 18px;
}

.landing-block-preview-loading {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-block-preview {
  padding: 0;
  border: 0;
  margin: 0;
  pointer-events: none;
  height: 1000px;
  width: 1024px;
  transform: scale(0.31);
  transform-origin: 0 0;
}

.landing-block {
  min-height: 350px;
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

.landing-block-name {
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  overflow: hidden;
}

.landing-block-content {
  margin-bottom: 10px;
}

.landing-block-footer {
  /*position: absolute;
  width: 100%;
  bottom: 0;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d4d4d4;
}

.landing-block-settings {
  text-decoration: none;
  color: #d4d4d4;
}

.landing-block-add-text {
  font-size: 18px;
  color: #afafaf;
}

.landing-block-add {
  box-shadow: 0px 1px 6px #e3e3e3 inset;
}

.landing-block-settings {
  font-size: 18px;
}

.landing-block-footer-link {
  color: #9e9e9e;
  text-decoration: none;
}

.landing-block-footer-link-block {
  overflow: hidden;
  white-space: nowrap;
  margin-right: 5px;
  width: calc(100% - 48px - 5px);
  max-width: calc(100% - 48px - 5px);
  flex-basis: calc(100% - 48px - 5px);
}

.landing-block-footer-settings-block {
  width: 48px;
  max-width: 48px;
  flex-basis: 48px;
}

.funnel-wrap {
  padding-bottom: 18px;
}

.funnel:hover .funnel-icon {
  transform: scale(1.2);
}

.funnel {
  text-decoration: none;
  height: 100%;
}

.funnel:hover {
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px #bbbbbb;
}

.funnel__description {
  color: #676a6c;
}

.funnel-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.funnel-icon {
  transition: transform ease-in 0.3s;
  font-size: 64px;
}

.funnel__name {
  font-size: 18px;
  font-weight: 600;
  word-wrap: break-word;
}

.funnel__footer {
  opacity: 0;
  color: #d4d4d4;
}

.funnel__info {
  /*padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 10px;*/
  border-top: 0px;
  box-sizing: content-box;
  color: #2d9cee;
}

.funnel__info--border {
  border-top: 1px solid #ececec;
}

.funnel__info--padding,
.funnel-details__buttons {
  padding: 0 15px 20px 5px;
}

.funnel-details__image-wrap {
  position: relative;
  height: 200px;
  width: 460px;
  overflow: hidden;
}

.funnel-details__image-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: transform ease 3s;
  will-change: auto;
  text-align: center;
}

.funnel-details__image-inner:hover {
  transform: translateY(-57%);
}

.funnel__info--color-black {
  color: #2f4050;
}

.funnel-details__divider {
  height: 1px;
  overflow: hidden;
  background-color: #c3c3c3;
}

.funnel-details__container {
  padding: 15px;
}

.funnel-details__container + .funnel-details__container {
  border-top: 1px solid #ebebeb;
}

.funnel-details__wrapper {
  background-color: #fff;
}

.modal .products-for-funnel-button {
  position: absolute;
  bottom: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
  padding-right: 28px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: right;
  background-color: #fff;
  z-index: 30;
}

.modal .products-for-funnel-button-left {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.modal .funnel-modal-content-new-item {
  position: initial;
  padding-bottom: 72px;
}

.funnel-divider {
  height: 1px;
  font-size: 0;
  line-height: 0;
  margin: 15px 0;
  background: darkgray;
}

.landing-block-title__link-back {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.landing-block__pencil {
  font-size: 13px;
}

.create-funnel-filter__header {
  padding-left: 0 !important;
  font-family: "OpenSans" !important;
  font-size: 14px !important;
  font-weight: 600;
}

/********* landing **********/
.landing-block-title {
  font-size: 28px;
  font-family: "OpenSans";
  font-weight: 600;
}

.landing-block-subtitle {
  font-size: 13px;
}

.landing-link-iframe {
  position: relative;
  display: block;
  overflow: hidden;
  max-height: 200px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.landing-block-preview-loading {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='112' viewBox='0 0 200 112'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0%25' y1='50%25' y2='50%25'%3E%3Cstop offset='0%25' stop-color='%23F6F6F6'/%3E%3Cstop offset='100%25' stop-color='%23F5F5F5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23a)' fill-rule='evenodd' d='M209 243c-8.837 0-16-7.163-16-16s7.163-16 16-16 16 7.163 16 16-7.163 16-16 16zm35-32h148a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H244a1 1 0 0 1-1-1v-10a1 1 0 0 1 1-1zm0 20h148a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H244a1 1 0 0 1-1-1v-10a1 1 0 0 1 1-1zm-50 28h198a1 1 0 0 1 1 1v62a1 1 0 0 1-1 1H194a1 1 0 0 1-1-1v-62a1 1 0 0 1 1-1z' transform='translate(-193 -211)'/%3E%3C/svg%3E");
}

.landing-block-preview {
  padding: 0;
  border: 0;
  margin: 0;
  pointer-events: none;
  height: 1000px;
  width: 1170px;
  transform: scale(0.27);
  transform-origin: 0 0;
}

.landing-block {
  min-height: 350px;
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

.landing-block-name {
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  overflow: hidden;
}

.landing-block-content {
  margin-bottom: 10px;
}

.landing-block-footer {
  /*position: absolute;
  width: 100%;
  bottom: 0;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d4d4d4;
}

.landing-block-settings {
  text-decoration: none;
  color: #d4d4d4;
}

.landing-block-add-text {
  font-size: 18px;
  color: #d4d4d4;
}

.landing-block-add {
  box-shadow: 0px 1px 6px #c5c5c5 inset;
}

.landing-block-settings {
  font-size: 18px;
}

/************************/
.landing-block-wrap {
  float: left;
  width: calc(33.33333% - 16px);
  margin: 0 8px;
}
.landing-block-wrap .ibox {
  border-radius: 5px;
}
.landing-block-wrap .ibox:hover {
  box-shadow: 0px 0px 10px 0px #bbbbbb;
}

.landing-block-container {
  margin: 0 -8px;
}
.landing-block-container:after {
  content: "";
  display: table;
  clear: both;
}

.funnel-site-buttons {
  white-space: nowrap;
  padding-left: 16px;
  padding-top: 12px;
}

.balance__padding-page .tab-pane.active {
  border-top: none;
}
.balance__padding-page .funnel-page__name-wrap {
  margin-right: 15px;
}
.balance__padding-page .funnel-page__name-wrap .funnel-page__name {
  margin: 0;
  margin-left: -2px;
  white-space: normal;
}

.funnel-site__block-wrap {
  margin-left: 30px;
  margin-right: 24.25px;
}

.funnel-site__settings .nav-tabs {
  background-color: transparent !important;
  display: flex;
  align-items: center;
}
.funnel-site__settings .nav-tabs .nav-item {
  padding-right: 15px;
}
.funnel-site__settings .nav-tabs .nav-item a {
  padding: 0 !important;
  border-right: 0px !important;
  white-space: nowrap;
  text-decoration: none;
  color: #2d9cee;
  background-color: transparent;
}
.funnel-site__settings .nav-tabs .nav-item.active a {
  background-color: transparent;
  color: #666666;
  border: 0;
}

.funnel-site__settings .nav.nav-tabs:before {
  display: none !important;
}

.site__enabled-toggle {
  border: 1px solid currentColor;
  background-color: #fff;
  border-radius: 4px;
}

.site__enabled-toggle--on {
  color: #1ec17b;
}
.site__enabled-toggle--on:hover, .site__enabled-toggle--on:active, .site__enabled-toggle--on:focus {
  color: #1ec17b;
}

.site__enabled-toggle--off {
  color: #d33126;
}
.site__enabled-toggle--off:hover, .site__enabled-toggle--off:active, .site__enabled-toggle--off:focus {
  color: #d33126;
}

@media (min-width: 1366px) {
  .landing-block-preview {
    transform: scale(0.3);
  }
}
@media (min-width: 1440px) {
  .landing-block-preview {
    transform: scale(0.33);
  }
}
@media (min-width: 1680px) {
  .landing-block-wrap {
    width: calc(25% - 16px);
  }

  .landing-block-preview {
    transform: scale(0.315);
  }
}
.funnel-domains {
  padding: 20px 20px 35px 20px;
  background: #eee;
  border: 1px solid #e0e1e3;
  margin-top: -1px;
}
.funnel-domains--empty {
  padding-top: 95px;
  padding-bottom: 96px;
}

.funnel-domain-item {
  padding: 15px 20px;
  margin-top: 10px;
  /*display: inline-block;*/
  font-weight: 600;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  border: 1px solid transparent;
  color: #676a6c;
}

.funnel-domain-item-selected {
  background: #eee;
  border-top: 1px solid #e0e1e3;
  border-left: 1px solid #e0e1e3;
  border-right: 1px solid #e0e1e3;
  color: #2f4050;
}