@import 'variable';

a, .link {
    color: $link;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: $link-hover;
        text-decoration: none;
    }

    &--selected {
        color: $link-hover;
    }
}

.link-invert, .ui-grid-custom-service-icon {
    color: $link-invert;

    &:hover {
        color: $link-invert-hover;
    }

    &--selected {
        color: $link-invert-hover;
    }
}

.link-decoration-none {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.link-decoration-invert {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.link-disabled {
    color: #ccc;
}

.link-alt {
    color: $link-alt;

    &:hover {
        color: $link-alt-hover;
    }

    &--selected {
        color: $link-alt-hover;
    }
}

.link-danger {
    color: $link-danger;

    &:hover {
        color: $link-danger-hover;
    }

    &--selected {
        color: $link-danger-hover;
    }
}

.link-terna {
    color: $link-terna;

    &:hover {
        color: $link-terna-hover;
    }

    &--selected {
        color: $link-terna-hover;
    }
}
.link-as-label-icon {
    color: #838a8f;

    &--selected {
        color: $link;
    }
}

.link-dashed {
    text-decoration: dashed;

    &:hover {
        text-decoration: none;
    }
}