a, .link {
  color: #2d9cee;
  text-decoration: underline;
  cursor: pointer;
}
a:hover, .link:hover {
  color: #676a6c;
  text-decoration: none;
}
a--selected, .link--selected {
  color: #676a6c;
}

.link-invert, .ui-grid-custom-service-icon {
  color: #676a6c;
}
.link-invert:hover, .ui-grid-custom-service-icon:hover {
  color: #288dd2;
}
.link-invert--selected, .ui-grid-custom-service-icon--selected {
  color: #288dd2;
}

.link-decoration-none {
  text-decoration: none;
}
.link-decoration-none:hover {
  text-decoration: none;
}

.link-decoration-invert {
  text-decoration: none;
}
.link-decoration-invert:hover {
  text-decoration: underline;
}

.link-disabled {
  color: #ccc;
}

.link-alt {
  color: #bdc3c7;
}
.link-alt:hover {
  color: #288dd2;
}
.link-alt--selected {
  color: #288dd2;
}

.link-danger {
  color: red;
}
.link-danger:hover {
  color: #676a6c;
}
.link-danger--selected {
  color: #676a6c;
}

.link-terna {
  color: #2f4050;
}
.link-terna:hover {
  color: #288dd2;
}
.link-terna--selected {
  color: #288dd2;
}

.link-as-label-icon {
  color: #838a8f;
}
.link-as-label-icon--selected {
  color: #2d9cee;
}

.link-dashed {
  text-decoration: dashed;
}
.link-dashed:hover {
  text-decoration: none;
}