.ibox-content.settings-block {
  background-color: #eee;
}

.settings-details__header {
  padding-bottom: 20px;
  padding-top: 6px;
}
.settings-details__header .page-name-block-text {
  margin-top: 0;
  padding: 0;
}

.settings-box-content.ibox-content {
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 37px;
  padding-right: 37px;
}

.settings-list__item {
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 9px;
  padding-right: 9px;
}
.settings-list__item:hover {
  background-color: #e9ebec;
}
.settings-list__item-icon-wrap {
  margin-right: 6px;
}
.settings-list__item-name {
  font-family: "OpenSans";
  color: #2d9cee;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
}
.settings-list__item-descr {
  font-size: 11px;
  color: #676a6c;
  line-height: 1.8;
}

.save-img {
  position: relative;
}
.save-img svg {
  display: none;
  position: absolute;
  left: 50%;
  top: 3px;
}

.backSetting-link__desktop {
  display: block;
}

.backSetting-link__mobile {
  display: none;
}

@media (max-width: 768px) {
  .settings-list__item-descr {
    display: none;
  }

  .settings-list__item-name {
    text-align: center;
  }

  .setting-block__column {
    flex-direction: column;
  }

  .settings-list__item-icon-wrap {
    margin-right: 0;
  }

  .balance-block {
    margin-right: 0px;
    margin-left: 0px;
  }

  .balance-block--content {
    margin-top: 0;
  }

  .balance-block .ibox-content {
    border-radius: 4px;
  }

  .page-name-block-text--bigger {
    text-align: center;
    font-size: 18px;
  }

  .ibox-content.settings-block {
    background: transparent;
  }

  .ibox-content {
    border: none;
  }
  .ibox-content .sticky-page-name {
    padding-top: 0;
  }

  .is-sticky .sticky-page-name {
    min-width: 95%;
    left: 0px !important;
    padding: 0;
    padding-top: 5px;
  }

  .is-sticky .sticky-page-name-text {
    font-size: 16px !important;
  }

  .backSetting-link__desktop {
    display: none;
  }

  .backSetting-link__mobile {
    display: block;
  }
  .backSetting-link__mobile a {
    position: relative;
    top: 3px;
  }

  .save-img-block {
    flex-basis: 25%;
    max-width: 25%;
  }

  .text-center__mobile {
    text-align: center;
    font-size: 18px;
  }

  .save-img input[type=submit] {
    opacity: 0;
  }

  .save-img svg {
    display: block;
  }

  .tab-content {
    padding: 0 16px;
    margin-top: -30px;
  }
  .tab-content .form-group {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
  }
  .tab-content .form-group .setting-form-label-wrap__mobile {
    flex-basis: 90%;
    max-width: 90%;
    margin-bottom: 5px;
  }
  .tab-content .form-group .setting-form-input-wrap__mobile {
    flex-basis: 92%;
    max-width: 92%;
  }
  .tab-content .form-group .col-xs-offset-2 {
    margin-left: 0;
  }
  .tab-content .form-group .link-academy {
    align-items: flex-start;
  }
  .tab-content .form-group .form-inline {
    display: flex;
    align-items: center;
  }
  .tab-content .form-group .form-inline span {
    padding-left: 5px;
  }
  .tab-content .form-group .custom-svg_mobile {
    width: 20%;
  }
  .tab-content .setting-size-text {
    color: #989a9b;
    font-size: 12px;
  }

  .is-sticky .page-name-block-item-main:after {
    display: none;
  }

  .sticky-page-name-block_mobile {
    display: flex;
    align-items: center;
    padding-top: 0 !important;
  }
  .sticky-page-name-block_mobile .page-name-block-text {
    flex-basis: 75%;
    max-width: 75%;
    font-size: 18px;
    padding-top: 3px;
    text-align: center;
  }

  .is-sticky .breadcrumb__link--admin {
    display: block;
  }
  .is-sticky .page-name-block-item-main {
    display: flex;
  }
  .is-sticky .page-name-block-text_mobile {
    flex-basis: 90%;
    max-width: 90%;
  }
  .is-sticky .sticky-page-name {
    padding-top: 0;
  }
}