<div class="blocks-constructor-buttons-color-scheme">
    <div class="blocks-constructor-buttons-color-scheme__content">
        <div class="blocks-constructor-buttons-color-scheme__header">
            Цвета
        </div>
        <div class="blocks-constructor-row">
            <div class="blocks-constructor-row__name ">
                Фон
            </div>
            <background-picker data-e2e="backgroundColors" on-update="$ctrl.updateBackground(cssString, type)" colors="$ctrl.backgroundColors" color-selected="$ctrl.settings.BackgroundColor" on-init="$ctrl.onInitBackgroundPicker(backgroundPicker)"></background-picker>
        </div>

        <div>
            <div class="blocks-constructor-row__name">
                Альтернативный фон
            </div>
            <background-picker data-e2e="backgroundColorsAlt" on-update="$ctrl.updateBackgroundAlt(cssString, type)" data-colors="$ctrl.backgroundColors" color-selected="$ctrl.settings.BackgroundColorAlt" on-init="$ctrl.onInitBackgroundPicker(backgroundPicker)"></background-picker>
        </div>
    </div>
</div>

<div class="blocks-constructor-buttons-color-scheme">
    <div class="blocks-constructor-buttons-actions__content">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="blocks-constructor-buttons-color-scheme__header">
                    Цвет текста
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                Цвет заголовка
                            </div>
                            <color-picker data-e2e="TitleColor"
                                          ng-model="$ctrl.settings.TitleColor"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                Цвет подзаголовка
                            </div>
                            <color-picker data-e2e="SubTitleColor"
                                          ng-model="$ctrl.settings.SubTitleColor"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Цвет текста
                            </div>
                            <color-picker data-e2e="TextColor"
                                          ng-model="$ctrl.settings.TextColor"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerText"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Альтернативный цвет текста
                            </div>
                            <color-picker ng-model="$ctrl.settings.TextColorAlt"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerText"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Цвет ссылки
                            </div>
                            <color-picker data-e2e="LinkColor"
                                          ng-model="$ctrl.settings.LinkColor"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div>
                            <div class="blocks-constructor-row__name">
                                Цвет ссылки при наведении
                            </div>
                            <color-picker data-e2e="LinkColorHover"
                                          ng-model="$ctrl.settings.LinkColorHover"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Жирность заголовка
                            </div>
                            <div class="blocks-constructor-select">
                                <select data-e2e="TitleBold" ng-model="$ctrl.settings.TitleBold" disabled-autobind>
                                    <option value="300">Тонкий</option>
                                    <option value="400">Обычный</option>
                                    <option value="600">Полужирный</option>
                                    <option value="700">Жирный</option>
                                    <option value="800">Очень жирный</option>
                                </select>
                            </div>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Жирность подзаголовка
                            </div>
                            <div class="blocks-constructor-select">
                                <select data-e2e="SubTitleBold" ng-model="$ctrl.settings.SubTitleBold" disabled-autobind>
                                    <option value="300">Тонкий</option>
                                    <option value="400">Обычный</option>
                                    <option value="600">Полужирный</option>
                                    <option value="700">Жирный</option>
                                    <option value="800">Очень жирный</option>
                                </select>
                            </div>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Жирность текста
                            </div>
                            <div class="blocks-constructor-select">
                                <select data-e2e="TextBold" ng-model="$ctrl.settings.TextBold" disabled-autobind>
                                    <option value="300">Тонкий</option>
                                    <option value="400">Обычный</option>
                                    <option value="600">Полужирный</option>
                                    <option value="700">Жирный</option>
                                    <option value="800">Очень жирный</option>
                                </select>
                            </div>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Цвет ссылки при нажатии
                            </div>
                            <color-picker data-e2e="LinkColorActive"
                                          ng-model="$ctrl.settings.LinkColorActive"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div>
                            <div class="blocks-constructor-row__name">
                                Цвет разделителя
                            </div>
                            <color-picker data-e2e="DelimiterColor"
                                          ng-model="$ctrl.settings.DelimiterColor"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="full-height">
                    <div class="blocks-constructor-buttons-color-scheme__header">
                        Предпросмотр
                    </div>
                    <div>
                        <label class="blocks-constructor-label" data-e2e="show_title">
                            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.alternativeBgText">
                            <span class="blocks-constructor-checkbox"></span>
                            <span class="blocks-constructor-label-text">
                                Альтернативный фон
                            </span>
                        </label>
                    </div>
                    <div class="blocks-constructor-buttons-color-scheme__preview font-family-main" style="height: calc(100% - 78px);" ng-style="{'background-color': $ctrl.alternativeBgText === true ? $ctrl.settings.BackgroundColorAlt : $ctrl.settings.BackgroundColor}">
                        <div>
                            <div class="lp-h2" 
                                 ng-style="{'color': $ctrl.alternativeBgText === true ? $ctrl.settings.TextColorAlt : $ctrl.settings.TitleColor,
                                        'font-family': $ctrl.fontMain || 'inherit',
                                        'line-height': $ctrl.fontHeight || 1,
                                        'font-weight': $ctrl.settings.TitleBold}">
                                Заголовок
                            </div>
                            <div class="lp-h3 m-b-md" 
                                 ng-style="{'color': $ctrl.alternativeBgText === true ? $ctrl.settings.TextColorAlt : $ctrl.settings.SubTitleColor,
                                        'font-family': $ctrl.fontMain || 'inherit',
                                        'line-height': $ctrl.fontHeight || 1,
                                        'font-weight': $ctrl.settings.SubTitleBold}">Подзаголовок</div>
                            <div class="lp-block-delimiter-line-horizontal__element m-b-md"
                                 ng-style="{'background-color': $ctrl.settings.DelimiterColor}"></div>
                            <div class="lp-font-size--middle m-b-md" 
                                 ng-style="{'color': $ctrl.alternativeBgText === true ? $ctrl.settings.TextColorAlt : $ctrl.settings.TextColor,
                                        'font-family': $ctrl.fontMain || 'inherit',
                                        'line-height': $ctrl.fontHeight || 1,
                                        'font-weight': $ctrl.settings.TextBold}">
                                Текст
                            </div>
                            <a class="lp-font-size--middle m-b-md inline-block pointer" 
                               ng-mouseleave="$event.target.style.color = $ctrl.alternativeBgText === true ? $ctrl.settings.TextColorAlt : $ctrl.settings.LinkColor;"
                               ng-mouseenter="$event.target.style.color = $ctrl.settings.LinkColorHover;"
                               ng-mousedown="$event.target.style.color = $ctrl.settings.LinkColorActive;"
                               ng-mouseup="$event.target.style.color = $ctrl.alternativeBgText === true ? $ctrl.settings.TextColorAlt : $ctrl.settings.LinkColor;"
                               ng-style="{'color': $ctrl.alternativeBgText === true ? $ctrl.settings.TextColorAlt : $ctrl.settings.LinkColor,
                                      'line-height': $ctrl.fontHeight || 1,
                                      'font-family': $ctrl.fontMain || 'inherit'}">
                                Ссылка
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="blocks-constructor-buttons-color-scheme">
    <div class="blocks-constructor-buttons-actions__content">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="blocks-constructor-buttons-color-scheme__header">
                    Кнопка
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">

                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                Цвет заливки
                            </div>
                            <color-picker data-e2e="ButtonBackgroundColor"
                                          ng-model="$ctrl.settings.ButtonBackgroundColor"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Цвет заливки при наведении
                            </div>
                            <color-picker data-e2e="ButtonBackgroundHover"
                                          ng-model="$ctrl.settings.ButtonBackgroundColorHover"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                Цвет заливки при нажатии
                            </div>
                            <color-picker data-e2e="ButtonBackgroundActive"
                                          ng-model="$ctrl.settings.ButtonBackgroundColorActive"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>

                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Цвет границы
                            </div>
                            <color-picker data-e2e="ButtonBorderColor"
                                          ng-model="$ctrl.settings.ButtonBorderColor"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div>
                            <div class="blocks-constructor-row__name ">
                                Толщина границы
                            </div>
                            <input type="number" 
                                   class="blocks-constructor-input" 
                                   data-e2e="buttonBorderWidth" 
                                   value="" 
                                   ng-model="$ctrl.buttonBorderWidth" 
                                   ng-change="$ctrl.settings.ButtonBorderWidth =  $ctrl.buttonBorderWidth + 'px'" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Цвет текста
                            </div>
                            <color-picker data-e2e="ButtonTextColor"
                                          ng-model="$ctrl.settings.ButtonTextColor"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Цвет текста при наведении
                            </div>
                            <color-picker data-e2e="ButtonTextHover"
                                          ng-model="$ctrl.settings.ButtonTextColorHover"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Цвет текста при нажатии
                            </div>
                            <color-picker data-e2e="ButtonTextActive"
                                          ng-model="$ctrl.settings.ButtonTextColorActive"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Жирность текста
                            </div>
                            <div class="blocks-constructor-select">
                                <select data-e2e="ButtonTextBold" ng-model="$ctrl.settings.ButtonTextBold" disabled-autobind>
                                    <option value="300">Тонкий</option>
                                    <option value="400">Обычный</option>
                                    <option value="600">Полужирный</option>
                                    <option value="700">Жирный</option>
                                    <option value="800">Очень жирный</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="blocks-constructor-row__name">
                                Радиус скругления
                            </div>
                            <input type="number" class="blocks-constructor-input" data-e2e="buttonBorderRadius" ng-model="$ctrl.buttonBorderRadius" ng-change="$ctrl.settings.ButtonBorderRadius =  $ctrl.buttonBorderRadius + 'px'" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="full-height">
                    <div class="blocks-constructor-buttons-color-scheme__header">
                        Предпросмотр
                    </div>
                    <div class="blocks-constructor-buttons-color-scheme__preview font-family-main" style="height: calc(100% - 48px); background-color: {{$ctrl.settings.BackgroundColor}};">
                        <div>
                            <button type="button" class="lp-btn lp-btn--primary lp-btn--xs link-text-decoration-none"
                                    ng-style="{'background-color': $ctrl.settings.ButtonBackgroundColor,
                                            'color': $ctrl.settings.ButtonTextColor,
                                            'border-color': $ctrl.settings.ButtonBorderColor,
                                            'border-width': $ctrl.buttonBorderWidth + 'px',
                                            'font-weight': $ctrl.settings.ButtonTextBold,
                                            'line-height': 1,
                                            'font-family': $ctrl.fontMain || 'inherit',
                                            'border-radius': $ctrl.buttonBorderRadius + 'px'}"
                                    ng-mousedown="$event.target.style.backgroundColor = $ctrl.settings.ButtonBackgroundColorActive; $event.target.style.color = $ctrl.settings.ButtonTextColorActive;"
                                    ng-mouseup="$event.target.style.backgroundColor = $ctrl.settings.ButtonBackgroundColor; $event.target.style.color = $ctrl.settings.ButtonTextColor;"
                                    ng-mouseleave="$event.target.style.backgroundColor = $ctrl.settings.ButtonBackgroundColor; $event.target.style.color = $ctrl.settings.ButtonTextColor;"
                                    ng-mouseenter="$event.target.style.backgroundColor = $ctrl.settings.ButtonBackgroundColorHover; $event.target.style.color = $ctrl.settings.ButtonTextColorHover;">
                                Начать работу
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blocks-constructor-buttons-color-scheme">
    <div class="blocks-constructor-buttons-actions__content">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="blocks-constructor-buttons-color-scheme__header">
                    Кнопка 2
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                Цвет заливки
                            </div>
                            <color-picker data-e2e="ButtonSecondaryBackgroundColor"
                                          ng-model="$ctrl.settings.ButtonSecondaryBackgroundColor"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Цвет заливки при наведении
                            </div>
                            <color-picker data-e2e="ButtonSecondaryBackgroundHover"
                                          ng-model="$ctrl.settings.ButtonSecondaryBackgroundColorHover"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                Цвет заливки при нажатии
                            </div>
                            <color-picker data-e2e="ButtonSecondaryBackgroundActive"
                                          ng-model="$ctrl.settings.ButtonSecondaryBackgroundColorActive"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Цвет границы
                            </div>
                            <color-picker data-e2e="ButtonSecondaryBorderColor"
                                          ng-model="$ctrl.settings.ButtonSecondaryBorderColor"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div>
                            <div class="blocks-constructor-row__name ">
                                Толщина границы
                            </div>
                            <input type="number" 
                                   data-e2e="buttonSecondaryBorderWidth" 
                                   class="blocks-constructor-input" 
                                   value="" 
                                   ng-model="$ctrl.buttonSecondaryBorderWidth" 
                                   ng-change="$ctrl.settings.ButtonSecondaryBorderWidth =  $ctrl.buttonSecondaryBorderWidth + 'px'" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Цвет текста
                            </div>
                            <color-picker data-e2e="ButtonSecondaryTextColor"
                                          ng-model="$ctrl.settings.ButtonSecondaryTextColor"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Цвет текста при наведении
                            </div>
                            <color-picker data-e2e="ButtonSecondaryTextHover"
                                          ng-model="$ctrl.settings.ButtonSecondaryTextColorHover"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Цвет текста при нажатии
                            </div>
                            <color-picker data-e2e="ButtonSecondaryTextActive"
                                          ng-model="$ctrl.settings.ButtonSecondaryTextColorActive"
                                          options="$ctrl.colorPickerOptions"
                                          event-api="$ctrl.colorPickerEventApi"></color-picker>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name ">
                                Жирность текста
                            </div>
                            <div class="blocks-constructor-select">
                                <select data-e2e="ButtonSecondaryTextBold" ng-model="$ctrl.settings.ButtonSecondaryTextBold" disabled-autobind>
                                    <option value="300">Тонкий</option>
                                    <option value="400">Обычный</option>
                                    <option value="600">Полужирный</option>
                                    <option value="700">Жирный</option>
                                    <option value="800">Очень жирный</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="blocks-constructor-row__name">
                                Радиус скругления
                            </div>
                            <input type="number" class="blocks-constructor-input" data-e2e="buttonSecondaryBorderRadius" ng-model="$ctrl.buttonSecondaryBorderRadius" ng-change="$ctrl.settings.ButtonSecondaryBorderRadius =  $ctrl.buttonSecondaryBorderRadius + 'px'" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="full-height">
                    <div class="blocks-constructor-buttons-color-scheme__header">
                        Предпросмотр
                    </div>
                    <div class="blocks-constructor-buttons-color-scheme__preview font-family-main" style="height: calc(100% - 49px); background-color: {{$ctrl.settings.BackgroundColor}};">
                        <div>
                            <button type="button" class="lp-btn lp-btn--primary lp-btn--xs link-text-decoration-none"
                                    ng-style="{'background-color': $ctrl.settings.ButtonSecondaryBackgroundColor,
                                            'color': $ctrl.settings.ButtonSecondaryTextColor,
                                            'border-color': $ctrl.settings.ButtonSecondaryBorderColor,
                                            'border-width': $ctrl.buttonSecondaryBorderWidth + 'px',
                                            'font-weight': $ctrl.settings.ButtonSecondaryTextBold,
                                            'line-height': 1,
                                            'font-family': $ctrl.fontMain || 'inherit',
                                            'border-radius': $ctrl.buttonSecondaryBorderRadius + 'px'}"
                                    ng-mousedown="$event.target.style.backgroundColor = $ctrl.settings.ButtonSecondaryBackgroundColorActive; $event.target.style.color = $ctrl.settings.ButtonSecondaryTextColorActive;"
                                    ng-mouseup="$event.target.style.backgroundColor = $ctrl.settings.ButtonSecondaryBackgroundColor; $event.target.style.color = $ctrl.settings.ButtonSecondaryTextColor;"
                                    ng-mouseleave="$event.target.style.backgroundColor = $ctrl.settings.ButtonSecondaryBackgroundColor; $event.target.style.color = $ctrl.settings.ButtonSecondaryTextColor;"
                                    ng-mouseenter="$event.target.style.backgroundColor = $ctrl.settings.ButtonSecondaryBackgroundColorHover; $event.target.style.color = $ctrl.settings.ButtonSecondaryTextColorHover;">
                                Подробнее
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




