<div class="a-crm__wrapper">
    <div class="a-crm">
        <div class="a-crm__title">
            Advantshop
        </div>
        <ul class="a-crm__list">
            <li class="a-crm__list-item">
                <div class="a-crm__client">
                    <% if(CustomerLink != null) { %>
                        <a target="_blank" href="<%= CustomerLink %>"><%= Fio %></a> 
                    <% } else { %>
                        <%= Fio %>
                    <% } %>
                </div>
                <% if(CustomerId != null) { %>
                    <div class="a-crm__manager">
                        Менеджер: <%= Manager || 'Не указано' %>
                    </div>
                <% } else { %>
                    <a href="javascript:void(0);" id="a_CRM_CreateCustomer">+ Cоздать пользователя</a>
                <% } %>
            </li>

            <% if(CustomerId != null) { %>

            <li class="a-crm__list-item">
                <div class="a-crm__list-title">Заказы:</div>
                <div class="a-crm__list-row">
                    <% if(LastOrderLink != null && LastOrderLink.length > 0) { %>
                    <a href="<%= LastOrderLink %>" target="_blank"><%= LastOrder %></a>
                    <div class="a-crm__list-note">
                        Оплачено заказов на <%= TotalOrdersSum %>
                    </div>
                    <% } else { %>
                        Пусто
                    <% } %>
                </div>
            </li>
            <li class="a-crm__list-item">
                <div class="a-crm__list-title">Лиды:</div>
                <div class="a-crm__list-row">
                    <% if(LastLeadLink != null && LastLeadLink.length > 0) { %>
                    <a href="<%= LastLeadLink %>" target="_blank"><%= LastLead %></a>
                    <% } else { %>
                        Пусто
                    <% } %>
                </div>
            </li>
            <li class="a-crm__list-item">
                <div class="a-crm__list-title">Открытые задачи</div>
                <div class="a-crm__list-row">
                    <% if(LastOpenTaskLink != null && LastOpenTaskLink.length > 0) { %>
                    <a href="<%= LastOpenTaskLink %>" target="_blank"><%= LastOpenTask %></a>
                    <% } else { %>
                        Пусто
                    <% } %>
                </div>
            </li>
            <li class="a-crm__list-item">
                <div class="a-crm__list-title">Последние звонки</div>
                <div class="a-crm__list-row">
                    <%= LastCall || 'Пусто'  %>
                </div>
            </li>
            <li class="a-crm__list-item">
                <div>
                    Новый:
                    <a href="javascript:void(0);" id="a_CRM_CreateOrder">+заказ</a>,
                    <a href="javascript:void(0);" id="a_CRM_CreateLead">+лид</a>,
                    <a href="<%= NewTaskLink %>" target="_blank">+задача</a>
                </div>
            </li>

            <% } %>
        </ul>
    </div>
</div>