.a-crm {
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
}

.a-crm__title {
    background-color: #339fea;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

.a-crm__list {
    padding: 0;
    margin: 0 10px;
    list-style: none;
}

.a-crm__list-item {
    padding: 8px 0;
    margin: 0;
    list-style: none;
}

    .a-crm__list-item + .a-crm__list-item {
        border-top: 1px #e4e4e4 solid;
    }

.a-crm__client {
    font-weight: bold;
    margin-bottom: 5px;
}

.a-crm__list-title {
    color: #98999b;
}

.a-crm__list-row {
    margin: 2px 0;
}

.a-crm__list-note {
    color: #666668;
    font-size: 90%;
}
/*.im-right-menu - правый фиксированный блок на странице сообщений*/
.im-right-menu .a-crm__wrapper{
    position: relative;
    top: 9px;
}
.im-right-menu .a-crm__wrapper:before{
    content:"";
    background-color: #edeef0;
    height: 15px;
    display: block;
    margin: 0 -1px;
}
.im-right-menu .a-crm{
    margin-top: 0;
}