.switcher-state-label {
    user-select: none;
}

.switcher-state-trigger {
    display: inline-block;
    background-color: #c8cbce;
    padding: 7px 15px;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.switcher-state-trigger-off-disabled {
    background-color: #2f4050;
    cursor: default;
}

.switcher-state-trigger-off-active {
    background-color: #2f4050;
    cursor: default;
}

.switcher-state-trigger-on {
    cursor: pointer;
}

.switcher-state-input {
    display: none;
}

.switcher-state-trigger-on-active {
    background-color: #2d9ced;
    cursor: default; 
}

.is-sticky {
    .switcher-state-trigger-off-disabled,
    .switcher-state-trigger-off-active {
        background-color: #2f4050;
        box-shadow: inset 0 0 1px 0 #fff;
    }

    .switcher-state-trigger-off {
        background-color: #2d9ced;
        cursor: default;
    }

    .switcher-state-input {
        display: none;
    }
}
