<div class="inplace-buttons inplace-buttons-confirm" data-ng-show="inplaceAutocompleteButtons.inplaceAutocomplete.isShow">
    <a ng-click="inplaceAutocompleteButtons.btnSave()" href="" class="icon-ok-before link-text-decoration-none inplace-buttons-item" title="{{ ::'Js.Inplace.Save' | translate }}"></a>
    <a ng-click="inplaceAutocompleteButtons.btnCancel()" href="" class="icon-cancel-before link-text-decoration-none inplace-buttons-item" title="{{ ::'Js.Inplace.Cancel' | translate }}"></a>
</div>

