<div class="inplace-buttons inplace-buttons-confirm inplace-image-buttons"
     data-ng-click="$event.stopPropagation();$event.preventDefault();"
     data-ng-show="inplaceImageButtons.inplaceImage.showButtons === true"
     data-ng-class="{'inplace-buttons--aligned': inplaceImageButtons.inplaceImage.buttonsAligned, 'inplace-buttons--show inplace-buttons-permanent-visible inplace-image-buttons-rendered': inplaceImageButtons.inplaceImage.inplaceImageButtonsVisible.permanentVisible, 'inplace-image-buttons-rendered':inplaceImageButtons.inplaceImage.buttonsRendered}">
    <logo-generator-trigger logo-generator-id="logoMain" data-ng-if="inplaceImageButtons.inplaceImage.inplaceImageButtonsVisible.editLogo === true" url-save="logogenerator/savelogo">
        <a href=""
           title="{{ ::'Js.Inplace.EditLogoPicture' | translate }}"
           class="icon-pencil-before link-text-decoration-none inplace-buttons-item"></a>
    </logo-generator-trigger>
    <a href=""
       title="{{ ::'Js.Inplace.AddPicture' | translate }}"
       class="icon-plus-circled-before link-text-decoration-none inplace-buttons-item"
       data-ng-if="inplaceImageButtons.inplaceImage.inplaceImageButtonsVisible.add === true"
       ngf-select
       ngf-change="inplaceImageButtons.inplaceImage.inplaceImageButtonsVisible.editLogo === true ? inplaceImageButtons.update($files, $event) : inplaceImageButtons.add($files, $event)"
       accept="image/*"
       ngf-accept="'image/*'"></a>
    <a href=""
       title="{{ ::'Js.Inplace.UpdatePicture' | translate }}"
       class="icon-arrows-ccw-before link-text-decoration-none inplace-buttons-item"
       data-ng-if="inplaceImageButtons.inplaceImage.inplaceImageButtonsVisible.update === true"
       ngf-select
       ngf-change="inplaceImageButtons.update($files, $event)"
       accept="image/*"
       ngf-accept="'image/*'"></a>
    <a href=""
       title="{{ ::'Js.Inplace.DeletePricture' | translate }}"
       data-ng-if="inplaceImageButtons.inplaceImage.inplaceImageButtonsVisible.delete === true"
       class="icon-trash-before link-text-decoration-none inplace-buttons-item"
       ng-click="inplaceImageButtons.delete($event)"></a>
</div>

