<div class="inplace-buttons inplace-buttons-confirm inplace-buttons-price" data-ng-show="inplacePriceButtons.inplacePrice.isShow">
    <a ng-click="inplacePriceButtons.btnSave()" href="" class="icon-ok-before link-text-decoration-none inplace-buttons-item" title="{{ ::'Js.Inplace.Save' | translate }}"></a>
    <a ng-click="inplacePriceButtons.btnCancel()" href="" class="icon-cancel-before link-text-decoration-none inplace-buttons-item" title="{{ ::'Js.Inplace.Cancel' | translate }}"></a>
</div>

