@using AdvantShop.Customers
<article class="checkout-block" data-ng-if="checkout.isShowCouponInput">
    <div class="checkout-block-title h2">
        @T(CustomerContext.CurrentCustomer.CustomerGroup.CustomerGroupId == CustomerGroupService.DefaultCustomerGroup ? "Checkout.CheckoutCoupon.CouponTitle" : "Checkout.CheckoutCoupon.CertificateCode")
    </div>
    <div class="checkout-block-content">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div data-cards-form data-apply-fn="checkout.applyCoupon()"></div>
            </div>
        </div>
    </div>
</article>