@model AdvantShop.ViewModel.Checkout.CheckoutSuccess
@{
    Html.AddAsset("checkoutSuccess");
}
@{
    if (Model.IsEmptyLayout)
    {
        Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    }
}
<div class="site-body-cell">
    <div class="checkout-success-content">
        <div class="page-title-row checkout-success-title-row">
            <h1 class="checkout-success-title page-title">@T("Checkout.Success.Success")</h1>
        </div>
    </div>
</div>
