@model string
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="generator" content="AdVantShop.NET">
    <meta name="format-detection" content="telePhone=no">
    <base href="@UrlService.GetUrl()" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex" />
    <meta name="robots" content="nofollow" />
</head>
<body>
    <h3>@Model</h3>
</body>
</html>