.employee-sheduler-fullcalendar .fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 0 0 1px;
}

.employee-sheduler-fullcalendar .fc-ltr .fc-time-grid .fc-slats td.fc-widget-content:not(.fc-time) {
    cursor: cell;
}

.employee-sheduler-fullcalendar .fc-unthemed td.fc-today {
    background: none !important;
}

.employee-sheduler-fullcalendar .fc-time-grid .fc-slats td.fc-time {
    border-color: transparent;
}

.employee-sheduler-fullcalendar .fc-content-skeleton .fc-bgevent {
    opacity: 1;
}

    .employee-sheduler-fullcalendar .fc-content-skeleton .fc-bgevent.no-work {
        background-color: #eeeeee;
    }

.employee-sheduler-fullcalendar .fc .fc-axis {
    vertical-align: top;
}

.employee-sheduler-fullcalendar .fc .booking-item {
    font-size: 1em;
    padding: 0;
}
.employee-sheduler-fullcalendar .fc .booking-item.booking-confirmed {
    background-color: #008000;
    border-color: #006600;
}
.employee-sheduler-fullcalendar .fc .booking-item.booking-new {
    background-color: #cc6600;
    border-color: #b35900;
}
.employee-sheduler-fullcalendar .fc .booking-item.booking-completed {
    background-color: #0066cc;
    border-color: #0059b3;
}
.employee-sheduler-fullcalendar .fc .booking-item.booking-cancel {
    background-color: #cccccc;
    border-color: #bfbfbf;
}
/*.employee-sheduler-fullcalendar .fc .booking-item.booking-nowork {
    background-color: #ff0000 !important;
    border-color: #990000 !important;
}*/

.employee-sheduler-fullcalendar .fc .fc-time-grid .fc-event-container .booking-item .fc-content {
    /*padding: 4px 6px;*/
}

.employee-sheduler-fullcalendar .fc .booking-item .fc-content .fc-time {
    font-size: 1em;
    padding: 0px 6px;
    vertical-align: middle;
}
.employee-sheduler-fullcalendar .fc .booking-item.booking-confirmed .fc-content .fc-time {
    background-color: #008000;
}
.employee-sheduler-fullcalendar .fc .booking-item.booking-new .fc-content .fc-time {
    background-color: #cc6600;
}
.employee-sheduler-fullcalendar .fc .booking-item.booking-completed .fc-content .fc-time {
    background-color: #0066cc;
}
.employee-sheduler-fullcalendar .fc .booking-item.booking-cancel .fc-content .fc-time {
    background-color: #cccccc;
}
.employee-sheduler-fullcalendar .fc .booking-item.booking-nowork .fc-content .fc-time {
    background-color: #ff0000 !important;
}

.employee-sheduler-fullcalendar .fc .booking-item .fc-content .fc-title {
    padding: 0 6px;
    vertical-align: middle;
}


.employee-sheduler-fullcalendar .fc-time-grid-event.fc-short .fc-time:before {
    content: attr(data-full);
}

.employee-sheduler-fullcalendar .fc-time-grid-event.fc-short .fc-time:after {
    display: none;
}

.employee-sheduler-fullcalendar .is-sticky {
    color: #676a6c;
}

.employee-sheduler-fullcalendar .fc-head-container {
    z-index: 5;
    position: relative;
}

.employee-sheduler-fullcalendar .fc-head-container {
    position: sticky;
    top: -21px;
    background: #fff;
}