.triggers-item {
    margin: 20px 20px 0 0;
    background-color: #ffffff;
    padding: 25px 25px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    width: 300px;
    z-index: 100;
    display: inline-block;
    vertical-align: top;
}
    .triggers-item:hover {
        cursor: pointer;
    }

    .triggers-item .triggers-item-link {
        text-decoration: none;
        color: #676a6c;
    }
        .triggers-item .triggers-item-link:hover {
            text-decoration: none;
        }

    .triggers-item .triggers-item-name {
        font-family: 'OpenSans';
        color: #000;
        font-weight: 600;
    }

    .triggers-item .triggers-item-name:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .triggers-item .triggers-item-description {
        margin: 10px 0 20px 0;
    }
.action-item .action-item-sort {
    display: none;
}
.action-item:hover .action-item-sort {
    display: inline-block;
}