@charset "UTF-8";
.admin-comments {
  padding: 0;
  margin: 0 0 10px 0;
}

.admin-comment-item {
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  padding: 15px 0;
}

.admin-comment-item.highlighted {
  background-color: #eee;
}

.admin-comment-item:not(:last-child) {
  border-bottom: 1px solid #e7eaec;
}

.admin-comment-item .admin-comments-list {
  margin-bottom: 0;
  padding-left: 20px;
}

.admin-comment-item .admin-comment-item:last-child {
  margin-bottom: 0;
}

.admin-comment-item-name, .admin-comment-item-date, .admin-comment-item-link {
  padding-right: 15px;
  display: inline-block;
  color: #888888;
}

.admin-comment-item-name {
  font-size: 14px;
  text-decoration: none;
}

.admin-comment-item-date {
  padding-left: 15px;
  border-left: 1px solid #e7eaec;
}

.admin-comment-item-link {
  cursor: pointer;
}

.admin-comment-item-link:hover {
  text-decoration: underline;
}

.admin-comment-item-text {
  padding: 10px 0 0;
  font-size: 14px;
  overflow-wrap: break-word;
  /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: break-word;
  word-break: keep-all;
  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
  line-break: auto;
  /* нет поддержки для русского языка */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* значение auto не поддерживается Chrome */
}

.admin-comment-item-edit {
  padding: 10px 0 0;
}

.admin-comment-item-answer {
  font-size: 12px;
}

.admin-comment-item-answer a:hover {
  text-decoration: underline;
}

.admin-comment-item__avatar,
.admin-comment-item__data {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.admin-comment-item__avatar {
  flex-basis: 70px;
  min-width: 70px;
}

.admin-comment-item__data {
  max-width: calc(100% - 70px);
}

.admin-comment-item__avatar img {
  border-radius: 50%;
}