.customer-custom-fields {
  display: flex;
}

.customer-custom-fields .custom-fields-row {
  /*flex-basis: 50%;
  max-width: 50%;*/
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.customer-custom-fields-divider {
  height: 1px;
  background-color: #c3c3c3;
  margin-bottom: 15px;
}

/*.customersegments-custom-fields .custom-fields-row {
    flex-basis: 33%;
    max-width: 33%;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
}*/
.customer-segment-item {
  background: #cae9f7;
  color: #005e94;
  border: 0;
  padding: 3px 8px;
  margin: 0 2px 2px 0;
  display: inline-block;
}

.customer-avatar-wrap {
  flex-basis: 90px;
  max-width: 90px;
}

.customer-short-name {
  font-size: 21px;
}

.customer-status-wrap {
  font-size: 0;
  width: 100%;
}

.tab-content > .active .customer-tabs--bg-grey {
  background-color: #eeeeee;
  padding-right: 0;
  padding-left: 0;
  margin-left: -25px;
  margin-right: -25px;
  border: 0;
  margin-top: -21px;
  margin-bottom: -28px;
}

.customer-status-label {
  cursor: pointer;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  width: 65px;
  display: inline-block;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #e4e4e4;
  color: #bbb;
  text-align: center;
}

.customer-status-label--responsive {
  width: 50%;
}

.customer-status-label-bad {
  width: 125px;
}

.customer-status-label > span {
  font-size: 13px;
}

#clientStatusVIP:checked + label {
  background-color: #fe952c;
  color: #fff;
  border: 1px solid #fe952c;
}

.customer-status-label.vip {
  background-color: #2d9ced;
  color: #fff;
  border: 1px solid #2d9ced;
}

.customer-status-label.bad {
  background-color: #2f4050;
  color: #fff;
  border: 1px solid #2f4050;
}

.customer-status-label-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.customer-status-label-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.customer-data__row {
  border-bottom: 1px solid #eee;
  margin-bottom: 14px;
}

.customer-data__item {
  max-width: 140px;
  flex: 0 0 140px;
  padding-bottom: 14px;
}

.customer-data__count {
  font-weight: bold;
}

.customer-view__name {
  color: #2f4050;
}

.customer-tag-item {
  background: #cae9f7;
  color: #005e94;
  border: 0;
  padding: 3px 8px;
  margin: 0 2px 2px 0;
  display: inline-block;
}