
.inplace-initialized {
    .inplace-landing-inline {
        display: inline-block;
        position: relative;
    }

    &[data-inplace-rich],
    &[data-inplace-modal],
    &[data-inplace-autocomplete],
    .inplace-price-container .price-current .price-number,
    .inplace-price-container .price-old .price-number,
    .inplace-price-container .price-discount-abs,
    .inplace-price-container .price-discount-percent,
    .inplace-price-container .price-unknown {
        border-radius: 0;

        &:after {
            top: 0;
            bottom: 0;
        }
    }

    &[data-inplace-rich]:hover,
    &[data-inplace-modal]:hover,
    &[data-inplace-autocomplete]:hover,
    .inplace-price-container .price-current .price-number:hover,
    .inplace-price-container .price-old .price-number:hover,
    .inplace-price-container .price-discount-abs:hover,
    .inplace-price-container .price-discount-percent:hover,
    .inplace-price-container .price-unknown:hover {
        background-color: rgba(0,0,0,.1);
        box-shadow: none;
    }

    &[data-inplace-rich]:hover {
        box-shadow: none;
        background-color: rgba(0,0,0,.1);
    }
}

.cke_focus,
.cke_focus:hover {
    box-shadow: none;
    background-color: rgba(0,0,0,.1);
}
