.inplace-initialized .inplace-landing-inline {
  display: inline-block;
  position: relative;
}
.inplace-initialized[data-inplace-rich], .inplace-initialized[data-inplace-modal], .inplace-initialized[data-inplace-autocomplete],
.inplace-initialized .inplace-price-container .price-current .price-number,
.inplace-initialized .inplace-price-container .price-old .price-number,
.inplace-initialized .inplace-price-container .price-discount-abs,
.inplace-initialized .inplace-price-container .price-discount-percent,
.inplace-initialized .inplace-price-container .price-unknown {
  border-radius: 0;
}
.inplace-initialized[data-inplace-rich]:after, .inplace-initialized[data-inplace-modal]:after, .inplace-initialized[data-inplace-autocomplete]:after,
.inplace-initialized .inplace-price-container .price-current .price-number:after,
.inplace-initialized .inplace-price-container .price-old .price-number:after,
.inplace-initialized .inplace-price-container .price-discount-abs:after,
.inplace-initialized .inplace-price-container .price-discount-percent:after,
.inplace-initialized .inplace-price-container .price-unknown:after {
  top: 0;
  bottom: 0;
}
.inplace-initialized[data-inplace-rich]:hover, .inplace-initialized[data-inplace-modal]:hover, .inplace-initialized[data-inplace-autocomplete]:hover,
.inplace-initialized .inplace-price-container .price-current .price-number:hover,
.inplace-initialized .inplace-price-container .price-old .price-number:hover,
.inplace-initialized .inplace-price-container .price-discount-abs:hover,
.inplace-initialized .inplace-price-container .price-discount-percent:hover,
.inplace-initialized .inplace-price-container .price-unknown:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}
.inplace-initialized[data-inplace-rich]:hover {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.cke_focus,
.cke_focus:hover {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
}