<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">Шаблон SMS при изменении статуса заказа</h2>
    </div>
    <div class="modal-body">
        
        <div class="form-group">
            <div class="row">
                <label class="col-xs-2 control-label text-required">Статус заказа</label>
                <div class="col-xs-10">
                    <select ng-options="s.StatusID as s.StatusName for s in ctrl.orderStatuses"
                            ng-model="ctrl.template.OrderStatusId" 
                            class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label class="col-xs-2 control-label">Активен</label>
                <div class="col-xs-10">
                    <label class="adv-checkbox-label">
                        <input type="checkbox" ng-model="ctrl.template.Enabled" class="adv-checkbox-input"/>
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label class="col-xs-2 control-label">
                    <span class="text-required">Текст SMS</span>
                </label>
                <div class="col-xs-10">
                    <textarea ng-model="ctrl.template.SmsText" class="form-control" required validation-input-text="Текст sms"></textarea>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button data-e2e="saveTemplate" class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation>
            {{ctrl.mode == "add" ? ('Admin.Js.AddEdit.Add'|translate) : ('Admin.Js.AddEdit.Save'|translate)}}
        </button>
        <button data-e2e="cancelTemplate" class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>