<div class="sticky-page-name" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main">
            <h1 class="page-name-block-text sticky-page-name-text">
                @T("Admin.Analytics.SearchQueries")
            </h1>
        </div>
        <div class="page-name-block-item-additional">
            
        </div>
    </div>
</div>
<div class="ibox">
    <div class="ibox-content">
            <ui-grid-custom grid-unique-id="gridSearchQueries"
                            grid-options="searchQueries.gridOptions"
                            grid-url="'analytics/getSearchQueriesStatistic'"
                            grid-selection-enabled="false">
            </ui-grid-custom>
    </div>
</div>