.product-picker-block {
    display: table;
    width: 100%;
}

.product-picker-col {
    display: table-cell;
    vertical-align: top;
}

.product-picker-col-tree {
    padding-right: 10px;
    width: 250px;
}

.product-picker-col-grid {
    padding-right: 10px;
}
