<div ng-init="$ctrl.isBookingActive()">
    <div ng-if="!$ctrl.isCheckBookingActive"
         class="flex center-xs middle-xs" >
        <div class="svg-spinner"
             style="width:150px; height: 150px;">
        </div>
    </div>

    <div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic" ng-if="$ctrl.modalData.settings.bookingIsActive && $ctrl.isCheckBookingActive">
        <ul class="tabs-headers row center-xs start-sm">
            <li id="tabBookingFront" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Внешний вид
                </span>
            </li>
            <li id="tabBooking" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Ресурсы
                </span>
            </li>
            <li ng-if="$ctrl.modalData.settings.button" id="tabBookingButton" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Кнопка
                </span>
            </li>
            <li ng-if="$ctrl.modalData.settings.form" id="tabBookingForm" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Форма
                    <svg ng-if="$ctrl.formSettings.$invalid && $ctrl.formSettings.$dirty" class="block-constructor-icon-error"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" width="16px" height="16px">
                        <path d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172
                              L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259
                              c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227
                              c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554
                              c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z
                              M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47
                              C281.638,399.11,270.06,411.018,256.498,411.018z" fill="currentColor" />
                    </svg>
                </span>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="tab-content" data-tab-content="tabBookingFront" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col">
                            <div ng-include="$ctrl.modalData.generalOptionsTemplateUrl"></div>
                            <div class="blocks-constructor-row">
                                <label class="blocks-constructor-label" data-e2e="show_ServiceLink">
                                    <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_service_link" />
                                    <span class="blocks-constructor-checkbox"></span>
                                    <span class="blocks-constructor-label-text">
                                        Показывать услуги
                                    </span>
                                </label>
                            </div>
                            <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.show_service_link">
                                <div class="blocks-constructor-row__name">
                                    Название ссылки
                                </div>
                                <input class="blocks-constructor-input" data-e2e="ServiceLinkText" type="text" ng-model="$ctrl.modalData.settings.name_service_link" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col--alt">
                            <div ng-include="$ctrl.modalData.generalRightOptionsTemplateUrl"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" data-tab-content="tabBooking" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="row" ng-controller="SubBlockBookingConstructorController as bookingAdmin">
                    <div class="col-xs-12 blocks-constructor-settings-col--alt" ng-init="bookingAdmin.onInit($ctrl.modalData.settings.resources)">
                        <div class="blocks-constructor-row">
                            <label class="blocks-constructor-label" data-e2e="BookingByDays">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.booking_by_days" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Бронирование по дням
                                </span>
                            </label>
                        </div>
                        <div>
                            <button class="lp-grid-add" data-e2e="AddNewElem" data-modal-open="modalAddResource">
                                <svg class="lp-grid-add__icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <rect fill="currentColor" width="24" height="24" rx="12"></rect>
                                    <path fill="#ffffff" d="M12.5,11.5 L17,11.5 L17,12.5 L12.5,12.5 L12.5,17 L11.5,17 L11.5,12.5 L7,12.5 L7,11.5 L11.5,11.5 L11.5,7 L12.5,7 L12.5,11.5 Z"></path>
                                </svg>
                                Добавить ресурс
                            </button>
                            <div id="modalAddResource" data-modal-control data-modal-class="">
                                <div class="modal-header" data-modal-header>
                                    Добавить ресурс
                                </div>
                                <div class="modal-content">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="blocks-constructor-row">
                                                <div class="blocks-constructor-row__name">Филиал</div>
                                                <div class="blocks-constructor-row__name">
                                                    <span class="blocks-constructor-select">
                                                        <select data-e2e="BookingAffiliates" ng-change="bookingAdmin.getResources()"
                                                                ng-model="bookingAdmin.affiliate"
                                                                ng-options="item as item.label for item in bookingAdmin.affiliates track by item.value"></select>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="blocks-constructor-row">
                                                <div class="blocks-constructor-row__name">Ресурс</div>
                                                <div class="blocks-constructor-row__name">
                                                    <span class="blocks-constructor-select">
                                                        <select data-e2e="BookingResource" ng-model="bookingAdmin.resource"
                                                                ng-options="item as item.Name for item in bookingAdmin.resources track by item.Id">
                                                            <option value="">Не выбран</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" data-modal-footer>
                                    <input type="button" data-e2e="BookingAdd" value="Добавить" ng-click="bookingAdmin.addResource($ctrl.modalData, modal)" class="blocks-constructor-btn-confirm" />
                                    <input type="button" data-e2e="BookingCancel" value="Отмена" data-modal-close class="blocks-constructor-btn-cancel blocks-constructor-btn-mar" />
                                </div>
                            </div>
                        </div>
                        <lp-grid lp-id="$ctrl.modalData.landingpageId"
                                 block-id="$ctrl.modalData.blockId"
                                 source="$ctrl.modalData.settings.resources"
                                 on-delete="bookingAdmin.getResources()"
                                 data-e2e="BookingGrid">
                            <!--<lp-grid-column type="picture" field="image" classes="'col-xs'" title="Фото"></lp-grid-column>-->
                            <lp-grid-column type="text" field="name" classes="'col-xs'" title="Ресурс"></lp-grid-column>
                            <lp-grid-column type="textarea" field="description" classes="'col-xs'" title="Описание"></lp-grid-column>
                            <lp-grid-column type="text" field="affiliate" editable="false" classes="'col-xs'" title="Филиал"></lp-grid-column>
                            <lp-grid-column type="template" field="time" classes="'col-xs'" title="Время брони" ng-if="$ctrl.modalData.settings.booking_by_days">
                                <div>
                                    <div class="flex middle-xs m-b-sm">
                                        <div class="p-r-sm" style="width: 20px;">c</div>
                                        <div ng-flatpickr
                                             fp-opts="{dateFormat: 'H:i', startDateFormat:'H:i', wrap: true, enableTime: true, noCalendar: true}"
                                             fp-on-change="lpGridRow.entity.timeFrom = dateStr">
                                            <input type="text" class="blocks-constructor-input" data-e2e="BookingTimeFrom" required ng-flatpickr-input ng-model="lpGridRow.entity.timeFrom">
                                        </div>
                                    </div>
                                    <div class="flex middle-xs m-b-sm">
                                        <div class="p-r-sm" style="width: 20px;">до</div>
                                        <div ng-flatpickr
                                             fp-opts="{dateFormat: 'H:i', startDateFormat:'H:i', wrap: true, enableTime: true, noCalendar: true}"
                                             fp-on-change="lpGridRow.entity.timeEnd = dateStr">
                                            <input type="text" class="blocks-constructor-input" data-e2e="BookingTimeEnd" required ng-flatpickr-input ng-model="lpGridRow.entity.timeEnd">
                                        </div>
                                    </div>
                                    <div>
                                        <label class="blocks-constructor-label" data-e2e="timeEndAtNextDay">
                                            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="lpGridRow.entity.timeEndAtNextDay" />
                                            <span class="blocks-constructor-checkbox"></span>
                                            <span class="blocks-constructor-label-text">
                                                след. дня
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </lp-grid-column>
                            <lp-grid-add>
                                <button class="lp-grid-add" data-e2e="AddResourceFooter" data-modal-open="modalAddResource" ng-if="$ctrl.modalData.settings.resources.length > 3">
                                    <svg class="lp-grid-add__icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <rect fill="currentColor" width="24" height="24" rx="12"></rect>
                                        <path fill="#ffffff" d="M12.5,11.5 L17,11.5 L17,12.5 L12.5,12.5 L12.5,17 L11.5,17 L11.5,12.5 L7,12.5 L7,11.5 L11.5,11.5 L11.5,7 L12.5,7 L12.5,11.5 Z"></path>
                                    </svg>
                                    Добавить ресурс
                                </button>
                            </lp-grid-add>
                        </lp-grid>

                        <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.show_resourcebutton != null">
                            <label class="blocks-constructor-label" data-e2e="ShowBookingBtn">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_resourcebutton" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Отображать кнопку "Записаться"
                                </span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.modalData.settings.button" class="tab-content" data-tab-content="tabBookingButton" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="blocks-constructor-settings-col--alt">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="blocks-constructor-row">
                                <label class="blocks-constructor-label" data-e2e="EnabledBtn">
                                    <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_button" />
                                    <span class="blocks-constructor-checkbox"></span>
                                    <span class="blocks-constructor-label-text">
                                        Кнопка включена
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="$ctrl.modalData.settings.show_button">
                        <div class="col-xs--12 col-sm-6">
                            <div class="blocks-constructor-row">
                                <div class="blocks-constructor-row__name">
                                    Текст кнопки
                                </div>
                                <input class="blocks-constructor-input" data-e2e="BtnTextBooking" type="text" ng-model="$ctrl.modalData.settings.button.text" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.modalData.settings.form" class="tab-content" data-tab-content="tabBookingForm" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <blocks-constructor-form-settings common-options="$ctrl.modalData.data" form-settings="$ctrl.formSettings"></blocks-constructor-form-settings>
            </div>
        </div>
    </div>
    <div ng-if="!$ctrl.modalData.settings.bookingIsActive && $ctrl.isCheckBookingActive">
        <div class="blocks-constructor-settings-col--alt">
            <div class="row center-xs">
                <div class="col-xs-12">
                    <div class="lp-h2 lp-h2--color lp-products-view__title">
                        Бронирование не включено
                    </div>
                </div>
            </div>
            <div class="ng-cloak lp-block-products-view__empty--admin color-scheme--light">
                <a href="adminv3/settingsbooking" target="_blank" class="lp-btn lp-btn--primary" style="text-decoration: none;">Перейти к настройкам бронирования</a>
            </div>
        </div>
    </div>
</div>