<div>
    <div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic">
        <ul class="tabs-headers row center-xs start-sm">
            <li id="tabFooterFront" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Внешний вид
                </span>
            </li>
            <li ng-if="$ctrl.modalData.settings.vk_enabled != null" id="tabFooterContact" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Контакты
                </span>
            </li>
            <li ng-if="$ctrl.modalData.settings.form && !$ctrl.modalData.settings.form.is_hidden" id="tabForm" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Форма
                    <svg ng-if="$ctrl.formSettings.$invalid && $ctrl.formSettings.$dirty" class="block-constructor-icon-error"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" width="16px" height="16px">
                        <path d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172
                              L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259
                              c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227
                              c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554
                              c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z
                              M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47
                              C281.638,399.11,270.06,411.018,256.498,411.018z" fill="currentColor" />
                    </svg>
                </span>
            </li>
            <li ng-if="$ctrl.modalData.settings.map_code != null" id="tabFooterMap" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Карта
                </span>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="tab-content" data-tab-content="tabFooterFront" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col">
                            <div ng-include="$ctrl.modalData.generalOptionsTemplateUrl"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col--alt">
                            <div ng-include="$ctrl.modalData.generalRightOptionsTemplateUrl"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.modalData.settings.vk_enabled != null" class="tab-content" data-tab-content="tabFooterContact" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="blocks-constructor-settings-col--alt">
                    <div ng-include="$ctrl.modalData.socialTemplateUrl"></div>
                </div>
            </div>
            <div ng-if="$ctrl.modalData.settings.form && !$ctrl.modalData.settings.form.is_hidden" class="tab-content" data-tab-content="tabForm" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <blocks-constructor-form-settings common-options="$ctrl.modalData.data" form-settings="$ctrl.formSettings" ng-init="$ctrl.isForm = true">
                    <script type="text/ng-template" blocks-constructor-form-settings-tab header="'Товар'">
                        <div ng-include="'areas/landing/frontend/_common/blocks-constructor/templates/partials/_product-price.html'"></div>
                        <block-constructor-upsell value="$ctrl.modalData.data.Form.ActionUpsellLpId" items="$ctrl.modalData.data.Landings"></block-constructor-upsell>
                    </script>
                </blocks-constructor-form-settings>
            </div>
            <div ng-if="$ctrl.modalData.settings.map_code != null" class="tab-content" data-tab-content="tabFooterMap" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="blocks-constructor-settings-col--alt">
                    <div class="blocks-constructor-row">
                        <div class="blocks-constructor-row__name">
                            Код карты
                        </div>
                        <textarea class="blocks-constructor-textarea" data-e2e="map_code" ng-model="$ctrl.modalData.settings.map_code"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
