<div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic">
    <ul class="tabs-headers row center-xs start-sm">
        <li id="tabCoverFront" class="tabs-header-item col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
            <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                Внешний вид
            </span>
        </li>
        <li ng-if="$ctrl.modalData.settings.button" id="tabCoverButton" class="tabs-header-item  col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
            <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                Кнопка 1
                <svg ng-if="$ctrl.buttonFormSettings.$invalid && $ctrl.buttonFormSettings.$dirty" class="block-constructor-icon-error"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" width="16px" height="16px">
                    <path d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172
                              L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259
                              c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227
                              c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554
                              c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z
                              M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47
                              C281.638,399.11,270.06,411.018,256.498,411.018z" fill="currentColor" />
                </svg>
            </span>
        </li>
        <li ng-if="$ctrl.modalData.settings.button2" id="tabCoverButton2" class="tabs-header-item  col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
            <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                Кнопка 2
                <svg ng-if="$ctrl.button2FormSettings.$invalid && $ctrl.button2FormSettings.$dirty" class="block-constructor-icon-error"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" width="16px" height="16px">
                    <path d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172
                              L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259
                              c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227
                              c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554
                              c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z
                              M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47
                              C281.638,399.11,270.06,411.018,256.498,411.018z" fill="currentColor" />
                </svg>
            </span>
        </li>
        <li ng-if="$ctrl.modalData.settings.form && !$ctrl.modalData.settings.form.is_hidden" id="tabCoverForm" class="tabs-header-item  col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
            <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                Форма
                <svg ng-if="$ctrl.formSettings.$invalid && $ctrl.formSettings.$dirty" class="block-constructor-icon-error"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" width="16px" height="16px">
                    <path d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172
                              L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259
                              c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227
                              c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554
                              c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z
                              M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47
                              C281.638,399.11,270.06,411.018,256.498,411.018z" fill="currentColor" />
                </svg>
            </span>
        </li>
        <li id="tabPictures" ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('picture')] != null" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
            <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                Изображение
            </span>
        </li>
        <li ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')]" id="tabCoverVideo" class="tabs-header-item  col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
            <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                Настройка видео
            </span>
        </li>
    </ul>
    <div class="tabs-content">
        <div class="tab-content" data-tab-content="tabCoverFront" data-ng-class="{'tab-content-active': tabContent.header.selected}">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="blocks-constructor-settings-col">
                        <div ng-include="$ctrl.modalData.generalOptionsTemplateUrl"></div>
                        <div class="blocks-constructor-table">
                            <div class="blocks-constructor-row">
                                <div class="blocks-constructor-row__name">
                                    <label class="blocks-constructor-label" data-e2e="scrollToBlock">
                                        <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.scrollToBlock" />
                                        <span class="blocks-constructor-checkbox"></span>
                                        <span class="blocks-constructor-label-text">
                                            Переход к следующему блоку
                                        </span>
                                    </label>
                                </div>
                            </div>

                            <div class="blocks-constructor-row" data-e2e="ColorArrow" ng-if="$ctrl.modalData.settings.colorArrow != null">
                                <div class="blocks-constructor-row__name">
                                    Цвет стрелки
                                </div>
                                <color-picker class="lp-gradient-picker-color" ng-model="$ctrl.modalData.settings.colorArrow"
                                              options="$ctrl.arrowColorPickerOptions"
                                              event-api="$ctrl.arrowColorPickerEventApi"></color-picker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="blocks-constructor-settings-col--alt">
                        <div ng-include="$ctrl.modalData.generalRightOptionsTemplateUrl"></div>
                    </div>
                </div>
            </div>
            <div class="blocks-constructor-table-row-group" ng-include="$ctrl.modalData.buttonOptionsTemplateUrl"></div>
        </div>
        <div ng-if="$ctrl.modalData.settings.button" class="tab-content" data-tab-content="tabCoverButton" data-ng-class="{'tab-content-active': tabContent.header.selected}">
            <blocks-constructor-button-settings lp-id="$ctrl.modalData.landingpageId" button-options="$ctrl.modalData.settings.button"
                                                common-options="$ctrl.modalData.data"
                                                is-visibility="$ctrl.modalData.settings.show_button"
                                                form-settings="$ctrl.buttonFormSettings"></blocks-constructor-button-settings>
        </div>
        <div ng-if="$ctrl.modalData.settings.button2" class="tab-content" data-tab-content="tabCoverButton2" data-ng-class="{'tab-content-active': tabContent.header.selected}">
            <blocks-constructor-button-settings lp-id="$ctrl.modalData.landingpageId"
                                                button-options="$ctrl.modalData.settings.button2"
                                                common-options="$ctrl.modalData.data"
                                                form-exclude="true"
                                                is-visibility="$ctrl.modalData.settings.show_button2"
                                                form-settings="$ctrl.button2FormSettings"></blocks-constructor-button-settings>
        </div>
        <div ng-if="$ctrl.modalData.settings.form && !$ctrl.modalData.settings.form.is_hidden" class="tab-content" data-tab-content="tabCoverForm" data-ng-class="{'tab-content-active': tabContent.header.selected}">
            <blocks-constructor-form-settings common-options="$ctrl.modalData.data" form-settings="$ctrl.formSettings" ng-init="$ctrl.isForm = true">
                <script type="text/ng-template" blocks-constructor-form-settings-tab header="'Товар'">
                    <div ng-include="'areas/landing/frontend/_common/blocks-constructor/templates/partials/_product-price.html'"></div>
                    <block-constructor-upsell value="$ctrl.modalData.data.Form.ActionUpsellLpId" items="$ctrl.modalData.data.Landings"></block-constructor-upsell>
                </script>
            </blocks-constructor-form-settings>
        </div>
        <div ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('picture')] != null" class="tab-content" data-tab-content="tabPictures" data-ng-class="{'tab-content-active': tabContent.header.selected}">
            <div class="blocks-constructor-settings-col" ng-controller="SubBlockGalleryConstructorCtrl as gallery">
                <picture-loader-trigger data-lp-id="{{$ctrl.modalData.landingpageId}}"
                                        data-block-id="{{$ctrl.modalData.blockId}}"
                                        data-lp-setting="$ctrl.modalData.data"
                                        data-delete-picture="false"
                                        gallery-icons-enabled="false"
                                        data-current="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('picture')].Settings.preview || $ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('picture')].Settings.src || pictureLoaderTrigger.imgSrc || './areas/landing/frontend/images/nophoto_cover.png'"
                                        data-max-width-picture="{{:: $ctrl.pictureMaxSize.largeWidth}}"
                                        data-max-height-picture="{{:: $ctrl.pictureMaxSize.largeHeight}}"
                                        on-apply="gallery.onUploadPictureSubblock($ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('picture')].Settings, result)"
                                        on-lazy-load-change="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('picture')].Settings.lazyLoadEnabled = result"
                                        lazy-load-enabled="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('picture')].Settings.lazyLoadEnabled">
                    <div class="picture-loader-trigger-image-wrap">
                        <div class="image-block-picture-trigger-image">
                            <img data-e2e="ImgPicture" ng-src="{{$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('picture')].Settings.preview || $ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('picture')].Settings.src || pictureLoaderTrigger.imgSrc || './areas/landing/frontend/images/nophoto_cover.png'}}" class="reviews-carousel__picture" alt="">
                        </div>
                        <button type="button" data-e2e="UpdateImg" picture-loader-element-trigger class="blocks-constructor-picture-update">
                            <svg class="blocks-constructor-picture-update-icon" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path fill="currentColor" d="M15.3846154,0.0683760684 C15.0700855,0.0683760684 14.8239316,0.314529915 14.8239316,0.629059829 L14.8239316,3.95213675 C13.4153846,1.58632479 10.8581197,0.0683760684
                                      8,0.0683760684 C3.62393162,0.0683760684 0.0683760684,3.62393162 0.0683760684,8.01367521 C0.0683760684,12.4034188 3.62393162,15.9452991 8,15.9452991 C12.3760684,15.9452991 15.9316239,12.3897436
                                      15.9316239,8.01367521 C15.9316239,7.6991453 15.6854701,7.45299145 15.3709402,7.45299145 C15.0564103,7.45299145 14.8102564,7.6991453 14.8102564,8.01367521 C14.8102564,11.774359 11.7470085,14.8376068
                                      7.98632479,14.8376068 C4.22564103,14.8376068 1.17606838,11.7606838 1.17606838,8 C1.17606838,4.23931624 4.23931624,1.17606838 8,1.17606838 C10.6940171,1.17606838 13.1008547,2.74871795
                                      14.1948718,5.15555556 L10.2700855,5.15555556 C9.95555556,5.15555556 9.70940171,5.4017094 9.70940171,5.71623932 C9.70940171,6.03076923 9.95555556,6.27692308 10.2700855,6.27692308 L15.3709402,6.27692308
                                      C15.6854701,6.27692308 15.9316239,6.03076923 15.9316239,5.71623932 L15.9316239,0.615384615 C15.9316239,0.314529915 15.6854701,0.0683760684 15.3846154,0.0683760684 Z" id="Shape"></path>
                            </svg>
                            Обновить изображение
                        </button>
                    </div>
                </picture-loader-trigger>
                <div class="blocks-constructor-row m-t-md" ng-if="$ctrl.modalData.settings.enable_picture !== undefined">
                    <label class="blocks-constructor-label">
                        <input class="blocks-constructor-checkbox-native" type="checkbox" value="desktop" ng-model="$ctrl.modalData.settings.enable_picture" />
                        <span class="blocks-constructor-checkbox"></span>
                        <span class="blocks-constructor-label-text">
                            Показывать изображение
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')]" class="tab-content" data-tab-content="tabCoverVideo" data-ng-class="{'tab-content-active': tabContent.header.selected}">
            <div class="tab-content" data-tab-content="tabCoverVideo" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="blocks-constructor-settings-col">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="blocks-constructor-row" ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.inModal != null">
                                <div class="blocks-constructor-row__name">
                                    Расположение кнопки "Смотереть видео"
                                </div>
                                <div class="blocks-constructor-select">

                                    <select data-e2e="SelectLocateVideo" ng-model="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.alignButton" disabled-autobind>
                                        <option value="start-xs">Слева</option>
                                        <option value="center-xs">По центру</option>
                                        <option value="end-xs">Справа</option>
                                    </select>
                                </div>
                            </div>
                            <div class="blocks-constructor-row" ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.autoplayVideo != null">
                                <label class="blocks-constructor-label">
                                    <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.autoplayVideo" />
                                    <span class="blocks-constructor-checkbox"></span>
                                    <span class="blocks-constructor-label-text">
                                        Автовоспроизведение
                                    </span>
                                </label>
                            </div>

                            <div class="blocks-constructor-row">
                                <div class="blocks-constructor-row__name">
                                    Способ вставки видео
                                </div>
                                <div class="blocks-constructor-select">

                                    <select data-e2e="SelectLocateVideo" ng-model="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.insertionMethod" disabled-autobind>
                                        <option value="link">Вставить с внешнего источника</option>
                                        <option value="upload">Загрузить видео</option>
                                    </select>
                                </div>
                            </div>

                            <div class="blocks-constructor-row" ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.insertionMethod === 'link'">
                                <div class="blocks-constructor-row__name">
                                    Введите ссылку на видео
                                </div>
                                <input type="text" data-e2e="UrlVideo" class="blocks-constructor-input" ng-model="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.urlVideo" />
                            </div>
                            <div ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.insertionMethod === 'upload'">
                                <div video-file-uploader
                                     pattern="'video/*'"
                                     settings="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.upload"
                                     upload-url="landingInplace/uploadVideo"
                                     delete-url="landingInplace/deleteVideo"
                                     url-list-video="landingInplace/getVideos"
                                     accept=".mp4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
