<div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic">
    <ul class="tabs-headers row center-xs start-sm">
        <li id="tabCoverFront" class="tabs-header-item col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
            <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                Внешний вид
            </span>
        </li>
        <li id="tabCarouselCover" ng-if="$ctrl.modalData.data.Settings.items != null" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
            <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                Изображения
            </span>
        </li>
    </ul>
    <div class="tabs-content">
        <div class="tab-content" data-tab-content="tabCoverFront" data-ng-class="{'tab-content-active': tabContent.header.selected}">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="blocks-constructor-settings-col">
                        <div ng-include="$ctrl.modalData.generalOptionsTemplateUrl"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="blocks-constructor-settings-col--alt">
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                Затемнение фона
                            </div>
                            <span class="blocks-constructor-slider"
                                  range-slider
                                  pin-handle="min"
                                  decimal-places="1"
                                  min="$ctrl.rangeSlider.min"
                                  max="$ctrl.rangeSlider.max"
                                  model-max="$ctrl.modalData.settings.darken"
                                  step="$ctrl.rangeSlider.step"
                                  show-inputs="false"
                                  show-values="false"
                                  on-handle-move-up="$ctrl.rangeSlider.change(event, modelMin, modelMax)"
                                  data-e2e="SliderShadowImg">
                            </span>

                        </div>
                        <div class="blocks-constructor-row">
                            <button class="blocks-constructor-btn-confirm" data-e2e="convertToHtml" type="button" ng-click="$ctrl.convertToHtmlBlock()">Конвертировать в HTML-блок</button>
                        </div>

                        <div class="blocks-constructor-row">
                            <a href="" data-e2e="copyBlock" ng-click="$ctrl.copyBlock()">Сделать копию блока</a>
                        </div>

                        <div class="blocks-constructor-row">
                            <a href="" data-e2e="UpdatelBlock" ng-click="$ctrl.tryUpdatelBlock()">Обновить блок</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blocks-constructor-table-row-group" ng-include="$ctrl.modalData.buttonOptionsTemplateUrl"></div>
        </div>
        <div ng-if="$ctrl.modalData.data.Settings.items != null" class="tab-content" data-tab-content="tabCarouselCover" data-ng-class="{'tab-content-active': tabContent.header.selected}">
            <div class="row">
                <div class="col-xs-12">
                    <div class="blocks-constructor-settings-col--alt">
                        <lp-grid lp-id="$ctrl.modalData.landingpageId"
                                 block-id="$ctrl.modalData.blockId"
                                 source="$ctrl.modalData.settings.items"
                                 data-e2e="carouselGGrid">
                            <lp-grid-column type="picture" field="background" no-photo="null" classes="'col-xs'" title="Фон"></lp-grid-column>
                            <lp-grid-column type="text" field="title" placeholder="'Заголовок'" classes="'col-xs'" title="Заголовок"></lp-grid-column>
                            <lp-grid-column type="textarea" field="text" placeholder="'Текст'" classes="'col-xs-4'" title="Текст"></lp-grid-column>
                            <lp-grid-column type="checkbox" field="showButton" classes="'col-xs-1'" title="Кнопка"></lp-grid-column>
                            <lp-grid-column type="text" field="textButton" placeholder="'Текст кнопки'" classes="'col-xs'" title="Текст кнопки"></lp-grid-column>
                            <lp-grid-column type="text" field="urlButton" placeholder="'Ссылка'" classes="'col-xs'" title="Ссылка"></lp-grid-column>
                        </lp-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
