<div>
    <div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic" id="photosSortable">
        <ul class="tabs-headers row center-xs start-sm">
            <li id="tabPicturesFront" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Внешний вид
                </span>
            </li>
            <li id="tabPictures" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Изображения
                </span>
            </li>
            <li ng-if="$ctrl.modalData.settings.carouselOptions" id="tabCarousel" class="tabs-header-item  col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Карусель
                </span>
            </li>
            <li ng-if="$ctrl.modalData.settings.button" id="tabPicturesButton" class="tabs-header-item  col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Кнопка 1

                    <svg ng-if="$ctrl.buttonFormSettings.$invalid && $ctrl.buttonFormSettings.$dirty" class="block-constructor-icon-error"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" width="16px" height="16px">
                        <path d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172
                              L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259
                              c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227
                              c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554
                              c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z
                              M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47
                              C281.638,399.11,270.06,411.018,256.498,411.018z" fill="currentColor" />
                    </svg>
                </span>
            </li>
            <li ng-if="$ctrl.modalData.settings.button2" id="tabPicturesButton2" class="tabs-header-item  col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Кнопка 2
                    <svg ng-if="$ctrl.button2FormSettings.$invalid && $ctrl.button2FormSettings.$dirty" class="block-constructor-icon-error"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" width="16px" height="16px">
                        <path d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172
                              L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259
                              c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227
                              c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554
                              c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z
                              M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47
                              C281.638,399.11,270.06,411.018,256.498,411.018z" fill="currentColor" />
                    </svg>
                </span>
            </li>
            <li ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')]" id="tabVideo" class="tabs-header-item  col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Настройка видео
                </span>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="tab-content" data-tab-content="tabPicturesFront" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col">
                            <div ng-include="$ctrl.modalData.generalOptionsTemplateUrl"></div>
                            <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.color_text != null">
                                <div class="blocks-constructor-row__name">
                                    Цвет текста
                                </div>
                                <color-picker data-e2e="color_text"
                                              ng-model="$ctrl.modalData.settings.color_text"
                                              options="$ctrl.colorPickerOptions"
                                              event-api="$ctrl.colorPickerEventApi"></color-picker>
                            </div>
                            <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.background_color_text != null">
                                <div class="blocks-constructor-row__name">
                                    Фона текста
                                </div>
                                <color-picker data-e2e="background_color_text"
                                              ng-model="$ctrl.modalData.settings.background_color_text"
                                              options="$ctrl.colorPickerOptions"
                                              event-api="$ctrl.colorPickerEventApi"></color-picker>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col--alt">
                            <div ng-include="$ctrl.modalData.generalRightOptionsTemplateUrl"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" data-tab-content="tabPictures" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="blocks-constructor-settings-col--alt">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6" ng-if="$ctrl.modalData.settings.block_image_height_params != null">
                            <div class="blocks-constructor-row" data-e2e="ImageBlockHeight">
                                <div class="blocks-constructor-row__name">
                                    <label class="blocks-constructor-label">
                                        Высота блока для картинки
                                    </label>
                                </div>
                                <input class="blocks-constructor-input" data-e2e="HeightImg" type="number" min="1" required ng-model="$ctrl.modalData.settings.block_image_height" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6" ng-if="$ctrl.modalData.settings.images_per_row_params != null">
                            <div class="blocks-constructor-row" data-e2e="ImageBlockCount">
                                <div class="blocks-constructor-row__name">
                                    <label class="blocks-constructor-label">
                                        Число блоков в строке
                                    </label>
                                </div>
                                <input class="blocks-constructor-input" data-e2e="CountImg" type="number" min="1" required ng-model="$ctrl.modalData.settings.images_per_row" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6" ng-if="$ctrl.modalData.settings.align_image != null">
                            <div class="blocks-constructor-row">
                                <div class="blocks-constructor-row__name">
                                    <label class="blocks-constructor-label">
                                        Выравнивание изображения
                                    </label>
                                </div>
                                <div class="blocks-constructor-select">
                                    <select data-e2e="ImageAligment" ng-model="$ctrl.modalData.settings.align_image" disabled-autobind>
                                        <option value="start-xs">По левому краю</option>
                                        <option value="center-xs">По центру</option>
                                        <option value="end-xs">По правому краю</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="photosSortable" class="photos-list" ng-controller="SubBlockGalleryConstructorCtrl as gallery">
                        <div>
                            <div class="flex middle-xs flex-wrap" as-sortable="gallery.sortableOptions" ng-model="$ctrl.modalData.settings.items">
                                <div class="photos-list__item-wrap"
                                     data-ng-repeat="item in $ctrl.modalData.settings.items | blocksConstructorPictureAsObj"
                                     data-as-sortable-item
                                     data-e2e="PhotoImg">
                                    <div class="photos-list__item flex center-xs middle-xs">
                                        <div class="photos-list__item--inner" as-sortable-item-handle ondragstart="return false;">
                                            <div class="photos-list__item-delete" data-e2e="ItemDel">
                                                <span sweetalert sweet-options="{title: 'Вы уверены, что хотите удалить фотографию ?', type: 'warning', showCancelButton: true, }"
                                                      sweet-on-confirm="gallery.delete($ctrl.modalData.landingpageId, $ctrl.modalData.blockId, item.picture.src,
                                                                                                    [{maxWidth: $ctrl.modalData.settings.settings_picture.maxWidthPicture || 390, maxHeight: $ctrl.modalData.settings.settings_picture.maxHeightPicture || 390, postfix: 'preview'}],
                                                                                                    'landinginplace/removepicture',
                                                                                                    $ctrl.modalData.settings.items, $index)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class="photos-list__delete" data-e2e="ImageDel">
                                                        <path fill="#222" fill-rule="evenodd" d="M8.732 8.025l2.768 2.768-.707.707-2.768-2.768L5.257 11.5l-.707-.707 2.768-2.768L4.55 5.257l.707-.707 2.768 2.768 2.768-2.768.707.707-2.768 2.768z" />
                                                    </svg>
                                                </span>
                                            </div>
                                            <picture-loader-trigger data-lp-id="{{$ctrl.modalData.landingpageId}}"
                                                                    data-block-id="{{$ctrl.modalData.blockId}}"
                                                                    data-current="item.picture.src"
                                                                    data-delete-picture="false"
                                                                    parameters="[{maxWidth: $ctrl.modalData.settings.block_image_width || 385,maxHeight: $ctrl.modalData.settings.block_image_height || 385, postfix: 'preview'}]"
                                                                    cropper-params="$ctrl.modalData.settings.settings_picture.cropper_params"
                                                                    gallery-icons-enabled="false"
                                                                    data-max-width-picture="{{:: $ctrl.modalData.settings.settings_picture.maxWidthPicture || $ctrl.pictureMaxSize.smallWidth}}"
                                                                    data-max-height-picture="{{:: $ctrl.modalData.settings.settings_picture.maxHeightPicture || $ctrl.pictureMaxSize.smallHeight}}"
                                                                    on-apply="gallery.onUploadPicture($ctrl.modalData.settings.items, result, $index)"
                                                                    on-lazy-load-change="$ctrl.modalData.settings.items[$index].lazyLoadEnabled = result"
                                                                    lazy-load-enabled="$ctrl.modalData.settings.items[$index].picture.lazyLoadEnabled"
                                                                    picture-show-type="'preview'">
                                                <div class="picture-loader-trigger-image-wrap" picture-loader-element-trigger>
                                                    <span>
                                                        <img data-e2e="PictureImgPreview" ng-src="{{item.picture.preview || item.picture.src || $ctrl.NO_PHOTO_PATH}}">
                                                    </span>
                                                </div>
                                            </picture-loader-trigger>
                                        </div>
                                    </div>
                                </div>
                                <div class="photos-list__item-wrap">
                                    <picture-loader-trigger data-lp-id="{{$ctrl.modalData.landingpageId}}"
                                                            data-block-id="{{$ctrl.modalData.blockId}}"
                                                            data-delete-picture="false"
                                                            cropper-params="$ctrl.modalData.settings.settings_picture.cropper_params"
                                                            gallery-icons-enabled="false"
                                                            parameters="[{maxWidth: $ctrl.modalData.settings.block_image_width || 385 ,maxHeight: $ctrl.modalData.settings.block_image_height || 385, postfix: 'preview'}]"
                                                            data-max-width-picture="{{:: $ctrl.modalData.settings.settings_picture.maxWidthPicture || $ctrl.pictureMaxSize.wallWidth}}"
                                                            data-max-height-picture="{{:: $ctrl.modalData.settings.settings_picture.maxHeightPicture || $ctrl.pictureMaxSize.wallHeight}}"
                                                            on-apply="gallery.onUploadPicture($ctrl.modalData.settings.items, result, $ctrl.modalData.settings.items.length || 0)"
                                                            on-lazy-load-change="$ctrl.modalData.settings.items[$ctrl.modalData.settings.items.length || 0].lazyLoadEnabled = result"
                                                            picture-show-type="'preview'"
                                                            lazy-load-enabled="true">
                                        <div class="photos-list__item photos-list__add flex center-xs middle-xs" no-drag>

                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve" width="10px" height="10px">
                                            <polygon points="42,19 23,19 23,0 19,0 19,19 0,19 0,23 19,23 19,42 23,42 23,23 42,23 " fill="#3797eb" />

                                            </svg>
                                        </div>
                                    </picture-loader-trigger>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.modalData.settings.carouselOptions" class="tab-content" data-tab-content="tabCarousel" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div ng-include="$ctrl.modalData.carouselOptionsTemplateUrl"></div>
            </div>
            <div ng-if="$ctrl.modalData.settings.button" class="tab-content" data-tab-content="tabPicturesButton" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <blocks-constructor-button-settings lp-id="$ctrl.modalData.landingpageId" button-options="$ctrl.modalData.settings.button"
                                                    common-options="$ctrl.modalData.data"
                                                    is-visibility="$ctrl.modalData.settings.show_button"
                                                    form-settings="$ctrl.buttonFormSettings"></blocks-constructor-button-settings>
            </div>
            <div ng-if="$ctrl.modalData.settings.button2" class="tab-content" data-tab-content="tabPicturesButton2" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <blocks-constructor-button-settings lp-id="$ctrl.modalData.landingpageId"
                                                    button-options="$ctrl.modalData.settings.button2"
                                                    common-options="$ctrl.modalData.data"
                                                    form-exclude="true"
                                                    is-visibility="$ctrl.modalData.settings.show_button2"
                                                    form-settings="$ctrl.button2FormSettings"></blocks-constructor-button-settings>
            </div>
            <div ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')]" class="tab-content" data-tab-content="tabVideo" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="tab-content" data-tab-content="tabVideo" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                    <div class="blocks-constructor-settings-col">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="blocks-constructor-row" ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.show_video != null">
                                    <label class="blocks-constructor-label" data-e2e="mobile_hidden">
                                        <input class="blocks-constructor-checkbox-native" type="checkbox" value="mobile" ng-model="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.show_video" />
                                        <span class="blocks-constructor-checkbox"></span>
                                        <span class="blocks-constructor-label-text">
                                            Показывать видео
                                        </span>
                                    </label>
                                </div>

                                <!--<div class="blocks-constructor-row" ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.inModal != null">
                                    <div class="blocks-constructor-row__name">
                                        Расположение кнопки "Смотереть видео"
                                    </div>
                                    <div class="blocks-constructor-select">

                                        <select data-e2e="SelectLocateVideo" ng-model="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.alignButton" disabled-autobind>
                                            <option value="start-xs">Слева</option>
                                            <option value="center-xs">По центру</option>
                                            <option value="end-xs">Справа</option>
                                        </select>
                                    </div>
                                </div>-->

                                <div class="blocks-constructor-row">
                                    <div class="blocks-constructor-row__name">
                                        Введите ссылку на видео
                                    </div>
                                    <input type="text" data-e2e="UrlVideo" class="blocks-constructor-input"
                                           ng-model="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.urlVideo"
                                           ng-required="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('video')].Settings.show_video == true" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
