<div>
    <div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic">
        <ul class="tabs-headers row center-xs start-sm">
            <li id="tabHeaderFront" class="tabs-header-item col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Внешний вид
                </span>
            </li>
            <li id="tabHeaderMenu" class="tabs-header-item col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Пункты меню
                </span>
            </li>
            <li ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('email')] || $ctrl.modalData.settings.vk_enabled != null" id="tabHeaderContact" class="tabs-header-item col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Контакты
                    <svg ng-if="$ctrl.formContacts.$invalid && $ctrl.formContacts.$dirty" class="block-constructor-icon-error"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" width="16px" height="16px">
                        <path d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172
                              L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259
                              c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227
                              c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554
                              c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z
                              M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47
                              C281.638,399.11,270.06,411.018,256.498,411.018z" fill="currentColor" />
                    </svg>
                </span>
            </li>
            <li ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('logo')]" id="tabHeaderAddational" class="tabs-header-item col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Логотип
                </span>
            </li>
            <li ng-if="$ctrl.modalData.settings.button" id="tabHeaderButton" class="tabs-header-item col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Кнопка 1
                    <svg ng-if="$ctrl.buttonFormSettings.$invalid && $ctrl.buttonFormSettings.$dirty" class="block-constructor-icon-error"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" width="16px" height="16px">
                        <path d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172
                              L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259
                              c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227
                              c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554
                              c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z
                              M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47
                              C281.638,399.11,270.06,411.018,256.498,411.018z" fill="currentColor" />
                    </svg>
                </span>
            </li>
            <li ng-if="$ctrl.modalData.settings.button2" id="tabHeaderButton2" class="tabs-header-item col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Кнопка 2
                    <svg ng-if="$ctrl.button2FormSettings.$invalid && $ctrl.button2FormSettings.$dirty" class="block-constructor-icon-error"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" width="16px" height="16px">
                        <path d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172
                              L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259
                              c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227
                              c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554
                              c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z
                              M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47
                              C281.638,399.11,270.06,411.018,256.498,411.018z" fill="currentColor" />
                    </svg>
                </span>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="tab-content" data-tab-content="tabHeaderFront" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col">
                            <div ng-include="$ctrl.modalData.generalOptionsTemplateUrl"></div>
                            <div class="blocks-constructor-row">
                                <label class="blocks-constructor-label" data-e2e="fixedOnScrollMobile">
                                    <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.fixedOnScrollMobile" />
                                    <span class="blocks-constructor-checkbox"></span>
                                    <span class="blocks-constructor-label-text">
                                        Фиксировать при прокрутке в мобильной версии
                                    </span>
                                </label>
                            </div>
                            <div class="blocks-constructor-row">
                                <label class="blocks-constructor-label" data-e2e="fixedOnScroll">
                                    <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.fixedOnScroll" />
                                    <span class="blocks-constructor-checkbox"></span>
                                    <span class="blocks-constructor-label-text">
                                        Фиксировать при прокрутке в десктопной версии
                                    </span>
                                </label>
                            </div>
                            <div class="blocks-constructor-row">
                                <label class="blocks-constructor-label" data-e2e="runDown">
                                    <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.runDown" />
                                    <span class="blocks-constructor-checkbox"></span>
                                    <span class="blocks-constructor-label-text">
                                        Наезжать на соседний блок
                                        <span ng-if="$ctrl.modalData.settings.runDown">
                                            <br /><span>Внимание!</span> В режиме редактирования блок меню не будет наезжать на нижний блок для упрощения процесса редактирования.
                                            Чтобы посмотреть результат, используйте функцию предпросмотра страницы.
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col--alt">
                            <div ng-include="$ctrl.modalData.generalRightOptionsTemplateUrl"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" data-tab-content="tabHeaderMenu" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <block-constructor-menu modal-data="$ctrl.modalData"
                                        menu-data="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('menuHeader')]"
                                        range-options="$ctrl.rangeMenuItemsSpacing"
                                        on-select-block="$ctrl.selectBlock(item, blockSelected)"></block-constructor-menu>
            </div>
            <div ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('email')] || $ctrl.modalData.settings.vk_enabled != null" class="tab-content" data-tab-content="tabHeaderContact" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div ng-form="formContacts" ng-if="tabContent.header.selected === true">
                    <div class="blocks-constructor-settings-col--alt" ng-init="$ctrl.formContacts = formContacts">
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                <label class="blocks-constructor-label" data-e2e="ShowPhone">
                                    <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_phone" />
                                    <span class="blocks-constructor-checkbox"></span>
                                    <span class="blocks-constructor-label-text">
                                        Телефон
                                    </span>
                                </label>
                            </div>
                            <div ng-if="$ctrl.modalData.settings.show_phone">
                                <textarea ckeditor="$ctrl.ckeditorOptionsSlim" ng-model="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('phone')].ContentHtml" rows="2"></textarea>
                                <br />
                                <div class="blocks-constructor-row">
                                    <div class="blocks-constructor-row__name">
                                        Номер телефона для кнопки вызова в мобильной версии
                                        <help-trigger class="ng-cloak" data-title="Телефон в мобильной версии" help-append-to-body="false">
                                            <div class="help-content">
                                                Разрешеные символы: "+" и цифры
                                            </div>
                                        </help-trigger>

                                    </div>
                                    <div>
                                        <input placeholder="Введите номер телефона" data-e2e="PhoneNumber" pattern="\+?\d+" class="blocks-constructor-input" type="tel" ng-model="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('phone_mobile')].ContentHtml" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blocks-constructor-row">
                            <div class="blocks-constructor-row__name">
                                <label class="blocks-constructor-label" data-e2e="ShowEmail">
                                    <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_email" />
                                    <span class="blocks-constructor-checkbox"></span>
                                    <span class="blocks-constructor-label-text">
                                        Email
                                    </span>
                                </label>
                            </div>
                            <textarea ng-if="$ctrl.modalData.settings.show_email" ckeditor="$ctrl.ckeditorOptionsSlim" ng-model="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('email')].ContentHtml" rows="2"></textarea>
                        </div>
                        <div ng-include="$ctrl.modalData.socialTemplateUrl"></div>
                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('logo')]" class="tab-content text-center" data-tab-content="tabHeaderAddational" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="blocks-constructor-settings-col--alt">
                    <div class="blocks-constructor-row">
                        <label class="blocks-constructor-label" data-e2e="ShowLogo">
                            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_logo" />
                            <span class="blocks-constructor-checkbox"></span>
                            <span class="blocks-constructor-label-text">
                                Показывать логотип
                            </span>
                        </label>
                    </div>
                    <div ng-if="$ctrl.modalData.settings.show_logo" data-ng-init="$ctrl.modalData.data.logogeneratorId = 'logo-generator_' + $ctrl.modalData.landingpageId + '_' + $ctrl.modalData.blockId;">
                        <div class="blocks-constructor-row text-center">
                            <div>
                                <logo-generator-preview class="logo-generator-preview modal-logo-generator-preview"
                                                        data-edit-on-page-load="false"
                                                        data-logo-generator-id="{{$ctrl.modalData.data.logogeneratorId}}">
                                    <div ng-class="$ctrl.modalData.settings.color_scheme !== 'color-scheme--custom' ? $ctrl.modalData.settings.color_scheme : null"
                                         ng-style="{'background-color': $ctrl.modalData.settings.color_scheme === 'color-scheme--custom' ? $ctrl.modalData.settings.color_scheme_custom.BackgroundColor : null}">
                                        <img data-e2e="LogoGeneratorPreview" ng-src="{{$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('logo')].Settings.src || 'areas/landing/frontend/images/nophoto.jpg'}}" data-logo-generator-preview-img />
                                    </div>
                                </logo-generator-preview>
                            </div>
                        </div>
                        <div class="blocks-constructor-row">
                            <picture-loader-trigger title="{{ ::'Js.Inplace.UpdatePicture' | translate }}"
                                                    data-lp-id="{{$ctrl.modalData.landingpageId}}"
                                                    data-block-id="{{$ctrl.modalData.blockId}}"
                                                    data-current="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('logo')].Settings.src"
                                                    data-delete-picture="true"
                                                    data-max-width-picture="400"
                                                    data-max-height-picture="200"
                                                    gallery-icons-enabled="false"
                                                    on-apply="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('logo')].Settings.src = result.picture"
                                                    on-delete="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('logo')].Settings.src = null"
                                                    on-lazy-load-change="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('logo')].Settings.lazyLoadEnabled = result"
                                                    lazy-load-enabled="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('logo')].Settings.lazyLoadEnabled || false">
                                <button type="button" data-e2e="BtnLoadLogo" class="blocks-constructor-btn-confirm" picture-loader-element-trigger>
                                    Загрузить логотип
                                </button>
                            </picture-loader-trigger>

                            <logo-generator-trigger class=""
                                                    logo-generator-id="{{$ctrl.modalData.data.logogeneratorId}}"
                                                    url-save="landing/landingInplace/LogoGeneratorProcessPicture"
                                                    logo-generator-params="{lpId:$ctrl.modalData.landingpageId, blockId: $ctrl.modalData.blockId }"
                                                    logo-generator-options="{disableAlign: true}"
                                                    logo-generator-success-fn="$ctrl.modalData.data.Subblocks[$ctrl.getIndexSubblockByName('logo')].Settings.src = src">
                                <button type="button" data-e2e="BtnGenerateLogo" class="blocks-constructor-btn-confirm">
                                    Создать логотип
                                </button>
                            </logo-generator-trigger>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.modalData.settings.button" class="tab-content" data-tab-content="tabHeaderButton" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <blocks-constructor-button-settings lp-id="$ctrl.modalData.landingpageId" button-options="$ctrl.modalData.settings.button"
                                                    common-options="$ctrl.modalData.data"
                                                    is-visibility="$ctrl.modalData.settings.show_button"
                                                    form-settings="$ctrl.buttonFormSettings"></blocks-constructor-button-settings>
            </div>
            <div ng-if="$ctrl.modalData.settings.button2" class="tab-content" data-tab-content="tabHeaderButton2" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <blocks-constructor-button-settings lp-id="$ctrl.modalData.landingpageId" 
                                                    button-options="$ctrl.modalData.settings.button2"
                                                    common-options="$ctrl.modalData.data"
                                                    form-exclude="true"
                                                    is-visibility="$ctrl.modalData.settings.show_button2"
                                                    form-settings="$ctrl.buttonFormSettings"></blocks-constructor-button-settings>

            </div>
        </div>
    </div>
</div>
