<ui-ace-textarea ui-ace-options="{mode: 'html'}" ng-model="$ctrl.modalData.settings.html">
    <textarea id="value" name="value" ng-model="$ctrl.modalData.settings.html" cols="20" rows="2"></textarea>
</ui-ace-textarea>
<div class="blocks-constructor-settings-col--alt">
    <div>
        <label class="blocks-constructor-label" data-e2e="ShowOnAllPage">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_on_all_landing_pages" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text">
                Показывать на всех страницах
            </span>
        </label>
    </div>
</div>