<div>
    <div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic">
        <ul class="tabs-headers row center-xs start-sm">
            <li id="tabTextFront" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Внешний вид
                </span>
            </li>
            <li id="tabTextColumns" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Новости
                </span>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="tab-content" data-tab-content="tabTextFront" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col">
                            <div ng-include="$ctrl.modalData.generalOptionsTemplateUrl"></div>
                            <div class="blocks-constructor-row">
                                <div class="blocks-constructor-row__name">
                                    <label class="blocks-constructor-label" data-e2e="ShowDate">
                                        <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_date" />
                                        <span class="blocks-constructor-checkbox"></span>
                                        <span class="blocks-constructor-label-text">
                                            Показывать дату
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="blocks-constructor-row">
                                <div class="blocks-constructor-row__name">
                                    <label class="blocks-constructor-label" data-e2e="ShowTime">
                                        <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_time" />
                                        <span class="blocks-constructor-checkbox"></span>
                                        <span class="blocks-constructor-label-text">
                                            Показывать время
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.items_in_row !== undefined">
                                <div class="blocks-constructor-row__name">
                                    Кол-во новостей в строке
                                </div>
                                <input class="blocks-constructor-input" data-e2e="CountNews" type="number" min="1" ng-model="$ctrl.modalData.settings.items_in_row" value="" />
                            </div>
                            <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.rows_in_block !== undefined">
                                <div class="blocks-constructor-row__name">
                                    Кол-во строк
                                </div>
                                <input class="blocks-constructor-input" data-e2e="CountRowsNews" min="1" type="number" ng-model="$ctrl.modalData.settings.rows_in_block" value="" />
                            </div>     
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col--alt">
                            <div ng-include="$ctrl.modalData.generalRightOptionsTemplateUrl"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" data-tab-content="tabTextColumns" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="row">
                    <div class="col-xs-12 blocks-constructor-settings-col--alt">
                        <lp-grid lp-id="$ctrl.modalData.landingpageId"
                                 block-id="$ctrl.modalData.blockId"
                                 source="$ctrl.modalData.settings.items"
                                 data-e2e="NewsGrid">
                            <lp-grid-column type="picture" field="picture" classes="'col-xs-1'" title="Картинка"></lp-grid-column>
                            <lp-grid-column type="text" field="title" placeholder="'Введите текст'" classes="'col-xs'" title="Заголовок"></lp-grid-column>
                            <lp-grid-column type="text" field="url" placeholder="'Введите URL'" classes="'col-xs'" title="URL"></lp-grid-column>
                            <lp-grid-column type="datetime" field="date" placeholder="'Введите дату'" classes="'col-xs-2'" title="Дата"></lp-grid-column>
                            <lp-grid-column type="ckeditorModal" field="annotation" classes="'col-xs'" title="Аннотация"></lp-grid-column>
                            <lp-grid-column type="ckeditorModal" field="text" classes="'col-xs'" title="Текст"></lp-grid-column>
                        </lp-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>