<div>
    <div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic">
        <ul class="tabs-headers row center-xs start-sm">
            <li id="tabPersonalAccountFront" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Внешний вид
                </span>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="tab-content" data-tab-content="tabPersonalAccountFront" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col">
                            <div ng-include="$ctrl.modalData.generalOptionsTemplateUrl"></div>
                            <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.columnBackground !== undefined">
                                <div class="blocks-constructor-row">
                                    <label class="blocks-constructor-label">
                                        <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.columnBackground">
                                        <span class="blocks-constructor-checkbox"></span>
                                        <span class="blocks-constructor-label-text">
                                            Включить альтернативный фон для колонок
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.align_block != null">
                                <div class="blocks-constructor-row__name">
                                    <label class="blocks-constructor-label">
                                        Вертикальное выравнивание блока
                                    </label>
                                </div>
                                <div class="blocks-constructor-select">
                                    <select data-e2e="ImageAligment" ng-model="$ctrl.modalData.settings.align_block" disabled-autobind>
                                        <option value="top-xs">По верху</option>
                                        <option value="middle-xs">По середине</option>
                                        <option value="bottom-xs">По низу</option>
                                    </select>
                                </div>
                            </div>
                            <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.background_color_alt != null">
                                <div class="blocks-constructor-row__name">
                                    Альтернативный фон
                                </div>
                                <color-picker data-e2e="backgroundColor" ng-model="$ctrl.modalData.settings.background_color_alt"
                                              options="$ctrl.colorPickerOptions"
                                              event-api="$ctrl.colorPickerEventApi"></color-picker>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col--alt">
                            <div ng-include="$ctrl.modalData.generalRightOptionsTemplateUrl"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>