<div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic" id="photosSortable" ng-controller="SubBlockProductsViewCtrl as product">
    <ul class="tabs-headers row center-xs start-sm">
        <li id="tabCoverFront" class="tabs-header-item col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
            <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                Внешний вид
            </span>
        </li>
        <li id="tabProducts" class="tabs-header-item col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
            <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                Товары
            </span>
        </li>
    </ul>
    <div class="tabs-content">
        <div class="tab-content" data-tab-content="tabCoverFront" data-ng-class="{'tab-content-active': tabContent.header.selected}">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="blocks-constructor-settings-col">
                        <div ng-include="$ctrl.modalData.generalOptionsTemplateUrl"></div>
                        <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.show_video != null">
                            <label class="blocks-constructor-label" data-e2e="ShowPrice">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_video" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Отображать видео
                                </span>
                            </label>
                        </div>
                        <div class="blocks-constructor-row">
                            <label class="blocks-constructor-label" data-e2e="ShowPrice">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_price" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Отображать цену
                                </span>
                            </label>
                        </div>
                        <div class="blocks-constructor-row">
                            <label class="blocks-constructor-label" data-e2e="ShowBuyBtn">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_buybutton" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Отображать кнопку "Купить"
                                </span>
                            </label>
                        </div>
                        <div class="blocks-constructor-row">
                            <label class="blocks-constructor-label" data-e2e="HideShipping">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.hide_shipping" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Скрывать доставку на оформлении заказа
                                </span>
                            </label>
                        </div>
                        <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.show_description != null">
                            <label class="blocks-constructor-label" data-e2e="ShowDescription">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_description" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Отображать краткое описание
                                </span>
                            </label>
                        </div>
                        <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.show_availibility != null">
                            <label class="blocks-constructor-label">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_availibility" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Отображать наличие товара
                                </span>
                            </label>
                        </div>

                        <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.show_only_available != null">
                            <label class="blocks-constructor-label">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_only_available" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Показывать только товары в наличии
                                </span>
                            </label>
                        </div>
                        <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.move_not_avaliable_to_end != null">
                            <label class="blocks-constructor-label">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.move_not_avaliable_to_end" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Товары не в наличии перемещать в конец списка
                                </span>
                            </label>
                        </div>


                        <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.hide_photo != null">
                            <label class="blocks-constructor-label" data-e2e="HidePhoto">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.hide_photo" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Скрывать фотографии
                                </span>
                            </label>
                        </div>
                        <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.quickview != null">
                            <label class="blocks-constructor-label" data-e2e="OnQuickView">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.quickview" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Включить быстрый просмотр
                                </span>
                            </label>
                        </div>

                        <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.quickview != null && $ctrl.modalData.settings.quickview">
                            <div class="blocks-constructor-row__name">Описание товара в быстром просмотре</div>
                            <div>
                                <div class="blocks-constructor-select">
                                    <select ng-model="$ctrl.modalData.settings.quickview_description"
                                            ng-options="item.value as item.name for item in $ctrl.modalData.settings.descriptionOptions"></select>
                                </div>
                            </div>
                        </div>

                        <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.show_reverse != null">
                            <label class="blocks-constructor-label" data-e2e="ShowReverse">
                                <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_reverse" />
                                <span class="blocks-constructor-checkbox"></span>
                                <span class="blocks-constructor-label-text">
                                    Отобразить блок справа налево
                                </span>
                            </label>
                        </div>

                        <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.number_products_in_row !== undefined">
                            <div class="blocks-constructor-row__name">
                                Товаров в строке
                            </div>
                            <input class="blocks-constructor-input" data-e2e="CountProductInRow" type="number" ng-model="$ctrl.modalData.settings.number_products_in_row" />
                        </div>
                        <div class="blocks-constructor-row" ng-init="$ctrl.modalData.settings.button.text = $ctrl.modalData.settings.button != null ? $ctrl.modalData.settings.button.text : 'Купить'">
                            <div class="blocks-constructor-row__name">
                                Текст кнопки
                            </div>
                            <input class="blocks-constructor-input" data-e2e="ButtonText" type="text" ng-model="$ctrl.modalData.settings.button.text" />
                        </div>

                        <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.button.discount != null">
                            <div class="blocks-constructor-row__name">
                                Скидка
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <input class="blocks-constructor-input" data-e2e="Discount" type="number" ng-model="$ctrl.modalData.settings.button.discount.amount" />
                                </div>
                                <div class="col-xs">
                                    <a href=""
                                       ng-click="$ctrl.modalData.settings.button.discount.type = 'Percent'"
                                       ng-class="{'selected': $ctrl.modalData.settings.button.discount.type != 'Amount'}"
                                       class="lp-blocks-constructor-splitbutton lp-blocks-constructor-splitbutton-left">%</a><a href=""
                                                                                                                                ng-click="$ctrl.modalData.settings.button.discount.type = 'Amount'"
                                                                                                                                ng-class="{'selected': $ctrl.modalData.settings.button.discount.type == 'Amount'}"
                                                                                                                                class="lp-blocks-constructor-splitbutton lp-blocks-constructor-splitbutton-right">руб</a>
                                </div>
                            </div>
                        </div>

                        <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.hover_animation != null">
                            <div class="blocks-constructor-row__name">Эффекты при наведении на фотографию</div>
                            <div>
                                <div class="blocks-constructor-select">
                                    <select ng-model="$ctrl.modalData.settings.hover_animation"
                                            ng-options="item.value as item.name for item in $ctrl.modalData.settings.hover_animation_options"></select>
                                </div>
                            </div>
                        </div>

                        <div class="blocks-constructor-row">
                            <block-constructor-upsell value="$ctrl.modalData.settings.button.action_upsell_lp_id" items="$ctrl.modalData.data.Landings"></block-constructor-upsell>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="blocks-constructor-settings-col--alt">
                        <div ng-include="$ctrl.modalData.generalRightOptionsTemplateUrl"></div>
                    </div>
                </div>
            </div>
            <div class="blocks-constructor-table-row-group" ng-include="$ctrl.modalData.buttonOptionsTemplateUrl"></div>
        </div>
        <div class="tab-content" data-tab-content="tabProducts" data-ng-class="{'tab-content-active': tabContent.header.selected}">
            <div class="blocks-constructor-settings-col">

                <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.background_product_darken != null">
                    <div class="blocks-constructor-row__name">
                        Затемнение фона товара
                    </div>
                    <span class="blocks-constructor-slider"
                          range-slider
                          pin-handle="min"
                          decimal-places="1"
                          min="$ctrl.rangeSliderProductDarken.min"
                          max="$ctrl.rangeSliderProductDarken.max"
                          model-max="$ctrl.modalData.settings.background_product_darken"
                          step="$ctrl.rangeSliderProductDarken.step"
                          show-inputs="false"
                          show-values="false"
                          on-handle-move-up="$ctrl.rangeSliderProductDarken.change(event, modelMin, modelMax)"></span>

                </div>

                <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.min_height_product !== undefined">
                    <div class="blocks-constructor-row__name">
                        Минимальная высота товара
                    </div>
                    <input class="blocks-constructor-input" type="number" ng-model="$ctrl.modalData.settings.min_height_product" />
                </div>

                <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.align_content_product != null">
                    <div class="blocks-constructor-row__name">
                        <label class="blocks-constructor-label">
                            Расположение контента
                        </label>
                    </div>
                    <div class="blocks-constructor-select">
                        <select data-e2e="ImageAligment" ng-model="$ctrl.modalData.settings.align_content_product" disabled-autobind>
                            <option value="top-xs">Вверху</option>
                            <option value="middle-xs">В середине</option>
                            <option value="bottom-xs">Внизу</option>
                        </select>
                    </div>
                </div>
                <div class="photos-list"
                     ng-init="product.itemsSelected = $ctrl.modalData.settings.product_ids;$ctrl.modalData.addCallback(product.onApplySettings);product.getProductsByIds($ctrl.modalData.settings.product_ids);">
                    <div>
                        <div class="flex top-xs flex-wrap" 
                             as-sortable="product.sortableOptions" 
                             ng-model="product.products">
                            <div class="photos-list__item-wrap"
                                 data-ng-repeat="item in product.products"
                                 data-as-sortable-item
                                 data-e2e="PhotoImg">
                                <div as-sortable-item-handle 
                                     ondragstart="return false;">
                                    <div class="photos-list__item photos-list__item--m-b flex flex-column center-xs middle-xs">
                                        <div class="photos-list__item--inner">
                                            <div class="photos-list__item-delete" 
                                                 data-e2e="ItemDel">
                                                <span sweetalert 
                                                      sweet-options="{title: 'Вы уверены, что хотите удалить товар ?', type: 'warning', showCancelButton: true, showCancelButton: true, }"
                                                      sweet-on-confirm="product.deleteProduct(item.ProductId, $ctrl)">
                                                    <svg width="16" 
                                                         height="16" 
                                                         viewBox="0 0 16 16" 
                                                         class="photos-list__delete">
                                                        <path fill="#222" 
                                                              fill-rule="evenodd" 
                                                              d="M8.732 8.025l2.768 2.768-.707.707-2.768-2.768L5.257 11.5l-.707-.707 2.768-2.768L4.55 5.257l.707-.707 2.768 2.768 2.768-2.768.707.707-2.768 2.768z" />
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="picture-loader-trigger-image-wrap">
                                                <span>
                                                    <img ng-src="{{item.PhotoSmall || $ctrl.NO_PHOTO_PATH}}">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="photos-list__item-overlay">

                                        </div>
                                    </div>
                                    <div ng-bind="item.Name" 
                                         class="photos-list__item-name">
                                    </div>
                                    <div ng-if="!item.Enabled" 
                                         class="photos-list__item-name">
                                        <span class="danger" 
                                              data-e2e="EnabledProduct">Не активен</span>
                                    </div>
                                </div>
                            </div>
                            <div class="photos-list__item-wrap">
                                <div class="photos-list__item photos-list__add flex center-xs middle-xs" 
                                     data-e2e="AddProduct" 
                                     no-drag 
                                     ng-click="product.openProductsModal($ctrl.modalData)">
                                    <svg viewBox="0 0 42 42" 
                                         width="10px" 
                                         height="10px">
                                        <polygon points="42,19 23,19 23,0 19,0 19,19 0,19 0,23 19,23 19,42 23,42 23,23 42,23 " fill="#3797eb" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
