<div>
    <div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic">
        <ul class="tabs-headers row center-xs start-sm">
            <li id="tabProgressbarFront" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Внешний вид
                </span>
            </li>
            <li id="tabProgressbarData" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Строка прогресса
                </span>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="tab-content" data-tab-content="tabProgressbarFront" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="blocks-constructor-settings-col">
                                <div ng-include="$ctrl.modalData.generalOptionsTemplateUrl"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="blocks-constructor-settings-col--alt">
                                <div ng-include="$ctrl.modalData.generalRightOptionsTemplateUrl"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" data-tab-content="tabProgressbarData" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div style="min-height: 260px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="blocks-constructor-settings-col--alt">
                                <div class="blocks-constructor-row">
                                    <div class="blocks-constructor-row__name">
                                        Фон строки
                                    </div>
                                    <color-picker data-e2e="BackgroundColor"
                                                  ng-model="$ctrl.modalData.settings.background_color_passed"
                                                  options="$ctrl.colorPickerOptions"
                                                  event-api="$ctrl.colorPickerEventApi"></color-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="blocks-constructor-settings-col--alt">
                                <div class="blocks-constructor-row">
                                    <div class="blocks-constructor-row__name">
                                        Значение пройденного пути, в %
                                    </div>
                                    <input type="number" data-e2e="PercentPassed" class="blocks-constructor-input" ng-model="$ctrl.modalData.settings.percent_passed" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
