<div class="blocks-constructor-settings-col--alt">
    <div class="row blocks-constructor-row">
        <div class="col-xs--12 col-sm-6">
            <div class="blocks-constructor-row__name">
                ID блоков через запятую, которые будут показываться
            </div>
            <input class="blocks-constructor-input" data-e2e="blockId" type="text" ng-model="$ctrl.modalData.settings.blockId"/>
        </div>
    </div>
    <div class="row m-t" ng-if="$ctrl.modalData.settings.blockIdItems != null">
        <div class="col-xs-12">
            <div ng-repeat="item in $ctrl.modalData.settings.blockIdItems" class="m-b-xs">
                <div ng-bind-html="item"></div>
            </div>
        </div>
    </div>
</div>
