<div>
    <div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic">
        <ul class="tabs-headers row center-xs start-sm">
            <li id="tabCoverFront" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Внешний вид
                </span>
            </li>

            <li id="reviews" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Отзывы
                </span>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="tab-content" data-tab-content="tabCoverFront" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="blocks-constructor-settings-col">
                                <div ng-include="$ctrl.modalData.generalOptionsTemplateUrl"></div>
                                <div class="blocks-constructor-row">
                                    <div class="blocks-constructor-row__name">
                                        <label class="blocks-constructor-label" data-e2e="ShowRating">
                                            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_rating" />
                                            <span class="blocks-constructor-checkbox"></span>
                                            <span class="blocks-constructor-label-text">
                                                Показывать рейтинг
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="blocks-constructor-row">
                                    <div class="blocks-constructor-row__name">
                                        <label class="blocks-constructor-label" data-e2e="ShowTime">
                                            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_time" />
                                            <span class="blocks-constructor-checkbox"></span>
                                            <span class="blocks-constructor-label-text">
                                                Показывать время
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="blocks-constructor-row">
                                    <div class="blocks-constructor-row__name">
                                        <label class="blocks-constructor-label" data-e2e="ShowRewiew">
                                            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.show_without_premoderate" />
                                            <span class="blocks-constructor-checkbox"></span>
                                            <span class="blocks-constructor-label-text">
                                                Показывать отзыв без премодерации
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="blocks-constructor-row">
                                    <div class="blocks-constructor-row__name">
                                        Кол-во отзывов на странице
                                    </div>
                                    <input class="blocks-constructor-input" data-e2e="CountRewiews" type="number" ng-model="$ctrl.modalData.settings.items_per_page" value="" />
                                </div>
                                <div class="blocks-constructor-row">
                                    <div class="blocks-constructor-row__name">
                                        Email, на который будут приходить уведомления о новых отзывах
                                    </div>
                                    <input class="blocks-constructor-input" data-e2e="AdminEmail" type="text" ng-model="$ctrl.modalData.settings.admin_email" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="blocks-constructor-settings-col--alt">
                                <div ng-include="$ctrl.modalData.generalRightOptionsTemplateUrl"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content" data-tab-content="reviews" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="blocks-constructor-settings-col--alt">
                            <lp-grid lp-id="$ctrl.modalData.landingpageId"
                                     block-id="$ctrl.modalData.blockId"
                                     source="$ctrl.modalData.settings.items"
                                     on-before-add-new-element="$ctrl.onBeforeAddNewElementReviewsByUser(entity)"
                                     data-e2e="RewiewsGrid">
                                <lp-grid-column type="text" field="Name" placeholder="'Введите имя'" classes="'col-xs-5 col-md'" title="Имя"></lp-grid-column>
                                <lp-grid-column type="text" field="Email" placeholder="'Введите email'" classes="'col-xs-5 col-md'" title="Email"></lp-grid-column>
                                <lp-grid-column type="select" valid-required="true" select-data="[{label:1, value: 1},{label:2, value: 2},{label:3, value: 3},{label:4, value: 4},{label:5, value: 5}]" 
                                                select-label="label" select-value="value" field="Rating" classes="'col-xs-2'" title="Рейтинг"></lp-grid-column>
                                <lp-grid-column type="datetime" field="Date" placeholder="'Введите дату'" classes="'col-xs-9 col-md'" title="Дата"></lp-grid-column>
                                <lp-grid-column type="checkbox" field="Enabled" classes="'col-xs-1'" title="Показывать"></lp-grid-column>
                                <lp-grid-column type="textarea" field="Text" placeholder="'Введите текст отзыва'" classes="'col-xs-12 col-sm-4 col-md'" title="Текст отзыва"></lp-grid-column>

                                <script type="text/ng-template" id="test" lp-add-group-grid>
                                    <div class="lp-grid__sub">
                                        <lp-grid lp-id="$ctrl.modalData.landingpageId"
                                                 show-header="false"
                                                 block-id="$ctrl.modalData.blockId"
                                                 source="lpGridRow.entity.Childs"
                                                 on-before-add-new-element="$ctrl.onBeforeAddNewElementReviewsByUser(entity)"
                                                 data-e2e="SubRewiewsGrid">
                                            <lp-grid-column type="text" field="Name" placeholder="'Введите имя'" classes="'col-xs'" title="Имя"></lp-grid-column>
                                            <lp-grid-column type="text" field="Email" placeholder="'Введите email'" classes="'col-xs'" title="Email"></lp-grid-column>
                                            <lp-grid-column type="select" valid-required="true" select-data="[{label:1, value: 1},{label:2, value: 2},{label:3, value: 3},{label:4, value: 4},{label:5, value: 5}]" 
                                                            select-label="label" select-value="value" field="Rating" classes="'col-xs-2'" title="Рейтинг"></lp-grid-column>
                                            <lp-grid-column type="datetime" field="Date" placeholder="'Введите дату'" classes="'col-xs'" title="Дата"></lp-grid-column>
                                            <lp-grid-column type="checkbox" field="Enabled" classes="'col-xs-1'" title="Показывать"></lp-grid-column>
                                            <lp-grid-column type="textarea" field="Text" placeholder="'Введите текст отзыва'" classes="'col-xs-12 col-sm-4 col-md'" title="Текст ответа"></lp-grid-column>
                                        </lp-grid>
                                    </div>
                                </script>

                            </lp-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

