<div>
    <div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic">
        <ul class="tabs-headers row center-xs start-sm">
            <li id="tabCoverFront" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Внешний вид
                </span>
            </li>

            <li id="reviews" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Отзывы
                </span>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="tab-content" data-tab-content="tabCoverFront" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="blocks-constructor-settings-col">
                                <div ng-include="$ctrl.modalData.generalOptionsTemplateUrl"></div>
                                <div ng-include="$ctrl.modalData.buttonOptionsTemplateUrl"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="blocks-constructor-settings-col--alt">
                                <div ng-include="$ctrl.modalData.generalRightOptionsTemplateUrl"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="tab-content" data-tab-content="reviews" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="blocks-constructor-settings-col--alt">
                            <lp-grid lp-id="$ctrl.modalData.landingpageId"
                                     block-id="$ctrl.modalData.blockId"
                                     source="$ctrl.modalData.settings.items"
                                     data-e2e="RewiewsGrid">
                                <lp-grid-column ng-if="$ctrl.modalData.settings.settings_picture != null" type="picture" field="picture" settings-picture="$ctrl.modalData.settings.settings_picture" classes="'col-xs'" title="Фотография"></lp-grid-column>
                                <lp-grid-column type="text" field="author" placeholder="'Введите автора'" classes="'col-xs'" title="Автор"></lp-grid-column>
                                <lp-grid-column type="select" valid-required="true" select-data="[{label:1, value: 1},{label:2, value: 2},{label:3, value: 3},{label:4, value: 4},{label:5, value: 5}]"
                                                select-label="label" select-value="value" field="rating" classes="'col-xs-2'" title="Рейтинг"></lp-grid-column>
                                <lp-grid-column type="textarea" field="text" placeholder="'Введите текст отзыва'" classes="'col-xs-5'" title="Текст"></lp-grid-column>
                            </lp-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

