<div>
    <div data-tabs class="tabs tabs-horizontal tabs-lp--minimalistic">
        <ul class="tabs-headers row center-xs start-sm">
            <li id="tabServiceFront" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Внешний вид
                </span>
            </li>
            <li id="tabServiceItems" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Услуги
                </span>
            </li>
            <li ng-if="$ctrl.modalData.settings.button" id="tabServiceButton" class="tabs-header-item tabs-lp__header-item--minimalistic-slim col-xs-12 col-sm-slim" data-tab-header="" data-ng-class="{'tabs-header-active block-constructor-settings-link' : tabHeader.selected}">
                <span class="tabs-header-item-link" data-ng-click="tabs.change(tabHeader)" data-ng-class="{'link-dotted-invert' : !tabHeader.selected, 'cs-l-2 link-dotted-invert link-dotted-none' : tabHeader.selected}">
                    Кнопка 1
                    <svg ng-if="$ctrl.buttonFormSettings.$invalid && $ctrl.buttonFormSettings.$dirty" class="block-constructor-icon-error"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" width="16px" height="16px">
                        <path d="M507.494,426.066L282.864,53.537c-5.677-9.415-15.87-15.172-26.865-15.172c-10.995,0-21.188,5.756-26.865,15.172
                              L4.506,426.066c-5.842,9.689-6.015,21.774-0.451,31.625c5.564,9.852,16.001,15.944,27.315,15.944h449.259
                              c11.314,0,21.751-6.093,27.315-15.944C513.508,447.839,513.336,435.755,507.494,426.066z M256.167,167.227
                              c12.901,0,23.817,7.278,23.817,20.178c0,39.363-4.631,95.929-4.631,135.292c0,10.255-11.247,14.554-19.186,14.554
                              c-10.584,0-19.516-4.3-19.516-14.554c0-39.363-4.63-95.929-4.63-135.292C232.021,174.505,242.605,167.227,256.167,167.227z
                              M256.498,411.018c-14.554,0-25.471-11.908-25.471-25.47c0-13.893,10.916-25.47,25.471-25.47c13.562,0,25.14,11.577,25.14,25.47
                              C281.638,399.11,270.06,411.018,256.498,411.018z" fill="currentColor" />
                    </svg>
                </span>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="tab-content" data-tab-content="tabServiceFront" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col">
                            <div ng-include="$ctrl.modalData.generalOptionsTemplateUrl"></div>
                            <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.columnBackground !== undefined">
                                <div class="blocks-constructor-row">
                                    <label class="blocks-constructor-label">
                                        <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.columnBackground">
                                        <span class="blocks-constructor-checkbox"></span>
                                        <span class="blocks-constructor-label-text">
                                            Включить альтернативный фон для колонок
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.items_in_row !== undefined">
                                <div class="blocks-constructor-row__name">
                                    Кол-во элементов в строке
                                </div>
                                <input class="blocks-constructor-input" type="number" min="1" ng-model="$ctrl.modalData.settings.items_in_row" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="blocks-constructor-settings-col--alt">
                            <div ng-include="$ctrl.modalData.generalRightOptionsTemplateUrl"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" data-tab-content="tabServiceItems" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="blocks-constructor-settings-col--alt">
                            <lp-grid lp-id="$ctrl.modalData.landingpageId"
                                     block-id="$ctrl.modalData.blockId"
                                     source="$ctrl.modalData.settings.items"
                                     data-e2e="ServicesGrid">
                                <lp-grid-column type="picture" field="picture" classes="'col-xs-1'" ng-if="$ctrl.modalData.settings.gridColumns.picture === true" title="Фото" settings-picture="$ctrl.modalData.settings.settings_picture"></lp-grid-column>
                                <lp-grid-column type="text" field="header" placeholder="'Введите заголовок'" ng-if="$ctrl.modalData.settings.gridColumns.header === true" classes="'col-xs-3'" title="Заголовок"></lp-grid-column>
                                <lp-grid-column type="text" field="price" placeholder="'Введите цену'" ng-if="$ctrl.modalData.settings.gridColumns.price === true" classes="'col-xs-2'" title="Цена"></lp-grid-column>
                                <lp-grid-column type="checkbox" field="show_price" placeholder="'Показывать цену'" ng-if="$ctrl.modalData.settings.gridColumns.show_price === true" classes="'col-xs-1'" title="Отоб. цену"></lp-grid-column>
                                <lp-grid-column type="textarea" field="text" placeholder="'Введите текст'" ng-if="$ctrl.modalData.settings.gridColumns.text === true" classes="'col-xs'" title="Текст"></lp-grid-column>
                                <lp-grid-column type="template" title="Кнопка" classes="'col-xs-2'"  ng-if="$ctrl.modalData.settings.gridColumns.button === true">
                                    <blocks-constructor-button-settings-modal-trigger class="link-service"
                                                                                      lp-id="$ctrl.modalData.landingpageId"
                                                                                      common-options="$ctrl.modalData.data"
                                                                                      button-options="lpGridRow.entity.button"
                                                                                      hide-form-settings="'true'"
                                                                                      is-visibility="lpGridRow.entity.button.show_button"
                                                                                      on-apply="lpGridRow.entity.button = result.buttonOptions; lpGridRow.entity.button.show_button = result.isVisibility;">
                                        Настроить
                                    </blocks-constructor-button-settings-modal-trigger>
                                </lp-grid-column>
                            </lp-grid>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.modalData.settings.button" class="tab-content" data-tab-content="tabServiceButton" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                <blocks-constructor-button-settings lp-id="$ctrl.modalData.landingpageId"
                                                    button-options="$ctrl.modalData.settings.button"
                                                    link-exclude="true"
                                                    payment-exclude="true"
                                                    common-options="$ctrl.modalData.data"
                                                    is-visibility="$ctrl.modalData.settings.show_button"
                                                    form-settings="$ctrl.buttonFormSettings"></blocks-constructor-button-settings>
            </div>
        </div>
    </div>
</div>
