@using AdvantShop.Core.Services.Admin
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    if (AdminAreaTemplate.Current != null)
    {
        Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/Shared/_Layout.cshtml";
    }
    else if (Request.RawUrl.Contains("settingscrm"))
    {
        Layout = "~/Areas/Admin/Views/Leads/_CrmLayout.cshtml";
        ViewBag.NavMenu = "settings";
    }
    else if (Request.RawUrl.Contains("settingstasks"))
    {
        Layout = "~/Areas/Admin/Views/Tasks/_TasksLayout.cshtml";
    }
    else if (Request.RawUrl.Contains("settingspartners"))
    {
        Layout = "~/Areas/Admin/Views/Partners/_PartnersLayout.cshtml";
    }

    var isAdminv3 = AdminAreaTemplate.Current == "adminv3";
}
<div class="wrapper">
    <div class="row">
        @if (!isAdminv3)
        {
            <div class="col-xs-2">
                @Html.Partial("~/Areas/Admin/Views/Settings/_SettingsLayoutLeftMenu.cshtml")
            </div>
        }
        <div class="col-xs-@(isAdminv3 ? "12" : "10")">
            <div class="ibox">
                <div class="ibox-content settings-block b-n">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>