<div ng-if="$ctrl.hide">
    <a href="" ng-click="$ctrl.showHistory = !$ctrl.showHistory" class="link-invert">{{'Admin.Js.ChangeHistory.ChangeHistory'|translate}}</a>
</div>
<div ng-if="$ctrl.showHistory || !$ctrl.hide" class="m-t">
    <ui-grid-custom grid-unique-id="gridChangeHistory"
                    grid-filter-enabled="false"
                    grid-selection-enabled="false"
                    grid-params="{objId: $ctrl.objId, type: ($ctrl.objType != null ? $ctrl.objType : $ctrl.type)}"
                    grid-options="$ctrl.gridOptions"
                    grid-url="'adminComments/getChangeHistory'"
                    grid-extend-ctrl="$ctrl">
    </ui-grid-custom><!--grid-pagination-enabled="false"-->
</div>