<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">{{'Admin.Js.Tasks.ChangeTaskGroup.ChangeTheGroupOfTasks'|translate}}</h2>
</div>
<div class="modal-body">
    <div class="form-group">
        <select ng-model="ctrl.selectedGroup" ng-options="s.label for s in ctrl.groups track by s.value" class="form-control"></select>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.changeGroup()">{{'Admin.Js.Tasks.ChangeTaskGroup.Edit'|translate}}</button>
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.Tasks.ChangeTaskGroup.Cancel'|translate}}</button>
</div>