<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">Воронка продаж</h2>
</div>
<div class="modal-body">
    <div>
        <div data-js-tree
             data-tree-ajax="product/getSalesFunnelsList"
             data-tree-core="" 
             data-tree-events="select_node:ctrl.selectItem"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.choose()" ng-disabled="ctrl.btnChangeDisabled">{{'Admin.Js.AddCategory.Select'|translate}}</button>
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddCategory.Cancel'|translate}}</button>
</div>