@model AdvantShop.Web.Admin.ViewModels.Booking.Category.CategoriesModel

@{
    Layout = "~/Areas/Admin/Views/Booking/_BookingLayout.cshtml";
}


@*<div class="sticky-page-name" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main">
            <h1 class="page-name-block-text sticky-page-name-text inline m-r-xs bottom-cell">
                @T("Admin.Booking.Index.Categories")
            </h1>
            @Html.HiddenFor(model => model.SelectedAffiliate.Id, new { ng_model = "bookingCategories.affiliateId" })
        </div>
    </div>
</div>*@


<h2 class="content-page__subtitle">
    @T("Admin.Booking.Index.Categories")
</h2>
@Html.HiddenFor(model => model.SelectedAffiliate.Id, new { ng_model = "bookingCategories.affiliateId" })

<div>
    <div class="ibox">
        <div class="ibox-content no-top-border">
            <list-booking-categories data-affiliate-id="bookingCategories.affiliateId"></list-booking-categories>
        </div>
    </div>
</div>