<form name="formAddEditSalesFunnel" novalidate ng-submit="formAddEditSalesFunnel.$valid ? ctrl.saveItem(ctrl.Item) : null">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{ctrl.mode === 'edit' ? ('Admin.Js.SettingsCrm.EditSalesFunnel'|translate) : ('Admin.Js.SettingsCrm.NewSalesFunnel'|translate)}}</h2>
    </div>
    <div class="modal-body">
        <div class="tabs-container tabs-default m-b">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-common">Основное</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-leadFields">Дополнительные поля лида</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-common" class="tab-pane active">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-xs-3 control-label">
                                    <span class="text-required">{{'Admin.Js.SettingsCrm.Name'|translate}}</span>
                                </label>
                                <div class="col-xs-9">
                                    <!--ng-change="ctrl.saveItem(ctrl.Item)" ng-model-options="{ updateOn: 'blur' }" -->
                                    <input type="text" class="form-control" ng-model="ctrl.Item.Name" required autofocus
                                           validation-input-text="{{'Admin.Js.SettingsCrm.Name'|translate}}" data-e2e="salesFunnelName" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    {{'Admin.Js.SettingsCrm.StagesOfTransaction'|translate}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    <deal-statuses sales-funnel-id="ctrl.id" items="ctrl.dealStatuses" system-items="ctrl.systemDealStatuses"></deal-statuses>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-3 control-label">
                                    Действие при успешном закрытии лида
                                </label>
                                <div class="col-xs-9">
                                    <!--ng-change="ctrl.saveItem(ctrl.Item)"-->
                                    <select ng-model="ctrl.Item.FinalSuccessAction" ng-options="x.value as x.label for x in ctrl.Item.FinalSuccessActions"
                                            data-e2e="salesFunnelFinalSuccessAction" class="form-control" convert-to-number></select>
                                </div>
                            </div>
                            <div>
                                <div class="row" ng-class="{'form-group': ctrl.Item.LeadAutoCompleteActionType != 1 && ctrl.Item.LeadAutoCompleteActionType != 2}">
                                    <label class="col-xs-3 control-label">
                                        Автоматически завершать лид
                                    </label>
                                    <div class="col-xs-9">
                                        <select ng-model="ctrl.Item.LeadAutoCompleteActionType" ng-options="x.value as x.label for x in ctrl.Item.LeadAutoCompleteActionTypes"
                                                data-e2e="salesFunnelLeadAutoCompleteActionType" class="form-control" convert-to-number></select>
                                    </div>
                                </div>
                                <div class="form-group row" ng-if="ctrl.Item.LeadAutoCompleteActionType == 1 || ctrl.Item.LeadAutoCompleteActionType == 2">
                                    <div class="col-xs-4 col-xs-offset-3">
                                        <div>
                                            Заказ должен содержать все следующие товары
                                        </div>
                                        <div ng-repeat="item in ctrl.Item.LeadAutoCompleteProducts track by $index" class="m-b-xs">
                                            <a href="product/edit/{{item.value}}" target="_blank">{{item.label}}</a>
                                            <a ng-click="ctrl.deleteLeadAutoCompleteProduct($index)" href="" class="fa fa-times link-invert link-decoration-none p-l-xs"></a>
                                        </div>
                                        <div>
                                            <ui-modal-trigger data-controller="'ModalProductsSelectvizrCtrl'" controller-as="ctrl" size="xs-11"
                                                              template-url="../areas/admin/content/src/_shared/modal/products-selectvizr/productsSelectvizrModal.html"
                                                              data-resolve="{'value': { 'itemsSelected' : ctrl.Item.LeadAutoCompleteProductIds}}"
                                                              data-on-close="ctrl.selectLeadAutoCompleteProducts(result)">
                                                <a href="" data-e2e="salesFunnelProducts">Выбрать товары</a>
                                            </ui-modal-trigger>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <div>
                                            Заказ должен содержать товары из любой категории из списка
                                        </div>
                                        <div ng-repeat="item in ctrl.Item.LeadAutoCompleteCategories track by $index" class="m-b-xs">
                                            <a href="catalog?categoryid={{item.value}}" target="_blank">{{item.label}}</a>
                                            <a ng-click="ctrl.deleteLeadAutoCompleteCategory($index)" href="" class="fa fa-times link-invert link-decoration-none p-l-xs"></a>
                                        </div>
                                        <div>
                                            <ui-modal-trigger data-controller="'ModalSelectCategoriesCtrl'" controller-as="ctrl"
                                                              template-url="../areas/admin/content/src/_shared/modal/selectCategories/selectCategories.html"
                                                              data-resolve="{'params': { 'selectedIds': ctrl.Item.LeadAutoCompleteCategoryIds}}"
                                                              data-on-close="ctrl.selectLeadAutoCompleteCategories(result)">
                                                <a href="" data-e2e="salesFunnelCategories">Выбрать категории</a>
                                            </ui-modal-trigger>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-3 control-label relative">
                                    Менеджеры
                                    <help-trigger class="ng-cloak" data-title="Менеджеры" use-template="true">
                                        <div class="help-content">
                                            Менеджеры, которые могут работать со списком лидов и получать уведомления о лидах.<br>
                                            Если никто не указан, то push-уведомления получают администраторы и модераторы с правами, email - в соответствии с <a href="settingsmail" target="_blank">настройками</a>
                                        </div>
                                    </help-trigger>
                                </label>
                                <div class="col-xs-9">
                                    <!--ng-change="ctrl.saveItem(ctrl.Item)"-->
                                    <ui-select multiple convert-to-number ng-model="ctrl.Item.ManagerIds" data-e2e="salesFunnelManagers">
                                        <ui-select-match placeholder="">{{$item.label}}</ui-select-match>
                                        <ui-select-choices repeat="s.value as s in ctrl.Item.Managers | filter:$select.search">
                                            {{s.label}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-3 control-label relative">
                                    Не отправлять уведомления при создании нового лида
                                </label>
                                <div class="col-xs-9">
                                    <label class="adv-checkbox-label" data-e2e="salesFunnelSendMailNew">
                                        <!--ng-change="ctrl.saveItem(ctrl.Item)"-->
                                        <input class="adv-checkbox-input" ng-model="ctrl.Item.NotSendNotificationsOnLeadCreation" type="checkbox" />
                                        <span class="adv-checkbox-emul"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-3 control-label relative">
                                    Не отправлять уведомления при изменении лида
                                </label>
                                <div class="col-xs-9">
                                    <label class="adv-checkbox-label" data-e2e="salesFunnelSendMailEdit">
                                        <!--ng-change="ctrl.saveItem(ctrl.Item)"-->
                                        <input class="adv-checkbox-input" ng-model="ctrl.Item.NotSendNotificationsOnLeadChanged" type="checkbox" />
                                        <span class="adv-checkbox-emul"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-3 control-label relative">
                                    Активность
                                </label>
                                <div class="col-xs-9">
                                    <label class="adv-checkbox-label" data-e2e="salesFunnelEnabled">
                                        <!--ng-change="ctrl.saveItem(ctrl.Item)"-->
                                        <input class="adv-checkbox-input" ng-model="ctrl.Item.Enable" type="checkbox" />
                                        <span class="adv-checkbox-emul"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab-leadFields" class="tab-pane">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <lead-fields-list sales-funnel-id="ctrl.id" items="ctrl.leadFields"></lead-fields-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" ladda="ctrl.btnSleep" type="submit" data-button-validation data-e2e="salesFunnelSave">{{'Admin.Js.SettingsCrm.Save'|translate}}</button>
        <!--<button class="btn btn-default btn-red-white" ladda="ctrl.btnSleep" type="button" data-button-validation-success="ctrl.deleteItem(ctrl.Item.Id)" data-button-validation data-e2e="salesFunnelSave">{{'Admin.Js.SettingsCrm.RemoveAFunnel'|translate}}</button>-->
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()" data-e2e="salesFunnelCancel">{{'Admin.Js.SettingsCrm.Cancel'|translate}}</button>
    </div>
</form>