@import "../../../_common/variables.scss";

.lp-block-schedule {

    &__item {
        padding-top: 24px;
        padding-bottom: 24px;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__image img {
        border-radius: 50%;
        max-height: 155px;
    }

    &__time {
        margin-top: 16px;
    }

    &__name {
        margin-top: 8px;
        font-weight: bold;
    }

    &__position {
        margin-top: 4px;
    }

    &__text {
        margin-top: 16px;
    }

    &__col-time {
        order: -1;
    }

    &__btn{
        margin-top: 30px;
    }
}

@media #{$viewport-md} {
    .lp-block-schedule {
        &__item {
            padding-top: 48px;
            padding-bottom: 48px;
        }

        &__col-time {
            order: 0;
        }
    }
}

.lp-block-schedule-with-title {
    &__title,
    &__name {
        font-weight: bold;
    }

    &__item {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__divider {
        height: 1px;
        font-size: 0;
        line-height: 0;
        overflow: hidden;

        &:last-child {
            display: none;
        }
    }

    &__item-wrap {
        padding-left: 0;
    }
}

@media #{$viewport-md} {
    .lp-block-schedule-with-title {
        &__item-wrap {
            padding-left: 20px;
        }
    }
}