
<div notification-message offset-right="20" class="header-top-notification-toggle ng-cloak">
    <span class="header-top-right-menu-link flex middle-xs header-top-notification-link pointer relative" ng-click="$ctrl.toggleNotificationMessage($event)">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 21.5C13.1 21.5 14 20.6 14 19.5H10C10 20.6 10.89 21.5 12 21.5ZM18 15.5V10.5C18 7.43 16.36 4.86 13.5 4.18V3.5C13.5 2.67 12.83 2 12 2C11.17 2 10.5 2.67 10.5 3.5V4.18C7.63 4.86 6 7.42 6 10.5V15.5L4 17.5V18.5H20V17.5L18 15.5Z" fill="#2D9CEE" />
        </svg>
        <span class="new-item new-item-message" ng-bind="$ctrl.data.unseenCount" ng-if="$ctrl.data.unseenCount > 0"></span>
    </span>
    <div class="notification-message-wrap" ng-class="{'show': $ctrl.shown}">

        <div class="notification-message-body scrollbar-custom" ng-if="$ctrl.data.events.length > 0">

            <div ng-repeat="item in $ctrl.data.events track by $index">
                <div class="notification-message flex" ng-class="{'notification-message-unread': !item.Seen}" ng-click="$ctrl.goTo($event, item)">
                    <div class="notification-message-user">
                        <div class="notification-message-user-photo" ng-if="item.UserPhoto != null">
                            <img ng-src="{{item.UserPhoto}}" />
                        </div>
                        <div class="notification-message-icon">
                            <i ng-class="{{$ctrl.getIcon(item.Type)}}"></i>
                        </div>
                    </div>
                    <div class="notification-message-content">
                        <div>
                            <div class="notification-message-user-title" ng-bind-html="item.Title"></div>
                            <div class="notification-message-user-text" ng-if="item.Message != null && item.Message.length > 0" ng-bind-html="item.Message"></div>

                            <div class="notification-message-options">
                                <div class="" ng-mouseenter="openNotifyMenu = true" ng-mouseleave="openNotifyMenu = false">
                                    <span popover-is-open="openNotifyMenu"
                                          uib-popover-template="'notifyMenu.html'"
                                          popover-trigger="'none'"
                                          popover-placement="bottom-right">
                                        <span class="fa fa-angle-down font-bold notification-message-options-angle"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notification-divider"></div>

            </div>

        </div>
        <div class="p-md text-center notification-message-empty" ng-if="$ctrl.data.events.length == 0">
            @T("Admin.Common.Notification.NotNewNotifications")
        </div>
        <div class="notification-message-show-all">
            <a href="@Url.Action("AllNotifications", "Common")" onclick="return advTrack('@AdvantShop.Track.ETrackEvent.Core_Common_ViewNotificationsPage.ToString()');">
                @T("Admin.Common.Notification.ShowAll")
            </a>
        </div>
    </div>
</div>
<script type="text/ng-template" id="notifyMenu.html">
    <ul class="notification-message-options-list">
        <li class="notification-message-options-list-item">
            <a ng-click="$ctrl.hideNotification($event, item)">Отметить как прочитанное</a>
        </li>
    </ul>
</script>
