@model AdvantShop.Web.Admin.Models.Landings.LandingAdminSiteSettings

<div class="row">
    <div class="col-xs-11">
        <div class="form-group row middle-xs">
            <div class="col-xs-3 col-wl-2">
                <div class="setting-label-wrap m-b-md">
                    Название воронки
                </div>
            </div>
            <div class="col-xs-9 relative">
                @Html.TextBoxFor(x => x.SiteName, new { @class = "form-control", ng_model = "landingSite.settings.SiteName", required = "required", validation_input_text = "Название сайта" })
                <div><i>Например: Корм для кошек, Порошковая краска и т.п.</i></div>
            </div>
        </div>

        @*<div class="form-group row middle-xs">
            <div class="col-xs-3 col-wl-2">
                <div class="setting-label-wrap">
                    Опубликован
                </div>
            </div>
            <div class="col-xs-9 relative">
                <label class="adv-checkbox-label" data-e2e="funnelEnabled">
                    @Html.CheckBoxFor(x => x.SiteEnabled, new { @class = "adv-checkbox-input", ng_model = "landingSite.settings.SiteEnabled" })
                    <span class="adv-checkbox-emul"></span>
                </label>
                <help-trigger class="ng-cloak m-l-xs" data-title="Опубликован">
                    <div class="help-content">
                        Когда воронка опубликована, ее видят все пользователи и появляется в карте сайта. Иначе воронку видит только администратор.
                    </div>
                </help-trigger>
            </div>
        </div>*@
    </div>
</div>


