<form novalidate name="changeUserPasswordForm">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.ChangeUserPassword.Title'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">{{'Admin.Js.ChangeUserPassword.NewPassword'|translate}}</span>
                    </label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" ng-model="ctrl.password" required validation-input-text={{'Admin.Js.AddEditUser.Password'|translate}} autofocus autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">{{'Admin.Js.ChangeUserPassword.NewPassword'|translate}}<br />{{'Admin.Js.ChangeUserPassword.Again'|translate}}</span>
                    </label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" ng-model="ctrl.passwordConfirm" required validation-input-text={{'Admin.Js.ChangeUserPassword.PasswordConfirmation'|translate}} autocomplete="off" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button"
                data-button-validation-success="ctrl.changePassword()" data-button-validation
                disabled ng-disabled="!changeUserPasswordForm.modified">
            {{'Admin.Js.ChangeUserPassword.Change'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>