<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">Написать в {{ctrl.appName}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-xs">
                    Для отправки сообщений в {{ctrl.appName}} необходимо чтобы на компьютере было установлено приложение мессенджера.
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-xs-6 control-label">
                    Больше не показывать это сообщение
                </label>
                <div class="col-xs-1">
                    <label class="adv-checkbox-label">
                        <input type="checkbox" class="adv-checkbox-input" ng-model="ctrl.dontShowMessage" />
                        <span class="adv-checkbox-emul" data-e2e="dontShowMessage"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-save btn-primary" href="{{ctrl.link}}" target="_blank" ng-click="ctrl.linkClick()">Продолжить</a>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">Отмена</button>
    </div>
</form>