.catalog-filter-header {
    display: none;
}

.catalog-filter-content {
    border-width: 0;
    padding: 0;
    border-radius: 0;
}

.catalog-filter-trigger-wrap--mobile {
    text-align: right;
}

.catalog-filter-trigger--mobile {
    background-color: transparent;
    padding: 10px 0;
    position: relative;
    border: 0;
    display: inline-block;
}
.catalog-filter-block-header,
.catalog-filter-block-content,
.catalog-filter-footer {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}
.catalog-filter-block-content-checkbox{
    margin-left: 0;
}

.catalog-filter-block-header, 
.catalog-filter-block-content, 
.catalog-filter-footer {
    padding-left: 16px;
    padding-right: 16px;
}

.catalog-filter-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    .btn {
        width: 48%;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.catalog-filter-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.custom-input-text,
.catalog-filter-block-title,
.catalog-filter-question-description,
.catalog-filter-block-content .ngrs-value {
    font-size: 13px;
}

.catalog-filter {
    height: calc(100% - 54px) ;
    .shipping-progress {
        height: 100%;
    }
}

.catalog-filter-block-header:after {
    right: 15px;
}
.catalog-filter-content{
    margin-bottom: 0;
}