@import "../_defFuncValues.scss";
@import "../_function.scss";

.menu {
    &__link {
        color: white;

        &:hover, &:active {
            background: #232429;
        }
    }

    &__item {
        border-color: #484a52;

        .newOrders {
            color: white;
            background: #e12223;
        }
    }
}
