.mobile-details-tabs {
    padding-left: 10px;
    padding-right: 10px;
}
.tabs-vertical .tabs-headers {
    width: 100%;
}

.tabs-vertical .height-none {
    height: 0;
    width: 0;
    overflow: hidden;
    display: block;
}

.mobile-tabs-vertical {
    width: 100%;
    display: block;
}

.tabs-vertical .tabs-content,
.mobile-tabs-vertical .tabs-headers {
    display: block;
}

.mobile-tabs-vertical .tabs-content {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
}

.mobile-tabs-content-back {
    margin-bottom: 20px;
}

.mobile-tabs-vertical .tabs-header-item-link {
    background-color: #ededee;
    margin-bottom: 5px;
    border-radius: 3px;
    position: relative;
}

.mobile-tabs-vertical .tabs-header-item-link:after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-6px);
}
