<div>
    <a class="btn btn-xsmall btn-submit" href="javascript:void(0)" modal-open="{{pointDeliveryMap.modalId}}">{{ ::'Js.ShippingTemplate.SelectPickupPoint' | translate }}</a>
    <div data-ng-bind="pointDeliveryMap.pointDeliveryMapShipping.SelectedPoint.Address"></div>
    <readmore class="shipping-item-description cs-t-3" data-max-height="30" data-speed="1s" data-ng-if="pointDeliveryMap.pointDeliveryMapShipping.SelectedPoint.Description">
        <span data-ng-bind-html="pointDeliveryMap.pointDeliveryMapShipping.SelectedPoint.Description"></span>
    </readmore>
    <div data-ng-if="pointDeliveryMap.pointDeliveryMapShipping.SelectedPoint == null && pointDeliveryMap.pointDeliveryMapIsSelected" class="shipping-extend-error error-color">
        {{ ::'Js.ShippingTemplate.SelectPickupPoint.NotSelected' | translate }}
    </div>
    <input data-ng-if="pointDeliveryMap.pointDeliveryMapIsSelected" class="shipping-extend-input-hidden" type="text" data-ng-model="pointDeliveryMap.pointDeliveryMapShipping.SelectedPoint.Address" required readonly data-validation-input-text="{{ ::'Js.ShippingTemplate.SelectPickupPoint.NotSelected' | translate }}" />
</div>