@model AdvantShop.Core.Services.Partners.Partner

<h3 class="vertical-interval-big no-top">Договор</h3>
@if (Model.ContractConcluded)
{
    <p>Заключен договор @(Model.ContractNumber.IsNotEmpty() ? "№" + Model.ContractNumber : string.Empty) @(Model.ContractDate.HasValue ? "от " + Model.ContractDate.Value.ToString("dd.MM.yyyy") : string.Empty)</p>
}
else
{
    <p>Договор не заключен</p>
    if (Model.Type == AdvantShop.Core.Services.Partners.EPartnerType.LegalEntity)
    {
        @Html.PartnerStaticBlock("Partners_NoContract_LegalEntity")
    }
    else
    {
        @Html.PartnerStaticBlock("Partners_NoContract_NaturalPerson")
    }
}
