@model AdvantShop.Areas.Partners.Models.Settings.ChangePasswordModel

@using (Html.BeginForm("ChangePassword", "Settings", FormMethod.Post, new { name = "changePasswordForm", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()
    <h3>Смена пароля</h3>
    <div class="row middle-xs">
        <span class="col-xs-3">
            <span class="form-field-name vertical-interval-xsmall input-required">Старый пароль</span>
        </span>
        <span class="col-xs-7">
            <span class="form-field-input vertical-interval-xsmall">@Html.PasswordFor(x => x.Password, new { autocomplete = "off", @class = "input-small", required = "required", data_ng_model = "password" })</span>
        </span>
    </div>
    <div class="row middle-xs">
        <span class="col-xs-3">
            <span class="form-field-name vertical-interval-xsmall input-required">Новый пароль</span>
        </span>
        <span class="col-xs-7">
            <span class="form-field-input vertical-interval-xsmall">@Html.PasswordFor(x => x.NewPassword, new { autocomplete = "off", @class = "input-small", required = "required", data_ng_model = "newPassword" })</span>
        </span>
    </div>
    <div class="row middle-xs">
        <span class="col-xs-3">
            <span class="form-field-name vertical-interval-xsmall input-required">Новый пароль (ещё раз)</span>
        </span>
        <span class="col-xs-7">
            <span class="form-field-input vertical-interval-xsmall">@Html.PasswordFor(x => x.NewPasswordConfirm, new { autocomplete = "off", @class = "input-small", required = "required", data_ng_model = "newPasswordConfirm" })</span>
        </span>
    </div>
    <div class="row middle-xs">
        <span class="col-xs-7 col-xs-offset-3">
            <span class="form-field-input vertical-interval-xsmall">
                <input type="submit" class="btn btn-middle btn-submit" value="Сохранить" data-button-validation />
            </span>
        </span>
    </div>
}