@model AdvantShop.Web.Admin.Models.Crm.Leads.LeadModel
<div class="ibox m-b" ng-show="lead.taskGrid.gridTasks.gridOptions.data.length > 0">
    <div class="ibox-content">
        <tasks-grid obj-id="@Model.Id" type="lead"
                    on-init="lead.taskGridOnOnit(taskGrid)"
                    on-update="lead.updateTasks()"
                    is-admin="@CustomerContext.CurrentCustomer.IsAdmin.ToLowerString()"
                    readonly="lead.readOnly"></tasks-grid>
    </div>
</div>