<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.DeliveryTime.Title'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-12 col-sm-3 control-label">
                        {{'Admin.Js.DeliveryTime.DeliveryDate'|translate}}
                    </label>
                    <div class="col-xs-12 col-sm-9">
                        <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'd.m.Y', wrap: true}">
                            <span class="flatpickr-custom-wrap">
                                <input type="text" class="form-control" ng-flatpickr-input ng-model="ctrl.deliveryDate">
                                <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                            </span>
                            <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-12 col-sm-3 control-label">
                        {{'Admin.Js.DeliveryTime.Title'|translate}}
                    </label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'Admin.Js.Order.From9To12'|translate}}" ng-model="ctrl.deliveryTime" maxlength="255" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" button-validation-success="ctrl.save()" data-button-validation>{{'Admin.Js.AddEdit.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
