@model List<SelectListItem>
@{
    var curSort = Model.FirstOrDefault(x => x.Selected);
    var val = curSort != null ? curSort.Value : "nosorting";
}
<div class="catalog-sort">
    <button type="button" class="catalog-sort_btn icon-right-open-big-after">@(curSort != null ? curSort.Text : Model.FirstOrDefault().Text)</button>
    @Html.DropDownList("sort", Model, new { @class = "catalog-sort_select", data_ng_model = "catalogFilter.curFltr", data_ng_init = "catalogFilter.curFltr = '" + val + "'", data_ng_change = "catalogFilter.changeSort(catalogFilter.curFltr)" })
</div>
