@model string

<div class="text-align-right">
    <button type="button" class="view-mode-trigger ng-hide" data-ng-show="changeMode.isReadyViewMode" data-product-view-change-mode data-name="mobileModern" data-view-list-name="mobileModern" data-ng-click="changeMode.toggle('productViewMobile')" data-is-mobile="true" data-default-view-mode="@Model">
        <span data-ng-switch="changeMode.current">
            <svg data-ng-switch-when="tile"
                 width="20" height="20" viewBox="0 0 35 35">
                <rect width="15" height="15" />
                <rect x="19" width="15" height="15" />
                <rect y="19" width="15" height="15" />
                <rect x="19" y="19" width="15" height="15" />
            </svg>

            <svg data-ng-switch-when="list"
                 width="20" height="20" viewBox="0 0 36.293 36.292">
                <path d="M7.984,15.654v4.985c0,0.827-0.672,1.5-1.5,1.5H1.5c-0.828,0-1.5-0.673-1.5-1.5v-4.985c0-0.829,0.672-1.5,1.5-1.5h4.984
		        C7.312,14.154,7.984,14.827,7.984,15.654z M34.792,14.154H13.289h-0.781c-0.827,0-1.5,0.671-1.5,1.5v4.985
		        c0,0.827,0.673,1.5,1.5,1.5h0.781h21.504c0.828,0,1.5-0.673,1.5-1.5v-4.985C36.292,14.827,35.621,14.154,34.792,14.154z
		         M6.484,2.779H1.5c-0.828,0-1.5,0.671-1.5,1.5v4.985c0,0.829,0.672,1.5,1.5,1.5h4.984c0.828,0,1.5-0.671,1.5-1.5V4.279
		        C7.984,3.452,7.312,2.779,6.484,2.779z M34.792,2.779H13.289h-0.781c-0.827,0-1.5,0.671-1.5,1.5v4.985c0,0.829,0.673,1.5,1.5,1.5
		        h0.781h21.504c0.828,0,1.5-0.671,1.5-1.5V4.279C36.292,3.452,35.621,2.779,34.792,2.779z M6.484,25.53H1.5
		        c-0.828,0-1.5,0.671-1.5,1.5v4.984c0,0.83,0.672,1.5,1.5,1.5h4.984c0.828,0,1.5-0.67,1.5-1.5V27.03
		        C7.984,26.201,7.312,25.53,6.484,25.53z M34.792,25.53H13.289h-0.781c-0.827,0-1.5,0.671-1.5,1.5v4.984c0,0.83,0.673,1.5,1.5,1.5
		        h0.781h21.504c0.828,0,1.5-0.67,1.5-1.5V27.03C36.292,26.201,35.621,25.53,34.792,25.53z" />
            </svg>

            <svg data-ng-switch-when="single"
                 width="20" height="20" viewBox="0 0 438.536 438.536">
                <path d="M433.113,5.424C429.496,1.807,425.215,0,420.267,0H18.276C13.324,0,9.041,1.807,5.425,5.424
		        C1.808,9.04,0.001,13.322,0.001,18.271v401.991c0,4.948,1.807,9.233,5.424,12.847c3.619,3.614,7.902,5.428,12.851,5.428h401.991
		        c4.948,0,9.229-1.813,12.847-5.428c3.614-3.613,5.421-7.898,5.421-12.847V18.271C438.534,13.319,436.73,9.04,433.113,5.424z" />
            </svg>
        </span>
    </button>
</div>
