@model BlockModel

<div data-oc-lazy-load="[{serie:true, files: [ @Html.RenderAssetFilesList("myaccountFunnel", "") ]}]">
    <div class="container-fluid" data-ng-controller="MyAccountCtrl as myaccount">
        <div class="lp-container">
            <div class="text-center">
                @Html.BlockHeader(Model)
            </div>

            @Html.Action("LpMyAccount", "MyAccount", new { area = "" })
        </div>
    </div>
</div>