@{
    Layout = "";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Internal Error</title>
    <meta name="generator" content="AdVantShop.NET">
    <style type="text/css">
        body{background:url(/content/info/images/err_bg.gif) repeat-x #2F3032;margin:0;padding:0;font-family:Tahoma}
        #dvErrContainer{margin-left:20px;margin-top:20px;text-align:center}
        #dvErrContainer .ErrDescription{margin-top:10px;color:#d1d1d1;font:700 18px Arial}
        #dvErrContainer .ErrNotify{height:19px;color:#fff;font-family:arial;font-size:13px;margin-top:11px}
        .ErrTextCss{width:90%;height:200px;background-color:Gray;text-align:left;padding:10px;margin-top:20px;color:#fff}
        a{color:#fff;font-family:Arial}
    </style>
</head>
<body>
    <div id="dvErrContainer">
        <div class="ErrDescription">@T("Error.Index.ErrorNotify")</div>
        <div class="ErrNotify">@T("Error.Index.ErrorNotifyMessage")</div>
        <br />
        <a href="@Url.AbsoluteRouteUrl("Home")">@T("Error.Index.GoToMain")</a>
    </div>
    <div style="text-align:center;">
        <img src="/content/info/images/hypnotoad.gif" alt="Wtf" border="0" />
    </div>
</body>
</html>