@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>@T("Error.MobileAppBlocked")</title>
    <meta content="AdVantShop.NET" name="generator">
    <meta content="noindex,nofollow" name="robots">
    <style>
            body{font-family: Arial, Helvetica, sans-serif;color: #4b4f58;font-size: 16px}
            .wrapper{width: 80%;margin: 0 auto}
            .code-error{font-size: 60px;font-weight: bold;margin-top: 75px}
            .to-do{}
            .to-do .head{font-weight: bold;font-size: 18px;margin-top: 60px}
            ul{list-style: none;padding: 0;margin: 0}
            ul li:before{content: "- "}
            .to-do .to-do-items li{margin: 15px 0}
        </style>
</head>
<body>
    <div class="wrapper">
        <div class="code-error">@T("Error.MobileAppBlocked")</div>
        <div class="to-do">
            <span class="head">
                @T("Error.MobileAppBlocked.OpenInBrowser"): <b>@SettingsMain.SiteUrl</b>
            </span>
        </div>
    </div>
</body>
</html>
