.lp-settings-modal {
  width: 100%;
  font-family: "Open sans";
  font-weight: 400;
  color: #000;
}
.lp-settings-modal .modal-content {
  padding: 0;
}
.lp-settings-modal .tabs-headers.tabs-headers--common-settings {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #fff;
  padding-left: 24px !important;
  flex-wrap: nowrap;
  overflow: auto;
}
.lp-settings-modal .tabs-headers.tabs-headers--common-settings .tabs-header-item {
  flex-shrink: 0;
  top: 0;
}
.lp-settings-modal .tabs-content--common-settings {
  padding: 0 !important;
}
.lp-settings-modal .tabs-content--common-settings .blocks-constructor-modal--settings {
  max-height: none;
}
.lp-settings-modal a {
  color: #3797eb;
}
.lp-settings-modal a:hover, .lp-settings-modal a:active {
  color: #65aff0;
}

.lp-settings-modal-overlay {
  width: 1140px;
  max-width: 90vw;
  top: 0;
}

body .lp-settings__textarea-keywords,
body .lp-settings__textarea-description {
  height: 56px;
}