@import '../../../styles/_variable';

$heightControlsBlockPictures: 25px;

.aside-image-wrap {
    padding-bottom: 20px;
    position: relative;
}

.aside-image {
    border: 1px solid #bebebe;
    box-sizing: border-box;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
}

.product-aside-menu-image-link {
    display: block;
    padding-bottom: 20px;
}

.product-header-name {
    font-family: $OpenSans;
    font-size: 18px;
    margin-bottom: 33px;
    margin-bottom: 12px;
}

.product-setting {
    --p-b: 47px;
    padding-bottom: var(--p-b);

    &--main {
        min-height: 460px;
    }

    &--price {
        min-height: 730px;
    }

    &--delivery {
        min-height: 270px;
    }

    &--photos {
        min-height: 408px;
    }

    &--video {
        min-height: 274px;
    }

    &--description {
        min-height: 815px;
    }

    &--properties {
        min-height: 212px;
    }

    &--reviews {
        min-height: 431px;
    }

    &--customoptions {
        min-height: 129px;
    }

    &--SEO {
        min-height: 191px;
    }

    &--additionalSales {
        min-height: 238px;
    }

    &--lists {
        min-height: 243px;
    }

    &--avito {
        min-height: 281px;
    }

    & #gridProductVideos {
        min-height: 111px;
    }
}


.grid-offers-wrapper {
    min-height: 126px
}

.product-setting-title {
    padding-bottom: 30px;
}

.breadcrumb-header {
    margin-bottom: 4px;
    font-family: "OpenSans";
    font-weight: 700;
    font-size: $fz-small;
    color: $color-base;
}

.product-pic-list {
    position: relative;
}

.product-pic-list .as-sortable-placeholder {
    display: inline-block !important;
}

.product-pic-list-wrapper {
    font-size: 0;
    line-height: 0;
}

.product-pic-list-item-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 36px;
    right: 0;
    background: rgba(47,64,80,0.7);
    z-index: 40;
}

.product-block:hover .product-pic-list-item-overlay {
    display: block;
}

.product-pic-list-item {
    font-size: 13px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: top;
    margin: 5px 5px 0 0;
    width: 171px;
    /*height: 171px;*/
    box-sizing: border-box;
    position: relative;
    z-index: 30;

    .product-block {
        padding: 7px 11px 0;
        border: 1px solid #c3c3c3;
        background-color: #fff;
    }

    .product-block-content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 130px;
    }

    .product-block-content--max-height {
        height: 153px;
    }
}


.product-pic-list-item-360 .product-pic-list-item-overlay {
    bottom: 0;
}



.picture-hover-effect {
    display: none;
}

.adv-checkbox-emul--hover-check {
    display: none;
}

.hover-padding-left {
    font-size: 12px;
}

.product-block:hover .adv-checkbox-emul--hover-check {
    display: block;
    border-color: transparent;
    z-index: 100;
}

.product-block:hover .picture-hover-effect {
    display: block;
    position: relative;
    z-index: 100;
}

.product-block:hover .hover-padding-left {
    position: relative;
    padding-left: 20px;
    color: #fff;
    z-index: 100;
}

.product-block:hover .pic-hover-color {
    position: relative;
    z-index: 100;
    color: #fff;
    height: $heightControlsBlockPictures;
    line-height: $heightControlsBlockPictures;
}

input[type=checkbox].adv-checkbox-input:checked ~ .adv-checkbox-emul--white {
    background-color: transparent;
    border-color: transparent;
    border: 0;
    box-shadow: none;
}

input[type=checkbox].adv-checkbox-input:checked ~ .adv-checkbox-emul--white:before {
    font-size: 19px;
}

.product-color-select-wrap {
    position: relative;
    top: -1px;
}

.product-add-property-block {
    border-top: 1px solid #eaebeb;
    padding: 22px 0;
}

.product-seo-setting {
    margin-left: 33px;
}

/*.product-aside-right {
    position: absolute;
    right: 31px;
    top: 74px;
    z-index: 1;
}

.product-aside-right {
    width: 252px;
}*/

.product-setting-aside-block {
    padding: 20px;
    background: #f6f6f6;
}

.landing-page-setting {
    box-sizing: border-box;
    background: #f6f6f6;
    border-radius: 3px;
    padding: 14px 13px;
    margin-bottom: 4px;
}

.info-about-product {
    display: table;
    border-spacing: 0 10px;
}

.info-about-product-row {
    display: table-row;
}

.info-about-product-cell {
    display: table-cell;
}

.info-about-product-cell--pad-l {
    padding-left: 5px;
}

.product-aside-right-mid-block {
    padding: 20px;
}

.product-aside-right-footer {
    border-top: 1px solid #e2e3e5;
}

.product-aside-right-footer {
    background-color: #f6f6f6;
    padding: 16px 20px;
}

#category {
    padding: 0;
}

#category > option {
    padding-left: 8px;
}

#product-aside {
    width: 170px;
    box-sizing: border-box;
    margin-bottom: 0;
    /*padding-right: 9px;*/
    /*display: flex;
    flex-direction: column;
    height: 100%;*/
}

.product-aside-link.active {
    background-color: #dbdcde;
}

.footer-product-name {
    padding: 6px 0;
    font-size: 13px;
    color: #676a6c;
    line-height: 18px;
}

.product-col-right {
    flex-basis: 90%;
    max-width: 90%;
}

.product-setting .product-list-item-tab {
    border: $border-default;
}

.product-block-state {
    height: $heightControlsBlockPictures;
    cursor: pointer;
}

.product-block-main-state {
    display: none;
}

.product-pic-list-item-main .product-block-main-state, .product-block:hover .product-block-main-state {
    display: block;
}

.is-sticky #product-aside {
    padding-top: 20px;
}

.properties-group-name {
    font-size: 18px;
    font-family: "OpenSans";
    font-weight: 100;
    margin: 10px 0;
}

.properties-item {
    padding: 5px 0;
}

.properties-new-item {
    padding: 0 0 5px 0;
}

.rel-product-item {
    padding: 5px 5px 0 0;
    background: #fff;
    display: inline-block !important;
}

.items-list .as-sortable-placeholder {
    display: inline-block !important;
}

#leftAsideProduct {
    min-height: 100%;
    height: 1px;
}

#productAsideScrollable {
    flex-grow: 1;
}

.properties-new__select--name .caret {
    display: none;
}

.properties-new__select--loaded .caret {
    display: block;
}

@media (min-width:768px) {
    .product-modal-video .modal-dialog {
        min-width: 680px;
        width: auto;
        margin: 30px auto;
        max-width: 100%;
    }
}
