.sidebar {
  position: fixed;
  left: 0;
  top: 56px;
  bottom: 0;
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 30;
  transition: width 0.15s linear;
  scrollbar-width: thin;
}
.sidebar::-webkit-scrollbar {
  -webkit-appearance: none;
}
.sidebar::-webkit-scrollbar:vertical {
  width: 6px;
}
.sidebar::-webkit-scrollbar:horizontal {
  height: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
  border-radius: 0px;
}
.sidebar::-webkit-scrollbar-track {
  border-radius: 0px;
}
.sidebar--default {
  width: 240px;
}
.sidebar--default .sidebar__list {
  min-height: 100%;
}
.sidebar__part-right {
  position: relative;
}
.sidebar__minus {
  width: 10px;
  height: 1px;
  background-color: #fff;
  margin-left: 4px;
  display: block;
}
.sidebar--compact {
  width: 58px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.sidebar--compact .sidebar__icon--left {
  /*color: #939ca5;*/
}
.sidebar--compact .sidebar--compact-visible--first {
  order: -1;
}
.sidebar--compact:hover {
  transition: width 0s linear 0.15s;
  width: 240px;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar--compact:hover .sidebar--compact-hidden:not([data-submenu]) {
  visibility: visible;
  width: auto;
  height: auto;
  transition: width 0s linear 0.15s, height 0s linear 0.15s;
}
.sidebar--compact:hover .sidebar--compact-hidden.show-submenu {
  visibility: visible;
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
  transition: width 0s linear 0.15s, height 0s linear 0.15s;
}
.sidebar--compact:hover .sidebar--compact-visible {
  visibility: hidden;
  width: 0;
  height: 0;
  transition: width 0s linear 0.15s, height 0s linear 0.15s;
}
.sidebar--compact:hover .sidebar__trigger {
  border-color: #3b4d5e;
}
.sidebar--compact:hover .sidebar--compact-visible--first {
  order: 900;
  display: none;
}
.sidebar--compact .sidebar--compact-hidden:not([data-submenu]) {
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  position: relative;
}
.sidebar--compact .sidebar--compact-hidden.show-submenu {
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  position: relative;
}
.sidebar--compact .sidebar--compact-visible {
  display: block;
}
.sidebar--compact .sidebar--compact-none {
  display: none;
}
.sidebar--compact-visible {
  display: none;
}
.sidebar__list {
  padding: 0 0 0;
  margin: 0;
  list-style: none;
}
.sidebar__list--main {
  width: 240px;
  padding-top: 2px;
}
.sidebar__list--subitems {
  user-select: none;
}
.sidebar__category-item {
  align-items: center;
  padding: 5px 12px 5px 17px;
  min-height: 32px;
  cursor: pointer;
  text-decoration: none;
}
.sidebar__trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 12px 5px 17px;
  min-height: 32px;
  cursor: pointer;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.sidebar__trigger:hover, .sidebar__trigger--active, .sidebar__trigger--active:hover {
  text-decoration: none;
}
.sidebar__icon {
  text-align: center;
  box-sizing: content-box;
  width: 24px;
  height: 24px;
}
.sidebar__icon--left {
  padding-right: 19px;
}
.sidebar__icon--svg {
  display: inline-block;
  vertical-align: middle;
}
.sidebar__icon svg {
  display: inline-block;
  vertical-align: middle;
}
.sidebar__icon-fa {
  height: 100%;
  width: 100%;
}
.sidebar__name {
  line-height: 1;
}
.sidebar__link {
  display: flex;
  text-decoration: none;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.sidebar__link:hover .sidebar__name {
  text-decoration: underline;
}
.sidebar__link:hover .sidebar_link_none_decoration {
  text-decoration: none;
}
.sidebar-unit {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 20px 12px 7px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 51px;
}
.sidebar-unit__btn {
  background: transparent none;
  border: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  color: #bcc3ca;
}
.sidebar-arrow--down > svg {
  transform: rotate(90deg);
}
.sidebar__part-right {
  display: flex;
  align-items: center;
}
.sidebar__counter {
  line-height: 1;
}
.sidebar__counter--overflow {
  position: absolute;
  right: 0;
}
.sidebar__counter .new-item {
  padding: 0px 4px;
  line-height: 1;
  margin-right: 5px;
  font-size: 11px;
  min-width: 28px;
  text-align: center;
  box-sizing: content-box;
  display: inline-flex;
  height: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  top: auto;
  left: auto;
}
.sidebar__counter--compact {
  position: absolute;
  left: 18px;
  top: 0;
}
.sidebar__counter--compact .new-item {
  background-color: #58bae9;
  padding: 0;
  border-radius: 50%;
  font-size: 0;
  height: 6px;
  width: 6px;
  display: block;
  max-width: 6px;
  min-width: 6px;
}
.sidebar__link-look {
  margin-right: 5px;
}
.sidebar__group-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}
.sidebar--simple {
  transition: none;
}
.sidebar--simple.sidebar {
  top: 60px;
}
.sidebar--simple .sidebar__group-item.sidebar__group-item--p-b-n {
  padding-bottom: 0;
}
.sidebar--simple .sidebar__list {
  padding-top: 12px;
  /*will-change: transorm;*/
}
.sidebar--simple .sidebar .sidebar__trigger {
  position: relative;
}
.sidebar--simple .sidebar__category-item {
  cursor: default;
}
.sidebar--simple .sidebar__category-item, .sidebar--simple .sidebar__trigger {
  padding-left: 23px;
}
.sidebar--simple .sidebar__icon {
  display: none;
}
.sidebar--simple .sidebar__icon--visable-default {
  display: block;
}
.sidebar--simple .sidebar__item--selected {
  border-left-width: 5px;
  border-left-style: solid;
  box-sizing: border-box;
}
.sidebar--simple .sidebar__counter {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}
.sidebar--simple .sidebar__item--selected .sidebar__trigger {
  padding-left: 18px;
}
.sidebar--simple .sidebar__delimiter {
  display: none;
}
.sidebar.sidebar--compact.sidebar--simple {
  width: 58px;
  /*width: 65px;*/
  overflow-y: visible;
  overflow-x: visible;
  /*position: static;*/
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 24;
  /*.sidebar__item--selected .sidebar__trigger {
      padding-left: 11px;
  }*/
}
.sidebar.sidebar--compact.sidebar--simple:hover .sidebar--compact-visible {
  visibility: visible;
  width: auto;
  height: auto;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__delimiter {
  display: block;
  margin-bottom: 10px;
  cursor: default;
  text-align: center;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__group-item.sidebar__group-item--p-b-n {
  padding-bottom: 0;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__category-item-name, .sidebar.sidebar--compact.sidebar--simple:hover .sidebar__name {
  display: none;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__icon {
  display: block;
  padding-right: 0;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__list .sidebar__category-item.first-xs,
.sidebar.sidebar--compact.sidebar--simple .sidebar__list .sidebar__category-item:first-child {
  display: none;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__list--main {
  width: 58px;
  /*width: 65px;*/
  background-color: inherit;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__category-item,
.sidebar.sidebar--compact.sidebar--simple .sidebar__trigger {
  /*padding-left: 16px;*/
  padding-left: 0;
  padding-right: 0;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__trigger {
  justify-content: center;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__item--selected {
  border-left-width: 4px;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__item--selected .sidebar__link {
  margin-left: -4px;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__counter {
  display: block;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar-unit-wrap {
  order: 1;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__list {
  display: flex;
  flex-direction: column;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__list > .sidebar__list-item:last-child .sidebar__group-item {
  padding-bottom: 0;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar-unit-modal-trigger {
  padding-top: 8px;
  padding-bottom: 8px;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__name {
  display: none;
  position: absolute;
  top: 50%;
  left: calc(100% + 7px);
  transform: translateY(-50%);
  z-index: 10;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-left: 8px;
  text-decoration: none;
  border-radius: 3px;
  pointer-events: none;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__name::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -7px;
  bottom: -20px;
  width: 7px;
  height: 9px;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__name:hover {
  text-decoration: none;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__part-right {
  display: none;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__item {
  position: relative;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__counter--compact {
  left: 34px;
  top: 9px;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__counter--compact .new-item {
  height: 9px;
  width: 9px;
  max-width: 9px;
  min-width: 9px;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__item:hover .sidebar__name {
  display: block;
  white-space: nowrap;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__link {
  width: 100%;
  position: static;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__icon {
  flex-grow: 1;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__icon--left {
  /*color: #fff;*/
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__group-item {
  padding-bottom: 15px;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__item--add {
  display: block;
  margin-top: 0;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__item--add .sidebar__category-item-name {
  display: none;
}
.sidebar.sidebar--compact.sidebar--simple .sidebar__list-item .sidebar__group-item {
  padding-bottom: 0;
}

.sidebar--default.sidebar--simple .sidebar-unit-modal-trigger__icon {
  display: none;
}
.sidebar--default.sidebar--simple .sidebar-unit-modal-trigger__icon--visible {
  display: block;
}
.sidebar--default.sidebar--simple .sidebar__item {
  position: relative;
}
.sidebar--default.sidebar--simple .sidebar__item--referral-link {
  width: 100%;
  margin-bottom: 15px;
}
.sidebar--default.sidebar--simple .sidebar__item--referral-link .sidebar__trigger {
  justify-content: center;
  padding: 0;
  border-bottom: none;
}
.sidebar--default.sidebar--simple .sidebar__item--referral-link .sidebar__trigger:hover {
  background-color: transparent;
}
.sidebar--default.sidebar--simple .sidebar__item--referral-link .sidebar__icon {
  margin-right: 10px;
  width: 14px;
  height: 14px;
}
.sidebar--default.sidebar--simple .sidebar__list-item:nth-last-child(2) {
  flex-grow: 1;
  display: block;
}

.sidebar__item {
  position: relative;
}
.sidebar__item--add {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.sidebar__item--add .sidebar__trigger {
  border: 2px solid #374858;
  border-radius: 4px;
  justify-content: center;
  padding-left: 45px;
  padding-right: 45px;
}

.sidebar-unit-modal-trigger {
  line-height: 1;
}
.sidebar-unit-modal-trigger__icon {
  display: inline-block;
  vertical-align: middle;
}

.sidebar__list--main {
  /*margin-bottom: 18px;*/
}

@media (min-height: 800px) {
  .sidebar {
    top: 60px;
  }
  .sidebar__category-item, .sidebar__trigger {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .sidebar__trigger--subitems {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
@media (max-width: 1365px) {
  .sidebar--default {
    width: 200px;
  }
  .sidebar--default .sidebar__list--main {
    width: 200px;
  }
  .sidebar--default .sidebar__icon--left {
    display: none;
  }

  .sidebar-unit .sidebar__name {
    font-weight: bold;
    text-decoration: underline;
  }

  .sidebar-action {
    padding: 5px;
  }
}
.sidebar--compact.sidebar--simple .sidebar__list-item:nth-last-child(2) {
  margin-bottom: 40px;
}
.sidebar--compact.sidebar--simple .sidebar__item .sidebar__icon-compact-referral {
  width: 20px;
  height: 20px;
}
.sidebar--compact.sidebar--simple .sidebar__trigger--root-referralLink {
  border: none;
}