<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">Детали транзакции</h2>
    </div>
    <div class="modal-body">
        <div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3">Дата привязки</label>
                    <div class="col-xs-9">{{ctrl.data.DateCreatedFormatted}}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="row" ng-if="ctrl.data.CouponCode">
                    <div class="col-xs-9 col-xs-offset-3">
                        Применен купон партнера: {{ctrl.data.CouponCode}}
                    </div>
                </div>
                <div class="row" ng-if="ctrl.data.Url">
                    <div class="col-xs-9 col-xs-offset-3">
                        <div>Переход по реферальной ссылке:</div>
                        <div>{{ctrl.data.Url}}</div>
                    </div>
                </div>
                <div class="row" ng-if="ctrl.data.VisitDate">
                    <div class="col-xs-9 col-xs-offset-3">{{ctrl.data.VisitDateFormatted}}</div>
                </div>
            </div>
            <div class="form-group" ng-if="ctrl.data.UrlReferrer">
                <div class="row">
                    <label class="col-xs-3">referer</label>
                    <div class="col-xs-9">{{ctrl.data.UrlReferrer}}</div>
                </div>
            </div>
            <div class="form-group" ng-if="ctrl.data.UtmSource">
                <div class="row">
                    <label class="col-xs-3">utm_source</label>
                    <div class="col-xs-9">{{ctrl.data.UtmSource}}</div>
                </div>
            </div>
            <div class="form-group" ng-if="ctrl.data.UtmMedium">
                <div class="row">
                    <label class="col-xs-3">utm_medium</label>
                    <div class="col-xs-9">{{ctrl.data.UtmMedium}}</div>
                </div>
            </div>
            <div class="form-group" ng-if="ctrl.data.UtmCampaign">
                <div class="row">
                    <label class="col-xs-3">utm_campaign</label>
                    <div class="col-xs-9">{{ctrl.data.UtmCampaign}}</div>
                </div>
            </div>
            <div class="form-group" ng-if="ctrl.data.UtmContent">
                <div class="row">
                    <label class="col-xs-3">utm_content</label>
                    <div class="col-xs-9">{{ctrl.data.UtmContent}}</div>
                </div>
            </div>
            <div class="form-group" ng-if="ctrl.data.UtmTerm">
                <div class="row">
                    <label class="col-xs-3">utm_term</label>
                    <div class="col-xs-9">{{ctrl.data.UtmTerm}}</div>
                </div>
            </div>
        </div>
    </div>
</form>