.categories-block {
  background: #fff;
}

.categories-block__border {
  border: 1px solid #c3c3c3;
  padding: 5px 5px 30px;
}

.categories-block-icon {
  margin: 0 5px;
}

.categories-block-figure-link {
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  display: block;
}
.categories-block-figure-link:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}

.categories-block-figure-img {
  display: inline-block;
  vertical-align: middle;
}

.categories-block-name {
  margin-top: 10px;
  font-size: 12px;
}
.categories-block-name .adv-checkbox-label {
  margin-bottom: 0;
}

.categories-block-count {
  color: #b0b1b1;
}

.categories-block-mass {
  margin-bottom: 5px;
}

.categories-block-items .categories-block-wrap, .categories-block-items .as-sortable-placeholder {
  width: 25%;
  /*height: 182px;*/
  padding: 10px;
  display: inline-block !important;
  vertical-align: top;
  /*float: left;*/
}

.mobile-version .categories-block-wrap, .mobile-version .as-sortable-placeholder {
  width: 50%;
}

@media (min-width: 1600px) {
  .categories-block-items .categories-block-wrap, .categories-block-items .as-sortable-placeholder {
    width: 20%;
  }
}
@media (width: 1920px) {
  .categories-block-items .categories-block-wrap, .categories-block-items .as-sortable-placeholder {
    width: 16.6%;
  }
}
@media (min-width: 1921px) {
  .categories-block-items .categories-block-wrap, .categories-block-items .as-sortable-placeholder {
    width: 200px;
  }
}
.categories-block-row {
  margin: 0 -10px;
}

.categories-block-checkbox-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.categories-block-mass-search-col {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 0 20px;
}

.categories-block-empty {
  text-align: center;
  padding: 10px;
  font-weight: 600;
}