<form novalidate name="apiWebhookAddUpdateForm">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">Webhook</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.apiWebhookAddUpdateForm = apiWebhookAddUpdateForm">

        <div class="form-group row">
            <div class="col-xs-2 control-label">
                <span class="text-required">Событие</span>
            </div>
            <div class="col-xs-10">
                <ui-select required ng-model="ctrl.apiWebhook.EventType" convert-to-number autofocus
                           validation-input-text="Событие">
                    <ui-select-match>{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="s.value as s in ctrl.eventTypes | filter: $select.search">
                        <div>{{s.label}} </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-2 control-label">
                <span class="text-required">
                    Url
                </span>
            </label>
            <div class="col-xs-10">
                <input type="text" class="form-control" ng-model="ctrl.apiWebhook.Url" required validation-input-text="Url" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button"
                data-button-validation-success="ctrl.save()" data-button-validation>
            {{ctrl.mode === 'add' ? ('Admin.Js.AddEdit.Add'|translate) : ('Admin.Js.AddEdit.Save'|translate)}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
