<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">{{'Admin.Js.AddCategory.Category'|translate}}</h2>
</div>
<div class="modal-body">
    <div>
        <div data-js-tree
             data-tree-ajax="catalog/categoriestree"
             data-tree-search="{ajax: {url: 'catalog/categoriesTreeBySearchRequest'}}"
             data-tree-ajax-data="ctrl.treeAjaxData"
             data-tree-core="" 
             data-tree-events="select_node:ctrl.selectCategories;deselect_node:ctrl.selectCategories;"
             tree-plugins="checkbox,search"
             tree-checkbox="ctrl.treeCheckbox"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.choose()" ng-disabled="ctrl.btnChangeDisabled">{{'Admin.Js.AddCategory.Select'|translate}}</button>
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddCategory.Cancel'|translate}}</button>
</div>