
<div class="aside-menu product-lists-menu" data-as-sortable="$ctrl.sortableOptions" data-ng-model="$ctrl.productLists">
    <div ng-repeat="list in $ctrl.productLists" data-as-sortable-item  ng-click="$ctrl.selectList(list)" class="pointer" data-e2e-product-list-id="{{list.Id}}">
        <div class="link-invert aside-menu-row aside-menu-row-with-move" ng-class="{'selected': list.Id == $ctrl.listId}">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    <span data-as-sortable-item-handle><icon-move></icon-move></span>
                    <span >{{list.Name}}</span>
                </div>
                <div class="aside-menu-count">
                    <div class="links-edit text-right">
                        <a href="" class="link-invert fas fa-times link-decoration-none" ng-click="$event.stopPropagation(); $ctrl.deleteList(list.Id)"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>