.design-background-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 41.875rem;
  display: block;
}
.design-background-top:before, .design-background-top:after {
  content: "";
  position: absolute;
  display: block;
}
.design-background-top:before {
  background: url("../images/background-top-left.png") no-repeat left top;
  height: 667px;
  width: 516px;
  left: 50%;
  margin-left: -950px;
  top: 0;
}
.design-background-top:after {
  background: url("../images/background-top-right.png") no-repeat 460px bottom;
  height: 670px;
  left: 50%;
  right: 0;
  top: 0;
}

.site-footer:before, .site-footer:after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.site-footer:before {
  background: url("../images/background-bottom-left.png") no-repeat left bottom;
  height: 411px;
  width: 387px;
  left: 50%;
  margin-left: -965px;
  top: 0;
}
.site-footer:after {
  background: url("../images/background-bottom-right.png") no-repeat 590px bottom;
  height: 385px;
  left: 50%;
  right: 0;
  top: 0;
}