<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title" ng-if="ctrl.mode == 'add'">{{'Admin.Js.AddEditNewsCategpry.Add'|translate}}</h2>
        <h2 class="modal-header-title" ng-if="ctrl.mode == 'edit'">{{'Admin.Js.AddEditNewsCategpry.Edit'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">
                    {{'Admin.Js.AddEditNewsCategpry.CategoryName'|translate}}
                </span>
            </label>
            <div class="col-xs-9">
                <input type="text" data-e2e="NewsCategoryName" class="form-control" ng-model="ctrl.Name" required validation-input-text={{'Admin.Js.AddEditNewsCategpry.CategoryName'|translate}} autofocus
                       url-generator url-path="ctrl.UrlPath" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label"><span class="text-required">{{'Admin.Js.AddEditNewsCategpry.SynonymForRequestURL'|translate}}</span></label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.UrlPath" required validation-input-text={{'Admin.Js.AddEditNewsCategpry.SynonymForRequestURL'|translate}}
                       id="UrlPath" name="UrlPath" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">{{'Admin.Js.AddEditNewsCategpry.Sorting'|translate}}</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.SortOrder" data-e2e="NewsCategorySort" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12">
                <label class="adv-checkbox-label">
                    <input type="checkbox" ng-model="ctrl.IsDefaultMeta" class="adv-checkbox-input" />
                    <span class="adv-checkbox-emul" data-e2e="DefaultMetaCheckbox"></span>
                    Использовать Meta по умолчанию
                </label>
            </div>
        </div>
        <div ng-if="ctrl.IsDefaultMeta == false">
            <div class="form-group row">
                <label class="col-xs-3 control-label text-required">{{'Admin.Js.AddEditNewsCategpry.H1'|translate}}</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" ng-model="ctrl.H1" data-e2e="NewsCategoryH1"
                           required="required" validation-input-text={{'Admin.Js.AddEditNewsCategpry.H1'|translate}} />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-3 control-label text-required">{{'Admin.Js.AddEditNewsCategpry.MetaHeader'|translate}}</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" ng-model="ctrl.Title" data-e2e="NewsCategoryTitle"
                           required="required" validation-input-text={{'Admin.Js.AddEditNewsCategpry.MetaHeader'|translate}} />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-3 control-label">{{'Admin.Js.AddEditNewsCategpry.MetaKeywords'|translate}}</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" ng-model="ctrl.MetaKeywords" data-e2e="NewsCategoryMetaKey" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-3 control-label">{{'Admin.Js.AddEditNewsCategpry.MetaDescription'|translate}}</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" ng-model="ctrl.MetaDescription" data-e2e="NewsCategoryMetaDesc" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-3 control-label"></label>
                <div class="col-xs-9">
                    {{'Admin.Js.AddEditNewsCategpry.SEOAvailableVariables'|translate}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" data-e2e="BtnSave" type="button" ladda="ctrl.btnSleep" data-button-validation-success="ctrl.saveNewsCategory()" data-button-validation>{{'Admin.Js.AddEdit.Save'|translate}}</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>