<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="blocks-constructor-settings-col--alt">
            <div class="blocks-constructor-row">
                <div class="blocks-constructor-row__name">
                    Отображать по, шт
                </div>
                <input class="blocks-constructor-input" data-e2e="slidesToShow" type="number" ng-model="$ctrl.modalData.settings.carouselOptions.slidesToShow" min="1" />
            </div>
            <div class="blocks-constructor-row">
                <label class="blocks-constructor-label" data-e2e="ShowArrows">
                    <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.carouselOptions.arrows" />
                    <span class="blocks-constructor-checkbox"></span>
                    <span class="blocks-constructor-label-text">
                        Отображать стрелки
                    </span>
                </label>
            </div>
            <div>
                <label class="blocks-constructor-label" data-e2e="ShowDots">
                    <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.carouselOptions.dots" />
                    <span class="blocks-constructor-checkbox"></span>
                    <span class="blocks-constructor-label-text">
                        Отображать послайдовую навигацию
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>




