<div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.whatsapp_enabled">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="whatsapp_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.whatsapp_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text">
                WhatsApp
            </span>
        </label>
    </div>

    <div ng-if="$ctrl.modalData.settings.whatsapp_enabled">
        <div class="blocks-constructor-row__name">
            Номер
        </div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="whatsapp_enabled" type="tel" pattern="\+?\d+" ng-model="$ctrl.modalData.settings.whatsapp_number" />
    </div>
    <div ng-if="$ctrl.modalData.settings.whatsapp_text != null && $ctrl.modalData.settings.whatsapp_enabled">
        <div class="blocks-constructor-row__name">
            Текст ссылки
        </div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.whatsapp_text" />
    </div>
    <div ng-if="$ctrl.modalData.settings.whatsapp_message != null && $ctrl.modalData.settings.whatsapp_enabled">
        <div class="blocks-constructor-row__name">
            Текст сообщения
        </div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.whatsapp_message" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="vk_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.vk_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text">
                ВКонтакте
            </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.vk_enabled">
        <div class="blocks-constructor-row__name">
            ИД группы (<a href="" target="_blank">Как узнать ИД группы</a>)
        </div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="vk_enabled" type="text" ng-model="$ctrl.modalData.settings.vk_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.vk_text != null && $ctrl.modalData.settings.vk_enabled">
        <div class="blocks-constructor-row__name">
            Текст ссылки
        </div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.vk_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="fb_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.fb_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text">
                Facebook
            </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.fb_enabled">
        <div class="blocks-constructor-row__name">
            Название группы
        </div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="fb_enabled" type="text" ng-model="$ctrl.modalData.settings.fb_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.fb_text != null && $ctrl.modalData.settings.fb_enabled">
        <div class="blocks-constructor-row__name">
            Текст ссылки
        </div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.fb_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="viber_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.viber_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text">
                Viber
            </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.viber_enabled">
        <div class="blocks-constructor-row__name">
            URL чата
        </div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="viber_enabled" type="text" ng-model="$ctrl.modalData.settings.viber_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.viber_text != null && $ctrl.modalData.settings.viber_enabled">
        <div class="blocks-constructor-row__name">
            Текст ссылки
        </div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.viber_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-telegram_enabled="ShowDots" data-e2e="telegram_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.telegram_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text">
                Telegram
            </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.telegram_enabled">
        <div class="blocks-constructor-row__name">
            Контакт
        </div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="telegram_enabled" type="text" ng-model="$ctrl.modalData.settings.telegram_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.telegram_text != null && $ctrl.modalData.settings.telegram_enabled">
        <div class="blocks-constructor-row__name">
            Текст ссылки
        </div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.telegram_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="odnoklassniki_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.odnoklassniki_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text">
                Одноклассники
            </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.odnoklassniki_enabled">
        <div class="blocks-constructor-row__name">
            ID группы
        </div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="odnoklassniki_enabled" type="text" ng-model="$ctrl.modalData.settings.odnoklassniki_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.odnoklassniki_text != null && $ctrl.modalData.settings.odnoklassniki_enabled">
        <div class="blocks-constructor-row__name">
            Текст ссылки
        </div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.odnoklassniki_text" />
    </div>

</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="twitter_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.twitter_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text">
                Twitter
            </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.twitter_enabled">
        <div class="blocks-constructor-row__name">
            Ссылка
        </div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="twitter_enabled" type="text" ng-model="$ctrl.modalData.settings.twitter_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.twitter_text != null && $ctrl.modalData.settings.twitter_enabled">
        <div class="blocks-constructor-row__name">
            Текст ссылки
        </div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.twitter_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="instagram_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.instagram_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text">
                Instagram
            </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.instagram_enabled">
        <div class="blocks-constructor-row__name">
            Ссылка
        </div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="instagram_enabled" type="text" ng-model="$ctrl.modalData.settings.instagram_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.instagram_text != null && $ctrl.modalData.settings.instagram_enabled">
        <div class="blocks-constructor-row__name">
            Текст ссылки
        </div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.instagram_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="youtube_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.youtube_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text">
                Youtube
            </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.youtube_enabled">
        <div class="blocks-constructor-row__name">
            Ссылка
        </div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="youtube_enabled" type="text" ng-model="$ctrl.modalData.settings.youtube_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.youtube_text != null && $ctrl.modalData.settings.youtube_enabled">
        <div class="blocks-constructor-row__name">
            Текст ссылки
        </div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.youtube_text" />
    </div>

</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="odnoklassniki_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.call_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text">
                Позвонить
            </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.call_enabled">
        <div class="blocks-constructor-row__name">
            Номер
        </div>
        <input class="blocks-constructor-input m-b-sm" type="tel" pattern="\+?\d+" ng-model="$ctrl.modalData.settings.call_number" />
    </div>
    <div ng-if="$ctrl.modalData.settings.call_text != null && $ctrl.modalData.settings.call_enabled">
        <div class="blocks-constructor-row__name">
            Текст
        </div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.call_text" />
    </div>

</div>