<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="blocks-constructor-buttons-actions__header blocks-constructor-row__name">Upsell лендинг</div>
        <div>
            <div ng-init="$ctrl.value = $ctrl.value != null ? $ctrl.value : ''"
                 class="blocks-constructor-select">
                <select data-e2e="SelectUsell" ng-model="$ctrl.value" ng-options="item.value as item.label for item in $ctrl.items"></select>
            </div>
        </div>
    </div>
</div>