<div ng-show="$ctrl.parent.formVisible" class="">
    <form class="admin-comments-form" name="addAdminCommentForm" id="addAdminCommentForm" novalidate="novalidate">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-8">
                <!--<label>Добавить комментарий</label>-->
                <textarea class="form-control r-v" rows="3" ng-model="$ctrl.text" ng-keydown="$ctrl.addCommentKeydown($event)" id="adminCommentsFormText" ng-attr-placeholder="{{'Admin.Js.Partials.EnterComment'|translate}}"></textarea>
                <span class="hidden-xs visible-sm">{{'Admin.Js.Partials.AddCommentBy'|translate}}</span>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                <button type="button" class="btn btn-action btn-sm" ng-click="$ctrl.submit()" data-e2e="commentAdd">{{'Admin.Js.Partials.Add'|translate}}</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.cancelFn()" ng-show="$ctrl.parent.visibleFormCancelButton" data-e2e="commentAddCancel">{{'Admin.Js.Partials.Cancel'|translate}}</button>
            </div>
        </div>
    </form>
</div>