<div>
    <div class="blocks-constructor-row">
        <div class="blocks-constructor-row__name">Направление градиента</div>
        <div class="blocks-constructor-select">
            <select ng-model="$ctrl.direction" ng-change="$ctrl.changeDirection()">
                <option selected value="right">Горизонтальный</option>
                <option value="bottom">Вертикальный</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="blocks-constructor-row">
                <div class="blocks-constructor-row__name">
                    Начальный цвет
                </div>
                <color-picker class="lp-gradient-picker-color" ng-model="$ctrl.startColor"
                              options="$ctrl.colorPickerOptions"
                              event-api="$ctrl.colorPickerEventApi"></color-picker>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="blocks-constructor-row">
                <div class="blocks-constructor-row__name">
                    Центральный цвет
                </div>
                <color-picker class="lp-gradient-picker-color" ng-model="$ctrl.middleColor"
                              options="$ctrl.colorPickerOptions"
                              event-api="$ctrl.colorPickerEventApi"></color-picker>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="blocks-constructor-row">
                <div class="blocks-constructor-row__name">
                    Конечный цвет
                </div>
                <color-picker class="lp-gradient-picker-color" ng-model="$ctrl.endColor"
                              options="$ctrl.colorPickerOptions"
                              event-api="$ctrl.colorPickerEventApi"></color-picker>
            </div>
        </div>
    </div>
</div>