<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">{{'Admin.Js.CropImage.UploadingAnImage'|translate}}</h2>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-6">
            <a href=""
               accept="image/*"
               ngf-select=""
               ngf-change="ctrl.uploadImage($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)">{{'Admin.Js.CropImage.UploadImageFromComputer'|translate}}</a>
        </div>

        <div class="col-xs-6">
            <a href="" data-ng-click="ctrl.addImageByUrl()">{{'Admin.Js.CropImage.DownloadByLink'|translate}}</a>
        </div>
    </div>

    <div class="input-group m-t m-b" ng-show="ctrl.showUploadByUrl">
        <input type="text" class="form-control" placeholder="{{'Admin.Js.CropImage.ImageUrl'|translate}}" data-ng-model="ctrl.url" />
        <span class="input-group-btn">
            <a href="" class="btn btn-success" data-ng-click="ctrl.uploadImageByUrl()">{{'Admin.Js.CropImage.Download'|translate}}</a>
        </span>
    </div>
    <div ng-if="ctrl.imageSrc" class="m-t m-b">
        <div class="row">
            <div class="col-xs-9">
                <h4>{{'Admin.Js.CropImage.Image'|translate}}</h4>
                <img id="cropImg"
                     alt=""
                     ng-src="{{ctrl.imageSrc}}"
                     ng-cropper
                     ng-cropper-proxy="ctrl.cropperProxy"
                     ng-cropper-show="ctrl.showEvent"
                     ng-cropper-hide="ctrl.hideEvent"
                     ng-cropper-options="ctrl.cropOptions" />
            </div>
            <div class="col-xs-3 p-l-md">
                <h4>{{'Admin.Js.CropImage.Preview'|translate}}</h4>
                <div class="preview-container" ng-style="{'border-radius': ctrl.params.isCircle ? '50%' : '0' }" style="width: 100px; height: 100px; overflow: hidden; border: 1px solid #ccc;"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-save btn-primary" data-ng-if="ctrl.imageSrc" data-ng-click="ctrl.cropImage()">{{'Admin.Js.CropImage.Apply'|translate}}</button>
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.CropImage.Cancel'|translate}}</button>
</div>