$OpenSans: 'OpenSans';
$OpenSans-bold: 'OpenSans';
$OpenSans-light: 'OpenSans';
$OpenSans-italic: 'OpenSans';
$OpenSans-semibold: 'OpenSans';
$ClearSans: 'ClearSans';

$fz-middle: 14px;
$fz-small: 13px;
$fz-min: 11px;
$fz-very-small: 12px;
$fz-big: 30px;
$fz-mid: 21px;

$color-base: #2f4050;
$gray: #676a6c;
$white: #ffffff;
$blue: #2d9cee;
$color-danger: red;

$bg-blue: #2d9ced;
$bg-blue-dark: #288dd2;
$bg-white: #fff;
$bg-gray: #e9ebec;
 
$link: #2d9cee;
$link-hover: #676a6c;

$link-alt: #bdc3c7;
$link-alt-hover: #288dd2;

$link-terna: #2f4050;
$link-terna-hover: #288dd2;

$link-invert: #676a6c;
$link-invert-hover: #288dd2;

$link-danger: red;
$link-danger-hover: #676a6c;

$border-color: #c3c3c3;

$border-default: 1px solid $border-color;
