.site-footer__copyright {
  margin-right: 25px;
}

.site-footer__links {
  display: flex;
  align-items: center;
}

.site-footer__social-link {
  color: rgba(34, 40, 49, 0.56);
  display: inline-block;
}
.site-footer__social-link:hover {
  color: #263238;
}

.site-footer__social-icon {
  vertical-align: middle;
}