@import '../../../../Content/styles/_variable.scss';

/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.4
 *
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1, .h1, .btns-in-header {
    margin-top: 5px;
    margin-bottom: 25px;
}

h1, .h1 {
    font-size: 30px;
}

.btns-in-header {
    line-height: 1;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

h3,
h4,
h5 {
    margin-top: 5px;
}

.nav a {
    text-decoration: none;
}

.nav a:hover {
    text-decoration: none;
}

.nav > li > a {
    color: #2f4050;
    font-weight: 600;
    padding: 14px 10px 14px 10px;
}

.nav > li.active > a {
    color: #ffffff;
}


.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background: #fff;
}

.navbar {
    border: 0;
}

.breadcrumb a {
    color: #2f4050;
}

.dropdown-menu {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}

.dropdown-menu a {
    text-decoration: none;
}


.dropdown-menu a:hover {
    text-decoration: none;
}

.dropdown-menu li a {
    display: block;
    white-space: nowrap;
    padding: 3px 20px;
    clear: both;
    border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: normal;
}

.dropdown-menu > li > a.font-bold {
    font-weight: 600;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.navbar-static-top {
    background: #ffffff;
}

.white-bg .navbar-static-top {
    background: #fff;
}

.navbar .dropdown-menu {
    margin-top: 0;
}

.float-e-margins .btn {
    margin-bottom: 5px;
}

.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar {
    box-shadow: none;
}

.form-control[disabled], fieldset[disabled] .form-control, .input-small {
    cursor: default;
}

.label {
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
}

.badge {
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-shadow: none;
    width: initial;
}

.badge-pink {
    background-color: #FF4A7B;
    color: #FFFFFF;
}

/* PAGINATIN */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #f4f4f4;
    border-color: #DDDDDD;
    color: inherit;
    cursor: default;
    z-index: 2;
}

.pagination > li > a,
.pagination > li > span {
    background-color: #FFFFFF;
    border: $border-default;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}
/* TOOLTIPS */
.tooltip-inner {
    background-color: #2F4050;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #2F4050;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #2F4050;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #2F4050;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #2F4050;
}
/* FULLCALENDAR */
.fc-state-default {
    background-color: #ffffff;
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
    color: #333333;
    text-shadow: none;
}

.fc-state-default {
    border: 1px solid;
}

.fc-button {
    color: inherit;
    border: 1px solid #e7eaec;
    cursor: pointer;
    display: inline-block;
    height: 1.9em;
    line-height: 1.9em;
    overflow: hidden;
    padding: 0 0.6em;
    position: relative;
    white-space: nowrap;
}

.fc-state-active {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #ffffff;
}

.fc-header-title h2 {
    font-size: 16px;
    font-weight: 600;
    color: inherit;
}

.fc-content .fc-widget-header,
.fc-content .fc-widget-content {
    border-color: #e7eaec;
    font-weight: normal;
}

.fc-border-separate tbody {
    background-color: #F8F8F8;
}

.fc-state-highlight {
    background: none repeat scroll 0 0 #FCF8E3;
}

.external-event {
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 5px;
}

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
    border-radius: 2px;
}

.fc-event,
.fc-agenda .fc-event-time,
.fc-event a {
    padding: 4px 6px;
    background-color: #1ab394;
    /* background color */
    border-color: #1ab394;
    /* border color */
}

.fc-event-time,
.fc-event-title {
    color: #717171;
    padding: 0 1px;
}

.ui-calendar .fc-event-time,
.ui-calendar .fc-event-title {
    color: #fff;
}

/* LIST GROUP */
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    z-index: 2;
}

.list-group-item-heading {
    margin-top: 10px;
}

.list-group-item-text {
    margin: 0 0 10px;
    color: inherit;
    font-size: 12px;
    line-height: inherit;
}

.no-padding .list-group-item {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.no-padding .list-group-item:first-child {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
}

.no-padding .list-group {
    margin-bottom: 0;
}

.list-group-item {
    background-color: inherit;
    border: 1px solid #e7eaec;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
}

.elements-list .list-group-item {
    border-left: none;
    border-right: none;
    padding: 15px 25px;
}

.elements-list .list-group-item:first-child {
    border-left: none;
    border-right: none;
    border-top: none !important;
}

.elements-list .list-group {
    margin-bottom: 0;
}

.elements-list a {
    color: inherit;
}

.elements-list .list-group-item.active,
.elements-list .list-group-item:hover {
    background: #f3f3f4;
    color: inherit;
    border-color: #e7eaec;
    /*border-bottom: 1px solid #e7eaec;*/
    /*border-top: 1px solid #e7eaec;*/
    border-radius: 0;
}

.elements-list li.active {
    -webkit-transition: none;
    transition: none;
}

.element-detail-box {
    padding: 25px;
}

.jqstooltip {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    visibility: hidden;
    background: #2b303a;
    background-color: rgba(43, 48, 58, 0.8);
    color: white;
    text-align: left;
    white-space: nowrap;
    z-index: 10000;
    padding: 5px 5px 5px 5px;
    min-height: 22px;
    border-radius: 3px;
}

.jqsfield {
    color: white;
    text-align: left;
}

.vertical-align div {
    display: inline-block;
    vertical-align: middle;
}

.vertical-align h2,
.vertical-align h3 {
    margin: 0;
}

/* INPUTS */
.inline {
    display: inline-block !important;
}

.input-s-sm {
    width: 120px;
}

.input-s {
    width: 200px;
}

.input-s-lg {
    width: 250px;
}

.i-checks {
    padding-left: 0;
}

.form-control,
.single-line,
.shipping-list input[type="text"],
.shipping-list input[type="number"],
.shipping-list select,
.input-small {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #c3c3c3;
    border-radius: 1px;
    color: #31373d;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-size: 14px;
    height: 32px;

    &:focus {
        border-color: #2d9cee !important;
    }
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background: #eee;
    cursor: default;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: default;
}

.form-control,
.single-line,
.input-small {
    width: 100%;
    display: block;
}

.shipping-item-input-price {
    width: 70px;
    margin-left: 5px;
}


.input-group-addon {
    background-color: #eee;
    border: $border-default;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}

/* UI Sortable */
.ui-sortable .ibox-title {
    cursor: move;
}

.ui-sortable-placeholder {
    border: 1px dashed #cccccc !important;
    visibility: visible !important;
    background: #e7eaec;
}

.ibox.ui-sortable-placeholder {
    margin: 0 0 23px !important;
}


/* Validation */
label.error {
    color: #cc5965;
    display: inline-block;
    margin-left: 5px;
}

.form-control.error, .input-small.error {
    border: 1px dotted #cc5965;
}

/* Tabs */
.tabs-container .panel-body {
    background: #fff;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
    background-color: #fff;
}

.tabs-container .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.tabs-container .tab-pane .panel-body {
    border-top: none;
}

.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
}

.tabs-container .nav-tabs {
    border-bottom: 1px solid #e7eaec;
}

.tabs-container .tab-pane .panel-body {
    border-top: none;
}

.tabs-container .tabs-left .tab-pane .panel-body,
.tabs-container .tabs-right .tab-pane .panel-body {
    border-top: 1px solid #e7eaec;
}

.tabs-container .nav-tabs > li a:hover {
    background: transparent;
    border-color: transparent;
}

.tabs-container .tabs-below > .nav-tabs,
.tabs-container .tabs-right > .nav-tabs,
.tabs-container .tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tabs-container .tabs-left .panel-body {
    position: static;
}

.tabs-container .tabs-left > .nav-tabs,
.tabs-container .tabs-right > .nav-tabs {
    width: 20%;
}

.tabs-container .tabs-left .panel-body {
    width: 80%;
    margin-left: 20%;
}

.tabs-container .tabs-right .panel-body {
    width: 80%;
    margin-right: 20%;
}

.tabs-container .tab-content > .tab-pane,
.tabs-container .pill-content > .pill-pane {
    display: none;
}

.tabs-container .tab-content > .active,
.tabs-container .pill-content > .active {
    display: block;
}

.tabs-container .tabs-below > .nav-tabs {
    border-top: 1px solid #e7eaec;
}

.tabs-container .tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-container .tabs-below > .nav-tabs > li > a {
    border-radius: 0 0 4px 4px;
}

.tabs-container .tabs-below > .nav-tabs > li > a:hover,
.tabs-container .tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #e7eaec;
    border-bottom-color: transparent;
}

.tabs-container .tabs-left > .nav-tabs > li,
.tabs-container .tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-container .tabs-left > .nav-tabs > li > a,
.tabs-container .tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-container .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
}

.tabs-container .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    border-radius: 4px 0 0 4px;
}

.tabs-container .tabs-left > .nav-tabs .active > a,
.tabs-container .tabs-left > .nav-tabs .active > a:hover,
.tabs-container .tabs-left > .nav-tabs .active > a:focus {
    border-color: #e7eaec transparent #e7eaec #e7eaec;
    *border-right-color: #ffffff;
}

.tabs-container .tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
}

.tabs-container .tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    border-radius: 0 4px 4px 0;
}

.tabs-container .tabs-right > .nav-tabs .active > a,
.tabs-container .tabs-right > .nav-tabs .active > a:hover,
.tabs-container .tabs-right > .nav-tabs .active > a:focus {
    border-color: #e7eaec #e7eaec #e7eaec transparent;
    *border-left-color: #ffffff;
    z-index: 1;
}

.block {
    display: block;
}

.clear {
    display: block;
    overflow: hidden;
}


.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}

.font-bold {
    font-weight: 600;
}

.font-noraml {
    font-weight: 400;
}

.b-r {
    border-right: 1px solid #e7eaec;
}

video {
    width: 100% !important;
    height: auto !important;
}

/* MODAL */
.modal-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    outline: 0 none;
    position: relative;
}

.modal-dialog {
    z-index: 2200;
}

.modal-body {
    padding: 20px 30px 30px 30px;
}

.inmodal .modal-body {
    background: #f8fafb;
}

.inmodal .modal-header {
    padding: 30px 15px;
    text-align: center;
}

.animated.modal.fade .modal-dialog {
    -webkit-transform: none;
    transform: none;
}

.inmodal .modal-title {
    font-size: 26px;
}

.inmodal .modal-icon {
    font-size: 84px;
    color: #e2e3e3;
}

.modal-footer {
    margin-top: 0;
}
/* WRAPPERS */
#wrapper {
    width: 100%;
    /*overflow-x: hidden;*/
}

.wrapper {
    padding: 0 20px;
}

.wrapper-content {
    padding: 20px 10px 40px;
}

#page-wrapper {
    /*padding: 0 15px;*/
    /*min-height: 568px;*/
    position: relative !important;
}

.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5,
.ibox-title h1,
.ibox-title h2,
.ibox-title h3,
.ibox-title h4,
.ibox-title h5 {
    margin-top: 5px;
}

ul.unstyled,
ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
}

.big-icon {
    font-size: 160px !important;
    color: #e2e3e3;
}

/* TABLES */
.table-bordered {
    border: 1px solid #EBEBEB;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    background-color: #F5F5F6;
    border-bottom-width: 1px;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #e7e7e7;
}

.table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    border-bottom: 1px solid #DDDDDD;
    vertical-align: bottom;
}


.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
    border-bottom: #f3f3f4;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

.nav.nav-tabs li {
    background: none;
    border: none;
}

.nav-tabs > li > a {
    color: #A7B1C2;
    font-weight: 600;
    padding: 10px 20px 10px 25px;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: #e2e3e3;
    color: #676a6c;
}

.ui-tab .tab-content {
    padding: 20px 0;
}
/* GLOBAL  */
.no-margins {
    margin: 0 !important;
}

.no-top-border {
    border-top: 0 !important;
}

.ibox-content.text-box {
    padding-bottom: 0;
    padding-top: 15px;
}

.border-left-right {
    border-left: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
    border-top: none;
    border-bottom: none;
}

.border-left {
    border-left: 1px solid #e7eaec;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.border-right {
    border-left: none;
    border-right: 1px solid #e7eaec;
    border-top: none;
    border-bottom: none;
}

.full-width {
    width: 100% !important;
}

.link-block {
    font-size: 12px;
    padding: 10px;
}

.link-block a {
    font-size: 10px;
    color: inherit;
}

.ui-draggable .ibox-title {
    cursor: move;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
}
/*.breadcrumb > li a {
  color: inherit;
}
.breadcrumb > .active {
  color: inherit;
}*/
code {
    background-color: #F9F2F4;
    border-radius: 4px;
    color: #ca4440;
    font-size: 90%;
    padding: 2px 4px;
    white-space: nowrap;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox.collapsed .ibox-content {
    display: none;
}

.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}

.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}

.ibox:after,
.ibox:before {
    display: table;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 20px 25px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

.ibox-content {
    clear: both;
}

.ibox-heading {
    background-color: #f3f6fb;
    border-bottom: none;
}

.ibox-heading h3 {
    font-weight: 200;
    font-size: 24px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.ibox-title .label {
    float: left;
    margin-left: 4px;
}

.ibox-tools {
    display: block;
    float: none;
    margin-top: 0;
    position: relative;
    padding: 0;
    text-align: right;
}

.ibox-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c3c3c3;
}

.ibox-tools a.btn-primary {
    color: #fff;
}

.ibox-tools .dropdown-menu > li > a {
    padding: 4px 10px;
    font-size: 12px;
}

.ibox .ibox-tools.open > .dropdown-menu {
    left: auto;
    right: 0;
}
/* BACKGROUNDS */
.gray-bg {
    background-color: #f3f3f4;
}

.white-bg {
    background-color: #ffffff;
}

.panel-info {
    border-color: #23c6c8;
}

.panel-info > .panel-heading {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #ffffff;
}

.panel-warning {
    border-color: #f8ac59;
}

.panel-warning > .panel-heading {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #ffffff;
}

.panel-danger {
    border-color: #ed5565;
}

.panel-danger > .panel-heading {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #ffffff;
}

.progress-bar {
    background-color: #1ab394;
}

.progress-small,
.progress-small .progress-bar {
    height: 10px;
}

.progress-small,
.progress-mini {
    margin-top: 5px;
}

.progress-mini,
.progress-mini .progress-bar {
    height: 5px;
    margin-bottom: 0;
}

.progress-bar-navy-light {
    background-color: #3dc7ab;
}

.progress-bar-success {
    background-color: #1c84c6;
}

.progress-bar-info {
    background-color: #23c6c8;
}

.progress-bar-warning {
    background-color: #f8ac59;
}

.progress-bar-danger {
    background-color: #ed5565;
}

.panel-title {
    font-size: inherit;
}

.jumbotron {
    border-radius: 6px;
    padding: 40px;
}

.jumbotron h1 {
    margin-top: 0;
}

.text-warning {
    color: #f8ac59;
}

.text-danger {
    color: #ed5565;
}

.text-muted {
    color: #888888;
}

.text-white {
    color: #ffffff;
}

body.modal-open {
    padding-right: inherit !important;
}

body.modal-open .animated {
    animation-fill-mode: initial;
    z-index: inherit;
}

.fullscreen-video .animated {
    -webkit-animation: none;
    animation: none;
}

.list-group.clear-list .list-group-item {
    border-top: 1px solid #e7eaec;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    padding: 10px 0;
}

ul.clear-list:first-child {
    border-top: none !important;
}

/* jsTree */
.jstree-open > .jstree-anchor > .fa-folder:before {
    content: "\f07c";
}

.jstree-default .jstree-icon.none {
    width: 0;
}

.is-sticky .sticky-page-name {
    /*z-index:100;*/
    z-index: 1051;
    background: #fff;
    padding: 5px 38.75px 5px 20px;
    padding-left: 0;
    top: 0 !important;
    left: 58px !important;
    right: 0 !important;
    width: auto !important;
    height: 60px;
    min-width: 1182px;
    border-bottom: 1px solid #dbdcde;
}

.is-sticky .dropdown-menu {
    background: #fff;
}

.is-sticky .link-academy {
    display: none !important;
}

.sticky-page-name-inner {
    height: 100%;
}

.is-sticky .sticky-page-name h2,
.is-sticky .sticky-page-name h1 {
    margin: 0;
    height: 27px;
    overflow: hidden;
}

.is-sticky .page-name-block-item-main {
    position: relative;
    flex-grow: 1;
}

.is-sticky .page-name-block-item-main:after,
.is-sticky .page-name-block-item-main:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 38px;
    width: 100px;
    background: linear-gradient(to right, rgba(255,255,255,0.1) 0%,rgba(255,255,255,1) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.is-sticky .sticky-page-name-text {
    color: #2f4050 !important;
    line-height: 27px !important;
    min-height: 27px !important;
    font-size: 20px !important;
    text-transform: uppercase;
    font-weight: 600;
}

.is-sticky .sticky-page-name-subtext {
    color: #2f4050;
}

.is-sticky .sticky-page-name a:not(.btn):not(.link-danger):not(.fas) {
    color: #2d9cee;
}

.is-sticky .sticky-page-name a:not(.btn):not(.sticky-link-text-decoration):hover {
    color: #277fc1;
    text-decoration: underline;
}

.is-sticky .header-subtext .fa {
    color: #2f4050;
}

.is-sticky .header-subtext .btn .fa {
    color: currentColor;
}

.is-sticky .sticky-hidden {
    display: none;
}

.sticky-page-name {
    padding-bottom: 12px;
}

.page-name-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: break-word;
    /*margin-bottom: 23px;*/
}

.page-name-block-item-main, .page-name-block {
    &--without-action {
        display: flex;
        min-height: 32px;
        align-items: center;
    }
}

.page-name-block-in-catalog {
    margin-bottom: 0;
}

.page-name-block-item-main {
    flex-shrink: 1;
    padding-right: 5px;
}

.page-name-block-item-additional {
    flex-shrink: 0;
}

.is-sticky .page-name-block-in-catalog .page-name-block-item-main-with-bread {
    align-self: flex-start;
    padding-top: 7px;
}

.is-sticky .sticky-page-name-inner {
    align-items: center;
}

/*.page-name-block-item-main {
    flex-grow: 1;
    flex-basis: 80%;
    max-width: 80%;
}*/

.input-group {
    table-layout: fixed !important;
}

.page-name-block-item-additional {
    white-space: nowrap;
}

.page-name-block .breadcrumb {
    margin-bottom: 0;
    margin-top: 5px;
}

.page-name-block-text {
    margin: 0;
    font-size: 21px;
}

.ibox-content h1.page-name-block-text {
    margin-top: 0;
}

.dropdown-page-name-text {
    padding-bottom: 20px;
    padding-top: 8px;
    color: #2f4050;
    font-weight: 600;
    cursor: pointer;
}

.is-sticky .page-name-block-text {
    padding: 0;
}

.is-sticky .page-name-block .breadcrumb .active {
    color: #fff;
}

.is-sticky .breadcrumb-header-in-catalog {
    position: absolute;
    bottom: 13px;
}

.is-sticky {
    color: #2f4050;
}

.is-sticky .breadcrumb .active {
    color: #2f4050;
}

.is-sticky .btn-default {
    color: #0078bd;
}
/* Only demo */

.form-label-block {
    margin-bottom: 0;
}

.input-sm {
    height: 32px;
    font-size: 12px;
    padding: 5px 10px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

.input-placeholder {
    color: #a9aeb2;
}

/*@media (max-width: 1910px) {

    .link-academy {
        white-space: normal;
    }
}*/

.form-control-category {
    overflow-x: auto;
}

.method-notactive {
    color: #b5b4b4;
}

.toast-title {
    font-weight: 600;
}

body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #676a6c;
}

.notification-message-wrap {
    font-size: 13px;
}

.notification-message-options-list-item a {
    text-decoration: none;
}

.spinbox-input {
    box-shadow: none;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #c3c3c3;
    border-radius: 1px;
    color: #31373d;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-size: 14px;

    &:focus {
        border-color: #2d9cee !important;
    }

    width: 100%;
    display: block;
}

.spinbox-more,
.spinbox-less {
    color: #2d9cee;
}

.spinbox__arrows .spinbox-button-disabled,
.spinbox-more:focus,
.spinbox-less:focus {
    color: #676a6c;
}

.icon-up-open-before:before,
.icon-up-open-after:after,
.icon-up-open-before-abs:before,
.icon-up-open-after-abs:after,
.icon-up-open-before-abs-offset:before,
.icon-up-open-after-abs-offset:after {
    content: "\e803";
}

.icon-down-open-before:before,
.icon-down-open-after:after,
.icon-down-open-before-abs:before,
.icon-down-open-after-abs:after,
.icon-down-open-before-abs-offset:before,
.icon-down-open-after-abs-offset:after {
    content: "\e800";
}

[class^="icon-"], [class^="icon-"]:focus, [class*=" icon-"], [class*=" icon-"]:focus {
    text-decoration: unset;
}

[class^="icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:before, [class*=" icon-"]:after {
    font-family: "advantshopfonts";
}

.carousel-sales-funnel-details {
    .carousel-inner {
        margin: 0 auto;
    }

    .carousel-dots-item-inner {
        background-color: #676a6c;
    }

    .carousel-nav-prev, .carousel-nav-next {
        font-size: 40px;
    }

    &.carousel-horizontal .carousel-nav-inside .carousel-nav-prev {
        left: -20px;
    }

    &.carousel-horizontal .carousel-nav-inside .carousel-nav-next {
        right: -20px;
    }
}


.setting-title,
.setting-title-top {
    h3, h3 label {
        font-weight: 600;
    }
}
/*CSS Editor*/
.css-editor-block {
    .ui-ace-textarea-widget {
        border: 1px solid #c3c3c3;
        left: 0;
        bottom: 0;
    }
}
/*Createsite*/
.create__site-page {

    .breadcrumb__link-block {
        margin-bottom: 15px;

        .breadcrumb__link--admin {
            display: flex;
            align-items: center;
        }
    }

    .create-balance__block, .create__sites-balance__block {
        margin-left: 25px;
        margin-right: 25px;

        &--title-wrap {
            padding-top: 20px;
            padding-bottom: 20px;
        }


        &--content {
            margin-top: 25px;

            .ng-tab > a {
                font-weight: normal;
                cursor: pointer;
                font-size: 14px;
                border-radius: 0px;
                position: relative;
                padding: 7px 25px 8px;
                margin-right: 1px;
                background: #fff;
                color: #2d9cee;
                border: 1px solid transparent;
            }

            .nav-tabs > li.active > a {
                color: #666666;
                background: #e1e1e1;
                border: 1px solid transparent;
            }
        }
    }



    .last-item-empty-template-funnel {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .create__sites-balance__block {
        &--max-width {
            max-width: 1610px;
        }

        .create__sites-carousel-item {
            display: inline-block;
            vertical-align: top;
            font-size: 0px;
        }

        .create__sites-carousel-item {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            line-height: 1.42857143;
        }

        .create__site-img-wrap {
            position: relative;
            z-index: 20;
            display: inline-block;

            img {
                position: relative;
                z-index: 25;
                border: 1px solid #eaecef;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 90px;
                width: 75%;
                height: 90px;
                display: block;
                left: 50%;
                transform: translateX(-50%);
                box-shadow: 0px 15px 45px 30px #c5c5c5a1;
                z-index: 20;
            }

            &:after {
                content: '';
                position: relative;
                bottom: 0;
                width: 1px;
                height: 76px;
                display: block;
                z-index: 15;
            }
        }

        .carousel-main-item-title {
            padding-bottom: 18px;
            padding-left: 1px;
        }

        .create__sites-description-title {
            padding-bottom: 15px;
        }

        .carousel-horizontal.carousel-wrap-nav-outside {
            margin-top: 0px;
        }

        .carousel-nav {
            position: absolute;
            /*bottom: 98.7%;*/
            right: 0;
            white-space: nowrap;
            display: flex;
            align-items: center;
            bottom: auto;
            top: 0;
            transform: translateY(-9px);
        }


        .carousel-nav-prev, .carousel-nav-next {
            top: auto;
            transform: none;
            display: flex;
        }

        .carousel-main-prev-custom,
        .carousel-main-next-custom {
            width: 36px;
            height: 36px;

            &:after {
                width: 14px;
            }
        }

        .carousel-main-prev-custom {
            right: 30px;
            left: auto;

            &:after {
                transform: rotate(180deg) translateY(2px);
            }
        }

        .carousel-main-next-custom {
            &:after {
                transform: translateY(2px);
            }
        }

        .screenshot-item {
            padding-left: 15px;

            &.active {
                background-color: #fff;
                color: #676a6c;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    right: -27px;
                    bottom: 0px;
                    border: 14px solid transparent;
                    border-left: 14px solid #fff;
                }
            }
        }



        .btn-default {
            border-color: #2d9cee;
            color: #2d9cee;
            background-color: transparent;
        }

        .create__sites-left-block,
        .create__sites-right-block {
            padding-right: 0.625rem;
            padding-left: 0.625rem;
        }

        .create__sites-left-block {
            flex-basis: 850px;
            max-width: 850px;
        }

        .create__sites-right-block {
            min-width: 623px;
            max-width: 643px;
            flex: 1;
        }
    }

    .create__sites-block-content {
        display: flex;
        margin-left: -0.625rem;
        margin-right: -0.625rem;

        .col-xs-slim {
            max-width: 643px;
        }
    }

    .nav-tabs--store {
        margin-bottom: 28px
    }

    .nav.nav-tabs {
        background-color: transparent;
        height: auto;
        white-space: nowrap;
        display: flex;
        overflow-y: hidden;

        &:before {
            display: none !important;
        }
    }

    .tab-content > .active {
        background: #fff;
    }

    .balance__padding-page .tab-pane.active {
        border-top: 0;
    }

    .last-item {
        max-width: 400px;
        padding-bottom: 42px;
    }

    .last-item-ava {
        margin-bottom: 0px;
        border: 0;
        height: auto;
        position: relative;
        padding-bottom: 108%;
    }

    .link-img-abs {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .animation-img {
            transition: -webkit-transform ease 3s;
            transition: transform ease 3s;
            transition: transform ease 3s, -webkit-transform ease 3s;
        }
    }



    .last-item-row--collectingleads,
    .last-item-row--surveys {
        .last-item-ava {
            padding-bottom: 60%;
        }
    }

    .last-item-con {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #fff;
        padding: 10px 20px 20px;

        &__freedays {
            flex-basis: 100%;
            max-width: 100%;
            text-align: left;
        }

        &-not-text-bottom {
            padding-bottom: 38px;
        }

        .last-item-title, .last-item-content {
            margin-bottom: 0px;
            margin-top: 0px;
            font-size: 14px;
            height: 56px;
            text-align: left;
            word-break: break-word;
        }

        .last-item-title {
            flex-basis: 70%;
            flex-grow: 1;

            a {
                color: #000;
                text-decoration: none;
            }
        }

        .last-item-content {
            flex-basis: 30%;
            text-align: right;
        }

        .btn-default {
            border-color: #0078bd;
            padding-left: 14px;
            padding-right: 14px;

            &:hover {
                background-color: #0078bd;
                color: #fff;
            }
        }

        .link-online-demo {
            color: #0078bd;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .last-item-row--store .last-item-con {
        .last-item-title, .last-item-content {
            height: 38px;
            line-height: 38px;
        }
    }

    .tab-pane.active {
        background-color: #eee;
    }

    .tab-content {
        margin-top: 0;
        padding: 0;
    }
}

.create__site-page .last-item {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 50px;
    vertical-align: top;
    padding-right: 0px;
    padding-left: 0px;
}

.create__site-page .last-item-row {
    margin: 0;
    flex-direction: column;
}

.create__site-page .tab-content > .active, uib-tab {
    padding-left: 0;
}

.create__site-page-title {
    margin: 0 0 5px -2px;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    color: #2f4050;
}

.create-site__list-tabs {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.create-site__tabs-item:not(:last-child) {
    margin-right: 16px;
}

.template-item--popular {
    position: relative;

    &::before {
        position: absolute;
        content: "Хит";
        padding: 5px 10px;
        display: inline-block;
        background-color: #cd0303;
        color: #fff;
        font-size: 12px;
        line-height: 1.5;
        right: 0;
        top: 10px;
        z-index: 100;
    }
}


@media(min-width:768px) {

    .create__site-page .last-item {
        width: 33.3333%;
        vertical-align: top;
        padding-right: 30px;
        padding-left: 30px;
    }

    .create__site-page .last-item-row {
        margin-left: -54px;
        flex-direction: row;
    }

    .create__site-page .carousel-dots {
        display: none;
    }

    .create__site-page .tab-content > .active {
        padding: 13px 25px 20px;
    }

    .create__site-page .tab-content > .active, uib-tab {
        padding-left: 25px;
    }
}

@media(min-width:1600px) {

    .create__site-page .last-item {
        width: 33.3333%;
    }
}

@media(min-width:1800px) {

    .create__site-page .last-item {
        width: 25%;
    }
}

/*Новый дизайн*/
.page-name-block-text {
    &--bigger {
        margin: 0 0 5px -2px;
        text-align: left;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.1;
    }
}

.main-panel-page {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.funnel-site__block-wrap {
    margin-left: 25px;
    margin-right: 25px;
}

.ibox .nav-tabs,
.nav-tabs {
    &--indent-bottom {
        margin-bottom: 25px;
    }

    &--slim.nav-tabs {
        margin-top: 25px;
        background-color: transparent;

        .nav-tabs__item-count-label {
            display: flex;
            font-size: 10px;
            width: 20px;
            height: 20px;
            align-items: center;
            text-align: center;
            justify-content: center;
            background-color: #2d9cee;
            border-radius: 50%;
            position: absolute;
            top: 0px;
            right: 0;
            color: #fff;
            margin-top: -5px;
        }

        .ng-tab > a {
            font-weight: normal;
            cursor: pointer;
            font-size: 14px;
            border-radius: 0px;
            position: relative;
            padding: 7px 25px 8px;
            margin-right: 1px;
            background: #fff;
            color: #2d9cee;
            border: 1px solid transparent;
        }

        & li.active > a {
            color: #666666;
            background: #e1e1e1;
            border: 1px solid transparent;
        }
    }
}

.balance-block {
    margin-left: 25px;
    margin-right: 25px;

    &--content {
        margin-top: 25px;
    }
}

.ibox-content .content-page,
.content-page {
    &__subtitle {
        margin-bottom: 28px;
    }
}

.nav-tabs--adaptive-special-store {
}

.ibox .nav-tabs--slim.nav-tabs--adaptive-special-store .ng-tab > a,
.nav-tabs--slim.nav-tabs--adaptive-special-store .ng-tab > a {
    padding-left: 10px;
    padding-right: 10px;
}

@media(min-width: 1366px) {
    .ibox .nav-tabs--slim.nav-tabs--adaptive-special-store .ng-tab > a,
    .nav-tabs--slim.nav-tabs--adaptive-special-store .ng-tab > a {
        padding-left: 14px;
        padding-right: 14px;
    }
}

@media(min-width: 1600px) {
    .ibox .nav-tabs--slim.nav-tabs--adaptive-special-store .ng-tab > a,
    .nav-tabs--slim.nav-tabs--adaptive-special-store .ng-tab > a {
        padding-left: 25px;
        padding-right: 25px;
    }
}


.notification__balance {
    background: #FFF5EA;
    position: relative;
    padding: 20px 0;

    &__close {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translate(0,-50%);
        color: #F79E1B;
        background: transparent;
        border: 0;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
    }
}

.is-sticky .go-back {
    display: none;
}

.mobileapp_custom {
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.uib-typeahead-empty {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
